/*------------------------------------------------
-------------------------------------------------- DISCOVERY VIDEO UPLOADS */
.dy-icn-video { text-indent:-20000em; background:url(../../img/icons-set-video.png) no-repeat center -1px; min-width:32px; min-height:30px; float:left; display: block;}
.dy-icn-video.message,
.dy-icn-video.message + span{background-position:center -4px; line-height:24px; min-height:24px;}
.dy-icn-video.red.message,
.dy-icn-video.red.message + span{color: #cf383d; font-weight:700; background-position:center -68px;}
.dy-icn-video.info.message,
.dy-icn-video.info.message + span{color:#2d629a; font-weight:700;}
.fake-inputfile-field.media:hover .dy-icn-video{background-position:center -33px}
.dy-icn-video-sm {text-indent:-20000em; background:url(../../img/icon-video-play.png) no-repeat center center; min-width:16px; min-height:11px; float:left; display:block; margin-right:5px;}

.icon-image-cover {background:#fff url(../../img/icons-set-multiview.png) no-repeat -30px 0; border-left:1px solid #d4d3d4; height:30px; width:30px; float:right; display:block;}
.fake-inputfile-field .cover-label{float:left; color:#999; padding:0 5px; cursor:pointer; width:60%; border:none;}
.fake-input-media-info-message{clear:both; margin-top:10px; padding:5px; border-top:1px dashed #ddd; font-weight:700;}

.iframe_mediawall_player_discovery{height:350px; overflow:hidden; width:100%;}