/* --------------------------------------------
----------------------------------------------- PAGINATOR */
ul.pager{width:100%;list-style:none;float:left;clear:both;}
ul.pager li{display:inline;float:none;}
ul.pager li a{float:left;padding:2px 5px;margin:0 2px 0 0;display:inline;text-align:center;color:#fff;font-size:11px;text-decoration:none;background:#aaa;}
ul.pager li a:hover,
ul.pager li a.on{padding:2px 5px;margin:0 2px 0 0;text-align:center;font-size:11px;text-decoration:none;background:#649ccb;color:#fff;}

.pageinator li{position:relative;float:left;display:inline;padding:2px 6px;}