<div class="row">
	<div class="lg-4 md-12">
		<span class="img"></span>
		<h3>Titolo Sezione</h3>
		<p>Content <b>Sezione</b></p>
	</div>
	<div class="lg-4 md-12">
		<span class="img"></span>
		<h3>Titolo Sezione</h3>
		<p>Content <b>Sezione</b></p>
	</div>
	<div class="lg-4 md-12">
		<span class="img"></span>
		<h3>Titolo Sezione</h3>
		<p>Content <b>Sezione</b></p>
	</div>
</div>