<div class="header">
<h2 class="title">WHY SHOULD I PLAN A MARKETING CAMPAIGN FOR MY COMPANY? </h2>
	<div class="wrapper">
		<article class="accordion horizontal">
			<ul>
				<li>
					<section id="acc1" class="completed">
						<a href="javascript:void(null)">
							<span class="order">
								<span class="point"></span>
								<span class="title">Build<br>brandimage</span>
							</span>
							<button class="more"></button>
						</a>
						<p class="details">
							<span class="step">Don’t just stand out, change the way<br>customers see your brand</span>
						</p>
					</section>
				</li>
				<li>
					<section id="acc2" class="completed">
						<a href="javascript:void(null)">
							<span class="order">
								<span class="point"></span>
								<span class="title">Raise<br>awareness</span>
							</span>
							<button class="more"></button>
						</a>
						<p class="details">
							<span class="step">Get your name in front of those who need<BR>to know what you do</span>
						</p>
					</section>
				</li>
				<li>
					<section id="acc3" class="active">
						<a href="javascript:void(null)">
							<span class="order">
								<span class="point"></span>
								<span class="title">Generate<br>leads</span>
							</span>
							<button class="more"></button>	
						</a>
						<p class="details">
							<span class="step">Don’t just get their attention, give them a reason<br> to engage.</span>
						</p>
					</section>
				</li>
				<li>
					<section id="acc4" class="">
						<a href="javascript:void(null)">
							<span class="order">
								<span class="point"></span>
								<span class="title">Introduce new<br>products or services
</span>
							</span>
							<button class="more"></button>
						</a>
						<p class="details">
							<span class="step">Present new thinking that speaks to the<br>
								solutions your customers need.</span>
						</p>
					</section>
				</li>
				<li>
					<section id="acc5" class="">
						<a href="javascript:void(null)">
							<span class="order">
								<span class="point"></span>
								<span class="title">Strengthen<br>relationships</span>
							</span>
							<button class="more"></button>
						</a>
						<p class="details">
							<span class="step">keep customers in the know, and at the heart<BR>of what you do.
</span>
						</p>
					</section>
				</li>
			</ul>
		</article>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		$('.accordion ul').on('click', 'button', function() {
			var $this = $(this);
			if ($this.hasClass('selected')) {
				$this.removeClass('selected').closest('li').removeClass('selected').closest('ul').removeClass('selected');
			} else {
				$this.addClass('selected').closest('li').addClass('selected').closest('ul').addClass('selected');
			}
		});
	});
</script>