<script>$(document).ready(function(){
// Makes bootstrap tabber work.
$('.page_tabber').parent().addClass("tab-content");
})

// Couple fixes for plugins not initializing correctly when hidden
$(document).on('shown.bs.tab','a[data-toggle="tab"]', function (e) {

    if( $('.content_carousel').size()>0 ){
  $('.content_carousel')[0].slick.refresh();
 }
 if( window.calendars ){
  $.each(calendars,function(i,el){
   el.refresh();
  })
 }
});
</script>
<ul  class="nav nav-pills reachCustomers">

	<li class="emailMkt active"><a href="#tab1" data-toggle="tab">email marketing</a>
	</li>
	<li class="events"><a href="#tab2" data-name="project-library" data-toggle="tab">events</a>
	</li>
	<li class="pressPR"><a href="#tab3" data-toggle="tab">press & PR</a>
	</li>
	<li class="socialMedia"><a href="#tab4" data-toggle="tab">social media</a>
	</li>
	<li class="website"><a href="#tab5" data-toggle="tab">Website</a>
	</li>
</ul>