<h2 class="customer__title">Email Marketing</h2>
<div class="row">
	<div class="col-md-9 customer__top">
		<p class="customer__par">Create and manage your own Email Marketing Campaigns with the CRM Marketing Tool: send email, track the level of engagement of the contacts involved and understand the customers’ interests, ranging across:
		</p>
		<ul class="customer__list">
			<li class="customer__item"><strong>Events:</strong> inviting your clients and following up with them has never been so easy.</li>
			<li class="customer__item"><strong>News:</strong> don’t miss the opportunity to share new contents with your clients. </li>
			<li class="customer__item"><strong>Offering:</strong> always keep your clients updated on new offerings. </li>
		</ul>
		<div class="row customer__bottom">
			<div class="col-md-4 v-center">
				<a href="#" class="customer__btn">
					<span class="tti-download customer__icon"></span>
					<span>Guidelines</span>
				</a>
			</div>
			<div class="col-md-6 v-center">
				<a href="#" class="customer__txt">
					<span class="customer__img"></span>
					<span class="customer__name">Get in touch with AARON Miani</span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<span class="customer__circle"></span>
	</div>

</div>
