<h2 class="customer__title">Events</h2>
<div class="row">
	<div class="col-md-9 customer__top">
		<p class="customer__par">Host your own event or take part in an exhibition to present your company, showcase your products & services and share your latest thinking. Create interest among stakeholders.<br>
		Communication with customers is vital to get right in the build up to an event. Manage it with the CRM Marketing Tool
		</p>

		<div class="row customer__bottom">
			<div class="col-md-4 v-center">
				<a href="#" class="customer__btn">
					<span class="tti-download customer__icon"></span>
					<span>Guidelines</span>
				</a>
			</div>
			<div class="col-md-6 v-center">
				<a href="#" class="customer__txt">
					<span class="customer__img"></span>
					<span class="customer__name">Get in touch with claudia orecchioni</span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<span class="customer__circle"></span>
	</div>

</div>
