<h2 class="customer__title">Social Media</h2>
<div class="row">
	<div class="col-md-9 customer__top">
		<p class="customer__par">Share information relevant to your industry and interact with customers and influencers to enhance your image and strength relationships with stakeholders.
		</p>

		<div class="row customer__bottom">
			<div class="col-md-4 v-center">
				<a href="#" class="customer__btn">
					<span class="tti-download customer__icon"></span>
					<span>Guidelines</span>
				</a>
			</div>
			<div class="col-md-6 v-center">
				<a href="#" class="customer__txt">
					<span class="customer__img"></span>
					<span class="customer__name">Get in touch with mario koyama </span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<span class="customer__circle"></span>
	</div>

</div>
