<h2 class="customer__title">Website</h2>
<div class="row">
	<div class="col-md-9 customer__top">
		<p class="customer__par">Become more visible to customers and improve your image: generate content, build your website and keep it up to date. Online content should be at the heart of every campaign.</p>

		<div class="row customer__bottom">
			<div class="col-md-4 v-center">
				<a href="#" class="customer__btn">
					<span class="tti-download customer__icon"></span>
					<span>Guidelines</span>
				</a>
			</div>
			<div class="col-md-6 v-center">
				<a href="#" class="customer__txt">
					<span class="customer__img"></span>
					<span class="customer__name">Get in touch with AARON Miani</span>
				</a>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<span class="customer__circle"></span>
	</div>

</div>
