/* --------------------------------------------
----------------------------------------------- SHARING BAR */
#sharingbar{background:#eaeaea; border-top:1px solid #d4d4d4; border-bottom:1px solid #d4d4d4; box-sizing:border-box; min-height:48px;}

.group.event #sharingbar {z-index:5;position:relative;}
.root.massive_operations #sharingbar {display:none;}
#sharing_bar_blogs_uploader{float:left; width:233px;}
#sharing_bar_smart_uploader{float:right; width:748px;}

#sharing_bar_container{text-align:left; margin:0 auto; position:relative; padding:7px 0 0;}
#sharingbar.sharinbar-fixed{position:fixed; top:42px; left:0; right:0; z-index:90;}
#sharing_bar_blogs_uploader{float:left; margin-right:9px; width:232px;}
#sharing_bar_blogs_uploader .fake-field{cursor:pointer; overflow:auto; margin:0 0 6px; font-weight:700;}
#blog-sharing-bar{position:relative;}
.blogs-list-float{display:none;position:absolute; top:32px; z-index:5; box-shadow:0 3px 8px rgba(0, 0, 0, 0.25); left:0; right:0; padding:10px 5px; background:#fff; border:1px solid #d6d6d6; border-top:none}
.blog-bar-label{float:left;}
#sharing_bar_blogs_uploader .toolbar.inliner{float:right;}

.outer_blog_buttons{line-height:28px; border-top:1px dotted #cfcfcf; text-align:left; overflow:hidden;}
.outer_blog_buttons:first-child{border-top:none;}
.outer_blog_buttons a.blog_title {overflow:hidden; white-space:nowrap; text-overflow:ellipsis; max-width:160px; float:left;}

#blog-sharing-bar .blogs-list-float {padding: 0;}
#blog-sharing-bar .outer_blog_buttons{padding: 5px 10px;}
#blog-sharing-bar .outer_blog_buttons.empty{color: #999;text-align: center;}
#blog-sharing-bar .sub-container-footer > div {padding: 15px 0; box-sizing: border-box;width: 50%; text-align: center;}
#blog-sharing-bar a.toolbar.inliner.groupToolsAdd, a.toolbar.inliner.groupToolsEdit {background-image: url(../../img/icons-set-menu-sphere.png?v=@TAMTAMY_PREVENT_CACHE@);}	