/* innovation award 2012 page */
#innovation_intro {background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/innovation_title.gif) no-repeat center center;height: 110px;}
#innovation_slider {padding:0;height:310px;position:relative;}
#innovation_slider .widget_padding {padding:0;}
.ia_slider {width:630px;height:290px;overflow:hidden;}
.ia_slider_module {width:3890px;height:290px;}
.ia_slide {width:620px;padding:0 5px;min-height:290px;float:left;display:inline-block;}
#innovation_slider .icons div {vertical-align:middle;}
#innovation_slider .icons {clear:both;padding:10px 0;}

#innovation_slider .icons span {
    color: #4C4C4C;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 30px;
    line-height: 15px;
    padding: 75px 0 0;
    text-align: center;
}
#innovation_slider .icons .icon_01 {display:inline-block;height:94px;width:100px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/ico_01.gif) top center no-repeat;}
#innovation_slider .icons .icon_02 {display:inline-block;height:94px;width:100px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/ico_02.gif) top center no-repeat;}
#innovation_slider .icons .icon_03 {display:inline-block;height:94px;width:100px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/ico_03.gif) top center no-repeat;}
#innovation_slider .icons .icon_04 {display:inline-block;height:94px;width:100px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/ico_04.gif) top center no-repeat;}
#innovation_slider .icons .icon_05 {display:inline-block;height:94px;width:100px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/ico_05.gif) top center no-repeat;}
#innovation_slider .icons .icon_06 {display:inline-block;height:94px;width:100px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/ico_06.gif) top center no-repeat;}

#innovation_slider .icons .icon_01_2013 {display:inline-block;height:94px;width:150px;background: url(/pub/thumb/tamtamy/ia_2013_ico01_v2.jpg) top center no-repeat;}
#innovation_slider .icons .icon_02_2013 {display:inline-block;height:94px;width:150px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/2013/ia_2013_ico02.jpg) top center no-repeat;}
#innovation_slider .icons .icon_03_2013 {display:inline-block;height:94px;width:150px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/2013/ia_2013_ico03.jpg) top center no-repeat;}
#innovation_slider .icons .icon_04_2013 {display:inline-block;height:94px;width:150px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/2013/ia_2013_ico04.jpg) top center no-repeat;}

#innovation_slider .paginator {position:absolute;bottom:0px;left:300px;}
#innovation_slider .paginator a {height:10px;width:10px;margin:0 5px 0 0;display:inline-block;float:left;text-indent:-9999px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/paginator_dot.gif) no-repeat top left;}
#innovation_slider .paginator a.selected {background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/paginator_dot.gif) no-repeat bottom left;}
.ia_slide_2 li {line-height:30px;padding:0 0 0 30px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/ico_euro.gif) no-repeat left center;}
.ia_slide_3 {text-align:center;}
.ia_slide_3 ul {margin:20px auto 0;text-align:left;width:70%;}
.ia_slide_3 li {
    background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/idea_little.png) no-repeat scroll left center transparent;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 0 0 30px;
}
.ia_slider h1 {text-align:center;}
a.guide_link {display:block;text-decoration:underline;text-align:center;position:absolute;width:200px;left:215px;bottom:15px;}
.ia_timeline .ia_circles {height:70px;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/circles_bg.png) no-repeat;margin:20px 0 0 0;}
.ia_timeline .ia_circles .ia_circle{position:relative;width:70px;height:70px;float:left;line-height:70px;text-align:center;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/circle-closed.png) no-repeat top left;text-indent:-9999px;color:#666;font-weight:bold;font-size:16px;}
.ia_timeline .ia_circles .ia_circle.opened{width:70px;height:70px;float:left;line-height:70px;text-align:center;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/circle-opened.png) no-repeat top left;text-indent:0;color:#5ba7d9;font-weight:bold;font-size:16px;}
.ia_timeline .ia_circles .ia_circle.opened2{width:70px;height:70px;float:left;line-height:70px;text-align:center;background: url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/circle-opened2.png) no-repeat top left;text-indent:0;color:#44a3db;font-weight:bold;font-size:16px;}
.ia_timeline .ia_dates {overflow:auto;}
.ia_timeline .ia_date a {color:inherit;}
.ia_timeline .ia_date {line-height:24px;float:left;width:69px;color:#666;font-weight:bold;background:#ddd;height:24px;padding:5px 0;text-align:center;border-radius:4px;margin:0 1px 0 0;}
.ia_timeline .ia_date.t_01 {float:left;width:69px;background:#5ba7d9;color:#fff;line-height:12px;}
.ia_timeline .ia_date.t_02 {float:left;width:139px;/*background:#007db9;color:#fff;*/}
.ia_timeline .ia_date.t_03 {float:left;width:209px;}
.ia_timeline .ia_date.t_04 {float:left;width:209px;}
.ia_circles .ia_circle .info {line-height:12px;position:absolute;padding:4px 0;top:-10px;left:0px;width:67px;border:1px solid #ddd;background:#f0f0f0;color:#666;font-size:10px;font-weight:normal;display:none;text-indent:0;border-radius:3px;}
.ia_circles .ia_circle:hover .info {display:block;}
.ia_circles .ia_circle.opened2 .info {display:block;border:1px solid #007db9;color:#007db9;}
.ia_time {margin:0 0 20px 0;background:#fff url(/tamtamy/skins/phelsuma/graphic/InnovationAwards/time_bg.png) no-repeat left top;height:70px;}

#innovation_slider .icons .icon_01_2013,
#innovation_slider .icons .icon_02_2013,
#innovation_slider .icons .icon_03_2013,
#innovation_slider .icons .icon_04_2013
 { zoom: 1; *display: inline; _height: 94px;}
 
 .ia-tooltip {padding: 5px;line-height: 1.2em;background: white;font-size: 12px;text-align: justify;}
 
 
.ia-user-endorsements{padding:10px 5px}
.ia-user-endorsements-info{margin:0 0 10px 0;}
.ia-idea-link{display: block; float:left;max-width:33%;}
.ia_idea_name{max-width: 64px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin: 0 4px;text-align: center}



.ia_slide_2 li{background-image:none}
.ia_slide_3 li{background-image:none; padding: 0 0 0 5px;}
.add_idea.generic_button {
    clear: both;
    float: none;
    font-size: 15px;
    margin: 0;
    overflow: auto;
    text-align: center;
}


.idea_status_div {
	overflow: auto;
    padding: 10px;
}

/* .lastPBColumn .column_padding {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 18px;
    padding: 15px 15px 15px 60px;
    border: 1px solid #DFDFDF;
} */

#hidden-element{
display: none;
}
.ia_time {margin:0 0 20px 0;background:#fff url(./IA-time_v15.png) no-repeat left top;height:70px;}


#innovation_slider .widget_padding,
#idea_status_timeline .widget_padding{background: white; border:1px solid #d1d1d1;}

#innovation_slider .widget_padding{border-bottom:0;padding: 20px 0 0 0;}
#innovation_slider .widget_padding > div{width: 630px;margin: 0 auto;}
#idea_status_timeline .widget_padding{border-top:0;padding: 15px 15px 15px 60px;}

#ia-2013-ideas h2.widget_title{background-color: white;border: 1px solid #D1D1D1;margin-bottom: 15px;}

.ia-chart {}
.ia-chart-details{border-top:1px dotted #d1d1d1;padding: 10px;overflow: hidden;}
.ia-chart-details:first-child{border-top:0}
.ia-chart-position{font-size: 1.5em;float: left;margin-right:5px;color: #555;}
.ia-chart-idea-title{font-size: 1.2em;hidden;display: block;line-height: 1.5em;height: 1.5em;text-overflow: ellipsis;white-space: nowrap;font-weight:700;overflow: hidden;}
.ia-chart-endorsment-count{float:right;font-size: 0.8em;background:url(/tamtamy/skins/phelsuma/skins/IA2013/icons-rosette-ia.png) no-repeat 1px 1px; width:27px; height:27px;line-height: 27px;text-align: center;color: #4593e8;}
.ia-chart-teammembers{line-height:1.2em; font-size:0.9em }
.ia-chart-idea-teammember{font-weight:700;}


.idea_ {margin-right: 5px;}
.idea_ .ia-endorse-ribbon{display:block;min-width: auto;right: -5px;top:20px;}
.idea_ .ia-endorse-ribbon > div{padding:2px 10px}
.idea_ .ia-text{line-height:27px; margin:0;margin-right: 20px;}
.ia-user-endorsed-idea{float: right;background:url(/tamtamy/skins/phelsuma/skins/IA2013/icons-rosette-ia.png) no-repeat 1px -25px; width:27px; height:27px;text-indent: -20000em;}

.scheda.idea_ .content_list_description p {padding:0;line-height: 1.2em;}
/* .idea_ .reply_badge{position: absolute;left: -5px;bottom: 5px;z-index: 10;padding: 0 0 5px 0;background: url(/tamtamy/skins/phelsuma/images/bk-angle-user.png) no-repeat left bottom;right: inherit;}
.idea_ .reply_badge > div{background:#EBEBEB url(/tamtamy/skins/phelsuma/images/icon-balloon.pnhg) no-repeat left 0;font-size: 0.8em;font-weight: bold;padding: 4px 10px 4px 10px;text-transform: uppercase;}
 */
 .idea_ .reply_badge{padding: 10px 0 5px;border-top: 1px dotted #D1D1D1;margin: 10px 0 0;clear: both;}
.idea_ .reply_badge > div{}
.ia-content-ghost{float: right;height: 55px;min-width: 150px;text-indent: -200000em;}


.ia-content-leftzone{float:left;}
.ia-team-avatars{background: white url(/tamtamy/skins/phelsuma/images/bk-angle-user.png) no-repeat left bottom;padding: 0 0 6px 0;margin: -2px 0 0 -5px;overflow: hidden;}
.ia-team-avatars > div{border:1px solid #d1d1d1;width: 64px;height: 64px;overflow: hidden;}

.ia-content-main{padding: 20px 20px 10px 80px}
.ia-content-main.ia-content-withcomment{padding-bottom:30px }
.ia-content-team-members{padding: 0px 0 10px 0;border-bottom: 1px dotted #D1D1D1;margin: 0 0 10px;line-height: 1.2em;}
.ia-content-thumbnail{content_list_thumbnail}
.ia-content-thumb{float: left;position: relative;text-align: left;margin: 0 10px 10px 0;overflow: hidden;border: 1px solid #D1D1D1;}
.ia-content-thumb, .ia-content-thumb img{height: 100px;width: 100px;}
.ia-content-label {color:#666}


.ia-member-avatar{width:64px;height:64px;}
/* one member */
.ia-team-number-1 .ia-idea-member-1 img{width:64px;height:64px;}

/* two members */
.ia-team-number-2 .ia-idea-member-1,
.ia-team-number-2 .ia-idea-member-2{width:32px;height:64px;float:left;overflow: hidden;}

.ia-team-number-2 .ia-idea-member-1 img,
.ia-team-number-2 .ia-idea-member-2 img{margin-left:-16px;}

/* 3 members */
.ia-team-number-3 .ia-idea-member-1,
.ia-team-number-3 .ia-idea-member-2{width:32px;height:32px;float:left}
.ia-team-number-3 .ia-idea-member-3{width:64px;height:32px;float:left;overflow: hidden;}

.ia-team-number-3 .ia-idea-member-1 img,
.ia-team-number-3 .ia-idea-member-2 img{width:32px;height:32px;}
.ia-team-number-3 .ia-idea-member-3 img{}

/* 4 members */
.ia-team-number-4 .ia-idea-member-1,
.ia-team-number-4 .ia-idea-member-2,
.ia-team-number-4 .ia-idea-member-3,
.ia-team-number-4 .ia-idea-member-4{width:32px;height:32px; float:left}

.ia-team-number-4 .ia-idea-member-1 img,
.ia-team-number-4 .ia-idea-member-2 img,
.ia-team-number-4 .ia-idea-member-3 img,
.ia-team-number-4 .ia-idea-member-4 img{width:32px;height:32px;}

/* 4 members */
.ia-team-number-5 .ia-idea-member-1,
.ia-team-number-5 .ia-idea-member-2{width:21px;height:32px; float:left;overflow:hidden;}
.ia-team-number-5 .ia-idea-member-3{width:22px;height:32px; float:left;overflow:hidden;}
.ia-team-number-5 .ia-idea-member-4,
.ia-team-number-5 .ia-idea-member-5{width:32px;height:32px; float:left; overflow:hidden;}


.ia-team-number-5 .ia-idea-member-1 img,
.ia-team-number-5 .ia-idea-member-2 img,
.ia-team-number-5 .ia-idea-member-3 img{width:32px;height:32px; margin:0 0 0 -4px}
.ia-team-number-5 .ia-idea-member-4 img,
.ia-team-number-5 .ia-idea-member-5 img{width:32px;height:32px;}

.ia-content-time{margin:5px 2px;}
