

.canvas-container,.canvas-container-full,#headercanvas{background: #414141; height: 295px;}


.canvas-container-full{color:white;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.45);text-align: left;}
.canvas-container{position:relative; width: 985px; margin: 0 auto; background:#414141 url(./back-netcamp-canvas.jpg) no-repeat 0 0 }
.canvas-container-full h1{color:white;}

.cbm-head {margin-left: 370px;}
.cbm-label-netcamp{position:absolute; top:10px;left:200px}
.cbm-label-netcamp h1{padding: 0;margin: 0;}

.cbm-body{margin-left: 310px;}

.cbm-head {margin-bottom: 35px;padding-top: 10px;}
.cbm-head div{line-height: 1.2em}

.cbm-message-container{clear:both;}
.cbm-user-avatar{float:left}
.cbm-balloon{display:block;float:left;background:url(./icon-balloon-blu-shadow.png) no-repeat -5px 0; width:24px;height:24px;text-indent: -200000em;}
.cbm-user-avatar{width:70px;box-shadow:1px 1px 1px 1px rgba(0,0,0,0.45);border: 1px solid #D1D1D1;margin: 0 20px 0 0;}

.cbm-message-title{margin: 0 0 15px 0;color: #ACACAC;}
.cbm-message-title span{line-height: 23px;}

.cbm-message-container{height: 100px; overflow: hidden;position:relative}
.cbm-dynamic-message{position:absolute; top:130px}
.cbm-message-balloon-cont{background:url(./icon-arrow.png) no-repeat left 40px;padding:0 0 0 20px;float:left;}
.cbm-message-balloon{position:relative;padding:0 15px 0 10px; font-size: 1.4em;background:#525252;max-width:535px;min-width:535px; overflow: hidden; text-overflow: ellipsis;text-align: center;white-space: nowrap;line-height:70px;}

.cbm-user-avatar{height:70px;}
.cbm-message-balloon-cont,.cbm-message-balloon{height:73px;}

.cbm-quote-before,.cbm-quote-after{position:absolute;line-height: 1em;font-size:3em;}
.cbm-quote-before{left:5px;top:0}
.cbm-quote-after{right:5px;bottom:-15px;}


.cbm-footer{margin-left: 220px;padding: 5px 0;background: url(../../images/bk-border-horizontal.png) repeat-x left top;}

.cbm-link-livestreaming,.cbm-link-joinconversation{text-transform: uppercase;min-height: 24px; line-height:24px;}

.cbm-link-livestreaming{overflow:hidden; float:left; background:url(./icon-play-blue-swadow.png) no-repeat right center; padding:0 24px 0 0}
.cbm-link-joinconversation{float:right}
