.alertBox  {padding:30px 0; text-align:center; position:relative;}
.alertBox_background {border-top:10px solid transparent;}
.alertBox .alertBox__img {position:absolute; top:-46px; background:#f35b40; width:75px; border-radius:50%; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); height:75px; box-shadow:0px 2px 0px rgba(0,0,0, .2); border:5px solid #fff;}
.alertBox .alertBox__img img {width:52%; position:absolute; top:50%; left:50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}
.alertBox .first_box .subtitle {font-size:18px; margin-top:15px; margin-bottom:30px; font-weight:bold;line-height: 20px;}
.alertBox .white_box .title {font-weight:bold; font-size:20px;	padding:0;}
.alertBox .white_box .description {margin:6px 0 15px 0; padding:0; font-size:16px; color:#484848;}
.alertBox .white_box {margin-bottom: 0px}

@media only screen and (min-width : 0px) and (max-width : 767px) {
	.alertBox .white_box {margin-bottom: 20px}
}