
.banner-informativo-accordion .details {
	padding: 25px;
	border: 1px solid #000;
}
.banner .accordion_link {
	margin-top: 20px;
    display: inline-block;
	text-decoration: none;
    font-size: 20px;
	transform: scale(1);
	transition: all 0.3s linear;
}
.banner .accordion_link:hover {
	transform: scale(1.2);
}

#info-container  .accordion_link--close {
	position: absolute;
	bottom: 9px;
	left: 50%;
	text-decoration: underline;
}

.banner-informativo-accordion .title_banner {
	text-transform: uppercase;
	text-align: left;
	margin-top: 0;
	letter-spacing: 3px;
	display: inline-block;
	margin-bottom: 15px;
	font-size: 20px
}

.banner-informativo-accordion .details {
	margin: 45px 0
}
.banner-informativo-accordion .objective-portals {
	margin-bottom: 25px;
}
.banner-informativo-accordion .objective-portals:last-child {
	margin-bottom: 0;
}

.banner-informativo-accordion .description_banner {
	font-size: 14px
}
.banner-informativo-accordion .description_banner strong {
	font-weight: bold;
}

.banner-informativo-accordion .list_banner {
	padding: 10px 15px;
	list-style: none;
	margin-bottom: 0;
}

.item_banner {
	margin-bottom: 5px;
	position: relative;
    padding-left: 20px;
}

.item_banner::before {
	content: '';
    display: inline-block;
    border-radius: 50%;
    height: 6px;
    width: 6px;
	border: 1px solid black;
    position: absolute;
    left: 0;
    top: 7px;
}
.item_banner strong{
	font-weight: bold;
}
.item_banner:last-child {
	margin-bottom: 0;
}
