.big.button .grayer {text-align:center;padding: 25px 0;}
.big.button .grayer a {display:inline-block;padding: 12.5px 60px;border-radius: 4px;font-size: 15.6px;text-decoration: none;}
.big.button .grayer a:hover{ text-decoration: none;}
.big.button .grayer p{text-transform: uppercase; font-size: 22px; margin-bottom: 20px; font-weight: normal;}
