.carousel,
.community__carousel {padding: 15px 0 30px 0;background: #f7f7f7;}
.community__carousel {margin-bottom: 40px; margin-left: -15px;	margin-right: -15px;}
.carousel .widget_title::before{content: '\e91b'; font-family: "tamtamy-icon";display: inline-block; vertical-align: middle;font-size: 25px;}
.content_carousel {cursor: pointer;}
.content_carousel .widget_title {margin: 0;}
.content_carousel .slick-arrow {height: 25px;width: 25px;}
.content_carousel .slick-arrow.slick-prev {left: -35px;}
.content_carousel .slick-arrow.slick-next{right: -55px;}
/*.content_carousel::after {content:' '; display:block; position:absolute; top:0; right:-101px; height:100%; width:10%; pointer-events:none;}*/
.content_carousel .a_content {/*padding:20px 0;*/ margin:25px 15px;	/*display:flex;*/ outline:none;	text-decoration:none;}
.content_carousel .a_content .title {margin:10px 0 5px;}
.content_carousel .a_content .author {font-size: 12px; font-weight: bold;}
.content_carousel .a_content .author_detail {font-size: 11px; font-style: italic;	letter-spacing: 2px;}
.content_carousel .a_content .description {height: 60px; margin-bottom: 10px; overflow: hidden;}
.content_carousel .counts_list {text-decoration: none; font-weight: bold; margin-bottom:0;}
.content_carousel .counts_item {display: inline-block; margin-right: 12px;	font-size: 14px;}
.content_carousel .counts_item:last-child {	margin-right: 0;}
.content_carousel .a_content .blue_button {text-align: center;}
.content_carousel .slick-arrow {color:#197bbd;	position:absolute;	top:50%; transform:translateY(-50%); z-index:10; font-size:22px;}
.content_carousel .tti-freccia_sinistra_01 {left: -4%;}
.content_carousel .tti-freccia_destra_01 {right: -5%;}
.carousel .spinner {position:relative; z-index:2 !important; left:50%; padding:37px 0; top:30px; display:inline-block; margin:0;}

/* STYLE WIDGET */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

	.content_carousel .a_content {padding: 20px; margin: 25px 10px;display:flex;}
	.content_carousel .a_content .title {height: 40px; overflow: hidden;}
	.content_carousel .counts_item {font-size: 9px;margin-right: 5px;}
	.content_carousel .a_content .author_detail {display: block;}
}

/* ipad (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 768px) {
	.content_carousel .counts_item {font-size: 12px;}
	.content_carousel .a_content .title {height: 40px; overflow: hidden;}
	.content_carousel .a_content .author_detail {display: block;}
}
