/* ####### CAROUSEL TYPE 1 ####### */

.carousel,
.community__carousel {padding: 15px 0 30px 0;}
.carousel .content-carousel {min-height: 285px;}
.carousel .slick-dotted.slick-slider {margin-bottom: 0;}

.community__carousel {margin-bottom: 40px;margin-left: -15px;margin-right: -15px;}

.carousel .widget_title::before{
	content: '\e91b';
	font-family: "tamtamy-icon";
	display: inline-block;
	vertical-align: middle;
    font-size: 25px;
}

.content_carousel a{
	cursor: pointer;
}
.content_carousel .widget_title {
	margin: 0
}


.content_carousel::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: auto;
    height: 100%;
    width: 13%;
	pointer-events: none;
}
.content_carousel.left-shadow::after {
	content: ' ';
	display: none;
}
.content_carousel .a_content {
	padding: 20px;
	margin: 25px 15px;
	/*display:flex;*/
	outline: none;
    min-height: 205px;
	text-decoration: none;
	position: relative;
}
.content_carousel .carousel__img {
	display: inline-block;
}
.content_carousel .carousel__txt {
	display: inline-block;
	margin-left: 10px;
	vertical-align: top;
}
.content_carousel .carousel__content {
	position: absolute;
	top: 40px;
	left: 92px;
	right: 12px;
}
.content_carousel .author_detail {
	display: inline-block;
}
.content_carousel .a_content .title {
	margin: 10px 0 5px;
	height: 40px;
	overflow: hidden;
}
.content_carousel .a_content .author {
	font-size: 12px;
	font-weight: bold;
}
.content_carousel .a_content .author_detail {
	font-size: 11px;
	font-style: italic;
	letter-spacing: 2px
}
.content_carousel .a_content .description {
	height: 60px;
	margin-bottom: 10px;
	overflow: hidden;
}

.content_carousel .counts_list {
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 0
}

.content_carousel .counts_item {
	display: inline-block;
	margin-right: 12px;
	font-size: 14px;
}
.content_carousel .counts_item:last-child {
	margin-right: 0
}

.content_carousel .a_content .blue_button {
	text-align: center;
}

.content_carousel .slick-arrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) scale(1);
	z-index: 10;
	font-size: 22px;
	height: 25px;
	width: 25px;
	transition: all 0.3s linear
}
.content_carousel .slick-arrow:hover {
	transform: translateY(-50%) scale(1.2);
}
.content_carousel .slick-arrow.slick-prev {
	left: -35px
}
.content_carousel .slick-arrow.slick-next{
	right: -55px;
}

.content_carousel .tti-freccia_sinistra_01 {
	left: -4%
}
.content_carousel .tti-freccia_destra_01 {
	right: -4rem
}

/*.carousel .spinner {
	position: relative !important;
    z-index: 2000000000 !important;
    left: 50% !important;
    height: 270px;
    top: 150px !important;
    display: inline-block !important;
    margin: 0 !important;
}*/

.content_carousel .a_content {
	border: 2px solid transparent;
}


.content_carousel .slick-arrow.slick-disabled {
	opacity: 0.25;
}
.content_carousel .slick-arrow.slick-disabled:hover  {
	cursor: default;
	transform: translateY(-50%) scale(1);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

	.content_carousel .a_content {
		padding: 20px;
		margin: 25px 10px;
		display:flex;
	}

	.content_carousel .a_content .title {
		height: 40px;
		overflow: hidden;
	}

	.content_carousel .counts_item {
		font-size: 9px;
		margin-right: 4px;
	}
	.content_carousel .a_content .author_detail {
		display: block;
	}
}

/* ipad (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 768px) {
	.content_carousel .counts_item {
		font-size: 12px
	}
	.content_carousel .a_content .title {
		height: 40px;
		overflow: hidden;
	}

}
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.content_carousel .carousel__content {
		position: absolute;
	    top: 75px;
	    left: 20px;
	    right: 20px
	}
	.content_carousel .a_content {
		min-height: 245px;
	}
	.content_carousel .author_detail {
		display: block;
	}
	.content_carousel .a_content .title {
		height: 40px;
		overflow: hidden;
	}
 }





/* ####### CAROUSEL TYPE 2 ####### */

/* WIDGET STRUCTURE */
.carousel02_widget
{
    margin: 20px 0;
}

.carousel02_widget .widget_title
{
    text-align: center;
    letter-spacing: 3px;
	font-weight: normal;
	font-size: 19px;
}

.carousel02_widget .description
{
    font-size: 14px;
    text-align: center;
}

#best_practices_carousel .a_best_practice
{
    margin: 20px 0;
}

#best_practices_carousel .a_best_practice .title_carousel
{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#best_practices_carousel .a_best_practice .description_carousel
{
    min-height: 5.3em;
    margin: 10px 0;
    font-size: 12px;
}

#best_practices_carousel::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 8%;
    pointer-events: none;
}
#best_practices_carousel.left-shadow::after  {
	display: none;
}
#best_practices_carousel a {
	display: block;
    overflow: hidden;
    margin: 0 10px;
	text-decoration: none;
}


#best_practices_carousel span
{
    display: block;
    overflow: hidden;
}

#best_practices_carousel a
{
    outline: none;
}

#best_practices_carousel .slick-arrow {

    position: absolute;
    top: 50%;
	transform: translateY(-50%) scale(1);
    z-index: 10;
    font-size: 22px;
    cursor: pointer;
	transition: all 0.3s linear

}

#best_practices_carousel  .slick-arrow:hover {
	transform: translateY(-50%) scale(1.2);
}

#best_practices_carousel .tti-freccia_sinistra_01 {
    left: -4%
}
#best_practices_carousel .tti-freccia_destra_01 {
    right: -4rem
}

#best_practices_carousel .slick-disabled  {
    opacity: 0.3;
}

#best_practices_carousel .slick-disabled:hover  {
    cursor: default;
	transform: translateY(-50%) scale(1);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.carousel .slick-dotted.slick-slider {
	    margin-bottom: 20px;
	}

}




/* ####### CAROUSEL TYPE BOTH ####### */

.slick-dots li
{
    margin: 0 !important;
}

.slick-dots li button
{
    padding: 0 !important;
}

.slick-dots li button:before
{
    font-size: 8px !important;
}



#best_practices_carousel .slick-dots
{
    margin-bottom: 8px;
}

.carousel .slick-dots
{
    bottom: -15px;
}


[class^="tti-freccia_"]{cursor: pointer;}
