.newsAndEvents{background:#fff; margin:0 0 15px; height:172px;}
.carousel.type03{background:none; padding:0;}
.carousel.type03 .widget_padding{padding:20px 0 0;}
.carousel.type03 .widget_title{font-size:15px; color:#ec3467; margin:0 0 12px; line-height:1.1em; text-transform:uppercase; font-weight: 500;}
.carousel.type03.full .widget_title{font-size:20px;}
.carousel.type03 .widget_title::before{content:none;}

.carousel.type03 .widget_title + div{min-height:105px;}
.carousel.type03 .content_carousel .a_content{padding:0; margin:0; border:none; min-height:0; margin-right:40px; display:block;}
.carousel.type03 .content_carousel .carousel__txt{margin:0;}
.carousel.type03 .content_carousel .author_detail{display:block; font-weight:normal; letter-spacing:0;}
.carousel.type03 .content_carousel .carousel__info{margin:0 0 3px;}
.carousel.type03 .content_carousel .carousel__content{position:static;}
.carousel.type03 .content_carousel .carousel__content .title{font-size:16px;color:#353ecd;margin:0;height:38px;line-height: 1.2em;overflow: hidden;}
.carousel.type03 .content_carousel::after{height:80px;}
.carousel.type03 .content_carousel .slick-arrow{display:none !important;}
/*.carousel.type03 .slick-dots::before{content:''; position:absolute; display:block; height:2px; width:100%; background:#bcbcbc; border-radius:20px; z-index:9;}*/
.carousel.type03 .slick-dots li button:before {color:#c0c0c0;}
.carousel.type03 .slick-dots li.slick-active button:before,
.carousel.type03 .slick-dots li:hover button:before {color:#353ecd;}

.carousel.type03 .info span{display:block;}
.carousel.type03 .info .when,
.carousel.type03 .info .where{font-size:12px; line-height:1.1em; font-weight:bold;}
.carousel.type03 .info .where{margin:0 0 8.4px;}
.carousel.type03 .info .title a{color:#353ecd; font-weight:bold; font-size:16px;display: block;height: 38px; line-height: 1.15em;overflow: hidden;text-decoration: none;}
.carousel.type03 .slick-track{padding:10px 0; border-bottom:1px solid #bcbcbc;}
.carousel.type03 .slick-dots{position:relative; bottom:-5px; margin-bottom:-25px; border-top:none;}
.carousel.type03 .slick-dotted.slick-slider {margin-bottom:25px;}

.carousel.type03 .no_events {display: block; font-size: 0; padding-bottom: 17.6px; margin-top: 13px;}
.carousel.type03 .no_events .icon { display: inline-block; vertical-align: middle; font-size: 34px; margin-right: 10px;}
.carousel.type03 .no_events .text { display: inline-block;vertical-align: middle;font-size: 15px;text-transform: uppercase;}

/*full width version*/
.carousel.type03.full .content-carousel{}
.carousel.type03.full .content_carousel .a_content{background-color:transparent;}
.carousel.type03.full .content_carousel .carousel__txt{}
.carousel.type03.full .content_carousel .author{font-size:14px;}
.carousel.type03.full .content_carousel .author_detail{display:inline-block;font-size: 12px;}
.carousel.type03.full .content_carousel .carousel__content .title{font-size:15px;}

@media only screen and (max-width: 991px) and (min-width: 0) {
	#PP_Community_Event {
		display: none
	}
}

@media only screen and (max-width: 479px) and (min-width: 0) {
	.carousel.type03 .content_carousel .a_content {
		margin-right: 0
	}
}
