/* WIDGET STRUCTURE */
.classic_menu {margin-bottom: 4rem;}
.classic_menu .spotlight li{cursor: pointer;padding: 1.5rem 2.5rem; margin:1rem 0 0 0; border: .1rem solid transparent; list-style: none;position:relative;font-size: 1.3rem; }
.classic_menu .spotlight li:first-child{margin-top:0;}
.classic_menu .spotlight li.selected{font-weight: 900;font-size: 1.4rem}
.classic_menu .spotlight li:before, .classic_menu.mobile .widget_padding:before {content: '';width: 0;height: 100%;display: block;position: absolute;left: 0;top: 0;}
.classic_menu.mobile .widget_padding{position:relative;}
.classic_menu .spotlight li.selected:before, .classic_menu .spotlight li:hover:before,
.classic_menu.mobile .widget_padding:before{width:10px; transition: 200ms ease width;}
.classic_menu .spotlight li{border:0;}
.classic_menu .spotlight li{border: .1rem solid transparent; height: 48px}
.classic_menu select {border:.1rem solid transparent; display:block; width:100%; font:inherit; line-height: 1.5em; padding:.75em 3.5em .75em 1em; margin:0;	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-appearance:none; -moz-appearance:none; height:48px;
	background-image:linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(135deg, #FFF 50%, transparent 50%),	linear-gradient(45deg, transparent 50%, #404040 50%), linear-gradient(135deg, #404040 50%, transparent 50%); background-position:calc(100% - 20px) 1.2em, calc(100% - 14px) 1.2em, calc(100% - 20px) 1.2em, calc(100% - 12px) 1.2em;
	background-size:6px 6px, 6px 6px, 8px 8px, 8px 8px; background-repeat:no-repeat;
	}
.classic_menu select:focus {
  background-image:linear-gradient(45deg, #FFF 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #FFF 50%), linear-gradient(45deg, #404040 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #404040 50%);
  background-position:calc(100% - 14px) 1.2em, calc(100% - 20px) 1.2em, calc(100% - 12px) 1.05em, calc(100% - 20px) 1.05em;
  background-size:6px 6px, 6px 6px, 8px 8px, 8px 8px; background-repeat:no-repeat; outline:0;
  }
select:-moz-focusring {color:transparent; text-shadow:0 0 0 #000;}

.classic_menu ul.monthfilters {margin:0 0 30px;}

/* MEDIAQUERY WIDGET */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.classic_menu{ position:relative;margin-bottom: 1.5rem}
	.classic_menu.mobile .widget_padding:before{left:0;}
}
