.contacts .widget_padding {border: none;}
.contacts .widget_padding .widgetListFooter{border: none;}
.plugin_peopleWidget h2.widget_title,
/*temporary fix*/.column_generico div[class*="plugin_"] h2.widget_title {text-align: left;text-transform: uppercase;padding: 0 20px;font-size: 1.4rem;}

.plugin_peopleWidget .widget_padding > span {border: 1px solid #cec9cb; padding: 14px 20px; overflow: hidden;}
/*temporary fix .column_generico div[class*="plugin_"] .widget_padding > span {border: 1px solid #000; padding: 20px; overflow: hidden;}*/

.contacts #peopleWidgetContainer .picture a {border-radius: 50%; overflow: hidden;height: 60px;width: 60px;display: inline-block; vertical-align: middle;}

.contacts #peopleWidgetContainer .picture img.user_avatar{width: 100% !important; height: 100%;}
.contacts #peopleWidgetContainer > div{padding: 10px 0; border-bottom: 1px solid #c5d4d9}
.contacts #peopleWidgetContainer > div:first-child{padding-bottom: 10px;padding-top: 0}
.contacts #peopleWidgetContainer > div:last-child{padding-bottom: 0; border-bottom: none;}
.contacts #peopleWidgetContainer .data{text-align: left; display: inline-block;margin-left: 10px;vertical-align: middle;}
.contacts #peopleWidgetContainer .data .name a {margin: 0; text-decoration: none}
.contacts #peopleWidgetContainer .data .email { font-size: 12px;}
.contacts #peopleWidgetContainer .data .email a { text-decoration: none}
.contacts #peopleWidgetContainer .data .phone {font-size: 12px; font-weight: 100; color: #6e6e6e;}
