.events .custom_view_el {display:none;}
.events  .fc-view-container {margin-bottom:20px;}
.events .fc-toolbar h2 {margin:0;}
.events .event{padding:0; display:flex;	flex-direction:column;}
.events .fc-unthemed td.fc-today {}

.events .event_header {padding:13px 30px; font-size:15px;}
.events .event_header span {display:inline-block; position:static; padding-left:0;}
.events .event_header .place{display: inline-block;	margin-left:20px;	margin-top:0;	position:static;	padding-left:0;}
.events .place i, .events .date i {font-size: 24px;    margin-right: 10px;}
.events .event_body {padding:20px 30px;	display: flex; flex-direction: column;    border: 1px solid #000;	border-top:none;	margin-bottom: 20px;}
.events .event_body {padding:20px 30px;}
.events .event_body .title {text-transform: uppercase; font-size: 16px; margin-bottom: 15px; font-weight: bold;}
.events .event_body a.title:hover{text-decoration: none;}
.events .event_body .description {line-height: 1.6em; font-size: 14px;}
.events  .fc-month-name, .events .viewCalendarButton {display:none;}
.events .fc-content-skeleton {padding-bottom: 0!important;}
.events .btn_content { text-align: right; margin-top: 15px;}
.events .blue_button a {padding: 5px 30px; font-size: 1.3rem;}

/* parte del calendario sopra*/
.events .fc-toolbar {margin-bottom:20px;}
.events .fc-center {position: relative;}
.events .fc-center  h2 {font-size: 22px; margin:0 20px;	min-width: auto;}
.events .fc-button {border: 1px solid transparent;	box-shadow: none;}
.events .fc-button .fc-icon{position: absolute;	top: 50%;	transform: translateY(-50%);	-webkit-transform: translateY(-50%);}
.events .fc-button .fc-icon.tti-freccia_sinistra_02 {right: 0;}
.events .fc-button .fc-icon.tti-freccia_destra_02 {left: 0;}
.events .fc .fc-toolbar .fc-corner-right,
.events .fc .fc-toolbar .fc-corner-left{margin-left: 0;	outline: none;}
.events .fc-body .fc-widget-content {border-width: 0;}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.events .widget_title {margin-bottom: 20px;}
	.events .blue_button {text-align: center;}
	.events .event_header {font-size: 15px;	padding: 15px 9px;}
	.events .event_body {padding: 15px 9px;}
	.events .event_header .place{margin-left: 0px;	margin-top: 12px;	position: relative;	padding-left: 30px;}
	.events .place i, .events .date i{font-size: 20px; margin-right: 5px;	position: absolute;	left: 0; transform: translateY(-50%); top: 50%;}
	.events .event_header span {display: block;	position: relative;	padding-left: 30px;}
}

/* ipad (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 768px) {
	.events .event_header span {display: block;	position: static;	padding-left: 0;}
	.events .event_header .place{margin-left: 0px; margin-top: 12px;}
}
@media only screen and (min-width : 0) and (max-width : 767px) {
	.events .btn_content { text-align: left}
}


/* No events placeholder */
.fc-month-grid .fc-content-skeleton td:not(.fc-event-container)::after {content: ""; padding: 22px; display: block; text-align: center; border: 2px solid #000;}
.events .fc-list-table .fc-widget-header { display: none; }
.events .fc-view { border: none; }
.events .fc-list-table td {display:block; padding:0; border: none;}
.events .fc-mod-month-header { text-align: center; }
.events .fc-mod-month-header .month-name { margin-bottom: 10px; font-size: 1.3em; padding: 0 30px; text-align: left;}
.events .fc-unthemed .fc-list-empty {padding: 22px; display: block; text-align: center; border: 1px solid black;}
.events .spinner {position: absolute; width: 0px;	left: 50% !important; margin: 0 !important; z-index: 2000000000; top: 91px !important;}
.events .fc-unthemed.loading div.fc-list-empty {color:transparent;}
