/* WIDGET STRUCTURE */
.focus_on_widget{padding:30px 0; position:relative; text-align:left; font-size: 0;margin: 0}
.focus_on_widget a {color:inherit;}
.focus_on_widget .first_box .title {text-transform:uppercase; font-size:20px; margin-bottom:5px; margin-top:0;}
.focus_on_widget .first_box{display: inline-block; width: 45%; vertical-align: middle;}
.focus_on_widget.type02 .first_box{display: block; width: 100%; text-align:center;margin-bottom:20px;}
.focus_on_widget .subtitle {margin:0; font-size:16px;}
.focus_on_widget .content_box {text-align: right; width: 50%; display: inline-block; vertical-align: middle;margin-top: 0;}
.focus_on_widget.type02 .content_box {text-align: center; width: 100%;}

/* STYLE WIDGET & Override from other css files */
.focus_on_widget .flat_blue_button a{padding:5px 0;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .focus_on_widget{border-bottom: none;}
    .focus_on_widget .first_box .title,
    .focus_on_widget .first_box .subtitle{text-align:center;}
    .focus_on_widget .first_box,
    .focus_on_widget .white_box{padding:17px 0;}
    .focus_on_widget .white_box{margin:6px 0; min-height:43px;}
    .focus_on_widget .fix_mobile{padding:0; /* fix bootstrap problem with padding on xs-1 */ height:25px; padding-top:0.3em;}
    .focus_on_widget .fix_mobile span{padding-top:1px;}
}

@media only screen and (min-width : 0) and (max-width : 580px) {
	.focus_on_widget .first_box {width: 100%;text-align: center;}
	.focus_on_widget .content_box {text-align: center;width: 100%;}
	.blue_button.big:last-child { margin-left: 0;display: block; width: 200px;text-align: center;margin: 0 auto;margin-top: 10px;}
	.blue_button.big {margin-right: 0px;display: block; width:200px; text-align:center; margin:0 auto;}
	.type02 .blue_button.big {display: block; width:100%; margin:0 auto 20px;}
}

@media only screen and (min-width : 581px) and (max-width : 991px) {
	.focus_on_widget .first_box {width: 100%;text-align: center;}
	.focus_on_widget .content_box {text-align: center;width: 100%;}
	.focus_on_widget.type02 .content_box{display:table;border-spacing:20px 0;border-collapse:separate;}
	.focus_on_widget.type02 .blue_button.big {display:table-cell; min-width:150px;}
	.focus_on_widget.type02 .blue_button.big a{padding:10px 20px;}
}

@media only screen and (min-width : 992px) and (max-width : 1200px) {
	.blue_button.big {min-width: 210px; margin-right: 0}
	.blue_button.big:last-child {margin-left: 20px;}
	.focus_on_widget.type02 .content_box{display:table; border-spacing:40px 0; border-collapse:separate; }
	.focus_on_widget.type02 .blue_button.big {display: table-cell;}
}