/* Horizontal Accordion */
.header .wrapper .accordion{display:block; height:187px; width:100%; overflow:hidden; margin:0 auto;}
.header .wrapper .accordion ul {width:100%; display:table; table-layout:fixed; margin:0; padding:0;}
.header .wrapper .accordion ul li {display:table-cell; vertical-align:top; position:relative; width:25%; height:100%; background-repeat:no-repeat; background-position:center center; border-right:1px solid #000; transition:all 800ms ease;}
.header .wrapper .accordion {border-left:1px solid #000;}
.header .wrapper .accordion section{display:block; text-align:center; vertical-align:top; height:187px; box-sizing:border-box;}
.header .wrapper .accordion section:first-child{}

.header .wrapper .accordion section > a{overflow:hidden; display:block; text-align:center; text-decoration:none; height:100%; position:relative; width:229px; cursor:default; padding:33px 0;}
.header .wrapper .accordion section > p{display:table; position:absolute; top:0; left:229px; width:730px; height:200px;}
.header .wrapper .accordion section > p{height:200px;}
.header .wrapper .accordion section > p span{display:table-cell; position:absolute; top:50%; transition:all .5s ease-in; transform:translateY(-50%); -webkit-transform:translateY(-50%); text-align:left; padding:0 70px; font-size:24px; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; font-weight:bold; line-height:28px; opacity:0;}
.header .wrapper .accordion li.selected section > p span{opacity:1;}
.header .wrapper .accordion section > a .order + p{font:normal 12px/1.4em 'Montserrat',sans-serif; max-width:85%; margin:0 auto 10px;}
.header .wrapper .accordion section > a .order + p b{font-size:15px;}
.header .wrapper .accordion section.active > a .order + p b{font-size:15px;}
.header .wrapper .accordion section .point{width:12px; height:12px; border-radius:50px; box-sizing:content-box; display:inline-block; text-align:center; margin-bottom:0; border:5px solid #000; transition:all 0.5s ease;}
.header .wrapper .accordion .selected section .point{border:5px solid #fff;}
.header .wrapper .accordion section .title{display:block; font-weight:bold; line-height:16px;}
.header .wrapper .accordion section > a button{border-radius:50%; border:4px solid #000; position:absolute; bottom:32px; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%); cursor:pointer; transition:all .7s ease-in; height:40px; width:40px; text-align:center; outline:none;}
.header .wrapper .accordion section > a button::before{content:'\e9a3'; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); font-size:13px; line-height:42px; height:40px; width:40px;}
.header .wrapper .accordion li.selected section > a button::before{content:'\e9a2'; height:40px; width:40px; line-height:43px; font-size:13px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%);}
.header .wrapper .accordion section > a .actors{display:block; position:absolute; width:100%; bottom:75px; font:normal 12px/1.4em 'Montserrat',sans-serif; text-transform:uppercase; left:50%; margin-left:-50%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.header .wrapper .accordion section > a .actors::before{content:'\e903'; vertical-align:bottom; font:normal 20px 'icomoon-skydive'; padding:0 10px 0 0;}
.header .accordion ul li div a {display:block; height:250px; width:100%; position:relative; z-index:3; vertical-align:bottom; padding:15px 20px; box-sizing:border-box; transition:all 200ms ease;}
.header .accordion ul li div a * {opacity:0; margin:0; width:100%; text-overflow:ellipsis; position:relative; z-index:5; white-space:nowrap; overflow:hidden; -webkit-transform:translateX(-20px); transform:translateX(-20px); -webkit-transition:all 400ms ease; transition:all 400ms ease;}
.header .accordion ul li div a h2 {text-overflow:clip; font-size:24px; text-transform:uppercase; margin-bottom:2px; top:160px;}
.header .accordion ul li div a p {top:160px;}

.header .accordion ul.selected li.selected section > p { border-left:1px solid #000;}

/*-- Interactions --*/
.header .accordion ul.selected li {width:0%; transition:all 800ms ease;}
.header .accordion ul.selected li.selected {width:100%;}
.header .accordion ul.selected li.selected a {  }
.header .accordion ul.selected li.selected a * {opacity: 1;-webkit-transform: translateX(0);transform: translateX(0);}
.header .wrapper .accordion .selected section > a button{ transform: translateX(-50%);-webkit-transform: translateX(-50%);border: 4px solid #fff;}

@media only screen and (max-width : 767px) {
	.header .accordion ul.selected li {transition:all 0.4s linear;}
	.header .wrapper .accordion ul li {transition:all 0.4s linear;}
	.header .wrapper .accordion {height:auto; border:none;}
	.header .accordion ul li {width:100%;}
	.header .wrapper .accordion section {height:auto;}
	.header .wrapper .accordion ul li { width:100%; display:block; height:61px; margin:20px 0; border-bottom:1px solid #000; border-right:none; cursor:pointer; z-index:9;}
	.header .wrapper .accordion ul li:last-child {border:none; margin-bottom:0;}
	.header .wrapper .accordion ul li.selected:last-child {border-bottom:1px solid #fff;}
	.header .accordion ul.selected li.selected  {height:105px;}
	.header .wrapper .accordion section > a {width:100%; height:auto; overflow:visible; padding:9px 0;}
	.header .wrapper .accordion .selected section .point {display:none;}

	.header .wrapper .accordion section > p {width:100%; display:block; left:0; border:none;}
	.header .wrapper .accordion section .point {display:none;}
	.header .wrapper .accordion section > p span { position:absolute; top:34%; width:100%; left:0; z-index:99; display:block; text-align:center; padding:0; opacity:0; transition:all 0.25s ease-in; font-size:16px; line-height:21px;}
	.header .wrapper .accordion ul.selected li.selected section > p span {opacity:1;}
	.header .wrapper .accordion section > a button {bottom:-21px; z-index:2; background:transparent; border:none; transition:all .25s ease-in; z-index:0;}
	.header .wrapper .accordion .selected section > a button {border:none;}
	.header .wrapper .accordion section > a button::before{content:'\e946';font-family: 'tamtamy-icon'; position:static; height:auto; width:auto; font-size:14px;}
	.header .wrapper .accordion li.selected section > a button::before {content:'\e946'; font-size:14px; border:none;}
	.header .wrapper .accordion li.selected section > a button {border:none; transform:translate(-50%)rotate(-180deg); -webkit-transform:translate(-50%) rotate(-180deg); border:none;}
	.header .wrapper .accordion section .title br,
	.header .wrapper .accordion section > p span br {display:none;}
	.header .wrapper .accordion {border:none;}
	.header .accordion ul.selected li.selected section > p {border:none;}
}
@media only screen and (min-width : 768px) and (max-width : 830px) {
	.header .wrapper .accordion section > a{width:145px; padding:40px 1px;}
	.header .wrapper .accordion section > p {left:143px; width:560px;}
	.header .wrapper .accordion section .title {line-height:15px;}
	.header .wrapper .accordion section > p span {padding:0 30px; font-size:18px; line-height:21px;}
	.header .wrapper .accordion section > p span br {display:none;}
}
@media only screen and (min-width : 831px) and (max-width : 1080px) {
	.header .wrapper .accordion section > a {width:200px;}
 }
