.mailer {padding: 45px 0;}
.mailer .mailer__title { margin: 0 0 15px; font-size: 20px; font-weight: bold}
.mailer .mailer__txt {font-size: 16px ; line-height: 20px;}
.mailer__contactBox {margin: 35px 0}
.mailer__contactBox  .mailer__title {margin-bottom: 10px;font-size: 14px;font-weight: 700;}
.mailer__contactList { list-style: none;font-size: 0;box-sizing: border-box;margin: 0;margin-top: 25px}
.mailer__contactItem:first-child { margin-left: 0;}
.mailer__contactItem {width: 32.3%;display: inline-block;font-size: 17px;margin-left: 16px;position: relative; border: 3px solid #000; vertical-align: top}
.mailer__contactItem a {display: block;padding: 30px 0 30px 38px;text-decoration: none}
.mailer__contactItem.active {border: 3px solid #000; }
.mailer__contactItem.disable .mailer__contactName {font-weight: 100;}
.mailer__contactItem .mailer__contactName {font-weight: 600;font-size: 15px; display: inline-block;vertical-align: middle;}
.mailer__contactImg { display: inline-block;background: pink;width: 50px;height: 50px;vertical-align:
	middle;border-radius: 50%;margin-right: 10px;margin-bottom: 0}
.mailer__contactLanguage { width: 30px; height: 30px;display: block;border-radius: 50%;position:absolute;text-transform: uppercase;font-size: 14px; text-align: center;z-index: 9;line-height: 30px; left: 8%;top: 16%;}

.mailer__field {display: none;float: right; color: red}
.mailer__label {display: block; margin-bottom: 15px; font-size: 14px;font-weight: 700;}
.mailer__txtarea {display: block;width: 100%;height: 110px;padding: 15px;border: 1px solid #000;resize: none;margin-bottom: 35px;}


.mailer__checksTilte {display: block; margin-bottom: 15px;font-size: 14px;font-weight: 700; margin: 0 0 10px;}
.mailer__checks {margin-bottom: 40px;box-sizing: border-box;padding: 10px;position: relative;
    border: 1px solid transparent;}
.mailer__check{display: inline-block; margin-right: 50px}
.mailer__check:last-child {margin-right: 0}
.mailer__input{opacity: 0;position: absolute;z-index: 2;margin: 0 !important}
.mailer__checkLabel { position: relative;display: inline-block;width: auto;padding-left: 35px;line-height:
	2em;text-align: center;cursor: pointer; font-weight: 100;margin: 0;}
.mailer__checkLabel:before{content: "";transform: translateY(-50%);-webkit-transform: translateY(-50%);width:
25px;height: 25px;border-radius: 2px;color: white;border: 1px solid #000;line-height: 25px;font-size: 0.625rem;display: inline-block;position: absolute;top: 50%;left: 0;text-align: center;-webkit-backface-visibility: hidden;backface-visibility: hidden;cursor: pointer;z-index: 4;}
.mailer__input:checked + .mailer__checkLabel:before{ content: "\e97e";font-size: 24px;font-family: 'tamtamy-icon';line-height: 25px;z-index: 1;height: 25px;width: 25px;text-align: center;}

.mailer__mandatary {font-weight: 700; font-size: 15px; display: block;}
.mailer__btn {padding: 10px;border-radius: 8px;text-align: center;min-width: 230px;display: inline-block;text-transform:
	uppercase;text-decoration: none;float: right;cursor: pointer;margin-top: 0;margin-bottom: 25px}
.mailer__btn:hover, .mailer__btn:focus{text-decoration: none}

.mailer__contactList.error { border: 2px solid #000; position: relative;}
.mailer__contactList.error:before,  .mailer__checks.error:before {content: 'Mandatory Field';position: absolute;top: -31px;font-size: 14px;right: 0;color: red;}
.mailer__checks.error {border: 2px solid red;}
.mailer__txtArea.error .mailer__field {display: block;margin-top: 6px;font-size: 14px;}
.mailer__txtArea.error .mailer__txtarea { border: 2px solid red;}

.mailer__well {padding: 20px;text-align: center;border: 1px solid #000; clear: both;}

.mailer__btn.disable {cursor: not-allowed;}
.mailer__txtarea::-webkit-input-placeholder{font-weight: 100;}
.mailer__well.error {border: 2px solid #000}


@media only screen and (min-width : 991px) and (max-width : 1199px) {
	.mailer__contactItem { width: 32.1%;}
}
@media only screen and (min-width : 768px) and (max-width : 991px) {
	.mailer__contactItem { width: 31.7%;}
	.mailer__contactItem .mailer__contactName {max-width: 64px}
	.mailer__contactLanguage { top: 14%; left: 13%;}
}
@media only screen and (min-width : 490px) and (max-width : 768px) {
	.mailer__contactLanguage { top: 5%; left: 31%;}
}
@media only screen and (min-width : 645px) and (max-width : 767px){
	.mailer__contactItem  { width: 31.6%;}
}
@media only screen and (min-width : 555px) and (max-width : 644px){
	.mailer__contactItem  {width: 29.3%;}
}
@media only screen and (min-width : 320px) and (max-width : 554px){
	.mailer__contactItem  {width: 29.6%;}
}

@media only screen and (min-width : 0) and (max-width : 490px) {
	.mailer__contactLanguage { top: 3%; left: 20%;}
}
@media only screen and (min-width : 0) and (max-width : 767px) {
	.mailer__contactItem a { padding: 20px 0; text-align: center;}
	.mailer__contactItem .mailer__contactName { display: block;font-size: 13px; max-width: 80px;margin: 0 auto;}
	.mailer__contactImg{ margin-right: 0;margin-bottom: 11px};
	.mailer .mailer__title { font-size: 15px}
	.mailer .mailer__txt {font-size: 13px}
	.mailer__btn {float: none; margin-top: 20px}
	.mailer__checks {margin-bottom: 25px}
	.mailer__contactBox {margin: 30px 0}
}


@media only screen and (min-width : 0) and (max-width : 991px) {
	.mailer__checks {margin-bottom: 20px;}
	.mailer__check {margin-bottom: 10px;}
	.mailer__label {margin-bottom: 10px;}
	.mailer .mailer__title { margin: 0 0 10px;font-size: 18px;}
	.mailer{ padding: 20px 0}
}
@media only screen and (min-width : 0) and (max-width : 767px) {
	.mailer__checksTilte {display: inline-block;margin-bottom: 15px;}
	.mailer__contactList.error:before{font-size: 13px;top: -25px;}
	.mailer__txtArea.error .mailer__field {margin-top: 19px; font-size: 13px; margin-bottom: 4px;}
	.mailer__checks.error:before {font-size: 13px}
}
