.methodologies_widget{padding:40px 0;}
.methodologies_widget a{color:inherit;}
.methodologies_widget .methodologies__content {display:inline-block;border-left:1px solid #e1e1e1;}
.methodologies_widget .methodologies__content:first-child {border-left:none;}
.methodologies_widget .methodologies__link {display: inline-block; text-align: center; margin: 0 auto; text-decoration: none;}
.methodologies__content .methodologies__icon {height: 100px; display: block; text-align: center; margin: 0 auto;}
.methodologies_widget .section_container {text-align:center;}
.methodologies_widget .text{text-align:center; font-size:17px; margin-top:10px; margin-bottom:40px; font-weight:normal;line-height: 22px;}
.methodologies_widget .icon_container{margin:20px 0;}
.methodologies_widget .icon_container .single_icon .icon_title{font-size:14px;}
.methodologies_widget .section{padding:0 15px;}
.methodologies_widget .section_container .first_part_container{overflow:hidden; text-align:center;}
.methodologies_widget .section .link {position:absolute; bottom:20px; display:block; border-radius:4px; padding:5px 30px; font-size:1.3rem; right:35px; text-decoration:none; color:#fff; background-color:#197bbd;}
.methodologies_widget .section .link:hover{background-color:#156ca6;}
.methodologies_widget .section .title{font-weight:bold; font-size:20px; margin-bottom:8px; margin-top:20px; display:block; text-decoration:none;}
.methodologies_widget .section .subtitle{font-size:16px; font-weight:normal; overflow:hidden;}
.methodologies_widget .section .second_part_container{padding:0;/* fix bootstrap problem with padding on xs-1 */ height:61px;}
.methodologies_widget .section .second_part_container span{text-align:center;}
.methodologies_widget .section {margin-bottom: 0px;}

/* MEDIAQUERY WIDGET */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 0px) and (max-width : 767px) {

.methodologies_widget .methodologies__content {border-left:0;border-top:1px solid #bebebe; padding:20px 0 0;}
.methodologies_widget .methodologies__content:first-child {border-top:none;padding:0;}
	.methodologies_widget .section .second_part_container span{font-size:20px; padding-top:2rem; display:block;}
    .methodologies_widget .section .title{margin-top: 10px; display:inline-block;}
    .methodologies_widget .section_container .first_part_container img{max-height:45px; padding-top:0.5rem;}
	.methodologies_widget .methodologies__content {margin-top: 30px;}
	.methodologies_widget .methodologies__content:first-child {margin-top: 0px;}
	.methodologies_widget .text{margin-bottom: 30px}
	.methodologies__content .methodologies__icon{width: 60%}
}

@media only screen and (min-width : 768px) and (max-width : 1000px) {
    .focus_on_widget .white_box .description {min-height:90px !important;}
}
