.module_3 {padding:40px 0; position:relative; text-align:center;display: block; text-decoration: none; cursor: pointer;}
.module_3:hover{ text-decoration: none}
.module_3 .widget_title {margin:0 0 15px; font-weight:normal; line-height:0.8em;text-decoration: none}
.module_3.last_content {margin-bottom:23px;}
.module_3 .description {font-size:18px; line-height:1.1em;}
.module_3 .modulo_img {width:9%; display:inline-block; margin:0 0 30px;}
@media only screen and (min-width : 0) and (max-width : 768px) {
	.module_3 .modulo_img {width:20%;}
}
