.modulo_4 {text-align:center; padding:35px 0;}
.modulo_4 h2 {font-size:22px; margin:0;}
.modulo_4 p {margin:15px 0 30px 0; padding:0 205px;}
.modulo_4 .button__left {text-align:right; margin-bottom:0;}
.modulo_4 .button__right {text-align:left;}
.modulo_4 .blue_button {text-transform:uppercase; height:23px; display:table; margin:0 auto 0 0; min-width:300px;}
.modulo_4 .button__left .blue_button{margin:0 0 0 auto;}
.modulo_4 .blue_button a{display:table-cell; vertical-align:middle; height:46px;}
.modulo_4 .button__right a::after {content:'\e944'; margin-left:6px; display:inline-block; vertical-align:middle;}
.modulo_4 h2:before {content:''; background:none; margin:0 auto; height:73px; display:block; margin-bottom:20px;}

@media only screen and (min-width : 768px) and (max-width : 991px) {
	.modulo_4 p {margin:11px 0 22px 0; padding:0;}
}

@media only screen and (max-width : 767px) {
	.modulo_4{padding:15px 0 25px 0;}
	.modulo_4 p{font-size:0.95em; margin:15px 0 22px 0; padding:0;}
	.modulo_4 .blue_button{min-width:100%;}
	.modulo_4 .button__left,
	.modulo_4 .button__right{text-align:center;}
	.modulo_4 .button__left{margin-bottom:15px;}
	.modulo_4 .blue_button,
	.modulo_4 .button__left .blue_button{margin:0 auto;}
	.modulo_4 h2{font-size:1.3em; letter-spacing:.05em;}
	.modulo_4 h2::before {height:65px; margin-bottom:20px;}
	.modulo_4 .blue_button a{height:62px;}
}