REPLY ALLIANCES COORDINATED BY AN ALLIANCE MANAGER
/* Partnership Carousel Widget */
.wrapwidg.partnerships{padding:30px 0;}
.wrapwidg.partnerships h2.widget_title{text-transform:uppercase; text-align:center; letter-spacing:.05em; margin:0 0 26px;}
.wrapwidg.partnerships h2.widget_title::after{/*content:'Reply Alliances coordinated by a dedicated Reply\'s alliance manager';*/display: block;font-size:.7em;text-transform: none;}
.wrapwidg.partnerships .widget_padding .container{padding:0 15px;}
.wrapwidg.partnerships .partner{display:inline-block; text-align:center; padding:0 4px;}
.wrapwidg.partnerships .partner .link{display:block;}
.wrapwidg.partnerships .partner .link .logo{display:block; margin:0 0 10px; padding:8px 20px; border:1px solid #e2e2e2; border-radius:4px; transition:all .3s cubic-bezier(0.4, 0, 1, 1);}
.wrapwidg.partnerships .partner .link:hover .logo{position:relative; box-shadow:0 0 15px -5px #777; z-index:2;}
.wrapwidg.partnerships .partner .link .logo span{display:block; width:100%; height:50px; background-size:contain; background-repeat:no-repeat; background-position:center center;}
.wrapwidg.partnerships .partner .link[href*='Amazon'] .logo span{background-image:url(../../../../alliance/images/client_logo/amazon_logo.svg?v=@TAMTAMY_PREVENT_CACHE@);}
.wrapwidg.partnerships .partner .link[href*='Google'] .logo span{background-image:url(../../../../alliance/images/client_logo/google_logo.svg?v=@TAMTAMY_PREVENT_CACHE@);}
.wrapwidg.partnerships .partner .link[href*='Microsoft'] .logo span{background-image:url(../../../../alliance/images/client_logo/microsoft_logo.svg?v=@TAMTAMY_PREVENT_CACHE@);}
.wrapwidg.partnerships .partner .link[href*='Oracle'] .logo span{background-image:url(../../../../alliance/images/client_logo/oracle_logo.svg?v=@TAMTAMY_PREVENT_CACHE@);}
.wrapwidg.partnerships .partner .link[href*='Salesforce'] .logo span{background-image:url(../../../../alliance/images/client_logo/salesforce_logo.svg?v=@TAMTAMY_PREVENT_CACHE@);}
.wrapwidg.partnerships .partner .link[href*='SAP'] .logo span{background-image:url(../../../../alliance/images/client_logo/sap_logo.svg?v=@TAMTAMY_PREVENT_CACHE@);}
.wrapwidg.partnerships .partner .link button{padding:5px 25px; border-radius:3px; border:none; font-size:.78em; text-transform:uppercase;}
.wrapwidg.partnerships .partner .link button label{font-size:12px; line-height:1em; text-transform:uppercase;}