.plugin_peopleWidget,
.column_generico div[class*="plugin_"]  {margin:0 0 30px;}
.plugin_peopleWidget .widget_padding > span,
.column_generico div[class*="plugin_"]  .widget_padding > span{border: 1px solid #000;display: block;padding: 10px;}
.plugin_peopleWidget #peopleWidgetContainer #wall,
.column_generico div[class*="plugin_"] #peopleWidgetContainer #wall {margin: 0 -5px -5px;overflow: hidden;}
.plugin_peopleWidget #peopleWidgetContainer #wall .user,
.column_generico div[class*="plugin_"] #peopleWidgetContainer #wall .user {float:left;width:20%;overflow:hidden;min-height: 64px;position:relative;padding: 0 4px 10px;box-sizing:border-box;-moz-box-sizing:border-box;}
.plugin_peopleWidget #peopleWidgetContainer #wall .user img,
.column_generico div[class*="plugin_"] #peopleWidgetContainer #wall .user img {margin:0;padding:0;width:100%;height:auto;}
.plugin_peopleWidget #peopleWidgetContainer #wall .user a.hangout_add_remove_link,
.column_generico div[class*="plugin_"] #peopleWidgetContainer #wall .user a.hangout_add_remove_link  {height: 18px;}

.widgetListFooter {display: block; clear:both; text-align:center;position: relative; bottom: -9px}
.widgetListFooter .widgetListPager {}
.widgetListFooter .widgetListPager .prev,
.widgetListFooter .widgetListPager .next{text-indent:-9999px;display:inline-block;position:relative;border: none;width: 20px;background-color: transparent;}
.widgetListFooter .widgetListPager .prev::before,
.widgetListFooter .widgetListPager .next::before{content: '\e948';display:block;position:absolute;top:0;font-family:'tamtamy-icon';text-indent:0;width: 20px;}
.widgetListFooter .widgetListPager .next::before{content: '\e944';}


	@media only screen and (min-width : 580px) and (max-width : 1199px) {
		.plugin_peopleWidget #peopleWidgetContainer #wall .user, .column_generico div[class*="plugin_"] #peopleWidgetContainer #wall .user {
			width: 25%
		}

	}


	@media only screen and (min-width : 580px) and (max-width : 991px) {

	.plugin_peopleWidget.members, .plugin_.members {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0;
		position: relative;
	}
	.column_generico div[class*="plugin_"].members{
		margin-bottom: 0;
	}
	.plugin_peopleWidget.members .widget_padding > span, .plugin_.members .widget_padding > span{

		height: 335px
	}
	.widgetListFooter{
		position: absolute;
		bottom: 7px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}

/*.plugin_peopleWidget #peopleWidgetContainer #wall .user,
	.column_generico div[class*="plugin_"] #peopleWidgetContainer #wall .user {width:9%;}*/
}


/*@media only screen and (max-width : 991px) {
	.plugin_peopleWidget.members {
		width: 50%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 0
	}
	#companies {
		width: 49%;
		display: inline-block;
	}
	.companies .widget_padding .templateInfo {
		height: 249px
	}
}*/
