 /*----- WIDGET STRUCTURE ----- */
/*.portal .widget_title {border: none;background: none;text-align: center;font: bold 1.5em 'MontSerrat';color: #303030;}*/

/* Red Title for widget */
.widget_title {font:normal 1.5em 'MontSerrat';}

.redTitle .widget_title{ letter-spacing: 3px; font-weight: normal;}
.centredTitle .widget_title {text-align: center;font-size: 22px;margin: 0;font-weight: bold;}
.portal .centredTitle .widget_title {font-weight:normal;}
.lefTitle .widget_title { text-align: left;}
.uppercasTitle .widget_title { text-transform: uppercase;}
.capitalizedTitle .widget_title { text-transform: capitalize;}

.nestedPage.lefTitle .contacts .widget_padding .widget_title {margin-bottom:10px; padding-left:20px; letter-spacing:normal;}
.nestedPage.lefTitle .title--btn .widget_title:first-child,
.nestedPage.lefTitle .column_generico .widget_title{padding-left: 0;}
.nestedPage.lefTitle > .widget_title {text-align:center; font-size:18px; padding:20px 0; margin:0;}
.nestedPage.lefTitle .widget_padding.container .widget_title:first-child {margin-bottom:10px; padding-left:0; letter-spacing:normal; margin-top:0;}
