.blue_button {
    background-color: #197BBD;
    text-align: center;
    border-radius: 5px;
	position: relative;
}
.blue_button a {
    color: #ffffff;
    font-size: 15px;
	display: block;
     padding: 10px;
	text-decoration: none;
}

.blue_button .arrow-btn span {
/*	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);*/
}


.blue_button .fix_mobile {
    padding: 0; /* fix bootstrap problem with padding on xs-1 */
}

.blue_button a:hover, .flat_blue_button a:hover {
    color: #ffffff;
}

.blue_button span {
	    color: #ffffff;
}

.blue_button:hover, .flat_blue_button:hover {
	background: #156ca6;
	transition: all 0.3s ease;
}

.blue_button a.uppercase {
    text-transform: uppercase;
}

.flat_blue_button {
    background-color: #197BBD;
    text-align: center;
}

.flat_blue_button a {
    text-transform: uppercase;
    padding: 10px 0;
    color: #ffffff;
	display: block;
	text-decoration: none;
}

.flat_blue_button span
{
    text-transform: uppercase;
    padding: 10px 0;
    color: #ffffff !important;
    display: block;
	font-size: 13px
}

@media only screen and (min-width : 0px) and (max-width : 767px) {

    .blue_button.align-center
    {
        text-align: center;
    }

    .blue_button .mobile_title
    {
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 18px;
        margin-bottom: 10px;
    }

}
