/*.portal .container {width: 100%;max-width: 1168px;}*/
.portal .widget_padding{border:none;}
/*.portal .container#tt-mainwrap {max-width: 100%;}*/
/*.portal #tt-mainwrap.container {max-width: 100%;padding: 0;}*/
/*.portal #headercanvas.main-canvas-empty {margin-top: 70px;}*/
.portal #message-area {left: 50%; margin-left: -584px;}
.portal .headercolumn {padding: 0;}
.portal .bodycolumn {padding: 0;}
.portal .lightgray{background-color:#f6f7f8;}
.portal .poolgreen{background-color:#32c5cc;}


/* quando il titolo ha il bottone accanto: */
.widget_padding  .title--btn {
	margin-bottom: 40px;
}
.widget_padding  .title--btn h2 {
	margin-top: 0
}

/* tolto link view all iniettato */
.widget_padding .vwall {
	display: none
}

/* Overwrite Derrida Settings: */
/* Removing white bg from all the widgets */
.widget_padding
{
    background-color: transparent;
}

#message-area{background:#fdfdfd; border-radius: 0; color:#404040;}

/*
Colors:

Red: #E34646
Green:
Blue: #197BBD
Yellow:
 */
