/* tagsManagement CSS */

.text {color: #777777;}
.centralBody .column_padding { padding: 0; border: 1px solid #D6D6D6; }
.help, .global-tag-cloud {  float: right; }
.help { padding-left: 5px; }
.swatHistory {  border-right: 1px solid #D6D6D6; float: right; padding-right: 5px;}
.global-tag-cloud {padding: 0 25px 5px 0; font-weight: bold; }
.select-tags, .view-tags, .change-tag { padding: 20px 15px 10px; }
#view-tags.view-tags { padding-top: 10px; }
.ac_input { margin-top: 2px; vertical-align: top; min-width: 150px; border: 1px solid #D6D6D6; padding: 5px; }
.addTags .wraptag { min-height: 20px; padding: 5px 0 10px 0; }
.addSingleTag { margin-top: 5px; }
.tag_list.fake-field { min-height: 24px; }
.tagcloud { border-radius: 7px 7px 7px 7px; margin: 15px; clear: both;}
.wwgrp, .wwctrl { display: inline; }
.generic_button { float: none; display: inline;}
.changeTags .widget_title, .cloud .widget_title { border-top: 1px solid #D1D1D1; }
#homeContentFilter > ul {  clear: both; }

#homeContentFilter .filter { float: right; padding: 5px 5px 0 5px; font-size: 85%; color: #777777;}
#homeContentFilter .filter:hover {font-size: 100%;}
#monthly_time_tag.filter { margin-right: 20px; }
#homeContentFilter .filter.on {font-size: 100%; font-weight: bold;}


/* modal CSS */

.clearfix{zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.hide{display:none;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80);display:block;}
.modal{position:fixed;top:10%;left:50%;z-index:1050;width:400px;margin-left:-200px;background-color:#ffffff;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-60%;}
.modal.fade.in{top:30%;}
.modal-header{padding:9px 20px;border-bottom:1px solid #eee;}
.modal-header .close{margin-top:2px; float: right;}
.modal-header h3{margin:0;line-height:30px; display:inline; font-size: 20px;}
.modal-body{position:relative;overflow-y:auto;max-height:400px;padding:15px;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;}
.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn + .btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn + .btn{margin-left:-1px;}
.modal-footer .btn-block + .btn-block{margin-left:0;}
.body {margin: 10px 5px 5px 10px}