/*Layout*/
#tt-navbar {position:fixed;z-index:999999;top:0; width:100%;     min-height: 6.5rem; /*box-shadow: 0 0 1rem rgba(0, 0,0,.5);*/ background:#FFF;    border-bottom: solid .1rem #197BBD;}
#tt-centralbody {margin-top:6rem;}

#header_dropdown {max-width: 100%; padding:0 .5rem; }
.mainMenu .navbar-default .navbar-brand {/*-webkit-text-stroke: .01rem #000; better but not xbrowser */
/*patch*/ /*text-shadow: .01rem .01rem 0 #000, -.01rem -.01rem 0 #000, .01rem -.01rem 0 #000, -.01rem .01rem 0 #000;*/}
.mainMenu > .widget_padding {margin:0; border:none; background:transparent;}
.navbar{min-height:10px; margin:0; border:none; background:transparent;}
.navbar-collapse {border:0;}
.navbar-toggle.menu {margin:1rem 15px; padding:10px 0; border:none; border-radius:100px; width:20px;}
.navbar-toggle[data-target='#portal_menu'] {float:left;}
.navbar-toggle.menu.profile .icon-bar,
.navbar-toggle.menu.search .icon-bar,
.navbar-toggle.menu.work .icon-bar{display:none;}
.navbar-toggle.menu.profile::before,
.navbar-toggle.menu.search::before,
/*.navbar-toggle.menu.work::before{font:normal 2em 'projectIcons'; vertical-align:middle; }
.navbar-toggle.menu.work::before{content:'\e92a';}*/
.navbar-toggle.menu.profile::before{content:'\e924'; font-size:2.2em;}
.navbar-toggle.menu.search::before{content:'\e928';}

.navbar.navbar-default .container{}
.navbar-default .navbar-brand {font:900 normal 1.5rem/1.5rem 'MontSerrat', Arial, Helvetica, sans-serif; padding:1.5rem 0; max-width:150px;}
.navbar-default .navbar-nav > li > a{font:600 normal 1.2rem/1.2rem 'MontSerrat', Arial, Helvetica, sans-serif; text-transform:uppercase; padding:2.5rem 1.5rem;}

.mainMenu .navbar-left .navbar-nav > li:not(.open) > a:after{content:''; height:.2rem; opacity:0;  background:#000; position:absolute; bottom:2rem; left:50%; right:50%;}
.mainMenu .navbar-left .navbar-nav > li > a:hover:after,
.mainMenu .navbar-left .navbar-nav > li.active > a:after{ opacity:1; left:1.5rem; right:1.5rem;  transition: 300ms ease-in-out all; -webkit-transition: 300ms ease-in-out all;}

.mainMenu .navbar-left .navbar-nav > li > a.dropdown-toggle:hover:after,
.mainMenu .navbar-left .navbar-nav > li.active > a.dropdown-toggle:after{ right:3rem;}

.navbar-default .navbar-toggle:focus{background:transparent;}

.mainMenu .dropdown-menu{min-width:.1rem; width:100%; box-shadow:none; padding:0; border-radius:0; margin:0; }
.mainMenu .dropdown-menu > li,
.mainMenu .dropdown-menu > div{padding:1.5rem 2rem; font-size:1.2rem;}
.mainMenu .dropdown-menu > li > a,
.mainMenu .dropdown-menu > div > a{margin:-1.5rem -2rem; padding:1.5rem 2rem; font-size:1.1rem; white-space: normal;}
.mainMenu .dropdown-menu > li.divider{display:none;}

.mainMenu .navbar-right .dropdown-menu{width:auto; min-width:14rem; transition: 200ms ease-in-out all; -webkit-transition: 200ms ease-in-out all;}
.mainMenu .navbar-right .dropdown-submenu .dropdown-menu{min-width:13rem;}

.mainMenu .navbar-right.profile .dropdown-menu a{white-space: nowrap;}

.mainMenu .navbar-nav .dropdown-menu li{border-top:solid .1rem; }
.mainMenu .navbar-nav .dropdown-submenu .dropdown-menu{left:100%; top: 0; bottom: 0;}
.mainMenu .navbar-nav .dropdown-submenu:hover .dropdown-menu{display:block; }
.mainMenu .navbar-nav .caret{border-style: solid; border-width: 0 .1rem .1rem 0; display: inline-block; padding: .3rem;
	 margin-left: .5rem; vertical-align:middle; position:relative; top:-.25rem;
	 transform: rotate(45deg); -webkit-transform: rotate(45deg);
}

.mainMenu .navbar-nav .open .dropdown-toggle .caret{ transform: rotate(-135deg);-webkit-transform: rotate(-135deg); top:.1rem;
	transition: 300ms ease all; -webkit-transition: 300ms ease all;
}

.mainMenu .navbar-nav .dropdown-submenu .caret{ transform: rotate(-45deg);-webkit-transform: rotate(-45deg);
	transition: 300ms ease all; -webkit-transition: 300ms ease all;
}

.mainMenu .navbar-nav .dropdown-submenu:hover .caret{
	 -webkit-animation: subCaret 1s 1; /* Safari 4.0 - 8.0 */
    animation: subCaret 1s 1;
}


#Profile_Menu .dropdown-toggle,
#Search_Menu .dropdown-toggle,
#Work_Menu .dropdown-toggle { padding:1.5rem; display:inline-block;}

.work a.dropdown-toggle span{font-size: 3rem;}




/*Skin*/
.mainMenu .navbar-toggle.menu.work::before{ color:#000;}
.mainMenu .navbar-default .navbar-brand {color: #000;}
.mainMenu .navbar-default .navbar-nav > li > a{color:#000; }
.mainMenu .navbar-default .navbar-nav > li > a:hover,
.mainMenu .navbar-default .navbar-nav > li > a.selected{color:#000;}
#header_dropdown {background:#fff;}
.mainMenu  .navbar-nav > .active > a,
.mainMenu  .navbar-nav > .active > a:focus,
.mainMenu  .navbar-nav > .active > a:hover{background:transparent;}

.mainMenu .navbar-left .navbar-nav>.open>a,
.mainMenu .navbar-left .navbar-nav>.open>a:focus,
.mainMenu .navbar-left .navbar-nav>.open>a:hover,
.mainMenu .navbar-left .dropdown-menu{background:#0b7abf; color:#FFF; border:none;}
.mainMenu .navbar-left .open .dropdown-menu{background:#0b7abf;}
.mainMenu .navbar-left .open .dropdown-menu>li>a,
.mainMenu .navbar-left .open .dropdown-menu>li>a:hover,
.mainMenu .navbar-left .open .dropdown-menu>li>a:visited{color:#FFF;}
.mainMenu .navbar-left .navbar-nav .dropdown-menu li{border-color:#4394cc;}
.mainMenu .navbar-left .navbar-nav .dropdown-menu > li > a:focus,
.mainMenu .navbar-left .navbar-nav .dropdown-menu > li > a:hover {background:#0b6ba8;}
.mainMenu .navbar-left .navbar-nav .dropdown-submenu:hover{background:#0b6ba8;}
.mainMenu .navbar-left .navbar-nav .dropdown-submenu .dropdown-menu{background:#0b6ba8;}

.mainMenu .lbl-menu{display:none;}

.mainMenu .navbar-right .navbar-nav>.open>a,
.mainMenu .navbar-right .navbar-nav>.open>a:focus,
.mainMenu .navbar-right .navbar-nav>.open>a:hover,
.mainMenu .navbar-right .dropdown-menu{background:#e7e7e7; /*color:#FFF;*/ border:none;}
.mainMenu .navbar-right .open .dropdown-menu{background:#e7e7e7;}

.mainMenu .navbar-right .navbar-nav .dropdown-menu li{border-color:#FFF;}
.mainMenu .navbar-right .navbar-nav .dropdown-menu > li > a:focus,
.mainMenu .navbar-right .navbar-nav .dropdown-menu > li > a:hover {background:#d9d9d9;}
.mainMenu .navbar-right .navbar-nav .dropdown-submenu:hover{background:#d9d9d9;}
.mainMenu .navbar-right .navbar-nav .dropdown-submenu .dropdown-menu{background:#d9d9d9;}

.mainMenu  .navbar-nav .caret{border-color: #000; }
.mainMenu  .navbar-left .navbar-nav .open .caret{border-color:#FFF;}

.mainMenu .navbar-nav .dropdown-submenu .dropdown-menu > li a:hover{background: rgba(0,0,0,0.2);}
.mainMenu .avatar img{border-radius:50%; height:30px; border:solid 1px #9f9f9f;}


.mainMenu .navbar-right.profile > ul,
.mainMenu .navbar-right.profile > ul > li,
.mainMenu .navbar-right.work > ul,
.mainMenu .navbar-right.work > ul > li{margin:0; padding:0; list-style: none;}

.mainMenu .navbar-right a,
.mainMenu .navbar-right a:hover,
.mainMenu .navbar-right a:focus {text-decoration: none;}


/*Animations*/
@-webkit-keyframes subCaret {
    0% {left: 0;}
    50% {left: 1rem;}
    100% {left: 0;}
} 
@keyframes subCaret {
    0% {left: 0;}
    50% {left: 1rem;}
    100% {left: 0;}
}

/*custom media query in ordet to adjust menu behaviour*/
@media only screen and (min-width : 769px) and (max-width : 1050px) {
		.navbar-default .navbar-nav > li > a{padding-left:.5rem; padding-right:.5rem; font-size:1rem;}
		.mainMenu .navbar-left .navbar-nav > li > a:hover:after,
		.mainMenu .navbar-left .navbar-nav > li.active > a:after { left:.5rem; right:.5rem; }
		.mainMenu .navbar-left .navbar-nav > li > a.dropdown-toggle:hover:after,
		.mainMenu .navbar-left .navbar-nav > li.active > a.dropdown-toggle:after{ right:2rem;}
}


@media only screen and (min-width : 320px) and (max-width : 768px) {
	.mainMenu .dropdown-menu > div{padding:1rem ;}
	.mainMenu .dropdown-menu > li > a,
	.mainMenu .dropdown-menu > div > a{margin:-1rem -1rem; padding:1rem 1rem; }
	.mainMenu .navbar-left .navbar-nav .dropdown-submenu .dropdown-menu{display:block; position:static;}

	.mainMenu .navbar-right .dropdown {position: static;}

	.mainMenu .navbar-right.profile a.dropdown-toggle{position:absolute; top:0; right:0}
	.mainMenu .navbar-right.work a.dropdown-toggle{position:absolute; top:0; right:70px}



}
