.page_title, .page_title:after, .page_title:before {
	/*background: rgb(25,123,189);
	background: -moz-linear-gradient(top,  rgba(25,123,189,1) 0%, rgba(42,160,196,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(25,123,189,1) 0%,rgba(42,160,196,1) 100%);
	background: linear-gradient(to bottom,  rgba(25,123,189,1) 0%,rgba(42,160,196,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#197bbd', endColorstr='#2aa0c4',GradientType=0 );
	*/
	
	
	background: rgb(25,123,189);
	background: -moz-linear-gradient(top,  rgba(25,123,189,1) 0%,  rgba(61,197,202,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(25,123,189,1) 0%, rgba(61,197,202,1) 100%);
	background: linear-gradient(to bottom,  rgba(25,123,189,1) 0%, rgba(61,197,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#197bbd',  endColorstr='#3dc5ca',GradientType=0 );
	
}

.page_title h1{
	padding:3rem 1rem 1rem 1rem; padding:0; margin:0; text-align:center; font:normal 3.6rem/100% 'MontSerrat', Arial, Helvetica, sans-serif; color:#FFF;     text-transform: capitalize;  
	 display: table-cell;vertical-align: middle;
}	
.page_title{min-height:13rem; position:relative;border-bottom:solid 2rem #FFF;}
.page_title .widget_padding{ width: 100%;height: 100%; position: absolute;}
.page_title .widget_padding > div{  height: 95%;display: table; width: 100%;vertical-align: middle;}

.page_tabber{
	color: #FFF; text-align:center; position:relative;
}

.page_tabber .widget_padding{padding:2rem 1rem 3rem 1rem;}







.page_tabber/*, .page_tabber:after, .page_tabber:before*/{
	margin-top:-7rem; 
	/*background: rgb(43,160,196);
	background: -moz-linear-gradient(top,  rgba(43,160,196,1) 0%, rgba(61,197,202,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(43,160,196,1) 0%,rgba(61,197,202,1) 100%);
	background: linear-gradient(to bottom,  rgba(43,160,196,1) 0%,rgba(61,197,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ba0c4', endColorstr='#3dc5ca',GradientType=0 );*/
}

.page_tabber .nav-pills *, 
.page_tabber .nav-pills *:hover,
.page_tabber .nav-pills *:focus{background:transparent; border:none; color:inherit; padding:0; margin:0; font: inherit; box-sizing: border-box;}

.page_tabber .nav-pills{display:inline-block;margin:0 auto; 
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.page_tabber .nav-pills>li, .page_tabber .nav-pills>li:hover{padding:0 2rem 1.5rem 2rem; }

.page_tabber .nav-pills>li>a:after{content:''; height:.2rem; opacity:0;  width:0; background:#FFF; position:absolute; bottom:-.2rem; left:50%; right:50%;}

.page_tabber .nav-pills>li>a:before, 
.page_tabber .nav-pills>li>a:focus:before, 
.page_tabber .nav-pills>li>a:hover:before{content:''; width: 0; height: 0; 	position:absolute; bottom:0; z-index: 1; left:50%; margin-left:-1.5rem;
	border-left: 1.5rem solid transparent; border-right: 1.5rem solid transparent;  border-top: 1.5rem solid rgba(61,197,202,1) ; opacity:0;}

.page_tabber .nav-pills>li.active>a, 
.page_tabber .nav-pills>li.active>a:focus, 
.page_tabber .nav-pills>li.active>a:hover{background:transparent;}

.page_tabber .nav-pills>li.active>a:before, 
.page_tabber .nav-pills>li.active>a:focus:before, 
.page_tabber .nav-pills>li.active>a:hover:before{opacity:1; bottom:-2rem;}

.page_tabber .nav-pills>li>a:hover:after, 
.page_tabber .nav-pills>li.active>a:after, 
.page_tabber .nav-pills>li.active>a:focus:after, 
.page_tabber .nav-pills>li.active>a:hover:after{opacity:1; width:100%;left:0; right:0;}


.page_tabber .nav-pills>li>a:before, 
.page_tabber .nav-pills>li>a:after{transition: 300ms ease all; -webkit-transition: 300ms ease all;}


.page_title:after, .page_title:before{content:''; position:absolute; top:0; bottom:1rem; width:3rem; z-index:2;}

.page_title:after{left:0rem; 
	mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	-moz-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	-webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.page_title:before{right:0rem; 
	mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	-moz-mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
	-webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
	

/* Roles to handle  hscroll */
	/*.page_tabber {overflow:hidden; height:5rem; }*/
	
/*	.page_tabber .widget_padding:after {content: '';height: 2rem;    margin: 0 -1rem; background: #FFF;display: block;position: relative;top: 3rem;}*/
.page_tabber .nav-pills:after {
   content: '';  height: 2rem; background: #FFF; display: block; position: absolute;  bottom: 0;right: 0;left: 0;
}

	.page_tabber .widget_padding{ overflow-x: auto; overflow-y: hidden;  }
	.page_tabber .widget_padding::-webkit-scrollbar { display: none; } 
	
	.page_tabber .nav-pills{white-space: nowrap; display:table;    cursor: default;}
	.page_tabber .nav-pills li{display:table-cell; float:none;}


						/* Smartphones (portrait and landscape) ----------- */

/*.page_tabber .nav-pills {  overflow-x: auto; overflow-y: hidden;  display: -webkit-box;  display: -moz-box;}

.page_tabber .nav-pills::-webkit-scrollbar { display: none; } 

.nav-pills>li {  float: none;}*/

.page_tabber.page_tabber_fixed{
	margin:0; position:fixed; width:100%; z-index: 88;
	/*transition: 300ms ease all; -webkit-transition: 300ms ease all;*/
	background: rgb(48,170,197);
	background: -moz-linear-gradient(top,  rgba(48,170,197,1) 0%, rgba(61,197,202,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(48,170,197,1) 0%,rgba(61,197,202,1) 100%);
	background: linear-gradient(to bottom,  rgba(48,170,197,1) 0%,rgba(61,197,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30aac5', endColorstr='#3dc5ca',GradientType=0 );

}

.page_tabber.page_tabber_fixed .widget_padding{padding:1rem 1rem 0 1rem;} 

.page_tabber.page_tabber_fixed .nav-pills>li.active>a:before, 
.page_tabber.page_tabber_fixed .nav-pills>li.active>a:focus:before, 
.page_tabber.page_tabber_fixed .nav-pills>li.active>a:hover:before
{display:none;}
.page_tabber.page_tabber_fixed .nav-pills:after{height:1rem; display:none;}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.page_tabber .nav-pills>li.active>a, 
	.page_tabber .nav-pills>li.active>a:focus, 
	.page_tabber .nav-pills>li.active>a:hover{font-size:100%;top:0;}
}

@media only screen and (max-width : 767px) {
	.page_tabber .nav-pills>li>a:hover:after,
	.page_tabber .nav-pills>li>a:focus:after{display:none;}
}