/* --------------------------------------------
----------------------------------------------- ACTIVE ELEMENTS */
input[type="submit"].button{border:none;font-size:1em;font-family:inherit;}
.button,
a.button{cursor:pointer;margin:0 5px;text-decoration:none;display:block;color:#fff;text-decoration:none;padding:5px 10px;}
.button.blue,
a.button.blue{background-color:#4697f0;}

.button.white,
a.button.white{background-color:#f4f4f4;color:#444;}
.button.blue:hover,
a.button.blue:hover,
.button.white:hover,
a.button.white.hover{text-decoration:none;background-color:#09f;color:#fff;box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);}

.filters-tool .navi-filters .stream,
.content_attachment .download{display:block;color:#fff;text-decoration:none;background:url(../img/bk-button-blu.png?v=@TAMTAMY_PREVENT_CACHE@);}
.drop-down-box a.filterOff,
.numbers a,
#homeContentFilter a,
#postFilter a{color:inherit;text-decoration:none;display:block;}

	/* HOVERED */
.button.blue:hover,
.filters-tool .navi-filters .stream:hover,
#postFilter a:hover{background-color:#09f;color:#479bf5;box-shadow:0 1px 3px rgba(0, 0, 0, 0.1);}

.drop-down-box li a:hover{background-color:#f8f8f8;}

	/* SELECTED INACTIVE */
.drop-down-box .filterOn,
.numbers .selected a,
#homeContentFilter .filterOn{color:#333;background-color:#f8f8f8;cursor:default;display:block;text-decoration:none;}

	/* SELECTED ACTIVE */