/* --------------------------------------------
----------------------------------------------- ALERTS & ERRORS */
/* ------------------------------------------------------------------------------------------- ALERTS & ERRORS */
#inap{position:relative; float:left; width:100%; padding:0; margin:0 0 30px;}
#inap h1{clear:none; color:#a73838; padding:0 0 10px; font-size:12px;}
#inap .alert_message{padding:10px; border:1px solid #eed3d7; overflow:visible; color:#b94a48; background-color:#f2dede;}
#inap p{}
#inap .alert_icon{display:none; background:url(../graphic/ico_moderation_alert.gif?v=@TAMTAMY_PREVENT_CACHE@) center center no-repeat; float:left; height:52px; width:50px; top:0; left:0; margin:0 10px 0 0;}
#inap .buttons_wrapper{line-height:25px; background:#f1f1f1; height:32px; padding:10px; margin-top:1px;}
#inap .buttons_wrapper .return{margin:0 15px 5px 0;}
#inap .request_action{float:left; font-weight:bold;}
.inap{margin:0 0 10px; padding:4px 0 0; width:100%; background:#f4dcdc url(../graphic/grad_red_alert.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x top;}

#wrapComment ul li.inap .commentSignature a{color:#a73838;}
#wrapComment ul li.inap .commentValue{color:#d17272;}
#wrapComment ul li.inap .timestamp{color:#a73838;}
#wrapComment ul li.inap .action_comm a{display:none;}
#wrapComment li.inap .utenza_commento img{}
#wrapComment ul li.inap .alert-icon{display:none; background:url(../graphic/ico_moderation_alert_25.png?v=@TAMTAMY_PREVENT_CACHE@) center center no-repeat; height:25px; width:25px; position:absolute; top:45px; left:5px; z-index:10;}
#wrapComment ul li .buttons_wrapper{display:none}
#wrapComment ul li.inap .buttons_wrapper{line-height:25px; display:block; border-top:1px solid #d17272; background:#f0f0f0; padding:5px 5px 0 10px;}
#wrapComment ul li.inap .buttons_wrapper .request_action{float:left; font-weight:bold;}

.errorField span{text-align:right; color:#d93131; font-weight:bold; margin-top:-28px; display:inline; height:20px; line-height:20px; padding:10px 35px 0 0; background:url(../graphic/warning.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right center;}
.errorMessage{background:none repeat scroll 0 0 #f00; box-shadow:0 1px 3px rgba(0, 0, 0, 0.4); color:#fff; display:inline-block; font-size:12px; font-weight:bold; margin-bottom:10px; overflow:auto; padding:10px; line-height:1.2em;}
.ideaWrapper .meta_row_column {position:relative;}
.ideaCoverLink .meta_row_column.error-area > .chosen-container {border:1px solid #f00;}
.ideaWrapper ul.errorMessage {position:absolute; right:0; bottom:0; max-width:30%; margin:0; min-height:18px;}
.ideatextOverDescription {text-transform:none;}
.ideaCoverLink .chosen-container-single .chosen-single.chosen-default > span {display:none;}
.ideaCoverLink .chosen-container-single .chosen-single.chosen-default::before {content:'Select a Project cover'; display: inline-block;}
.ideaWrapper .errorMessage + label + input.input-box {border: 2px solid #f00 !important;}

#message-area{z-index:89; margin:0; min-width:250px; padding:10px 0 0; background:#fcf8e3; color:#c09853; position:fixed; font-weight:bold; box-shadow:0 1px 3px rgba(0, 0, 0, 0.3); overflow:hidden; border-radius:0 0 5px 5px; top:-100px;}
#message-area .errorbox {padding:10px; border-top:1px dashed #ecbb68;}
#message-area .errorbox ul li,
.errorbox  ul li{list-style-type:none; padding:10px 0;}
.message-area{z-index:89; margin:0; min-width:250px; padding:10px 0 0 0; background:#fcf8e3; color:#c09853; position:fixed; font-weight:bold; box-shadow:0 1px 3px rgba(0, 0, 0, 0.3); overflow:hidden; border-radius:0 0 5px 5px; top:-100px;}
.alert_padding{padding:10px; border-top:1px dashed #ecbb68;}
.alert span.title,
#message-area .errorbox span.title{font-size:12px; font-weight:bold; margin:0 0 5px; display:block;}
.alert a,
#message-area .errorbox a{color:#ae8414;}
.alert .alert_padding .policy,
#message-area .errorbox .policy {margin-top:2px;}