/* --------- Loader Animation --------------------------- */
.jtt-plug-loading,
.jtt-loading-opacity{position:absolute; text-indent:-200000em; top:0; left:0; right:0; bottom:0;}
.jtt-plug-loading{background:url(../../img/wait.gif?v=@TAMTAMY_PREVENT_CACHE@) center center no-repeat; z-index:10000001;}
.projectCover .jtt-plug-loading{background-image:none;}
.projectCover .jtt-plug-loading:before{text-indent:0; content:'\f110'; font-family:'FontAwesome'; font-size:6.5em; display:block; position:absolute; top:50%; left:47%; animation: spin 2s infinite linear;}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
	}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
	}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
	}
.jtt-loading-opacity{ opacity:.8; filter:alpha(Opacity=80); z-index:10000000;}




