/*----------------Adv Autocomplete------------------- */
.jtt-autocomplete{display:inline; padding:2px 0; width:400px; max-width:400px;}
#search .jtt-autocomplete{display:inline-block; width:auto; padding:0;}

.jtt-autocomplete .jtt-auto-float{position:absolute;margin: 0 -5px;padding: 0 2.5px;z-index:3;overflow-y:auto;width:100%;box-sizing:content-box;background-color:#fff;border:1px solid #ccc;box-shadow:1px 1px 2px #ccc;}
.projectCover.details .fc-extend-section .jtt-autocomplete .jtt-auto-float{position:relative !important; left:0 !important; top:-1px !important; display:inline-block;}
.withLeftSidebar .jtt-autocomplete .jtt-auto-float{left:3.5%; min-width:96.5%;}
.smart_uploader_widget .jtt-autocomplete .jtt-auto-float{z-index:2000; /*max-height:150px; //In order to use this we need to enable mouse-scroll, arrows and browser scroller first*/}
.section .fake-inputfile-field .label.tag_editor .jtt-autocomplete .jtt-auto-float{margin:30px 0 0;}
.projectCover .section .fake-inputfile-field .label.tag_editor .jtt-autocomplete .jtt-auto-float{margin:0;}
.jtt-autocomplete .jtt-auto-float .jtt-item{padding: 2px 0 2px 32px;cursor:pointer;height:38px;line-height:1.3em;z-index:2;white-space:nowrap;}
.upload-box .categorization .jtt-autocomplete .jtt-auto-float {left:0 !important; top:32px !important; box-shadow:none; width:100%; box-sizing:border-box; border:none; background-color:transparent; padding:0 0 0 200px;}
.projectCover .upload-box .categorization .jtt-autocomplete .jtt-auto-float{padding:0px;}
.upload-box .categorization .jtt-autocomplete .jtt-auto-float > span {border:1px solid;}
.jtt-autocomplete .jtt-auto-float .jtt-item-avatar{position: absolute;left: 5px;width:32px;height:32px;padding: 0;}

.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere{background-image:url(../../img/icon-sphere.png?v=@TAMTAMY_PREVENT_CACHE@); background-repeat:no-repeat; background-position:left center; padding:0 0 0 24px;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-event{background-image:none;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere img{display:none;}

.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere,
.jtt-autocomplete .jtt-auto-float .jtt-tags .jtt-item{height:26px; line-height:26px;}
.jtt-autocomplete .jtt-auto-float .jtt-fulltext{min-height:20px; line-height:20px; height:auto; padding-left:25px; font-weight: bold;/* background-image:url(../../img/full-text-ico.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;background-position:4px 3px */}
.jtt-autocomplete .jtt-auto-float .jtt-fulltext-context{min-height:20px; line-height:20px; height:auto; padding-left:25px;}
.jtt-autocomplete .jtt-auto-float .jtt-fulltext.selected{cursor:pointer;}
.jtt-autocomplete .jtt-auto-float .jtt-fulltext-context:hover{cursor:pointer;}
.jtt-autocomplete .jtt-auto-float .jtt-tag img{display:none;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag{padding:0 0 0 24px;position:relative;}
/*.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag:hover,*/
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag:before{content:'';display:block;position:absolute; top:2px; left:2px; width:20px; height:20px; background:url(../../img/icons-set-30x30.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -346px -4px;}

.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-event:before {content:'\f145'; display:block; position:absolute; left:7px; font-family:'FontAwesome'; font-size:1.35em;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-portal:before {content: '\e966';display: block;position: absolute;left: 7px;font-family:'tamtamy-icon';font-size: 1.35em;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-technical:before {content: '\f013';display: block;position: absolute;left: 7px;font-family:'FontAwesome';font-size: 1.35em;}

/*----------------Checkbox-----------------*/
.jtt-checkbox .jtt-checker{display:block;float:left;line-height:11px;vertical-align:text-bottom; border:1px solid; margin:0 4px 0 2px; height:11px; width:11px;}
.jtt-checkbox .jtt-checked div{height:18px; width:18px; background:url(../../img/check.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0; position:relative; top:-5px; left:-1px;}
.jtt-checkbox span{cursor:pointer; display:block; float:left; line-height:1.2em; padding:2px 0 0; box-sizing:border-box; height:12px;}