/* --------------------------------------------
----------------------------------------------- TAGGING */
.tagcloud{margin:0;padding:5px;background:#e2e2e2 url(../../img/bg-clouds-grey.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;overflow:hidden;text-align:center;}
.tag_list{clear:both;overflow:auto;text-align:center;word-wrap:normal;overflow: hidden;padding-bottom: 10px;}
.tag_list a{color:#bcbcbc;text-decoration:none;}
.tag_list a:hover{color:#459bf2;text-decoration:none;text-shadow:none;}
.tag_list h2{width:100%;padding-bottom:5px;margin-bottom:10px;height:22px;margin-top:10px;}
.tagcloud p.viewall{padding:7px 0 0;}
.tagMoreView {display:block;}
.tagMoreView .viewalltxt{padding:0px 20px 0px 20px;font-size:12px;float:left;}
.tagMoreView .expandtagcloud{padding:0px 20px 0px 20px;font-size:12px;float:right;}

.tag-name-anchor{margin:0 -10px 0 0;}
#skill_wraptag{border:1px solid #ccc; background:#f1f1f1; width:285px; overflow:auto; float:left; height:auto; min-height:32px; width:88%; margin:0 5px 10px;}
#tagForm p.tag_yourself,
#tagForm p.tag_thisuser{display:none; position:absolute; top:2px; right:4px; padding:0;}
#tagForm #addTagForm{display:block; position:relative; top:0; height:30px; min-height:30px; width:auto; overflow:hidden; clear:both; right:0; text-align:right; padding:3px 10px 0; border:1px solid #ddd; background:#fff;}
#tagForm #addTagForm p{color:#666; padding-bottom:5px;}
#tagForm #addTagForm p input{width:370px; float:left; padding:4px; margin-left:5px;}
#tagForm #addTagForm p textarea{width:188px; vertical-align:top; margin-left:5px;}
#tagForm #tags{clear:both; padding-top:10px;}
#waitingTags a.reject,
#waitingTags a.approve{margin-left:5px; padding:0 0 0 15px;}
#taglist a#photo{border:0; width:auto; height:auto; margin:0; padding:0;}
.cleared img.addTags{margin-top:10px; margin-bottom:15px;}
.addContent .wraptag,
.addGroup .wraptag{height:auto; margin-right:0; min-height:80px; overflow:auto;}
.addContent .wraptag p,
.addGroup .wraptag p{padding:2pt 0;}
.addContent .wraptag a{margin-left:5px;}
#group p#taglist img{width:19px; height:10px; background:none; float:none; margin:0;}
#addTagForm a.close_box_tag,
.box_help_role a.close_help_role,
.box_help_role a.close_help_role{display:block; padding-bottom:4px;}
#tagForm a.pull_tag_yourself{width:142px; height:21px; float:right;}
#tagForm a.pull_tag_thisuser{width:142px; height:21px;}
#tagForm a.pull_tag_yourself span,
#tagForm a.pull_tag_thisuser span{cursor:pointer; color:#666; font-weight:700; padding:3px 0 0 47px;}
#taglist{position:relative; float:left; width:100%; padding:10px 0;}
.content_details img{vertical-align:middle;}
.addContent div.wraptag p,.addGroup div.wraptag p{font-weight:400; line-height:2;}
#tagForm #addTagForm a.aggiungi{font-weight:700;font-size:12px;color:#4b93bc;}
#waitingTags a.reject{background:url(../../img/pull_reject.jpg?v=@TAMTAMY_PREVENT_CACHE@) 0 2px no-repeat;}
#waitingTags a.approve{background:url(../../img/pull_approve.jpg?v=@TAMTAMY_PREVENT_CACHE@) 0 2px no-repeat;}
#tagPreviewZone,
.tagPreviewZone{overflow:auto; clear:both; border-top:1px solid #d6d6d6; background:#fff; padding:2px 0 8px 8px; margin:0; cursor:default;}
#tagPreviewZoneHeader,
.tagPreviewZoneHeader{display:block; width:100%; height:30px; overflow:visible; clear:both; background:#fff; margin:0; cursor:default;}
.projectCover #tagPreviewZone,
.projectCover .tagPreviewZone{background:#f5f5f5;}

#t1_skill_tagging{display:block;}

div.ac_results{top:245px; left:56px; min-width: 160px !important;}
#ac_me{position:static;}
#ac_me.notification{top:0; left:0; position:relative; float:none; min-width:60px; width:64%;}
#notificationSettingsSemplified{width:100%;}
.tag_list{float:none;}
.settings .tag_list {display: block; padding:0 10px 0 48px;}
.close_skill_tag{display:block;}
#form_insert_tags label{line-height:26px;}
.notification-adv-button{display:none;}

/* --------------------------------------------------------------
 ----------------------------------------------------------------- canvas red ribbon*/
.jtt-ribbon-main{width:300px; float:right;}
.jtt-ribbon{padding:0; margin:0 10px; float:left; position:relative; width:230px; height:110px; background:url(/tamtamy/skins/phelsuma/skins/canvas-red-ribbon/cv-ribbon-bk.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -37px;}
.jtt-ribbon li  {list-style:none; position:absolute; left:0; top:-37px;}
.jtt-ribbon li a{width:230px; height:150px; text-indent:-20000em; display: block;}

.jtt-ribbon-navi{width:24px; height:24px; margin:30px 0; text-indent:-20000em; display:block; background:url(/tamtamy/skins/phelsuma/skins/canvas-red-ribbon/cv-ribbons-prev-next.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.jtt-ribbon-navi.prev{background-position:0 0;float:left;}
.jtt-ribbon-navi.next{background-position:-24px 0;float:right;}
.jtt-ribbon-navi.prev:hover{background-position:0 -24px:}
.jtt-ribbon-navi.next:hover{background-position:-24px -24px;}