/*------------------------------------*\
	Chooser / and tags
\*------------------------------------*/
.jtt-chooser{border:1px solid transparent;height:auto;cursor:text;}
.qtip-wrapper .jtt-chooser{padding:1rem .5rem;}
.jtt-chooser input{border:none;margin:0 0;width:auto;}
.jtt-chooser .jtt-selected-item{float:left;display:block;overflow:auto;}
.reshare-tooltip .jtt-chooser .jtt-selected-item {overflow: hidden;}
.jtt-chooser input.smart-upload-chooser {width:auto;}

.attachment_selected span,
.fulltext_selected span,
.user_selected span,
.tag_selected span,
.jtt-chooser .jtt-selected-item span{position:relative;cursor:pointer;display:inline-block;}

.attachment_selected,
.fulltext_selected,
.user_selected,
.tag_selected,
.jtt-sphere,
.sphere-selected,
.jtt-chooser .jtt-tag,
span.sphere,
.tag_token{height:18px;line-height:18px;/*22px<-- Revert to old version*/font-size:11px;padding:0 24px 0 7px;display:block;}
.content-tags .tag_token,
.tags-undeletetable .tag_token {padding-bottom: 2px;margin: 0 2px 5px 0;}
.tags-undeletetable .tag_token {padding-right: 7px;}

.jtt-auto-float .jtt-sphere,
.jtt-body .jtt-sphere,
.jtt-body .jtt-tag{height:auto;font-size:1em;}
.jtt-auto-float .jtt-sphere,
.jtt-body .jtt-tag{padding:0;}

.attachment_selected,
.fulltext_selected,
.user_selected,
.tag_selected,
.jtt-selected-item .jtt-sphere,
.jtt-selected-item .jtt-tag,
.filters-tool .sphere.current,
.sphere-selected,
.tag_token,
.filters-tool .jtt-sphere{color:white;margin:0 .5rem .5rem 0;position:relative;float:left;line-height: 18px;}
.tag_token{height:18px;/*1.8em <-- Revert to old version */}
.sphereContent .tag_token {height: 18px;line-height:18px;margin: 5px 2px 0 0;}
.tag_token:before{/*content:'';position: absolute;display: block;left: -21px;background: transparent;width: 0;height: 0;border:transparent solid 12px;border-right:#326EAD solid 9px; <-- Revert to SU v2*/}
.tag_token a,
.tag_token a:hover,
.tag_link_token{text-decoration:none;}



span .jtt-add-message{padding:0 5px;line-height:20px;white-space:nowrap;font-size:12px;}
.qtip-wrapper span .jtt-add-message{ font-size: inherit; padding:0; line-height: 100%;}
.sphereContent span .jtt-add-message{font-size:12px;}

.jtt-chooser-float{display:inline-block;vertical-align:top;left:0;min-height:100px;min-width:200px;z-index:1000000001;}
.jtt-chooser-float span{padding:0 4px;margin-right:10px;display:block;}
.jtt-chooser-float div{padding:4px 0 6px 0;}
.jtt-chooser-float .jtt-item-all,
.jtt-chooser-float .jtt-circle,
.jtt-chooser-float .jtt-sphere,
.jtt-chooser-float .jtt-tag{cursor:pointer;}

/* --------- TamTamy PluginsGraphic --------------------------- */
.jtt-chooser-float,
.jtt-auto-float{border:1px solid transparent; }
.jtt-chooser .jtt-chooser-float,
.jtt-auto-float > span{padding:5px; width:100% !important; box-sizing:border-box; margin:0; z-index:5000;}
.jtt-auto-float > span{display:block;}

/* --------- Autocompleter ------------- */
.jtt-mention-autocompleter{ position: absolute;top:-20000em;width:1%!important;}
.redactor-editor .mention-in-text {text-decoration:underline;}



