/* ------------------------------------------------------------------------------------------- COMMENTS */
#wrapComment{position:relative; margin:0;}
div.action_comm, div.quote_comm{padding:0; clear:both;}
#wrapComment .utenza_commento,
#wrapComment .commento{color:#666; line-height:1.2em; font-size:11px;}
#wrapComment .utenza_commento img{float:left; border-radius:50%;}
#wrapComment .utenza_commento .author-little{}
#wrapComment iframe{width:664px; margin-bottom:10px; border-left:1px solid transparent; border-right:1px solid transparent; border-bottom:1px solid transparent; border-top:0;}
#wrap_addcomments ul{margin:10px 0 0; padding:0; list-style:none; width:100%; float:left; position:relative;}
#wrap_addcomments ul li{margin:0; padding:0; list-style:none; float:left; display:inline;}
#wrap_addcomments ul li a{display:block; float:left; margin:0; list-style:none; padding:0 10px; line-height:25px; height:25px; margin-left:10px; background:url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) bottom repeat-x;border:1px solid transparent;font-weight:bold;}
#wrap_addcomments{float:left; padding:5px 0 10px 0; position:relative; width:100%;}
#wrap_addcomments .user_to_comment img{margin-top:5px;margin-right:0;width:42px;height:42px;}
#wrapComment h3.addComment{background:transparent; url(../../../../img/content/fumetto-scrivi.gif?v=@TAMTAMY_PREVENT_CACHE@) 15px center no-repeat;}
#wrapComment .commento .commentValue{margin-top:5px; padding-left:42px; word-wrap:break-word;padding-right: 15rem;}
#wrapComment .edit .commento .commentValue {padding-right: 0;}
#wrapComment .edit .action_comm  .removeComment {display:none;}
#wrapComment .edit .action_comm a.editcom {cursor:default;}

.projectCover.details #wrapComment .commento .commentValue .text{display:inline !important; float:none;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .comments .commentValue .text{font-size:15px;}

.commentValue .redactor-box {margin-top:30px;}
.user_to_comment{positio:relative;float:left;}
.user_to_comment img{padding:3px;box-shadow:none;}
.commentSignature em{font-style:italic;}
.commentSignature{font-size:11px;}
.commentItem{width:100%;float:left;clear:both;position:relative;padding:4px 0;border-bottom:1px solid transparent;}
.commentItem img{padding:3px;border:1px solid transparent;background:url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom transparent;float:left;margin:0 5px 5px -40px;}
.commentItem p{padding:0 0 0 40px;}

span.commentDate{margin-left:4px;font-size:11px;font-style: italic;}

.utenza_commento img{background:none; border:none; height:32px; width:32px; margin:0 10px 5px 0;}
#commentsTitle{display:none;}
.commentsIcon{background:transparent url(../../img/glyphicons-halflings.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll -238px -116px; height:20px; text-indent:-20000em; width:20px; margin:0 0 -10px; float:left; display:none;}
.comment-input-zone{float:left; width:calc(100% - 31px); border-left:1px solid transparent; border-bottom:1px solid transparent; border-right: 1px solid transparent; display:none; cursor:text;}
.portal .comment-input-zone{width:calc(100% - 50px); border-width:0 0 1px 1px;}
.comment-input-zone .redactor-box{border:0;margin-bottom: 0px !important; border: 0; border-top: 1px solid transparent;}
.comment-input-zone .redactor-editor{border: 0; border-top: 1px solid transparent;}
.buttons_wrapper{border:none;width:auto;overflow:auto;}
.sphereContent .footer .buttons_wrapper {text-align:center; margin:0 0 20px;}
.leave-comment {font-size: 12px;border: none; width:calc(100% - 31px); height: 27px;line-height: 27px;vertical-align: middle;display: inline-block;}
.portal .scheda .leave-comment{width:calc(100% - 50px); height:40px; line-height:40px;}
.projectCover.details .comment-icon{position:absolute;}
.projectCover.details .leave-comment{padding:0 0 0 33px;}
.projectCover.details .comment-input-zone{box-sizing:border-box; width:100%; padding:0 0 0 33px; border-left:none;}
.projectCover.details .redactor-editor{max-width:100%;}


.comments{padding-bottom: 0;}

.content_addcomment{margin-top: 20px;}
.comments ul{list-style-type: none; }

/** COMMENTS button */
.generic_button, .generic_button_danger {cursor: pointer;float: right;display: block;height: 22px;line-height: 22px;padding: 0 15px;margin: 5px 5px 5px 5px;font-weight: bold;border: none;}


/** COMMENT - button like */
#wrapComment ul li {padding-bottom:0; position:relative; padding:10px 0; border-bottom:1px solid #c5d4d9;}
#wrapComment ul li:first-child{padding:0 0 10px;}
#wrapComment ul li p{margin-bottom:0;}
#wrapComment ul li:after {content: ''; clear:both;	display:table;}
#wrapComment ul li .action_comm {position: static;}
#wrapComment ul li .action_comm:after {content: ''; clear:both; display:table; width:100%;}

/*.content_addcomment ~ [id^="su-description-comment"]{display:none;}*

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	span.commentDate {
		display: block;
		margin-left: 0;
	}
	#wrapComment .commento .commentValue{padding-right: 0}

}


@media only screen and (min-width : 320px) and (max-width : 767px) {

	#wrapComment ul li {
		padding-bottom: 50px;
		position: relative;
	}
	#wrapComment ul li:after {
		content: '';
		clear: both;
		display: table;
	}
	#wrapComment ul li:first-child{padding:0 0 50px;}

}
