/*------------------------------------ Content
--------------------------------------*/
.compact_wrapper {position:relative;}
.portal .no_content_message.emptyReload ul{list-style:none;}
/*content detail alzato*/
.wrapwidg.contentDetail{position:relative; top:-128px; z-index:9;}
.compact_wrapper::after{content:''; display:table; clear:both;}
.content-deco{border:none; padding:10px; width:82%;}
#dettaglio{padding:0; margin:0; float:none; width:auto;}
.content_header{width:auto; position:inherit; float:none;}
.content_header div.inline-rating{margin:0;}
.content_view_description{float:none;}
.content_actions{width:auto; margin:0; float:none;}

.tag-label,
.group-label {line-height:23px;}

img.content_avatar,
.user_to_comment img{border:none; padding:3px; margin:10px 5px 0 5px; height:58px; width:58px;}
.content_other_info .content_group_single{text-decoration:inherit;}

.content_other_info .content_visibility_info,
.tagging {border-top:1px dashed transparent; padding:5px 0 0; margin:0;}
.interno .comments{display:inline-block; float:right; margin:-5px 3px 100px 80px; width:84%;}
.interno .comments > div{padding:0 10px;}
.interno .tag-input.fake-field {margin:10px 0; background:transparent url(../../img/icon-tag.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px; padding-left:24px; cursor:text;}
.interno .tag-input.fake-field input{border:none;}
.widget_padding .page-description{text-align:center; padding:0 109px; margin:0 0 32px;}
.widget_padding .page-description.bold {font-weight:bold;}
.widget_padding .page-description span {font-weight:bold; text-transform:capitalize; color:#003e9c;}

.direct-message .dojoTabPaneWrapper {clear:none !important;}
.direct-message .skin {width:400px; margin:0 10px 0 10px;}

/* --------------------------------------------
----------------------------------------------- CONTENT TOOLBAR */
#content_view_toolbar ul {position:relative; float:left;}
#content_view_toolbar div.hint,
.content-toolbar div.hint{display:none;}

/* graphic buttons */
.icons #flag_new{margin:0; padding:0; float:right; z-index:1000;}
.icons #flag_new a{position:relative; float:left; height:25px; width:25px; text-indent:-9999px; margin:0 2px 2px 0;}
.icons #flag_new a.tool_modify{background:url(../../img/ico-content-modify.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_revision {background:url(../../img/ico-content-versioning.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_delete {background:url(../../img/ico-content-delete.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_favourite_add{background:url(../../img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;}
.icons #flag_new a.tool_favourite_del{background:url(../../img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -25px;}
.icons #flag_new a.tool_add_group{background:url(../../img/ico-content-groups.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_send_mail{background: url(../../img/ico-content-mail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_thumbnail_set{background: url(../../img/ico-content-thumbnail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_thumbnail_automatic{background: url(../../img/ico-content-thumbnail-auto.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_remove_highlight{background: url(../../img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -25px;}
.icons #flag_new a.tool_add_highlight{background: url(../../img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;}
.icons #flag_new a.tool_flag_inappropriate{background: url(../../img/ico-content-inappropriate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_moderation{background: url(../../img/ico-content-moderate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_feature_add{background: url(../../img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;}
.icons #flag_new a.tool_feature_del{background: url(../../img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -25px;}
.icons #flag_new a.tool_stats{background: url(../../img/ico-content-stats.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a.tool_question_closed{background: url(../../img/ico-content-question-closed.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.icons #flag_new a:hover{background-position: 0 -25px;}

.content-toolbar{padding:0; position:absolute; display:block; float:right; top:0; right:0; z-index:1;}
.content-toolbar a,
.user-toolbar a{margin:0 3px 0 0; position:relative; float:left; height:35px; width:35px; text-indent:-9999px; transition:300ms ease-in-out all; text-align:center;}
.user-toolbar a{height:27px; width:27px;}
.user-toolbar a span{display:block;}
.content-toolbar li:last-child a,
.user-toolbar li:last-child a{margin:0;}
.content-toolbar a:hover.disable,
.user-toolbar a:hover.disable{cursor:default;}
.content-toolbar a:hover:not(.disable):before,
.user-toolbar a:hover:not(.disable):before{font-weight:bold;}

.content-toolbar a:before,
.user-toolbar a:before,
.voteComment a:before,
.toggle-right-label-hide:before,
.toggle-right-label-show:before,
a.editcom:before,
a.deletecom:before,
.vote_positive:before,
.vote_negative:before{display:block; position:absolute; width:35px; height:35px; top:50%; left:50%; right:0; bottom:0; font:normal normal 3rem/35px 'tamtamy-icon'; speak:none; text-transform:none; text-indent:0; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; transform:translateX(-50%) translateY(-50%); -webkit-transform:translateX(-50%) translateY(-50%); transition:100ms ease all;}
.qtip .user-toolbar a:before{width:35px; height:35px;}
.toggle-right-label-hide:before,
.toggle-right-label-show:before {top:50%; right:0; transform:translateY(-50%); -webkit-transform:translateY(-50%);}

.prCover .cover_library .scheda.coverLibrary:hover .content-toolbar a:before {line-height: 25px;}
.prCover .cover_library .scheda.coverLibrary .content-toolbar a:before {line-height: 25px;}

/*.content-toolbar a.tool_modify:before {
	line-height: 25px;
}*/

.content-toolbar a.tool_modify:before {content: '\e916'; font-size: 2.5rem;}
.content-toolbar a.tool_delete:before {content: '\e90e';font-size: 2.4rem;}
.content-toolbar a.tool-reshare-content-touser:before {content: '\e91c';font-size: 2.6rem;}
.content-toolbar a.tool-reshare-content:before {content: '\e91b'; font-size: 3rem;}

.content-toolbar a.tool_favourite_add:before,
.user-toolbar a.tool_favourite_add:before{content: '\e912';}

.content-toolbar a.tool_favourite_add:before {font-size: 3.2rem;}
.content-toolbar a.tool_favourite_del:before,
.user-toolbar a.tool_favourite_del:before {content: '\e911';}
.content-toolbar a.tool_favourite_add:before {content: '\e912';font-size: 2.9rem;}
.content-toolbar a.tool_favourite_del:before {content: '\e911'; font-size: 2.9rem}

.content-toolbar a.tool_rate.rated:before {content: '\e91d'; font-size: 3rem;}
.content-toolbar a.tool_rate:before {content: '\e91e';font-size: 3rem;}

.content-toolbar a.tool_rate.rated {content: '\e91d';}


.content-toolbar a.tool_highlight_add:before {content:'\e922'; font-size:2.8rem;}
.content-toolbar a.tool_highlight_del:before {content:'\e97f'; font-size:2.8rem;}

.user-toolbar a.hangoutsToolbarCallToAction:before {content: '\e91f';}

.content-toolbar a.tool_unfollowed:before { content: '\e917'; font-size:3.1rem}
.content-toolbar a.tool_follow::before {content: '\e918'; font-size:3.1rem}

.content-toolbar a.tool_thumbnail_set:before {content:'\e95f'; font-size:2.5rem}

.content-toolbar a.send_direct_message::before,
.user-toolbar a.send_direct_message::before{content:'\e93a';}

.async-hidden-reshare-content{display:none;}

.group_highlight .tool_highlight_add,
.group_highlight .tool_highlight_del {position:absolute; text-indent:-999px; display:block; width:49px; top:-10px; right:0; overflow:hidden;}
.tool_highlight_add {background-position:-224px 0;}
.tool_highlight_del {background-position:-224px -40px;}
.user.tool_highlight_del {cursor:default;}

.group_highlight .tool_highlight_add:after,
.group_highlight .tool_highlight_del:after{content:''; display:block; height:34px; width:29px; background:transparent url(../../img/icon-featured_gray.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -10px -6px;}
.group_highlight .tool_highlight_del:after{background-image:url(../../img/icon-featured.png?v=@TAMTAMY_PREVENT_CACHE@);}

.tool-reshare-content{background-position:-384px 0;}

.tool-reshare-content-touser{background-position:-352px 0;}
.tool_thumbnail_set{background-position:-256px 0;}
.content-toolbar a.tool_modify:hover{background-position:-128px -40px;}
.content-toolbar a.tool_delete:hover{background-position:-160px -40px;}
.async .content-toolbar a.tool_modify:hover{background-position:-128px -120px;}
.async .content-toolbar a.tool_delete:hover{background-position: -160px -120px;}

.tool_thumbnail_set:hover,
.tool_thumbnail_set.qtip-open{background-position:-256px -40px;}
.tool-reshare-content:hover,
.tool-reshare-content.qtip-open{background-position:-384px -40px;}
.tool-reshare-content-touser:hover,
.tool-reshare-content-touser.qtip-open{background-position:-352px -40px;}

/*** TOOLTIP ***/
.qtip.qtip-light .qtip-tip[rel="topleft"]{opacity:0;}
.qtip-wrapper .qtip-content > div{font-size:1rem; padding:.5rem;}
.qtip-wrapper .qtip-content .user_tooltip div img{border-radius:50%;}
.qtip-wrapper .qtip-content input:focus,
.qtip-wrapper .qtip-content textarea:focus{outline:none;}
.qtip-wrapper h3{font-size:1.1rem; font-weight:600; margin:0; padding:0;}
.qtip-wrapper p{padding:.2rem 0; margin:0;}
.cleaner{clear:both; font-size:1px; height:0; text-indent:-20000em;}
.qtip-overflow-normal .qtip-contentWrapper,
.qtip-overflow-normal .qtip-wrapper,
.qtip-overflow-normal .qtip-content {overflow:visible !important;}
.qtip-wrapper textarea {padding:1rem .5rem; display:inline-block; background:transparent none repeat scroll 0 0; border:1px solid transparent; cursor:text; height:auto;}

/*user tooltip*/
.user_tooltip {padding:.5rem; position:relative;}
.user_tooltip_side {float:left; width:20%;}
.user_tooltip_content {float:left; width:70%; padding:0 1rem;}
.user-actions {float:right; width:10%;}
.user_tooltip_side .user_tooltip_avatar {display:block; width:100%; overflow:hidden; text-align:center;}
.user_tooltip_side .user_tooltip_avatar img {max-width:100%;}
.user_tooltip h4 {font-size:110%; font-weight:900; margin:0; padding:0;}
.user_tooltip h4 .nickname {font-style:italic; font-weight:normal;}
.user_tooltip .role{display:none;}
.user_tooltip .company{font-weight:600;}

.qtip .user_tooltip div[id^="social_hangouts_button_profile_"]{display:block !important;}

/*tmp*/
.user_tooltip .user-toolbar a,
.user_tooltip .user-toolbar a {margin: 0 .5rem 0 0; position: relative; float: left; height: 3rem; width: 2rem; text-indent: -9999px; transition: 300ms ease-in-out all;}
.user-toolbar a:before,
.user_tooltip .user-toolbar a:before {font-size: 2rem;}
.user-toolbar {margin: 0; padding: .5rem 0 0 0; text-align: center;}
.user-toolbar li {display: inline-block; margin: 0; padding: 0;list-style: none;}
.user_tooltip li:not(.favorite-user) {/* display: none; */}
.user_tooltip > div:not(:first-child) {margin-left: 65px !important; float: none !important;}
.user_tooltip .role {}
/*end tmp*/


.scheda .user-toolbar {display: none;position: absolute; top: 35px; left: 71px;margin: 0; padding: .5rem 0 0 0; text-align: center;}


/*reshare tooltip*/
.reshare-tooltip {padding: 5px;}
.reshare-tooltip .step-two {}
.step-two-loading {background: url(../../img/loading.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center bottom; text-indent: -20000em; line-height: 30px;}
.step-two-success {text-transform: uppercase; text-align: center; font-size: 1.3em;}
.step-one-error {font-style: italic; clear: both; padding: 10px 0 0;}
.step-two-error {text-align: center; font-size: 1.3em;}
.reshare-tooltip-button {margin: 10px 10px 0 0; float: right; line-height: 22px;}
.reshare-tooltip .fake-field {padding: .5rem 0;}

/*sharing user message*/
.reshare-message-textarea {min-height: 2rem; width: 100%; resize: none;}
.rate-tooltip h3 {padding-bottom: 1rem;}
/**/
.author-and-messages {float: left;}

.scheda.coverCompact .author-and-messages{padding:100px 0 0 30px; margin:0 10px 0 0;}

.details-general-user-avatar .user-toolbar{clear:left; float:left;}
.details-general-user-avatar .user-toolbar li{width:24px;}
.details-general-user-avatar{float:left;}

#wrapComment .utenza_commento{position:relative; margin-right:15rem;}
.commentToolbar .user-toolbar .hangoutsToolbarCallToAction{content:'\f03D'; display:block; text-indent:0; font:normal 0.9em 'FontAwesome'; text-align:center; width:100%; margin:0 auto; height:12px;}
.commentToolbar .user-toolbar .hangoutsToolbarCallToAction::before{width: 100%; left:0; top:1px;}

.commentToolbar .user-toolbar{display:table !important; width:30px; overflow:hidden; position:absolute; left:0; top:32px; border-top:none; padding:0 !important;}
.commentToolbar .user-toolbar li{width:50% !important; overflow:hidden !important; display:table-cell;}
.commentToolbar .user-toolbar li.favorite-user{width:40% !important;}
.commentToolbar .user-toolbar a{display:block; width:14.5px; height:10px; margin:0 auto; background:none;}
.commentToolbar .user-toolbar .tool_favourite_add{background-position:-16px 0;}
.commentToolbar .user-toolbar .tool_favourite_del {background-position:-16px -16px;}
.commentToolbar .user-toolbar a.tool_favourite_add::after{content:''; text-indent:0; background:url(../../img/icons-set.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -13px 0; width:10px; height:12px; position:absolute; left: 2px; background-size:36px; top:0;}
.commentToolbar .user-toolbar a.tool_favourite_del::after{content:''; text-indent:0; background:url(../../img/icons-set.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -13px -12px; width:10px; height:12px; position:absolute; left:2px; background-size:36px; top:0;}
.commentToolbar .user-toolbar .send_direct_message{display:block; text-align:center; width:100%; margin:0 auto; height:12px;}
.commentToolbar .user-toolbar a.send_direct_message::after{content:''; text-indent:0; background:url(../../img/icons-set.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0; width:12px; height:12px; position:absolute; left:1.5px; background-size:36px; top:.5px;}

/* Text Buttons */
.text #flag_new{margin:0; padding:5px; width:260px; position:relative; float:right; z-index:1000;}
.text #flag_new a{width:100px; overflow:hidden; font-size:10px; text-align:left; position:relative; float:left; height:18px; line-height:18px; padding:1px 5px 1px 25px; background:transparent url(../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom; color:#aaa;}
.text #flag_new a:hover{text-decoration:none; background:transparent url(../../img/grad_01_rev.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x top;}
.text #flag_new a.tool_modify{background:url(../../img/ico-content-modify.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_revision{background:url(../../img/ico-content-versioning.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_delete{background:url(../../img/ico-content-delete.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_favourite_add{background:url(../../img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_favourite_del{background:url(../../img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -27px;}
.text #flag_new a.tool_add_group{background:url(../../img/ico-content-groups.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_send_mail{background:url(../../img/ico-content-mail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_thumbnail_set{background:url(../../img/ico-content-thumbnail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_thumbnail_automatic{background:url(../../img/ico-content-thumbnail-auto.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_remove_highlight{background:url(../../img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -27px;}
.text #flag_new a.tool_add_highlight{background:url(../../img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_flag_inappropriate{background:url(../../img/ico-content-inappropriate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_moderation{background:url(../../img/ico-content-moderate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_feature_add{background:url(../../img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_feature_del{background:url(../../img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -27px;}
.text #flag_new a.tool_stats{background:url(../../img/ico-content-stats.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_question_closed{background: url(../../img/ico-content-question-closed.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a:hover{background-position:0 -27px;}

.toolbarPanel{overflow:auto; padding:4px;}
.toolbarPanel_padding{padding:0 10px;}
.tagging{display:block; clear:both; margin:10px 0;}

.content_item_tags{display:block;}
.relatedContents .content_item_tags{display:static; clear:none; margin:5px 0;}
.cool_textarea{width:100%;}

/*------------------------------------*\
	Content List
\*------------------------------------*/
.scheda .content a:hover {
    text-decoration: none;
}

.scheda .content a h2:hover {
    text-decoration: none;
}

.content_group_single,
.content_user_single {
    padding: 0 8px 0;
    border: none;
    color: #fff;
    float: left;
    margin: 0 5px 5px 0;
    max-width: 387px;
    white-space: nowrap;
    display: inline-block;
}

.scheda .content .author .user {
    float: left;
    padding-right: 5px;
}

.scheda .expander {
    text-align: center;
    background: url(../../img/bk-shadow-description.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top transparent;
    padding: 8px 0 2px 0;
    margin-top: -7px
}

.scheda .content .longDescription img {
    max-width: 483px;
}

.scheda .stream-link {
    margin: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.scheda .content-main .content-body .expanderButton {
    white-space: nowrap;
}

.scheda .jqueryExpandable img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 10px 10px 0;
}

.gecko .scheda .jqueryExpandable img {
    width: 100%;
}

/* Fix for Firefox - Contents with Images inside Tables */
.contents_wrapper .scheda .jqueryExpandable img {
    height: auto;
    max-height: auto;
    margin: 0 auto 20px;
    clear: both;
    display: block;
    float: none;
}

.contents_wrapper .scheda .jqueryExpandable .details img {
    max-height: 100%;
    float: none;
    margin: 0 auto 20px;
    clear: both;
    display: block;
}

.scheda .content-label {
    float: left;
    padding: 0 10px 0 0
}

.content-details-link.with-many-files {
    float: right;
    font-weight: normal;
}

.content-details-link.with-no-files {
    float: right;
    font-weight: bold;
}

.content_other_info.contentFiles .content-details-link.with-many-files a {
    font-weight: bold;
}

.scheda .content-tags,
.scheda .content_groups {
    line-height: 1.6em;
    padding-left: 0;
    padding-right: 10px;
}

.scheda .tag-input {
    float: left;
    min-width: 160px
}

.scheda .tag-input input {
    height: 16px;
    width: 125px;
    border: medium none;
    margin: 1px 0;
}

.content-footer .content_groups {
    float: right;
    clear: none
}

.content-footer.has-tags .content_groups.only-share-info {
    float: left;
    clear: both;
}

.tags-label {
    float: left;
    height: 18px;
    line-height: 18px;
    margin: 6px 2px 0 0
}

.tags-editable {
    margin-bottom: 5px;
}

.scheda .content_user_single,
.scheda .content_group_single {
    background: none;
    color: #666;
    margin: 0;
    padding: 0 5px 0 0;
}

.scheda .content_group_single_container,
.scheda .content_user_single_container {
    float: left
}

.scheda.mark_message .inline-rating {
    padding: 0
}

.site-info {
    overflow: auto;
    padding: 10px 0 8px;
    line-height: 1.2em;
    position: relative;
    min-height: 30px;
}

.site-info.fake-field {
    padding: 5px;
}

.projectCover .upload-box .fake-field.site-info {
    padding: 0 0 0 169px !important;
    border: none;
    background: transparent;
}

.projectCover .upload-box .fake-field.site-info .site-info {
    padding: 10px !important;
    background: #fff;
    border: 1px solid #d1d1d1;
}

.content-main .site-info {
    border-bottom: none;
    border-top: 1px dotted #DDD;
    clear: both
}

.content_attachment .content-label {
    line-height: 25px
}

/* --------------------------------------------
----------------------------------------------- CONTENT TYPOLOGY MARKERS */
.featured {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 51px;
    width: 70px;
    background: url(../../img/featured-ribbon.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;
    z-index: 50;
    text-indent: -9999px;
}

.highlight .featured {
    top: 0;
    left: 0;
}

.conversation-item .featured {
    top: 0;
    left: -10px;
    height: 36px;
    width: 70px;
    background: url(../../img/featured-ribbon.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 4px -6px;
    display: none;
}

.conversation-item.active .featured {
    display: block;
}

.conversation-item:hover .featured {
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}

.conversation-item.active:hover .featured {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.active .featured {
    height: 51px;
}

#dettaglio .featured {
    top: -15px;
    left: 0;
}

#dettaglio:hover .featured {
    opacity: 0.3;
}

.content_attachment {
    clear: both;
    overflow: hidden;
}

.content_attachment_compact img {
    display: none;
    height: 16px;
    float: left;
    padding: 0 5px 0 0;
}

.content_attachment img.media-attach {
    height: 48px;
}

.content_attachment .content_other_info {
    border: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    float: left;
    clear: none;
}

.content_attachment .file_list_item {
    margin: 0 5px 5px 0;
    float: left;
    display: inline-block;
    border: 1px solid #d1d1d1;
}

.content_attachment_compact .file_list_item {
    height: inherit;
    width: inherit;
    margin: 0 5px 5px 0;
    float: left;
    display: inline-block;
    border: none;
    border: 1px solid #DDD;
    padding: 2px;
}

.content_attachment .file-name {
    line-height: 18px;
    font-size: 10px;
    display: inline;
    padding: 0 30px 0 8px;
}

.content_attachment .contentFilesHtml {}

.content_attachment h4 {
    float: left;
    padding: 5px 0 0 5px;
}

.content_attachment .download {
    float: right;
    margin-top: -10px;
}
.content_attachment .button.white{float:left; margin:5px;}
.content_attachment .contentFilesHtmlRevision{border:1px dashed #d1d1d1; overflow:auto; clear:both; min-width:542px; background:#f8f8f8; padding:5px; margin:0 0 5px;}
.content_attachment .interface-close{cursor:pointer; display:none; position:absolute; top:8px; right:5px; height:16px; width:16px; background:url(../../img/ico-thumbs-close.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat; text-indent:-9999px;}
.content_attachment .revisionAdd{margin-top:20px; overflow:hidden; background:#fff;}
.content_attachment .revisionAdd input{float:left; margin:5px;}
.content_attachment .revisionBlock .info{border-top:1px dotted #ddd; clear:right; padding: 5px 0 0;}
.content_attachment .revisionList{background:#f8f8f8; padding:5px;}
.content_attachment .revisionList .numbers{float:right; padding:0 0 5px;}
.content_attachment .contentGenericFilesHtml.content_attachment_compact{clear:both;}
.content_attachment .contentFilesHtmlRevision .office_status_container.error{background:none repeat scroll 0 0 #ff4d00; border:1px dotted #808080; padding:10px; margin:5px; font-weight:bold; color:#fff; clear:both;}

.rev.generic_button {float:left;}
.title.generic_button.rev.dev {clear:both;}
.revisionBlock {width:100%;}

.fc-extend-section .comments {margin:0;}
.comments ul {padding:10px 0 0;}
.comments ul.temporany-comments {margin:0 30px; padding:0;}
.portal .comments ul.temporany-comments li{border-top:2px solid #cecece; border-bottom:none !important;}
.portal .comments ul.temporany-comments li:first-child{border-top:none;}
.portal .comments ul.temporany-comments li:first-child::before{content:'Comments'; display:block; border-bottom:2px solid #cec9cb; margin:0 -30px 20px; padding:0 0 5px; font:bold 14px 'Montserrat';}

.comments .content-arrow {position:absolute; top:-10px; left:20px; height:10px; width:20px; background:url(../../img/comment-arrow.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0; text-indent:-2000em;}
.comments .content_details{float:none; width:100%;}
.comments a.replies{float:inherit; display:inline; padding:0; color:#4b93bc; background:inherit;}
.content_commentnumbers{border-bottom:1px dotted #fff; height:16px; text-align:center;}

.toggle-comments {padding:0 0 10px; clear:both; overflow:auto;}
.toggle-comments a {display:block; text-decoration:none; font-size:14px; overflow:hidden;}
.toggle-comments a{margin:0 0 12px; border-bottom:2px solid #000;}
.toggle-right-label-show,
.toggle-right-label-hide {float:right; padding-right:12px;}

/*.toggle-right-label-show{background:url(../../img/icon-arrows-up-down.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right 1px;}
.toggle-right-label-hide{background:url(../../img/icon-arrows-up-down.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right -8px;}
*/
.content_addcomment{border:1px solid #d1d1d1; background:#f7f7f7; margin-top:0; overflow:auto;}
.portal .content_addcomment{overflow:hidden; cursor:text; position:relative;}
.content_addcomment .textarea{background:#fff; width:95%; padding:0 10px; border:none; color:#999; font-family:inherit; display:block; line-height:27px; right:0;}
.content_addcomment .textarea.selected,
.content_addcomment .textarea:hover {color:inherit; background:#fff;}
.content_addcomment .textarea.selected {height:80px; border-bottom:1px solid #d1d1d1;}
.content_addcomment .add-comment {clear:both; background:#ccc; color:#fff; padding:3px;}
.content_addcomment .buttons_wrapper{margin-bottom:0; padding:5px; border:none;}

#addCommentForm .textarea {display:block; width:96%; height:15px; background:#fefefe; padding:4px; border:1px solid #ddd; color:#ccc; clear:left; margin:5px; font-family: inherit; font-size:11px; border-radius:0 0 4px 4px;}
#addCommentForm .textarea.selected,
#addCommentForm .textarea:hover {background:#fff url(/tamtamy/skins/aqua/img/input_bg.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x scroll center top; color:#666;}
#addCommentForm .textarea.selected {height:80px;}
#addCommentForm .add-comment {clear:both; background:#ccc; color:#fff; padding:3px;}
#addCommentForm .add-comment-button {z-index:10000000; height:15px; line-height:15px; padding: 5px 15px; display: block;}

.singleCommentLatest{padding:10px 0; margin:0; border-bottom:1px dotted #d1d1d1; overflow:auto; color:#666;}
.singleCommentLatest:hover{background:#f5f5f5;}
.singleCommentLatestHeader{float:left; margin:5px 5px 5px 0;}
.singleCommentLatestHeader img{height:32px; width:32px; margin:0 15px 0 0;}
.singleCommentLatestDescription{margin:5px 5px 5px 0; width:98%;}
.singleCommentLatest .time{color:#808080; font-size:11px;}

/* --------------------------------------------
----------------------------------------------- RICH CONVERSATION */
.scheda{background:#fff; border:1px solid #d1d1d1; position:relative; clear:both;}
.scheda.coverCompact{margin:8px 0 20px;}
.scheda.coverMagazine,
.scheda.coverLibrary{cursor:default; box-sizing:border-box; width:28.75%; margin:8px 0 20px 4.533%; float:left; clear:none; background:transparent; min-height:203px; border:none; padding:266px 0 0; -webkit-perspective: 1000; -moz-perspective:1000; -o-perspective:1000; perspective:1000;}

.cover_library .scheda.coverLibrary:nth-of-type(3n + 1),
.cover_magazine .scheda.coverMagazine:nth-of-type(3n + 1){clear:left;}
.scheda .scheda_padding {padding:0; margin:0;}

.scheda .content-main{padding:1rem 0 0 0; clear:right; border-top:solid 2px #cec9cb;}
.portal .scheda .content-main{padding:3rem 0 2rem;}
.scheda .avatar.medium{float:left; min-width:58px;}

.scheda .avatar.medium > a {display: block; /*height: 63px;position:relative;overflow: visible;background: #fff;padding: 0;margin: -5px 0 0 -5px;border:1px solid #d1d1d1;*/}
.portal .scheda .avatar.medium > a{border-radius:50%;overflow:hidden;height: 60px; width: 60px}
/*.scheda .avatar.medium > a::before{content:'';display:block;position:absolute;bottom: -6px;left: -1px;width: 5px;height: 5px;background: transparent url(../../img/bk-angle-user.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;background-color:#fff;}*/
.scheda .avatar.medium img{width:100%; height:100%;}
.scheda .user{font-size:14px; line-height:16px; font-weight:700; color:#303030;}
.scheda .content-body {float:left; width:100%; padding:0; margin:0; line-height:1.5em; text-align:justify; overflow:hidden;}
.scheda .content-title-container {font-size:16px; color:#197bbd;}
.scheda .content-title-container.title_no_link{cursor:default; text-decoration: none;display: block;margin: 8px 0 15px;}
.scheda .content-footer {padding:0; clear:both;}

.scheda .comment-icon {display:inline-block; vertical-align:middle; margin:0 10px 0 0; width:17px; height:27px; line-height:31px; float: left;}
.portal .scheda .comment-icon{margin:0 5px; width:40px; height:35px; line-height:45px;}

.scheda .comment-icon::before {content:'\e910'; display:inline-block; text-align:center; font-size:21px; margin:0; color:#999; vertical-align:middle;}
.portal .scheda .comment-icon::before{font-size:32px;}
.content-body ol,
.content-body ul {list-style:square inside none; padding-left:20px !important; list-style-position: outside;}

.content-body ul ul,
.content-body ol ol,
.content-body ul ol,
.content-body ol ul {border:none; margin:2px !important; padding: 0 0 0 2em !important;}

.content_extra {float:left; width:100%; overflow:auto; padding:3px; background:#eee;}
.content_group_single {padding-left:3px; padding-right:3px; margin-right:2px; background-color:#3e87d3; color:#000;}

.content_list_thumbnail{display:block; overflow:hidden; position:relative; float:left; text-align:left; height:98px; width:100px; margin:0 15px 10px 0;}
.content_list_thumbnail a{display:block;}
.content_list_thumbnail img.preview{height:100px;}
.content_list_thumbnail a img.author{width:70px; float:left;}
.content_list_thumbnail div.author-little{position:absolute; left:-8px; bottom:-12px; z-index:100;}
.content_list_thumbnail a img.author-little{z-index:10; background:#eee; padding:3px;}
.content_list_thumbnail.ev-video-open{float:none;}

.mark_blogpost .content_list_thumbnail{display:none;}
h2.content-title{font-size:22px; margin:0;}

.event-video .content_list_thumbnail{margin:0 20px 10px 0; height:114px; width:156px;}
.event-video .content_list_thumbnail img.preview{height:auto;}

.ev-play-icon{cursor:pointer; background:url("../../img/icon-player-play.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 0 0; width:49px; height:49px; position:absolute; left:52px; top:33px; text-indent:-20000em;}
.ev-play-icon:hover{background-position:0 -49px;}

.event-video .content_list_thumbnail.expanded{width:100%; padding-bottom:56.25%; /* 16:9 */
    -webkit-transition:all 1s ease-in-out; -moz-transition:all 1s ease-in-out; -o-transition:all 1s ease-in-out; transition:all 1s ease-in-out;}
.event-video .responsive-video-wrapper{position:relative; padding-bottom:56.25%; /* 16:9 */padding-top:25px; height:0;}
.event-video .responsive-video-wrapper .iframe_player_discovery{position:absolute; top:0; left:0; width:100%; height:100%;}

.reply_document .content_list_thumbnail img{background:#cbf2ae;}

.content_list_description{position:relative; float:left; width:100%; padding:0; margin-bottom:0;}
.content_list_description p img{float:left; margin:0 2px 0 0;}
.content_header{width:100%; position:relative; float:left;}
.content_list_content_title{position:relative;}
.content_list_content_title h3{margin:0; padding:0; font-size:18px; width:auto;}
.content_list_content_title h3 a{color:#000;}
.online_offline_status_icon{vertical-align:middle; padding:0 2px;}

.content_details{position:relative; float:left; position:relative; float:left; width:96%;}
.interno .content_details{position:relative; float:left; width:48%; color:#777; padding:2px 0; margin:0 0 10px 0;}
.interno .scheda .content_details{width:96%; padding:0 2%;}
.wrapwidg .content_details{border:none;}

.reply_badge{}
.reply_badge:hover{}
.reply_badge .utenti{padding:0; text-align:left; position:relative; float:left;}
.reply_badge .utenti img{width:20px; padding:0; margin:0 4px 0 0; float:left; vertical-align:middle;}
.reply_badge .utenti a{float:left; position:relative;}

a.replies{display:block; position:relative; float:left; background:#aaa; color:#fff; padding:2px 5px; height:16px; line-height:16px; margin:0 4px 0 0;}
a.replies:hover{background:#168134; color:#fff;}
a.replies span{font-style:normal; padding:0 2px;}
a.replies:hover{text-decoration:underline;}

.reply-content-container{margin:20px 10px 10px 10px;}
.reply-content .scheda{border-style:dashed;}

.comment-content .scheda{margin:0 0 0 40px; border-style:dashed; background:#fafafa;}
.comment-content .content-body{border-top:0; margin:0; padding:0;}
.comment-content .content-main,
.reply-content .content-main{padding:10px 10px 0;}

.comment-content .content-footer,
.reply-content .content-footer{border-bottom:0;}
.mention-autocomplete{background:#dfebf9; border-radius:3px;}
.tt_more_unremovable{clear:both; margin:0; padding:2rem 0 0; text-align:center;}

/*------------------------------------ Content List
--------------------------------------*/
/* WIDGET STRUCTURE */
.scheda {margin-top:0; font-size:12px; color:#303030; line-height:18px; margin-bottom:20px; border:1px solid #cec9cb; padding:33px 30px 1rem 30px;}
.scheda a:hover{color:inherit;}
.fancy-infocontent,
.fancy-actions{margin-left:102px;}
.author_name,
.timestamp_extra{margin-left:75px;}
.content-main.primary-box-light{position:relative;}
.content-body {border: 0;}
.scheda .user {font-size: 14px; line-height: 16px; font-weight: 700; color: #303030;}
.timestamp_extra {color: #848484; font-style: italic; color: #848484; margin-top: -2px; margin-bottom: 40px;}
.portal .timestamp_extra {margin-bottom: 26px;}
.content-description > *:last-child {margin:0;}
.content-description::after{content:'';display:block;height: 30px;}
.contentImageFilesHtml.empty{display:none;}
.content-description{display:inline; width:100%; color:#606060; padding-bottom:1.2rem; overflow:hidden; font-size:13px; line-height:18px; text-align:left;}
.content-description strong{font-weight:bold; color:#303030;}
.event-video .content-description{width:auto;}
.content-description .details p{white-space:pre-wrap;}
.content-description i,
.content-description em{word-wrap:normal; white-space:pre-wrap;}
.content-description img {max-width:100%;}
.fancy-timestamp{font-style:italic;}
.fancy-infocontent span,
.fancy-actions a {margin-right:10px; display:inline-block;}
.fancy-infocontent span a {color:#303030;}
.no_content_message {clear:both;}
.fc-extend-body-label > span {display:inline-block; margin-left:10px;}
.fc-extend-body-label span:first-child {margin-left:0;}
.show-on-compact .snippet-title {display:inline-block; margin:0 0 15px;}
.show-on-compact .content-description {padding-bottom:2rem; display:block;}
.show-on-compact .content-description:after{content: none}

.fc-extend-body-label span  {color:#202020; font-size:14px;	margin-right:12px; display:inline-block;}
.fc-extend-body-label span :last-child {margin:0;}

.fc-extend-section {margin-bottom: 20px;}
.fc-extend-section[id^="content-share-"] {margin-bottom:30px;}
.fc-extend-section.fc-extend-attachment {margin-bottom:37px;}

.fc-extend-section-label {border-bottom:2px solid #cec9cb; padding-bottom: 5px;}
p.fc-extend-section-label {margin-bottom:10px;}
.fc-extend-section-label a:hover {text-decoration:none;}
.visible {display: block;}

.hidden {display:none;}
.visible + .content-main {margin-top: 47px;}

/** componenti da nascondere **/
.commentToolbar .user-toolbar, .ribbon-messages {display: none !important;}

/** content list standard_view **/
.standard_view .scheda {padding-bottom:20px;}

.show-on-compact {padding-left:0;}

/*.compact_expanded .timestamp_extra{margin-bottom: 0; display:block;}*/
/** avatar **/


.scheda .fancy-avatar img {width:60px; height:60px;}
.author-and-messages {width:60px;margin-top: -15px;}

/*.scheda .avatar.medium a,  */
.scheda .fancy-avatar a {margin-bottom:5px;}
.ribbon-messages {display:inline-block; position:absolute; top:105px; left:30px;}

/** toggle **/
.toggle-right-label-hide,
.toggle-right-label-show {font-size:14px; display:inline-block; padding-right:20px; position:relative;}
.scheda .compact_wrapper .fc-extend-body-label .toggle-right-label-hide {margin-top:-10px; margin-right:0; margin-bottom:10px;}
.scheda .compact_wrapper .fc-extend-body-label .toggle-right-label-show {margin-right:0;}
.fc-expand {display:block; text-align:right; border-bottom:2px solid transparent; padding-bottom:3px; position:relative; z-index:10; clear:both;}
.share-info-toggle {display:inline-block; vertical-align:top; text-align:left; position:relative; z-index:10; clear:both; width:100%;}

a.share-info-toggle:hover,
a.share-info-toggle:hover,
a.share-info-toggle:focus,
a.share-info-toggle:hover span,
a.share-info-toggle:hover span,
a.share-info-toggle:focus span {text-decoration: none;}

.fc-extend-section-label {margin-bottom:20px;}
.fc-extend-section-label + .fc-expand {position: relative; top:-18px;}
.fc-expand a:hover,
.fc-expand a:active {text-decoration: none;}
.fc-expand + * {margin-top: 20px;}
.fc-expand + .toggle,
.fc-extend-sharegroups {margin-top: -5px; margin-bottom: 5px; display: block;}
.fc-expand:hover {text-decoration: none;}

.toggle-comments {padding-bottom: 0;position: relative;z-index: 10;display: inline-block;text-align:left;vertical-align:top;width:100%;}
.toggle-comments .comm_number { font-weight:bold; margin-bottom:5px; display:inline-block;}
.toggle-comments:before,
.toggle-comments:after {content: ""; display: table;}
.toggle-comments:after {clear: both;}
.toggle-comments .comments-info-link {float: left; margin-bottom: 5px;}
.toggle-comments .toggle-right-label-show,
.toggle-comments .toggle-right-label-hide,
.toggle-right-label-show,
.toggle-right-label-hide {float:right; z-index:10; font-weight:bold;}
.toggle-right-label-show:before,
.toggle-right-label-hide:before {right:0; left:auto; font-size:12px; line-height:12px; width:auto; height:auto;}
.toggle-right-label-show:before {content: '\e946';}
.toggle-right-label-hide:before {content: '\e94a';}

/*** Tags **/
.fc-extend-section-label{font-size: 14px; font-weight: bold;}
.fc-extend-tags .fc-extend-section-label {margin-bottom:20px;}
.content-tags .tag_token {padding:7px 16px; margin-right:10px; display:inline-block; border:2px solid transparent; margin-bottom:10px; height:auto;}
.fc-extend-tags .tag_token_add {padding:8px 20px; display:inline-block; height:auto; margin:0; text-transform:uppercase; border-radius:5px;}
.fc-extend-tags .jtt-autocomplete input{padding:0 8px; outline:none; border:none; height:35px; width:100%; margin-top:-2px;}
.fc-extend-tags .jtt-autocomplete{display:block; width:100%; height:35px; margin:0; position:absolute; top:0; left:0; right:0; border-radius:5px;}
.fc-extend-tags .fc-extend-addtag {margin:0 2px 0 0; float:left; padding:10px 20px; height:34px; border-radius:5px;}
.fc-extend-tags .jtt-autocomplete .jtt-auto-float{z-index:99;}
.content-tags .tag_token a:hover{text-decoration:none;}
.tags-label{display:none;}
.fc-extend-tags {margin:0 0 18px;}

.fc-extend-tags:before,
.fc-extend-tags:after {content:""; display:table;}
.fc-extend-tags:after {clear:both;}

/** Attachments **/
.fl-file-info.fl-file-info-size{text-align:center; margin-left:0; margin-top:-12px;}
.fl-file-item{clear:both;}
.fc-extend-section-label .folder-sharepoint-link,
.fl-file-tool-download{float:right; text-align:right; font-size:12px;}
.fl-file-tools{width:60%; font-size:12px;}
.fl-file-tools a{margin-left:15px;}
.fl-file-tools a:first-child{margin-left:0;}
.fl-file-item,
.fl-file-item:hover,
.fl-file-item.open{border:0; border-bottom:1px solid transparent;}

.fl-file-item:first-child,
.fl-file-item:first-child:hover,
.fl-file-item:first-child.open{border:0;}

.fl-file-tools {clear:right; text-align:right; padding:0;}
.scheda .fc-extend-attachment .contentFilesHtml .fl-file-item .fl-file-link {vertical-align:top;}
.fl-file-item {padding:10px 0;}

/** icone share info **/
.fc-extend-section [class^="fc-extend-reshare-"] {margin-bottom:15px;}
.fc-extend-section [class^="fc-extend-reshare-"]:last-child,
.fc-extend-sharegroups:last-child {margin-bottom:0;}
.fc-extend-sharegroups {margin-bottom:20px;}
.fc-extend-section [class^="fc-extend-reshare-"] a {text-decoration:none; font-weight:bold;}

.scheda .fc-extend-section .fc-extend-sharegroups,
.fc-extend-section [class^="fc-extend-reshare-"],
.fc-extend-section div[class^="fc-extend-share"],
.fc-extend-shareusers.share {position:relative; padding-left:30px;}
.fc-extend-section div[class^="fc-extend-share"] {margin-top:15px;}
.fc-extend-section div[id^="share-area"] {}
.fc-extend-section .reshare + .fc-extend-shareusers {padding:0;}

.scheda .fc-extend-section div[class^="fc-extend-share"]::before,
.scheda .fc-extend-section div[class^="fc-extend-reshare"]::before {position:absolute; display:block; width:25px; height:25px; line-height:25px; text-indent:-5px; left:0; top:50%; margin-top:0; text-align:left; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.scheda .fc-extend-section .fc-extend-reshare-portal::before,
.scheda .fc-extend-section .fc-extend-sharegroups.portal:before {content:'\e966'; font-size:24px;}
.scheda .fc-extend-section .fc-extend-reshare-sphere::before,
.scheda .fc-extend-section .fc-extend-sharegroups:before {content:'\e91b'; font-size:24px;}
.scheda .fc-extend-section .fc-extend-reshare-event::before,
.scheda .fc-extend-section .fc-extend-sharegroups.event:before {content:'\e900'; font-size:24px;}
.scheda .fc-extend-section .fc-extend-reshare-user::before,
.scheda .fc-extend-section .fc-extend-shareusers.share:before {content:'\e91c'; font-size:24px;}

/** content link **/
.linkContent .site-info {border-top:none; padding:0; margin:0 0 27px;}
.linkContent .content-body {padding:0;}
.scheda .site-thumb {float:left; margin-right:10px;}
.scheda .site-thumb img {width:80px;}
.scheda #info-url {font-size:15px; vertical-align:top; margin:0; font-weight:normal;}
.scheda .site-info h3 {margin:0;}
#ui-datepicker-div{display:none;}/* Fix Overwrite jQueryUI */

/* Video Elements on Content */
#dettaglio.event_video .content_meta,
div.scheda.event-video div.content_meta.content_other_info {display:none;}
#dettaglio.event_video{overflow:hidden;}

/** Project cover override **/
.prCover .flexslider .slides > li {max-width: 115px;}
.cover_library .flexslider .slides img {max-height:100%; width:auto; max-width:100%; display:inline-block;}

/**	Portals Contents Display	**/
.portal #wait_alert{text-align:center; margin:0 0 30px;}
.portal .scheda .content-body{padding:0 35px; float:none;}
.portal .scheda .content_meta{display:block;}
.portal .scheda .content_meta > div{background-color:#f7f7f7; padding:20px 35px;}
.portal .scheda .content_meta > div:nth-child(even){background-color:transparent;}
.portal .scheda .content_meta > div .label{padding:0 0 10px;display:block;font:normal 18px 'Montserrat', sans-serif;color:#4c4c4c;text-transform:uppercase;text-align:left;margin: 0;}
.portal .scheda .content_meta > div .field{font:normal 15px 'Montserrat', sans-serif; color:#303030;}
.portal .scheda .content_other_info .meta_row{position:relative;}
.portal .scheda .content_meta .userTooltip img{border-radius:50%; margin:0 10px 0 0;}
.portal .scheda .content_meta .userTooltip{color:#303030; display:block; font-size:14px; margin:0 0 20px; padding:0 50px 0 0;}
.portal .scheda .content_meta .role{display:none;}
.portal .scheda .content_meta .team{position:relative;}
.portal .scheda .content_meta .team .member{display:inline-block; position:relative; margin:0; padding:0 10px 0 0; color:#303030;}
.portal .scheda .content_meta .team .member .userTooltip strong{display:inline-block; position:relative; top:-5px;}
.portal .scheda .content_meta .team .email{position:absolute; top:25px; left:60px; color:#303030;}

.portal .scheda .restrictedField {color:#f05b48; padding:0 0 0 30px; position:relative; float:right;}
.portal .scheda .content_other_info .restrictedField {position:absolute; float:none; bottom:10px; right:40px;}
.portal .scheda .restrictedField::before{content:'\e987'; font:normal 1.7em 'tamtamy-icon'; vertical-align:bottom;}

.portal .scheda [id*="_change_status"]{display:table;}
.portal .scheda [id*="_change_status"] .select_container{display:table-cell; position:relative; width:auto; background:#fff; border:1px solid #cecece; line-height:40px; padding:0 10px 0 0px; overflow:hidden;}
.portal .scheda [id*="_change_status"] .select_container::after{content:'\e946'; display:block; position:absolute; z-index:0; top:54%; font:normal 15px/1.6em 'tamtamy-icon'; right:12px; transform:translateY(-50%);}
.portal .scheda [id*="_change_status"] .select_container::before{content:''; display:block; position:absolute; z-index:0; top:0; bottom:0; right:40px; border-right:1px solid #cecece;}
.portal .scheda [id*="_change_status"] .select_container select{position:relative;  z-index:1; border:none; width:120%; min-width:180px; height:40px; background:transparent;}
.portal .scheda [id*="_change_status"] button{padding:12px 20px; margin: 0 0 0 20px; border:none; background:#cecece; text-transform:uppercase;}
.portal .scheda [id*="_change_status"].posting button{opacity:.3;}

.portal .scheda .content-footer{}
.portal .scheda .content-footer .fc-extend-section-label + div,
.portal .scheda .fc-extend-attachment .contentFiles + span,
.portal .scheda .fc-extend-section .comments [id*="comment-area"]{padding:0 35px;}
.portal .scheda .fc-extend-section .comments [id*="comment-area"]{margin:0 0 30px;}
.portal .scheda .fc-extend-section [id*="wrap_addcomments"]{}


/* New preloader*/
.jtt-jsloading{position:absolute; left:0; right:0; bottom:-5px; height:3px; overflow:hidden;}
.jtt-jsloading-cursor{position:absolute; background:#4697f0; width:0; text-indent:-20000em; top:0; left:0;}

/**	Portals Contents Display Covers	**/
.contentDetail .scheda.coverLibrary{width:100%; margin:0 0 20px; padding:0;}
.contentDetail .scheda.coverLibrary:nth-of-type(3n){margin-right:0;}
.contentDetail .scheda.coverLibrary h4#usage,
.contentDetail .scheda.coverMagazine h4#usage{width:30%; padding:0;}
.contentDetail .scheda.coverLibrary .coverimage{position:absolute;}
.contentDetail .scheda.coverLibrary .coverimage:after{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; background:#000; transition:.3s ease-in; opacity:0;}
.contentDetail .scheda.coverLibrary .content-toolbar{display:block; position:absolute; top:25px; right:0; padding:0;}
.contentDetail .scheda.coverLibrary .content-toolbar a{background:none; font-size:0; height:50px; width:50px; text-indent:0; opacity:0; transition:.3s ease-in; color:#656565;}
.contentDetail .scheda.coverLibrary .content-toolbar a:hover{text-decoration:none; color:#333;}
.contentDetail .scheda.coverLibrary .content-toolbar a .i-favorite{display:block; height:30px; width:30px; position:absolute; top:50%; left:50%; background-image:url(‘../../../../img/projectCover/favorite.svg?v=@TAMTAMY_PREVENT_CACHE@’); background-repeat:no-repeat; transform:translateY(-50%) translateX(-50%); -webkit-transform: translateY(-50%) translateX(-50%);}
.contentDetail .scheda.coverLibrary .content-toolbar a .i-unfavorite {display:block; position:absolute; height:30px; width:30px; top:50%; left:50%; background-image:url(‘../../../../img/projectCover/favorite_red_op.svg?v=@TAMTAMY_PREVENT_CACHE@’); background-repeat:no-repeat; transform:translateY(-50%) translateX(-50%); -webkit-transform: translateY(-50%) translateX(-50%);}
.contentDetail .scheda.coverLibrary .content-toolbar a .i-modify{display:block; width:30px;}
.contentDetail .scheda.coverLibrary:hover .content-toolbar a{opacity:1;}
.contentDetail .scheda.coverLibrary:hover .content-toolbar a:before{color:#303030;}
.contentDetail .scheda.coverLibrary:hover .content-toolbar a.tool_favourite_add:before{content:none;}
.contentDetail .scheda.coverLibrary:hover .coverimage::after{z-index:1; opacity:.3;}
.contentDetail .scheda.coverLibrary .front{position:relative; border:1px solid #d1d1d1; box-sizing:border-box; padding-bottom:56.25%; height:0; border-bottom:0;}
.contentDetail .scheda.coverLibrary .front:before{display:none;}
.contentDetail .scheda.coverLibrary h2.fancy-title{font:normal 18px/1.1em "MontSerrat", sans-serif; height:50px; margin-top:0; margin-bottom:4px; overflow:hidden; padding:0;}
.contentDetail .scheda.coverLibrary h2.fancy-title a{display:inline-block; color:#333; font:normal 0.885em/1.1em "MontSerrat", sans-serif;}
.contentDetail .scheda.coverLibrary h2.fancy-title a:hover{text-decoration:none;}
.contentDetail .scheda__upperInfo{padding:5px; background:#eee;}
.contentDetail .scheda__upperInfo h4 {display:inline-block; margin-top:0; margin-bottom:-13px; font:normal 14px "MontSerrat", sans-serif; color:#606060; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:70%; vertical-align:top;}
.contentDetail .scheda__upperInfo .internal {float:right; text-align:right;}
.contentDetail .scheda__upperInfo #usage {padding:0;}
.contentDetail .scheda__upperInfo #usage .NonDisclosure,
.contentDetail .scheda__upperInfo #usage .Public,
.contentDetail .scheda__upperInfo #usage .Limited{font:bold 14px "MontSerrat", sans-serif;}
.contentDetail .scheda__upperInfo #usage .Public{color:#32b902;}
.contentDetail .scheda__upperInfo #usage .Public:after{content:'';}
.contentDetail .scheda__upperInfo #usage .Limited{color:#eaa206;}
.contentDetail .scheda__upperInfo #usage .Limited:after{content:'';}
.contentDetail .scheda__info{background:#fff;}
.contentDetail .scheda__infoAux{position:relative; padding:15px; border:1px solid #d1d1d1; border-top:none; border-bottom:0;}
.contentDetail .scheda__infoBrand{padding:15px; margin:0; border:1px solid #d1d1d1 !important; border-radius:0;}
.contentDetail .schedaInfo__cliente{font:normal 13px/15px "MontSerrat", sans-serif; min-height:15px; margin:0; font-weight:bold;}
.contentDetail .schedaInfo__views{position:absolute; bottom:15px; right:15px;}
.contentDetail .schedaInfo__views .i-view{font-size:13px; color:#676f73; padding-right:5px;}
.contentDetail .schedaInfo__number{color:#676f73; font:normal 16px "MontSerrat", sans-serif;}
.contentDetail .cover_library .flexslider .slides .companyName{display:none;}
.contentDetail .cover_library.emptyListMessageVisible{overflow:hidden;}
.contentDetail .cover_library.emptyListMessageVisible .no_content_message{background:#fff; color:#303030; font-size:1em; border:1px solid #cec9cb;}
.contentDetail .cover_library.emptyListMessageVisible .no_content_message::before{content:''; display:inline-block; width:130px; height:130px; background:url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201126.31%201089.4%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%23e2e2e2%3B%7D.cls-2%7Bfill%3A%23bcbbbb%3B%7D.cls-3%7Bfill%3A%23414042%3B%7D.cls-4%7Bfill%3A%2348ab83%3B%7D.cls-5%7Bfill%3A%23fcca02%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3Eno_content_bg%3C%2Ftitle%3E%3Cg%20id%3D%22Layer_2%22%20data-name%3D%22Layer%202%22%3E%3Cg%20id%3D%22_Layer_%22%20data-name%3D%22%26lt%3BLayer%26gt%3B%22%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M775.49%2C722.83v-48.9H743.57a24.21%2C24.21%2C0%2C0%2C1-24.2-24.2v-.49A24.2%2C24.2%2C0%2C0%2C1%2C743.57%2C625H881.78a35.7%2C35.7%2C0%2C0%2C1%2C35.69%2C35.7V736a35.69%2C35.69%2C0%2C0%2C1-35.69%2C35.7h-82.9a23.39%2C23.39%2C0%2C0%2C1-23.39-23.38Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M812.37%2C119.07l-45.2%2C52.2a105.73%2C105.73%2C0%2C0%2C0-25.79%2C69.21v74.59h-26V212c-81.48%2C0-287.68%2C10.67-356-34.88v138H329.09V153.67a34.61%2C34.61%2C0%2C0%2C1%2C34.61-34.6Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M865.29%2C377.76%2C832.2%2C344.68l33.09-33.09%2C33.07%2C33.09Zm-10.46-33.07%2C10.45%2C10.45%2C10.45-10.45-10.45-10.45Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M1010.41%2C664.12%2C977.34%2C631%2C1010.41%2C598%2C1043.49%2C631ZM1000%2C631l10.45%2C10.45L1020.86%2C631l-10.45-10.45Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M373.61%2C66.15%2C340.54%2C33.07%2C373.61%2C0l33.07%2C33.07ZM363.17%2C33.07l10.45%2C10.45%2C10.45-10.45L373.61%2C22.63Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M573.13%2C1089.4%2C540%2C1056.32l33.09-33.09%2C33.07%2C33.09Zm-10.46-33.07%2C10.45%2C10.45%2C10.45-10.45-10.45-10.45Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M33.07%2C514.1%2C0%2C481%2C33.07%2C448%2C66.15%2C481ZM22.63%2C481l10.45%2C10.45L43.52%2C481%2C33.07%2C470.58Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M456.11%2C1034.07h-36a5%2C5%2C0%2C0%2C1%2C0-10h36a5%2C5%2C0%2C0%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M438.13%2C1052.05a5%2C5%2C0%2C0%2C1-5-5v-36a5%2C5%2C0%2C0%2C1%2C10%2C0v36A5%2C5%2C0%2C0%2C1%2C438.13%2C1052.05Z%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M150.06%2C540.05h-36a5%2C5%2C0%2C0%2C1%2C0-10h36a5%2C5%2C0%2C0%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M132.08%2C558a5%2C5%2C0%2C0%2C1-5-5v-36a5%2C5%2C0%2C0%2C1%2C10%2C0v36A5%2C5%2C0%2C0%2C1%2C132.08%2C558Z%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M999.15%2C834h-36a5%2C5%2C0%2C0%2C1%2C0-10h36a5%2C5%2C0%2C1%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M981.17%2C852a5%2C5%2C0%2C0%2C1-5-5v-36a5%2C5%2C0%2C1%2C1%2C10%2C0v36A5%2C5%2C0%2C0%2C1%2C981.17%2C852Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M541.37%2C42.07h-36a5%2C5%2C0%2C0%2C1%2C0-10h36a5%2C5%2C0%2C0%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M523.39%2C60.05a5%2C5%2C0%2C0%2C1-5-5v-36a5%2C5%2C0%2C0%2C1%2C10%2C0v36A5%2C5%2C0%2C0%2C1%2C523.39%2C60.05Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M783.12%2C1056.05h-36a5%2C5%2C0%2C0%2C1%2C0-10h36a5%2C5%2C0%2C0%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M765.15%2C1074a5%2C5%2C0%2C0%2C1-5-5v-36a5%2C5%2C0%2C1%2C1%2C10%2C0v36A5%2C5%2C0%2C0%2C1%2C765.15%2C1074Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M357.37%2C997.07h-300a8%2C8%2C0%2C0%2C1-8-8V625a8%2C8%2C0%2C0%2C1%2C8-8h300a8%2C8%2C0%2C0%2C1%2C8%2C8v364A8%2C8%2C0%2C0%2C1%2C357.37%2C997.07Zm-292-16h284V633h-284Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M456%2C371.28a54.44%2C54.44%2C0%2C0%2C1-48.18-29A8%2C8%2C0%2C0%2C1%2C422%2C334.8a38.53%2C38.53%2C0%2C0%2C0%2C66%2C3.5%2C8%2C8%2C0%2C0%2C1%2C13.26%2C9A54.49%2C54.49%2C0%2C0%2C1%2C456%2C371.28Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M621.25%2C371.28a54.44%2C54.44%2C0%2C0%2C1-48.18-29%2C8%2C8%2C0%2C0%2C1%2C14.13-7.5%2C38.53%2C38.53%2C0%2C0%2C0%2C66%2C3.5%2C8%2C8%2C0%2C0%2C1%2C13.26%2C9A54.49%2C54.49%2C0%2C0%2C1%2C621.25%2C371.28Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M359.36%2C407.07h-6.17a53.88%2C53.88%2C0%2C0%2C1-53.82-53.82V336.79a29.75%2C29.75%2C0%2C0%2C1%2C29.72-29.72h30.27a8%2C8%2C0%2C0%2C1%2C0%2C16H329.09a13.74%2C13.74%2C0%2C0%2C0-13.72%2C13.72v16.46a37.86%2C37.86%2C0%2C0%2C0%2C37.82%2C37.82h6.17a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M721.55%2C407.07h-6.17a8%2C8%2C0%2C0%2C1%2C0-16h6.17a37.86%2C37.86%2C0%2C0%2C0%2C37.82-37.82V336.79a13.74%2C13.74%2C0%2C0%2C0-13.72-13.72H715.38a8%2C8%2C0%2C0%2C1%2C0-16h30.27a29.75%2C29.75%2C0%2C0%2C1%2C29.72%2C29.72v16.46A53.88%2C53.88%2C0%2C0%2C1%2C721.55%2C407.07Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M741.38%2C323.07a8%2C8%2C0%2C0%2C1-8-8V240.48A113.76%2C113.76%2C0%2C0%2C1%2C761.13%2C166l33.74-39H363.7a26.63%2C26.63%2C0%2C0%2C0-26.61%2C26.6v161.4a8%2C8%2C0%2C1%2C1-16%2C0V153.67a42.65%2C42.65%2C0%2C0%2C1%2C42.61-42.6H812.37a8%2C8%2C0%2C0%2C1%2C6%2C13.24l-45.2%2C52.2a97.75%2C97.75%2C0%2C0%2C0-23.84%2C64v74.59A8%2C8%2C0%2C0%2C1%2C741.38%2C323.07Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M715.38%2C445.07a8%2C8%2C0%2C0%2C1-8-8V220c-9.55.06-20.44.23-32.61.41-90.86%2C1.37-239.15%2C3.6-307.41-29.61V437.07a8%2C8%2C0%2C1%2C1-16%2C0v-260a8%2C8%2C0%2C0%2C1%2C12.44-6.66c24.33%2C16.22%2C71.41%2C26.84%2C139.93%2C31.57%2C59.18%2C4.09%2C123.69%2C3.12%2C170.8%2C2.41%2C15.78-.24%2C29.41-.44%2C40.85-.44a8%2C8%2C0%2C0%2C1%2C8%2C8V437.07A8%2C8%2C0%2C0%2C1%2C715.38%2C445.07Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M881.78%2C779.72h-82.9a31.42%2C31.42%2C0%2C0%2C1-31.39-31.38V681.93H743.57a32.24%2C32.24%2C0%2C0%2C1-32.2-32.2v-.49A32.24%2C32.24%2C0%2C0%2C1%2C743.57%2C617H881.78a43.74%2C43.74%2C0%2C0%2C1%2C43.69%2C43.7V736A43.74%2C43.74%2C0%2C0%2C1%2C881.78%2C779.72Zm-98.29-97.79v66.41a15.4%2C15.4%2C0%2C0%2C0%2C15.39%2C15.38h82.9A27.73%2C27.73%2C0%2C0%2C0%2C909.47%2C736V660.73A27.73%2C27.73%2C0%2C0%2C0%2C881.78%2C633H743.57a16.22%2C16.22%2C0%2C0%2C0-16.2%2C16.21v.49a16.22%2C16.22%2C0%2C0%2C0%2C16.2%2C16.2H846.48a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M847.37%2C730.83H775.49a8%2C8%2C0%2C0%2C1%2C0-16h71.88a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M897.37%2C955.07h-505a8%2C8%2C0%2C0%2C1%2C0-16h497v-50h-497a8%2C8%2C0%2C0%2C1%2C0-16h505a8%2C8%2C0%2C0%2C1%2C8%2C8v66A8%2C8%2C0%2C0%2C1%2C897.37%2C955.07Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M857.37%2C889.07a8%2C8%2C0%2C0%2C1-8-8V780.73a8%2C8%2C0%2C1%2C1%2C16%2C0V881.07A8%2C8%2C0%2C0%2C1%2C857.37%2C889.07Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M857.37%2C633a8%2C8%2C0%2C0%2C1-8-8V467.86a22.82%2C22.82%2C0%2C0%2C0-22.79-22.79H248.16a22.82%2C22.82%2C0%2C0%2C0-22.79%2C22.79V592a8%2C8%2C0%2C0%2C1-16%2C0V467.86a38.83%2C38.83%2C0%2C0%2C1%2C38.79-38.79H826.58a38.83%2C38.83%2C0%2C0%2C1%2C38.79%2C38.79V625A8%2C8%2C0%2C0%2C1%2C857.37%2C633Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M141.7%2C426.77h-.42a28.66%2C28.66%2C0%2C0%2C1-28.63-28.63V380.71A62.64%2C62.64%2C0%2C0%2C1%2C140%2C262.48l1.52%2C0a62.65%2C62.65%2C0%2C0%2C1%2C28.83%2C118.26v17.42A28.66%2C28.66%2C0%2C0%2C1%2C141.7%2C426.77Zm-.2-148.32h-1.14a46.65%2C46.65%2C0%2C0%2C0-16.66%2C89.76%2C8%2C8%2C0%2C0%2C1%2C4.95%2C7.39v22.52a12.64%2C12.64%2C0%2C0%2C0%2C12.63%2C12.63h.42a12.64%2C12.64%2C0%2C0%2C0%2C12.63-12.63V375.62a8%2C8%2C0%2C0%2C1%2C4.94-7.39%2C46.65%2C46.65%2C0%2C0%2C0-17.78-89.77Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M153.08%2C348A16.13%2C16.13%2C0%2C0%2C1%2C142.33%2C344c-.23-.18-.52-.42-.71-.55h-.11c-.19.13-.48.37-.71.55a16.3%2C16.3%2C0%2C0%2C1-21.53%2C0c-.23-.18-.52-.42-.71-.55h-.05a8%2C8%2C0%2C1%2C1%2C0-16%2C16.14%2C16.14%2C0%2C0%2C1%2C10.76%2C4.06c.23.18.53.42.71.55h.12c.19-.13.48-.37.71-.55a16.29%2C16.29%2C0%2C0%2C1%2C21.52%2C0c.23.18.52.42.71.55h.11c.19-.13.48-.37.71-.55a16.14%2C16.14%2C0%2C0%2C1%2C10.76-4.06%2C8%2C8%2C0%2C1%2C1%2C0%2C16h-.05c-.19.13-.48.37-.71.55A16.15%2C16.15%2C0%2C0%2C1%2C153.08%2C348Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M66.69%2C329.1H45.83a8%2C8%2C0%2C0%2C1%2C0-16H66.69a8%2C8%2C0%2C1%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M237.16%2C329.1H216.3a8%2C8%2C0%2C1%2C1%2C0-16h20.86a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M89.73%2C277.33A8%2C8%2C0%2C0%2C1%2C84.08%2C275L68.2%2C259.11A8%2C8%2C0%2C0%2C1%2C79.51%2C247.8l15.88%2C15.88a8%2C8%2C0%2C0%2C1-5.66%2C13.66Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M141.49%2C257.22a8%2C8%2C0%2C0%2C1-8-8V225.43a8%2C8%2C0%2C0%2C1%2C16%2C0v23.79A8%2C8%2C0%2C0%2C1%2C141.49%2C257.22Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M193.26%2C277.33a8%2C8%2C0%2C0%2C1-5.66-13.66l15.88-15.88a8%2C8%2C0%2C0%2C1%2C11.31%2C11.31L198.92%2C275A8%2C8%2C0%2C0%2C1%2C193.26%2C277.33Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M1000.4%2C381.67h-.51a33.53%2C33.53%2C0%2C0%2C1-33.49-33.49V325.5a76%2C76%2C0%2C0%2C1-41.72-69.87%2C75.5%2C75.5%2C0%2C1%2C1%2C109.21%2C69.88v22.68A33.53%2C33.53%2C0%2C0%2C1%2C1000.4%2C381.67Zm-.25-183.21-1.45%2C0a59.72%2C59.72%2C0%2C0%2C0-58%2C57.63A59.85%2C59.85%2C0%2C0%2C0%2C977.46%2C313a8%2C8%2C0%2C0%2C1%2C4.95%2C7.39v27.82a17.51%2C17.51%2C0%2C0%2C0%2C17.49%2C17.49h.51a17.51%2C17.51%2C0%2C0%2C0%2C17.49-17.49V320.36a8%2C8%2C0%2C0%2C1%2C4.95-7.39%2C59.5%2C59.5%2C0%2C0%2C0-22.69-114.5Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M1014.46%2C284.37a18%2C18%2C0%2C0%2C1-12.12-4.6c-1.37-1.09-1.37-1.09-2.11-1.09s-.76%2C0-2.13%2C1.09a18.27%2C18.27%2C0%2C0%2C1-24.23%2C0c-1.36-1.09-1.36-1.09-2.11-1.09a8%2C8%2C0%2C0%2C1%2C0-16%2C18%2C18%2C0%2C0%2C1%2C12.11%2C4.59c1.37%2C1.09%2C1.37%2C1.09%2C2.12%2C1.09s.76%2C0%2C2.13-1.09a18.25%2C18.25%2C0%2C0%2C1%2C24.22%2C0c1.37%2C1.09%2C1.37%2C1.09%2C2.12%2C1.09s.76%2C0%2C2.13-1.09a18%2C18%2C0%2C0%2C1%2C12.11-4.59%2C8%2C8%2C0%2C0%2C1%2C0%2C16c-.76%2C0-.76%2C0-2.13%2C1.09A18%2C18%2C0%2C0%2C1%2C1014.46%2C284.37Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M907.74%2C261H882a8%2C8%2C0%2C0%2C1%2C0-16h25.76a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M1118.31%2C261h-25.76a8%2C8%2C0%2C0%2C1%2C0-16h25.76a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M936.2%2C197.07a8%2C8%2C0%2C0%2C1-5.66-2.34l-19.61-19.61a8%2C8%2C0%2C0%2C1%2C11.31-11.31l19.61%2C19.61a8%2C8%2C0%2C0%2C1-5.66%2C13.66Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M1000.14%2C172.24a8%2C8%2C0%2C0%2C1-8-8V134.85a8%2C8%2C0%2C1%2C1%2C16%2C0v29.39A8%2C8%2C0%2C0%2C1%2C1000.14%2C172.24Z%22%2F%3E%3Cpath%20class%3D%22cls-5%22%20d%3D%22M1064.08%2C197.07a8%2C8%2C0%2C0%2C1-5.66-13.66L1078%2C163.8a8%2C8%2C0%2C0%2C1%2C11.31%2C11.32l-19.62%2C19.61A8%2C8%2C0%2C0%2C1%2C1064.08%2C197.07Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M237.37%2C178.72a8%2C8%2C0%2C0%2C1-8-8V101.07a8%2C8%2C0%2C0%2C1%2C16%2C0v69.65A8%2C8%2C0%2C0%2C1%2C237.37%2C178.72Z%22%2F%3E%3Cpolygon%20class%3D%22cls-3%22%20points%3D%22213.44%20163.72%20237.37%20205.16%20261.31%20163.72%20213.44%20163.72%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M1033.4%2C514.87H953.75a8%2C8%2C0%2C0%2C1%2C0-16h79.66a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpolygon%20class%3D%22cls-3%22%20points%3D%22960.75%20482.94%20919.3%20506.87%20960.75%20530.8%20960.75%20482.94%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M300.88%2C689.14h-187a8%2C8%2C0%2C1%2C1%2C0-16h187a8%2C8%2C0%2C0%2C1%2C0%2C16Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C731.7h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C1%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C760.9h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C1%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C790.1h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C0%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C819.3h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C0%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C848.51h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C1%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C877.71h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C1%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C906.91h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C1%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-2%22%20d%3D%22M300.88%2C936.11h-187a5%2C5%2C0%2C1%2C1%2C0-10h187a5%2C5%2C0%2C1%2C1%2C0%2C10Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M816.16%2C931.24A17.29%2C17.29%2C0%2C1%2C1%2C833.44%2C914%2C17.31%2C17.31%2C0%2C0%2C1%2C816.16%2C931.24Zm0-24.58a7.29%2C7.29%2C0%2C1%2C0%2C7.28%2C7.29A7.3%2C7.3%2C0%2C0%2C0%2C816.16%2C906.66Z%22%2F%3E%3Cpath%20class%3D%22cls-3%22%20d%3D%22M858.66%2C931.24A17.29%2C17.29%2C0%2C1%2C1%2C876%2C914%2C17.3%2C17.3%2C0%2C0%2C1%2C858.66%2C931.24Zm0-24.58A7.29%2C7.29%2C0%2C1%2C0%2C866%2C914%2C7.29%2C7.29%2C0%2C0%2C0%2C858.66%2C906.66Z%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M456.4%2C520.65V792.78H654.83V520.65ZM644.81%2C782.8H466.41V530.63h178.4Z%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M531.95%2C639.48h47.33v11.79h47.33V604.1h-142v47.17h47.33Zm59.16-23.58h23.67v22.68H591.11Z%22%2F%3E%3Cpath%20class%3D%22cls-4%22%20d%3D%22M626.61%2C586V550.58h-142V586Zm-94.66-11.79h-35.5V562.38h35.5Z%22%2F%3E%3Cpolygon%20class%3D%22cls-4%22%20points%3D%22614.78%20693%20602.94%20693%20602.94%20704.79%20626.61%20704.79%20626.61%20668.51%20602.94%20668.51%20602.94%20680.3%20614.78%20680.3%20614.78%20693%22%2F%3E%3Cpolygon%20class%3D%22cls-4%22%20points%3D%22508.28%20693%20496.45%20693%20496.45%20680.3%20508.28%20680.3%20508.28%20668.51%20484.62%20668.51%20484.62%20704.79%20508.28%20704.79%20508.28%20693%22%2F%3E%3Cpolygon%20class%3D%22cls-4%22%20points%3D%22524.67%20693%20524.67%20704.79%20586.56%20704.79%20586.56%20693%20598.39%20693%20598.39%20680.3%20586.56%20680.3%20586.56%20668.51%20524.67%20668.51%20524.67%20680.3%20512.83%20680.3%20512.83%20693%20524.67%20693%22%2F%3E%3Crect%20class%3D%22cls-4%22%20x%3D%22484.62%22%20y%3D%22728.37%22%20width%3D%2235.5%22%20height%3D%2211.79%22%2F%3E%3Crect%20class%3D%22cls-4%22%20x%3D%22484.62%22%20y%3D%22751.96%22%20width%3D%2235.5%22%20height%3D%2211.79%22%2F%3E%3Crect%20class%3D%22cls-4%22%20x%3D%22538.32%22%20y%3D%22728.37%22%20width%3D%2235.5%22%20height%3D%2211.79%22%2F%3E%3Crect%20class%3D%22cls-4%22%20x%3D%22538.32%22%20y%3D%22751.96%22%20width%3D%2235.5%22%20height%3D%2211.79%22%2F%3E%3Crect%20class%3D%22cls-4%22%20x%3D%22591.11%22%20y%3D%22728.37%22%20width%3D%2235.5%22%20height%3D%2211.79%22%2F%3E%3Crect%20class%3D%22cls-4%22%20x%3D%22591.11%22%20y%3D%22751.96%22%20width%3D%2235.5%22%20height%3D%2211.79%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E) no-repeat 0 0;}
.contentDetail .cover_library.emptyListMessageVisible .no_content_message b{font-size:1.1em; text-transform:uppercase; display:block;}

.contentDetail .wrapwidg.projectLibrary_link {margin:0;}
.contentDetail .wrapwidg.projectLibrary_link > .container{padding:0; width:100%;}
.contentDetail .wrapwidg.projectLibrary_link .container .content {display:block; width:100%; padding: 15px 20px; background-color:#fff; border:1px solid #cec9cb;}
.contentDetail .wrapwidg.projectLibrary_link .container .content > div{display:block;vertical-align: middle;margin: 0 0 10px;}
.contentDetail .wrapwidg.projectLibrary_link .container .content .text{padding: 0;}
.contentDetail .wrapwidg.projectLibrary_link .container > div .contact-container{width:100%; margin:0;}
.contentDetail .wrapwidg.projectLibrary_link .container > div .contact-container a{margin:0; padding:21px 40px 21px 10px;}
.contentDetail .wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text{width:auto; margin:0;}
.contentDetail .wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text h2{font-size:16px;}

/** STYLE WIDGET **/
/* MEDIAQUERY WIDGET */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
    .prCover .cover_library .scheda.coverLibrary {width: 48%;}
}

@media only screen and (min-width : 320px) and (max-width : 1024px) {
	.fl-file-tools,
	.fc-extend-section-label .folder-sharepoint-link,
	.fl-file-tool-download,
	.tool_modify,
	.tool_rate,
	.tool-reshare-content,
	.qtip-trigger.tool_highlight_del {display: none;}
	/** Attachments **/
	.fl-file-info.fl-file-info-size {margin-top: 0;}
}

@media only screen and (min-width : 600px) and (max-width : 767px) {
	.prCover .cover_library .scheda.coverLibrary h2.fancy-title a {font-size: 15px;}
	.scheda {margin-top: 20px;}
}

@media only screen and (max-width : 768px) {
    .prCover .cover_library .scheda.coverLibrary {width: 100%; margin: 0 0 20px;}
    .scheda {padding: 33px 10px 20px; margin-top: 0;}
	.author_name, .timestamp_extra {margin-left: 70px;}
    .fancy-infocontent,
    .fancy-actions,
    .fc-extend-body-label,
    .show-on-compact {margin-left: 0;}
    .scheda .fc-extend-body-label {margin-left: 0;}
	.portal .scheda .avatar.medium > a {width: 55px; height: 55px}
    .scheda .fancy-avatar img {width: 54px; height: 54px;}
    .fc-extend-body-label,
    .show-on-compact {padding-left:0;}
    .fc-extend-body-label {bottom:0;}
    .show-on-compact {clear:both; padding:0;}
    .show-on-compact .content-title {padding:10px 0 0;}
    .toggle-right-label-hide,
    .toggle-right-label-show {font-size:1em; width:20px; overflow:hidden; text-indent:-999px;}
    .portal .toggle-right-label-hide,
    .portal .toggle-right-label-show {font-size:1.1em; width:auto; text-indent:0; margin:20px 0 0;}
    .compact_wrapper {padding-bottom:4rem;}
    .compact_wrapper .timestamp_extra {margin-bottom:10px;}
    .scheda.extended .scheda_padding .compact_wrapper {padding-bottom:10px;}
    .my-content .compact_wrapper {margin:0;}
    .compact_wrapper + .content-main.visible {margin:-30px 0 0;}
    .portal .scheda [id*="_change_status"]{padding:0 0 20px;}
    .portal .scheda [id*="_change_status"] .select_container{margin:0; width:100%;}
    .portal .scheda [id*="_change_status"] button{width:100%; margin:0;}
    .scheda.extended .scheda_padding .fc-extend-section:last-child {margin:0;}
    .author-and-messages .user-toolbar{display:none;}
	.event-video .content-description{width:100%;}
	.event-video  .content_list_thumbnail{width:100%}
	#wrapComment .utenza_commento{margin:0;}
	.portal .author-and-messages {margin:-15px 0 22px;}
	.portal .scheda .content-title-container.title_no_link{margin: 0 0 15px;}
	.portal .scheda .restrictedField{font-size:.9em; padding:10px 0 0; float:none; display:block; text-align:right;}
    .portal .scheda .content_meta .team .member{display:block; padding:0;}
    .portal .scheda .content_meta .userTooltip{padding:0; white-space:nowrap;}
    .portal .scheda .content_meta .team .member .userTooltip strong{overflow:hidden; text-overflow:ellipsis; max-width:76%;}
    .portal .stream-scheda .content-body-toggle{color:#16a389;}
    .portal .scheda [id*="_change_status"]{display:block;}
    .portal .scheda [id*="_change_status"] .select_container{display:block; margin:0 0 10px;}
}
@media only screen and (min-width : 480px) and (max-width : 768px) {
	.fc-extend-body-label span  {font-size:12px; margin-right:12px;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    .content-toolbar {float: none; position: static; clear: both;}
    .content-toolbar:after {content: ''; display: table; clear: both; padding-bottom: 1rem;}
    .fc-extend-body-label {margin-left: 0;}
    .contentImageFilesHtml {display: none;}
    .fc-extend-body-label span {  font-size: 10px; margin-right: 4px; font-weight: bold;}
}

/* *TEMPORARY* HIDDEN TOOLTIP ON MOBILE*/
@media (max-width: 1200px) {
    .user-toolbar {visible: hidden;}
    .content-toolbar {display: none;}
}