/* ------------- NEW CONTENT ----------------------*/
.ribbon-messages{float:left; clear:both; margin-top:5px;}
.ribbon-message{margin:0 0 0 -5px; background:url(../../img/bk-angle-user.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left bottom; padding-bottom:5px; min-width:63px; max-width:63px; text-align:center;}

.ribbon-message div{color:#fff; font-size:8px; font-weight:bold; padding:3px; text-transform:uppercase;}
.ribbon-message.other div{background-color:#d32323}
.ribbon-message.new-content div{background-color:#58c325;}
.ribbon-message.blog-post div{background-color: #0f6bb3;}
.ribbon-message.editable-content div{background-color:#f89021;}
.ribbon-message.waiting-content div{background-color:#959698;}
.ribbon-message.inappropriate-content div{background-color:#be3737;}
.ribbon-message.idea div{background-color:#4593e8}
.ribbon-message.job.offer div {background:#01b3e2;}

/*ribbon Syncing content*/
.ribbon-message.jobAsyncSharepoint div{background-color:#ea313a; position:relative;}
.ribbon-message.jobAsyncSharepoint div::after{content:''; display:inline-block; width:7px; height:7px; background:url(../../img/anim_Dots.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right bottom;}
.fancy-scheda .fancy-content > .ribbon-message.jobAsyncSharepoint {position:absolute; right:-6px; background-image:none;}
.fancy-scheda.expanded .fancy-content > .ribbon-message.jobAsyncSharepoint {right:auto; left:0px; top:60px; background-image:url(../../img/bk-angle-user.png?v=@TAMTAMY_PREVENT_CACHE@);}

/*ribbon upcoming event*/
.ribbon-message.event-content{float:left; margin-top:-18px;}
.ribbon-message.event-content div{background-color:#4593e8;}

/*ribbon project covers*/
.ribbon-message.projectCover div{background-color:#91d2d4;}
.ribbon-message.projectCover.hackathon div{background-color:#376c2a;}
.ribbon-message.idea.innovative.project div{background-color:#f60;}
.ribbon-message.idea.hackathon.project div{background-color:#376c2a;}

/* ribbon stages msgs for Berries & Trainings */
.ribbon-message.redeemBerries div{background-color:#376c2a;}
.ribbon-message.pending div{background-color:#d1d1d1;}
.ribbon-message.progress div{background-color:#ffc40c;}
.ribbon-message.waiting div{background-color:#c2d952;}
.ribbon-message.declined div{background-color:#ef7c32;}
.ribbon-message.rejected div{background-color:#ed1c24;}
.ribbon-message.cancelled div{background-color:#ed1c24;}
.ribbon-message.accepted div{background-color:#8eb936;}
.ribbon-message.approved div{background-color:#8eb936;}
.ribbon-message.completed div{background-color:#5b7fad;}
.ribbon-message.done div{background-color:#5b7fad;}