/* --------------------------------------------
----------------------------------------------- CONTENT EXTRAS */
#contentThumb{margin:20px 0 10px; width:632px;}
#contentThumb img{border:2px solid #adadad;}
#detail .content_tab{padding-bottom:0;}
#details_1{float:left; padding:10px 0; position:relative; width:100%;}
#last_post{line-height:1.5; margin-bottom:10px; padding:0 0 15px;}
#mediacontent{border-bottom:1px solid #f5f5f5;}
#mirrorBg{background:url(../../../../img/content/bg-table-blog-mirror.gif?v=@TAMTAMY_PREVENT_CACHE@) 0 bottom repeat-x; border-bottom:1px solid #4b93bc;}
#news p{color:#2c2c2c; font-size:12px; padding:3px 2px;}
#news p span{color:#7a7a7a; float:left; font-size:10px; padding:1px 10px 4px 0;}
#otherInfo p a{color:#767676; text-decoration:none;}
#otherInfo p span{color:#2c2c2c; font-weight:700;}
#sendMail p.send_mail,
.addGroup .addGroup p.pull_invite{padding:0 0 20px; text-align:right;}
.box_help_role p.testo_desc,
#elencoGruppi div.box_help_role p.testo_desc{height:1%; margin-top:10px; padding:5px 0 10px; width:auto;}
.box_help_role p.text_desc{border-top:1px solid #4b93bc; height:1%; margin-top:10px;}
.cleared:after{content:"."; clear:both; display:block; height:0; visibility:hidden;}
.clearfix{display:block;}
.content_other_info{margin-top:10px; clear:both; padding:5px 0;}
.content_other_info p.label{font-weight:700; margin-bottom:5px;}
.content_tab{clear:both; padding:10px 0; width:100%;}
.content_tab .my_job_life p{clear:left; height:auto; padding-top:10px;}
.content_tab p span.field{color:#666; float:left; font-size:12px; font-weight:700; text-align:justify; width:520px;}
.content_tab p span.label{float:left; margin-right:5px; vertical-align:top; width:140px;}
.content_tab#box_content{clear:left; padding:5px 0 20px;}
.content_view_description{float:left; margin:10px 0 20px; position:relative; width:100%;}
.content_view_question img.content_icon{float:right; margin-top:25px;}
.contenuti{clear:both; position:relative;}
.profile_meta_data_anchor{clear:both; position:relative;}
.profile_anchor{clear:both; position:relative;}
.contenuti .favourite-blog div,
.contenuti .favourite-content div,
.contenuti .public-comments div,
.contenuti .public-content div,
.contenuti .public-post div,
.contenuti .public-post-comments div{float:left; margin-top:10px; padding-bottom:10px; width:100%;}
.contenuti .favourite-user div{float:left; height:auto!important; margin:15px 0 0; min-height:84px; padding-bottom:12px; width:222px;}
.contenuti .public-comments div p.comment,
.contenuti .public-post-comments p.comment{margin-top:10px; padding:5px 0 5px 30px;}
.contenuti div .thumb{float:left; height:41px; margin:0 10px 0 0; padding:0 0 15px; width:auto;}
.contenuti div .thumb img{width:80px;}
.edit{margin:0; padding:0; position:absolute; right:0; top:10px;}
.image{clear:both; height:94px; width:100%;}
.public-comments div p.comment span,
.public-post-comments p.comment span{color:#2c2c2c; font-weight:700;}
.pull_finali{float:left; margin:10px 0 0; position:relative; text-align:right; width:100%;}
.thumb{float:left; height:75px; margin-bottom:0; margin-right:10px; padding:15px 0 0;}
.uploadedBy p.title{color:#626262; font-size:12px; font-weight:700;}
.video,
.audio,
.image{clear:left; margin:0; padding:5px 0 8px;}
.video img,
.audio img,
.image img{float:left; margin-right:10px; width:110px;}
.video p img,
.audio p img,
.image p img{border:none; float:none; height:auto; margin:0; padding-top:0; width:auto;}

.wrapavatar img{z-index:9999;}
p#checkfavouser{margin:0; padding:0; position:absolute; right:0; top:8px;}
p.subscribe,
p.unsubscribe{position:absolute; right:377px; top:0;}
span#chatWindowOpen{display:none;}
.user_tooltip a:hover{text-decoration:none;}
.mentioning_mentioning_result .ac_results{width:99%!important;}
.content-big-image{width:400px!important; height:auto!important; max-width:1000px!important;}
