/* --------------------------------------------
----------------------------------------------- YOUR CONVERSATIONS */
.conversations{width:100%; position:relative; float:left; margin:6px 0 10px 0; border:solid 1px #ddd; background:#fff;}
.conversation-item{width:95%; padding:13px 1%; position:relative; float:left; margin-left:1%; margin-bottom:0; border:1px solid #fff; border-width:1px 1px 0 1px; border-bottom: 1px dotted #CFCFCF;}
.conversation-item.active{width:97.8%; background-color:#fff; margin-bottom:20px; border-width:2px; border-color:#72b0e9; border-bottom:2px solid #72b0e9; margin-left:-1px;}
.conversation-item:last-of-type{border-bottom:1px solid #fff}
.conversation-item:last-of-type.active{border-bottom:2px solid #70b473}
.conversation-item .heading, .conversation-item .content{border:none}
.conversation-item .heading{line-height:14px;color:#777; clear: right; float: left; padding: 0 3px 3px; width: 90%;}
.conversation-item.active .heading{padding:10px 3px 3px 3px}
.conversation-item .heading .first_line{cursor:pointer;float:left;width:95%;line-height:16px;}
.conversation-item .heading > div {margin-bottom: 3px;}
.conversation-item .heading .second_line{float:left;width:95%;line-height:12px;overflow:hidden;}
.conversation-item.active .heading .second_line{height:auto;line-height:normal; margin-left: -45px;}
.conversation-item .heading .count{veritical-align:middle;background:#d93131;color:#fff;padding:0 4px;font-weight:bold}
.conversation-item .heading .count_holder{display:inline-block;width:30px}
.conversation-item.active .heading .count_holder{display:none}
.conversation-item .heading .count_total{veritical-align:middle;background:#999;color:#fff;padding:0 4px;}
.conversation-item.viewed .heading .count{display:none;}
.conversation-item .heading .date{line-height:14px;font-size:12px;color:#777;padding: -1px;}
.conversation-item.active .heading .date{background:#72b0e9;}
.conversation-item.active .preview{display:none;}
.conversation-item .heading a{font-size:13px;color:#4493e9;font-weight:bold;}
.conversation-item.active .heading a{font-size:13px;font-weight:700;color:#666;font-weight:bold;}
.conversation-item.active .heading .first_line a,
.conversation-item.active .heading .count_total{font-size:23px;height:auto;line-height:20px;}
.conversation-item.active .heading .first_line{height:auto;line-height:32px;overflow:visible;}
.conversation-item .heading .first_line span.preview{margin-left:3px;font-size:13px;}
.conversation-item .heading .participants a{color:#999;font-size:11px;}
.conversation-item .heading .details{display:none;}
.conversation-item .first_line .comment{font-weight:bold;}
.conversation-item .user_comment{font-weight:normal;color:#7f7f7f;}
.conversation-item.active .heading .preview{display:none;}
.conversation-item.active .heading .details{display:block;}
.conversation-item.unread .heading .first_line a{font-weight:bold;}
.conversation-item.unread .heading .participants a strong{font-weight:normal;font-size:12px;}
.conversation-item.unread .heading .count_total,
.conversation-item.active .heading .count_total,
.conversation-item.active .heading .date{display:none;}
.conversation-item .heading .participants a strong{font-weight:400;}
.conversation-item .content{float:none;padding:0;position:relative;width:100%;margin-top:10px;}
.conversation-item .commento{position:relative;float:left;width:100%;color:#666;padding:5px 0 10px 0;border-bottom:1px solid #eee;}
.conversation-item .commento .text{padding:0 0 0 50px;}
.comment_date{float:right;color:#bbb;}
.conversation-item .utenza_commento img{position:relative;float:left;background:url("../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@") repeat-x center bottom #fff;border:1px solid #ddd;left:0;padding:3px;}
.conversation-item .reply-to-item{margin:0 0 10px 0;background-color:#fff;border:2px solid #ddd;position:relative;float:right;width:98%;height:100px;font-size:13px;font-weight:normal;color:#777;padding:5px;overflow-y:auto;background:url("../../img/input_bg.gif?v=@TAMTAMY_PREVENT_CACHE@") repeat-x;}
.conversation-item .replies{position:relative;float:left;width:100%;margin:10px 0;}
.more_button{float: right;text-indent:0;text-align:center;cursor:pointer;display:block;overflow:hidden;width:99%;height:35px;line-height:35px;padding:0;margin:10px 5px 10px 0;background:url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) bottom repeat-x;border:1px solid #ccc;color:#777;font-weight:bold;}
.more_button:hover{background:url(../../img/grad_01_rev.gif?v=@TAMTAMY_PREVENT_CACHE@) top repeat-x;}
.conversations #list-loader {text-align: center; padding: 20px 0 10px;}
.participants{padding:2px 0;}

.reply-box .wrapper{float:right;width:90%;}
.quick-reply-off{float:left;}
.reply-box .userTooltip > img {margin:0; padding:0;}
.contentThumb{padding:5px 0;}
.event-video .contentThumb{margin:0 auto;width:615px;}
.conversation-item.active .close_conversation{cursor:pointer;position:absolute;top:10px;right:10px;height:13px;width:13px;background:url(../img/delete-icon-x.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.wrapwidg .conversation-item .heading .first_line{width:85%;}
.count-comment-conversation {line-height:30px !important;position:fixed !important; width:30px;}
.count-conversations{clear: left; float: left; width: 6%; margin-top: 15px;}

.conversation-item .count-conversations .count_holder {display: block; text-align: center}
.conversation-item .count-conversations .count,
.conversation-item .count-conversations .count_total {background:none no-repeat scroll left -15px transparent; border-color:#d1d1d1; border-image:none; border-style:solid; border-width:1px 0 1px 1px; display:table-cell; font-size:10px; font-style:normal; font-weight:bold; height:19px; line-height:19px; width:27px;}
.conversation-item .count-conversations .count {color:#df2500;}
.conversations .unread-arrow-bord {background:url("../../img/bk-arrow-right-notify.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat scroll 10px center #f2f2f2; display:block; padding-left:0; width:34px;}
.conversation-item.active .count-conversations .count_total,
.conversation-item.active .count-conversations .count_holder{display:none;}
.conversation-item.active .heading .first_line a,
.conversation-item.active .heading .count_total {margin-left:-45px;}
