/* --------------------------------------------
----------------------------------------------- CONTENT TYPE: DAILY BREAK */
.ednews{line-height: 1.2em;}
.ednews ul{list-style:disc;}
.edn-description p{padding: 0 0 10px 0;}
.ednews h2 {border-bottom: 1px dotted #d1d1d1;}
.ednews h2 a {text-transform: uppercase;line-height:1.3em;}
.ednews h2 span{color:#666;text-transform: uppercase;}
h2.edn-title{color:#4493e9;text-transform: none;margin-top: 20px;border:0;}
.ednews-video{background:#000;}
.edn-ribbon {position: absolute;top: 24px;left: -5px;background: url(../../img/bk-angle-user.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left bottom;padding-bottom: 5px;min-width: 63px;max-width: 63px;text-align: center;}
.edn-ribbon div{color: white;font-size: 8px;font-weight: bold;text-transform: uppercase;}
.edn-other-news > div{margin: 10px 0;padding: 10px 0;border-top: 1px dotted #d1d1d1;clear: left;}
.edn-other-news h3{color:#4493e9;}
.edn-big-image{max-width: 622px!important;margin: 0 auto;float: none;display: block;}
.edn-description{margin:0 0 20px 0;}
.edn-description li{margin:5px 0 0 0;}
.edn-description ul {list-style-type:square;}

/*daily break n 100*/
#scheda_content_93305 .edn-description { text-align: center;}
.ednews .content-body {border-top: none;margin: 0;padding-top: 0;}
.scheda .jqueryExpandable .details img.edn-thumb {float: left;}

/*-------------------------------------------- DAILY BREAK
---------------------------------------------- WEEKDAYS COLORED ELEMENTS*/
	/*lunedi*/
.ednews.weekday_2 h2 a {color:#ffa500;}
.edn-ribbon.weekday_2 div{background:#ffa500;}
.fancy-daily-break-title.weekday_2 span{color:#ffa500;}
	/*martedi*/
.ednews.weekday_3 h2 a{color:#03c03c;}
.edn-ribbon.weekday_3 div{background:#03c03c;}
.fancy-daily-break-title.weekday_3 span{color:#03c03c;}
	/*mercoledi*/
.ednews.weekday_4 h2 a{color:#ce3018;}
.edn-ribbon.weekday_4 div{background:#ce3018;}
.fancy-daily-break-title.weekday_4 span{color:#ce3018;}
	/*giovedi*/
.ednews.weekday_5 h2 a{color:#a0109e;}
.edn-ribbon.weekday_5 div{background:#a0109e;}
.fancy-daily-break-title.weekday_5 span{color:#a0109e;}
	/*venerdi*/
.ednews.weekday_6 h2 a{color:#007fff;}
.edn-ribbon.weekday_6 div{background:#007fff;}
.fancy-daily-break-title.weekday_6 span{color:#007fff;}
