/* --------- Double Columns Autocompleter --------------------------- */
.jtt-chooser .jtt-chooser-float.jtt-two-column{margin: 0; top:4rem!important; display:none;}
.withLeftSidebar .jtt-chooser .jtt-chooser-float.jtt-two-column{margin: 0; top:3rem!important; width:96.5% !important;}
.jtt-two-column .jtt-body{display:table; width:100%; overflow:hidden;}
.jtt-two-column .jtt-col-left,
.jtt-two-column .jtt-col-right{width:49%; display:block; float:left;}
.jtt-two-column .jtt-footer{display:block;}

.massiveReshare-menuContainer .jtt-chooser-float.jtt-two-column .jtt-col-left,
.massiveReshare-menuContainer .jtt-chooser-float.jtt-two-column .jtt-col-right{width: 100%;}

.jtt-fulltext-t,
.jtt-circle-t,
.jtt-sphere-t,
.jtt-user-t,
.jtt-tag-t{display:block; margin:5px 0 0px;padding:0 0 5px 5px; clear:both; line-height:1em; font-weight:bold; border-bottom:1px dotted transparent;}
.jtt-fulltext-t{float: left;margin: 0 5px 0 0;padding: 0 0 0 5px;line-height: 24px;border: none;font-weight: normal;}

.jtt-chooser .jtt-chooser-float .jtt-footer{border-top:1px dotted transparent;}
.jtt-chooser .jtt-item-remover,
.jtt-item-remover,
.tag_selected_remover{background:url(../../img/icon-x-delete.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center transparent;height:18px;width:16px;text-indent:-9999px;padding:0;position:absolute;right:0;top:0;}
.inline .jtt-item-remover,
.sphereContent a.tag_remover{height:18px;}

.fc-extend-addtag a.tag_remover {position:absolute; right:0; display:inline-block; height:35px; color:#fff; width:30px; top:50%; transform:translateY(-50%); background:none; -webkit-transform: translateY(-50%);}
.fc-extend-addtag a.tag_remover:before {display:block; content:'\e97e';	font-size:20px;	line-height:35px; width:30px; height:35px;	margin-right:0;}

.jtt-loading{background:url(../../img/wait.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center;text-indent:-9999px;}

.jtt-item-name{display:block;padding-left: .5rem;}
.jtt-item-info{margin-top: 0;display:block;white-space: nowrap;text-overflow: ellipsis;padding-left: .5rem;}
.jtt-item-right-info{float:right;margin-right:1px;}
.jtt-tag-name{float:left;}
.jtt-tag{clear:both;}

.fc-extend-addtag .jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag {display: table;width: 100%;box-sizing: border-box;}
.fc-extend-addtag .jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag span{float:none;display:table-cell;}
.fc-extend-addtag .jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag span.jtt-item-right-info {padding: 0 10px 0 20px;text-align: right;}
