/* --------------------------------------------
----------------------------------------------- LITTLE INTERFACES ELEMENTS */
.file_list_item{float:left;height:74px;margin:0 10px 10px 0;position:relative;width:74px;}
.file-name{display:none;}

.thumb-interface{height:22px;width:22px;position:absolute; top:0; right:0; border-left:1px solid #d1d1d1; border-bottom: 1px solid #d1d1d1; background:#fff;}
.thumb-interface-compact{border-left:1px solid #ddd;}

a.interface-remvove{display:block;padding:0 0 0 20px;line-height:16px;background:url(../../img/ico-thumbs-delete.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
a.interface-download{display:block;padding:0 0 0 20px;line-height:16px;background:url(../../img/ico-thumbs-download.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
a.interface-makethumb{display:block;padding:0 0 0 20px;line-height:16px;background:url(../../img/ico-thumbs-setthumb.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
a.interface-thumbset{display:none;}

.revisioned-file,
.interface-open{position:static;cursor:pointer;height:20px;background:white url(../../img/icon-plus.png?v=@TAMTAMY_PREVENT_CACHE@) center 3px no-repeat;text-indent:-9999px;}
.interface-open.active,
.versionChooserOpen{background:#fff url(../../img/icon-less.png?v=@TAMTAMY_PREVENT_CACHE@) center 3px no-repeat;}
.interface-close{cursor:pointer;display:none;position:absolute;top:8px;right:5px;height:16px;width:16px;background:url(../../img/ico-thumbs-close.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;text-indent:-9999px;}

#personalSphereList ul li{padding:2px 0;}
#personalSphereList ul li a{font-size:1.18em; display:block; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; color:#666; padding:3px; background:#fff;}
#personalSphereList ul li a:hover{text-decoration:none; background:#09f; color:#fff;}
#personalSphereList li.selectedSphere  a{text-decoration:none; text-decoration:none; background:#666; color:#fff; border-radius:1px;}

#groupsAndLists h2{display:none;}

.sphere-breadcrumbs .breadcrumb.sphere-name{font-size:1.3em;}

#breadcrumbs{font-size:1.27em; margin-bottom:5px; padding-bottom:5px; border-bottom:1px solid #e2e2e2;}
#breadcrumbs a{border-right:1px dotted #ccc; padding-right:5px;}

.scheda.compact .itemCompactContent{width:165px;}
.scheda.compact .content_list_content_title{overflow:hidden; text-overflow:ellipsis; max-height:48px;}
.scheda.compact .thumbnail,
.scheda.compact .itemCompactContent{display:inline-block; float:left;}

.scheda.compact .thumbnail{padding:0 5px 0 0;}

.featured{position:absolute; top:0; left:0; height:48px; width:48px; background:url(../../img/featured-ribbon.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat; z-index:50; text-indent:-9999px;}

#groupMembershipRequest{margin:15px 0 0 0;padding: 15px;}
#requestSubscription_requestMessage{border:1px solid #d1d1d1; color:#666; height:100px; width:94%; margin:10px 0; overflow:visible; padding:5px;}
#groupMembershipRequest .request-send .howToJoin {float:right}

.request-already-sent{padding: 25px;background: white;border: 1px solid #d1d1d1;}

.navBarCounter{background:url(../../img/bk-arrow-white-left.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left center;display: block;right: -15px;position: absolute;z-index: 1;}
.navBarCounter.payroll{right: -22px;}
.navBarCounter.payroll > span{margin-left: 5px;}
.ie8 .navBarCounter.payroll{right: -22px;}

.payroll_notification_updates_new { float: right; margin-left: 20px; background-color:#df2500; padding: 3px; color:#fff; line-height:100%;}
.payroll_notification_updates_new.profile { margin-top: 7px;position: absolute;right:6px;}
.ie8 .navBarCounter.payroll > span{margin:0 0 0 5px;}

.cleared{clear:both;}
.tagging .tag-label{float:left;}

#usavatar a{margin:2px;padding:0;}
#usavatar ul li a{padding:2px 5px;margin:0 2px 0 0;}
ul.pager li a:hover, ul.pager li a.on{background:#09f;}
.scheda.mark_link .inline-rating{padding:0;}

#tamtamyCallouts{display:none;}
element.style{padding-left:10px; width:80px; color:#4697f0;}

a:hover,
a h2:hover,
a h3:hover{color:#4697f0;text-decoration:underline;}

#rss-widget h3 a{color:#4b93bc;}
#rss-widget p.infopost{color:inherit;}
#rss-widget li{background:none;}

#beadcrumbs{margin-bottom:5px; margin-left:5px; padding-bottom:5px; border-bottom:1px solid #e2e2e2;}
#beadcrumbs a{border-right:1px dotted #ccc;padding-right:5px;}

#allReplyersFeatured .vwall,
.vwall{display:none;}
#inner_header #configureRules{background:url(../../img/main/header_bg_ico2.png?v=@TAMTAMY_PREVENT_CACHE@ ) no-repeat scroll 0 0 transparent;}

.profile-company{clear:left;padding:3px 0 0 5px;display:none;}

#allSpheresWidget,
#spheresWidget{overflow:visible;}
#allSpheresWidget h2.widget_title,
#spheresWidget h2.widget_title{text-transform:uppercase;font-weight:bold;font-size:1.3em;}

#profileTools{position:absolute;bottom:0;right:0;}

#widget_viewall a,
#profileTools a{color:#4697f0;}
#userlistPluginFavorite a img{padding-right:3px;padding-left:1px;}

#sphereControls{position:inherit; top:0;}
#sphereControls a{color:#4697f0;float:right;padding:5px 35px 5px 10px;font-size:12px;}

#personalSphereList .unread_count{margin-left:120px; position:relative; top:6px;}

.unread_count,
.unread_sphere_count{}
.unread-arrow{margin:-3px 0;position:absolute;right:10px;background:url(../../img/bk-arrow-left-notify.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left -15PX;padding-left:6px;}

.widgetListSingleItemName{float:left;}

/* Breadcrumbs */
#breadcrumbs{border-bottom:1px solid #ccc;margin-bottom:15px;min-height:16px;padding-bottom:7px;}
#breadcrumbs a{border-right:none;padding-right:0;}
#breadcrumbsSeparator{background:url(../../img/main/separatore.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent; padding-right:10px; margin-left:10px;}
#breadcrumbsStream{background:url(../../img/main/stream_ico.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;float:left;height:16px;text-indent:-9999px; width:24px;}

.vwall{position:relative;top:-3px;}
.vwall a,
#userview a{color:#4697f0;text-decoration:none;text-transform:none;}
.vwall a:hover,
#userview a:hover{color:#4697f0;text-decoration:underline;}

.scheda.compact .scheda_padding{padding:0;}

.search-results .user_list_item img{background:none repeat scroll 0 0 transparent;border:0 none;border-radius:0;float:left;height:55px;margin-left:10px;margin-right:10px;padding:0;width:55px;}

.content_list_content_title{color:#4697f0}
.scheda.mark_file .inline-rating{padding:0}

.content-deco-tip{display:none}

.buttons_wrapper .greener span{background:none; height:26px;line-height:15px; padding:0 0 0 0;}
.content_commentnumbers{border-bottom:1px solid #ddd;font-weight:normal; height:20px;}
.newcomments{background:none; color:white;padding:5px 0 0 5px; margin:0;}
.scheda .content_extra a.replies{background:none;color:#4697f0;line-height:16px;float:right;padding:0;}
.unread_comments_count_container{background:url(../../img/main/ico_comments_red.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll left center transparent; color:white;display:block;float:left;width:19px;height:16px;text-align:center;}

.latestComments .singleCommentLatest:hover{ background:none;}
.longDescription ol{ margin:0 0 0 18px;}
.scheda .content_list_description p{text-align:justify; padding:0 0 0 65px;}
.content_extra_padding .unread_count{top:-4px; float:left;}


.content_user_single{background:none repeat scroll 0 0 #19a95d;}
.scheda .social-info{float:right; margin:-21px 0 0 0; padding:0 0; width:399px;}

#rss-widget p{text-align:justify}
#group p{padding:0}

#upload.cleared a,
#submit,
#cancel,
p.submit a,
.sub_board{margin-bottom:10px; margin-right:10px;min-width:65px;}

#upload-alternative.cleared a,
#submit,
#cancel,
p.submit a,
.sub_board{margin-bottom:10px; margin-right:10px;min-width:65px;text-align:center;}

.sphereContent a.generic_button.button_enabled.saver,
.sphereContent .edit-form-header a.generic_button.button_enabled,
.sphereContent #upload-alternative .submit a.generic_button.button_enabled{font-weight: bold; font-size: 14px; line-height:30px; height:auto; min-width:130px !important; padding:0 20px; margin:0 !important;	background:#3f8ad9 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmOGFkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzc5YmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #3f8ad9 0%, #3779be 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f8ad9), color-stop(100%,#3779be)); background: -webkit-linear-gradient(top,  #3f8ad9 0%,#3779be 100%);background: -o-linear-gradient(top,  #3f8ad9 0%,#3779be 100%); background: -ms-linear-gradient(top,  #3f8ad9 0%,#3779be 100%); background:linear-gradient(to bottom,  #3f8ad9 0%,#3779be 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f8ad9', endColorstr='#3779be',GradientType=0 );}
.sphereContent #upload-alternative.footer{overflow:hidden;}
.sphereContent #upload-alternative.footer .submit{text-align:center; margin:60px 0 40px;}
.sphereContent #upload-alternative.footer div a{float:none; width:130px; padding:7px 20px!important; display:inline-block;}

.sphereDescription{color:#333; text-align:justify;}
.group_entry.event .sphereDescription{}

.infopost{color:#666;}
.infopost a{color:#4697f0}
.infopost a strong{ margin-right:10px;font-weight:normal;}

#group .infopost{border-bottom:none}
#replySuggests .vwall{display:none}
.buttons_wrapper .greener span{width:65px;	text-align:center;}

#revisionList{float:left;width:49%;}

.profile-stats .p03 .profile-stats-favs,
.profile-stats .p03{background:none;display:none;}

.jtt-chooser .jtt-selected-item .jtt-user,
.people_list .jtt-user{position:relative;background:#19a95d;border:none; height:18px;padding:0 24px 0 5px;line-height:18px;float:left; margin: 0 .5rem .5rem 0;}
.people_list .jtt-user{height:24px;line-height:24px;}

.no_content_message{margin:10px;}
.cover_magazine .contents_wrapper .no_content_message{margin:10px 10px 10px 66px;}


.smart-upload-float .people_list .jtt-selected-item,
.smart-upload-float .sphere_list .jtt-selected-item {display:block;margin:0 0 0 -5px;}

#wrapcontent #main div.clear_list{clear: both;margin: 0 0 10px;}

#wrapcontent #main div.wraptitle a.button_ico {cursor: pointer; padding: 0 20px; background: none repeat scroll 0 0 #4a9bf2; border: 1px solid #3d85cf; color:#fff; font-weight: 700; height: 30px; line-height: 30px; text-decoration: none; text-transform: capitalize;}
#wrapcontent #main div.wraptitle h1 {color: #4c4c4c; font-size: 30px;font-weight: 700; margin-bottom: 15px; padding:0 0 5px;}


.updatedContentItem{background:url(../../img/icon-alert.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -2px;height:15px;width:15px;text-decoration:none;float:left;display:inline-block;padding:0 5px;text-indent:-20000em;}
.comments-info-link{float:left;}

#personalCoverImagesTongue{overflow:hidden; position:relative;}

.widget-sphereconversations #historywidg{padding:10px !important; overflow:auto;}
.widget-sphereconversations #historywidg blockquote{background:url("../../img/quote-nobk.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat scroll left top transparent; color:inherit; padding:5px 0 5px 20px;}

#widget-userskilltagcloud.plugin_userInfoBasicWidget span.single-tag-result {display:inline-block; max-width:190px; padding:0; position:relative; word-wrap:break-word;}
#viewTags_Widget .content_tab .singlePendingTag i {word-wrap: break-word; width:190px;}
#viewTags_Widget #historyTag ul.tab_list{float:none;}
#viewTags_Widget #historyTag ul.tab_list span{word-wrap:break-word;}
#viewTags_Widget #historyTag .content_tab b{word-wrap:break-word; width:190px;}
#widget-userskilltagcloud #history_tag_user .button_ico a {word-wrap:break-word!important; width:190px;}
#widget-userskilltagcloud #history_tag_user .tag_thisuser .button_ico span{word-wrap:break-word!important; width:200px; line-height:18px;}
#widget-userskilltagcloud #history_tag_user .tag_thisuser .button_ico{ height:auto!important; width:200px; word-wrap:break-word; line-height:18px;}
#viewTags_Widget #historyTag #history_tag_user {float:none; word-wrap:break-word;}


#conversations_container{box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);}
#all_spheres_container{box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);}
#widget_smart_upload_fixed{margin-left:5px;}
#widget_smart_upload_fixed.inline{margin-left:0;}

.smart_uploader_widget #uploadForm_smart {margin:0 0 10px 6px;padding:0; /* for SU classic => border-bottom: 1px solid #a8a8a8;background:#EBEBEB url('../img/bg_bottomShadowCE.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat bottom center;background-size: 100%;*/}
.withLeftSidebar .smart_uploader_widget #uploadForm_smart{}

#groupKeyTagsContainer{padding:10px;}

#group-key-tags{margin-bottom:-20px;}
ul#group-key-tags li{border-bottom:1px dotted #d1d1d1;margin-bottom:10px;padding-bottom:10px;}
#group-key-tags .last{border-bottom:none;}

#widget-sphereinfo,
#widget-userinfo{background:none repeat scroll 0 0 transparent;border:0 none;}
#widget-sphereinfo h2.widget_title{background:none;border:0 none;padding:0;}

.group-creation-date,
.group-tags,
.group-administrators,
.group-administrators,
.group-jobsuborders{border-bottom:1px dotted #d1d1d1; clear:both; color:#666; float:left; margin-bottom:10px; padding-bottom:10px;width:100%;}

#user-infoBasic {border-top:1px dotted #d1d1d1; border-bottom:1px dotted #d1d1d1; color:#343434; padding:20px 2px 15px;}
#user-infoBasic .user{font-weight:bold;padding-left:3px;}
#user-infoBasic .info{margin-bottom:10px;}
#user-infoBasic .userContacts{ font-size: 14px; font-weight: bold; margin-bottom: 10px; width: 100%;}
#user-infoBasic .userAddress{ font-size: 14px; font-weight: bold; margin: 20px 0 10px; width: 100%;}

.singlePendingTag{border-bottom:1px dotted #d1d1d1;margin-bottom:10px;padding-bottom:10px;line-height:1.2}
.singlePendingTag.last{border-bottom:0;margin-bottom:0;padding-bottom:0;	}
.rejectOrApprove{margin-top:8px}
.tagcloud.tag_list{font-size:30px}

.user-info.basic-link{border-top:1px dotted #d1d1d1;font-weight:bold;line-height:33px;padding:0 2px;overflow:hidden;position:relative;}
.widget_padding .payroll_notification_updates_new.payroll.profile { float: none; position: absolute; right: 0;z-index:-1;}
#widget-userinfo_body > div > a {display:block;float: left;width: 100%;}
#details-general-user{padding-bottom:0}
.basic-link.current{background-color:#f2f2f2}
#peopleWidgetContainer #wall .user a{float:left;overflow: hidden;height: auto;}
.cops #peopleWidgetContainer #wall .user a {    border-radius: 50%; overflow: hidden; height: 60px; width: 60px; display: inline-block;}

.blog_links_container{left:-122px;}
.user-infoBasic-dm,
.user-infoBasic-editaccount,
.user-infoBasic-editnotification{margin:4px 0;text-indent:-20000em;height:26px;width:26px;display:block;float:right;background:url(../img/icons-set-menu-sphere.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
.user-infoBasic-dm{background-position:-235px -26px;}
.user-infoBasic-editaccount,
.user-infoBasic-editnotification{background-position:-104px -26px;}

#widget-no-border .widget_padding{border:0; background:none;}
#widget-with-border .widget_padding{border:1px solid #d1d1d1; background:#fff;}
.slider_mix_left {float:left; width:249px;}
.contents_wrapper .emptyList.no_content_message{display:block; color:#999; font-size:13px; clear:both; margin:0 0 10px 0; float:none; width:auto; padding:15px;}
.contents_wrapper .no_content_message{display: none}
.emptyListMessageVisible .contents_wrapper .no_content_message.emptyList,
.emptyListMessageVisible .contents_wrapper .no_content_message.emptyReload {display: block;}

.anchor_top {display:block; position:relative; top:-50px;}
.user-disabled-avatar{-webkit-filter: saturate(0%) brightness(70%);}

/* ---- Policy Widget ---- */
.policyWidgetPlugin .text ul {list-style: disc outside none;}

/* ---- overflow PageDesigner protected page ---- */
#pageStatusProtectedInputContainer .overflow{ width:100%!important;}

/*----------------------------- Search Tags Results */
.search-tag-result{display:table; border: 1px solid #dadada; margin-bottom:5px; padding: 5px; position:relative; width:100%; overflow:hidden;}
.search-tag-result:hover{background: #eee;}
.search-tag-result a.tag-name{display:table-cell;background:url("../../img/tag.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat;vertical-align: middle; width:90%;height:16px; padding-left:20px; white-space: nowrap;text-overflow: ellipsis;overflow:hidden;max-width:1px;}
.search-tag-result span.tag-cardinality{display:table-cell;vertical-align: middle;text-align:right; width: 10%;padding-left:10px; margin-top: 5px; white-space: nowrap;text-overflow: ellipsis;}

/*----------------------------- Highlighted Words*/
.highlight-word{position:relative; z-index:1;}
.tag_token .highlight-word:before {opacity:.5;}
.tag_token .highlight-word {color:#fff; font-weight:bold;}
.fl-file-item.highlight-word {background:rgba(255, 193, 66, .40);}
span.highlight-word::before {content:''; position:absolute; background:rgb(255, 204, 0); opacity:.35; width:100%; height:100%; padding:2px; top:-1px; left:-2px; z-index:-1;}

/*----------------------------- File Item */
.fl-file-item .altered-file-alert {border:none; background:#f7f7f7; text-indent:5px;padding:4px 0 1px 0;}
.fl-file-item .altered-file-alert:before {content:'!'; font:bolder 18px/1em Times, serif; color:orange;padding:0 14px 0 3px;}
td.preview > div {position:relative;}

.altered-file .preview > div:before {content:'!'; position:absolute; right: 10px; bottom: 0px; display: block; color:#fff; background:#ffa500;	border-radius:10px; width:20px; height:20px; text-align:center; font: bold 17px/23px Times, serif;}
.altered-file .name div {color: rgb(197, 146, 62);}

.bandVideo { margin-left: 24px;}

.upload-box .section .meta_row,
.upload-box .section .form-field{position:relative; padding:0 0 20px;}
.upload-box .section .meta_row input {width:100%; padding:5px; box-sizing:border-box;}
.upload-box .section .meta_row input.input-box{border:1px solid #dfdfdf; min-height:40px;}
.upload-box .section .meta_row .fake-field input.input-box{border:none;}
.upload-box .section .meta_row select {width:100%;}

/* Project Award styles for generic content lists */
.content-list-ia-thumb{float:left; position:relative; text-align:left; margin-right:10px; overflow:hidden;}
.content-list-ia-thumb,
.content-list-ia-thumb img{height:100px; width:100px;}
