/*************************** Event Registration ******************************************************/
.eventWidgetPlugin.xchange_table{width:100%;}
.eventWidgetPlugin.xchange_table .interactive_title{width:32px;}
.eventWidgetPlugin.xchange_table .sessions{width:100%;display:block;float:left;clear:right; height:135px;}
.eventWidgetPlugin.xchange_table .event_container{display:block;float:left;clear:right;}
.eventWidgetPlugin.xchange_table .column{height:100%;display:block;float:left;width:201px;}
.eventWidgetPlugin.xchange_table .time{width:119px;background-color:#f0f0f0;}
.eventWidgetPlugin.xchange_table .time .cell{margin:0 auto;width:90%;}
.eventWidgetPlugin.xchange_table .time .cell p{padding:64px 0 0;}
.eventWidgetPlugin.xchange_table .column .cell{height:100%;}
.eventWidgetPlugin.xchange_table .column .cell p{padding:0;}
.eventWidgetPlugin.xchange_table .column .cell .seats{font-weight:bold;}

.eventWidgetPlugin.xchange_table .time,
.eventWidgetPlugin.xchange_table .interactive_title,
.eventWidgetPlugin.xchange_table .event_container{height:100%;display:block;float:left;clear:none;}

.eventWidgetPlugin.xchange_table .interactive_title{border:1px solid #ddd;background-color:#03acff;}
.eventWidgetPlugin.xchange_table .time{border:1px solid #ddd; border-left:1px none #ddd;}
.eventWidgetPlugin.xchange_table .event_container{border-top:1px solid #ddd;}
.eventWidgetPlugin.xchange_table .column{border-right:1px solid #ddd; border-bottom:1px solid #ddd;}
.eventWidgetPlugin.xchange_table .column .cell .registration_description,
.eventWidgetPlugin.xchange_table .column .cell .seats{padding:5px;text-align:center;}

.eventWidgetPlugin .sub_titles_sessions .title{width:200px;}
.eventWidgetPlugin .sub_titles_sessions .full_row{width:803px;}
.eventWidgetPlugin .sub_titles_sessions .full_row.error{width:803px;color:#f00;}
.eventWidgetPlugin .sub_titles_sessions{width:954px;}

.eventWidgetPlugin .netcamps_button{margin:10px auto;}
.eventWidgetPlugin .netcamps_button a{background:url("../../../../img/events/status-button_woodmeeting.gif?v=@TAMTAMY_PREVENT_CACHE@") no-repeat scroll center top transparent; width:150px;}
.eventWidgetPlugin .netcamps_button a.disabled{background:url("../../../../img/events/status-button_woodmeeting_disabled.gif?v=@TAMTAMY_PREVENT_CACHE@") no-repeat scroll center top transparent; cursor:default;}
.eventWidgetPlugin .netcamps_button a.disabled:hover{text-decoration:none;}

.eventWidgetPlugin.xchange_table .column .cell p{padding:0 0 0;}
.eventWidgetPlugin.xchange_table .column .cell .registration_description,
.eventWidgetPlugin.xchange_table .column .cell .seats{padding:5px;}

.eventWidgetPlugin div{text-align:center; padding:0;}
.eventWidgetPlugin div.label_container{text-align:left; color:#f00; font-weight:bold;}
.eventWidgetPlugin div.label_container label{font-weight:normal; color:#666; margin:0 2px 0 0;} 
.eventWidgetPlugin div.status_container{padding:2px;}
.eventWidgetPlugin select{width:200px; margin:0 auto 0 20px;}
.eventWidgetPlugin input{background:url(../../../../img/events/status-button.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 50% 0%; color:#fff; display:block; font-size:14px; font-weight:bold; height:35px; line-height:35px; margin:0 auto 0 20px; padding:0; position:relative; text-align:center; width:200px; border:none; cursor:pointer;}

.eventWidgetPlugin input.conditionCheckbox,
.eventWidgetPlugin input.preferenceSubmit{margin:0 auto;}
.eventWidgetPlugin .select_container,
.eventWidgetPlugin .label_container{line-height:20px;}
.eventWidgetPlugin .select_container input,
.eventWidgetPlugin .label_container input{padding:0; vertical-align:middle; background:#fff; margin-top:-2px;}
.eventWidgetPlugin.xchange_table .interactive_title span,
.rotate{-webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); -o-transform:rotate(-90deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);}
.eventWidgetPlugin .radio{width:auto!important;}

.verticalAgendaRegistrationBox .eventStyleNames .selection_style_color {float: left;}