/* ------------------------------------------
--------------------------------------------- CONTENT TYPE: EVENT */
.scheda.event:not(.stream-scheda) {max-width: 739px;margin: 15px auto 10px auto;}
.scheda.event .content-toolbar {margin-right: -15px;}
.scheda.event .content-toolbar a{background-image:url(../../img/Icons-set-ribbon-events.png?v=@TAMTAMY_PREVENT_CACHE@);margin-top: 5px; }
.scheda.event .content-body{padding:0 0 10px 0;border:none; overflow:inherit; margin-bottom:-10px;}

.event-data{letter-spacing: -1px; position:absolute; padding:5px 0; left:9%; top:21px; color:#fff;}
.event-data a {color: inherit;}
.event-data a:hover {color:rgba(255, 255, 255, 0.6); text-decoration: none;}

.event-data > div{float:left; text-align:center; padding:0 5px; height:48px;}
.event-data > div {border-right:1px dotted #d1d1d1;}
.event-data > div:last-child{border-right:none; border-left:1px dotted #d1d1d1;}
.event-data .day-from-to{ }
.event-data .only-one-day {padding-top:6px;}
.event-data .day-num{font-weight:bold; font-size: 2.5em;line-height: 0.8em;}
.event-data .day-word{font-size: 0.8em; text-transform:uppercase; font-weight:bold;}
.event-data .month{text-transform:uppercase; font-size:1.85em; font-weight:bold; padding-top:4px; }
.event-data .year{font-size: 1.4em; font-weight:bold; padding-left:2px;}
.event-title-container .event-title {display: table-cell; vertical-align: middle; text-transform: uppercase; font-weight:bold; font-size: 2em; max-width:300px; text-align:left; top:50%; overflow:hidden;}
.event-title-container {display: table; border-right: none!important;}
.event-data .event-location-container {display:table; font-size:1.4em; text-transform: uppercase; font-weight:bold;}
.event-data .event-location-container .event-location{display:table-cell; top:50%; vertical-align:middle; max-width:165px; overflow:hidden; text-align:left; padding-right:4px;}
.event-autor-container {padding-top:12px; float:left; padding-left:10px;}
.event-autor-container .event-label-organizer{float: left; padding-right: 4px; padding-left:10px; padding-bottom:4px;}
.event-autor-container .event-name-organizer{line-height:13px; float:left;}
.event-location {margin:20px 0 10px; padding:6px 0;}
.event-location > h3 {color: #4493e9;}
.event-image-container{max-height:200px;overflow: hidden;}

/* FIX iOS Mobile font-sizes */
.mobile.iphone	.selection_name,
.mobile.iphone	.selection_short_name{font-size:18px !important;}
.mobile.iphone	.category_fake .selection_short_name {font-size:18px !important;}