/* ------------------------------------------
--------------------------------------------- FILTERS */
.filters-tool .skin{float:left; width:79.4%; margin:0 1% 0 0;}
.skin.with-filterbyspheres{width:80.5%; margin:0 0 0 1%; float:right;}
.skin.with-orderby{width:85%; margin:0 1% 0 0;}
.skin.with-multiview{float:left; width:94.5%;margin:0 1% 0 0;}

.skin.with-filterbyspheres.with-orderby{width:65.5%; float:left;}
.skin.with-filterbyspheres.with-multiview{margin:0 1%; width:75%;}
.skin.with-orderby.with-multiview{width:71.2%;}
.withLeftSidebar .skin.with-orderby.with-multiview{width:67.3%;}
.withLeftSidebar .direct-message .skin.with-orderby.with-multiview{width:52.3%;}
.homeColumn1.lastPBColumn .skin.with-orderby.with-multiview{width:67%;}

.skin.with-filterbyspheres.with-orderby.with-multiview{width:60%;}
.filters-global-spheres li a{float: left;width: 50%;color: inherit;text-decoration: none;display: block;text-align: CENTER;line-height: 30PX;border-bottom: 1PX SOLID #D1D1D1;}
.filters-global-spheres li:first-child a{border-right:1px dashed #d1d1d1; margin-right:-1px;}
.filters-global-spheres li a:hover {background-color:#f8f8f8;}
.filters-global-spheres li a.filterOn,
.filters-global-spheres li a.filterOn:hover{background:#ebebeb; cursor:default;}
.filters-tool .label{float:left;padding-right:5px;margin:5px 0;}
.filters-tool .sphere.current{float:left;}
.filters-tool .over-zone.opened .text-message{display:none;}
.filters-tool .over-zone.opened .ac_input{margin:2px 0;display:inline;background:#fff;}
.filters-tool .over-zone input.ac_input{margin:2px 0;display:none;}
.filters-tool .over-zone.opened .open-close-filters span{background:url(../../img/arrow-blu-up.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right}
.filters-tool .attachment-ico{background:url(../../img/clip-16x16.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 4px transparent;text-indent:-200000em;width:16px;height:20px}
.filters-tool .item-selected{float:left;}
.filters-tool .item-selected.tags .tags-label{display:none;}
.filters-tool .orderby{float:right;}
.filters-tool .orderby .order-last div,
.filters-tool .orderby .order-live div{float:left;padding:0 5px;}
.filters-tool .orderby .order-last.selected div,
.filters-tool .orderby .order-live.selected div{font-weight:bold;}

.filters-and-cloud .tagcloud{background:none;font-size:2em;}
.filters-tool .jtt-sphere{float:left;padding-right:5px;margin-left:5px;margin-right:5px;}
.over-zone .fake-field{padding-left:5px;margin:0;position:relative;padding-right:30px;line-height:30px;}

.filters-tool .filters-and-cloud {right:0; left:0; border:1px solid #d1d1d1; background:#fff; border-top: none;position: absolute;z-index:2;box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);}
.filters-and-cloud.open-access {position:static; right:0; left:0; border:none; background:none; z-index:2; box-shadow:none;}
.no-sphere-message{border-bottom:1px solid #d1d1d1; font-size:0.8em; line-height:30px; float:left; width:50%; text-align:center; color:#999;}

/* for filter in manage spheres */
.filters-tool.browse{float:right; width:43%;}
#browseSpheres ul.tab_list{float:left; clear:none; margin-bottom:15px;}
.browse-sphere-title{padding-top:30px;}

#contentTypeSelector{margin-bottom:5px; margin-right:5px; float:left;}
#attachment-filter{float:right;}
#attachment-filter img{float:left; margin:0 2px 0 0;}
#attachment-filter span{line-height:32px;}
#contextualSearch input{border:none; overflow:hidden; width:277px; margin:0;}
a.jtt-closer,
a.jtt-urlinfo-closer{float:right;height:16px;width:16px;border:1px solid transparent;cursor:pointer;background:url(../../img/x-closer.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 2px 2px;padding:0;text-indent:-20000em}
a.jtt-closer:hover,
a.jtt-urlinfo-closer:hover{border-color:#ddd;}
.projectCover a.jtt-urlinfo-closer{display:block; position:absolute; z-index:2; right:0;}
.attachment_selected span,
.fulltext_selected span,
.user_selected span,
.tag_selected span{float:left;}

.user_selected{background:#19a95d;}

.fulltext_selected{background:#ddd;color:#333,}
.attachment_selected{background:url(../../img/ico-attachment.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll -2px -2px #1C3D60;padding-left:24px;}

#contextualSearch input.focused{color:#666;}
.remove-disable .user_selected{padding-right:10px;margin-left:5px;margin-right:5px;}
.remove-disable .tag_selected_remover{display:none;}

.tag_token_add{float:left; display:block; background-color:#4c4c4c; padding:1px 5px; color:inherit; margin:0 2px 5px 0;}
.tag_token_add:before{top:0; border-right-color:#4c4c4c;}
.tag_token_add > a{float:right;}