/* --------------------------------------------
----------------------------------------------- FILTRI */
.filtri{width:100%; clear:both; height:20px; margin:0 0 5px;}
.filtri a{position:relative; float:right; display:block; background:#aaa; color:#333; padding:2px 4px; margin:0 0 0 1px;}
.filtri a:hover{background:#333; color:#fff; text-decoration:none;}
.filtri a.on{color:#333; font-weight:bold;}
.filtri a.on:hover{color:#fff;}
.conversationFilter{width:100%; clear:both; height:20px; margin:0 0 5px;}
.conversationFilter a{position:relative; float:right; display:block; background:#aaa; color:#333; padding:2px 4px; margin:0 0 0 1px;}
.conversationFilter a:hover{background:#333; color:#fff; text-decoration:none;}
.conversationFilter a.on{color:#333; font-weight:bold;}
.conversationFilter a.on:hover{color:#fff;}
.filtro_lingue_services{width:100%; clear:both; height:20px; margin:0 0 5px;}
.filtro_lingue_services li a{position:relative; float:right; display:block; background:#aaa; color:#333; padding:2px 4px;margin:0 0 0 1px;}
.filtro_lingue_services li a:hover{background:#333; color:#fff; text-decoration:none;}
.filtro_lingue_services li.on a{color:#333; font-weight:bold;}
.filtro_lingue_services li.on a:hover{color:#fff;}
.filtro_lingue{width:100%; clear:both; height:20px; margin:0 0 5px;}
.filtro_lingue li a{position:relative; float:right; display:block; background:#aaa; color:#333; padding:2px 4px; margin:0 0 0 1px;}
.filtro_lingue li a:hover{background:#333; color:#fff; text-decoration:none;}
.filtro_lingue li.on a{color:#333; font-weight:bold;}
.filtro_lingue li.on a:hover{color:#fff;}
.filtro_lingue_agenda{width:100%; clear:both; height:20px; margin:0 0 5px;}
.filtro_lingue_agenda li a{position:relative; float:right; display:block; background:#aaa; color:#333; padding:2px 4px; margin:0 0 0 1px;}
.filtro_lingue_agenda li a:hover{background:#333; color:#fff; text-decoration:none;}
.filtro_lingue_agenda li.on a{color:#333; font-weight:bold;}
.filtro_lingue_agenda li.on a:hover{color:#fff;}
#mediafilter,
#langfilter{clear:both; margin:0; padding:0; text-align:right;}
#mediafilter p,
#langfilter p{line-height:1; margin:0; padding:2px 10px;}
#langfilter p a span{padding:0 8px 1px 17px;}
#langfilter p a img{vertical-align:middle;margin:0;padding:0;}
#filtri_terzo_livello,
#wrapfilter{float:left;position:relative;padding:0;margin:0;width:100%;}
#filtri_terzo_livello p a,
#mediafilter p a,#langfilter p a{text-transform:uppercase;font-weight:700;text-decoration:none;color:#999;display:inline-block;padding:2px 0;}
#filtri_terzo_livello p a span,
#mediafilter p a span,#langfilter p a span{background:url(../../img/check_off.gif?v=@TAMTAMY_PREVENT_CACHE@) 0 0 no-repeat;padding:0 4px 0 17px;}
#filtri_terzo_livello p a span.on,
#mediafilter p a span.on,#langfilter p a span.on{background:url(../../img/check_on.gif?v=@TAMTAMY_PREVENT_CACHE@) 0 0 no-repeat;}
#filtri_terzo_livello p.langfilter,
#langfilter,
#wrapComment a.submit,
#wrapcontent #main #chart .upDown,
#dettaglio img.content_icon{float:right;}
#type_filter{text-align:right; line-height:12px; text-transform:uppercase; margin:8px 0 5px;}
#type_filter input{margin-left:4px;}
#content_meta_filter{width:450px;}
.content_meta_filter_row{width:220px;float:left;display:block;clear:none;padding:0 0 5px;}
.content_meta_filter_row label{width:90px;float:left;margin-right:0.5em;display:block;}

.numbers li{float:left;padding:0 5px;}
.numbers li,
#postFilter li,
#homeContentFilter li{line-height:28px;}
.numbers li.selected{border:1px solid #d1d1d1;background:#fff;}
.numbers .selected a{background: none;}

/* End */
.floatCleaner{clear:both;}
#tagBoxToggle{border:1px solid #CCC;float:right;padding:4px;text-align:center;width:7%;height:18px;font-weight:bold;}
#tagBoxToggle a{vertical-align:middle;}
#filterContainer{clear:both;padding:0 20px;}
#groupsAndLists h2{background:none repeat scroll 0 0 #bbb;clear:both;color:#fff;font-weight:normal;margin-bottom:0;margin-top:5px;padding:3px;width:97%;}
.tagfilter {clear:both;float:left;}
.more_tab{background:none repeat scroll 0 0 #f3f3f3;border:1px dashed #ccc;font-weight:bold;padding:3px 300px;}
a.remover,
a.skilltag-remover{background:url(../../img/icon-skilltag-x.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;height:16px;width:16px;text-indent:-20000em;}
a.remover{float:right;display:block;}