/*----------------------------------------------
------------------------------------------------ NAVIGATIONAL FILTERS (A VERSION of FILTERS) */
.navi-filters .sphere.current{font-variant:small-caps;font-size:1.3em;text-transform:uppercase;font-weight:700;padding-right:10px;background:#fff;padding-left:0;color:#666;}
.navi-filters.over-zone{position:relative;}
.navi-filters.over-zone .text-message{display:inline-block;}
.navi-filters.over-zone.opened .text-message{display:none;}
.navi-filters .open-close-filters a{text-indent:-20000em;display:block;height:30px;width:30px;}

.open-close-filters span.text{display:none;}
.open-close-filters{border-left:1px solid #d1d1d1;position:absolute;top:0;right:0;bottom:0;}
.open-close-filters a{background:url(../../img/icons-set-30x30.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll -30px -30px transparent;float:right;}
.navi-filters.over-zone.opened .open-close-filters a{background:url(../../img/icons-set-30x30.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 -30px  transparent;}

.drop-down-box{float:left;background:#fff;width:18.5%;line-height:30px;margin:0 0 7px 0;}
.drop-down-box > div{border:1px solid #d1d1d1;font-weight:700;padding:0 0 0 10px;overflow:auto;}
.drop-down-box > div > span{float:left;color:#4c4c4c;}
.drop-down-box > ul{border:1px solid #d1d1d1;border-top:none;position:absolute;z-index:3;width:19.4%;background:#fff;box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);}
.drop-down-box li{border-top:1px dotted #cfcfcf;}
.drop-down-box li:first-child{border-top:none;}
.drop-down-box .filter{padding:0 10px;}
.drop-down-box.order-by{width:14%;}

.closed .icon-triangle{background:url(../../img/icon-triangle-up-down.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 3px center;}
.icon-triangle{background:url(../../img/icon-triangle-up-down.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -21px center;}

.filter-open-button{text-indent:-20000em;float:right;border-left:1px solid #d1d1d1;height:30px;width:30px;}
#breadcrumbs{display:none;}

.drop-down-box.icons{width:30px;height:30px;}
.drop-down-box.icons > div{padding:0; margin:0;}