/* --------------------------------------------
----------------------------------------------- FOOTER */
#footer{clear:left;position:relative;height:110px;width:100%;padding:0;background:url(../img/bk-shadow-main-bottom.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right bottom;}
#footer p#agreem{position:absolute;right:10px;top:10px;height:76px;color:#666;padding:20px 0 0 110px;display:none;}
#footer p#global{position:absolute;right:10px;top:20px;padding:0;}
#footer p#global a#forum{float:left;background:url(../img/forum.png?v=@TAMTAMY_PREVENT_CACHE@) left center no-repeat;height:25px;width:50px;text-indent:-9999px;margin-left:10px;}
#footer p#logo_pow{position:absolute;left:10px;top:20px;}
#footer p a{color:#666;text-decoration:none;}
#footer p#global a#feedback{background:url(../img/leave_feedback.jpg?v=@TAMTAMY_PREVENT_CACHE@) left center no-repeat;}
#footer p#global a#rss{background:url(../img/rss.png?v=@TAMTAMY_PREVENT_CACHE@) left center no-repeat;text-transform:uppercase;height:25px;width:70px;text-indent:-9999px;float:left;margin-left:10px;}
#footer p#logo_pow a{background:url(../img/tamtamy-logo.png?v=@TAMTAMY_PREVENT_CACHE@) 0 0 no-repeat;width:130px;height:50px;display:block;}
#logo_pow span{display:none;}
#version{text-align:center;display:none;}
