/*-----------------------------------------
-------------------------------------------	FORM FIELDS */
select,
.field.select,
.addGroup .field,
.field.notification,
.notification-config-table input,
.campi input{border:1px solid #d1d1d1; overflow:hidden; padding:5px; background:#fff; line-height:16px; min-height:16px;color:#777;}
input[type=checkbox],
input[type=radio]{margin:0.1em 0 0; line-height:1em; vertical-align:text-top;}
input[disabled="disabled"],
input[disabled="true"],
select[disabled="disabled"],
select[disabled="true"]{background:#ddd; color:#aaa; opacity:.7;}
.field.select select{border:none; background:none;}
.field.select:hover,
.addGroup .field:hover,
.field.notification:hover,
.campi input:hover{border-color:#bee5ff;}

.normal-field,
.fake-field{margin:5px 0; line-height:30px; padding:0 0 0 5px; font-size:13px; color:#4c4c4c;}
.normal-field .normal-field-label{position:relative; float:left; line-height: 18px; margin-top:8px;}
.fake-field{background:#fff; border:1px solid #d6d6d6;}
.fake-field.disabled{background:#f7f7f7 none repeat scroll 0 0; cursor:default;}
.fake-field.half{width:45%}
.fake-field.error,
.error.error-area,
.fake-field-select.error{border-color:#f00;}

.fake-inputfile-field{overflow:hidden; padding:0; position:relative; cursor:pointer;}
.fake-inputfile-field:hover{background:#fff;}

.fake-input-group{overflow:hidden;}
.fake-inputfile-field.media{padding:0 3px;}
.fake-inputfile-field.media:hover{color:#fff; text-shadow: 0 0 1px #2d629a; border-color:#5484db; background:#5484db; /* Old browsers */background: -moz-linear-gradient(top,  #5484db 0%, #4a74bf 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5484db), color-stop(100%,#4a74bf)); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  #5484db 0%,#4a74bf 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  #5484db 0%,#4a74bf 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  #5484db 0%,#4a74bf 100%); /* IE10+ */background: linear-gradient(to bottom,  #5484db 0%,#4a74bf 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5484db', endColorstr='#4a74bf',GradientType=0 ); /* IE6-9 */}
.fake-inputfile-field.attachment{box-sizing: border-box; width:79%; float:left; margin-right:5px;}
.fake-input-media-message {margin:5px 0; margin: 5px 0; border: 1px dotted #d1d1d1; padding:5px;}


.fake-inputfile-field .label{float:left; padding:0 5px; border-right:1px solid #d4d3d4; background:#fff; cursor:pointer;}
.section .fake-inputfile-field .label{line-height:30px;}
.section .fake-inputfile-field .label.tag_editor{line-height:29px; position:relative;}
.fake-checkbox-field .label {white-space: normal;}
.fake-checkbox-field .label .hideThumbnail,
.fake-checkbox-field .label .commentsEnabled{display:inline-block; padding:0 0 0 7px; line-height:2em; vertical-align:middle;}

.categorization .fake-inputfile-field .label{padding:1px 5px 0;}
.projectCover .categorization .fake-inputfile-field .label{padding:0 5px;}
.upload-box .multi_uploader .generic_button,
.upload-box .multi_uploader .generic_button_danger {background-size: contain;height: 28px;line-height: 28px;}

.fake-inputfile-field .attach-label{float:left; color:#999; padding:0 5px; cursor:pointer; width:65%; border:none;}
.fake-inputfile-field input[type="file"]{opacity:.01; filter:alpha(opacity=1); position:absolute; width:100%;top:0;right:0;bottom:0;cursor:pointer;}
.file-container.attachment input[type="file"]{position:absolute; top:-20000em;opacity:0.01;filter:alpha(opacity=1);}
.file-container.attachment{background:#f7f7f7; margin-top:-5px; padding:5px; border:1px solid #ddd;border-top:none;display:none; font-size:10px; padding:5px; overflow:auto; margin-bottom:5px;}
.selected-attachment{position:relative; float:left; height:auto; max-height:300px; max-width:84px; overflow:visible;width:83px;}
.selected-attachment .attach-name{display:block; float:left; overflow:hidden;text-overflow:inherit;width:84%;line-height: 1.2em;word-break: break-all;} 
.selected-attachment-thumb{padding:0 0 5px 0; width:74px; height:74px;}
.selected-attachment  .attach-delete{position:absolute; top:50px; right:9px; cursor:pointer; background:url("../img/icon-x-circle-delete.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat scroll center center transparent; height:24px; text-indent:-20000em; width:24px}

.fake-field.focus{box-shadow:0 0 5px #4697f0; border:1px solid #fff;}
.fake-field input{border:0; height:29px; width:94%; background:transparent;}
.fake-field textarea{border:0; width:94%; padding-top:8px; background:transparent;}

.fake-checkbox-field{margin:5px 0; border:1px dotted #d1d1d1; padding:10px 5px;}
.smart_uploader_widget.inline .fake-checkbox-field{border-width:1px 0; border-style:solid; border-color:#84c3ef; padding:20px 0px;}
.smart_uploader_widget.inline .fake-checkbox-field.upload-option{display:inline-block; padding: 5px 0; border:none; float:left;}

.main-canvas {height:125px; background-repeat:no-repeat; background-position:center center;}
.main-canvas .box{padding:10px; float:right; background:#fff;}
.main-canvas .box.right{width:390px;}
.main-canvas .box.right .welcome-message{margin-top:47px;}
.main-canvas .box.right .welcome-message span{font-size:12px; font-weight:bold; color:#575757; display:block;}
.main-canvas .box.right .welcome-message a{text-decoration:none; text-transform:uppercase; font-style:italic; border-top:1px solid #0091f6;}
.main-canvas h3{font-variant:small-caps;}
.main-canvas .hl-container .hl-item{box-shadow:none; margin:0; padding:0;}
.main-canvas .jtt-slider{width:220px; height:150px;}
.main-canvas .jtt-slider .jtt-page,
.main-canvas .box .hl-container .hl-item{width:220px; height:120px;}
.main-canvas .hl-container .hl-item:hover{box-shadow:none;}
.main-canvas .hl-container .hl-item .hl-info{padding:0;}
.main-canvas .hl-container .hl-item .hl-info .scoreItemUser{display:none;}
.main-canvas .hl-container .hl-item .hl-info .scoreItemTitle,
.main-canvas .hl-container .hl-item .hl-info .scoreItemUser{padding:5px 0;}

.main-canvas .hl-container .hl-item:hover .hl-info{background:#fff; height:45px; margin-top:-23px; position:relative;}
.main-canvas .hl-container .hl-item:hover .hl-info .scoreItemUser{display:block;}
.main-canvas .jtt-slider .jtt-navi{bottom:4px;left:26%;}
.main-canvas .hl-container .hl-item .hl-thumb{height:120px;}

#profileWidget{text-align:center; padding:0;}
#profileWidget #userpic{width:82px; margin:0 auto 10px;}
#profileWidget .homeProfilePicture{width:64px; height:64px; background:#fff; margin:0 0 0 3px; padding:7px; border:2px solid #ddd; border-radius:5px;}
#profileUserNickname{font-style:italic;}
#profileDataContainer h3{margin:0;}
.main-canvas .box.right h3{display:none;}

@media screen and (max-width:767px){
	.upload-box .multi_uploader .generic_button_danger{padding:0 10px;}
	.upload-box .multi_uploader .generic_button_danger::before{content:'\e90e'; font:normal 1.5em/1em 'tamtamy-icon'; vertical-align:text-bottom;}
	.upload-box .multi_uploader .generic_button_danger > span{display:none;}
}