/* --------- Gallery --------------------------- */
.jtt-gallery{position:relative;width:400px;}
.jttg-images img{width:200px;width:100px;padding:4px;max-height:60px;position:absolute;top:0;left:0;background:#FAFAFA;box-shadow:0 0 8px rgba(0, 0, 0, 0.4);}
.jttg-nav{position:absolute;top:0;left:175px;width:100px;}
.jttg-nav .jttg-page-displayer,
.jttg-nav .jttg-prev,
.jttg-nav .jttg-next{display:block;float:left;height:34px;}
.jttg-nav .jttg-page-displayer{background:url(../../img/nav-hl-center.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center;width:18px;padding:0 10px;line-height:34px;color:#fff;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.54);}
.jttg-nav .jttg-prev{text-indent:-20000em;background:url(../../img/nav-hl-left.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center;width:28px;}
.jttg-nav .jttg-next{text-indent:-20000em;background:url(../../img/nav-hl-right.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center;width:26px;}
.jttg-text{position:absolute;top:40px;left:175px;background:#fff;}

#home-highlights-gallery{margin-top:5px;}
.jttg-text{height:68px;width:205px;}
.jttg-text a.contentlink{position:absolute;bottom:0;border-top:1px solid #4697f0;text-decoration:none;text-transform:uppercase;font-style:italic;}
.gallery-title{display:block;font-size:13px;color:#575757;font-weight:700;}