/* --------------------------------------------
----------------------------------------------- GROUP HIGHLIGHT */
.scheda.group_highlight{font-size:12px;height:150px;float:right;width:696px;background: transparent;border:medium none;clear:none;text-shadow:1px 1px 1px #1a191a;}
.group.event .scheda.group_highlight{text-shadow:none;}
.scheda.group_highlight .content_list_content_title{color:#fff;margin-top:20px;}
.scheda.group_highlight .thumbnail {height: 193px;width: 193px;overflow: hidden;float:left;border:3px solid #ebebeb;box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);margin: 3px 15px 3px 3px;}
.scheda.group_highlight .thumbnail.empty {display:none;}
.scheda.group_highlight .thumbnail img{height: 193px;}
.content-slider .scheda.group_highlight .thumbnail{box-shadow:none; border: 3px solid #d1d1d1;}

.scheda.group_highlight .timestamp_extra{font-size:0.9em;color:#999;display: block;}
.slider_mix_right .scheda.group_highlight .user {color: #4697f0!important;}
.scheda.group_highlight .user{font-size:0.9em}
.scheda.group_highlight .itemCompactContent{display:inline;float:none}
.scheda.group_highlight .content-footer{background:none;width:94%;clear:none;float:left;border:none;margin:15px 0 0 0}
.scheda.group_highlight .content_user_single,
.scheda.group_highlight .content_group_single{background:none;color:inherit;margin:0;padding:0 0 0 5px;line-height:13px;height:13px}
.scheda.group_highlight .content-footer .group_highlight.content_groups .content_user_single a{color:#19A95D}
.scheda.group_highlight .content-footer .group_highlight.content_groups .content_user_single a 
.scheda.group_highlight .content-footer .group_highlight.content-tags a,
.scheda.group_highlight .content-footer .group_highlight.content_groups .content_group_single a{color:#4697f0!important;}
.scheda.group_highlight .content_groups{float:none}
.group_highlightdescription{line-height: 1.2em;}
.group.event .group_highlightdescription{color:#4c4c4c;}
.scheda.group_highlight .shared-label{float:left}
.scheda.group_highlight .content-tags, .scheda.group_highlight .content_groups{width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}

.content-higlight-pager-container{border-bottom: 1px dotted #D1D1D1;margin: 0 10px;overflow: hidden;}
.content-higlight-pager-container .widgetListPager{border-right:0;padding: 5px 0;float: right;}
.content-higlight-pager-container .widgetListPager a.next,
.content-higlight-pager-container .widgetListPager a.next:hover{background-position:-16px -64px}
.content-higlight-pager-container .widgetListPager a.prev,
.content-higlight-pager-container .widgetListPager a.prev:hover{background-position:0 -64px}

.content-slider,.content-slider .scheda.group_highlight{width:100%;}
.content-slider .scheda.group_highlight{float:left;margin:0;}
.content-slider .scheda.group_highlight .scheda_padding{padding:8px}
.slider_mix_right .content-slider .scheda.group_highlight .scheda_padding {margin-left: 8px; text-shadow: none;}
.content-slider .scheda.group_highlight .content_list_content_title{color:#4697f0!important;margin: 8px 0;padding: 0;}
.content-slider .jtt-navi{padding: 10px;right: 0;left: inherit;}
.en-content-title{display: none}
.scheda .group_highlight {padding-top: 3px;}