/* ------------------------------------------------------------------------------------------- GROUPS */
.group_entry{position:relative;float:left;border:1px solid #dbdbdb;background:#f0f0f0;margin:0 8px 20px;}
.group_entry.event{}
.group_entry.event.multipleDate .scroll-container{padding-top:5px; padding-bottom:30px;}
.group_entry .scroll-container{overflow:auto;width:286px;height:214px;padding:25px 10px 10px;height:215px;}
.group_entry:hover{background-color:#fff;}
.group_entry.event:hover{}

.infopost-label{border-top:1px dotted #cfcfcf;line-height:26px;min-height:26px;}
.infopost-label:first-child{border:none;}
.infopost-label span{font-weight:700;}

.sphereTitle{border-bottom:1px dotted #cfcfcf;}
.group_entry .reply_badge{display:none;}
.group_entry .content_list_thumbnail{width:60px;}
#group{padding-top:15px;line-height:1.5;margin-bottom:10px;padding:5px 0 15px;}

#group.sphereList{margin:0;padding:0;}
#group.sphereList.tools{}
.sphereList .fa-lock:before {content:''; display:block; width:20px; height:20px; margin:0 0 -4px; background: url(../../img/icon-sphere.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;}
#group .panel{margin-bottom:10px; position:relative; clear:both; padding:20px 0 20px 10px;}
#group .panel .image{clear:both; width:650px;}
#group .panel img{background:none; height:66px; float:left; margin-bottom:0; margin-right:10px; width:94px; border:1px solid #adadad;padding:0;}
#group .panel a.close_panel{background:url(../../img/delete-icon.png?v=@TAMTAMY_PREVENT_CACHE@) left top no-repeat;height:9px;width:9px;position:absolute;top:6px;right:0;}
img.avatar_group{margin:0 5px 0 0; float:left; background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x center bottom;border:1px solid #ddd;padding:3px;}
#group .content_details{padding:0;width:100%;margin:10px 0 0;}
#group .panel img.online_offline_status_icon,
#contents img.online_offline_status_icon{width:auto; border:none; height:auto;text-align:left; float:none; vertical-align:middle;margin:0 0 2px 3px;}
#group img.online_offline_status_icon,
#group img.status{height:auto; padding-top:0; width:auto;float:none; vertical-align:middle; line-height:1.5;margin:0 0 2px;}
#group .infopost{border-bottom:1px solid #eee; margin:10px 0 0; clear:both;}
#group .panel{border-top:1px solid #4b93bc; border-bottom:1px solid #4b93bc;}
#group p{padding:0 0 0 71px;}
#group p.pul_action_group{padding:5px 0;}
#elenco_gruppi p.active{background-color:#e5e6e6;}
#elenco_gruppi{width:100%; margin-top:5px; text-align:left; font-size:12px;}
#elenco_gruppi p{width:200px; height:20px; display:inline; float:left; vertical-align:middle; line-height:20px; margin:0 30px 6px 0;padding:0;}
#groupHistory{border-bottom:1px solid #03acff; line-height:1.5; margin-bottom:10px; padding:20px 0 15px;}
#groupHistory p.with_action{vertical-align:middle; display:block; margin-bottom:10px; width:99%; padding:5px 0 0 30px;}
#elenco_pending li{overflow:auto; margin:0 0 5px;}

.sphere_wholeList{display:none;}
.groupType_label{padding:5px; text-align:left; background-color:#ebebeb;}
.tools .groupType_label {padding: 5px 15px;}

/*.groupType_label .expander{float:right;}*/
.sphereSubsetList .expander a.expander-link{float:left; width:100%; border-top:1px dashed #d1d1d1; text-align:center; margin-bottom:5px; line-height:1.5em;}
.sphereSubsetList .expander a.expander-link:hover{border-top-color:#4697f0; background-color:#f7f7f7;}



/*************************** Sphere Membership Request ****************************/
.membership-request .column_padding {padding: 10px 0 0;}
.membership-request .filters-tool.stream-row {float: right; width: 50%; border-left: 1px solid #d1d1d1;}
.membership-request .filters-tool.stream-row::before,
.membership-request .description::before{content:"Sphere Topics";display:block;font-size: 19px;font-weight: 700; color: #4C4C4C; margin-bottom: 10px; padding: 0 0 5px 10px; line-height: 1.2em;}
.membership-request .description::before{content:"Description"; padding:0;}
.membership-request .adminInfo,
.membership-request .description{padding: 0 0 20px;}
.membership-request #groupMembershipRequest {padding: 0;}
.membership-request #groupMembershipRequest #requestSubscription_requestMessage {width: 100%; box-sizing: border-box;}
.membership-request #groupMembershipRequest .generic_button {margin: 0;}