/* --------------------------------------------
----------------------------------------------- LAYOUT */
.mainFixedWidth{width:991px;margin:0 auto;}
.mainFixedWidth .leftSidebar{width:232px;}
#inner_header{position:relative;}

.centralBody{float:left;width:991px;}
.error_page_container .centralBody {float:none; margin:0 auto;}
.withLeftSidebar .centralBody{width:759px;box-sizing:border-box;}
.withLeftSidebar .centralBody .widget_padding{margin-left:0;}

#content-list-no-border .widget_padding{border:0;}
#content-list-no-border .widget_title{border:1px solid #d1d1d1;}

#sidebar{overflow:visible}
#header #search{position:relative;	float:right;margin:0 10px 0 15px;overflow:visible;border:0;color:#a9a9a9;width:173px;height:27px;background:url(../../img/bg-search.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;}
#header #search p{color:#a9a9a9;}
#header #search .ac_input{width:140px;height:auto;height:21px;line-height:21px;margin:3px 0 3px 0;padding:0 24px 0 5px;font-size:1em;font-style:normal;}
#header ul{position:relative;float:left}
#header h1{position:relative;float:left;background:url(../../img/tamtamy2-logo.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;left:0;top:-4px;width:98px;height:45px;text-indent:-9999px;}
#header #globalNavBar{float:right;margin:2px 0 0}
#header #viewMessages{background:	url(../../img/ico-mail.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;}
#header ul li a{width:24px;border:none;padding:0;margin:0;}
#header ul li a:hover, #header ul li a.on, 
#header ul li#first a:hover, 
#header ul li#first a.on, 
#header ul li a.active{border:0;background:	url(../../img/ico-mail.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;text-indent:0;}

/* Upload attachment */
.file-uploader-container .file-container{display:block;}
.smart_upload .file-container{display:none;}
.user-disk-quota{clear:both; font-style:italic; color:#666;}

/* --------------------------------------------
----------------------------------------------- SPECIFICHE COLONNE */
#mainwrap{text-align:left;margin:0 auto;}
#main{position:relative;padding:0;margin:0;}
#home-wrapcontent #main{width:74.9%;position:relative;padding:0;margin:0;overflow:hidden;}

#wrapcontentupdate{position:relative;padding:0;margin:0;}

.wrapcontent_padding{padding:0 5px;}
#sidebar{margin:0;padding:0;}

.colSx{float:left;width:50%;}
.colDx{float:right;width:50%;}
.colDx h3{padding-left:5px;}
.colDx p{padding-right:0;margin-left:5px;}
.colSx p{margin-right:5px;padding-right:0;}
.column_generico{position:relative;float:left;margin:0;padding:0;overflow:visible;}
.leftColumnPos #main{position:relative;float:left;}
.rightColumnPos #main{position:relative;float:right;}
.leftColumnPos{float:left;}
.rightColumnPos{float:right;}

/* --------------------------------------------
----------------------------------------------- CUSTOM PAGE & WIDGET */
.headercolumn_generico{float:left;margin-bottom: 15px;}
#highlight-digitalmedia{min-height: 380px;}

/*No border widget*/
.centralBody .column_padding{padding:0 0 0 15px;}
.calendar .centralBody .column_padding{padding:0;}
.headerColumn0 .column_padding,
.homeColumn0 .column_padding{padding:0}
.withLeftSidebar .lastPBColumn .column_padding{padding:0 0 0 15px;}
.homeColumn0.lastPBColumn .column_padding{padding:0;}
.withLeftSidebar .homeColumn0.lastPBColumn .column_padding{padding:0 0 0 15px;}
.group.event .column_generico.homeColumn1{padding:0 0 0 15px;box-sizing:border-box;}
.group.event .centralBody .column_padding,
.permalink .centralBody .column_padding{padding:0;}
.group.event .withLeftSidebar .centralBody .column_padding {padding: 0 0 0 15px;}

.contents_wrapper{margin:0;padding:0;list-style:none;}

.lastPBColumn .widget_padding,
#widget-userinfo .widget_padding{border:0;background:transparent}
#global_navbar_userHistory .widget_padding{margin:0;border:none}

#widget-sphereinfo .widget_padding{border:0;background:transparent;margin:0;padding:0}
.column_generico.homeColumn0{clear: left}

.spotlight{font-size: 13px;}
.spotlight-title{ height: 125px;display:block;text-indent:-200000em;width:990px}
.spotlight li{padding:10px 5px; border-top:1px dotted #d1d1d1}
.spotlight li.current{background-color:#4697f0; color:#fff;}
.spotlight li:first-child{border-top:0;}
.spotlight-back-home{ text-align:center; background:#54c7e4; padding:4px 0;}
.spotlight-back-home a{color:#fff;}

/* --------------------------------------------
----------------------------------------------- STRUCTURE & WIDGETS */
.wrappager,
#wrapPager{position:relative;float:left;width:100%;text-align:center;margin:10px 0 0;padding:5px 0}
#home-wrapcontent{width:100%;clear:left;float:left;overflow:hidden;margin:0;padding:20px 0;background:#fff url(../../img/grad_01_rev.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x top;border-top:1px solid #fff;}
#wrapcontent{width:100%;float:left;overflow:visible;padding-top:10px;}
.calendar #wrapcontent{padding:0;}
.wrapwidg{clear:both;position:relative;clear:left;display:block;}

.lastPBColumn #bordered-widget .widget_padding, 
.lastPBColumn .bordered-widget .widget_padding,
.lastPBColumn [id^=bordered-widget] .widget_padding,
.widget_padding,
.buttons_wrapper{border:1px solid #d1d1d1; background:#fff; margin:0 0 15px 0;}
.buttons_wrapper{background:transparent;}
.trainerProposal .widget_padding{border:none; background:transparent;}
#tab_menu .widget_padding{margin:0;}
.widget_padding .project-cover-filters{padding:0 0 10px;}
.widget_padding .project-cover-filters > ul{margin:10px 0 0;}
.widget_padding .buttons_wrapper{padding:5px;}
.plugin_emailSignatureWidget .widget_padding .buttons_wrapper{}

.widget_padding .project-cover-filters .button-wrapper .method-checkbox {display: table;padding: 5px;text-align:left;}
.widget_padding .project-cover-filters .button-wrapper .method-checkbox label {display: table-cell;position: relative;font-size: 0.8em;padding: 0 0 0 18px;color:#888;}
.widget_padding .project-cover-filters .button-wrapper .method-checkbox label span {display: block;color:#4c4c4c;font-weight: bold;font-size: 1.3em;}
.widget_padding .project-cover-filters .button-wrapper .method-checkbox label span:after {content:'';}
.widget_padding .project-cover-filters .button-wrapper .method-checkbox label input{position:absolute; left: 0;top: -2px;}


.contentHomeWidgetItemVContainer{margin:0 0 5px; padding:10px 0 5px; position:relative; float:left; clear:left; width:100%; border-bottom:1px dashed #ddd;}
.lastall{position:relative; float:left; width:100%;}
#loading_null{position:relative; float:left; width:100%; text-align:center;}
.interno{width:100%; padding:0; clear:both; position:relative; margin-top:10px;}


#tt_Links.wrapwidg .widget_title{}
#tt_Links.wrapwidg .widget_title:before{content:''; display:inline-block; background:url('../../img/icons_TT_LeftMenu.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat; width:32px; height: 24px; background-position: 0 -36px; margin-bottom:-7px;}
#projectCover_pressClipping .icon a{font-weight:bold; color:#4c4c4c; display:block; box-sizing:border-box; padding:7px 10px 10px;}
#projectCover_pressClipping .icon a::before {content:''; display:inline-block; background:url('../../img/icons_TT_LeftMenu.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat; width:32px; height: 24px; background-position: -5px -36px; margin-bottom:-7px;}
#projectCover_pressClipping .icon.cover a::before{background-position: -5px -165px;}
#projectCover_pressClipping .icon.daily a::before{background-position: -5px -324px;}
#projectCover_pressClipping .icon.press a::before{background-position: -4px -133px;}
#projectCover_pressClipping .icon.skydive a::before {background-position:-5px -482px; height:28px;}

/* ------------------------------------- Floating Headers for custom pages ------------------------------------- */
.floatingHeader {}
.floatingHeader .widget_padding{border:none;}
.floatingHeader .fixedHeader {position: fixed;top: 42px;left: 0;display: block;width: 100%;height: 48px;background: #414141;z-index: 1;}
.floatingHeader .fixedHeader .headerTitle{position:absolute;left:50%;margin-left:-490px;color: #fff;font-size: 2em;padding: 12px 0;}
.floatingHeader .fixedHeader .headerTitle.arrow::before {content:'\f104';font-family:'FontAwesome';padding:0 10px 0 0;}
