/* Corporate Email Signature */
#SignatureHTML0,
#SignatureHTML1{clear:both; padding:10px; border:1px solid #ccc; background-color:#fff; border-left-style:none; border-right-style:none;}
#SignatureHTML0_sources,
#SignatureHTML1_sources{clear:both;border:1px solid #ccc;}
#SignatureHTML0_sources textarea,
#SignatureHTML1_sources textarea{border:none; background:#fff; width:100%; height:260px; overflow:hidden;}
#SignatureHTML0 a,
#SignatureHTML1 a{color:blue;text-decoration:underline;}
.signature_settings{margin:0px;}
#SignatureHTML0 a.signature_settings_details_panel_switch,
#SignatureHTML1 a.signature_settings_details_panel_switch{}
#signature_settings_details_panel > div,
#signature_disclaimer_panel div{clear:both; display:table-row; height: 26px; line-height:26px; padding:0 4px 0 5px; border-bottom:1px solid #eee;}
#signature_disclaimer_panel input,
#signature_settings_details_panel label,
#signature_disclaimer_panel label{float:left;}

#signature_settings_details_panel > div > .colonna{display:table-cell; vertical-align:middle; padding:0 5px 5px;}
#signature_settings_details_panel > div > .colonna.checkbox{}
#signature_settings_details_panel > div > .colonna.label{line-height:12px; font-size:10px; font-weight:bold;}
#signature_settings_details_panel > div > .colonna.input{}
#signature_settings_details_panel > div > .colonna.input input{width:100%; border:1px solid #d6d6d6; line-height:24px; box-sizing:border-box;}

.signature_views{height:24px; clear:both; margin-top:8px;}
.signature_views a{display:block; float:right; width:50px; border-left:1px solid #ccc; border-top:1px solid #ccc; border-right:1px solid #ccc; background:#eee; color:#555; height:23px; line-height:20px; text-align:center; margin:0 5px 0 0;}
.signature_views.disclaimer a.signature_lang_switcher{margin:0 0 0 5px;}
.signature_views a.on{background:#fff;color:#03acff;cursor:default;}
.signature_views a.on:hover{text-decoration:none;}

h3.signature_title{margin: 0px;float:left;}
h3.signature_title.double{display:none;}
h3.signature_title.double select{font-size:11px;}
h3#single_signature.signature_title{ padding: 5px 0 0 5px;color:#999;}
.signature_views.disclaimer h3.signature_title{}

.signature_settings_details_panel_switch{display:block;height:20px;line-height:20px;margin:10px 0 5px 0;padding:0 5px;font-weight:bold;color:#999;font-size:13px;cursor:pointer;text-decoration:none;background:url(../../img/smart_upload_arrows.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 85px 7px;}
.signature_settings_details_panel_switch.open{background-position:85px -26px;}
#signature_settings_details_panel{display: table; width: 100%;}

#disclaimer_eng, #disclaimer_ita{clear:both;padding:10px;border:1px solid #ccc;}
#disclaimer_eng a.signature_settings_details_panel_switch,
#disclaimer_ita a.signature_settings_details_panel_switch{}
.signature_views.disclaimer{margin-top:15px;}

#disclaimer_panel_container{display:none;margin: 0 5px;}
#signature_disclaimer_panel .DisclaimerAccepted_container label span{color:#f00;}
.signature_settings #errorbox.errorbox_positioned{width:271px;}

#disclaimer_eng, #disclaimer_ita{clear:both;padding: 5px;border:1px solid #ccc;text-align:justify;}
#signature_disclaimer_panel div.DisclaimerAccepted_container{border-bottom: medium none;display: block; height: auto; margin: 10px 0 0;overflow: hidden;}
#signature_disclaimer_panel div.DisclaimerAccepted_container label{box-sizing: border-box;display: block;float: none;line-height: 10px;padding: 0 0 0 20px; width: 100%;}
#disclaimer_feedback .errorMessage span{background:transparent url('../../img/warning.gif?v=@TAMTAMY_PREVENT_CACHE@') no-repeat scroll left center;text-align:left;padding:4px 0 6px 40px;}

h3 a.signature_settings_details_panel_switch{display:block;height:20px;line-height:20px;font-weight:bold;color:#999;font-size:13px;cursor:pointer;text-decoration:none;background:url(/tamtamy/skins/aqua_rsn/img/smart_upload_arrows.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 71px 7px;border:none;float:none;width:87px;text-align:left;}
h3 a.signature_settings_details_panel_switch.open{background-position:71px -26px;}
h3 a.signature_settings_details_panel_switch:hover{color:#03acff; text-decoration:underline;}