/*  CSS Reset  */
html, body, div, span, textarea, input, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend{vertical-align:baseline;font-family:"Univers","Lucida Sans Unicode","Lucida Grande", Tahoma, Verdana, Arial, sans-serif; font-weight:inherit;font-style:inherit;font-size:100%;outline:0;padding:0;margin:0;border:0;}
:focus{outline:0;}

html{}
body{height:100%;width:100%;line-height:1;color:#000;}
ol, ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption, th, td{font-weight:normal;text-align:left;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:"";}
blockquote,
q{quotes:"" "";}
option{padding-right:10px;}
a img{border:none;}
table{border-collapse:collapse;border-spacing:0;}

/* ------------- HEADINGS & TITLES & PARAGRAPHS --------------- */
input,
body,
textarea,
.label{color:#333;font-size:12px;font-family:inherit;}
body{background:#fafafa;width:100%;margin:0;padding:0;}
h1, h2, h3, h4{font-weight:700;color:#4c4c4c;margin-bottom:10px;}
h1{font-size:30px;margin-bottom:15px;padding:0 0 5px;}
h2{font-size:19px;line-height:1.2em;padding:0 0 5px;}
h3{font-size:13px;}
h4{font-size:11px;}
h1 a,
h2 a,
h3 a,
h4 a{word-wrap:break-word;}
h2.widget_title,
.addContent h3,
#attachments h3{background-color:#ebebeb; border-bottom:1px solid #d1d1d1; color:#4c4c4c; font-size:14px; font-weight:bold; padding:0 5px; line-height:33px; margin-bottom:0;}
.group.event h2.widget_title{background-color:#373736;color:#fff;}
.group.event.massive_operations h2.widget_title {padding:0 0 0 40px; background:transparent; color:#4c4c4c;}
.addContent h3,
#attachments h3{margin:0 0 10px 0;}
h3#result{color:#2c2c2c;font-size:12px;font-weight:700;}
h3#smallTitle{color:#2c2c2c;font-size:16px;font-weight:700;}
.box_help_role h4{font-size:14px;}
.chart h3{font-size:12px;font-weight:700;color:#626262;}
#wrapcontentupdate h2.big,
#history h2{width:100%;padding-bottom:5px;margin-bottom:10px;height:22px;}
#wraptitle h2.my_job{margin-top:70px;}
h3#comments_counter{width:100%;border-bottom:1px dashed #ddd;padding:5px 0;margin:10px 0 0 0;}
.content_list_description p{margin:0 0 10px 0;padding:0 0 0 90px;}
.content_header h3{font-size:18px;}
strong, b{font-weight:bold;-webkit-font-smoothing: subpixel-antialiased;-moz-osx-font-smoothing: initial;}
em, i{font-style:italic;}

blockquote{margin-left: 2em;}
blockquote blockquote{margin-left: 2em;}
blockquote img{float:none;}

.clear_left{clear:left;}
.clear_right{clear:right;}
.centered{text-align:center;}
.offline{opacity:.3;}
#hidden-element,
.hidden-element,
.hidden {display:none;}
.massive_operations.hideContent,
.group.event .hideContent {display:none !important;}
.group.event .ready .hideContent {display:block !important;}/*FORCE MANAGMNT on EVENT*/
.group.event .ready #loaderHeaders{display:none !important;}/*FORCE MANAGMNT on EVENT*/
.leftSidebar .hideContent {display:none !important;}



/* ----------------------------------------------- HREF */
a, a h2, a h3{text-decoration:none;color:#4493e9;text-align: left;}
a:hover, a h2:hover, a h3:hover{color:#4493e9;text-decoration:underline;}
#otherInfo a,#Profile #elencoBlog p a{margin-right:20px;}
a.titleToClean,a.titleWrapped{word-wrap:break-word;}
a.vai_blog{position:absolute;left:595px;text-transform:uppercase;top:12px;text-decoration:none;text-align:left;width:77px;}

	/* ------------------ HEADER --------------------- */
#header{height:30px; background:url(../../img/main/bg_header42.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x 0 0 transparent; padding:5px 0; position:fixed; width:100%; z-index:90; transition:box-shadow 0.8s;-moz-transition:box-shadow 0.8s;-webkit-transition:box-shadow 0.8s;-o-transition:box-shadow 0.8s;}
#header h1{position:absolute; background:url(../../img/logo-tamtamy.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;width:184px;height:60px;top:10px;left:0; text-indent:-9999px;}
#header h1 a{display:block; width:100%; height:100%;}
#header p#welcome{right:30px;position:absolute;top:59px;left:200px;color:#4286ad;font-size:12px;font-weight:700;font-style:italic;}
#header ul{list-style:none;left:0;list-style-image:none;list-style-position:outside;list-style-type:none;position:absolute;bottom:0;top:auto;height:25px;padding:0;}
#header ul li{float:left;position:relative;}
#header ul li a{float:left;height:24px;line-height:24px;font-weight:700;text-transform:uppercase;text-align:center;color:#165C85;text-decoration:none;background:#91c7e5 url(../../img/title-bg.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x;border-top:1px solid #0b64b3;border-right:1px solid #0b64b3;border-left:1px solid #0b64b3;padding:0 8px;margin:0 1px 0 0;}
#header div.closed{margin:10px 0 0 0;position:relative;float:right;text-indent:-9999px;background:#fff;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;height:25px;width:25px;padding:10px;margin:10px 0 0 0;overflow:hidden;}
#header div.open{margin:10px 0 0 0;position:relative;float:right;width:300px;padding:10px;background:#fff;filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity:0.6;opacity:0.6;}
#header div.open p{text-align:left;display:block;line-height:13px;font-size:11px;color:#2461b4;font-weight:bold;}
#header ul li a:hover,
#header ul li a.on,
#header ul li#first a:hover,
#header ul li#first a.on,
#header ul li a.active{color:#4b93bc;text-decoration:none;background:#91c7e5 url(../../img/title-bg.png?v=@TAMTAMY_PREVENT_CACHE@) bottom repeat-x;border-top:1px solid #fff;border-right:1px solid #fff;border-left:1px solid #fff;}

a.toggle-news{text-indent:-9999px;position:relative;display:block;float:right;top:0;right:0;height:25px;width:25px;background:url(../../img/whats-new.gif?v=@TAMTAMY_PREVENT_CACHE@) bottom left no-repeat;}
.open a.toggle-news:hover{background:url(../../img/whats-new.gif?v=@TAMTAMY_PREVENT_CACHE@) left top no-repeat;}
.ac_results{z-index:950;}

#header.header-shadow{box-shadow:0 1px 10px 2px rgba(0, 0, 0, 0.3);}
input[type="file"],
input[type="button"]{font-size:12px;color:#cfcfcf;}
#main{overflow:visible;margin:0 0 200px;}

p.titolo a { font-size:1.2em;font-weight:normal;}
[class^="tti-"] span,
[class*=" tti-"] span {font-family: 'tamtamy-icon' !important;}

/* -------------------------------------------- STRUCTURAL DISPLAY - 2 COLUMNS */
.two-column:first-child{float:left;width:49%;}
.two-column{float:right;width:50%;}

/* -------------------------------------------- MODAL STATE*/
body.modal-open{overflow:hidden;}