/* --------------------------------------------------------------
----------------------------------------------------------------- Gestione Masonry Library */
.masonry .filters-tool{margin:0 0 15px 0;}

#contents_wrapper{position:relative;margin-top:20px;}
.callTo{background:#0b95ed !important;color:#fff !important;}
.callTo a{color:#fff; display:block !important; width:100%; height:150px;}

.masonry .wrappager{position:absolute; bottom:-50px;left:0;}
.masonry .wrappager .more_tab{display:block; padding:10px 0; text-align:center;}
.masonry .more_tab{background:rgba(0, 0, 0, 0.1);}

.masonry #homeContentFilter.ie-hack{padding-top:10px;}
#Fullscreen{position:absolute;right:5px;top:0;width:28px;height:28px;background:#11722d url(/pub/thumb/tamtamy/fullscreen.png) no-repeat center 6px;cursor:pointer;}
#Fullscreen:hover{background:#ccc url(/pub/thumb/tamtamy/fullscreen.png) no-repeat center 6px;}
#Fullscreen.opened:hover{background:#ccc url(/pub/thumb/tamtamy/fullscreen.png) no-repeat center 6px;}
#Fullscreen.opened{background:#11722d url(/pub/thumb/tamtamy/fullscreen.png) no-repeat center -16px;}
.fixed-pos-ie-hack{display:none;}
.masonry .vwall{display:none;}
.masonry.fullscreenView{position:fixed;height:100%;width:100%;z-index:10000;top:0;right:0;overflow:scroll;}
.masonry.fullscreenView .masonry{width:100%;}
.masonry .masonry{width:940px;}

.contents_wrapper.masonry{min-height:400px;min-width: 988px;display:block;position:relative;margin:0 auto;border:1px solid #d1d1d1; padding-bottom: 10px;}

.withLeftSidebar .contents_wrapper.masonry{min-width: 741px;}
.homeColumn1.lastPBColumn .contents_wrapper.masonry{min-width: 100%;}
.contents_wrapper.fancy_compact{min-width: 100%;}
.masonry .foto-wrap{margin:10px 0 0 10px;background:#FFF;float:left;position:relative;overflow:hidden;opacity:0.01}
.masonry .foto-dati{position:absolute;bottom:5%;background:#FFF;height:auto;padding:5px;color:#FFF;opacity:0;z-index:2;bottom:-100%;left:3%; right:3%}
.segnaposto{background:url(/pub/thumb/tamtamy/foto_segnaposto.png) no-repeat center center;position:absolute;height:100%;width:100%;z-index:1;}
.masonry .foto-dati a{text-decoration:none;color:#000;}
.masonry .foto-dati p{margin:0;}
.masonry .autore-titolo{font-size:1em;width:100%;overflow:hidden;float:left;}
.masonry .autore-titolo img{width:48px;height:48px;border:1px solid #fff;float:left;margin-right:5px;}
.masonry .strumenti{width:30%;font-size:1em;padding:0;float:right;overflow:hidden;}
.masonry .strumenti .col{float:right;width:35px;padding:0;height:30px;text-align:center;border-left:1px solid #599d6c;}
.masonry .strumenti .col:hover{opacity:0.5px;filter:alpha(opacity=50);-webkit-transition-duration:0.7s;}
.masonry .foto-dati .modalbox a{display:block;width:100%;height:100%;text-align:center;background:url(/pub/thumb/tamtamy/pretty_view.png) no-repeat center 4px;}
.masonry .foto-dati .modalbox a:hover{background:url(/pub/thumb/tamtamy/pretty_view.png) no-repeat center 4px;}
.masonry .col1.strumenti .col{width:33px;padding:0;height:30px;text-align:center;border-left:1px solid #55b5f2;}
.masonry .col1 .autore-titolo{width:100%;}
.masonry .col1 .autore-titolo img{width:48px;height:48px;border:1px solid #fff;float:left;margin-right:5px;}
.masonry .col1 .strumenti{width:52%;margin:0;float:right !important;}
.masonry .commenti-link{display:block;padding:20px 0 0;text-align:center;}
.masonry .commenti-link:hover{}
.masonry .like{padding:0;text-align:center;}
.masonry .outer_rate_button{text-align:center;}
.masonry .rates_count{text-align:center;padding:0;}
.masonry .outer_rate_button a.link_rate{margin:0 auto;display:block;width:20px;height:20px;background:url(/pub/thumb/tamtamy/ico_like.png) no-repeat center top;padding:0;}
.masonry .already_rated{margin:0 auto;display:block;width:20px;height:20px;background:url(/pub/thumb/tamtamy/ico_like.png) no-repeat center -24px;padding:0;}
p.titolo a{font-size:1.2em;font-weight:400;}
.masonry h1{font-weight:700;}
.masonry h2{font-weight:700;}
.masonry #contents_wrapper h3{font-weight:700;}
.masonry .col1{width:234px;min-height: 70px;}
.masonry .col2{width:478px;min-height: 70px;}
.masonry .col3{width:724px;min-height: 70px;}
.masonry .col1 img.foto-item{max-width:none;display:block;width:100%;height:auto;}
.masonry .col2 img.foto-item{max-width:none;display:block;width:100%;height:auto;}
.masonry .col3 img.foto-item{max-width:none;display:block;width:100%;height:auto;}

#freccie{position:fixed;z-index:0;width:965px;top:50%;margin-left:-20px;display:none;}
#freccie.freccie-fullscreenView{position:fixed;z-index:0;width:100%;top:50%;left:0;display:block;}
#nextCloned{float:right;}
#nextCloned a{display:block;width:25px;height:35px;background:#FFF url(/pub/thumb/tamtamy/ico_next.png) no-repeat center center;text-indent:-300px;overflow:hidden;}
#prevCloned{float:left;}
#prevCloned a{display:block;width:25px;height:35px;background:#FFF url(/pub/thumb/tamtamy/ico_prev.png) no-repeat center center;text-indent:-300px;overflow:hidden;}
.topic_container .topic_filter{color:#03acff;text-decoration:none;font-weight:400;}
.topic_container .topic_filter:hover{color:#fff;background:#03acff;font-weight:400;}
.topic_container .active{color:#fff;font-weight:400 !important;}
.masonry-avatar img{width:20px;}
.contents_wrapper.custom_with_comment{width:100%!important;overflow: visible!important;}

.masonry .no_content_message{display:none;}
.masonry .col1 .ev-play-icon{left:40%; top:40%}
.masonry .col2 .ev-play-icon{left:45%; top:45%}
.masonry .col3 .ev-play-icon{left:47%; top:45%}

.multiview-dropdown{float:right;cursor: pointer;position:relative;background:#fff; border:1px solid #d1d1d1; max-height:30px;width:123px;}
.direct-message .multiview-dropdown{width: 63px;}
.cover_library .multiview-dropdown,
.cover_magazine .multiview-dropdown,
.cover_compact .multiview-dropdown{width:auto;}

.multi-view-menu {float:left; padding:0; margin:0; width:100%;}
.multi-view-menu li{display:table-cell;}
.multi-view-menu li:first-child a{border-left:0;}
.multi-view-menu a,
.multi-view-masorny-fullscreen a,
.multiview-icons {float:left; border-left:1px dotted #d1d1d1; background: url(../../img/icons-set-multiview.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat; display:block; width:30px; height:30px; text-indent:-20000em;}
.multi-view-menu a.current{background-color:#f2f2f2;}

a.view-stream,
.multiview-icons.custom_with_comment{background-position:-151px 0;}
a.view-masonry-image,
.multiview-icons.masonry_image{background-position:-29px 0;}
a.view-masonry-video,
.multiview-icons.masonry_video{background-position:-59px 0;}
a.view-cover-magazine{background-position:-180px 0;}
a.view-cover-compact{background-position:-210px 0;}

a.view-stream:hover{background-position:-151px -30px;}
a.view-masonry-image:hover{background-position:-29px -30px;}
a.view-masonry-video:hover{background-position: -59px -30px;}
a.view-fancy-compact:hover{background-position:0 -30px;}
a.view-cover-magazine:hover{background-position:-180px -30px;}
a.view-cover-compact:hover{background-position:-210px -30px;}

a.masonry-fullscreen{border: 1px solid #d1d1d1;}
a.masonry-fullscreen[mode="normal"]{background-position:-90px 0;}
a.masonry-fullscreen[mode="fullscreen"]{background-position:-120px 0;}

a.masonry-fullscreen[mode="normal"]:hover{background-position:-90px -30px;}
a.masonry-fullscreen[mode="fullscreen"]:hover{background-position:-120px -30px;}

.multi-view-masorny-fullscreen{display:none;}
.multi-view-masorny-fullscreen li{display:block;}

.multiview-dropdown:hover .multi-view-masorny-fullscreen{display:block;}

.contents_wrapper.masonry{margin:15px 0 60px 0;}
.widget-fullscreen{z-index:10; position:fixed; top:40px; left:0; right:0; background:#fff; overflow:auto; bottom:0; border-top:1px double #d1d1d1; margin:-1px 0 0;}
.widget-fullscreen .widget_padding{margin:20px!important;}

.cover_library .contents_wrapper,
.cover_magazine .contents_wrapper{margin:0 0 0 -33.7px; z-index:0; position:relative;}

.page-fullscreen{overflow:hidden;}
.page-fullscreen .contents_wrapper.masonry{padding-right:10px; margin-left:auto; margin-right:auto;}

.masonry .foto-dati .modalbox a {background: url(../../img/full_screen.png?v=@TAMTAMY_PREVENT_CACHE@) center center no-repeat;}
.masonry .content-toolbar{right:0}

.col.comments {background: url(../../img/ico_gallery_baloon.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center;}
.col.modalbox {background: url(../../img/full_screen.png?v=@TAMTAMY_PREVENT_CACHE@) center center no-repeat;}

.masonry .foto-dati .modalbox a {background:none;}
.masonry .foto-dati .col a {color:#398eb9;}
.masonry .titolo {margin:30px 0 0 0; display:block;}
.masonry .titolo a {display:block; overflow:hidden; text-overflow:ellipsis; white-space: nowrap; line-height:20px;}
.masonry .foto-dati .content-toolbar{display:none;}

/* gallery */
.masonry .more{position:absolute;bottom:0;left:0;}
.masonry-content-info{padding:8px;margin:0 0 10px 0;}
.masonry .foto-dati{background:rgba(255, 255, 255, 0.95); box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);}
.masonry .foto-dati a{color:#fff; font-weight:bold;}
.masonry .strumenti .col{border:none;}
.masonry .commenti-link{padding:0; line-height:32px; text-align:center; color:#398eb9;}
.masonry-avatar{display:block; padding:4px 8px; background:#f5f5f5; line-height:20px;}
.masonry-avatar:hover{text-decoration:none;}
.masonry-avatar img{vertical-align:middle;}