
/* ---------------------------------------Massive Reshare------------------------------------- */
.root.massive_operations,
.root.group.event.massive_operations{}

.wrapwidg.massiveReshare-header {position:fixed; width:100%; left:0; top:42px; z-index:2;}
.wrapwidg.massiveReshare-header h2{display:none;}
.wrapwidg.massiveReshare-header .widget_padding{border:none;height: 48px;margin: 0;background:#373737 url(../../img/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@) 0 0;position: relative;}
.wrapwidg.massiveReshare-header .massiveReshare-headerContainer{color:#fff;display:block;position: absolute;left: 50%;margin-left: -495px;}
.wrapwidg.massiveReshare-header .headerTitle{font-size:24px;text-shadow: 1px 2px 2px #000;padding: 12px;}
.wrapwidg.massiveReshare-header .headerTitle .selected{text-transform:uppercase;}

.wrapwidg.massiveReshare-loader {position: fixed;z-index: 1;width: 757px;left: 50%;margin-left: -255px;top: 0; bottom: 0;background: rgba(255,255,255,0.7);}
.wrapwidg.massiveReshare-loader .widget_padding {display: inline-block;position: absolute; left: 50%;top: 44%;margin-left: -20px;}
.wrapwidg.massiveReshare-loader .massiveReshare-loaderContainer #loader.editSphereLoader{width: 60px; height: 60px;display: block;}

.massiveReshare-menuContainer .checkbox{margin:10px 0 5px;}
.massiveReshare-menuContainer .subtitle{font:normal 0.9em/1.2em 'Lucida Grande', Arial, sans-serif;color:#a3a3a3;margin: 0 0 20px;}
.massiveReshare-menuContainer .checkbox  .subtitle{margin:5px 0;}
.massiveReshare-menuContainer .subtitle ul {list-style: square outside;}

.massiveReshare-leftMenu .widget_padding,
.massiveReshare-leftMenu .widget_padding .widget_title,
.massiveReshare-contentList .widget_padding .widget_title {background:transparent; border:none; margin:0 0 15px;line-height: 1em;}
.massiveReshare-leftMenu .widget_padding .widget_title,
.massiveReshare-contentList .widget_padding .widget_title {padding:0 0 0 40px;position:relative;}
.massiveReshare-leftMenu .widget_padding .widget_title::before,
.massiveReshare-contentList .widget_padding .widget_title::before{content:'1';top: -10px;display:inline-block;position: absolute;left:0; background:#fff; color:#418ee0;border:3px solid #418ee0;padding: 6px 8px;width: 10px;text-align:center;border-radius:50%;line-height: 1em;}
.massiveReshare-contentList .widget_padding .widget_title::before{content:'2';}

.massiveReshare-contentList .contents_wrapper {box-sizing: border-box;padding: 0 0 55px 30px;}
.massiveReshare-contentList .operation-box-container {display: block; position: absolute; top: 22px; left: -25px;}
.massiveReshare-contentList .operation-box-container label {display: none;}

.massiveReshare-leftMenu.fixed .massiveReshare-menuContainer,
.massiveReshare-leftMenu.fixed .widget_title {position:fixed;width:231.67px;top:125px;}
.massiveReshare-leftMenu.fixed .widget_title {top:101px;}

.massiveReshare-menuContainer .selectAllContents{margin:0 0 0 0;font-weight: bolder;}

.shareSummary{margin: 10px 0 0;font-size: 1.2em;}
.shareSummary.helper::before{content:'\f059';font:normal 1em/1em 'FontAwesome';margin:0 5px 0 0;}

.status_container.error{display:block;border:2px solid  #fbbc05;padding: 10px 0 10px 40px;position:relative;font:bold 1em 'Lucida Grande';}
.status_container.error::before{content: '\f071';font:normal 1.7em 'fontAwesome';color: #fbbc05;position:absolute;top:50%;margin-top:-10px;left:10px;}
.totContents{dislpay:block;background:#ccc;color:#4c4c4c;padding:5px; margin: 0 0 1px;}
.totContents.NotShared{background:url(../../img/bk-button-red.png?v=@TAMTAMY_PREVENT_CACHE@) bottom repeat-x;color: #fff;}
.totContents .NumTot {float: right;font-size:1.5em;line-height: 13px;color:#888;}
.totContents.NotShared .NumTot{color:#fff;}

.errorLinkContainer{padding:5px;}

.errorContentDIV{text-align:right;padding:5px 0;}
.errorContentLink{}
.errorContentLink::after{content:'\f045';font-family:'FontAwesome';margin:0 0 0 5px;}
.groupContentsManagement{}

.massiveOperationCompact .author-and-messages {z-index: 2; position: relative;}

.massiveReshare-footerContainer.buttons_wrapper {background-color: #d6d6d6;overflow: visible; position: fixed !important;bottom: 0;left: 0;z-index: 2;margin: 0;height: 60px;width: 100%;min-width: 140px;}