/* --------------------------------------------
----------------------------------------------- MODERATION PAGE */
.moderation_page h2{font-size:15px; margin:20px 0 10px 0;}
.moderation_page ul li{position:relative; width:100%; padding:4px 0; clear:both; background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom; border-top:1px solid #eee;}