/*-----------------------------------
-------------------------------------	NOTIFICATION TABLE */
.notification-config-table caption{text-align:left; font-size:13px; padding:20px 0;}
#dati{margin-bottom:300px;}
table{width:100%; background:#fff;}
table.displaytable thead,
table.notification thead,
.notification-config-table thead,
table.displaytable tbody,
table.notification tbody,
.notification-config-table tbody{border:1px solid #d1d1d1;}
table.displaytable thead,
table.notification thead,
.notification-config-table thead{font-size:14px;font-weight:bold;}
table.displaytable tbody tr:hover, 
table.notification tbody tr:hover,
.notification-config-table tbody tr:hover,
.notification-config-table tr.oddRow:hover,
table.notification tr:nth-child(odd):hover,
table.notification-config-table tr:nth-child(odd):hover,
table.notification tr:nth-child(even):hover,
table.notification-config-table tr:nth-child(even):hover{background:#f2f2f2 url(../../img/bk-table-row-selected.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x;}

table.displaytable tbody tr:hover td,
table.notification tbody tr:hover td,
.notification-config-table tbody tr:hover td,
.notification-config-table tr.oddRow:hover td{border-top-style:solid;}

table.notification tr:nth-child(odd),
table.notification-config-table tr:nth-child(odd){background-color:#fff;}
table.notification tr:nth-child(even),
table.notification-config-table tr:nth-child(even){background-color:#fafafa;}
table.displaytable,
table.notification{width:100%;}

table.notification td,
table.notification th{padding:5px;vertical-align:middle;}
table.notification tbody div.field.select{float:right;}
table.notification th.how,
table.notification th.when{text-align:center;}
table input.notification{width:110px;}

table.notification-config-table a.moderate-add{float:right; background:#fff url(../../img/icon-plus-little.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 3px center; line-height:16px; padding:4px 5px 4px 22px; border:1px solid #d1d1d1;}
table.notification-config-table a.moderate-add:hover{text-decoration:none;} 

.notification-config-table tr.oddRow{background:#fff;}
table.notification td,
table.displaytable td,
table.displaytable th,
.notification-config-table td{width:auto; padding:8px 5px 5px 10px; border-top:1px dotted #ddd; vertical-align:middle;}

table td.checkbox-mail,
table th.checkbox-mail{text-align:right; padding-right:0;}

.notification-config-table td.cellWithCheckbox.mail{width:140px;}
.notification-config-table td.cellWithCheckbox{width:14px;}
.notification-config-table td.cell-label{min-width:100px;}
.notification-config-table td.cell-menu-item{width:18px;}

.notification-config-table td.filterCell div{padding:5px 0;border-bottom:1px dotted #ddd;margin:5px 0;line-height:18px;}
.notification-config-table td.filterCell div select{max-width:240px;}

table.notification #tagPreviewZone,
table.notification #tagPreviewZone{display:block;background:none;border:none;}
tr.notify-tags td{border:none;}