/*-----------------------------------	User Notification
-------------------------------------	Video Feedback */
.videofeedback {max-width:250px;}
.videofeedback p{margin-top:5px}
.videofeedback a{color:#ae8414;}
.videofeedback .feedback-message{margin-top:4px; font-size:0.9em; color:#be3737;}
.videofeedback .title {}
.videofeedback .title a{float:right; font-size:0.8em; text-transform:uppercase; font-style:inherit;}

.feed-result{float:right; color:#fff; font-size:0.8em; font-weight:bold; padding:3px; text-transform:uppercase;}
.videofeedback .ERROR{background-color:#be3737;}
.videofeedback .PUBLISHED{background-color:#58c325;}