/*------------------------------------*\
	Notification Rule Maker
\*------------------------------------*/
.jtt-nr-maker{width:420px;display:none;margin:0 0 2px 0;}
.jtt-nr-maker .jtt-step{background:#ccc;padding:16px;margin:0;border-top:1px dotted #aaa;border-left:1px dotted #aaa;border-right:1px dotted #aaa;}
.jtt-nr-maker ul.jtt-step li{cursor:pointer;display:inline;font-size:1.2em;background:#fff;border-radius:16px;box-shadow:1px 1px 1px #aaa inset;padding:10px;margin:10px;}
.jtt-nr-maker ul.jtt-step li.jtt-selected{background:#4b93bc;color:#fff;border:none;box-shadow:1px 1px 3px #555;}
.jtt-nr-maker .jtt-word{padding:0 0 10px 0;text-align:center;}
.jtt-nr-maker .jtt-first-step{border-top-left-radius:4px;border-top-right-radius:4px;}
.jtt-nr-maker .jtt-last-step{border-bottom-left-radius:4px;border-bottom-right-radius:4px;overflow:hidden;}
.jtt-nr-maker .jtt-word{background:none;padding:0;margin:0;border:none;}
.jtt-nr-maker ul.jtt-word li{background:transparent;border-radius:0.3em;cursor:auto;display:inline-block;box-shadow:none;font-size:2.5em;padding:0 0.5em;margin:0;border:none;text-shadow:1px 1px 6px #ccc;}
.jtt-nr-maker ul.jtt-word li.jtt-selected{background:transparent;color:inherit;opacity:0.4;filter:alpha(opacity=40);box-shadow:none;}
.jtt-nr-maker .jtt-word .jtt-this,
.jtt-nr-maker .jtt-word .jtt-that{text-shadow:1px 1px 1px #ddd;cursor:pointer;color:#4b93bc;}
.jtt-nr-maker .jtt-word .jtt-this:hover,
.jtt-nr-maker .jtt-word .jtt-that:hover{text-decoration:underline;}
.jtt-nr-maker .jtt-word-selected-item{cursor:pointer;}
.jtt-nr-maker .jtt-word-selected-item:hover{cursor:pointer;color:#4b93bc;}
.jtt-nr-maker .jtt-that-selected-item,
.jtt-nr-maker .jtt-this-selected-item{font-size:0.8em;padding:0;cursor:pointer;text-shadow:1px 1px 6px #ccc;}
.jtt-nr-maker .jtt-that-selected-item .jtt-sel-item,
.jtt-nr-maker .jtt-this-selected-item .jtt-sel-item{display:block;font-size:12px;}
.jtt-nr-maker .jtt-that-selected-item .jtt-items,
.jtt-nr-maker .jtt-this-selected-item .jtt-items{display:inline-block;margin-bottom:-5px;}
.jtt-nr-maker .jtt-that-selected-item .jtt-braces,
.jtt-nr-maker .jtt-this-selected-item .jtt-braces{font-size:42px;line-height:36px;font-weight:bold;color:#888;}
.jtt-nr-maker .jtt-that-selected-item .jtt-left-items,
.jtt-nr-maker .jtt-this-selected-item .jtt-left-items{float:left;}
.jtt-nr-maker .jtt-that-selected-item .jtt-right-items,
.jtt-nr-maker .jtt-this-selected-item .jtt-right-items{float:right;	border-left:1px dotted #ccc;margin:0 0 0 5px;}
.jtt-nr-maker .jtt-this-selected-item .jtt-left-items .jtt-sel-item{padding:3px 6px 4px 0;}
.jtt-nr-maker .jtt-that-selected-item .jtt-right-items .jtt-sel-item,
.jtt-nr-maker .jtt-this-selected-item .jtt-right-items .jtt-sel-item{padding:0 0 0 4px;}

/* Shower */
.jtt-nr-shower .jtt-word{text-align:left;}
.jtt-nr-shower ul.jtt-word li{background:transparent;font-size:2em;padding:0 0;}
.jtt-nr-shower  .jtt-nr-title{ border-bottom:1px dotted #ccc;}
.jtt-nr-shower .jtt-that-selected-item .jtt-braces,
.jtt-nr-shower .jtt-this-selected-item .jtt-braces{font-size:36px;line-height:28px;}
.jtt-nr-shower .jtt-this-selected-item .jtt-left-items .jtt-sel-item{padding:3px 0 0 0;}

/* --------------------------------------------
----------------------------------------------- NOTIFICATION PROFILE */
#error-msg,
#ok-msg{display:none; color:#333; font-size:1.3em; border:1px solid #f00; text-align:center; background-color:#f00;}
#ok-msg{color:#fff; border-color:#008000;background-color:#008000;}