/* ------------------------------------------
--------------------------------------------- CREATE NOTIFICATION ROLE */
.rule-shower,
.rule-maker {width:98%;border:1px dotted #ccc;padding:5px;background:#eee;}
.rule-maker {margin:0 auto 50px auto;}

.role-kug-form {padding:4px;}
.role-kug-label{display:inline-table;width:60px;}

/* GENERAL CUSTOMIZATIONS */
.item_user_picture{float:left;}
.search_results_separator{border-bottom:1px dashed #ccc;clear:both;margin:50px 0 15px 0;}
#contentTypeSelection{clear:none;float:right;padding-right:10px;padding-top:4px;text-align:right;width:25%;}