/* --------------------------------------------
----------------------------------------------- PROFILE */
#Profile{margin:20px 0 0;float:left;width:100%;clear:both;}
#Profile #userDetail{float:right;margin-left:20px;width:460px;}
#Profile p img{border:0;margin-top:0;float:none;}
#Profile a.rss{background:url(../../img/rss.png?v=@TAMTAMY_PREVENT_CACHE@) left center no-repeat;text-transform:uppercase;height:25px;width:50px;text-indent:-9999px;float:left;margin-left:10px;}
#userDetail p{height:auto;float:left;margin:0;padding:0;color:#626262;font-weight:700;}
#userDetail p.altre_info{clear:both;width:100%;}
#userDetail p#spaceblog{width:50%;float:left;height:auto;margin:0;padding:0;}
#userDetail p span{width:130px;float:left;clear:left;color:#999;font-weight:400;}
p#edpf{height:auto;display:block;clear:left;margin:0;padding:0;}
p#edpf a{display:block;float:right;padding-left:10px;cursor:pointer;background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;color:#666;font-weight:700;border:1px solid #ccc;height:23px;line-height:23px;padding:0 10px;}
#elencoBlog{margin-bottom:15px;padding:0;}
#elencoBlog h3{padding-bottom:5px;padding-top:5px;width:470px;float:left;}
#elencoBlog p{clear:both;width:100%;height:auto;padding:10px 0;}
#elencoGruppi{position:relative;margin:20px 0 0;padding:0;}
#elencoGruppi h3{padding-bottom:5px;padding-top:5px;width:100%;}
#elencoGruppi p.help_role{right:0;top:0;position:absolute;}
#elencoGruppi div.box_help_role{position:absolute;top:22px;right:0;width:340px;text-align:right;z-index:100;padding:8px 15px;border:1px solid #e5e4e4;}
#elencoGruppi div.box_help_role p.text_desc{height:1%;margin-top:5px;width:100%;padding:5px 0 0;border-top:1px solid #4b93bc;}
#elencoGruppi div.group{width:100%;padding-top:0 0 5px;height:35px;position:relative;}
#elencoGruppi div.group p{float:left;width:280px;height:25px;line-height:25px;vertical-align:middle;padding-top:10px;}
#elencoGruppi div.group div.action{float:right;height:25px;line-height:25px;vertical-align:middle;padding-top:8px;text-align:right;}
#elencoGruppi div.group div.action select{width:90px;}
#elencoGruppi div.group div.action img{border:none;height:10px;width:10px;vertical-align:baseline;margin-right:5px;}
#elencoGruppi div.group div.action span.success{color:#03acff;}
#elencoGruppi div.group div.action span.error{color:#f00;}

#interest{margin-left:107px;margin-bottom:30px;}
#interest p{height:auto;color:#626262;border-top:1px solid #4b93bc;}
#interest h3{width:520px;}

#usavatar{padding:0;overflow:hidden;width:100%;text-align:left;clear:both;position:relative;}
#usavatar a{margin:0;padding:0;}
#usavatar img{border:none;}

#photo{width:96%;clear:both;padding:15px 2%;border:1px dashed #93c6e4;background:#c7e1f0;position:relative;float:left;}
#photo img{float:left;margin-right:13px;}
#photo p{float:left;display:inline;clear:none;margin:20px 0;padding:0;}

.profile_page{float:left;width:100%;clear:both;}
.profile_page .content_tab_edit{float:left;width:100%;clear:both;}
.profile_page h3{color:#ddd;font-size:22px;letter-spacing:-1px;padding:15px 0 0 0;clear:both;display:block;}
.profile_page .userOffices #userOffices {border: medium none; width: 255px;}
.profile_page .streetAddresses #streetAddresses {border: medium none; width: 250px;}
.profile_page .fake-field.half.streetAddresses,
.profile_page .fake-field.half.userOffices {overflow: visible; display:inline-block; margin: 0;}
.profile_page .fake-field.half.userOffices {margin-bottom:5px;}
.profile_page .fake-field.half.streetAddresses.select,
.profile_page .fake-field.half.userOffices.select {margin-left:1.2%; width:51%;}
.profile_page .chosen-container-single .chosen-single {background:transparent; border:medium none;}
