/* ---------------------------------------------------
------------------------------------------------------ PROJECT ESSENTIALS SINGLE */
#details-general.project_essentials_single{background:url(../img/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@) 0 0;text-shadow:1px 1px 1px #3f3f3d;}
.group.event #details-general.project_essentials_single{padding:58px 0 0;}
#details-general.project_essentials_single #header-title-group{color:#fff;}
#details-general.project_essentials_single .counter{background:#545454; border:1px solid #3e3e3e;}
#details-general.project_essentials_single .counter.update_counter span{text-shadow:1px 1px 1px #3f3f3d;}
#details-general.project_essentials_single .no-bg{background:none; margin-right:10px; border:none;}

#sphere-group-info{color:#fff; margin-left:10px; text-align:left; width:255px; float:left; overflow:auto; max-height:310px;}
.group.event #sphere-group-info{width:50%;}
.group.event #sphere-project-essentials .adminInfo{display:block; position:absolute; overflow:hidden; text-align:right; top:62px; right:50%; margin-right:-493px; max-width:370px; height:75px; white-space:nowrap; text-overflow:ellipsis;}
.group.event .customized #sphere-project-essentials .adminInfo{top:260px;}
#sphere-project-essentials h2{color:#fff; font-size:15px; margin-bottom:0;}
#sphere-group-info > div{background:url(../../img/bk-border-horizontal.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x left bottom; overflow:auto; padding:0 0 15px; margin:0 0 10px;}

#sphere-group-contents-essentials{height:250px; width:696px; background:url(../../img/bk-border-vertical.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-y left top; color:#fff; float:left; margin:0 0 15px 20px; padding-left:10px; text-align:left; text-shadow:1px 1px 1px #1a191a;}
#sphere-group-contents-essentials .jtt-slider,
#sphere-group-contents-essentials .jtt-slider .jtt-page{width:696px; height:230px;}
#sphere-group-contents-essentials-slider-banner{background:#545454; overflow:hidden;}
.group.event #sphere-group-contents-essentials-slider-banner.rounded{background:transparent; position:absolute; z-index:2; width:991px; left:50%; margin-left:-496px; text-align:center; top:320px; -webkit-transition:all .5s ease-in-out; -moz-transition:all .5s ease-in-out; -o-transition:all .5s ease-in-out; transition:all .5s ease-in-out;}
.group.event .open #sphere-group-contents-essentials-slider-banner.rounded{top:740px;}
.group.event .highlights-present #sphere-group-contents-essentials-slider-banner.rounded{top:327px;}
.group.event .customized #sphere-group-contents-essentials-slider-banner.rounded{top: 534px;}
.group.event .customized.open #sphere-group-contents-essentials-slider-banner.rounded{top:740px;}
.group.event .highlights-present.open #sphere-group-contents-essentials-slider-banner.rounded{top:532px;}
.group.event .customized.highlights-present.open #sphere-group-contents-essentials-slider-banner.rounded{top:734px;}

#sphere-group-contents-essentials-slider-banner > h2{color:#fff; font-size:16px; padding:5px 5px 5px 10px; margin-bottom:0; float:left; line-height:23px;}
#sphere-group-contents-essentials-slider-banner.highlights.rounded > h2{display:none;}

#sphere-group-contents-essentials-slider-banner .page-navigator{background:#4b4b4b; float:right; line-height:31px;/*2.8em<-- Revert to old version*/}
.group.event #sphere-group-contents-essentials-slider-banner .page-navigator{background:transparent; margin:0 5px;}
#sphere-group-contents-essentials-slider-banner.highlights.rounded .page-navigator{float:none; display:inline-block;}

#sphere-group-contents-essentials-slider-banner .new-navigator-icon{background:#c0c0c0; border-radius:100%; text-indent:-999px; overflow:hidden; display:block; float:left; height:13px; width:13px; margin:10px 0;}
#sphere-group-contents-essentials-slider-banner .new-navigator-icon:hover{background:#999;}
#sphere-group-contents-essentials-slider-banner .active .new-navigator-icon{background:#418ee0;}

.navigator-icon{margin:9px 12px 8px; float:left; display:block; background:url(../../img/icons-next-prev.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat; width:16px; height:16px; text-indent:-20000em;}
#essentials-slider-nav-prev{background-position:0 0;}
#essentials-slider-nav-next{background-position:-16px 0;}
#essentials-slider-nav-prev:hover{background-position:0 -16px;}
#essentials-slider-nav-next:hover{background-position:-16px -16px;}
#essentials-slider-nav-currentpage{float:left;}

.plugin_groupinfo{display:none;}