/* --------------------------------------------
----------------------------------------------- RATING STARS 
.inline-rating{margin-top:-5px;height:16px;width:55px;float:right;overflow:hidden;z-index:99;}
.inline-rating a{display:inline-block;width:20%;}
.scheda.mark_question .inline-rating{margin:0;padding:0 20px 0 0;}
.scheda.mark_file .inline-rating{margin:0;padding:0 20px 0 0;}
.scheda.mark_message .inline-rating{margin:0;padding:0 20px 0 0;}
.scheda.mark_link .inline-rating{margin:0;padding:0 20px 0 0;}
span.inline-rating{height:16px;width:55px;vertical-align:middle;display:inline-block;}
.inline-rating span{position:relative;}
.inline-rating ul{margin:0;padding:0;position:relative;}
#wrapComment .inline-rating ul{padding:0;}
.inline-rating li{float:left;}
.star-rating,
.star-rated{width:55px;height:18px;display:block;overflow:hidden;list-style:none;background-position:left top;margin:0;padding:0;background:url(../../img/mini_rating.gif?v=@TAMTAMY_PREVENT_CACHE@)}
.star-rating a,
.star-rating .current-rating,
.star-rated a,
.star-rated .current-rating{position:absolute;top:0;left:0;height:18px;outline:none;overflow:hidden;text-indent:-1000em;line-height:18px;border:none;}
.star-rating .current-rating,
.star-rated .current-rating{z-index:1;background-position:left center;}
.current-rating{background:url(../../img/mini_rating.gif?v=@TAMTAMY_PREVENT_CACHE@) left center;}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{background:url(../../img/mini_rating.gif?v=@TAMTAMY_PREVENT_CACHE@) left bottom;}
.star-rating a.one-star,
.star-rated a.one-star{width:20%;z-index:6;}
.star-rating a.two-stars,
.star-rated a.two-stars{width:40%;z-index:5;}
.star-rating a.three-stars,
.star-rated a.three-stars{width:60%;z-index:4;}
.star-rating a.four-stars,
.star-rated a.four-stars{width:80%;z-index:3;}
.star-rating a.five-stars,
.star-rated a.five-stars{width:100%;z-index:2;}
*/

.inline-rating{height:18px;width:135px;float:right;overflow:hidden;z-index:99;}
.inline-rating a{display:inline-block;width:20%;}
.scheda.mark_question .inline-rating{margin:0;padding:0 20px 0 0;}
.scheda.mark_file .inline-rating{margin:0;padding:0 20px 0 0;}
.scheda.mark_message .inline-rating{margin:0;padding:0 20px 0 0;}
.scheda.mark_link .inline-rating{margin:0;padding:0 20px 0 0;}
span.inline-rating{height:16px;width:55px;vertical-align:middle;display:inline-block;}
.inline-rating span{position:relative;}
.inline-rating ul{margin:0;padding:0;position:relative;}
#wrapComment .inline-rating ul{padding:0;}
.inline-rating li{float:left;}
.star-rating,
.star-rated{width:100%;height:18px;display:block;overflow:hidden;list-style:none;background-position:left top;margin:0;padding:0;background:url(../../img/mini_rating.png?v=@TAMTAMY_PREVENT_CACHE@)}
.star-rating a,
.star-rating .current-rating,
.star-rated a,
.star-rated .current-rating{position:absolute;top:0;left:0;height:18px;outline:none;overflow:hidden;text-indent:-1000em;line-height:18px;border:none;}
.star-rating .current-rating,
.star-rated .current-rating{z-index:1;background-position:left center;}
.current-rating{background:url(../../img/mini_rating.png?v=@TAMTAMY_PREVENT_CACHE@) left center;}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{background:url(../../img/mini_rating.png?v=@TAMTAMY_PREVENT_CACHE@) left bottom;}
.star-rating a.one-star,
.star-rated a.one-star{width:20%;z-index:6;}
.star-rating a.two-stars,
.star-rated a.two-stars{width:40%;z-index:5;}
.star-rating a.three-stars,
.star-rated a.three-stars{width:60%;z-index:4;}
.star-rating a.four-stars,
.star-rated a.four-stars{width:80%;z-index:3;}
.star-rating a.five-stars,
.star-rated a.five-stars{width:100%;z-index:2;}
.rate-tooltip .inline-rating{float:none; margin-top:0;}