/* Table reset */
/* =Tables
-----------------------------------------------------------------------------*/
.content-description tfoot th,
.content-description tfoot td {background-color: #f2f2f2;}
.content-description th,
.content-description td {border:1px solid #d1d1d1; padding:0.5em 0.8em;}
.content-description table caption {text-transform:uppercase; padding:0 1em; color:#999; font-size:0.85em;}
.content-description table.table-flat td,
.content-description table.table-flat th {border:none; padding:0;}
.content-description table.table-simple td,
.content-description table.table-simple th {border:none; padding:0.825em 0.7em 0.825em 0;}
.content-description table.table-simple caption {padding-left: 0;}
.content-description table.table-bordered td,
.content-description table.table-bordered th {border:1px solid #ddd;}
.content-description table.table-stroked td,
.content-description table.table-stroked th {border-bottom:1px solid #eee;}
.content-description table.table-striped tbody tr:nth-child(odd) td {background-color:#f5f5f5;}
.content-description table.table-hovered tbody tr:hover td,
.content-description table.table-hovered thead tr:hover th {background-color:#f6f6f6;}

/* Table reset */
.content-description table { border-collapse: collapse; border-spacing: 0;}
.content-description caption,
.content-description th,
.content-description td { text-align: left; vertical-align: top; font-weight: normal;}
.content-description thead th,
.content-description thead td { font-weight: bold; vertical-align: bottom;}
/* #redactor_link_blank { display: none; }
oldRedactor
#redactor_tab1 > label:last-child {  display: none !important; }
.ie8 #redactor_tab1 > label + input + label + input + label { display: none !important;} */
/* newRedactor */
#redactor-modal-link-insert > label:last-child {  display: none !important; }
#redactor-modal-link-insert > label + input + label + input + label { display: none !important;}
