/* --------------------------------------------
----------------------------------------------- RICH CONVERSATION */
.scheda{background:#fff; margin:15px 0 10px 5px; border:1px solid #d1d1d1; position:relative; clear:both;}
.scheda.coverCompact{margin:8px 0 20px 0px;}
.scheda.coverMagazine,
.scheda.coverLibrary{cursor:default; box-sizing:border-box; width:28.75%; margin:8px 0 20px 4.533%; float:left; clear:none; background:transparent; min-height:203px; border:none; padding:266px 0 0; -webkit-perspective:1000; -moz-perspective:1000; -o-perspective:1000; perspective:1000;}
.cover_library .scheda.coverLibrary:nth-of-type(3n+1),
.cover_magazine .scheda.coverMagazine:nth-of-type(3n+1){clear:left;}
.scheda .scheda_padding{padding:0;margin:0;}
.scheda .content-main{padding:1rem 20px 20px 0;clear:right; border-top:solid .1rem #c5d4d9;}

.scheda .avatar.medium{float:left;min-width: 58px;}
.scheda .avatar.medium > a{display: block;/*height: 63px;position:relative;overflow: visible;background: #fff;padding: 0;margin: -5px 0 0 -5px;border:1px solid #d1d1d1;*/}
/*.scheda .avatar.medium > a::before{content:'';display:block;position:absolute;bottom: -6px;left: -1px;width: 5px;height: 5px;background: transparent url(../../img/bk-angle-user.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;background-color:#fff;}*/
.scheda .avatar.medium img{width:63px;height:63px;}
.scheda .user{font-size: 14px;line-height: 16px;font-weight: 700;color:#303030;}

.scheda .content-body{margin:10px 0;padding:10px 20px 0 0;line-height:1.3em;text-align: justify; overflow:hidden;}
.scheda .content-footer{padding: 0px 0;clear:both;}
.scheda .comment-icon{ float:left;height:27px;line-height:27px;width:7%;}
.scheda .comment-icon:before { content: '\e910'; display: block; text-align: center; font-size: 14px; margin: 0; color: #999;}
.scheda.stream-scheda .iframe_player_discovery{height:350px;overflow:hidden;width:100%;}

.content-body ol,
.content-body ul{list-style: square inside none;padding-left: 1em !important;}

.content-body ul ul,
.content-body ol ol,
.content-body ul ol,
.content-body ol ul {border:none; margin:2px !important; padding:0 0 0 2em !important;}

.content_extra{float:left;width:100%;overflow:auto;padding:3px;background:#eee;}
.content_group_single{padding-left:3px;padding-right:3px;margin-right:2px;background-color:#3e87d3;color:#000;}

.content_list_thumbnail{display:block;overflow:hidden;position:relative;float:left;text-align:left;margin:0 10px 20px 0;height:100px;width:100px;}
.content_list_thumbnail img.preview{height:100px;}
.content_list_thumbnail a img.author{width:70px;float:left;}
.content_list_thumbnail div.author-little{position:absolute;left:-8px;bottom:-12px;z-index:100;}
.content_list_thumbnail a img.author-little{z-index:10;background:#eee;padding:3px;}
.content_list_thumbnail.ev-video-open{float:none;}

.mark_blogpost .content_list_thumbnail {display: none;}
h2.content-title{font-size: 15px;margin-bottom:5px; padding-top:0;}

.event-video .content_list_thumbnail{margin:0 20px 10px 0;height:114px;margin: 0 20px 10px 0;height: 114px;width: auto;width: 156px;}
.event-video .content_list_thumbnail img.preview{height:auto;}
.ev-play-icon{cursor:pointer;background: url("../../img/icon-player-play.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 0 0;width:49px;height:49px;position: absolute;left: 52px;top: 33px;text-indent:-20000em;}
.ev-play-icon:hover{background-position:0 -49px;}


.reply_document .content_list_thumbnail img{background:#cbf2ae;}
.content_list_description{position:relative;float:left;width:100%;padding:0;margin-bottom:0;}
.content_list_description p img{float:left;margin:0 2px 0 0;}
.content_header{width:100%;position:relative;float:left;}
.content_list_content_title{position:relative;}
.content_list_content_title h3{margin:0;padding:0;font-size:18px;width:auto;}
.content_list_content_title h3 a{color:#000;}
.online_offline_status_icon{vertical-align:middle;padding:0 2px;}
.content_details{position:relative;float:left;position:relative;float:left;width:96%;}
.interno .content_details{position:relative;float:left;width:48%;color:#777;position:relative;padding:2px 0;margin:0 0 10px 0;}
.interno .scheda .content_details{width:96%;padding:0 2%;}
.wrapwidg .content_details{border:none;}
.reply_badge{}
.reply_badge:hover{}
.reply_badge .utenti img{width:20px;padding:0;margin:0 4px 0 0;float:left;vertical-align:middle;}
.reply_badge .utenti{padding:0;text-align:left;position:relative;float:left;}
.reply_badge .utenti a{float:left;position:relative;}
a.replies{position:relative;float:left;background:#aaa;display:block;color:#fff;padding:2px 5px;height:16px;line-height:16px;margin:0 4px 0 0;}
a.replies:hover{background:#168134;color:#fff;}
a.replies span{font-style:normal;padding:0 2px;}
a.replies:hover{text-decoration:underline;}

.reply-content-container{margin:20px 10px 10px 10px;}
.reply-content .scheda{border-style:dashed;}

.comment-content .scheda{margin:0 0 0 40px;border-style: dashed;background:#fafafa;}
.comment-content .content-body{border-top:0;margin:0;padding:0;}
.comment-content .content-main,
.reply-content .content-main{padding:10px 10px 0 10px;}
.comment-content .content-footer,
.reply-content .content-footer{border-bottom:0;}

.mention-autocomplete {background:#dfebf9;border-radius:3px;}
.tt_more_unremovable{clear:both; margin:0; padding:2rem 0 0 0;}
