/*------------------------------------*\
	Slider
\*------------------------------------*/
.jtt-slider,
.jtt-slider .jtt-page{width:582px;height:142px;}
.jtt-slider.navi{height:150px;}
.jtt-slider{position:relative!important;overflow:hidden;}

.jtt-slider.horizontal .jtt-pages{width:2000000em;position:absolute;left:0;}
.jtt-slider.horizontal .jtt-page{float:left;clear:none}

.jtt-slider.vertical .jtt-pages{height:2000000em;position:absolute;top:0;}

.jtt-slider .jtt-navi{position:absolute;bottom:0;left:48%;}
.jtt-slider.jtt-moving{box-shadow:0 0 6px #ccc inset;}
.jtt-slider .jtt-navi a{background:url(../../img/navi.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;display:block;float:left;width:8px;height:8px;margin:2px;text-indent:-20000em;white-space:nowrap;}
.jtt-slider .jtt-navi a:hover{background:url(../../img/navi.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -8px;}
.jtt-slider .jtt-navi a.active{background:url(../../img/navi.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -16px;}
.jtt-slider .jtt-navi a span{outline:none;}