
/* --------------------------------------------
----------------------------------------------- SPHERES TYPE: EVENT */
.group.event {}
.group.event #wrapcontent{padding:0;}
.group.event #wrapcontent.withLeftSidebar{padding:10px 0 0;}

.group.event .centralBody{}
.group.event #main,
.group.event .headercolumn_generico{position:static;}
.group.event .headercolumn_generico{margin-bottom: 0;padding:160px 0 0;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.root.massive_operations .headercolumn_generico {padding: 40px 0 0;margin-bottom:15px;}
.root.group.event.massive_operations .headercolumn_generico {margin-bottom:25px;}
.group.event .headercolumn_generico.customized{padding: 363px 0 0;}
.group.event .headercolumn_generico.highlights-present{padding:385px 0 0;}
.group.event .headercolumn_generico.details.open{}
.group.event .headercolumn_generico.highlights-present.customized{padding:590px 0 0;}
.group.event .headercolumn_generico.customized.details.open{}
.group.event .headercolumn_generico.highlights-present.details.open{}
.group.event .headercolumn_generico.highlights-present.customized.details.open{}


.group.event #details-general-sphere.details-general{display:block;position:absolute;width:100%;background: url(../../img/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@) 0 0;top:0;z-index:4;}
.group.event #details-general-sphere.details-general.fixed{position:fixed;top:42px;z-index:5;}
.group.event #sphere-project-essentials.details-general{margin:0 auto;padding:0;}
.group.event #sphere-group-contents-essentials-slider-external-container{display:none;background:#ebebeb;}
.group.event .highlights-present #sphere-group-contents-essentials-slider-external-container{display:block;position:absolute;width:991px;height:205px;left:50%;margin-left:-496px;top:155px;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.group.event .customized #sphere-group-contents-essentials-slider-external-container{top:560px;}
.group.event .customized.highlights-present #sphere-group-contents-essentials-slider-external-container{top:360px;}
.group.event .open.highlights-present #sphere-group-contents-essentials-slider-external-container{/*top:360px;*/}
.group.event .open.customized #sphere-group-contents-essentials-slider-external-container{/*top:560px;*/}
.group.event .open.customized.highlights-present #sphere-group-contents-essentials-slider-external-container{/*top:560px;*/}

.group.event #eventDescription.eventDescription{display:block;background-color:#373736;width:100%;height:2px;position: absolute;top:143px;left: 50%; margin-left:-50%;box-sizing: border-box;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.group.event .customized #eventDescription.eventDescription{top:348px;}
.group.event .open #eventDescription.eventDescription{display:block;max-height:500px;overflow: hidden;}
.group.event #eventDescription.eventDescription #buttonDescription{position:absolute;z-index: 2;bottom:2px;left:50%;display:block;width:200px;margin-left:-100px;text-align:center;background:#373736;height:10px;padding:5px 0;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.group.event #eventDescription.eventDescription #buttonDescription:before,
.group.event #eventDescription.eventDescription #buttonDescription:after{content:'';position:absolute;display:block;top:0;width:0;height:0;background:transparent;border:10px solid transparent;border-bottom: 10px solid #373736;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.group.event #eventDescription.eventDescription #buttonDescription:before{border-right: 10px solid #373736;left:-20px;}
.group.event #eventDescription.eventDescription #buttonDescription:after{border-left: 10px solid #373736;right:-20px;}
.group.event .open #eventDescription.eventDescription #buttonDescription{bottom:0;background:#fff;}
.group.event .open #eventDescription.eventDescription #buttonDescription:before,
.group.event .open #eventDescription.eventDescription #buttonDescription:after{border-bottom-color:#fff;}
.group.event .open #eventDescription.eventDescription #buttonDescription:before{border-right-color:#fff;}
.group.event .open #eventDescription.eventDescription #buttonDescription:after{border-left-color:#fff;}

.group.event #eventDescription.eventDescription #buttonDescription a{color:#fff;text-decoration:none;display:none;}
.group.event .open #eventDescription.eventDescription #buttonDescription a{color:#373736;text-shadow: none; font-weight: bolder;}
.group.event #eventDescription.eventDescription #buttonDescription a:before{content:'+ ';}
.group.event .open #eventDescription.eventDescription #buttonDescription a:before{content:'- ';}

.group.event #eventDescription.eventDescription #description{position:relative;overflow:hidden;display:none;padding:20px 0;width:985px;left:50%;margin-left:-493px;line-height:1.6em;}
.group.event .open #eventDescription.eventDescription #description{display:block;max-height:200px;box-sizing:border-box;padding:20px 0;}
.group.event .open #eventDescription.eventDescription #description #descriptionContainer{position:relative; overflow:hidden; max-height:160px;padding:0 10px 0 0; box-sizing: border-box;}
.group.event #eventDescription.eventDescription #description table{background:transparent;width:98%;}
.group.event #eventDescription.eventDescription #description ul,
.group.event #eventDescription.eventDescription #description ol{list-style: none;padding:0;}
.group.event #eventDescription.eventDescription #description li,
.group.sphere #sphere-group-info .description li,
.viewMode #sphereHeader.sezione .fake-field.description .readonly li{padding-left:1.3em;text-indent:-1.3em;margin:0 0 .35em;line-height: 1.2em;}
.group.event #eventDescription.eventDescription #description ul li:before,
.group.sphere #sphere-group-info .description li:before,
.viewMode #sphereHeader.sezione .fake-field.description .readonly li:before{content:'\f111 ';color: #418ee0;font: normal 0.7em 'FontAwesome';margin:0 8px 0 0;}

.group.event .details-general .holder{}
.group.event .details-general .holder #registration {display:block;padding:10px 30px;float:right;border:2px solid #FFF;color:#FFF;margin:3px 10px 0 0;cursor: default;text-decoration: none;box-sizing:border-box;}
.group.event .details-general .holder #registration.sold {border-color:#666;}
.group.event .details-general .holder #registration.closed{color:#545454;border-color:#545454;}
.group.event .details-general .holder #registration.open {border-color:#4493e9;cursor: pointer;}
.group.event .details-general .holder #registration.open:hover {text-decoration:underline;}

.group.event .project_essentials_single{height:90px;position:absolute;top:90px;left:0;width:100%;display:block; overflow:hidden;background:transparent !important;-webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; transition: all .5s ease-in-out;}
.group.event .customized .project_essentials_single{height:292px;}
.group.event .highlights-present .project_essentials_single{height:305px;}
.group.event .details.open .project_essentials_single{/*height:290px;*/}
.group.event .customized.highlights-present .project_essentials_single.details{height:508px;}
.group.event .customized.details.open .project_essentials_single.details{/*height:828px;*/}
.group.event .highlights-present.details.open .project_essentials_single.details{/*height:720px;*/}
.group.event .customized.highlights-present.details.open .project_essentials_single.details{/*height:708px;*/}

.group.event #sphere-group-info{margin-left:0;position:static;}
.group.event #sphere-group-info > div{background:none;margin:0;}
.group.event #sphere-group-info > .event{position:absolute;}
.group.event #sphere-group-info > .event.dates{top:80px;}
.group.event #sphere-group-info > .event.location{top:104px;padding:10px 0;width: 387px;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.group.event #sphere-group-info > .event.keytag{top:63px;background: #418ee0;box-shadow:2px 2px 1px -1px #4c4c4c;font-size: 16px;line-height:12px;padding:5px 10px 5px 5px;overflow: visible;}
.group.event #sphere-group-info > .event.keytag:before{content:'';display:block;width:0;height:0;border: 12px solid transparent;position: absolute;top: 0;left: -24px;border-right-color: #418eef;}
.group.event #sphere-group-info > .event.keytag .word:before{content:'\f02c';font:normal .8em 'FontAwesome';padding:0 10px 0 0;}
.group.event .customized #sphere-group-info > .event.dates{top:280px;}
.group.event .customized #sphere-group-info > .event.location{top:303px;}
.group.event .customized #sphere-group-info > .event.keytag{top:260px;}
.group.event .adminInfo a.userTooltip strong{display:none;}

.group.event .eventCover,
.group.event .eventLogo{display:block;position:absolute;}
.group.event .eventCover{height:85px;width:100%;top:58px;left:0;background-size:cover !important;background-position:center center !important;z-index:-1;}
.group.event .customized .eventCover{height:290px;}
.group.event .eventCover:before{content:'';display:block;background:#000;height:100%;opacity: .2;}
.group.event .eventLogo{top:58px;width:600px;height:180px;background-repeat:no-repeat !important; background-size:contain !important;}

.group.event #sphere-group-contents-essentials{float:right; position:static; margin:0; padding:0; width:370px; height:auto; background:none;}
.group.event .event{position: static;font-size: 1.7em;text-align:left; margin:0 0 5px;}
.group.event .event::before{display:inline-block; width:22px; text-align:center; font-family:'FontAwesome';}
.group.event .event.location{}
.group.event .event.location:before{content:"\f041";}
.group.event .event.dates{white-space: nowrap;}
.group.event .event.dates:before{content:"\f073";}
.group.event #sphere-group-contents-essentials .jtt-slider{width:991px;max-height:185px;margin:0 auto 20px;}
.group.event .fc-extend-sharegroups.event{font-size:12px;margin-left: 5px;}
.group.event .fc-extend-sharegroups.portal{font-size:12px;margin-left: 5px;}

.group.event .smart-upload-opener{margin-top:0;}

.group.event .widget_padding .tab_list.collection-event{display:table; width:100%;position: relative;z-index: 1;}
.group.event .widget_padding .tab_list li{display: table-cell;min-width:33.333%;float: left;}
.group.event .widget_padding .tab_list li a{width:100%;box-sizing:border-box;border-left: 1px solid #FFF;color:#fff;font-size:1.3em;text-shadow: none;line-height: 30px;font-weight: normal;text-align:center;background: #6c6c6c;background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjNmM2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc4JSIgc3RvcC1jb2xvcj0iIzZjNmM2YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MTUxNTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  #6c6c6c 0%, #6c6c6c 78%, #515151 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6c6c6c), color-stop(78%,#6c6c6c), color-stop(100%,#515151));background: -webkit-linear-gradient(top,  #6c6c6c 0%,#6c6c6c 78%,#515151 100%);background: -o-linear-gradient(top,  #6c6c6c 0%,#6c6c6c 78%,#515151 100%);background: -ms-linear-gradient(top,  #6c6c6c 0%,#6c6c6c 78%,#515151 100%);background: linear-gradient(to bottom,  #6c6c6c 0%,#6c6c6c 78%,#515151 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c6c6c', endColorstr='#515151',GradientType=0 );}
.group.event .widget_padding .tab_list li a:hover{color: #4493e9;text-decoration:underline;border-color:rgb(181, 181, 181);border-left: 1px solid transparent;background: rgb(181, 181, 181);}
.group.event .widget_padding .tab_list li.current a{ background:#373736;text-shadow: none;border: 1px solid #D1D1D1; color: #fff; margin-bottom: 0px; border-bottom: none;}
.group.event .widget_padding .tab_list li.current a:hover{text-decoration:none;cursor:default;color:#fff;}
.group.event .widget_padding .tab_list li:first-child a {border-left: 1px solid transparent;}
.group.event .widget_padding .tab_list li.current:first-child a {border-color: #FFF;border-left-color:#d1d1d1;border-top-color: #d1d1d1;}


.group.event #tab_menu.hideTab.closed-afterEvent li[widgets="registrationWidgetsIds"],
.group.event #tab_menu.simple.hideTab.closed-afterEvent li[widgets="registrationWidgetsIds"],
.group.event #tab_menu.simple.hideTab.closed-beforeEvent li[widgets="registrationWidgetsIds"]{display:none;}

.group.event #registration-widget.hideTab.closed-afterEvent,
.group.event #registration-widget.hideTab.simple.closed-afterEvent,
.group.event #registration-widget.hideTab.simple.closed-beforeEvent{display:none;}

.group.event  #board-widget .widget_padding{border:1px solid #d1d1d1;border-bottom:2px solid #4c4c4c;background:#d1d1d1;}
.group.event  #board-widget .widget_padding form{position:relative;}
.group.event  #board-widget .widget_padding form textarea{display: block;border:10px solid #d1d1d1;padding: 10px;border-bottom: none;box-sizing: border-box; height: 90px !important; width: 100%; resize: none;}
.ie .group.event  #board-widget .widget_padding form textarea{width:100% !important;}

.group.event  #board-widget .widget_padding form .buttons_wrapper{padding:0 10px;margin:0 0 5px;}
.group.event  #board-widget .widget_padding form .error{display:block;position:absolute;background:#F00;color:#fff;padding:7px;top: 60px;left: 10px;font: italic 1.4em/1em Georgia, Times, serif;}

.group.event  #board-widget .widget_padding  .boardMessages{box-sizing:border-box;padding:0 10px;margin: 0 0 10px;}
.group.event  #board-widget .widget_padding  .boardMessages li{}
.group.event  #board-widget .widget_padding  .boardMessages li .avatar.medium > a{background:transparent;}
.group.event  #board-widget .widget_padding  .boardMessages li .boardMessageListElement{margin:0;background:transparent;}
.group.event  #board-widget .widget_padding  .boardMessages li.alternate{}
.group.event  #board-widget .widget_padding  .boardMessages li .content{}
.group.event  #board-widget .widget_padding  .boardMessages li .content .content-main{padding:2px 10px 2px; background:#fff; margin:0 0 5px 80px; position:relative;}
.group.event  #board-widget .widget_padding  .boardMessages li .content .content-main:before{content:''; display:block; position:absolute; width:0; height:0; border:7px solid transparent; border-right:7px solid #fff; border-top:7px solid #fff; top:30px; left:-10px;}


.group.event #sphere-group-contents-essentials .jtt-slider .jtt-pages{}
.group.event #sphere-group-contents-essentials .jtt-slider .jtt-page,
.group.event .scheda.group_highlight{width:991px;height:190px;}
.group.event .scheda.group_highlight{padding:0 10px;box-sizing: border-box;height: 170px;}

.group.event .jtt-pages .author_name,
.group.event .jtt-pages .timestamp_extra,
.group.event .jtt-pages .content-footer {display: block;}

.group.event #sphere-group-contents-essentials .scheda.group_highlight h2.content_list_content_title{margin-top:0; width:93.5%; min-height: 44px; font-size:2em; color:#4c4c4c; text-shadow:none; background:transparent;}
.group.event .scheda.group_highlight .thumbnail{float:left; width:230px; height:167px; overflow:hidden; box-shadow:none; box-sizing:border-box;border: 4px solid #fff; background: url() no-repeat center center;}
.group.event .scheda.group_highlight .thumbnail.empty{text-align:center; display:block;}
.group.event .scheda.group_highlight .thumbnail.empty:before{content:''; background:url(../../img/bgArticleThumbDefault.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center; display: block;height: 100%;width: 100%;text-shadow:none;}
.group.event .scheda.group_highlight .thumbnail a{overflow:hidden; display:block; height:auto; box-sizing:border-box;}
.group.event .scheda.group_highlight .thumbnail a img{width:100%; margin-top:0; height:159px;}

.group.event #details-general,
.group.event .homeColumn0,
.group.event .homeColumn1{display:none;}
.group.event .ready #details-general,
.group.event .ready .homeColumn0,
.group.event .ready .homeColumn1{display:block;}