/* --------------------------------------------
----------------------------------------------- TEXT FORMAT */
#wrapComment ul{list-style-type:none}
ul#comments ul{padding:0 0 0 19px}
#wrapComment ul ul, #historywidg ul ul{padding:0 0 0 19px;display:block;clear:both}
#wrapComment ul ol, #historywidg ul ol{padding:0 0 0 20px;display:block;clear:both;list-style:decimal}
#wrapComment ul li li, #historywidg ul li li{border:none;list-style:disc;float:none;margin:0;paddin:0;overflow:visible;padding: 0;}
#wrapComment ul li ol li, #historywidg ul li ol li{border:none;list-style:decimal;float:none;margin:0;paddin:0;overflow:visible;padding:0}
#wrapComment .commento .commentValue .redactor-box ul{padding:0px;width:auto;clear:none}
#wrapComment .commento .commentValue .redactor-box li{padding:0px;width:auto;clear:none}

.content_view_description ul,
.smart-description ul{padding:0 0 0 19px;margin:5px 0;display:block;clear:both;}
.content_view_description ul li,
.smart-description ul li{list-style:disc;}
.content_view_description ol,
.smart-description ol{padding:0 0 0 22px;margin:5px 0;display:block;clear:both;}
.content_view_description ol li,
.smart-description ol{list-style:decimal;}

#history li ul{padding:0 0 0 19px;margin:5px 0;display:block;clear:both;}
#history li ul li{list-style:disc;float:none;margin:0;paddin:0;overflow:visible;}
#history li ol{padding:0 0 0 22px;margin:5px 0;display:block;clear:both;}
#history li ol li{list-style:decimal;float:none;margin:0;paddin:0;overflow:visible;}

.conversation-item .commento ul{padding:0 0 0 19px;margin:5px 0;display:block;}
.conversation-item .commento ul li{list-style:disc;float:none;margin:0;paddin:0;overflow:visible;}
.conversation-item .commento ol{padding:0 0 0 22px;margin:5px 0;display:block;}
.conversation-item .commento ol li{list-style:decimal;float:none;margin:0;paddin:0;overflow:visible;}
.conversation-item .text p > img { width: 100%;}
.content_view_description p,
.smart-description p{margin:0 0 12px 0;}

img[align='left']{margin:0 10px 0 0;}
img[align='right']{margin:0 0 0 10px;}
input[type='radio']{margin:0 5px 0 0;}
#history blockquote,
#historywidg blockquote{word-wrap:break-word;}
h3.content_list_content_title{word-wrap:break-word;overflow:auto;}
.content_preview{word-wrap:break-word;}
