/* --------------------------------------------
----------------------------------------------- TIME STAMP */
.timestamp{color:#999;margin-top:4px;}
.timestamp_extra{color:#999;}
.boardMessages .timestamp{padding:0 0 0 70px;}
.conversations .timestamp{padding:0;}
.scheda.extended .timestamp{margin-left:90px;margin-top:-8px;}
#comments .timestamp{margin-left:0;margin-top:5px;}