/* --------------------------------------------
----------------------------------------------- FANCY COMPACT VIEW */
.fancy-scheda {min-height:56px; cursor:pointer;}
.fancy-scheda:hover {border-color:#91c6ff;}
.fancy-scheda:hover a.fc-expand{color:#4493e9;}
.fancy-scheda.massiveOperationCompact {position:relative; z-index:0;}
.fancy-scheda.massiveOperationCompact.selected .fancy-content {outline:4px solid #418ee0; border-color:#418ee0;}
.fancy-scheda.massiveOperationCompact.alreadyShared {opacity:.25;}

.fancy-avatar{margin-left:-5px;}
.fancy-avatar img{width: 43px;margin: 7px 10px 5px 0;}
.fancy-timestamp{color:#999;margin-right:5px; font-size: 10px; margin-top:1px;}

.fancy-scheda .edn-ribbon{top:12px;line-height:16px;max-width: 50px;min-width: 50px;}
.fancy-scheda .ribbon-message{min-width: 50px;max-width: 63px;}
.fancy-scheda .ribbon-messages{margin-left: -11px;}
.coverCompact.fancy-scheda .ribbon-messages{margin-left: -31px;}
.fancy-scheda .ribbon-message.compact {position: absolute;background: url(../../img/bk-angle-user.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left bottom;}
.fancy-scheda .ribbon-message.projectCover.hackathon.compact{right: -7px; top: 5px; background: none;}
.fancy-scheda .ribbon-message.projectCover.hackathon.compact::after {content:'';position:absolute;display:block;width:0;height: 0;right: 0px;bottom: -1px;border: 3px solid transparent;border-left: 3px solid #666;border-top: 3px solid #666;}

.fancy-content{ padding: 5px 10px 10px;}
.scheda.coverMagazine.flipped .back	.fancy-content{padding:0;overflow: hidden; position: relative;}
.scheda.coverCompact .fancy-content{padding:10px 0 0;}
.scheda.coverCompact .fancy-content .description.coverCompact{max-width:100%;box-sizing: border-box; padding:0 200px 0 74px;line-height: 1.3em;}

.fancy-title div{font-weight:700; font-size: 14px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 16px;}
.scheda.coverCompact .fancy-title div{font-size: 1.6em;line-height: 1.2em;text-overflow: initial;white-space: normal;height: auto;}

.gecko .fancy-title div{white-space: inherit;}
.fancy-title{margin-top:5px;}
.fancy-author_name.subtitle {float: left;margin-top: -2px;padding-right: 10px;}
.scheda.coverCompact .fancy-author_name.subtitle {margin: -2px 0 0 20px;}
.fancy-author_name.subtitle a{font-size:10px;}
.fancy-infocontent{float:right; margin-top:6px;}
.fancy-infocontent span{color:#999;}
.scheda.coverCompact .fancy-infocontent {position:absolute; right:10px; top:3px;}
.scheda.coverCompact .fancy-title{margin:5px 0 10px;max-width:100%;padding:0 200px 0 74px;}
.fancy-daily-break-title{margin:0; padding:0;font-size: 1.2em; text-transform:uppercase;}

.fancy-actions{margin: 6px 0 -5px;}
.fancy-actions a.fc-expand{color:#999;}
.fancy-actions .ondemand{display:none}

	/* Extended content */
.fancy-scheda.expanded .fancy-daily-break-title,
.fancy-scheda.expanded.daily-break .fc-expand{margin-left:40px;}

.fc-extend-section{padding-top:15px;clear: both;}
.fc-extend-section .toggle-comments a {color:#4C4C4C;font-weight: 700;}
.fc-extend-section .toggle-comments a:hover {color:#4C4C4C;text-decoration:none;}
.massiveReshare-contentList .fc-extend-section{padding-top:0;}

.fc-extend-content{margin: 0 0 0 50px;}
.fc-extend-section-label,
.fc-extend-section-subtitle{border-bottom:1px dotted #d1d1d1;font-weight:700;font-size:13px;color:#4C4C4C; line-height: 1.6em; margin:0 0 5px 0;}
.fc-extend-section .toggle-comments{padding: 0 0 5px 0;font-size:13px;}
.fc-extend-section-subtitle{color:#999;font-weight:normal;clear: both;margin-top: 10px;}

.fc-extend-tags .tags-label{display:none;}
.fc-extend-tags-fc-no-tags{display:none;}

.fc-extend-addtag{background:#3d84ce; margin: 0 2px 0 0;height:18px;float: left; padding:1px 15px 1px 5px; width:150px; line-height:16px;}
/* Adds triangle before area
.scheda.extended .fc-extend-addtag {margin:0 0 0 10px;}
.fc-extend-addtag:before{content: '';position: absolute;display:block;top:0;left: -21px;background: transparent;width: 0; height:0; border:transparent solid 12px; border-right:#3d84ce solid 9px;}
.scheda.extended .fc-extend-addtag:before{border-width:10px;left:-20px;}
*/
.fc-extend-addtag input{background:#3d84ce; color:#fff; padding:0 1%; width:98%; border:0; font-size:.9em;}
.fc-extend-attachment .label{float: left;margin: -22px 0 0 90px;}
.fc-extend-attachment .label a{font-weight: normal; font-size:0.9em;}
.fc-extend-attachment .content_other_info{padding:0;}

.fc-extend-reshare-sphere,
.fc-extend-reshare-event,
.fc-extend-reshare-portal {padding-left:22px; line-height:1.6em; margin:0 0 0 5px;}

.fc-extend-sharegroups,
.fc-extend-reshare-sphere{background:url(../../img/icon-reshare-sphere.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 2px; overflow:hidden; color:#999;}
.fc-extend-sharegroups.event,
.fc-extend-reshare-event{background:url(../.../img/icon-reshare-event.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 2px; overflow:hidden; color:#999;}
.fc-extend-sharegroups.portal,
.fc-extend-reshare-portal{background:url(../.../img/icon-reshare-portal.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 2px; overflow:hidden; color:#999;}
.fc-extend-reshare-user,
.fc-extend-shareusers.share{background:url(../../img/icon-reshare-user.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 3px;}
.fc-extend-sharegroups,
.fc-extend-reshare-user,
.fc-extend-shareusers.share{clear:both; padding:2px 0 0 22px; margin:0 0 0 5px; color:#999;}
.fc-extend-shareusers,
.fc-extend-sharegroups,
.fc-extend-reshare-user{line-height:1.6em;}
.fc-reshare-autor{color:#999;}

/* files*/
.fc-extend-section .content_other_info{margin:0;}