/*------- WELCOME WIZARD  -------------------------------------*/
#ww-tabs > div{cursor:pointer; margin-bottom:3px; height:32px; line-height:32px; font-size:14px; color:#fff; min-width:180px; border-left:2px solid #fff; background-color:#c5c3c3; float:left;}
#ww-tabs > div:first-child{border-left:none;}
#ww-tabs > div.selected{background:#fff; color:#333; font-weight:700;}

.ww-selection{position:absolute;}
#ww-page-sliders,
#ww-pages > div{width:728px;height:513px;}
.ww-page-home{background:url(../../img/img/skins/welcome-wizard/bk-wizard-home.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}

.ww-picture{text-indent:-20000em;background-repeat:no-repeat;}
.ww-welcome-phrase{background-image:url(../../img/img/skins/welcome-wizard/welcome-to-tamtamy.png?v=@TAMTAMY_PREVENT_CACHE@);height:32px;margin:60px auto;width:645px;}

.ww-share-manage-search h1{text-transform:uppercase; color:#f0f0f0;}
.ww-share-manage-search span{font-size:17px;}
.ww-share-manage-search{color:#f0f0f0; text-shadow:0 0 2px rgba(0, 0, 0, 0.88); margin: 0 41px;}

.ww-link > div:first-child{min-width:160px; border-right: 1px dotted #fff;}
.ww-link:first-child div:first-child{border-left:1px dotted #fff;}
.ww-link{float:left; margin-top:35px;}
.ww-img {cursor:pointer; margin:50px 15px 0; float:left; background-repeat:no-repeat; width:130px; height:130px; text-indent:-200000em; background-image:url(../../img/img/skins/welcome-wizard/share-manage-search.png?v=@TAMTAMY_PREVENT_CACHE@);}
.ww-manage{background-position:0 bottom;}
.ww-share{background-position:-130px bottom;}
.ww-search{background-position:-260px bottom;}
.ww-blog{background-position:-390px bottom;}

.ww-page > div{text-align:left;padding:20px;}	
.ww-page p{padding-bottom:10px;line-height:1.3em;}

.ww-share-example{background:url(../../img/skins/welcome-wizard/example-share.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -8px; width:705px; height:230px; margin:10px 0;}
.ww-manage-example{background:url(../../img/skins/welcome-wizard/example-manage-v2.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0; width:729px; height:424px; margin:0 0 0 -13px;}
.ww-manage-example-two{background:url(../../img/skins/welcome-wizard/example-manage-02.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0; width:705px; height:190px;}
.ww-search-example-one{background: url(../../img/skins/welcome-wizard/example-search-01.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat; height:56px; margin-bottom:5px;}
.ww-search-example-two{background:url(../../img/skins/welcome-wizard/example-search-02.png?v=@TAMTAMY_PREVENT_CACHE@); height:200px;}

.ww-blog-example-one{background-image:url(../../img/skins/welcome-wizard/ww-blog-example-01.png?v=@TAMTAMY_PREVENT_CACHE@); height:200px; margin:50px 0; background-position:-16px 0;}
.ww-blog-example-two{background-image:url(../../img/skins/welcome-wizard/ww-blog-example-02.png?v=@TAMTAMY_PREVENT_CACHE@); height:57px; width:288px;}
#welcome-wizard-launcher{color:#fff; font-size:14px; text-align:center; min-width:225px; line-height:30px; border:1px solid #d1d1d1; background-color:#4697f0; background:url(../../img/skins/welcome-wizard/background.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -75px;}
#welcome-wizard-launcher .icon-triangle-right{background:url(../../img/icons-prev-next-white-30x30.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -30px 1px;}

#main-widget-welcome-wizard .widget_padding{border:none;}

#mobile-app-news a,
#mobile-app-news a:hover{text-decoration: none;color:#fff;}

#mobile-app-news .news-mobile{display:block; background-image:url(../../img/skins/welcome-wizard/news+mobile.png?v=@TAMTAMY_PREVENT_CACHE@);width:230px;height:109px;}
#mobile-app-news .news-mobile span{padding:24px 10px 10px 80px; line-height:1.4em; display:block;}
#mobile-app-news .widget_title{background-image:url(../../img/icon-iphone.png?v=@TAMTAMY_PREVENT_CACHE@); background-repeat:no-repeat; background-position:5px center; padding-left: 40px;}

.wiki-link-wizard {bottom:20px; display:block; left:333px; position:absolute;}
.wiki-link-wizard a{color:#fff!important;}