/*
Name: Black Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
a, a h1, a h2, a h3, a h4, a h5 {color:#000;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#777;}
body{background:#333 url(../graphic/bg.jpg) top center repeat-x;}
#header h1{background:url(../graphic/logo-tamtamy_black.gif) no-repeat;}
#header ul li a{color:#999;text-shadow:0 1px 0 #000;background:#1f1f1f url(../graphic/title-bg.png) repeat-x;border-color:#000;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{text-shadow:0 1px 0 #fff;color:#000;background:#fff url(../graphic/title-bg.png) bottom repeat-x;border-color:#fff;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3{background:#232323 url(../graphic/hl.png) repeat-x top;color:#999;text-shadow:0 1px 0 #000;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:url("../graphic/title-bg.png") repeat-x scroll 0 0 #1f1f1f;border-color:#1f1f1f;color:#999;}
.vwall a, #userview a {color:#777;}
ul.pager li a:hover,ul.pager li a.on{background:#777;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer p#logo_pow a{background:url(../graphic/logo_pow.gif) no-repeat;}
ul.intentions li#contents a{background:url(../../aqua/graphic/icon-set-1mono/share_upload.gif) 2px 2px no-repeat;}
ul.intentions li#blog a{background:url(../../aqua/graphic/icon-set-1mono/create_blog.gif) 2px 2px no-repeat;}
ul.intentions li#group a{background:url(../../aqua/graphic/icon-set-1mono/create_group.gif) 2px 2px no-repeat;}
ul.intentions li#c11 a{background:url(../../aqua/graphic/icon-set-1mono/community_wiki.gif) 2px 2px no-repeat;}
ul.intentions li#extt a{background:url(../../aqua/graphic/icon-set-1mono/contents.gif) 2px 2px no-repeat;}
ul.intentions li#exblog a{background:url(../../aqua/graphic/icon-set-1mono/blogs.gif) 2px 2px no-repeat;}
ul.intentions li#php a{background:url(../../aqua/graphic/icon-set-1mono/pages.gif) 2px 2px no-repeat;}
ul.intentions li#checkhig a{background:url(../../aqua/graphic/icon-set-1mono/highlights.gif) 2px 2px no-repeat;}
ul.intentions li#hist a{background:url(../../aqua/graphic/icon-set-1mono/live_updates.gif) 2px 2px no-repeat;}
ul.intentions li#conversations a{background:url(../../aqua/graphic/icon-set-1mono/conversations.gif) 2px 2px no-repeat;}
