/* General Elements */
body{font-family:'Montserrat','tamtamy-icon', sans-serif; text-align:left;}
:focus,
a:focus{outline-color:transparent; outline-style:dotted; outline-width:thin; color:#303030; text-decoration:none;}

/* Header Elements */
.homepage .banner.parallax {position:relative; overflow:hidden; height:260px;}
.homepage .banner.parallax .mainTitle h1 b {font-size:60px;}
.homepage .banner.parallax .mainTitle::before{background-image:url('../images/alliances_Cover_img.svg?v=@TAMTAMY_PREVENT_CACHE@');background-position: 50% 49%;background-size: 520px 280px;display:none;}
.homepage .banner.parallax .widget_padding > div .mainTitle{position:static;height: 249px;}
.homepage .banner.parallax .mainTitle .decoration{background-repeat:no-repeat;background-size: 100% 100%;display: block;position: absolute; top:0;bottom:0; left:0; width:100%;}
.homepage .banner.parallax .mainTitle .decoration.logo.part01{background-image:url('../images/alliances_logo.svg?v=@TAMTAMY_PREVENT_CACHE@'); background-size: 490px 260px;width: 534px;z-index:3;left: 50%;margin-left: -50px;top: -10px;bottom: unset;height: 280px;}
.homepage .banner.parallax .mainTitle .decoration.logo.part02{background-image:url('../images/alliances_circles.svg?v=@TAMTAMY_PREVENT_CACHE@'); z-index:1; opacity:.8; background-position-x:37px !important; top:-60px; background-size:820px 400px; width:820px; left:50%; transform:translateX(-30%);}

/* General Widgets */
.filters > .widget_title{text-align:center; text-transform:uppercase; color:#303030; font-size:1.43em;}
.wrapwidg.link button{width:100%; padding:10px 25px; margin:15px 0; background-color:#16a389; color:#fff; border-radius:4px; border:none;}
.wrapwidg.link button:hover{background-color:#12846f;}
.wrapwidg.link button label{font-size:14px; line-height:1.1em; text-transform:uppercase;}

/**	Content Compact View **/
.compact_wrapper > .show-on-compact.visible{border-top:solid 2px #cec9cb; padding:20px 35px 0;}
.compact_wrapper .fc-extend-body-label span:first-child{margin-left:17px;}

/** Partnership Content **/
.partnerships .content-carousel{visibility:hidden;}
.content-list.partnership .contents_wrapper{overflow:visible; margin:0 -5px;}
.content-list .partnership.cover{margin:0 0 10px; padding:0 5px; border:none; clear:none; background:transparent;}
.content-list .partnership.cover:hover{text-decoration:none; color:inherit;}
.content-list .showListCount{margin:0 5px 10px;}
.content-list .showListCount .showListCount-count{font-weight:bold; font-size:1.3em;}
.content-list.partnership .widget_padding{display:block; margin:0;}
.content-list .partnership.private{background:transparent; border:none; margin:0 0 30px; padding:0 5px;}
.content-list .partnership.scheda .content{position:relative;}
.content-list .partnership .scheda_padding{border:1px solid #d6d6d6; transition:all .3s cubic-bezier(0.4, 0, 1, 1);}
.content-list .partnership:hover .scheda_padding{position:relative; box-shadow:0 0 20px -5px #777; z-index:2;}
.content-list .partnership.private:hover .scheda_padding{box-shadow:none;}
.content-list .partnership.scheda .content{padding:30px 30px 15px; background-color:#fff;}
.content-list .partnership.cover .content{padding: 20px 20px 10px;}
.content-list .partnership .content .alliance{display:block; position:relative; width:100%; padding:0 10px 20px; margin:0 0 10px;}
.content-list .partnership.cover .content .alliance{width:100%;padding: 0 0 5px;margin: 0 0 10px;}
.content-list .partnership.cover .content .alliance.info{padding:0 0 70px; margin:0;}
.content-list .partnership.scheda .alliance_wrapper .tool_modify{position:absolute; right:25px; top:33px; display:block; overflow:hidden; width:30px; height:30px; text-indent: -999px;}
.content-list .partnership.scheda .alliance_wrapper .tool_modify::before{content:'\e916'; font-size: 2.5em; color:#4f4f4f; vertical-align:middle; position:absolute; top:8px; right:0; text-indent:0;}
.content-list .partnership.scheda .alliance_wrapper .tool_modify:hover::before{color:#fdca01;}
.content-list .partnership .content .company{padding:0 10px 10px;}
.content-list .partnership .content .alliance > div{display:block; width:100%; text-align:center;}
.content-list .partnership .content .alliance > div.clear,
.content-list .partnership .content .alliance > div.link{display:block; margin:0 0 5px;}
.content-list .partnership .content .alliance.info > div{display:table; table-layout:fixed;}
.content-list .partnership .content .alliance.info > .contacts{display:block;}
.content-list .partnership .content .alliance.info > .replyer{display:block; position:absolute; bottom:0; left:0; width:100%; padding:10px 20px; border-top:1px solid #d6d6d6;}
.content-list .partnership.cover .content .alliance.info > .replyer{display:table; padding:10px 0;}
.content-list .partnership .content .alliance.info > .replyer .logo{height:40px; text-align:left;}
.content-list .partnership.cover .content .alliance.info > .replyer .logo{display:table-row;}
.content-list .partnership .content .alliance.info > .replyer .logo h3{text-decoration:none;}
.content-list .partnership .content .alliance.info > .replyer .title{display:inline; font:bold 1em 'Montserrat'; color:#808080; vertical-align:middle; margin:0;}
.content-list .partnership .content .alliance.info > .replyer .logo span{display:inline-block; height:40px; width:48%; background-position:center center; background-repeat:no-repeat; vertical-align:middle;}
.content-list .partnership.cover .content .alliance.info > .replyer .logo span{display:table-cell; background-size:contain; background-position:center left; width:40%;}
.content-list .partnership.cover .content .alliance.info > .replyer .logo h3{display:table-cell; overflow:hidden; text-overflow:ellipsis; padding:0 0 0 10px;}
.content-list .partnership .content .alliance > .link{position:absolute; width:40%; right:10px; bottom:-20px;}
.content-list .partnership .content .company .logo{display:block; position:relative; vertical-align:middle; border:none; margin:0 auto; width:100%; height:120px;}
.content-list .partnership.cover .content .alliance .partner .logo{border:1px solid #cecece; padding:5px; height:70px;}
.content-list .partnership .content .company .logo span{display:block; position:absolute; right:0; left:0; top:0; bottom:0; background-size:contain; background-repeat:no-repeat; background-position:center center;}
.content-list .partnership.cover .content .alliance .partner .logo span{right:5px;left:5px;top:5px;bottom:5px;background-position: center left;}
.content-list .partnership .content .company .title{display:block; font:bold 15px/1.05em 'Montserrat'; padding:0; margin:10px 0 5px;}
.content-list .partnership.cover .content .alliance .partner .title{text-align:left; padding:5px 0 15px; border-bottom:1px solid #cecece; text-decoration:none;}
.content-list .partnership .content .alliance .value{display:table-cell;padding:0 0 0 10px;font-size:15px;text-align: left;}
.content-list .partnership .content .alliance .contacts .value{display:block; height:33px; overflow:hidden;}
.content-list .partnership .content .alliance .value span{display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; width:136px;}
.content-list .partnership.scheda .content .alliance .value span{width:240px;}
.content-list .partnership.scheda.cover .content .alliance .value span{width:150px; font-weight:bold; text-transform:capitalize;}
.content-list .partnership.scheda.cover .content .alliance .value span:first-letter{text-transform:capitalize;}
.content-list .partnership .content .alliance label{display:table-cell; width:80px; color:#808080; font-weight:normal; text-align:left; text-transform:capitalize; line-height:20px;}
.content-list .partnership .content .alliance .contacts label{display:block; float:left;}
.content-list .partnership .content .alliance .link button{float:right; width:auto; padding:2px 20px; background-color:#16a389; border-radius:3px; border:none;}
.content-list .partnership .content .alliance .link:hover button{background-color:#12846f;}
.content-list .partnership.cover .content .alliance .link button{padding:3px 5px;}
.content-list .partnership .content .alliance .link button label{color:#fff; text-align:center; text-transform:uppercase; font-size:12px; cursor:pointer;}

.content-list .partnership .content .content{display:table; table-layout:fixed; width:100%; margin:0; border-top:2px solid #cecece; padding:25px 0 15px 35px;}
.content-list .partnership .author-and-messages{margin:-15px 0 10px;}
.content-list .partnership .content .content .alliance{display:table-cell;border-bottom: none;padding: 0;}
.content-list .partnership .content .content .alliance.company{border-right:none;border-left:1px solid #cecece;width:40%;vertical-align: middle;text-align: left;}
.content-list .partnership .content .content .alliance.company:first-child{border-left:none; border-right:1px solid #cecece; width:40%;}
.content-list .partnership .content .content .alliance.info{padding:0 0 0 20px; position:static;}
.content-list .partnership .content .alliance .value.expired{color:#fc0004;}
.content-list .partnership .content .content .alliance.info label{width:110px; font-size:1.25em;}
.content-list .partnership .content .content .alliance.info label+label{width:auto; color:#000; padding:0 0 0 10px;}
.content-list .partnership .content .content .alliance > div{display:table; table-layout:fixed;}
.content-list .partnership .content .content .alliance > div.level{height:20px;}
.content-list .partnership .content .content .alliance > div.replyer{padding:0 0 0 10px;}
.content-list .partnership .content .content .alliance > div .logo{display:block; margin:0; width:100px; height:40px; border:none; padding:5px;}
.content-list .partnership .content .content .alliance > div.partner .logo{display:block; width:160px; height:40px; border:none; padding:0; margin:0;}
.content-list .partnership .content .content .alliance > div .logo span{height:40px; background-size:contain; background-position:center left;}
.content-list .partnership .content .content .alliance > div.partner .logo span{background-position:center left;}
.content-list .partnership .content .content .alliance > div .title{text-align:left;}
.content-list .partnership .content .content .alliance > div.replyer .title{display:block; color:#808080; font-size:12px;}
.content-list .partnership .content .content .alliance > .link{bottom:10px; right:0; max-width:100px;}
.content-list .partnership .content .content .fc-extend-body-label{width:100%; display:table-row;}
.content-list .partnership .content .content .fc-extend-body-label span{display:table; table-layout:auto; width:100%; margin:20px 0 0;}
.content-list .partnership .content .content .fc-extend-body-label span span{display:table-cell; padding:0 10px 0 0; white-space:nowrap;}
.content-list .partnership .content .content .clear{display:table; margin:10px 0; width:100%;}

.content-list .partnership.scheda .ribbon-messages{display:block !important; top:95px; left:auto; right:30px; width:auto; z-index:1;}
.content-list .partnership.scheda .ribbon-messages .ribbon-message{padding:0 20px; background:#8eb936; color:#fff;}
.content-list .partnership.scheda .ribbon-messages .ribbon-message.expired{background:#ed1c24;}
.content-list .partnership.scheda .ribbon-messages .ribbon-message.rejected{background:#ef7c32;}
.content-list .partnership.scheda .ribbon-messages .ribbon-message.pending{background:#d1d1d1;}

#contentMetaFilter-appliedBox h2.widget_title{text-transform:capitalize; letter-spacing:0;}
.wrapwidg.projectLibrary_link{margin:-60px 0 30px;}

.cover_section_title{color:#fff;font:bold 1.5em/1.1em 'Montserrat';margin: 0 0 50px 5px;}
.cover_section_title.small{margin: 30px 0 0 5px;font:normal 1em/1.1em 'Montserrat';}

/* Page Title for Partnership */
.partner.info{padding:30px 0; font-family:'Montserrat', sans-serif;}
.partner.info .company{}
.partner.info .company .title{margin:0;}
.partner.info .company .title b{display:none;}
.partner.info .company .title .logo{overflow:hidden; display:block; width:110px; margin:0 0 10px;}
.partner.info .company .title .logo span{display:none;}
.partner.info .company .description{font-size:.9286em; margin:0 100px 0 0;}
.partner.info .manager{}
.partner.info .manager > h3{font-size:1.144em; padding:0; margin:0 0 10px;}
.partner.info .manager .info{padding:5px 0 0 60px; position:relative; display:block; height:50px; margin:0 0 5px;}
.partner.info .manager .info .title{font-size:14px; font-weight:bold; color:#4c4c4c;}
.partner.info .manager .avatar{display:block; width:50px; height:50px; border-radius:50px; position:absolute; top:0; left:0;}
.partner.info .manager .email{font-size:.858em; color:#16a389; margin:0;}
.partner.info .manager .email b{display:none;}
.partner.info .manager .email h3{}
.partner.info .manager .email span{}

/**	Alliance Portals Contents Display	**/
.portal .scheda.content-details[class*="mark_alliance"] {}
.portal .scheda.content-details.extended[class*="mark_alliance"] .content .compact_wrapper{padding:20px 0 42px;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .content .compact_wrapper::before{content:none; display:block; font:normal 18px 'Montserrat'; text-transform:uppercase; float:left;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages{position:absolute; width:100%; left:0; top:0; text-align:left;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .content-toolbar{top:-3px;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo{display:inline-block;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo > *{display:inline-block;vertical-align:middle;cursor:default; padding: 10px 0 0 10px;height: 60px;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo > a{margin: 0;border-left: 1px solid #cecece;padding: 15px 0 0 10px;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo > * img{display:inline-block;vertical-align:middle;width: 100px;margin:0 10px 0 0;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo .field{display:none; font:bold 15px 'Montserrat'; text-transform:capitalize; color:#303030;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo .metaFile.image{background-size:contain;background-repeat:no-repeat;background-position: center left;width:200px;height: 60px;margin:0 50px 0 0;float:left;padding: 0;}
.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo .metaFile.image .field{margin:8px 0 0 125px; display:none;}
.portal .wrapwidg.page_title.banner{min-height:13.5rem;}

#alliance_alert{position:relative; background:#2ca77c; color:#fff; padding:20px; -webkit-animation:fadein 2s; -moz-animation:fadein 2s; -ms-animation: fadein 2s; -o-animation:fadein 2s; animation:fadein 2s;}
#alliance_alert .alert_remove{display:block; position:absolute; color:#fff; right:10px; top:10px;}
#alliance_alert [id*='alert_']{text-transform:uppercase;}
#alliance_alert [id*='alert_'] a{color:#fac902;}
#alliance_alert [id*='alert_'] > div{text-transform:none; font-size:.9em; margin:5px 0 0;}
.portal .scheda .content_meta.content_other_info{margin:0 0 10px;}
.portal .scheda .content_meta > div[id*='_notes_'] .field{font-size:13px;}

/* Alliances News Carousel */
.carousel.type03.full.alliances{height:180px; margin:0;}
.carousel.type03.full.alliances.partnerships{min-height:240px; height:auto; padding:0 0 30px;}
.carousel.type03.full.alliances.partnerships .widget_padding{padding:30px 0 0;}
.carousel.type03.full.alliances .content-carousel{min-height:75px;}
.carousel.type03.full.alliances .slick-track{padding:10px 0;}
.carousel.type03.full.alliances.partnerships .slick-track{padding:10px 0; border-bottom:none;}
.carousel.type03.full.alliances.partnerships .slick-dots{border-top:1px solid #cecece;}

/* Basic Form Setup */
.portal .centralbody{position:static;}
.portal .upload-box #addNewContentH2,
.portal .upload-box #editContentH2 {display:none;}

.portal .alliance_upload{display:block; position:absolute; height:70px;	top:70px; left:0; right:0; z-index: 2; color:#fff; padding:20px 0;	border-bottom-color:#fdca01; background:#fdca01;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkY2EwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzE1YTM4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNWEzOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(top, #fdca01 0%, #93b555 40%, #15a38a 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdca01), color-stop(40%,#93b555), color-stop(100%,#15a38a));
	background:-webkit-linear-gradient(top, #fdca01 0%,#93b555 40%,#15a38a 100%);
	background:-o-linear-gradient(top, #fdca01 0%,#93b555 40%,#15a38a 100%);
	background:-ms-linear-gradient(top, #fdca01 0%,#93b555 40%,#15a38a 100%);
	background:linear-gradient(to bottom, #fdca01 0%,#93b555 40%,#15a38a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdca01', endColorstr='#15a38a',GradientType=0 );
}
.portal .alliance_upload .contents{display:inline-block; position:absolute; top:50%; width:100%; max-width:1140px; left:50%; transform:translateX(-50%) translateY(-50%);}
.portal .alliance_upload .contents > span{font-size:2em;}
.portal .alliance_upload .contents > .howto{display:block; float:right; color:#fff; font-size:1.3em; line-height:2em; text-transform:uppercase;}
.portal .alliance_upload .contents > .howto::before{content:'\e97b'; display:inline-block; font:normal 1.8em 'tamtamy-icon'; vertical-align:middle; margin:-4px 10px 0 0;}

/* Form Explanation Area */
.portal .alliancePrivateWrapper{position:static; margin-top:275px;}
.portal .alliancePrivateWrapper .explanation{position:absolute; top:140px; left:0; right:0; padding:0; background:#fff; border:1px solid #cecece; border-width:0 0 1px;}
.portal .alliancePrivateWrapper .explanation + div .upload-box{margin-top:10px;}
.portal .alliancePrivateWrapper .explanation .table{display:table; table-layout:fixed; position:relative; width:100%; max-width:1140px; box-sizing:border-box; margin:0 auto; padding:55px 0 30px;}
.portal .alliancePrivateWrapper .explanation .title{display:block; position:absolute; width:100%; top:0; padding:15px; font:normal 1.1em/1.1em 'Montserrat', sans-serif; text-align:center; text-transform:uppercase;}
.portal .alliancePrivateWrapper .explanation .table .column{display:table-cell; position:relative; width:33.333333%; text-align:center; padding:30px 30px 0;color:#4c4c4c;}
.portal .alliancePrivateWrapper .explanation .table .column::before{content:'◎'; display:block; position:absolute; top:0; left:50%; width:30px; height:30px; padding:4px 8px; transform:translateX(-50%); font:bold 1.2em/1.1em 'Montserrat', sans-serif; text-align:center; border:2px solid #4c4c4c; border-radius:50px;}
.portal .alliancePrivateWrapper .explanation .table .column.first::before{content:'1';}
.portal .alliancePrivateWrapper .explanation .table .column.secnd::before{content:'2';}
.portal .alliancePrivateWrapper .explanation .table .column.third::before{content:'3';}
.portal .alliancePrivateWrapper .explanation .table .column::after{content:'⟶'; display:block; position:absolute; color:#cecece; top:-5px; left:0; transform:translateX(-45%); font-size:2em; line-height:1em;}
.portal .alliancePrivateWrapper .explanation .table .column.first::after{content:none;}

/* Media Queries */
@media only screen and (max-width:1200px){
	.portal .alliance_upload .contents{max-width:980px; padding:0 20px;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages{margin:-15px 40px 0 0;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .content-toolbar{display:block; position:absolute; top:0;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .content-toolbar > *{display:none;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .content-toolbar > .tool_modify{display:block; margin:0;}
}
@media only screen and (max-width:991px) {
	.homepage .banner.parallax .mainTitle .decoration.logo.part01,
	.homepage .banner.parallax .mainTitle .decoration.logo.part02{content:none; display:none;}
	.portal.homepage .bodycolumn .widget_padding{margin:0;}
	.portal .alliance_upload .contents{max-width:760px;}
	.portal .alliancePrivateWrapper{margin-top:80px;}
	.portal .alliancePrivateWrapper .explanation{display:none;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages{margin:-15px 40px 0 0;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo .metaFile.image{width:160px;}
	.cover_section_title{color:#4c4c4c; margin:0 0 20px;}
	.partner.info .company .description{margin:0 0 20px;}
}
@media only screen and (max-width:640px){
	.homepage .banner.parallax{height:150px;}
	.homepage .banner.parallax .widget_padding > div .mainTitle{height:150px; padding:30px 0;}
	.mainTitle h1{margin:0;}
	.homepage .banner.parallax .mainTitle h1 b {font-size:32px; line-height:1em;}
	.homepage .banner .mainTitle h1 span,
	.homepage .banner .mainTitle h3{font-size:14px; min-height:30px;}
	.mainTitle h1 span.reply_title::before{width:90px; background-size:90px 25px; height:25px;}
	.partner.info .manager > h3{padding:0; font-size:1.4em;}
	.portal .scheda.content-details[class*="mark_alliance"]{padding:10px 15px 0;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .content .compact_wrapper{padding:0 0 82px;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .content .compact_wrapper::before{float:none; text-align:center; border-bottom:2px solid #cfcfcf; padding:0 0 15px;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages{top:20px;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo > *{display:block; margin:0 auto 10px;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo > a{display:inline-block; padding:25px 0px 25px 5px; margin:0 0 0 10px;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo > * img{width:70px; margin:0;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .author-and-messages .alliance_company.logo .metaFile.image{display:block; margin:0 auto; width:130px;}
	.portal .scheda.content-details.extended[class*="mark_alliance"] .content-toolbar{top:18px;}
	.content-list .partnership.scheda .content{padding:10px 15px 0;}
	.content-list .partnership .content .content{display:block; padding:30px 0 55px; position:relative;}
	.content-list .partnership .content .content .alliance{display:block; padding:0;}
	.content-list .partnership .content .content .alliance.info{width:100%; padding:0 0 25px; position:static; border-bottom:1px solid #cecece;}
	.content-list .partnership .content .content .alliance.info label{font-size:1.1em;}
	.content-list .partnership .content .alliance .value{padding:0;}
	.content-list .partnership .content .content .alliance.company,
	.content-list .partnership .content .content .alliance.company:first-child{width:100%; border:none; padding:0; margin:0;}
	.content-list .partnership .content .content .alliance > .link{bottom:15px;}
	.content-list .partnership .content .content .fc-extend-body-label span{margin:0; font-size:.95em;}
	.content-list .partnership .content .content .clear{margin:10px 0 5px;}
	.content-list .partnership.scheda .ribbon-messages{right:15px; top:85px;}
	.portal .alliance_upload .contents > span{font-size:1.6em;}
	.portal .alliance_upload .contents > .howto{width:34px; overflow:hidden; height:34px;}
	.portal .scheda .alliance_wrapper .avatar.medium > a{width:55px; height:55px; padding:0;}
	.content-list .partnership .author-and-messages{margin:-10px 0 0; width:55px;}
	.partnership .author_name{margin:10px 0 0 65px;}
	.partnership .timestamp_extra{margin:0 0 20px 65px;}
	.content-list .partnership.scheda .alliance_wrapper .tool_modify{top:22px; right:10px;}
	.content-list .partnership .content .content .alliance > div.replyer,
	.content-list .partnership .content .content .alliance.info label+label{padding:0;}
	.content-list .partnership .content .content .alliance > div.level{height:auto;}
	.content-list .partnership.scheda .content .alliance .value span{width:100%;}
	.cover_section_title.small{margin:0; font:normal 1em/1.1em 'Montserrat';}
}