/* HINT BOX */
.usage_info{position:relative; clear:both; background:#e0f4d0; color:#448723; font-size:12px; padding:10px; margin:0 0 20px; border:2px dashed #cae5b4;}
.usage_info.notifications {background:transparent; border:none; border-top:2px solid #d4d4d4; color:#999; padding:10px 0 0;}
.usage_info h2, div.usage_info h3 {color:#71ac54; padding:0; margin:0 0 5px;}
.usage_info p{padding:0 0 5px;line-height:1.5em;}
.usage_info a.close_me{text-indent:-9999px; display:block; position:absolute; top:5px; right:5px; width:13px; height:13px; background:url(../../img/delete-icon-x-green.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}