/*------------------------------------*\
	Community Tooltip
\*------------------------------------*/
.community-tooltip .spheres,
.community-tooltip .circles{border-top:1px dotted #ccc; padding:5px 0}
.community-tooltip .spheres div,
.community-tooltip .circles div{display:inline;}
.community-tooltip a.remove,
.community-tooltip a.add{float:right;}
.community-tooltip a.remove{color:#f00;}
.community-tooltip a.add{color:#008000;}
.community-tooltip li:hover{background-color:#eee;}