/*-------------------------------------- 
---------------------------------------- CROPPER MODALS */
.modal-open #cropperModal {width: 100%;overflow-y: visible;overflow-x: hidden;position: fixed;top: 0;left: 0;height: 100%;margin: 0;background: transparent;}
#cropperModal .modal-dialog{width:991px;margin:5% auto;background:#fff;}
#cropperModal .modal-body{padding:0;max-height: 100%;}
#cropperModal .modal-body .cropper-container{padding:20px;box-sizing: border-box;}
#cropperModal .modal-body .cropper-container .cropper-canvas img{}

#cropperModal .btn-group {padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff;zoom:1;}
#cropperModal .btn-group .btn{cursor:pointer;display:inline-block;height:22px;line-height:22px;padding:0 15px;margin:5px 5px 5px 5px;color:white;font-weight:bold;border:none}
#cropperModal .btn-group .btn.btn-success{background:url(../../img/bk-button-blu.png?v=@TAMTAMY_PREVENT_CACHE@) bottom repeat-x;text-shadow:0 1px #2d629a;}
#cropperModal .btn-group .btn.btn-danger{background:url(../../img/bk-button-red.png?v=@TAMTAMY_PREVENT_CACHE@) bottom repeat-x;text-shadow:0 1px #9a2d2d;}

/* Limits IMG placeholder height for cropper on Modals */
.ie .cropper-container img,
.gecko.win .cropper-container img{width:auto;}