/* Custom Widget */
#userCoverImage .previewArea {display:block; position:relative; overflow:hidden;}
#userCoverImage #coverCurrent.background.canvas-preview {display:block; background-image:url('/tamtamy/images/defaultCover.jpg?v=@TAMTAMY_PREVENT_CACHE@');background-size: cover; background-position: center center;}
#userCoverImage #coverCurrent.background.canvas-preview.active {width:100%; min-height:241px;}
#userCoverImage .canvas-preview.streaming.active{display:block; width:100%; min-height:241px; background-size:contain;background-repeat: no-repeat;}
#userCoverImage #logoCurrent.logo {position:absolute; z-index:2; display:block; top:13px; left:66px; background-size:contain;background-repeat: no-repeat;background-position: top left;}
#userCoverImage #logoCurrent.logo.active {width:458px;height: 156px;}


#peopleWidgetContainer{padding:9px;overflow:auto}
.peopleWidgetCount{font-weight:normal}

li#global_navbar_link_blog{margin-left:0;}
li#global_navbar_link_user{margin-right:25px; max-width: 280px;}

.widgetListViewAll{border-right:1px solid #d1d1d1;padding:10px;	}
#details-general-content{display:none}