/* ------------------------------------------------- Enterprise area */
/*------------------------------------version - 8 rounded Buttons 
#enterprise-widget{height: 120px; overflow: hidden; position: relative; width: 230px; padding-left: 5px; padding-top: 10px;}
#slider-enterprise{display: block; left: 0; position: absolute; width: 2000000em; overflow:hidden;}
#enterprise-widget .slide-enterprise{width:230px; float:left;}
#enterprise-widget .page-enterprise {width: 100%; height:60px;}

#enterprise-widget .enterprise-icon{display:block; height:50px; text-indent:-20000em; width:55px; float:left;}
#enterprise-widget .enterprise-icon:hover{background-position: 0 -51px;}
#enterprise-widget .enterprise-icon.ent-disabled:hover{background-position: 0 0;}


#enterprise-widget .slider-enterprise-container {padding-left: 5px; padding-top: 13px;}
#enterprise-widget .ent-paginator a {background: url("/tamtamy/img/EnterpriseIcons/paginator_dot.gif") no-repeat scroll left top rgba(0, 0, 0, 0);display: inline-block;float: left;height: 10px;margin: 0 5px 0 0;text-indent: -9999px;width: 10px;}
#enterprise-widget .ent-paginator a.selected {background: url("/tamtamy/img/EnterpriseIcons/paginator_dot.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);}
/*------------------------------------END version - 8 rounded Buttons */

/*------------------------------------version - 2colsx4Links */
#widget-enterprisearea .widget_padding{border-bottom:none;}
#enterprise-widget{overflow:hidden; position:relative;}
#enterprise-widget #div-enterprise {width: 100%; height:auto; display:table;}
#enterprise-widget #div-enterprise .page-enterprise {width:50%; display:table-cell; margin: 0;}
#enterprise-widget #div-enterprise .page-enterprise:first-child {border-right:1px solid #d1d1d1;}
#slider-enterprise{display: block; left: 0; position: absolute; width: 2000000em; overflow:hidden;}
#enterprise-widget .slide-enterprise{width:230px; float:left;}


#enterprise-widget .enterprise-icon{display: block; height: auto; width:100%; float:none; box-sizing:border-box; background-size:28px; background-repeat:no-repeat; line-height: 24px; background-position:7px 2px; border-bottom:1px solid #d1d1d1; padding:2px 0 2px 43px; font-weight:bold;}
#enterprise-widget .enterprise-icon.ent-disabled{color:#d1d1d1;}
#enterprise-widget .enterprise-icon:hover{background-position:5px 3px;}
#enterprise-widget .enterprise-icon.ent-disabled:hover{background-position: 7px 2px;}


#enterprise-widget .slider-enterprise-container {padding-left:5px; padding-top:13px;}
#enterprise-widget .ent-paginator a {background:url("/tamtamy/img/EnterpriseIcons/paginator_dot.gif") no-repeat scroll left top rgba(0, 0, 0, 0); display:inline-block; float:left; height:10px; margin:0 5px 0 0; text-indent:-9999px; width:10px;}
#enterprise-widget .ent-paginator a.selected {background:url("/tamtamy/img/EnterpriseIcons/paginator_dot.gif") no-repeat scroll left bottom rgba(0, 0, 0, 0);}
/*------------------------------------END version - 2colsx4Links */

#enterprise-area h2.widget_title{background-image:url(../../img/icon-enterprise-area.png?v=@TAMTAMY_PREVENT_CACHE@); background-repeat:no-repeat; background-position:5px -2px; padding-left:40px; margin-bottom:0;}
#enterprise-area div{width:76px; height:75px; float: left; border-right:1px solid #d1d1d1; margin: 0 0 -1px 0; border-bottom:1px solid #d1d1d1;}
#enterprise-area a{width:75px; height:76px; display:block;}
#enterprise-area div.en-row-last{border-right:0;}

/*enterprise area tab opened with transparency*/
.en-page-resizable-panel.start-open{height:267px;}
.en-page-resizable-panel.start-open .en-page-opener{display:none;}
.en-page-resizable-panel.start-open{background-color:rgba(255,255,255,0.85);}
.en-page-resizable-panel.start-open.less-transparency{background-color:rgba(255,255,255,0.92);}