/* Event Calendar */
.wce-event-custom-image{background: url(../../img/bk-event-custom-background-blue.jpg?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;height: 65px; width:617px; color:rgba(255, 255, 255, 0.6);padding: 40px 0 0 150px;font-size: 1.7em;text-transform: uppercase;}
.wce-event-custom-gradient{background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */}
.wce-main .widget_padding {border: 1px solid #d1d1d1;}
.wce-header{position:relative;min-height:125px;max-height:125px;max-width:742px;overflow: hidden;}
.wce-nav {position:absolute;top:50px;left:10px;right:10px;}
.wce-nav .button_prev{float:left;}
.wce-nav .button_next{float:right;}

.wce-month-image,
.wce-event-image{max-width:100%; min-width:100%;}
.wce-event-image{display: none;}
.wce-month-year{position:absolute; bottom:0; left:0; right:0; font-size:2em; color:#fff; background-color:rgba(0,0,0,0.4); padding:5px 20px;}
.wce-year{float:right;}
.wce-table{width:auto; border-width:0 0 1px 1px; border-spacing:0; border-collapse:collapse; border-style:solid; border-color:#d1d1d1;}
.wce-table td,
.wce-table th{margin:0; padding:4px;border-width: 1px 1px 0 0;border-style: solid;border-color:#d1d1d1;}

/* the next rule could be edited from javascript on contentcalendar.vm */
.wce-table td,
.wce-cal-cell{max-width:35px;width:35px; max-height:35px;height:35px;text-align: center;padding:0; line-height:35px}
.wce-table th{font-variant: small-caps;text-align: center;font-weight: 700;font-size: 1.2em;}
.wce-cal-cell{font-size: 1.2em;}
.wce-cal-cell.inactive{color: #999;}
.wce-cal-cell.today{background-color:#f4f4f4;}
.wce-table td.populated{background:#418ee0;color:#fff;cursor:pointer;}
.wce-table td.populated .today {background:#4fa4ff;}

.wce-calendar-events{padding:20px;overflow: hidden;background:white;}
.wce-calendar-events > div {float: left;max-height: 220px;}


.wce-event-list{margin:0 0 0 20px; width:60%;overflow:auto;}
.wce-event{height:35px; line-height:35px; border-bottom:1px dotted #d1d1d1;}
.wce-event > span{background:#d1d1d1; padding: 5px 0;margin-right: 10px;}
.wce-event-day, .wce-event-week{font-size: 1.2em;padding: 2px 5px;background:#d1d1d1;color:#fff;font-weight:700;text-transform: uppercase;}
.wce-event-day{border-right:1px dotted #fff;}


.highlight .wce-event-day,
.highlight .wce-event-week,
.wce-event.highlight > span{background-color:#418ee0;}
.wce-navi {background: url(../../img/icons-set-next-prev-calendarevent.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;width:24px;height:24px;text-indent:-20000em;}
.wce-navi:hover{background-position-y:-24px;}
.wce-next{background-position:-24px 0;}
.wce-prev{background-position:0 0;}

.alternative.event{margin:10px 0;}
.ideaWrapper .ideaTextOverDescriptionPresent {margin: 10px 0 20px;}

/* event calendar laterale */
.wce-main .widgetListPager {border-right: none; height: 10px; padding:8px 0 16px; background-color:#f2f2f2;}
.wce-main .widgetListPager h2 { font-size: 16px; text-align:center; }
.wce-main .widgetListPager h2 > .prev {float: left; margin-left: 10px; }
.wce-main .widgetListPager h2 > .next {float: right; margin-right: 10px; }

.wce-lateral-calendar .wce-calendar-events {padding:10px 0 0;}
.wce-lateral-calendar .wce-calendar-events > div { float: inherit;}
.wce-lateral-calendar .wce-table {display: table; margin: 0 auto; border-left-style:none;  border-bottom-style:dotted; margin-bottom:12px;}
.wce-lateral-calendar .wce-table thead {color:#888;}
.wce-lateral-calendar .wce-table td {border-style:dotted;}
.wce-lateral-calendar .wce-table th {border-style:none; }

.wce-lateral-calendar .wce-table td + td + td + td + td + td + td {border-right-style: none;}
.wce-lateral-calendar .wce-table .has-events {background:#ebebeb; color: #4697f0;}

.wce-lateral-calendar .wce-event-list {width:inherit;}
.wce-lateral-calendar .wce-calendar-events > div {max-height:none;}
.wce-lateral-calendar .wce-event-list {overflow:visible;}
.wce-lateral-calendar .wce-main .widget_padding {border:none;}

.single-event-detail .date {float:left;height: 32px; width:32px; line-height:32px;background-color:#418ee0; color:#fff; text-align: center; font-size: 1.4em;font-weight:bold;}
.single-event-detail .info {margin-top:2px; margin-left: 40px; width: 80%;}
.single-event-detail .extended-info {max-height: 20px; text-overflow: ellipsis;}
.single-event-detail .title {font-weight:bold; font-size: 1.1em; margin-bottom: 5px;}
.single-event-detail .title a {font-weight:bold; font-size: 1.2em;}
.wce-table td.populated a {color:#fff;}