.fancySlider{background:#fff; cursor:pointer; border-top:1px dotted #d1d1d1;}
.fancySlider:first-child{border:0;}

.fancySlider:hover h3,
.fancySlider:hover .widgetListSingleItem,
.fancySlider.selected .widgetListSingleItem{color:#fff;}
.fancySlider h3{margin-bottom:5px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#4697f0;}

.fancySlider.selected{background:#f5f5f5; color:#000; text-shadow:none;}
.fancySlider.selected .widgetListSingleItem{color:#000; text-shadow:none;}
.fancySlider.selected .widgetListSingleItem .widgetListSingleItemName h3{color:#000;}

.fancySlider.selected:hover{background:#f5f5f5; color:#; text-shadow:none;}
.fancySlider.selected .widgetListSingleItem,
.fancySlider.selected .widgetListSingleItem:hover{color:#666!important; text-shadow:none;}
.fancySlider.selected .widgetListSingleItem .widgetListSingleItemName h3:hover{color:#000;}

.fancySlider:hover{background:#4697f0;color:#fff; text-shadow:none;}
.fancySlider .widgetListSingleItem:hover{ color:#fff; text-shadow:none;}
.fancySlider .widgetListSingleItem .widgetListSingleItemName h3:hover{color:#fff; text-shadow:none;}
.contents_wrapper.content-slider.jtt-slider {height:359px!important;}

.slider_mix_container .fancySlider .widgetListSingleItem {line-height:21px!important;}

.slider_mix_right {float:right;}
.slider_mix_right .content-slider{height:100%; width:692px;}
.slider_mix_right .content-slider.jtt-slider{border-left: 1px solid #d1d1d1;height:300px;}
.slider_mix_right .scheda.group_highlight{text-shadow:none;}
.slider_mix_right .scheda.group_highlight .content-footer{width:700px;}
.slider_mix_right .content-higlight-pager-container{display:none;}

.slider_mix_right a{}
.slider_mix_container{overflow:hidden;border: 1px solid #d1d1d1;background:#fff; height:330px;}
.slider_mix_right,
.slider_mix_right .content-slider,
.scheda.group_highlight.mark_blogpost.protected.jtt-page {width:740px;}
.slider_mix_right  h2.en-content-title {background:#d1d1d1; color:#000; text-shadow:none; margin-right:10px; display:block; margin:10px; padding:10px; font-size:1.2em;}

.slider_mix_right .scheda.group_highlight{background:none;}
.widgetListSingleItemShortDescription{clear:both; float:left; width:100%; font-size:11px; overflow:hidden; height:16px;}

h2.en-content-title,
div.fancySlider.selected:hover,
div.fancySlider.selected,
div.fancySlider.selected .widgetListSingleItem .widgetListSingleItemName h3, 
div.fancySlider.selected .widgetListSingleItem .widgetListSingleItemName h3:hover {background-color:#f3f3f3!important; cursor:default;}
