.file-versions{background:url(../../img/grad-bottom.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x center bottom;}
.file-versions .version{float:left;padding:2px 4px; margin:0 0 0 4px; border-radius:0 0 2px 2px; background:url(../../img/fileversion-bk.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x; color:#fff; box-shadow:1px 1px 2px #ccc;}
.file-versions .last,
.file-versions .info{margin:0 0 0 30px;}

.file-versions .file-uploader,
.file-versions .title{padding:2px 0 0 2px;text-overflow:ellipsis;white-space:pre-line;overflow:hidden;}
.file-versions .file{}

.file-versions .select-file{margin:10px 0;}
.file-versions .info{ border-top:1px solid #ccc;border-left:1px solid #ccc;background:#fff;}
.file-versions .numbers{float:left;margin:2px 0 0;}
.file-versions .numbers ul li{padding:2px 11px 2px 6px;}
.file-versions .numbers ul li.selected{background:url(../../img/left-arrow.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center right;font-weight:bold;}
.file-versions .info .fv-thumb{float:left;color:#454545;}
.file-versions .info .fv-thumb img{padding:2px 6px 2px 2px;width:70px;height:70px;}
.file-versions .info span{display:block;padding:2px;}
.file-versions .info .interface-download{padding:10px 5px 0 5px;float:right;}

.file-versions .generic_button{float:none;padding:0 95px;margin:5px 0 0;display:none;}
.file-versions .info .div-clear{clear:both;}

.newversion{padding:10px 2px 2px;background:url(../../img/grad-bottom.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x center bottom;}
.newversion .title{border-bottom:1px solid #ccc;}
.newversion .file{padding:3px;margin:5px;}
.newversion .generic_button{float:none;width:98%;}

.tooltip-padding{padding:2px;}

#count_updates_span{ display:inline;left:12px;position:relative; top:12px;}
.count_direct_updates,
.count_updates ,
.payroll_notification_updates{background:#fff; color:#f00; display:inline-block; font-size:9px; font-weight:bold; height:20px;width:20px;line-height:20px;vertical-align:middle;text-align:center;}
.count_direct_updates,
.count_updates{display:none; z-index:9; margin:0 5px; box-shadow:3px 3px 4px -2px rgb(20, 94, 168);}
.ie8 .count_direct_updates,
.ie8 .count_updates{border:1px solid rgb(20, 94, 168); border-width: 0 1px 1px 0;}