/* ---------------------------------------------------------------------
---------------------------------------------------------- FlexSlider */
.flex-container a:active{outline:none;}
.flexslider a:active{outline:none;}
.flex-container a:focus{outline:none;}
.flexslider a:focus{outline:none;}
.flex-control-nav{margin:0;padding:0;list-style:none;width:100%;position:absolute;bottom:-30px;text-align:center;}
.flex-direction-nav{margin:0;padding:0;list-style:none;height:0;}
.flexslider{margin:0;padding:0;position:relative;border-radius:5px;zoom:1px;border:none !important;}
.flexslider .contents_wrapper > div{display:none;-webkit-backface-visibility:hidden;position:relative;}
.flexslider .contents_wrapper img{max-width:100%;display:block;}
.flex-pauseplay span{text-transform:capitalize;}
.flexslider .contents_wrapper{zoom:1px;height:240px;}
.flex-container{zoom:1px;position:relative;}
.flex-caption{zoom:1px;width:96%;padding:2%;margin:0;position:absolute;left:0;bottom:0;font-size:14px;line-height:18px;}
.flex-direction-nav li a{width:52px;height:52px;margin:-13px 0 0;display:block;position:absolute;cursor:pointer;text-indent:-999em;top:45%;}
.flex-direction-nav li .next{background-position:-52px 0;margin:0 !important;height:48px;width:48px;right:5px !important;opacity:0.6px;}
.flex-direction-nav li .prev{margin:0 !important;height:48px;width:48px;left:5px !important;opacity:0.6px;}
.flex-direction-nav li .disabled{opacity:.3;filter:alpha(opacity=30);cursor:default;}
.flex-control-nav li{margin:0 0 0 5px;zoom:1px;display:inline;}
.flex-control-nav li:first-child{margin:0;}
.flex-control-nav li a{width:13px;height:13px;display:block;cursor:pointer;text-indent:-999em;}
.flex-control-nav li a:hover{background-position:0 -13px;}
.flex-control-nav li a.active{background-position:0 -26px;cursor:default;}
.flexslider .contents_wrapper div{height:240px;}
.flex-direction-nav li a:hover{text-decoration:none;}
.promo-title{font-size:18px;font-weight:700;}
.flex-direction-nav li .prev:hover{opacity:0.8px;}
.flex-direction-nav li .next:hover{opacity:0.8px;}