/* --------------------- *\
	New highlights
\* ----------------------*/
.hl-container{margin:0 0 10px;}
.hl-container .hl-slider{height:175px; margin:0 auto;}
.hl-container .hl-item{margin:13px 6px 4px; display:inline-block; width:174px; padding:4px; float:left; box-shadow:0 1px 3px rgba(0,0,0,0.4);}
.hl-container .hl-item:hover{cursor:pointer; box-shadow:0 1px 6px rgba(0, 0, 0, 0.4);}
.hl-container .hl-item .hl-thumb{height:120px; overflow:hidden;}
.hl-container .hl-item .hl-thumb img{width:100%;}
.hl-container .hl-item .hl-info{padding:0 2px; overflow:hidden; height:30px;}
.hl-container .hl-item .hl-info span{text-overflow:ellipsis; white-space:nowrap;}

/* highlights on main canvas */
.main-canvas .hl-container{height:160px;}