/* --------------------------------------------
----------------------------------------------- HOMEPAGE HIGHLIGHT */
.has_home_highactmyp .homeColumn0{width:68% !important;}
.has_home_highactmyp .homeColumn1{width:31.9% !important;}
#home-highactmyp .wrapwidg.h03{width:30%;float:right;margin:0 15px 0;}
#home-highactmyp .wrapwidg{width:auto}
#home-highactmyp .wrapwidg.highlight{width:65%;padding:10px 0 0;}
#home-highactmyp .wrapwidg#w_profile{float:none;}
#w_profile .widget_padding{padding:0;}
.wrapwidg #myprofile,
#home-highactmyp #myprofile{border-radius:7px;-moz-border-radius:7px;border:2px solid #ccc;margin:0;padding:10px;float:none;width:auto;background:url(../../img/grad_02_bottom.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;}
.wrapwidg #myprofile img{float:left;margin:0 10px 0 0;position:static;border-radius:4px;-moz-border-radius:4px;}
.wrapwidg #myprofile ul{overflow:auto;padding:0 0 0 10px;}
.wrapwidg #myprofile h2.widget_title{color:#03acff;background:none;font-size:16px;border-bottom:1px solid #03acff;margin:0 0 20px 0;position:relative;}
.wrapwidg #myprofile ul li{list-style:none;}
.wrapwidg #myprofile ul li.profile_name{list-style:none;font-weight:bold;}
#myprofile h2.widget_title a.profile_edit{color:#03acff;font-size:12px;font-weight:normal;position:absolute;top:0;right:0;}
.highlight .contentHighlight{width:150px;float:left;display:inline-block;height:215px;}
.highlight .scheda_padding{padding:0 5px;}
.highlight .scheda .scheda_padding{padding:0 10px;}
.contentHighlight h3.widget_title{height:15px;overflow:hidden;}
.highlight .vwall{display:none;}
.highlight .inline-rating{margin:0;float:none;width:auto;text-align:right;padding:0 5px !important;}
.highlight .inline-rating ul{display:block;text-align:left;vertical-align:middle;}
.highlight .inline-rating span{vertical-align:middle;display:inline-block;}
.highlight .widget_padding{padding:0 20px;}
.highlight .scheda.question{padding:0;}
.wrappager_slider .back,
.wrappager_slider .next{background:url(../../img/slide_arrow_prev.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;position:absolute;top:80px;left:0;width:20px;height:40px;text-indent:-9999px;}
.wrappager_slider .next{background-image:url(../../img/slide_arrow_next.png?v=@TAMTAMY_PREVENT_CACHE@);right:5px;left:auto;}
#sidebar #w_profile{margin-top:22px;}
a.img_highlight img{width:100%;max-width:100%;height:87px;border:1px solid #ccc;}
a.img_highlight{float:none;margin:0;width:auto;}
.highlight_header{height:15px;display:block;}
.highlights_slider_box{width:100%;overflow:hidden;height:215px;position:relative;}
.highlights_slider_mover{height:215px;width:auto;}
.upload_input_remove{margin-left:5px;}