/*--------------------------------------------------
---------------------------------------------------- WIDGET HOT LINKS /
#dsc_iframe{border:medium none; height:415px; width:967px;}
#hot_link{background-image:url("../../img/bg_hotlinks.gif?v=@TAMTAMY_PREVENT_CACHE@"); background-repeat:repeat-x; border:1px solid #dedede; color:#676767; font-family:arial; font-size:14px; height:22px; line-height:14px; margin-bottom:7px; padding-left:10px; padding-top:6px; text-align:left; width:auto;}

#slider{position:relative;width:960px;height:210px;padding-top:20px;overflow:hidden;margin:0 auto;}
#prev_slide,
#next_slide{position:absolute;height:40px;width:20px;top:100px;left:0;}
#next_slide{left:auto; right:0;}
.slide_mover{width:auto; height:210px;}
#polaroid{position:relative; height:158px; width:137px; background-image:url(/pub/thumb/tamtamy4sp/bg_polaroid.gif); color:#aaa;font:bold 12px "Arial rounded", Arial, sans-serif;float:left;margin-left:10px;}

#foto-polaroid{height:113px;width:113px;position:relative;top:15px;left:13px;}
#nome_polaroid{position:relative;bottom:-20px;text-align:center;width:100%;}
.slider_block{width:980px;float:left;height:210px;display:inline-block;}
.slider_block.with_background{background:url(../../img/bg_slide01.gif?v=@TAMTAMY_PREVENT_CACHE@);}
.wrapper_polaroid{width:800px;margin:0 auto;}
#polaroid.low{position:relative;top:50px;float:left;}
#fumetto_polaroid01,
#fumetto_polaroid02,
#fumetto_polaroid03,
#fumetto_polaroid04,
#fumetto_polaroid05{height:58px;width:129px;background-image:url(../../img/bg_fumetto_polaroid01.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;color:#bfb7a4;font:bold 13px "Arial rounded", Arial, sans-serif;text-align:center;padding-top:6px;position:absolute;top:-20px;left:-30px;}
#fumetto_polaroid02{left:-40px;top:-20px;}
#fumetto_polaroid03,
#fumetto_polaroid04,
#fumetto_polaroid05{background-image:url(../../img/bg_fumetto_polaroid02.png?v=@TAMTAMY_PREVENT_CACHE@);left:0;top:-35px;}
#fumetto_polaroid04{left:40px;top:-20px;}
#fumetto_polaroid05{left:30px;top:-20px;}
a.nome_polaroid{text-decoration:none; color:#aaa; font:bold 12px "Arial rounded", Arial, sans-serif; font-size:12px;font-weight:bold;text-shadow:0 2px 3px #fff;}

/* Slider Versione 2 */
#slider02{width:800px; height:230px; background-image:url(../../img/bg_slide02.gif?v=@TAMTAMY_PREVENT_CACHE@); margin:0 auto}
#text-slider02{float:right; width:450px; margin-top:60px; margin-right:100px; color:#39b54a; font-size:18px;font-family:"lucida grande", tahoma, "trebuchet ms", sans-serif}
#foto-polaroid{top:10px;}
#nome_polaroid{bottom:-10px; height:26px; line-height:26px;}
#nome_polaroid.two_lines_info {line-height:13px;}


/* ATTENSIONE!!! CRM PATCH */
#fumetto_polaroid01{background-image:url(../../img/bg_fumetto_polaroid01.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;color:#999;}
#fumetto_polaroid02{background-image:url(../../img/bg_fumetto_polaroid02.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;color:#999;}
#fumetto_polaroid03{background-image:url(../../img/bg_fumetto_polaroid02.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;color:#999;}
#fumetto_polaroid04{background-image:url(../../img/bg_fumetto_polaroid02.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;color:#999;}
#fumetto_polaroid05{background-image:url(../../img/bg_fumetto_polaroid02.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;color:#999;}
.workgroup a.wg_join{background:url(../../../aqua/graphic/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;border:1px solid #ccc;color:#87b3d3;}
.crm_area_links a.selected{background:url(../../img/grad_verde.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;border:1px solid #31a947;}

#footer p#logo_pow,
#footer p#agreem{top:80px;}

#large_title_crm_workgroup_0 h2.widget_title{background:url(../../img/widget_title_large.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left;}
#large_title_crm_workgroup_0 h2.widget_title span{background:url(../../img/widget_title_large.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right;color:#fff !important;}
#large_title_crm_calendar h2.widget_title{background:url(../../img/widget_title_large.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left;}
#large_title_crm_calendar h2.widget_title span{background:url(../../img/widget_title_large.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right;color:#fff !important;}

.plugin_myAreaLightWidget #box-myarea{width:280px;}