/* --------------------------------------------
----------------------------------------------- LIST & TABS */
ul.tab_list{float:left;list-style-type:none;height:auto;clear:both;color:#666;font-size:1.18em;padding:0 0 20px; position:relative; z-index:2;}
.search-results ul.tab_list{clear:none;position:relative;}
ul.tab_list li{display:inline;}
#tabbedPanel ul.gallery{position:relative;float:left;list-style-type:none;width:100%;height:30px;margin:20px 0 5px;padding:0;border-bottom:1px solid #ccc;border-left:1px solid #ccc;background:none;border-top:none;border-right:none;}
ul.gallery li{float:left;position:relative;}
ul.gallery li a{float:left;height:22px;padding:8px 12px 0 11px;font-weight:700;text-transform:uppercase;color:#909090;text-decoration:none;border-top:1px solid #ccc;border-right:1px solid #ccc;border-left:1px solid #eee;background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;}
ul.gallery li a:hover,
ul.gallery li a.on,
ul.gallery li.primo a:hover,
ul.gallery li.primo a.on{color:#fff;text-decoration:none;background:#4f95be url(../../img/highlight25.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x;border-top:1px solid #297cab;border-right:1px solid #297cab;border-left:1px solid #297cab;}
.content_list_item{clear:left;padding:5px 0 0;}
.search-results .tab_list a {width: 101px; text-align: center; font-size: 12px; padding: 0 2px;}
.search-results .tab_list li+li a:hover {border-left: none;}
.search-results .tab_list li+li a{border-left: none;}
.search-results .tab_list #infoTip {right: -30px;position:absolute;}

	/* disabled */
.tab_list .disabled a,
.tab_list .disabled a:hover{cursor: default; color:#adadad; background:#fff; font-weight:normal; border: 1px solid #d1d1d1;}
	/* unselected */
a.button_big, ul.tab_list li a{	font-weight:700;color:#4c4c4c;border:1px solid #d1d1d1;background:#f3f3f3;height:30px;line-height:30px;padding:0 20px;text-decoration:none;text-transform:capitalize;float:left;}
	/* selected */
a.button_big,
ul.tab_list li.current a,
ul.tab_list li.current a.on,
ul.tab_list li.current a:hover,
ul.tab_list li.primo.current a:hover,
ul.tab_list li a:hover{background:#4a9bf2;color:#fff;border:1px solid #3d85cf;}
ul.tab_list li.current a,
ul.tab_list li.current a.on,
ul.tab_list li.current a:hover,
ul.tab_list li.primo.current a:hover{cursor:default;}

	/* hover */
a.button_big:hover{color:#fff;}
a.right-button{float:right;}
a#calendar-button:before {content: '\f073';font: normal 1.2em 'FontAwesome';padding:0 5px 0 0;}
	/*browse Sphere*/
#switchTabbedPanello .tab_list.switch {margin-top:-32px;}
.tab_list.browse.withEventSwitch {margin-top: -52px; margin-left: 252px;}
.tab_list.browse.withEventSwitch li.disabled a{font-weight:bold;}
#browseEvents {clear:both;}
.tab_list.switch li#eventsSwitch a {padding-left:5px;}
.tab_list.switch li#groupsSwitch a {background-image:url("../../img/icon-sphere-browse.png?v=@TAMTAMY_PREVENT_CACHE@"); background-repeat: no-repeat; background-position: 5px 7px; padding-left:25px;}
.tab_list.switch li#groupsSwitch a:hover, .tab_list.switch li#groupsSwitch a.on{background-position: 5px -19px;}