/* ------------------------------------------------------------------------------------------- WIDGET */
#sidebar.rightSidebar h2.widget_title{margin-left:0}
#widget_viewall{margin-right:4px;position:absolute;right:0;text-align:right;top:13px;width:auto;}
#sidebar .plugin_groupsandlist h2.widget_title{background-image:url(../../img/icon-sphere.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;background-position:5px center;padding-left:40px;}
#sidebar .history h2.widget_title{background-image:url(../../img/icon-sphere.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;background-position:5px center;padding-left:40px;}

#widget-useronline h2.widget_title{background-image:url(../../img/icon-users-online.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat;background-position:5px -2px;padding-left:40px;margin-bottom:0;}
#widget-eventUser h2.widget_title{padding-left:5px;margin-bottom:0;}
#widget-enterprisearea h2.widget_title{background-image: url("../../img/icon-enterprise-area.png?v=@TAMTAMY_PREVENT_CACHE@"); background-position: 5px center; background-repeat: no-repeat; padding-left: 40px;}
#widget-favoritecontent h2.widget_title{background-image:url(../../img/icon-favorite-content.png?v=@TAMTAMY_PREVENT_CACHE@); background-position:5px center; background-repeat:no-repeat; padding-left:40px;}
#widget-spheremembers h2.widget_title,
#widget-usersfavorite h2.widget_title{background-repeat:no-repeat;margin-bottom:0;}
.widget_padding .wrapwidg{border:none;background:none}
.widget_padding .wrapwidg .widget_padding{padding:0}

#policyAgreemeentWidget .widget_title{background-image: url(../../img/icon-enterprise-area.png);background-position: 5px center; background-repeat: no-repeat; padding-left: 40px;}
#policyAgreementText .message {display: block; padding: 10px 5px 10px 40px; position: relative;}
#policyAgreementText .message::before {content: '\f05c';font: normal 2em 'FontAwesome';color:#f00;display: block;position: absolute;top: 5px;left: 10px;}
#policyAgreementText .message.accepted::before{content: '\f05d';color:#3c88d8;}
#policyAgreementText .message h2 {font-size: 1.1em;color: #636363; margin: 0;}
#policyAgreementText .message p {line-height: 1.3em;}
#policyAgreementText .message .policy-link:hover {text-decoration: none; border-bottom: 1px solid;}

#userListWidget{overflow:visible;}
#sidebar #userlist div{float:left;width:100%;display:inline;padding:0;margin:0;}
#sidebar #usavatar{}
#sidebar .userOnlineCount{margin:-32px 4px 0 0;float:right;}

#sidebar .userOnlineCount,
#brthdays ul li span,
span.unread_sphere_count{background:none repeat scroll 0 0 #f2f2f2;color:#df2500; font-size:10px; font-style:normal; font-weight:bold; padding:2px 5px; border:1px solid #d1d1d1; border-left:none; display:block;}
#brthdays ul li{border-bottom:1px dotted #ddd;}
#brthdays ul li img{background:none;border:none;padding:0; border-radius:0;}

#userlistBanner,
#groupsAndListsBanner{width:32px;height:32px;position:absolute;top:0;left:-5px;padding:0;}
#userlistBanner{display:none;background:url(../../img/main/ico_favorites.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;}
#allSpheresWidget #groupsAndListsBanner{background:url(../../img/sphere.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;}
#groupsAndListsBanner{background:url(../../img/sphere.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;}

.user_avatar{border-radius:0;}

ul#group-key-tags li .key-tag{}
ul#group-key-tags li .key-tag-num{float:right;color:#333;}

ul#event-key-tags li.keytags-link{cursor:pointer; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
ul#event-key-tags li.keytags-link.selected,
ul#event-key-tags li.keytags-link:hover{background-color:#4697F0; color: white; background-image:none;}
ul#event-key-tags li.keytags-disabled{color:#adadad;}
ul#event-key-tags li .key-tag{float:left;text-overflow:ellipsis;display: block; overflow: hidden;width: 90%;}
ul#event-key-tags li .key-tag-num{float:right;}

.group-name{font-size:1.3em;color:#666;border-bottom:1px dotted #ddd;margin:5px 0;padding:5px 0;}
#profileContainer .user-thumb{float:left;margin:0 5px 0 0;}
#profileContainer .user-name{line-height:36px;}

.hotlink_item{overflow:auto;clear:both;margin:0 0 5px 0;padding:5px 0;border-bottom:1px dotted #ddd;}
.hotlink_item .hotlink_pic{float:left;margin:0 10px 0 0;}
.hotlink_item .hotlink_info{overflow:auto;}
.hotlink_item .hotlink_name{font-weight:bold;}
.hotlink_item{position:relative;}
.hotlink_item .buttons_wrapper{clear:none;overflow:visible;padding:0;}
.hotlink_item .buttons_wrapper a.generic_button{position:absolute;top:25px;right:0;}
.hotlink_item .buttons_wrapper.with_avatar a.generic_button{top:35px;}
.hotlink_item .hotlink_updates{display:inline-block;background:#4e8d2e;font-weight:bold;color:#fff;padding:2px 5px;margin:5px 1px 0 0;border-radius:3px;}
.hotlink_item .hotlink_updates a{color:#fff;}
.hotlink_item .hotlink_members{display:inline-block;padding:2px 5px;background:#f0f0f0;font-weight:bold;margin:5px 1px 0 0;border-radius:3px;}
.hotlink_item .hotlink_info.with_avatar .hotlink_updates,
.hotlink_item .hotlink_info.with_avatar .hotlink_members{position:absolute;top:43px;}

#widget-useronline_body{display:block;}
#widget-eventUser_body{display:block;}
#widget-useronline_body #wall,
#widget-eventUser_body #wall{clear:both; overflow:auto;	margin-top:10px;}