/*TamTamy Modal window*/
body.jtt-modal-on{position:fixed; overflow:hidden; overflow-y:scroll;}

.jtt-modal-container{position:absolute; top:0; left:0; right:0; min-width:615px; min-height:100%; z-index:100;}
.jtt-modal-windcont{position:absolute; text-align:center; width:100%; top:51%; margin-top:-150px;}
.jtt-modal-window{width:600px; height:300px; display:inline-table;}
.jtt-modal-closer{margin:0 -20px 0 0; }


.jtt-jsloading{position:absolute; left:0; right:0; bottom:-5px; height:3px; overflow:hidden;}
.jtt-jsloading-cursor{width:0; text-indent:-20000em; position:absolute; top:0; left:0;}