/*-----------------------------------------------
------------------------------------------------- WIDGET NORME SICUREZZA REPLY */
.presa_visione_button a,
.presa_visione_button a:hover,
.presa_visione_button span,
a.inside-download-widget{display:inline-block; text-align:center; margin:0 auto;padding:10px 16px;border-bottom: 1px solid #add8e6; border-right:1px solid #add8e6; border-radius:6px; font-size:120%;}

.presa_visione_button,
.message_sessions {text-align:center; margin:0 auto; width:auto; height:auto; margin:10px 16px;}

.presa_visione_button,
.presa_visione_status {display:none;}

#presa_visione_button_0 span, 
#presa_visione_button_6 span{background-color:#ebebeb; color:#808080;}

.presa_visione_button a ,
.presa_visione_button a:hover ,
.presa_visione_button span {background-color:#4493e9; color:#fff;}

.message_sessions .full_row {border:1px solid #87cefa; padding:6px;}
.message_sessions.error .full_row {border-color:#f08080;}
.message_sessions.cold .full_row {border-color:#87cefa;}

.confirm-download {display:inline-block; text-align:center; margin:0 auto; width:100%; height:auto;}

p.event-summary {text-align:left;}
p.event-summary,
p.inside-download-widget,
div.inside-download-widget{display:inline-block; margin:10px 20px; font-size:110%; line-height:125%;}
div.inside-download-widget p.margin-top {margin-top:8px;}
a.inside-download-widget {background-color:#ebebeb; margin-bottom:9px;}
a.inside-download-widget:hover{background-color:#e1e1e1;}