/* -----------------------------------
--------------------------------------  WIDGET PEOPLE */
#tabsPeopleToShow{line-height:15px; padding:0 0 5px 0; display:inline-block; float:left; clear:right; font-size:90%;}
#tabsPeopleToShow > li{display:inline; list-style-type:none;}
#tabsPeopleToShow > li > a{text-decoration:none; color:inherit; height:20px; display:block; float:left; padding:0 9px; line-height:20px; background:#f3f3f3; border:1px solid #d1d1d1; cursor:pointer; font-weight:bold;}
#tabsPeopleToShow > li > a:hover,
#tabsPeopleToShow a.tabPeopleEnable{color:#fff; background:#4a9bf2; border:1px solid #3d85cf;}
#tabsPeopleToShow a.tabPeopleEnable{cursor:default;}
#wall .user img{width:51px; height:51px; float:left; margin:0 2px 2px 0;}
#tabsPeopleToShow li{padding-right:0;}

#tabsBlogsToShow{line-height:15px; padding:0 0 5px; display:inline-block; float:left; clear:right; font-size:90%; margin-top:10px; margin-left:10px;}
#tabsBlogsToShow > li{display:inline; list-style-type:none;}
#tabsBlogsToShow > li > a{text-decoration:none; color:inherit; height:20px; display:block; float:left; padding:0 10px; line-height:20px; background:#f3f3f3; border:1px solid #d1d1d1; cursor:pointer; font-weight:bold;}
#tabsBlogsToShow > li > a:hover,
#tabsBlogsToShow a.tabPeopleEnable{color:#fff; background:#4a9bf2; border:1px solid #3d85cf;}
#tabsBlogsToShow a.tabPeopleEnable{cursor:default;}
#tabsBlogsToShow li{padding-right:0;}

#kms_widgets iframe{height:500px;}
#brthdays .role{display:none;}

#manage-sphere{background:#bddef2;border-radius:5px;text-transform:uppercase;font-weight:bold;padding:0;margin-bottom:15px;margin-top:15px;}