/* --------------------------------------------
----------------------------------------------- PHOTOWALL */
.photo_wall{text-align:center;position:relative;}
.photo_wall.single{min-height:114px;}
.photo_wall.double{min-height:190px;}
.photo_wall.triple{min-height:266px;}
.photo_wall.quadruple{min-height:342px;}
.photo_wall > div{ padding: 3px 0 35px 3px;overflow: hidden;}
.photo_wall > div > a{display: block; float: left;}
.photo_wall > div > div { position: absolute; left: 0; bottom: 0;}
.photo_wall img {padding:2px;width: 70px;}
