/*PRETTY PHOTO FIX on social buttons*/
.pp_default .pp_social{display:none;}

#ff-reserved-tag .jtt-selected-item .jtt-tag{background:#c00;}

.event-request-open{line-height:1.2em; overflow:hidden; background:#fff; padding:10px; border-left:1px solid #d1d1d1; border-right:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;}
.event-request-open:first-child{background:#fff; border-top:1px solid #d1d1d1;}

.requestDescription .request-message{color:#666;}
.request-question{padding:5px 0 0;}
.pul_action {float:right; margin:5px;}