/*  SWAT ranking  */
.swatranking h2.widget_title{ line-height: 1em; position: relative; padding: 5px 0 5px 40px;}
.swatranking h2.widget_title::before{content:'\f091';font:normal 1em 'FontAwesome'; position: absolute; left: 12px; top: 10px;}
.swatranking.full h2 { font-size: 2.4em; text-align: left;}
.swatranking.full h4 { text-align: left; border-top: 2px solid #cfd0d2; color: #cfd0d2; padding: 10px 0 10px; font: normal 1em 'Lucida Grande', Arial, Helvetica, sans-serif;}

.swatranking .ranking #wall .user{display:table;width:98%;border-top: 1px dashed #cecece;margin:0 auto;position:relative;}
.swatranking .ranking #wall .user:first-child{border-top: none;}

.swatranking.full {margin: -30px 0 0 ;}

.swatranking.full .ranking #wall .user:first-child,
.swatranking.full .ranking #wall .user:nth-child(2),
.swatranking.full .ranking #wall .user:nth-child(3) {width: 33.3%;display: block;float: left;position: relative;border-top: none;padding: 0 5px 30px;box-sizing: border-box;}

.swatranking .ranking #wall .user::after {position:absolute; display:block; width:25px; height:30px; right:0; top:3px;background:transparent url(../../img/medals.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;}
.swatranking .ranking #wall .user:first-child::after {content:'';}
.swatranking .ranking #wall .user:nth-child(2)::after {content:'';background-position:0 -61px;}
.swatranking .ranking #wall .user:nth-child(3)::after {content:'';background-position:0 -122px;}
.swatranking .ranking #wall .user a{display:table-row;color:#4c4c4c;text-decoration: none;}
.swatranking .ranking #wall .user a:hover{text-decoration: none;}
.swatranking .ranking #wall .user a > * {display:table-cell;vertical-align: middle;}
.swatranking .ranking #wall .user a > .avatar {width: 25px;height: 25px;padding:5px;}

.swatranking .ranking #wall .user a > .avatar img {width:100%;height: auto;margin:0;}
.swatranking .ranking #wall .user a > .position{width: 35px;position: relative;padding: 0;font-weight: bold;color: #888;}
.swatranking .ranking #wall .user a:hover > .position{text-decoration: none;}
.swatranking .ranking #wall .user:first-child a > .position{color:#f7c514;}
.swatranking .ranking #wall .user:nth-child(2) a > .position{color:#b4b9ca;}
.swatranking .ranking #wall .user:nth-child(3) a > .position{color:#a0410d;}
.swatranking .ranking #wall .user a > .position::after{content:'th';font-size: 0.8em;vertical-align: top;}
.swatranking .ranking #wall .user:first-child a > .position::after{content:'st';}
.swatranking .ranking #wall .user:nth-child(2) a > .position::after{content:'nd';}
.swatranking .ranking #wall .user:nth-child(3) a > .position::after{content:'rd';}

.swatranking.full .ranking #wall .user:first-child .avatar,
.swatranking.full .ranking #wall .user:nth-child(2) .avatar,
.swatranking.full .ranking #wall .user:nth-child(3) .avatar { width: 45px; border:none; padding: 0; height: 39px;}
.swatranking.full .ranking #wall .user:first-child .avatar img{border: 2px solid #f7c514;}
.swatranking.full .ranking #wall .user:nth-child(2) .avatar img { border: 2px solid  #b4b9ca;}
.swatranking.full .ranking #wall .user:nth-child(3) .avatar img { border: 2px solid #a0410d;}

.swatranking .ranking #wall .user a > .name{position: relative;padding: 0 28px 0 0;}
.swatranking .ranking #wall .user a:hover > .name{text-decoration: underline;}
.swatranking .widgetLink{height: 33px;line-height: 33px;display: table-cell;text-align: center;}
.swatranking .widgetLink a{color: #777;}
.swatranking .widgetLink a::before{content:'\f012';font: normal 1.6em/14px 'FontAwesome';display:inline-block;padding:0 5px 0 0;}

.swatranking.full .ranking #wall .user::after {right: auto; top: 35px; left: 41px;}

.swatranking.full .ranking #wall .user:nth-child(4){border-top:1px solid;}

.swatranking.full .ranking #wall .user:first-child a > .position,
.swatranking.full .ranking #wall .user:nth-child(2) a > .position,
.swatranking.full .ranking #wall .user:nth-child(3) a > .position{padding:0 5px; color:#777; font-size:2.8em; font-style: italic;vertical-align: top;}

.swatranking.full .ranking #wall .user a > .position::after {font-size: 0.5em; margin:2px;}

.swatranking.full .ranking #wall .user:first-child a > .name,
.swatranking.full .ranking #wall .user:first-child a > .company,
.swatranking.full .ranking #wall .user:first-child a > .country,
.swatranking.full .ranking #wall .user:nth-child(2) a > .name,
.swatranking.full .ranking #wall .user:nth-child(2) a > .company,
.swatranking.full .ranking #wall .user:nth-child(2) a > .country,
.swatranking.full .ranking #wall .user:nth-child(3) a > .name,
.swatranking.full .ranking #wall .user:nth-child(3) a > .country ,
.swatranking.full .ranking #wall .user:nth-child(3) a > .company {color:#777; display: block; font-size:1.2em;}


.swatranking.full .ranking #wall .user a > .name {width:50%; text-align:left; font-weight:bold; color:#777;}
.swatranking.full .ranking #wall .user a > .company {width:30%; text-align:left;}
.swatranking.full .ranking #wall .user:first-child a > .name,
.swatranking.full .ranking #wall .user:nth-child(2) a > .name,
.swatranking.full .ranking #wall .user:nth-child(3) a > .name {width:100%;}

.swatranking.full .ranking #wall .user a > .company , 
.swatranking.full .ranking #wall .user a > .country {font-style:italic; color:#777;}
.swatranking.full .ranking #wall .user:first-child a > .company, 
.swatranking.full .ranking #wall .user:first-child a > .country, 
.swatranking.full .ranking #wall .user:nth-child(2) a > .company, 
.swatranking.full .ranking #wall .user:nth-child(2) a > .country, 
.swatranking.full .ranking #wall .user:nth-child(3) a > .company,
.swatranking.full .ranking #wall .user:nth-child(3) a > .country  {font-size:1em; width:100%;}