/**************** Widget tag cloud *********************/
.plugin_userInfoBasicWidget .hidden{display:none;}
.plugin_userInfoBasicWidget #ac_me{width:99%; margin-bottom:5px;}
.plugin_userInfoBasicWidget p.taggingResults{padding:0; text-align:left; font-weight:bold;}
.plugin_userInfoBasicWidget p.singleTagResult{font-size:10px; padding-top:5px; text-align:left;}
.plugin_userInfoBasicWidget #insert_tags_results{clear:both; padding-top:10px; padding-bottom:10px;}
.plugin_userInfoBasicWidget #viewTags_Widget{padding-left:5px; padding-right:5px;}
.plugin_userInfoBasicWidget #skill_wraptag{margin:0; width:99%;}

.plugin_userInfoBasicWidget a.generic_button{margin:5px 0;}
.plugin_userInfoBasicWidget #addTagForm_Button{padding:10px;}
.plugin_userInfoBasicWidget #addTagForm_Widget{display:none;}

.plugin_userInfoBasicWidget span.single-tag-result{ padding:0 25px 0 0; position:relative; display:inline-block;}
.plugin_userInfoBasicWidget #tagPreviewZone{width:auto; text-align:center; padding:4px; border-top:0; background:none;}
.plugin_userInfoBasicWidget #tagPreviewZone span.single-tag-result{line-height:20px; white-space:nowrap; background-color:#e2e2e2; display:inline-block; padding:0 2px; margin:2px;}
.plugin_userInfoBasicWidget #tagPreviewZone span.single-tag-result img{top:4px; position:relative;}

#viewTags_Widget .tagcloud{background:none;font-size:22px;}
#viewTags_Widget #waitingTags{font-size:11px;}
#viewTags_Widget .remove-skill-tag{position:relative; margin:0;}
#viewTags_Widget .tag-name-anchor {margin:0; white-space:pre;}
#viewTags_Widget .remove-skill-tag img{display:inline-block; vertical-align:middle;}