/*------------------------------------
--------------------------------------	Users List */
.item_user_data{width:500px; margin:0 0 0 70px;}
.user_list_item{overflow:auto; margin:10px 0;}
.user_list_item img{background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x center bottom; border:1px solid #ddd; float:left; padding:5px; border-image:initial; border-radius:4px;}
.user_list_item .socialRelationships{float:right;}
.user_list_item .socialRelationships .social{min-width:75px; text-align:center;}