/* ----------------------------------------
------------------------------------------- USER TOOLTIP */
.user_tooltip {font-family:inherit; background-color:#ccc; position:relative;}
.user_tooltip {color:#666;}
.user_tooltip span.role,
span.role{background-color:#d93131; text-transform:uppercase; padding:2px 10px; font-size:0.7em; color:#fff; display:inline-block; font-weight:normal; position:absolute; right:0; top:0;}
.user_tooltip span.role.admin,
span.role.admin{background-color:#d93131;}
.user_tooltip span.role.swat,
span.role.swat{background-color:#168134;}
.user_tooltip span.title.collaborator{position:absolute;right:0;top:0}
.user_tooltip .name{font-weight:bold;font-size:13px;}
.user_tooltip .more{max-width: 165px;}
.user_tooltip .company {font-weight:700;}
.user_tooltip .nickname {font-weight:normal;font-size:10px;font-style:italic;}

#userwrapper div img.user_avatar{border:1px solid #ddd; float:left; margin:0 10px 0 0; padding: 5px; background: url('../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@') repeat-x scroll center bottom #fff;}

.net-content-count{background:url(../../img/main/favorites_contents.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 1px transparent; margin-top:10px; padding-left:24px;}
.net-comment-count{background:url(../../img/main/favorites_comment.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 1px transparent; margin-top:10px; padding-left:24px;}

.user-feed{background:url(../../img/main/rss.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent; text-indent:-9999px; width:20px; height:20px; float:right; margin-top:-22px;}

#userwrapper div{border-radius:0;}

.members_labels{color:#666; margin-left:10px;}

h2 span.members_counter{background:none; color:#666; padding:0 5px;}
#userwrapper .user-social-info{margin-top:10px;}

.orderby{float:left;}

.su-icons-menu li.link,
.su-icons-menu li.link:hover,
.su-icons-menu li.link.disable,
.su-icons-menu li.link.selected{background:url(../../img/main/shere_link.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent;width:25px;}

.member-info .jtt-company{display:block;}

.jtt-auto-float{text-align:left;}
.flash-pre{margin-left:5px;}

#photo{background:none repeat scroll 0 0 #f8f8f8;border:1px solid #ccc; padding:0; position:relative; width:531px; border-radius:5px;min-height:90px; margin-top:0; margin-left:10px;}
#photo p{margin:41px 0;}
#photo img{margin:20px 13px 0 10px;}

.search-results .scheda{margin-bottom:20px;}

#upload.cleared a,
#submit,
#cancel,
p.submit a,
.sub_board{text-align:center;}
.user_list_item{clear:right;}