/*WIDGET user chart*/
.user-in-widget-chart {border-bottom:1px dotted #d1d1d1; padding:10px;}
.user-in-widget-chart.no-border{border-bottom:0 none;}
.user-in-widget-chart .userTooltip {padding-left:10px;}
.user-in-widget-chart .upDown{float:right;}
.widgetListViewAll.viewAllUserChart {height:33px; line-height:33px;}