.widgetListSingleItem{border-top:1px dotted #cfcfcf; clear:both; margin:0 10px; padding:11px 0 10px; color:#666; overflow:auto; line-height:15px;}
.widgetListSingleItem:first-child{border:none;}
.widgetListSingleItemName{clear:both; float:left; font-size:13px; font-weight:bold; width:100%;}
.widgetListSingleItemCreatedAuthor,
.widgetListSingleItemCreatedDate{clear:both; float:left; width:100%; font-size:11px;}

.widgetListFooter{background:none repeat scroll 0 0 #f7f7f7; border-top:1px solid #d1d1d1; overflow:hidden; clear:both; text-align:left; display:table; width:100%; box-sizing:border-box;}
.widgetListFooter > a {display:table-cell; text-align:center;}
.widgetListFooter > * {border-left:1px solid #d1d1d1;}
.widgetListFooter > *:first-child {border:none;}
.widgetListPager{height:33px; line-height:33px; display:table-cell; text-align:center; border-right:1px solid #d1d1d1;}
.widgetListPager a,
.widgetListPager span{display:inline-block; line-height:33px;}
.widgetListPager a, 
.widgetListPager span.prev, 
.widgetListPager span.next{vertical-align:middle; background:url(../../img/icons-prev-next.png?v=@TAMTAMY_PREVENT_CACHE@); background-repeat:no-repeat; height:16px; width:16px; text-indent:-20000em;}

.widgetListPager span.prev,
.widgetListPager a.prev.disable,
.widgetListPager a.prev.disable:hover{background-position:0 0;}
.widgetListPager span.next,
.widgetListPager a.next.disable,
.widgetListPager a.next.disable:hover{background-position:-16px 0;}

.widgetListPager a.next{background-position:-16px -16px;}
.widgetListPager a.next:hover{background-position:-16px -32px;}

.widgetListPager a.prev{background-position:0 -16px;}
.widgetListPager a.prev:hover{background-position:0 -32px;}