/* -------------------------------------- edit.jsp
----------------------------------------- EDITING CONTENTS & SPHERES */
.edit-form,
.edit-profile {background-color:#f2f2f2; border:1px solid #d4d3d4; clear:both; margin-bottom:300px; padding:20px 30px 30px;}
#upload.sphereContent{display:none; margin:10px 0 0;}
.withLeftSidebar #upload.sphereContent{margin:0;}

#loader.editSphereLoader,
.group.event #loaderHeaders.viewSphereLoader {font-size:5em;text-align:center;width:100%;}
.group.event #loaderHeaders.viewSphereLoader {position:fixed;top:200px;left:0;z-index:9;}
.leftSidebar #loaderHeaders.viewSphereLoader {font-size:5em;text-align:center;width:100%;}
.leftSidebar #loaderHeaders.viewSphereLoader {position:fixed;top:200px;left:0;z-index:9;}
.ie .group.event #loaderHeaders.viewSphereLoader{}

.user #loader.editSphereLoader.skillSearch{left: 50%;position: relative;width: auto;}

.wrapwidg.loading .widget_padding{border: none;}
.sphereContent{font-size:12px;}
.sphereContent .edit-form{margin-bottom: 50px;}

.fake-field-label,
.edit-profile label{float:left;font-weight:bold;margin-right:5px;}

.fake-field-label.left{float:left;margin-right: 6px;min-width: 187px;}
.addGroupField.left{float:left;}

.edit-form .fake-field ,
.edit-profile .fake-field{overflow:auto;cursor:text}
.edit-form .eventSphere .fake-field {overflow: visible;}

.sphereContent .edit-form .fake-field.description{display: table;width: 100%;box-sizing: border-box;}
.sphereContent .edit-form .fake-field.invited{display: table;width: 100%;box-sizing: border-box;}
.sphereContent .edit-form .normal-field.joinable .fake-field-label li {list-style: disc;padding: 0;margin: 0 0 0 16px;font-size:12px;line-height:1.2em;}
.sphereContent .edit-form .fake-field.members{display: table;width: 100%;box-sizing: border-box;padding: 0;}

.fake-field.fake-inputfile-field.tags{overflow:visible; min-height:30px;}
.categorization .fake-field.fake-inputfile-field.tags{min-height:32px;}
.projectCover .upload-box .fake-field.fake-inputfile-field.tags{min-height:34px;}
.edit-profile .normal-field{overflow:auto;}
.edit-profile .fake-field input{width:auto;}
.sphereContent .fake-field ul{width:auto;}
.edit-profile .upload-avatar{overflow:hidden;}
.edit-profile div.global-group{clear:both;margin:10px 0;}
.edit-profile ul.global-group li{float:left;padding:0 15px 0 0;}
.campi_radio label,
.global-group label{float:none;}

.sphereContent h3{border-top:1px solid #ddd; margin:10px 0; padding:10px 0 0; line-height:15px;}
.sphereContent .label {margin:0;}
.sphereContent .column > .label {margin:0 0 10px; display:block;}
.sphereContent h4{font-size:12px;clear:both;}
.sphereContent .edit-form .fake-field-label h4,
.sphereContent .label h4{margin:0; font-weight:bold; font-size:12px;}
.sphereContent .on-demand-field h4 {margin: 0;}
.sphereContent .on-demand-field.customLeft h4 {margin:0 0 10px;}
.sphereContent .edit-form .fake-field-label h4{line-height:30px;}
.sphereContent .edit-form .fake-field-label.left h4{min-width:190px;}
.sphereContent .fake-inputfile-field.key .label h4,
.sphereContent .fake-inputfile-field.sphere .label h4 {line-height:30px;}
.sphereContent .edit-form .headers .fake-field-label h4,
.sphereContent .edit-form .invited .fake-field-label h4,
.sphereContent .edit-form .members .fake-field-label h4,
.sphereContent .edit-form .description .fake-field-label h4 {margin:0 0 0 5px;}

.sphereContent h6 {clear:both; font-weight:normal; font-size:12px; color:#777; margin:5px 0; line-height:1.2em;}
.sphereContent .edit-form .fake-field.description .fake-field-label,
.sphereContent .edit-form .fake-field.invited .fake-field-label,
.sphereContent .edit-form .fake-field.members .fake-field-label,
.sphereContent .edit-form .fake-field.description .addGroupField{display:table-cell; float: none; vertical-align:top;}
.sphereContent .joinable .fake-field-label{margin:0 5px 10px 0;}

.sphereContent .edit-form .fake-field.description .fake-field-label,
.sphereContent .edit-form .fake-field.invited .fake-field-label,
.sphereContent .edit-form .fake-field.members .fake-field-label,
.sphereContent .edit-form .fake-field.headers .fake-field-label{width:103px; margin:0;}
.gecko .sphereContent .edit-form .fake-field.description .fake-field-label{width:103px;}
.gecko .sphereContent .viewMode .edit-form .fake-field.description .fake-field-label{width:100%;}

.sphereContent .divider{display:block; float:left; margin:0 0 0 10px; line-height:32px;}
.sphereContent .chosen-container-single .chosen-single span{line-height:30px; color:#4c4c4c; font-size:12px;}
.sphereContent .chosen-container-single .chosen-single.chosen-default span{color:#999;}
.sphereContent .chosen-container-single .chosen-single div b{background-position:0 6px;}
.upload-avatar{float:left;}
.sphereContent .archive-sphere {padding:0 10px; margin:0 0 50px; overflow:hidden; display:block; background:#f2f2f2; border:1px solid #d4d3d4;}
.sphereContent .archive-sphere h4{line-height:32px; margin:0;}
.sphereContent .archive-sphere h4 .title{font-weight:bold; font-size:12px; line-height:32px; display:block; float:left;}
.sphereContent .archive-sphere h4 a.archiver{float: left; width:70px; display:block; text-align:center;}

.sphereContent .graphicCustom-Message {border:1px solid #b1b1b1; padding:10px; color:#999; margin:10px 0 0;}

#sphereChooserFakeField,
#groupMenuConfiguration {overflow: visible;}


.sphereContent .viewMode{}
.sphereContent .viewMode .edit-form{padding:0;}

.sphereContent .viewMode .edit-form > *{padding:10px 30px;}
.sphereContent .viewMode .edit-form .fake-field{background-color: transparent; border: none;}
.sphereContent .viewMode .edit-form .fake-field.headers{display:none;}
.sphereContent .viewMode .edit-form .fake-field.description{display:block;padding:0;margin:0;}
.sphereContent .viewMode .edit-form .fake-field.members{display:block; padding:10px 30px; margin:0;}
.sphereContent .viewMode .edit-form .sezione,
.sphereContent .viewMode .edit-form .sezione .fake-field.invited{margin:0 0 30px;}
.sphereContent .viewMode .edit-form .sezione .fake-field.invited,
.sphereContent .viewMode .edit-form .sezione .fake-field.members{padding:0;}
.sphereContent .viewMode .edit-form .edit-form-header{box-sizing:border-box; background: #313131; background: -moz-linear-gradient(top, #313131 0%, #414141 21%, #414141 100%);background: -webkit-gradient(left top, left bottom, color-stop(0%, #313131), color-stop(21%, #414141), color-stop(100%, #414141));background: -webkit-linear-gradient(top, #313131 0%, #414141 21%, #414141 100%);background: -o-linear-gradient(top, #313131 0%, #414141 21%, #414141 100%);background: -ms-linear-gradient(top, #313131 0%, #414141 21%, #414141 100%);background: linear-gradient(to bottom, #313131 0%, #414141 21%, #414141 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#313131', endColorstr='#414141', GradientType=0 );}
.sphereContent .viewMode .edit-form .edit-form-title{width:100%;}
.sphereContent .viewMode .edit-form .heading{position:relative; display:block;padding:0 130px 0 60px;}
.group.sphere .sphereContent .viewMode .edit-form .heading:before{content:''; display:block; width:48px; height:48px; position:absolute; left:0; top:0; background:url('../../img/icon_Header_sphereGroup.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 0;background-size:48px;}
.group.event .sphereContent .viewMode .edit-form .heading:before{content:'\f145'; position:absolute; left:0; top:0; font-family:'FontAwesome'; font-size:4em; color:#428fda;}
.sphereContent .viewMode .edit-form .heading em{font-style:normal; font-size:1.2em; color:#777; padding:0 0 5px; display:inline-block;}
.sphereContent .viewMode .edit-form .heading h1{color:#fff; font-size:2.4em; text-shadow:1px 2px 0 #000; margin:0; white-space:nowrap; text-overflow:ellipsis; overflow: hidden;}
.sphereContent .viewMode .edit-form .heading a.backlink{position:absolute; display:block;top:35%; right:0; font-size:1.18em; line-height:1em; text-align:right; color:#fff;}
.sphereContent .viewMode .edit-form .heading a.backlink:before{content:'\f100'; font-family:'FontAwesome'; font-size:1.8em; color:#fff; display:block; float:left; margin:0 10px 0 0;}
.sphereContent .viewMode .edit-form .fake-field .fake-field-label{display:block; width:100%; padding:0; border-bottom:1px solid #d6d6d6;}
.sphereContent .viewMode .edit-form .fake-field .fake-field-label h4,
.sphereContent .viewMode .edit-form .sezione > .normal-field h3{font-size:18px; font-weight:bold; margin:0;}
.sphereContent .viewMode .edit-form .fake-field table{background:transparent;}

.sphereContent .viewMode .edit-form .sezione > .normal-field {border-bottom:1px solid #d6d6d6;}
.sphereContent .viewMode .edit-form .sezione > .normal-field h3{border-top:none; line-height: 1.2em; margin-bottom:5px; padding:0;}

/*------------------------------------*\
	Sphere/Event edit form
\*------------------------------------*/
ul.error{display:none;}
.content_item_tags{margin:0; display:inline;}

ul#elenco_friends li{background:#fff; font-size:11px; float:left; padding:4px; margin:3px; width:180px; margin-right:2px; display:inline-block; border:1px solid #ddd; position:relative;}
.sphereContent ul#elenco_friends li{background:none; font-size:11px; float:left; padding:0 0 0 1%; margin:0 0 5px; width:20%; display:inline-block; border:none; position:relative; box-sizing:border-box;}
.withLeftSidebar .sphereContent ul#elenco_friends li {width: 25%;}
.sphereContent ul#elenco_friends li:first-child{}
ul#elenco_friends li:hover{background:#fff;}
.sphereContent ul#elenco_friends li:hover{background:none;}
ul#elenco_friends li img{width:32px} 
ul#elenco_friends li a.user_group_info{background:#aaa url(../../img/ico_moderate_info.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll center center; display:inline-block; height:20px; margin:5px 5px 5px 10px; text-indent:-9999px; width:20px; display:none;}
ul#elenco_friends li a.user_group_info{border-radius:3px 3px 3px 3px;}
ul#elenco_friends li a.user_group_remove{background:url(../../img/x-closer.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent; height:12px; position:absolute; right:2px; text-indent:-9999px; top:2px; width:12px; border:1px solid #fff;}
ul#elenco_friends li a.user_group_remove:hover{border:1px solid #ddd;}
ul#elenco_friends li a.user_group_sync{background:url(../../img/sync.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0 transparent; height:14px; position:absolute; right:2px; text-indent:-9999px; top:2px; width:14px; cursor:help;}

ul#elenco_friends .member-info{float:left;}
ul#elenco_friends  .member-info div{line-height:14px;}
ul#elenco_friends{padding-left:133px;}
.sphereContent ul#elenco_friends{padding:0;margin:0 0 0 -9px;}
.withLeftSidebar .sphereContent ul#elenco_friends{margin:0 0 0 -6px;}
.jtt-member{overflow:visible;}
.sphereContent #memberslist {margin:0 0 10px;}
.sphereContent ul#elenco_friends li .jtt-member{background:#fff; border:1px solid #ddd; overflow:hidden; position:relative; padding:3px;}
.sphereContent .jtt-member .member-info a div span,
.sphereContent .jtt-member .member-info .jtt-company {width: 100px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block;}
.sphereContent #openAccessGroupCheckbox{background:none; padding:0; border:none;}
.sphereContent .checkboxLabel {color:#4c4c4c; font-size: 12px;}
.sphereContent .disabled .checkboxLabel{color:#ccc!important;}
span[role="OWNER"],
.jtt-checkbox{position:absolute; right:2px; bottom:2px}

ul#elenco_friends li img{float:left; width:42px; height:42px; margin:0 5px 0 0;}

.edit-form .normal-field{margin:10px 0; overflow:auto}
.sphereContent .edit-form .normal-field{margin:0; padding:0; clear:both;}
.sphereContent .edit-form .normal-field.headerLayout,
.sphereContent .edit-form .normal-field.contentView,
.sphereContent .edit-form .normal-field.configColumn{margin:0 0 10px;}
.sphereContent .edit-form .fake-field.fake-inputfile-field.sphere{margin:0 0 20px;}

.sphereContent .edit-form .normal-field.sphereType legend.title{float:left; margin:0 20px 0 0;}
.sphereContent .edit-form .normal-field.sphereType label input{visibility:hidden; display:none;}
.sphereContent .edit-form .normal-field.sphereType label span.title{background:transparent; cursor:pointer; border:1px solid #b1b1b1; padding:0 10px; color:#4c4c4c; display:inline-block; box-sizing:border-box;}
.sphereContent .edit-form .normal-field.sphereType label.active span.title{background:#808080; border:none; color:#fff; cursor:inherit;}
.sphereContent .edit-form .normal-field.sphereType label span.title .icon{font-size:16px; display:inline-block; width:15px; height:15px;}
.sphereContent .edit-form .normal-field.sphereType label span.title i.sphere{margin-bottom:-2px; background:url("../../img/icon-sphere-browse.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 0 0;}
.sphereContent .edit-form .normal-field.sphereType label.active span.title i.sphere{background-position:0 -26px;}

.edit-form .fake-inputfile-field{background:#f7f7f7; overflow:visible}
.edit-form .fake-inputfile-field.key h5,
.edit-form .fake-inputfile-field.key label{color:#4c4c4c; font-size:12px;}
.edit-form .fake-inputfile-field.key h5{float:left; line-height:1.3em; margin:12px 20px 0 0;}
.sphereContent .edit-form .normal-field.contentView select,
.sphereContent .edit-form .normal-field.configColumn select{color:#333;}

.gecko .sphereContent .edit-form .normal-field.contentView,
.gecko .sphereContent .edit-form .normal-field.configColumn{margin:0 0 10px;}

.edit-form .fake-inputfile-field:hover,
.edit-form .fake-inputfile-field.focused{background:#fff;} 

.edit-form .fake-inputfile-field input{background:transparent; color:#4c4c4c; font-size: 12px;}

.edit-form .fake-inputfile-field .label,
.sphereContent .members .fake-field-label{font-weight: bold;font-size:12px;line-height:29px;padding: 0 10px;}
.sphereContent .members .fake-field-label span{white-space:nowrap;}
.sphereContent .members .fake-field-label span.eventSphere,
.sphereContent .members .fake-field-label span.portalSphere {color:#999; font-weight:lighter;}
.edit-form .fake-inputfile-field .label{font-weight:normal;}
.sphereContent .members .fake-field-label{display:table-cell; box-sizing:border-box; float:none; width:95px; padding:0 0 0 10px;}
.fake-field.members .fake-field-label + .addGroupField {display:table-cell; float:none;}
.sphereContent .member-info a #jtt-nick,
.sphereContent .member-info #jtt-company{width:99px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; display:block;}

.sphereContent .viewMode .edit-form .fake-field.members .fake-field-label + .addGroupField{display:block;}
.sphereContent .viewMode .edit-form .fake-field .fc-extend-sharegroups{margin:6px 0 0 -20px; padding:0; background:none;}
.sphereContent .viewMode .edit-form .fake-field .fc-extend-sharegroups > *{display:inline-block; color:#4c4c4c; font-size:14px; font-weight:bold; margin:0 0 0 20px; padding:4px 0 6px 26px; background:url(../../img/icon_sphereGroup.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 4px;background-size:20px 20px;}
.sphereContent .viewMode .edit-form .fake-field .fc-extend-sharegroups > .notAssociated{opacity:.5;}

.sphereContent .viewMode .edit-form .sezione a.tag_remover{display:none;}
.sphereContent .viewMode .edit-form .sezione #tagPreviewZone{background:transparent; padding:0;display: block;margin: 0 0 0 -7px;border: none;}
.sphereContent .viewMode .sezione .content_item_tags{}
.sphereContent .viewMode .edit-form .sezione #tagPreviewZone .tag_token{margin:7px 0 0 7px;padding:3px 6px;font-size:14px;}
.sphereContent .viewMode .edit-form .sezione #tagPreviewZone .tag_token:before{content:'\f02b';margin:0 5px 0 0;font-family:'FontAwesome';font-size:1.2em;}

/*
.sphereContent #sphereMembers .members .fake-field-label::-webkit-input-placeholder {color:#999;}/* WebKit browsers
.sphereContent #sphereMembers .members .fake-field-label:-moz-placeholder {color:#999;opacity:1;}/* Mozilla Firefox 4 to 18 
.sphereContent #sphereMembers .members .fake-field-label::-moz-placeholder {color:#999;opacity:1;}/* Mozilla Firefox 19+
.sphereContent #sphereMembers .members .fake-field-label:-ms-input-placeholder {color:#999;}/* Internet Explorer 10+ 
*/
.sphereContent .sezione {position:relative; display:block;}
.sphereContent .wwgrp .wwctrl input,
.sphereContent .wwgrp .wwctrl textarea{border:1px solid #d6d6d6; padding:5px 10px; min-height:30px; box-sizing:border-box;}
.ie .sphereContent .wwgrp .wwctrl input,
.ie .sphereContent .wwgrp .wwctrl textarea{padding:0;}

.sphereContent .fake-field .wwgrp .wwctrl input,
.sphereContent .fake-field .wwgrp .wwctrl textarea{border:none;}

.sphereContent .eventSphere,
.sphereContent .eventSphereOuter,
.sphereContent .groupSphere,
.sphereContent .groupSphereOuter,
.sphereContent .portalSphere,
.sphereContent .portalSphereOuter{display:none;}
.sphereContent .groupSphere.active,
.sphereContent .eventSphere.active,
.sphereContent .portalSphere.active,
.sphereContent .eventSphere.active .eventSphere,
.sphereContent .portalSphere.active .portalSphere,
.sphereContent .groupSphere.active .groupSphere{display:block;}
.sphereContent .groupSphereOuter.active,
.sphereContent .eventSphereOuter.active,
.sphereContent .portalSphereOuter.active{display:block;}

.sphereContent h6 .eventSphere.active,
.sphereContent h6 .portalSphere.active,
.sphereContent h6 .groupSphere.active{display:inline-block;}

.sphereContent .sezione.active .eventSphere.active{display:table;width:100%;clear:both;}

.sphereContent .sezione .eventSphere .column{display:table-cell;vertical-align: top;}
.sphereContent .sezione.second .eventSphere .column:first-child,
.sphereContent .sezione.fourth .eventSphere .column:first-child  {width: 50%;}

.sphereContent .sezione .eventSphere .column label{min-width: 70px;display: inline-block;}
.sphereContent .sezione .eventSphere .column input{box-sizing: border-box;}
.sphereContent .sezione .eventSphere .column .wwgrp .wwctrl .mail {width: 166px;}
.sphereContent .sezione .column .date {position: relative;display: block;}
.sphereContent .sezione .eventSphere .column .wwgrp .wwlbl{float: left;display: block;min-width: 130px;text-align: right;vertical-align: middle;height: 30px;padding: 10px 10px 0 0;}
.sphereContent .sezione .eventSphere .column .wwgrp#wwgrp_hoursList .wwctrl{display: inline-block;position: relative;background:#fff;box-sizing: border-box;border: 1px solid #d6d6d6;}
.sphereContent .sezione .eventSphere .column .wwgrp .wwctrl select{background: none;border: none;height: 30px;width: 139px;}
.sphereContent .sezione .eventSphere .column .timezone .wwgrp .wwctrl select{background: white;border: 1px solid #d6d6d6;height: 30px;width: 139px;}


.sphereContent .sezione .eventSphere .column .date.End .wwgrp .wwlbl{min-width: 110px;}
.sphereContent .sezione .eventSphere .column .date.End .eventSettings .wwgrp .wwlbl{min-width: 120px;}

.gecko .sphereContent .sezione .eventSphere .column .date.End .wwgrp .wwlbl{padding:0 10px 0 0;line-height: 16px;}
.gecko .sphereContent .sezione .eventSphere .column .date.End .eventSettings .wwgrp .wwlbl{padding:7px 10px 2px 0;min-width: 120px;}

.sphereContent .wwgrp .wwctrl .error {border:1px solid #f00;}
.wwlbl.error {border:1px solid #f00;}
.sphereContent .fake-field .wwgrp .wwctrl .error{border:1px solid #f00;}
.sphereContent .sezione .eventSphere .column .wwgrp .wwctrl .error{ border: 1px solid #f00;}
.fake-field.fake-inputfile-field.key .error {border:1px solid #f00;}

.edit-form .fake-inputfile-field .attach-label{width:70%; border-right:medium none; background:transparent;}
.edit-form .check-box-field{float:left; margin: 3px 3px 0 0;}
.sphereContent .edit-form .check-box-field{float:left; margin:0 5px 0 0; display:block;}
.on-demand-field{background:#fbfbfb; border:1px dashed #d1d1d1; padding:20px; font-size:11px; margin:5px 0;}
.sphereContent .normal-field.on-demand-field {background:#fff;border:1px solid #d1d1d1; padding:5px 10px 10px; box-sizing:border-box;}
.on-demand-field label{font-weight:normal;}
.on-demand-field .normal-field-label{font-weight:700;}
.sphereContent .normal-field.on-demand-field h3{float:none;}

.sphereContent .normal-field select {color:#333; font-size:12px; width:285px; background:#fff url('/tamtamy/css/jquery/chosen/chosen-sprite.png') no-repeat 265px 5px; line-height:30px; border:solid 1px #DDD; height:30px; -webkit-appearance:button; border-radius:0; padding:0 20px 0 10px;}
.sphereContent .normal-field select input:disabled{color:#999;}
.gecko .sphereContent .normal-field select {background:#fff;padding:6px 15px 0 10px;}
.ie .sphereContent .normal-field select {padding:0;}
.on-demand-field .fake-field{margin:0;}
.on-demand-field .fake-field input{width:85%}

.fake-field .addGroupField{float:left;}
.fake-field .addGroupField.geco{width:60%}
.fake-field .addGroupField input,
.fake-field .addGroupField textarea{width:100%}
.fake-field.fake-inputfile-field.tags{overflow:visible; min-height:30px}

.fake-field.fake-inputfile-field.tags .inputArea{display: table;width: 100%;}
.fake-field.fake-inputfile-field.tags .inputArea > div{display:table-cell; box-sizing:border-box; float:none; width:auto;}
.fake-field.fake-inputfile-field.tags .inputArea > div.tag_editor{padding:0;width:74%;}
.fake-field.fake-inputfile-field.tags .inputArea > div.tag_editor .ac_input{padding:0 0 0 5px;}
.fake-field.fake-inputfile-field.tags .inputArea .jtt-autocomplete{width: 100%;max-width: 100%;display: block;position:relative;}
.fake-field.fake-inputfile-field.tags .inputArea .jtt-autocomplete > input{width: 100%;}
.fake-field.fake-inputfile-field.tags .inputArea .jtt-autocomplete .jtt-auto-float{padding:0;}

.sphereContent .fake-field .addGroupField textarea{resize: none;padding: 8px 20px 0 0;box-sizing: border-box;}
.sphereContent .fake-field .addGroupField textarea.description{padding: 8px 20px 0 10px;}
.sphereContent .fake-field .addGroupField input{-webkit-box-shadow: 0 0 0px 1000px white inset;}
.sphereContent .edit-form .fake-field .addGroupField input#ac_user_member{width:807px;}
.withLeftSidebar .sphereContent .edit-form .fake-field .addGroupField input#ac_user_member{width:575px;}

.sphereContent .bindedProject span.gecoProjects,
.sphereContent .bindedProject label{font-size:12px; color:#4c4c4c; line-height:36px; margin:0; padding:0;}
.sphereContent .bindedProject label input{margin:0; padding:0;}
.sphereContent .bindedProject span.gecoProjects{white-space:nowrap; overflow:hidden; width:233px; text-overflow:ellipsis;}

.sphereContent span#err {position:absolute; z-index:1; color:#fff; background:#f00; padding:7px; font:italic 1.4em/1em Georgia, Times, serif;}
.sphereContent .error #err {z-index:1;}
.sphereContent .sezione.first .error #err {top:20px; right:0;}
label.global-group{font-weight:700;}
.global-group{margin-top:10px;}

.addGroup #groupGecoIntegration{padding:5px 0 5px 5px;}
#groupGecoIntegration, 
#rightColumnConfiguration{clear:both;}
#deleteButton{float:right;margin-top:30px;}
#editButton{float:right;margin-top:30px;}
#notificationRule{margin-top:10px;}

.wrapavatar_personal_container{border-top:1px dotted #d1d1d1;padding:10px 0 0;}
img.canvas-preview{max-width:100%; max-height:125px; display:none;}
img.canvas-preview.loaded{display:block;}

#removePersonalCoverForm{margin:-43px 10px 0 0; width:140px; float:left;}

.edit-form .edit-form-header {clear:both; display:inline-block; width:100%;}
.edit-form .edit-form-header .left {float:left;}
.edit-form .edit-form-header .left .title {line-height:26px;}
.edit-form .edit-form-header .right {float:right;}

.edit-form .edit-form-title{float:left;display:block;}
.edit-form .edit-form-submit{float:right;display:block;}
.sphereContent .edit-form .edit-form-submit{float:none;}

span.calendarInvitation {margin:0 0 10px;display: block;}
span.calendarInvitation #calendarInvitationEnable {vertical-align: bottom;}

/*Geco project dropdown*/
.edit-form .gecoProjectsContainer { overflow: visible; cursor: auto; padding-right:5px;margin-bottom:30px}
.sphereContent .edit-form .gecoProjectsContainer {overflow: visible;cursor: auto;padding-right: 0;margin: 0;box-sizing: border-box;width: 100%;}
.edit-form .half.gecoProjects { overflow: visible;margin: 0; margin-bottom: 5px;float:left }
.edit-form .fake-field.gecoProjects input {width: 100%}
.edit-form .half.gecoProjects.select { margin-left: 1.2%; width: 25%; }
.edit-form .half.gecoProjects.select.disabled {background:#fff;border: solid 1px #eee;}
.edit-form .half.gecoProjects.select.disabled input{color:#eee;}
.sphereContent .edit-form .chosen-container{border:solid 1px #ddd;}
.sphereContent .edit-form .chosen-container#gecoProjects_new_chosen{width:285px !important;}
.sphereContent .edit-form .chosen-container-single .chosen-single{height:30px; background:none; border:none; box-shadow:none; }

.edit-form .gecoProjects.bind {float:right; padding-right:20px;}
.edit-form .gecoProjects.unbind a,
.edit-form .gecoProjects.bind a {cursor:pointer; min-width:75px; width:auto; text-align:center;}
.sphereContent .edit-form .chosen-container-single .chosen-drop{border-radius:0;}
.edit-form .gecoProjects.unbind { float:right; padding-right:20px }
.sphereContent .edit-form .gecoProjects.bind a,
.sphereContent .generic_button.button_enabled.addKey{width:auto; color:#fff; text-shadow:none; background:#e6e6e6; background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2ZTZlNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDgwODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);background: -moz-linear-gradient(top,  #e6e6e6 0%, #808080 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e6e6e6), color-stop(100%,#808080));background: -webkit-linear-gradient(top,  #e6e6e6 0%,#808080 100%);background: -o-linear-gradient(top,  #e6e6e6 0%,#808080 100%);background: -ms-linear-gradient(top,  #e6e6e6 0%,#808080 100%);background: linear-gradient(to bottom,  #e6e6e6 0%,#808080 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#808080',GradientType=0 );}
#newProjectBind { padding:10px;margin-bottom:10px;}
.sphereContent #newProjectBind{border-style: solid;background:#fff;}
#newProjectBind .bindForm{ display:inline-block; width:650px;}

.sphereContent #newProjectBind .bindForm{width:100%;}
.edit-form .acceptCollaborator {float:left; width:auto; margin-left:10px;}
.sphereContent .edit-form .acceptCollaborator {margin:10px 5px 10px 30px;}
.sphereContent .on-demand-field label{line-height:32px;}
.gecko .sphereContent .on-demand-field label{line-height:1em;}

.edit-form .bindedProject {padding-left:20px ; display:inline-block; width:640px;}
.sphereContent .edit-form .bindedProject {padding:5px 10px; display:inline-block; width: 100%; background:#e0e0e0; box-sizing:border-box; line-height:30px;}
.sphereContent .edit-form .bindedProject:nth-child(even) {background:#eee;}
.sphereContent .wwgrp {clear:both;}
.sphereContent .generic_button{font-size:12px;}
.sphereContent .generic_button.button_enabled.addKey {margin:10px 0; float:left; font-size:12px;}
.sphereContent .sezione .column .date .wwgrp{}
.sphereContent .wwgrp{margin:0; width:100%;}

.sphereContent .wwgrp br{display:none;}
.sphereContent .key .attach-label .wwgrp,
.sphereContent .sphere .attach-label .wwgrp {margin:0; width:auto;}
.sphereContent input[type=checkbox]{width:16px !important; height:16px !important;}
.sphereContent input[type=radio]{ width:14px; height:14px;}
.sphereContent .wwgrp .wwctrl > input[type=checkbox]{width:auto; height:14px; min-height:1em;}
.sphereContent .wwgrp .wwctrl > input[type=checkbox].enabler{float:left; margin:8px 5px 0 0; display:block;}
.sphereContent .wwgrp .wwctrl > input[type=checkbox]#eventMailEnable{margin-top:0;}
.gecko .sphereContent .wwgrp .wwctrl > input[type=checkbox].enabler{margin:0 3px 0 0;}

.sphereContent .sezione .wwgrp,
.sphereContent #sphereOptions .wwgrp {float:none;}
.sphereContent .key .wwgrp {margin:5px 0 0;}
.sphereContent .sezione .eventSphere .column .location{margin:0 0 10px; width:70%;}
.sphereContent .sezione .eventSphere .column .date.End .eventSettings.end{overflow: hidden; position: relative; float:left;}
.sphereContent .sezione .eventSphere .column .date.End.active .eventSettings.end{display:block;}

.tag_token .tagLabel {overflow:hidden; display:block; position:relative;}
.tag_token .tagLabel .eventKeytag {float:left; display:block; width:20px; height: 18px; position:relative; text-indent:-9999px; margin:0;}
.tag_token .tagLabel .eventKeytag .placeholder {cursor:pointer; display:block; position:absolute; width: 15px;height: 15px;background: url('../../img/Icons-set-ribbon-events.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat -296px -89px; margin: 1px 0 0;}
.tag_token.active .tagLabel .eventKeytag .placeholder{background-position:-296px -129px;}


.sphereContent #keyTagPreviewZone .tag_token {height:22px;line-height:22px;}
.sphereContent #keyTagPreviewZone a.tag_remover{height:22px;}
.sphereContent #keyTagPreviewZone .tag_token .tagLabel .eventKeytag .placeholder{height:20px;background-position:-296px -87px;}
.sphereContent #keyTagPreviewZone .tag_token.active .tagLabel .eventKeytag .placeholder{background-position:-296px -127px;}

.sphereContent .headerLayout .addGroupField .wwgrp .wwctrl{padding: 10px 0 0;display: block;float: left;}
.sphereContent .headerLayout .addGroupField .wwgrp .wwctrl input {float: left;cursor:pointer;clear: left;margin: 0 5px 10px 0;}
.sphereContent .headerLayout .addGroupField .wwgrp .wwctrl label {float: left;cursor:pointer;line-height: 16px;font-size: 12px;}

.sphereContent .normal-field.customLeft {margin: 0 0 30px;}

.sphereContent .container {display: block;position: static;}
.sphereContent .container > span {display: block;}
.sphereContent .container .content {display: none;float: left;padding: 10px;background: #f5f5f5;box-sizing: border-box;width: 100%;margin: 0 0 10px;}
.sphereContent .container.active .content{display:table;}
.sphereContent .container.active .content.activationMessage,
.sphereContent .container.active .content.activationMessage .calendarInvitation,
.sphereContent .container.active .content.superAdmin{display:block;}
.sphereContent .container.active .content.superAdmin{border: 1px solid lightgray; position: relative; padding: 26px 0 0 0;}
.sphereContent .container.active .content.activationMessage .calendarInvitation{clear: both; margin: 0 0 10px;}

.sphereContent .container.active .content.superAdmin > label{background-color: lightgray; padding: 3px 5px; position: absolute; top: 0; display: block; left: 0;}
.sphereContent .container.active .content .calendarInvitation .wwctrl,
.sphereContent .container.active .content .calendarInvitation .wwlbl{display:inline-block;}
.sphereContent .container.active .content .calendarInvitation .wwlbl{vertical-align:text-top;}
.sphereContent .container.active .content .calendarInvitation.details{margin:0 0 10px 25px;clear: none;float: left;}
.sphereContent .container.active .content .calendarInvitation.details .wwctrl{vertical-align:text-top;}
.sphereContent .container.active .content.activationMessage .graphicCustom-Message .alertMessage{display:inline-block;vertical-align:middle;padding:0 0 0 10px;}
.withLeftSidebar .sphereContent .container.active .content.activationMessage .graphicCustom-Message .alertMessage{width:95.5%;}
.sphereContent .container.active .content.activationMessage #calendarInvitation .details textarea{resize:none;width:320px;height:80px;}
.withLeftSidebar .sphereContent .container.active .content.activationMessage #calendarInvitation .details label{display: inline-block;width: 100px;}

.sphereContent .sezione .eventSphere .column .wwgrp #wwlbl_upload_metaMap_eventLanguage {font-weight:bold; min-width:88px;}
.sphereContent .sezione .eventSphere .column .wwgrp .wwctrl#wwctrl_upload_metaMap_eventLanguage {display:inline-block;	background:#fff; border:1px solid #d1d1d1;}
.content.activationMessage .activationQrCode{display:block;}
.content.activationMessage #activationQrCodeDetail{margin:0 0 0 20px;}
.content.activationMessage #activationQrCodeDetail + h4{padding:20px 0 0;}
.content.activationMessage #activationQrCodeDetail .activationQrCodeEventName{display:block; padding:5px 0;}
.content.activationMessage #activationQrCodeDetail .activationQrCodeNote{ display:block; border:1px solid #fda425; padding:5px; color:#fda425;}

.gecko .sphereContent #sphereOptions .wwgrp{margin:0 0 5px; overflow:hidden;}
.gecko .sphereContent #sphereOptions .wwctrl{display: block; float:left; margin:0 5px 0 0;}
.gecko .sphereContent #sphereOptions .wwctrl input{display:block;}
.gecko .sphereContent #sphereOptions .wwlbl{display:block; float:left; line-height:1.4em;}
.gecko .sphereContent #sphereOptions .wwlbl label.checkboxLabel{}

#manualGecoProjectDiv > input:disabled {background:none repeat scroll 0 0 rgba(0, 0, 0, 0); border:none; cursor:default; opacity:.5;}
