/*	Upload		*/
.upload-box h2{margin-bottom:15px;}
.upload-box{background-color:#f2f2f2; clear:both; padding:20px 30px 30px; border:1px solid #d4d3d4; margin-bottom:300px;}
.upload-box .tabs.resource-types{display:none;}
.upload-box .section{border-radius:1px;}

.upload-box .section #publicationDate,
.upload-box .section #publicationHours, 
.upload-box .section #publicationMinutes{background:#fff url(../../img/input_bg.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x top; border:1px solid #ccc; color:#777; font-family:Georgia; font-size:18px; overflow:hidden; padding:2px 0; margin-bottom:20px;}
.upload-box .section .line_option{border-bottom:1px solid #d8d6d6; border-top:1px solid #f8f7f7; padding:15px 0; position:relative;}
.upload-box .section select{padding:5px; margin-bottom:5px;}
.upload-box .section .meta_row{padding:0 0 10px 0;}

.upload-box .section .tag_editor input{background-color:transparent;}
.upload-box .section .tag_editor input.ac_input{line-height:18px;}
.upload-box ul.tabs{height:auto; overflow:auto; overflow-x:hidden; list-style-type:none; margin:0; padding:0;}
.upload-box ul.tabs li{float:left; width:auto; display:inline; font:bold 14px/30px Arial; height:30px; margin:3px 3px 0 0; padding:0; background:#ddd;}
.upload-box ul.tabs li:hover{background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;}
.upload-box ul.tabs li a{color:#777; display:block; width:100%; padding:0 15px;}
.upload-box ul.tabs li a:hover{text-decoration:none;}
.upload-box ul.tabs li.active{background:#eee;}
.upload-box .notes{display:none;}
.upload-box label span.required{color:#d93131;font-weight:bold;}

.content-body-richtext{width:100%; display:inline-block;}

.meta_row_column{clear:both;}
.meta_row_column textarea{font-size:13px; padding:5px; width:98%; height:180px; background:#fff url(../../img/input_bg.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x top; border:1px solid #ccc;}

.fileupload-multi-main .row.fileupload-buttonbar{margin:0;}
.fileupload-multi-main .row.fileupload-buttonbar .dragAndDrop{margin:20px 0; width:100%;}
.upload-box .span5.fileupload-progress.fade {margin:20px 0 0;}
.upload-box .multi_uploader .progress{margin:0;}

.interno.has-comment-content #replyForContent{cursor:pointer; position:absolute; top:0; width:512px; left:81px; border-radius:1px; box-shadow:0 1px 3px rgba(0, 0, 0, 0.4); margin:2px; background:#f4f4f4;}
.interno.has-comment-content #replyForContent > h4{padding:5px; border-bottom:1px dashed #ddd; margin-bottom:0;}
.interno.has-comment-content #replyForContent .content-main{background:#f4f4f4; box-shadow:none;}
.interno.has-comment-content #replyForContent .scheda{margin-top:0;}
.interno.has-comment-content #replyForContent .scheda .content-main .content-body .smallDescription, 
.interno.has-comment-content #replyForContent .scheda .content-main .content-body .longDescription{color:#666;}
.interno.has-comment-content #replyForContent .avatar{display:none;}

.interno.has-comment-content .content-deco{z-index:1000;}
.interno.has-comment-content .content-deco.primary-box-light, .interno.has-comment-content > a{margin-top:30px;}
.interno.has-comment-content > a{position:relative;display:block;float:left;}

.interno.has-comment-content #replyForContent:hover,
.interno.has-comment-content #replyForContent:hover .content-main,
.interno.has-comment-content #replyForContent.open,
.interno.has-comment-content #replyForContent.open .content-main{background:#fff;}

.team_avatar img{height:32px;width:32px;}

@media screen and (max-width:767px){
    .upload-box{padding:20px 15px 30px;}
    .upload-box .multi_uploader .span7{width:100%;margin: 0 0 10px;}
    .upload-box .fileupload-buttonbar .toggle,
    .upload-box .files .toggle,
    .upload-box .files .btn span{display:block;}
	.upload-box .multi_uploader .table td{width:auto; padding:0 5px; vertical-align:middle;}
	.upload-box .multi_uploader .table .preview{display:none;}
	.upload-box .multi_uploader .table .name,
	.upload-box .multi_uploader .table .size{min-width:auto; max-width:100px;}
	.upload-box .multi_uploader .table .name > div{width:100%;text-overflow:ellipsis;overflow:hidden;}
	.upload-box .multi_uploader .table .image_delete{min-width:auto;max-width:75px;}
}
@media screen and (min-width:768px) and (max-width:997px){
	.upload-box .multi_uploader .table .image_delete{min-width:auto;max-width:150px;}
	.upload-box .multi_uploader .table .name{width:auto;}
}