.blue_button {text-align:center; border-radius:5px;	position:relative;}
.blue_button a {font-size:15px; display: block; padding: 10px 40px; text-decoration:none;}
.blue_button .arrow-btn span {/*	position: absolute;	top: 50%; right: 5%; transform: translateY(-50%);*/}

.content-carousel .btn_content {text-align: center;}
.content-carousel .btn_content .blue_button{width: 165px;display: inline-block;}

.blue_button .fix_mobile {padding: 0; /* fix bootstrap problem with padding on xs-1 */}
.blue_button:hover, 
.flat_blue_button:hover {transition: all 0.3s ease;}
.blue_button a.uppercase {text-transform: uppercase;}
.flat_blue_button {text-align: center;}
.flat_blue_button a {text-transform:uppercase; padding:10px 0; display:block; text-decoration:none;}
.flat_blue_button span{text-transform: uppercase; padding: 10px 0;display: block; font-size: 13px;}

.blue_button a.arrow_btn:after {font:normal 13px/1.1em 'tamtamy-icon';}
a.publicLink {background: #ccc; display: block; border-radius: 4px;text-align: center; padding: 15px 5px; font-size: 1.6rem; text-transform: uppercase;}
a.publicLink::after{content:"\e944"; margin-left:15px; display:inline-block;}
a.publicLink.cops{font-size:1.4rem;}
a.publicLink.cops{position:relative;padding: 15px 30px 15px 20px;line-height: 1em;text-align: left;white-space: pre-wrap;}
a.publicLink.cops::after {display: block;position: absolute;right: 9px;top: 50%;margin-top: -6px;}
a.publicLink.cops:hover
{
    text-decoration: none;

}
@media only screen and (min-width : 0px) and (max-width : 767px) {
    .blue_button.align-center{text-align:center;}
    .blue_button .mobile_title{font-weight:bold; text-transform:uppercase; font-size:18px; margin-bottom:10px;}
}
