/* Filters for Contents with */
.filters{}
.filters .content-filters{margin:0 0 15px; border:1px solid #cec9cb; background-color:#fff;}
.filters .content-filters .content-meta-filters{font-size:1em; position:relative; padding:0;}
.filters .content-filters .content-meta-filters__selects{display:inline-block; vertical-align:top; box-sizing:border-box; width:100%; padding:15px; background:transparent; margin:0; list-style:none;}
.filters .content-filters .content-meta-filters__checkboxes {width:50%; display:inline-block; vertical-align:top; box-sizing:border-box; padding-left:10px;}
.filters .content-filters .content-meta-filters__field input {display:none;}
.filters .content-filters .content-meta-filters__field input:checked + .content-meta-filters__label:after {background:url("../../images/projectCover/check.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 50% 50% #fff; background-size:9px;}
.filters .content-filters .content-meta-filters__field + .content-meta-filters__field {margin-top:10px;}
.filters .content-filters .content-meta-filters__label {font-size:13px; font-family:'Montserrat', sans-serif; text-transform:uppercase; color:#fff; margin-right:20px; margin-top:8px; padding-right:26px; display:inline-block; position:relative;}
.filters .content-filters .content-meta-filters__label:after {content:''; display:inline-block; width:18px; height:18px; position:absolute; right:0; top:-3px; background-size:15px; background:#fff;}
.filters .content-filters .content-meta-filters__hint{font-size:12px; font-family:'Montserrat', sans-serif; display:inline-block; line-height:16px;}
.filters .content-filters .content-meta-filters__subtitle{font-size:16px; font-family:'Montserrat', sans-serif; padding:4px 0; margin-bottom:0; border-bottom:1px solid #c4dddb; color:#000;}
.filters .content-filters .content-meta-filters::after{content:""; display:table; clear:both;}
.filters .content-filters .content-meta-filters::before,
.filters .content-filters .filters-tool::before{content:""; position:absolute; top:0; bottom:0; right:0; left:0; opacity:0; z-index:-1;}
.filters .content-filters .content-meta-filters.openFilter::before,
.filters .content-filters .content-meta-filters.filtering::before,
.filters .content-filters .filters-tool.filtering::before {opacity:.5; z-index:11;}
.filters .content-filters .content-meta-filters.filtering::before{background:#000 url("../../graphic/wait.gif?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 50% 50%; display:none;}
.filters .content-filters .content-meta-filters__title{border-bottom:none; font:normal 16px/1.1em "Montserrat", sans-serif; background-color:transparent; color:#303030; margin:0 0 20px !important; padding:15px 15px 0!important;}
.filters .content-filters .content-meta-filters__title--alt {padding:0; background:transparent; border:none; font-size:15px; color:#303030; margin-bottom:10px; display:inline-block;}

.content__filter {display:inline-block; position:relative; margin:0 20px 5px 0;}
.content__filter.no-show {display:none;}

.filters .content-filters .content-meta-filters__filter{position:relative; font-family:'Montserrat', sans-serif; padding:35px 0 0; box-sizing:border-box;}
.filters .content-filters .content-meta-filters__filter:first-child{padding:0;}
.filters .content-filters .content-meta-filters__filter.active::before {display:block; position:absolute; z-index:11; top:-20px; right:0; padding:4px; background:rgba(0,0,0,0.4); font-size:14px; color:#fff; text-align:right;}
.filters .content-filters .content-meta-filters__filter input {color:#606060; width:100%; font-size:12px; border:1px solid #cdc9ca; line-height:20px; height:30px; background:#fff; padding:0 10px; box-sizing:border-box;}
.filters .content-filters .content-meta-filters__recap {display:none; padding:10px 30px 0; overflow:hidden; margin:5px 0 0; background:#51b6de;}

/* Selected Filters */
#aplliedFilters{display:block;}
#contentMetaFilter-appliedBox .content-meta-filters__recap{display:none; background:#fff; border:1px solid #cecece; margin:0 0 20px; padding:15px 20px 0;}
.title__filter--select {display:inline-block; position:absolute; top:-9px; left:0; margin:0; text-transform:uppercase; color:#4c4c4c; font:bold 10px 'Montserrat', sans-serif; white-space:nowrap;}
.appliedFilerts__filter {position:relative; display:inline-block; font:normal 12px/15px 'Montserrat', sans-serif; color:#06414f; padding:5px 30px 5px 10px; margin:5px 5px 0 0; border-radius:3px; min-width:60px; background:#fbca00; cursor: pointer; z-index:11; box-sizing:border-box;}
.appliedFilerts__filter::after{content:'\e97e'; display:inline-block; position:absolute; font:normal 1em/11px 'tamtamy-icon'; top:50%; right:3px; margin:-5px 0 0;}
.content-meta-filters__clearAll{display:inline-block; border-bottom:1px solid #16a389; float:right; font-size:13px; color:#16a389; font-family:"Montserrat", sans-serif; letter-spacing:0; cursor:pointer; position:relative; z-index:11; margin:0;}
.content-meta-filters__clearAll:hover{text-decoration:none;  border-bottom:2px solid #16a389;}
.filtering .appliedFilerts__filter,
.filtering .content-meta-filters__clearAll{z-index:1;}
.content-meta-filters__clearAll + .content-meta-filters__title{margin:0 0 20px; font-size:1.3em;}

.filters .content-filters .ms-choice{position:relative; border:1px solid #cec9cb; border-radius:0; width:100%; padding:7px 35px 7px 15px; height:35px; text-align:left; background:transparent; background-size:14px 14px;}
.filters .content-filters .ms-choice::before{content:'\e946'; display:block; position:absolute; font:normal 15px/1.6em 'tamtamy-icon'; right:7px; top:6px; width:20px; height:20px; text-align:center;}
.filters .content-filters .ms-choice::after{content:''; display:block; position:absolute; background:#e6e6e6; right:35px; top:0; bottom:0; width:1px;}

.filters .content-filters .ms-search{padding:6px 10px;}
.filters .content-filters .placeholder{position:absolute; top:-20px; left:0; font: normal .8em/1.6em "Montserrat", sans-serif; text-transform:uppercase; transition:all .25s cubic-bezier(0, 0.98, 0.68, 0.99);}
.filters .content-filters .count_filter {font:normal 14px/1.2em "Montserrat", sans-serif; color:#999; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.filters .content-filters .ms-drop {display:none; position:absolute; z-index:99; background:#fff; width:100%;}
.filters .content-filters .ms-drop ul {overflow-y:auto; box-shadow:0 3px 5px 0 #cecece; transition:padding .5s ease; padding:0; overflow-x:hidden;}

.filters .content-filters .ms-drop ul .multipleFilter {position:absolute; text-align:center; cursor:pointer; bottom:-67px; padding:15px 0px; line-height:25px; right:0; z-index:9; left:0; font-size:14px; color:#2e2e2e; background-color:#fff; box-sizing:border-box; box-shadow:0 4px 5px 0 #cecece;}
.filters .content-filters .ms-drop ul .multipleFilter .close,
.filters .content-filters .ms-drop ul .multipleFilter .select{display:block; float:none; position:relative; padding:15px 0; margin:0 15px; text-transform:uppercase; font-size:1em; color:#f55a21; border:1px solid #f55a21; text-decoration:none; opacity:1; text-shadow:none;}
.filters .content-filters .ms-drop ul .multipleFilter .close{padding:11px 0;}
.filters .content-filters .ms-drop ul .multipleFilter .close:before{content:''; display:block; position:absolute; top:0; left:0; width:100%; height:100%; transform-origin:left; transition:opacity .2s ease-out; z-index:-1; opacity:0;}
.filters .content-filters .ms-drop ul .multipleFilter .close:hover{color:#fff;}
.filters .content-filters .ms-drop ul .multipleFilter .close:hover:before{background:#f55a21; width:100%; opacity:1;}
.filters .content-filters .ms-drop ul .multipleFilter .select{display:none; background:#f55b1f; color:#fff; border-color:#f55b1f; padding:5px 0;}
.filters .content-filters .j-multipleSelect.filterSelect.active .ms-drop ul .multipleFilter .select{display:block;}
.filters .content-filters .j-multipleSelect.filterSelect.active .ms-drop ul .multipleFilter .close{display:none;}

.filters .content-filters .ms-drop ul.ms-drop--selectAll {}
.filters .content-filters .ms-drop li {font-size:14px;color:#2e2e2e;background-color:#fff;box-sizing:border-box;width:100%;padding:0 12px;position:relative;list-style-type: none;}
.filters .content-filters .ms-drop li label{width:100%;}
.filters .content-filters .ms-drop li span {padding:10px 30px 10px 50px; display:inline-block; position:relative; box-sizing:border-box; vertical-align:middle; width:100%; font:normal 1em/1.1em "Montserrat", sans-serif; min-height:35px; z-index:10;}
.filters .content-filters .ms-drop li span::before {content:'\e99d'; display:inline-block; font:normal 1.6em/1.1em 'tamtamy-icon'; color:#dadada; width:18px; vertical-align:text-bottom; height:18px; position:absolute; left:0; top:40%; transform:translateY(-50%); -webkit-transform:translateY(-50%);}
.filters .content-filters .ms-drop li span::after {content:attr(data-hint); display:inline-block; font-family:'Montserrat', sans-serif; color:#606060; position:absolute; right:5px; top:50%; margin:0; transform:translateY(-50%); -webkit-transform:translatey(-50%);}
.filters .content-filters .ms-drop ul input {opacity:0; visibility:hidden; position:absolute;}
.filters .content-filters .ms-select-all input,
.filters .content-filters .ms-deselect-all input {opacity:0; visibility:hidden; position:absolute;}
.filters .content-filters .ms-drop li::before {content:''; position:absolute; height:1px; background:#eee; display:block; bottom:0; width:86%; left:50%; transform:translateX(-50%); -webkit-transform:translateX(-50%);}
.filters .content-filters .ms-drop ul li.multipleFilter::before{display:none; height:0;}
.filters .content-filters .ms-drop li.selected span:before {content:'\e99c'; color:#4c4c4c;}

.filters .content-filters .ms-no-results {padding:15px;}
.filters .content-filters .multipleSelect {position: relative;max-width:100%;}
.filters .content-filters .ms-drop li.multiple-operation {background:#fff;}
.filters .content-filters .ms-select-all,
.filters .content-filters .ms-deselect-all {text-align:right; cursor:pointer; z-index:99; left:0; padding-right:15px; width:100%; transition:line-height .5s ease; display:none;}


.filters .content-filters .ms-select-all,
.filters .content-filters .ms-deselect-all {overflow:hidden; transition:all .8s ease; display:block!important; height:0; line-height:40px;}
.filters .content-filters .ms-select-all.available,
.filters .content-filters .ms-deselect-all.available {display:block !important; height:40px;}
.filters .content-filters .ms-drop li.ms-no-results {margin:0; display:inline-block; font-size:14px; text-align:center; height:40px; line-height:14px; padding:14px 12px;}

.filters .content-filters .ms-select-all label,
.filters .content-filters .ms-deselect-all label {color:#f55b1f; font-size:14px;}
.filters .content-filters .ms-select-all label em,
.filters .content-filters .ms-deselect-all label em {font:normal 14px/1.6em "Montserrat", sans-serif; cursor:pointer; margin-right:7px;}

.filters .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {background-color:#000;}

.filters .content-filters .content-meta-filters__filter.active .multipleSelect {z-index:12;}
.filters .content-filters .content-meta-filters__filter.active .multipleSelect .placeholder {color:#4c4c4c;}
.filters .content-filters .content-meta-filters__filter.active .multipleSelect ::-webkit-input-placeholder { /* Chrome/Opera/Safari */color:#ccc; font-style:italic;}
.filters .content-filters .content-meta-filters__filter.active .multipleSelect ::-moz-placeholder { /* Firefox 19+ */color:#ccc; font-style:italic;}
.filters .content-filters .content-meta-filters__filter.active .multipleSelect :-ms-input-placeholder { /* IE 10+ */color:#ccc; font-style:italic;}
.filters .content-filters .content-meta-filters__filter.active .multipleSelect :-moz-placeholder { /* Firefox 18- */color:#ccc; font-style:italic;}
.filters .content-filters .content-meta-filters__filter.active .ms-search{padding:10px 15px; width:100%; box-sizing:border-box; background:#e6e6e6; position:relative;}
.filters .content-filters .content-meta-filters__filter.active .ms-search .icon-search{color:#303030; font-size:18px; position:absolute; right:23px; display:block; top:50%; height:30px; line-height:30px; transform:translateY(-50%) rotate(282deg); -webkit-transform:  translateY(-50%) rotate(282deg); font-family:'tamtamy-icon' !important;}
.filters .content-filters .content-meta-filters__filter.active .ms-search .icon-ics{display:none;}
.filters .content-filters .content-meta-filters__filter.active .ms-search.first-type .icon-ics {color:#303030; font-size:18px; position:absolute; right:23px; display:block; cursor:pointer; top:50%; height:30px; line-height: 30px; transform:translateY(-50%); -webkit-transform:  translateY(-50%); font-family: 'tamtamy-icon' !important;}
.filters .content-filters .content-meta-filters__filter.active .ms-search.first-type .icon-search {display:none;}
.filters .content-filters .content-meta-filters__filter.active .ms-choice::before{content: '\e94a';}

/* FILTERS OVER CONTENT-LIST */
.content-list .filters-tool {display:table; margin:0 0 15px; width: 100%;}
.content-list .filters-tool .skin{display:table-cell; vertical-align:top;}
.content-list.partnership .filters-tool .skin.without-tagcloud{padding:0;}
.content-list .filters-tool .fake-field{padding:5px 40px 5px 20px;min-height: 42px;}
.content-list .filters-tool .skin.without-tagcloud .navi-filters.over-zone .fake-field{padding:5px 5px 5px 40px; border:1px solid #cecece; background-color:#fff;}
.content-list .filters-tool .skin.without-tagcloud .navi-filters.over-zone .fake-field::before{content:'\e94d'; display:block; position:absolute; top:7px; left:10px; font: normal 1.8em 'tamtamy-icon';}
.content-list .filters-tool .fake-field .open-close-filters > a{height:40px; width:40px; cursor:pointer; background:none !important;}

.content-list .filters-tool .fake-field .open-close-filters > a::before{content:'\e9a3';font: normal 14px/40px 'tamtamy-icon';color:#4b4b4b;display:block;text-indent:0;position:absolute;width: 100%;text-align:center;height:100%;}
.content-list .filters-tool .fake-field.actived .open-close-filters > a::before{color:#4ca8bf;}
.content-list .filters-tool .opened .fake-field .open-close-filters > a::before{content:'\e9a2'; color:#4ca8bf;}
.content-list .filters-tool .ac_input{display:none;}
.content-list .filters-tool .ac_input:focus{box-shadow:none;outline: none;}
.content-list .filters-tool .opened .ac_input{display:block; border:none; width:100%; max-width:200px; margin:2px 0;}

.content-list .filters-tool .text-message,
.content-list .filters-tool .opened .ac_input {font: normal 14px/26px 'Montserrat', sans-serif;}
.content-list .filters-tool .skin.with-orderby{width: 70%;}
.content-list .filters-tool .drop-down-box.order-by{width: auto;margin:0;}
.content-list .filters-tool .skin.with-orderby .navi-filters{margin:0 20px 0 0;}
.content-list .filters-tool .navi-filters #filter-fake-field .item-selected .fulltext_selected{margin:5px 5px 5px 0;}
.content-list .filters-tool .drop-down-box > .order-by{padding:0 0 0 15px;}
.content-list .filters-tool .drop-down-box > .order-by > span{font:bold 14px/40px 'Montserrat'; text-transform:uppercase;}
.content-list .filters-tool .icon-triangle{display:block; position:absolute; height:40px; width:40px; right:15px; overflow:hidden; border-left:1px solid #d1d1d1; text-decoration:none;}
.content-list .filters-tool .icon-triangle::before{content:'\e94a'; font:normal 1.5em/40px 'tamtamy-icon'; text-indent:0;  color:#4c4c4c; display:block; text-align:center;}
.content-list .filters-tool .closed .icon-triangle::before{content:'\e946';}

.portal .jtt-item-remover,
.portal .tag_selected_remover,
.portal .jtt-chooser .jtt-item-remover{background:none;}

.portal .jtt-item-remover::before,
.portal .tag_selected_remover::before,
.portal .jtt-chooser .jtt-item-remover::before{content:'\e97e'; display:block; position:absolute; top:1px; left:0; text-indent:0; color:#fff; font-size:1.3em;}

.content-list .filters-tool .drop-down-box{background:#fff; width:18.5%; line-height:30px; margin:0 0 7px 0;}
.content-list .filters-tool .drop-down-box > div{border:1px solid #d1d1d1; font-weight:700; padding:0 0 0 10px; overflow:auto;}
.content-list .filters-tool .drop-down-box > div > span{float:left; color:#4c4c4c;}
.content-list .filters-tool .drop-down-box > ul{border:1px solid #d1d1d1; border-top:none; position:absolute; z-index:3; width:19.4%; background:#fff; box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);}
.content-list .filters-tool .drop-down-box li{border-top:1px dotted #cfcfcf; list-style:none;}
.content-list .filters-tool .drop-down-box li:first-child{border-top:none;}
.content-list .filters-tool .drop-down-box .filter{padding:0 10px; display:block; line-height:45px;}
.content-list .filters-tool .drop-down-box.order-by > ul li:hover .filter{background:#dfdfdf; color:#fff; text-decoration:none;}
.content-list .filters-tool .drop-down-box.order-by > ul li .filterOn,
.content-list .filters-tool .drop-down-box.order-by > ul li:hover .filterOn{background:#4c4c4c; color:#fff; cursor:default;}

.navi-filters .fake-field .open-close-filters > a{height:40px; width:40px; cursor:pointer; background:none !important;}
.navi-filters.over-zone{position:relative;}
.content-list .filters-tool .navi-filters.over-zone .text-message{display:inline-block; line-height:30px;}
.content-list .filters-tool .navi-filters.over-zone.opened .text-message{display:none;}

.navi-filters .open-close-filters{position:absolute; top:0; right:0; bottom:0; border-left:1px solid #d1d1d1;}
.navi-filters .open-close-filters a{display:block; height:30px; width:30px; float:right; text-indent:-20000em; background:transparent; }
.navi-filters .open-close-filters span.text{display:none;}
.navi-filters.over-zone.opened .open-close-filters a{background:transparent;}

.filters-tool .filters-and-cloud{position:absolute; right:0; left:0; border:1px solid #d1d1d1; border-top:none; background:#fff; box-shadow:0 3px 8px rgba(0, 0, 0, 0.25); z-index:2;}
.filters-tool .filters-and-cloud .tagcloud{background:none;font-size: 1.5em;}
.filters-tool .filters-and-cloud .tagcloud .tag_list{text-align:center;}
.filters-tool .filters-and-cloud > div{padding:0 20px;}
.filters-and-cloud.open-access {position:static; right:0; left:0; border:none; background:none; box-shadow:none; z-index:2;}
.tagMoreView {display:block; padding:20px 0;}
.tagMoreView .viewalltxt,
.tagMoreView .expandtagcloud{padding:10px 40px; min-width:49%; text-align:center; font-size:12px; float:right; background-color:#d1d1d1; border-radius:4px;}
.tagMoreView .viewalltxt{float:left}

/* Media Queries */
@media only screen and (max-width:640px){
	.content-list .filters-tool{display:block;}
	.content-list .filters-tool .skin,
	.content-list .filters-tool .skin.with-orderby{display:block; width:100%; margin:0 0 10px; padding:0 !important;}
	.content-list .filters-tool .skin.with-orderby .navi-filters{margin:0;}
}