/*
Colors:
Red: #e34646
Green:
Blue: #197bbd
Yellow:
 */

.portal .widget_padding{border:none;}
.portal .headercolumn {padding: 0;}
.portal .bodycolumn {padding: 0;}

.widget_padding  .title--btn{margin-bottom:30px;/* quando il titolo ha il bottone accanto: */}
.widget_padding  .title--btn h2{margin-top:0;}

.widget_padding .vwall{display:none;/* tolto link view all iniettato */}
.last-widget{margin-bottom:30px;/* ultimo widget */}

#message-area{border-radius:0;}
.portal #message-area{left:5%;}

@media (max-width: 991px) {
	.portal .filters .wrapwidg.link{display:none;}
	.portal.homepage .filters .wrapwidg.link{display:block;}
}
@media (max-width: 767px) {
	.portal.homepage .filters .wrapwidg.link{display:none;}
}
@media (min-width: 768px) {
	.portal #message-area{left:10%;}
}