/*Layout*/
#tt-navbar {position:fixed;z-index:999999;top:0; width:100%;  border-bottom: solid .1rem;}
#tt-centralbody {margin-top:7rem;}

.wrapwidg.banner {position:relative; margin-bottom:32px;}
.wrapwidg.banner.noMargin__banner {margin-bottom: 0;}

.homepage .wrapwidg.banner { margin-bottom: 0; height: 215px;position: relative;}
.banner .widget_padding > div {display: table; width: 100%;}
.banner .widget_padding > div .mainTitle { vertical-align: middle; display: table-cell; padding: 40px 0; text-align: left; position: static; height: 150px; min-height: 15rem;text-align: center;}
.homepage .banner .widget_padding > div .mainTitle {padding: 40px 0;text-align:left;height: 215px}
.mainTitle{text-align:center; padding:30px 0 30px; min-height:15rem;}
.homepage .mainTitle{padding:30px 0 30px;}
.mainTitle *{position:relative; font:normal 1em/1.1em 'MontSerrat', Arial, Helvetica, sans-serif;}
.mainTitle h1{margin:0 0 10px;line-height:1em;}
.homepage .mainTitle::before{content:'';display:block;position:absolute;top:0;bottom:0;left:50%;transform: translateX(35%);background-size:520px 320px;background-position: 50% 62%;background-repeat: no-repeat;}

.mainTitle h1 span{display:block; font-size:2.72em; font-weight:bold; text-shadow:3px 3px 0 rgba(0, 0, 0, .2);}
.mainTitle h1 span.reply_title{font-size: 2.10em; display:inline-block; text-indent:-9999px; min-height:50px;}
.mainTitle h1 span.reply_title::before{content:'';display:block;position:absolute;top: 5px;left: 3px;width: 145px;height:40px;background:transparent url('../../../img/logo_Reply.svg?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 0;background-size: 145px 40px;}
.mainTitle h1 b{font-size: 1.2em; font-weight: bold; line-height: 0.75em; letter-spacing: 1px; text-shadow:3px 3px 0 rgba(0, 0, 0, .2);}
.mainTitle h3{color: #fff; font: normal 20px'Montserrat',sans-serif; margin-top:0; padding: 0; overflow: hidden; display: block; -webkit-font-smoothing: antialiased;}
.portal.homepage .bodycolumn .widget_padding{/* max-width: 1020px; */}
.homeColumn0 .wrapwidg {margin:0 0 30px;}
.homepage .homeColumn0 .wrapwidg {padding: 0;}
.homeColumn0 .wrapwidg.classic_menu {margin-bottom: 1.5rem;}

#header_dropdown {max-width: 100%; padding:0; }
.mainMenu .navbar-default .navbar-brand {/*-webkit-text-stroke: .01rem #000; better but not xbrowser */
/*patch*/ /*text-shadow: .01rem .01rem 0 #000, -.01rem -.01rem 0 #000, .01rem -.01rem 0 #000, -.01rem .01rem 0 #000;*/}
.mainMenu > .widget_padding {margin:0; border:none; background:transparent;}
.navbar{min-height:7rem; margin:0; border:none; background:transparent;}
.navbar-collapse {border:0;}
.navbar-toggle.menu {margin:1.5rem 15px; padding:10px 0; border:none;}
.navbar-toggle[data-target='#portal_menu'] {float:left;}
.navbar-toggle.menu.profile .icon-bar,
.navbar-toggle.menu.search .icon-bar,
.navbar-toggle.menu.work .icon-bar{display:none;}
.navbar-toggle.menu.profile::before,
.navbar-toggle.menu.search::before,
/*.navbar-toggle.menu.work::before{font:normal 2em 'projectIcons'; vertical-align:middle; }
.navbar-toggle.menu.work::before{content:'\e92a';}*/
.navbar-toggle.menu.profile::before{content:'\e924'; font-size:2.2em;}
.navbar-toggle.menu.search::before{content:'\e928';}

.navbar.navbar-default .container{}
.navbar-default .navbar-brand {display:table; font:normal bold 16px/1.5rem 'MontSerrat', Arial, Helvetica, sans-serif; padding:0 1.5rem; max-width:250px; height:70px;}
.navbar-default .navbar-brand > span{display:table-cell; vertical-align:middle;}

.navbar-default .navbar-brand.with-logo{position:relative; padding-left:40px; max-width:200px; margin-left:10px; padding:1.8rem 0;}
.navbar-default .navbar-brand.with-logo .portal-logo {display:inline-block; position:absolute; left:0; width:14%; top:17px;}
.navbar-default .navbar-nav > li > a{font:normal bold 1.2rem/1.2rem 'MontSerrat', Arial, Helvetica, sans-serif; text-transform:uppercase; padding:2.9rem 1.5rem;}

.mainMenu .navbar-left .navbar-nav > li:not(.open) > a:after{content:''; height:.2rem; opacity:0; position:absolute; bottom:2rem; left:50%; right:50%;}
/*.mainMenu .navbar-left .navbar-nav > li > a:hover:after,*/
.mainMenu .navbar-left .navbar-nav > li.active > a:after{ opacity:1; left:1.5rem; right:1.5rem;  transition: 300ms ease-in-out all; -webkit-transition: 300ms ease-in-out all;}

/*.mainMenu .navbar-left .navbar-nav > li > a.dropdown-toggle:hover:after,*/
.mainMenu .navbar-left .navbar-nav > li.active > a.dropdown-toggle:after{ right:3rem;}
/*.mainMenu .navbar-left .navbar-nav > li:not(.open) > a:hover{opacity:.75;}*/

.mainMenu .dropdown-menu{min-width:.1rem; width:100%; box-shadow:none; padding:0; border-radius:0; margin:0; }
.mainMenu .dropdown-menu > li,
.mainMenu .dropdown-menu > div{padding:1.5rem 1.5rem; font-size:1.2rem;}
.mainMenu .dropdown-menu > li > a,
.mainMenu .dropdown-menu > div > a{margin:-1.5rem -1.5rem;padding: 1.5rem 1.5rem 1.5rem 4.1rem;font-size:1.2rem;white-space: normal;line-height: 1.6rem;position: relative;min-width: 195px;}
.mainMenu .navbar-left .dropdown-menu > li > a,
.mainMenu .profile .dropdown-menu > li > a{padding: 1.5rem 1.5rem; min-width:100%;}
.mainMenu .dropdown-menu > li.divider{display:none;}

.mainMenu .navbar-right .dropdown-menu{width:auto; min-width:14rem; transition: 500ms ease-in-out all; -webkit-transition: 500ms ease-in-out all;}
.mainMenu .navbar-right .dropdown-submenu .dropdown-menu{min-width:13rem;}

.mainMenu .navbar-right.profile .dropdown-menu a{white-space: nowrap;}
.mainMenu .navbar-nav .dropdown-menu li {border-top:solid .1rem; }
.mainMenu .navbar-right .dropdown-menu li:first-child{border-top-width:0; }
/*.mainMenu .navbar-right .dropdown-menu li li:first-child{border-top-width:.1rem; }*/
.mainMenu .navbar-nav .dropdown-submenu .dropdown-menu{left:100%; top: 0; bottom: 0;text-transform: capitalize;}

.mainMenu .navbar-nav .caret{border-style: solid; border-width: 0 .1rem .1rem 0; display: inline-block; padding: .3rem; margin-left: .5rem; vertical-align:middle; position:relative; top:-.25rem; transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.mainMenu .navbar-nav .open .dropdown-toggle .caret{ transform: rotate(-135deg);-webkit-transform: rotate(-135deg); top:.1rem;	/*transition: 300ms ease all; -webkit-transition: 300ms ease all;*/}
.mainMenu .navbar-nav .dropdown-submenu .dropdown-submenu-tl { display: block;position: relative; margin:0 -1.5rem; padding:0 1.5rem;}
.mainMenu .navbar-nav .dropdown-submenu .caret{  position: absolute; top: .5rem; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); transition: none; animation: none !important;}
#Profile_Menu .dropdown-toggle,
#Search_Menu .dropdown-toggle,
#Work_Menu .dropdown-toggle { padding:1.9rem; display:inline-block;border-bottom: 1px solid;}

.work a.dropdown-toggle span{font-size: 3rem;}
.mainMenu .navbar-left .navbar-nav > .dropdown > a {transition: 250ms ease all; -webkit-transition: 250ms ease all;}
.mainMenu .navbar-left .dropdown-menu {transition: 250ms ease background; -webkit-transition: 250ms ease background;}

.mainMenu .navbar-left .navbar-nav>.open>a,
.mainMenu .navbar-left .navbar-nav>.open>a:focus,
.mainMenu .navbar-left .navbar-nav>.open>a:hover{border:none;}
.mainMenu .navbar-left .dropdown-menu{border:none;/* height: 0; opacity: 0;*/}
.mainMenu .navbar-left .navbar-nav .dropdown-submenu .dropdown-menu > li > a:hover {text-decoration: underline;}

.mainMenu .lbl-menu{display:none;}
.mainMenu .navbar-right .navbar-nav>.open>a,
.mainMenu .navbar-right .navbar-nav>.open>a:focus,
.mainMenu .navbar-right .navbar-nav>.open>a:hover,
.mainMenu .navbar-right .dropdown-menu{border:none;}
.mainMenu .navbar-right .navbar-nav .dropdown-submenu .dropdown-menu > li > a:hover {text-decoration: underline;}
.dropdown-menu>li>a.sub-active,
.dropdown-menu>li>a.sub-active:hover,
.dropdown-menu>li>a.sub-active:focus,
.dropdown-menu>li>a.sub-active:visited{text-decoration: underline;}
.mainMenu .avatar img{border-radius:50%; height:30px; border:solid 1px;}

.mainMenu .navbar-right.profile > ul,
.mainMenu .navbar-right.profile > ul > li,
.mainMenu .navbar-right.work > ul,
.mainMenu .navbar-right.work > ul > li{margin:0; padding:0; list-style: none;}

.mainMenu .navbar-right a,
.mainMenu .navbar-right a:hover,
.mainMenu .navbar-right a:focus {text-decoration: none;}
.mainMenu .navbar-right a.selected,
.mainMenu .navbar-right a.selected:hover,
.mainMenu .navbar-right a.selected:focus{text-decoration:underline; font-weight:bold; background-color:#d9d9d9; cursor:default;}
.mainMenu .dropdown-menu.shiftMenu{transform: translateX(-100%);}

/* Icone Menu Work */
.mainMenu .navbar-right .navbar-nav .dropdown-menu li a::before{display:block; position:absolute; top:50%; left:15px; transform:translateY(-50%); -webkit-transform:translateY(-50%); font:normal 20px 'tamtamy-icon'; vertical-align:middle; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .tamtamy::before{content:'\e983';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .skydive::before{content:'\e984';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .cops.portal::before{content:'\e981';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .projects.library::before{content:'\e980';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .management::before{content:'\e98c';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .pma::before{content:'\e985';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .mkt.portal::before{content:'\e9a1';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .servicedesk.portal::before{content:'\e92b';}
.mainMenu .navbar-right .navbar-nav .dropdown-menu li .alliance.portal::before{content:'\e9d8';}

/* HOW TO links */
.portal .mainTitle .howto{display: inline-block;position:absolute;width: auto;max-width:1140px;top:50%;left: 50%;margin-left: 500px;text-align:right;transform:translateX(-50%) translateY(-50%);color:#fff;font-size:1.3em;line-height:2em;text-transform:uppercase;white-space: nowrap;}
.portal .mainTitle .howto::before{content:'\e97b'; display:inline-block; font:normal 1.8em 'tamtamy-icon'; vertical-align:middle; margin:-4px 10px 0 0;}

/*Animations*/
@-webkit-keyframes subCaret {
	0% {left: 0;}
    50% {left: 1rem;}
    100% {left: 0;}
}
@keyframes subCaret {
    0% {left: 0;}
    50% {left: 1rem;}
    100% {left: 0;}
}

/* ### media query without bootstrap customized ### @media only screen and (min-width : 320px) and (max-width : 768px) {*/
@media only screen and (max-width:1200px){
	.navbar-default .navbar-brand.with-logo .portal-logo{display:none;}
	.navbar-default .navbar-brand.with-logo {padding-left:0; margin-left:0;}
	.mainTitle h1{padding:0 30px;}
	div[data-menu-page='joinCop'] + .mainTitle h1 b {font-size:1em; line-height:0.9em; display:block;}
	.fixedBody body{overflow:hidden;position:fixed;left: 0;right: 0; height: 100%;}
	.menuOverlay{ content:' '; display:block; position:fixed; top:0; right:0; bottom:0; left:0; z-index:2;transition: 300ms ease opacity; -webkit-transition: 300ms ease opacity;}
	.nav > li{border-bottom-style:solid; border-bottom-width: .1rem;}
	.navbar-collapse.navbar-left.collapse.in  .nav.navbar-nav{margin-bottom:0;}
	.mainMenu .navbar-nav .dropdown-submenu {padding-bottom:0;}
	.mainMenu .dropdown-menu > div{padding:1rem ;}
	.mainMenu .dropdown-menu > li > a,
	.mainMenu .dropdown-menu > div > a{padding:1rem 1rem; }
	.navbar-collapse.navbar-left.collapse.in{width:100%;}
	.navbar-collapse.navbar-left.collapse.in .dropdown-menu{position:static; margin-top: 0;}

	/*.navbar-collapse.navbar-left.collapse.in .dropdown-submenu .dropdown-menu{margin-top:1rem;}*/
	.mainMenu .navbar-nav .dropdown-submenu .dropdown-menu li{margin-left:-1.5rem; padding-left:1.5rem; margin-right:-1.5rem; padding-right:1.5rem;}
	.navbar-nav .dropdown .dropdown-menu > li > a{padding:2rem 1.5rem 2rem 4.5rem;}

	.profile .navbar-nav .dropdown .dropdown-menu > li > a,
	.navbar-left .navbar-nav .dropdown .dropdown-menu > li > a{padding:2rem 1.5rem;}
	.navbar > .navbar-left,
	.navbar > .navbar-right{overflow-y:auto !important; overflow-x: hidden !important;}
	.mainMenu .navbar-left .navbar-nav .dropdown-submenu .dropdown-menu{position:static;}

	.mainMenu .navbar-right .dropdown {position: static;}
	.mainMenu .navbar-right.profile .dropdown-toggle{position:absolute; top:0; right:0; z-index:9999;}
	.mainMenu .navbar-right.work .dropdown-toggle{position:absolute; top:0; right:70px; z-index:9999;}

	#Profile_Menu .dropdown-toggle,
	#Search_Menu .dropdown-toggle,
	#Work_Menu .dropdown-toggle {border:none;}

	.mainMenu .navbar-left .navbar-nav > li > a:hover:after,
	.mainMenu .navbar-left .navbar-nav > li.active > a:after {display:none;}
	.mainMenu .navbar-left .navbar-nav > li.active > a {text-decoration: underline;}

	.mainMenu .navbar-nav .dropdown-submenu .caret{ right:2rem;top:1rem;transform: translateY(-50%) rotate(45deg); -webkit-transform: translateY(-50%) rotate(45deg);}
	.mainMenu .navbar-nav .dropdown-submenu.open .caret{transform: translateY(-50%)  rotate(-135deg);-webkit-transform: translateY(-50%)  rotate(-135deg);}
	.navbar-collapse.navbar-left.collapse.in:after,
	.navbar-header,
	.navbar-collapse.navbar-left.collapse.in  .nav.navbar-nav{position:relative; z-index:9999;}
	.mainMenu .navbar-right .open .dropdown-menu{ z-index:9999;}
	.mainMenu .navbar-right .open .dropdown-menu:before {content:' '; position:absolute; top:0; left:-100%; width:100%; right:100%; bottom:0;}
	.mainMenu .navbar-right .open .dropdown-menu:after {content:' '; position:absolute; top:0; left:100%; width:100%; right:-100%; bottom:0;}
	.mainMenu .navbar-right .dropdown-submenu{position:relative; left:0; margin-left:-100%; margin-right:-100%; padding-left:100%; padding-right:100%; z-index:1;}
	.mainMenu .navbar-right .dropdown-submenu .dropdown-submenu-tl,
	.mainMenu .navbar-right .dropdown-submenu .dropdown-menu li{margin:0; }
	.mainMenu .navbar-nav .dropdown-submenu .dropdown-menu{position:static;}
	.mainMenu .dropdown-menu.shiftMenu{right:0;}
	.navbar-right .dropdown-menu{left:0;}
	.mainMenu .navbar-nav .dropdown-submenu .dropdown-submenu-tl {padding-top:.5rem; padding-bottom:2rem;}
	.portal .mainTitle .howto{max-width:930px;margin-left: 400px;}
}
@media only screen and (max-width:991px) {
	.homepage .banner .mainTitle h1 span,
	.homepage .banner .mainTitle h3 {text-align:center;}
	.mainTitle h1 span {font-size: 2.1em;}
	.mainTitle h1 span.reply_title{width:100%;}
	.mainTitle h1 span.reply_title::before {left:50%; transform:translateX(-50%); -webkit-transform: translateX(-50%)}
	.portal .mainTitle .howto{max-width:720px; margin-left:305px;}
	.portal .mainTitle .howto span{padding:0 20px 0 0;}
	.portal.homepage .bodycolumn .widget_padding{margin:0 auto;}
}
@media only screen and (max-width : 768px){
	.banner .widget_padding > div .mainTitle{padding:0; height:65px;}
	.portal .mainTitle .howto{margin-left: 0;left: auto;right: 0;}
	.portal .mainTitle .howto span{display:none;}
}
@media only screen and (min-width: 992px){
	.homepage .mainTitle::before {width:455px; left:45.2%;}
}
@media only screen and (min-width : 1200px) {
	.homepage .mainTitle::before { width: 520px; /*! height: 215px; */}
	.mainMenu .navbar-nav .menu-tab .dropdown-submenu .dropdown-menu{display:block!important; width:0!important; opacity:0; min-width:0; overflow-x:hidden; }
	.mainMenu .navbar-nav .menu-tab .dropdown-submenu .dropdown-menu li{white-space:nowrap; width:1000px;}
	.mainMenu .navbar-nav .menu-tab .shiftMenu .dropdown-submenu .dropdown-menu li{white-space:normal; width:auto;}
	.mainMenu .navbar-nav .menu-tab .dropdown-submenu:hover .dropdown-menu{ width:100%!important; opacity:1;}
/*anim submenu on desktop*/
	.mainMenu .navbar-nav .menu-tab .dropdown-submenu .dropdown-menu{transition:300ms linear; -webkit-transition:300ms linear; }
	.mainMenu .navbar-nav .dropdown-submenu.open .caret{transform: translateY(-50%)  rotate(-135deg); -webkit-transform:translateY(-50%)  rotate(-135deg);}
/*prove*/
	.mainMenu .navbar-nav .dropdown-submenu .dropdown-menu {opacity: 1;}
	.mainMenu .navbar-nav .dropdown-submenu:hover .dropdown-menu {display: block;}
	.mainMenu .navbar-right .dropdown-submenu .dropdown-menu{min-width:100%;}
}

