/*tabber circle*/
.mkt_campaign .page_tabber {height:auto !important;}
.mkt_campaign .page_tabber .widget_padding { padding: 35px 0 }
.mkt_campaign .page_tabber  .widget_title{margin:0 0 35px 0; text-transform:uppercase; font-weight:normal;}
.mkt_campaign .page_tabber .nav-pills>li>a::after,
.mkt_campaign .page_tabber .nav-pills>li>a:hover::after{content:'\e946'; font-family:'tamtamy-icon'; background:none; display:block; position:static; height:auto; width:auto; margin-top:20px; opacity:1; -webkit-transition: 0.7s ease all; transition: 0.7s ease all;}
.mkt_campaign .page_tabber .nav-pills>li.active>a::after,
.mkt_campaign .page_tabber .nav-pills>li.active>a:hover::after {transform: rotate(-180deg);}

.mkt_campaign .page_tabber .nav-pills.howToUseCrm>li>a::after,
.mkt_campaign .page_tabber .nav-pills.howToUseCrm>li>a:hover::after{content:'\e946'; font-family:'tamtamy-icon'; background:none; display:block; position:static; height:auto; width:auto; margin-top:0; position:absolute; bottom:35px; left:50%; right:auto; transform:translateX(-50%); opacity:1;}

.mkt_campaign .page_tabber .nav-pills>li>a::before {content:''; background:none; display:block; height:140px; width:140px; background-size:700px 280px; border-radius:50%; margin-bottom:30px; transition:none; border:1px solid #000; opacity:1;}
.mkt_campaign .page_tabber .nav-pills>li:hover>a::before,
.mkt_campaign .page_tabber .nav-pills>li.active>a::before{content:''; background:none; background-size:700px 280px; border-radius:50%; transition:none; display:block; border:1px solid #000; opacity:1;}

.mkt_campaign .customer .container {padding:40px 0; height:390px; box-sizing:content-box; position:relative;}
.mkt_campaign .container .customer__title{font-size:23px; margin:0;}
.mkt_campaign .container .customer__par{margin:20px 0; font-size:16px;}
.mkt_campaign .container .customer__list{list-style:none; margin-bottom:0px;}
.mkt_campaign .container .customer__item {position:relative; padding-left:18px; margin-bottom:10px;}
.mkt_campaign .container .customer__item:last-child{margin-bottom:0;}
.mkt_campaign .container .customer__item:after{content:''; position:absolute; width:5px; border-radius:50%; height:5px; display:block; left:0; top:50%; transform:translateY(-50%);-webkit-transform: translateY(-50%)}
.mkt_campaign .container .customer__bottom{position:absolute;bottom: 22px;width:100%;padding:0;}
.mkt_campaign .container .customer__bottom .v-center{display:inline-block; vertical-align:middle; float:none;}
.mkt_campaign .container .customer__bottom .v-center.second{margin-top:21px;}
.mkt_campaign .container .customer__btn{padding:10px; border-radius:8px; text-align:center; min-width:230px; display:inline-block; text-transform:uppercase; text-decoration:none;}
.mkt_campaign .container .customer__btn .customer__icon {display:inline-block; vertical-align:middle; font-size:30px;}
.mkt_campaign .container .customer__img img{display:inline-block; width:50px; height:50px; border-radius:50%; vertical-align:middle; margin-right: 10px; border: 4px solid #007d88;box-sizing: content-box;}
.mkt_campaign .container .cusoter-title{display:inline-block; margin-top:21px; padding:0;width: 22%}
.mkt_campaign .container .customer__txt{text-decoration:none;display:inline-block;margin-bottom:0;padding: 0 55px 15px 0;box-sizing: content-box;}
.mkt_campaign .container .customer__info{display:inline-block; vertical-align:middle;}
.mkt_campaign .container .customer__name{text-transform:uppercase; text-decoration: underline;cursor: pointer;}
.mkt_campaign .container .customer__language{display: block; text-transform: uppercase;text-decoration: none;}
.mkt_campaign .container .customer__circle {width: 200px;height: 200px;border-radius: 50%;margin: 0;display: inline-block;border: 2px dashed #000;background: none;background-size: 51%;}

.mkt_campaign .container .customer__top{position:static;}
.mkt_campaign .container .customer__right{position:absolute; right:0; top:65px;text-align: right;}


/*tubber triangle*/
.mkt_campaign .page_tabber.howToUseCustomer .widget_padding {padding:0;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills {width:100%;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li{position:relative;height: 245px;vertical-align: middle;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li:last-child.active{z-index:12;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li::after{content:" "; display:block; width:0; height:0; position:absolute;top: 0;right: -26px;border-top: 139px solid transparent;border-bottom: 120px solid transparent;border-left: 28px solid #000;z-index: 9;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.active::after{border-left:28px solid #000;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li::before{content:" "; display:block; width:0; height:0; position:absolute;top: 0;right: -24px;border-top: 139px solid transparent;border-bottom: 120px solid transparent;border-left: 27px solid #000;z-index: 11;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.active::before{border-left:27px solid #000;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.distribution::before {content: ''; border-right: 1px solid #fff; right: 0;height: 255px;border-left: 1px solid #fff;border-bottom: 1px solid #fff;border-top: 1px solid #fff;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.distribution::after{content: none;border: none}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.distribution.active::before,
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.distribution.active::after {content: none; border: none;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li:last-child::after,
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li:last-child::before{content:none;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li > a{position:static;padding: 0 0 65px;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li > a::before{content:''; background:none; display:block; height:140px; width:140px; background-size:700px 280px; margin:0 auto; border:none; transition:none; opacity:1;}
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li:hover > a::before,
.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.active > a::before{content:''; background:none; background-size:700px 280px; display:block; border:none; transition:none; opacity:1;}
.mkt_campaign .howToUseCustomer__content{padding:40px 0; box-sizing:content-box; position:relative;}
.mkt_campaign .howToUseCustomer__content .container .customer__title{margin-bottom:20px;}

.mkt_campaign .heder__arrow.tti-freccia_sinistra_02{left:0; position:absolute; top:50%; transform:translateY(-50%); color:#fff;text-decoration: none; cursor: pointer;font-size:30px; z-index:9;}
.mkt_campaign .howToUseCustomer__bottom {display:none; text-transform:uppercase; margin-bottom:15px;}
.howToUseCustomer__left {margin-bottom: 20px;}
.howToUseCustomer__right .blue_button a { text-transform:uppercase;}
.howToUseCustomer__right .blue_button a:after { content:'\e944'; display:inline-block; vertical-align:middle; font-size:14px; margin-left:6px;}

/* Media Queries */
@media only screen and (max-width : 767px) {
	.mkt_campaign .customer .container {height: auto;}
	.mkt_campaign .customer.tab-pane .container{padding:20px 0;}
	.mkt_campaign .container .customer__right {position:static;margin: 0 auto 20px;text-align: center;}
	.mkt_campaign .container .customer__circle {margin:0 auto; width:150px; height:150px;position: static;border-width: 1.5px;}
	.mkt_campaign .container .cusoter-title {margin-bottom: 20px;margin-top: 0}
	.mkt_campaign .container .customer__title{font-size: 1.3em;font-weight: bold;}
	.mkt_campaign .container .customer__par{font-size:.9em;}
	.mkt_campaign .container .cusoter-title {width: 100%}
	.mkt_campaign .container .customer-title {margin-top:0; margin-bottom:15px;}
	.mkt_campaign .container .customer__bottom { position:static; padding-top:20px;}
	.mkt_campaign .container .customer__txt:last-child {padding-bottom:0;}
	.mkt_campaign .container .customer__list{margin-bottom: 30px;}
	/*.mkt_campaign .container .cusoter-title {margin-bottom: 15px;}*/
	.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.distribution::before {content: none; border: none;}

	/*Round Tabber*/
	.mkt_campaign .page_tabber .widget_padding{position:static !important;padding:80px 0 15px;background-color: #fff;}
	.mkt_campaign .page_tabber .widget_title{position:absolute;width:100%;left:0;top:30px;font-size:1.2em;}
	.mkt_campaign .page_tabber .widget_title + div{}
	.mkt_campaign .page_tabber .nav-pills > li{padding:0 6px;}
	.mkt_campaign .page_tabber .nav-pills > li > a,
	.mkt_campaign .page_tabber .nav-pills > li.active >a,
	.mkt_campaign .page_tabber .nav-pills > li.active >a:focus,
	.mkt_campaign .page_tabber .nav-pills > li.active >a:hover{font-size: 12.6px;line-height: 1em;text-transform:capitalize;white-space: normal;min-height: 130px;}
	.mkt_campaign .page_tabber .nav-pills > li > a::before{width:77px; height:77px; margin-bottom:10px;}

	.mkt_campaign .page_tabber .nav-pills > li > a::after,
	.mkt_campaign .page_tabber .nav-pills > li > a::after,
	.mkt_campaign .page_tabber .nav-pills > li > a:hover::after{margin:0;position: absolute;width: 12px;transform: translateX(-50%);left: 50%;right: auto;display: block;}
	.mkt_campaign .page_tabber .nav-pills > li.active > a:hover::after {transform: rotate(-180deg) translateX(55%);}

	/*Vertical Mobile Approach*/
	.page_tabber.vertical_mobile{width:30%; float:left;}
	.tab-pane.vertical_mobile{width:70%; float:left;}
		/*tabber arrows*/
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li{position:relative;height:255px;width:100%; display:block; box-sizing:border-box; padding:0; height:auto;}
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li::after{content:" ";display:block;width:0;height:0;position:absolute;top:auto;bottom: -12px;right:auto;left:50%;transform:translateX(-50%);border-bottom:none;border-left: 120px solid transparent;border-right: 120px solid transparent;border-top: 12px solid #000;z-index:9;}
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li.active::after{border-top: 12px solid #fff;border-left: 120px solid transparent;}

	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li::before{content:" ";display:block;width:0;height:0;position:absolute;top:auto;bottom: -10px;right:auto;left:50%;transform:translateX(-50%);border-left: 120px solid transparent;border-right: 120px solid transparent;border-top: 12px solid #000;border-bottom:none;z-index:11;}
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li.active::before{border-top: 12px solid #fff;border-left: 120px solid transparent;}

	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li:last-child::after,
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li:last-child::before{content:none;}

	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li > a{position:static;text-transform:capitalize;font-size:0.9em;padding: 10px 0 5px;}
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li > a::after,
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li > a:hover::after{display:none;}
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li > a::before{content:''; background:none; display: block; height: 140px; width: 140px; background-size: 700px 280px; margin:0 auto; border:none; transition:none;opacity: 1}
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li:hover > a::before,
	.mkt_campaign .page_tabber.vertical_mobile .nav-pills > li.active > a::before{content:'';background:none;background-size: 700px 280px;display: block;border: none;transition: none;opacity: 1;}
	.mkt_campaign .howToUseCustomer__bottom {display: block; font-size: 14px;}
	.howToUseCustomer__right .blue_button {font: 14px;}
	.mkt_campaign .btn_crm {display: none}
	.mkt_campaign .howToUseCustomer__bottom,
	.howToUseCustomer__right  {text-align: center;}
	.mkt_campaign .howToUseCustomer__bottom .blue_button,
	.howToUseCustomer__right .blue_button {height: 42px;width: auto;min-width: 200px;padding: 0 15px;}
}
@media only screen and (min-width : 767px) {
	.mkt_campaign .container .cusoter-title {margin-bottom: 34px}
	.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.brief,
	.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.templateEm{padding:0 0 0 40px;}
	.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.distribution{padding:0 10px 0 30px;}
	.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.brief a::after,
	.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.templateEm a::after{margin-left:20px !important;}
	.mkt_campaign .page_tabber.howToUseCustomer .nav-pills > li.distribution a::after{margin-left:10px !important;}
}
@media only screen and (min-width : 768px) and (max-width : 991px) {
	.mkt_campaign .page_tabber.howToUseCustomer .widget_padding{width:100%;}
	.mkt_campaign .customer .container{height:500px;}
	.mkt_campaign .customer .container > .row{margin:0;}
	.mkt_campaign .container .cusoter-title{margin-top:0px;}
	.mkt_campaign .container .customer__img  img{width:40px; height:40px;}
	.mkt_campaign .container .customer__txt{padding: 0 35px 15px 0;}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.mkt_campaign .customer .container{height:440px;}
}