.page_title h1{padding:0; margin:0; text-align:center; font:bold 3.6rem/100% 'MontSerrat', Arial, Helvetica, sans-serif; text-transform: capitalize;display: table-cell;vertical-align: middle;padding: 0 15px; word-break: break-word;}
.cops .page_title h1 {text-transform: none;}
.page_title h1 strong { font-weight: bold;}
.page_title{ border-bottom: 0; min-height: 15rem; position:relative;}
.page_title .widget_padding{ width: 100%;height: 100%; position: absolute;}
.page_title .widget_padding > div{height: 100%;display: table; width: 100%;vertical-align: middle;}

.page_tabber{color: #fff;text-align:center;position:relative;overflow:hidden; height:5.5rem; margin:0;}
.page_tabber ~ .tab-pane {display: none;}
.page_tabber ~ .tab-pane.active {display: block;}
.page_tabber .widget_padding{padding: 1.75rem 0;transition:padding .5s cubic-bezier(0, 0.57, 0.44, 1);}
.page_tabber .nav-pills{display:inline-block;margin:0 auto;-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.page_tabber .nav-pills *,
.page_tabber .nav-pills *:hover,
.page_tabber .nav-pills *:focus{border:none; color:inherit; padding:0; margin:0; font: inherit; box-sizing: border-box;}
.page_tabber .nav-pills>li,
.page_tabber .nav-pills>li:hover{padding: 0 2rem;}
.page_tabber .nav-pills >li >a{text-transform:uppercase;}
.page_tabber .nav-pills>li>a::after{content:''; height:.2rem; opacity:0;  width:0; position:absolute; bottom:-.2rem; left:50%; right:50%; z-index:2;}
.page_tabber .nav-pills>li>a::before,
.page_tabber .nav-pills>li>a:focus::before,
.page_tabber .nav-pills>li>a:hover::before,
.page_tabber .nav-pills>li.active>a::before,
.page_tabber .nav-pills>li.active>a:focus::before,
.page_tabber .nav-pills>li.active>a:hover::before{content:none; display:none;}

.page_tabber .nav-pills>li.active>a,
.page_tabber .nav-pills>li.active>a:focus,
.page_tabber .nav-pills>li.active>a:hover{background:transparent;}

.page_tabber .nav-pills>li.active>a::before,
.page_tabber .nav-pills>li.active>a:focus::before,
.page_tabber .nav-pills>li.active>a:hover::before{opacity:1;bottom: -3rem;}
.page_tabber .nav-pills>li.active>a::after,
.page_tabber .nav-pills>li.active>a:hover::after,
.page_tabber .nav-pills>li.active>a:focus::after,
.page_tabber .nav-pills>li.active>a:hover::after{opacity:1; width:100%;left:0; right:0;}

.page_tabber .nav-pills>li>a::before,
.page_tabber .nav-pills>li>a::after{transition: 300ms ease all; -webkit-transition: 300ms ease all;}

.page_title::after,
.page_title::before{content:''; position:absolute; top:0; bottom:1rem; width:3rem; z-index:2;}
.page_title::after{left:0rem; mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);-moz-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);	-webkit-mask-image: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);}
.page_title::before{right:0rem;mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);-moz-mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);-webkit-mask-image: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);}

/*.page_tabber .nav-pills::after {content:''; height:2rem; display:block; position: absolute;  bottom: 4px;right: 0;left: 0;}*/
.gecko .page_tabber .nav-pills::after{bottom: 0;}
.page_tabber .widget_padding{ overflow-x:auto; overflow-y:hidden;  -ms-touch-action:pan-x; touch-action:pan-x; overflow-scrolling:touch;  -webkit-overflow-scrolling:touch; -webkit-overflow-scrolling: touch!important; -ms-overflow-style: -ms-autohiding-scrollbar!important; }
.page_tabber .widget_padding::-webkit-scrollbar {visibility:hidden; display: none !important; width: 0 !important; height: 0 !important;background-color: transparent;}
.page_tabber .widget_padding::-webkit-scrollbar-thumb {display: none !important;}

.page_tabber .nav-pills{white-space:nowrap; display:table; cursor:default;}
.page_tabber .nav-pills li{display:table-cell; float:none;}

.page_tabber.page_tabber_fixed{width:100%; z-index:88;overflow:visible;}
.page_tabber.page_tabber_fixed .widget_padding{padding:1.75rem 0; position:fixed; top:71px; width:100%;}
.page_tabber.page_tabber_fixed .nav-pills>li.active>a::before,
.page_tabber.page_tabber_fixed .nav-pills>li.active>a:focus::before,
.page_tabber.page_tabber_fixed .nav-pills>li.active>a:hover::before{display:none;}
.page_tabber.page_tabber_fixed .nav-pills::after{height:1rem; display:none;}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.page_tabber{/*height:68px;*/}
	.mobile.android .page_tabber{/*height:66px;*/}
	.page_tabber .nav-pills::after{bottom:-2px;}
	.page_tabber .nav-pills>li.active>a,
	.page_tabber .nav-pills>li.active>a:focus,
	.page_tabber .nav-pills>li.active>a:hover{font-size:100%;top:0;}
}

@media only screen and (min-width : 481px) and (max-width : 768px) {
	.page_tabber{/*height:68px;*/}
	.mobile.android .page_tabber{/*height:66px;*/}
	.page_tabber .nav-pills::after{bottom:-2px;}
}
