.yellow_alert
{
    padding: 15px 0;
    position: absolute;
    left: -8%;
    top: 0;
    width: 65px;
    border-top: 3px solid #000;
}

.yellow_alert .top_part,
.yellow_alert .bottom_part
{
    padding: 0 5px;
    text-align: center;
}

.yellow_alert .top_part .yellow_icon
{
    width: 50px;
    height: 38px;
}

.yellow_alert .bottom_part .alert_text
{
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
	line-height: 12px;
}

/* Custom Media */
@media only screen and (max-width: 1300px)
{
    .yellow_alert
    {
        display: none;
    }
}

@media only screen and (min-width: 1301) and (max-width: 1400px)
{
    .yellow_alert
    {
        left: -7%;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 0px) and (max-width : 767px) {
    .yellow_alert
    {
        display: none;
    }
}
