@import url('../modals/modals.css');

.meetingRooms .modal.fade.in{top:15%;}
.body {margin: 10px 5px 5px 10px}
.timelabel{line-height:1.3em;}
.floatingLeft {float:left; margin-right:10px;}
#timeDiv {height:15px;}


/*ddslick plugin customization*/
.dd-selected, .dd-option {padding-bottom: 2px; padding-left: 2px; padding-top: 2px; text-align: left;}
.dd-selected, .dd-selected:hover {color:inherit;}
.dd-options {position:fixed; max-height:186px;}
.dd-pointer {right:3px;}
.dd-container a {text-decoration:none;}
.dd-container a label {cursor:pointer;}

/* meetingRooms CSS */

.box {float:left;display:block; width:33px; height:35px; text-align: center; border: none;border-top: 1px solid #D1D1D1;border-left: 1px solid #D1D1D1;background: none repeat scroll 0 0 white; line-height: 35px; font-weight: normal;}
.banner {background: none repeat scroll 0 0 #F1F1F1;font-size: 0.9em;}
.room {width:142px;font-size: 0.9em;}
.room:not(.banner){background: #418EE0;color: #FFF;border-top-color: #6FACFA; /*line-height: 16px;*/} /*de comment for 2 line room name (es room capicity in the second line)*/
.room.banner{font-size:1em}
.room.banner i.title{font-size:0.9em;font-weight:bold;}
.ui-selecting { background: #FECA40; }
.ui-selected { background: #00CC33; color: white; } 

.busy {
	background: #eb2323; /* Old browsers */
	background: -moz-linear-gradient(top,  #eb2323 0%, #c60004 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eb2323), color-stop(100%,#c60004)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eb2323 0%,#c60004 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eb2323 0%,#c60004 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eb2323 0%,#c60004 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eb2323 0%,#c60004 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2323', endColorstr='#c60004',GradientType=0 ); /* IE6-9 */
	}

.busyByMe {
	background: #008000;background: -moz-linear-gradient(top,  #008000 0%, #006b00 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008000), color-stop(100%,#006b00)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #008000 0%,#006b00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #008000 0%,#006b00 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #008000 0%,#006b00 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #008000 0%,#006b00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#006b00',GradientType=0 ); /* IE6-9 */
	}

.busyOption {color:#d1d1d1;}
.hiddenBusyOption {display:none;}
.lastOfInterval {border-bottom: 1px solid;}
           
.notifications.in { background: none repeat scroll 0 0 #03C03C; border: 1px dotted #808080; margin-bottom: 20px; padding: 10px; font-weight: bold; }
.notifications.in.error-notification{background: none repeat scroll 0 0 #FF4D00; color:#ffffff;}
.notifications.in.error-notification .mail{color:#ffffff; text-decoration:underline;}
.notifications.hide { display:none;}
.notifications .close{margin-top:2px; float: right; text-decoration: none; font-weight: bold; color: black; cursor:pointer;}
.notifications.in.error-notification .close{color:#ffffff;}
.modal-notifications.in { background: none repeat scroll 0 0 #e4e8cf; border: 1px dotted #808080; margin-bottom: 20px; padding: 10px; font-weight: bold; }
.modal-notifications.hide { display:none;}
.dateSelect { margin-right: 45px; padding-left: 8px; }
.dateInput { padding-left:4px; min-height: 28px; min-width: 150px;  font-size: 14px; border: 1px solid #D1D1D1; color: #777777;}
.select {min-height: 30px; min-width: 160px; max-width: 246px; margin-right: 45px; font-size: 14px; }
.timeInfo.in { border: 1px solid #D1D1D1; line-height: 15px;min-height: 30px;text-align: center; width: 165px; display: inline-block; float: right; padding: 2px; background-color:#ebebeb;}
.timeInfo.hide {display:none;}
.table.in {clear: both; overflow: hidden;border-right: 1px solid #D1D1D1;border-bottom: 1px solid #D1D1D1;margin: 15px 0; }
.table.hide{display:none;}

.fake_widget_body .table.in{display:table;width:100%;}
.fake_widget_body .table.in > ol,
.fake_widget_body .table.in > ul{display:table-row;}
.fake_widget_body .table.in > ol li,
.fake_widget_body .table.in > ul li{display:table-cell;box-sizing: border-box;float:none;vertical-align: middle;}
.fake_widget_body .table.in > ol li.room,
.fake_widget_body .table.in > ul li.room{width: 18%;line-height: 12px;padding: 5px 1%;text-align: left;}

.fake_widget_body .table.in li.room i.seats.ui-selectee {padding: 5px 0 5px 25px;margin: 2px 0 0 0;background: url('../../graphic/ico-seats.png') no-repeat 2px 0;float: right;display: block;width: 20px;}
.fake_widget_body .table.in li.room span.roomName {width: 105px;overflow: hidden;display: block;text-overflow: ellipsis;word-wrap: break-word;max-height: 24px;}
.fake_widget_body .table.in li.room span.roomName > *:first-child {float: right;width: 100%;margin-left: -5px; }

.fake_widget_body .table.in li.room span.roomName:before{content: "";float: left;width: 5px;height: 24px;}
.fake_widget_body .table.in li.room span.roomName:after	{content:'...';color:#FFF;box-sizing: content-box;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;float: right;
position: relative;top: -12px;left: 100%;width: 3em;margin-left: -3em;padding-right: 5px;text-align: right;
background: -webkit-gradient(linear, left top, right top, from(rgba(65, 142, 224, 0)), to(rgba(65, 142, 224, 1)), color-stop(50%, rgba(65, 142, 224, 1)));
background: -moz-linear-gradient(to right, rgba(65, 142, 224, 0), rgba(65, 142, 224, 1) 50%, rgba(65, 142, 224, 1));
background: -o-linear-gradient(to right, rgba(65, 142, 224, 0), rgba(65, 142, 224, 1) 50%, rgba(65, 142, 224, 1));
background: -ms-linear-gradient(to right, rgba(65, 142, 224, 0), rgba(65, 142, 224, 1) 50%, rgba(65, 142, 224, 1));
background: linear-gradient(to right, rgba(65, 142, 224, 0), rgba(65, 142, 224, 1) 50%, rgba(65, 142, 224, 1));}

.tableMyBooking.hide{ display:none; }
.tableMyBooking.in{ margin: 20px 0 5px; border-right: 1px solid #D1D1D1; border-bottom: 1px solid #D1D1D1; }
.tableMyBooking.in > div{display: table;width: 100%;}
.myBooking{width:auto;height:35px;display: table-cell;text-align: center; border: 1px solid #D1D1D1; border-style: solid none none solid; border-width: 1px medium medium 1px; color: #777777;box-sizing: border-box;padding: 5px;vertical-align: middle;}
.myBookingButton {float: left; margin: 10px 10px 10px 0; text-align: center; width: 182px;}

.myBooking.myBookingDate		{width: 10%;}
.myBooking.myBookingStartTime	{width: 8%;}
.myBooking.myBookingEndTime		{width: 8%;}
.myBooking.myBookingOffice		{width: 9%;}
.myBooking.myBookingRoomName	{width: 15%;}
.myBooking.myBookingTitle		{width: 25%;}
.myBooking.myBookingMail		{width: 25%;}

.myBooking.banner {color: #1C94C4;}
.myFutureBookingTitle { border-style: solid none none solid; border-width: 1px 0; border-color: #D1D1D1; height: 33px; line-height: 33px; margin: 20px -15px 10px;
   						border-bottom: 1px solid #D1D1D1; border-right: 1px solid #D1D1D1; color: #4C4C4C; font-size: 14px; font-weight: bold;  padding-left: 5px; background-color: #EBEBEB;}
.noMyFutureBooking.in {background: none repeat scroll 0 0 #e4e8cf; border: 1px dotted #808080; margin: 20px 0 10px 0; padding: 10px; font-weight: bold;}
.noMyFutureBooking.hide{display:none;}

.modal-body input {min-height: 30px; min-width: 200px; margin: 10px 0 10px 10px; padding-left: 5px; border: 1px solid #ddd;}
.modal-body .insert-title-div input{margin:10px 0; min-width:250px;}
.statements.in{wifth:100%; heigth:70px;line-height: 70px; font-weight: bold; text-align: center; background-color:#e4e8cf; margin:20px 0 0 0; }
.statements.hide{display:none;}
.ui-selectee:not(.busy):not(.busyByMe):not(.banner):not(.room){cursor:pointer;}
.ui-selectee:not(.busy):not(.busyByMe):not(.banner):not(.room):hover{/* background: #E2E2E2;*/}

.widgetListPager{border-right:0px;position: relative;}
.widgetListPager a.prev { background-position: 0 -16px;left: -10px;}
.widgetListPager a {position: absolute;top: 10px;}

#roomTypes{display:none}
option[value="text"] {padding-right: 10px;color: #CCC;}


/* Container */
.centralBody .column_padding {padding:0}
.fake_widget{border: 1px solid #d1d1d1; background: white; margin-bottom:40px;}
.fake_widget_body{padding:20px 14px 10px 15px;}

/* Meeting room tooltip */
#tooltip-booked{display:block;text-align:left;min-width:200px;}
#tooltip-booked .info{display:block;float:left;margin-left:5px;}
#tooltip-booked .avatar{display:block;float:left}
#tooltip-booked .requestedByUser{color:#4493e9}

#tooltip-hint{text-align:left; width:160px;}

.insert-title-div {margin-top:20px;}
.meetingRooms #bookingModal .insert-title-div{margin-top:0;}
.meetingRooms #bookingModal .insert-title-div select#Attendees{height:30px;width:189px;}
.linux .meetingRooms #bookingModal .insert-title-div select#Attendees {width: 192px;}
.mandatory-alert {color:red;}
.meetingRooms .insert-title-div .mandatory-alert {float: right; margin: 20px 30px 0 0;}

.selections {display: table; width: 100%;}
.selections > * {display: table-cell; vertical-align: middle;}

/* SUGGESTION - SMARTUPLOADER */
.modal#modalSuggestion{width:700px;margin-left:-350px;padding:0;}
.modal#modalSuggestion .modal-header{background:#dadada}
.modal#modalSuggestion .search-text{margin-top:10px;width:100%}
.modal#modalSuggestion .modal-body{min-height:100px}
.modal#modalSuggestion .modal-item{border: 1px solid #dadada; margin-bottom:5px; padding: 5px; position:relative; width:100%; overflow:hidden;cursor:pointer}
.modal#modalSuggestion .modal-item:hover{background: #eeeeee;}
.modal#modalSuggestion img.modal-item-avatar{width:40px; height:40px; vertical-align:middle}
.modal#modalSuggestion span.modal-item-name{padding-left:10px; white-space: nowrap;text-overflow: ellipsis;}
.modal#modalSuggestion span.modal-item-info{padding-left:10px; margin-top: 5px; white-space: nowrap;text-overflow: ellipsis;}
