/*
Name: Collective Brain Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
a, a h1, a h2, a h3, a h4, a h5 {color:#ccaa02;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#777;}
body{background:#fff6cb url(../graphic/bg.jpg) top center repeat-x;}
#header h1{background:url(../graphic/logo-tamtamy.gif) no-repeat;}
#header ul li a{color:#967c00;text-shadow:0 1px 0 #e5d378;background:#e5d378 url(../graphic/title-bg.png) repeat-x;border-color:#dbc141;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{text-shadow:0 1px 0 #fff;color:#374560;background:#fff url(../graphic/title-bg.png) bottom repeat-x;border-color:#fff;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3{background:#e5d378 url(../graphic/hl.png) repeat-x top;color:#967c00;text-shadow:0 1px 0 #e5d378;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:#e5d378 url("../graphic/title-bg.png") repeat-x scroll 0 0;border-color:#dbc141;color:#967c00;}
.vwall a, #userview a {color:#967c00;}
ul.pager li a:hover,ul.pager li a.on{background:#dbc141;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer p#logo_pow a{background:url(../graphic/logo_pow.gif) no-repeat;}
