/* WIDGET STRUCTURE */
.carousel02_widget
{
    margin: 20px 0;
}

.carousel02_widget .widget_title
{
	color: #ffffff;
    text-align: center;
    letter-spacing: 3px;
	font-weight: normal;
	font-size: 20px;
}

.carousel02_widget .description
{
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}

#best_practices_carousel .a_best_practice
{
    margin: 20px 10px;
    background-color: white;
}

#best_practices_carousel .a_best_practice .title_carousel
{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

#best_practices_carousel .a_best_practice .description_carousel
{
    min-height: 5.3em;
    margin: 10px 0;
    font-size: 12px;
}

#best_practices_carousel::after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: -3px;
    height: 100%;
    width: 20%;
    pointer-events: none;
    background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(62,196,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(62,196,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(62,196,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#3ec4cb',GradientType=1 ); /* IE6-9 */
}

#best_practices_carousel span
{
    color: #303030;
}

#best_practices_carousel span,
#best_practices_carousel a
{
    display: block;
    overflow: hidden;
}

#best_practices_carousel a
{
    outline: none;
    color: #ffffff;
}

#best_practices_carousel .slick-arrow {
    color: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 22px;
    cursor: pointer;
}
#best_practices_carousel .tti-freccia_sinistra_01 {
    left: -4%
}
#best_practices_carousel .tti-freccia_destra_01 {
    right: -5%
}

#best_practices_carousel .slick-disabled  {
    opacity: 0.3;
}

#best_practices_carousel .slick-disabled:hover  {
    cursor: default;
}

/*#best_practices_carousel .slick-prev.slick-disabled:before, #best_practices_carousel .slick-next.slick-disabled:before
{
    opacity: 0;
}*/

/* STYLE WIDGET */


/* MEDIAQUERY WIDGET */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
