.slick-dots li
{
    margin: 0 !important;
}

.slick-dots li button
{
    padding: 0 !important;
}

.slick-dots li button:before
{
    font-size: 8px !important;
}

#best_practices_carousel .slick-dots li button:before
{
    color: #ffffff;
}

#best_practices_carousel .slick-dots
{
    margin-bottom: 8px;
}

.carousel .slick-dots
{
    margin-bottom: 11px;
}

.carousel .slick-dots li button:before
{
    color: #337ab7;
}
