/* WIDGET STRUCTURE */
.scheda{margin-top: 0;font-size: 12px;color: #303030;line-height: 18px;padding-bottom: 75px;margin-bottom: 20px;border: 2px solid #c5d4d9;padding: 20px 30px;}
 a:hover{color:inherit;}
 .timestamp_extra,  .author_name, .fancy-infocontent, .fancy-actions,  .fc-extend-body-label{margin-left: 102px;}


 .content-main.primary-box-light{position: relative;}

 .content-body{border:0;}

 .scheda .user{font-size: 14px;line-height: 16px;font-weight: 700;color:#303030;}
 .timestamp_extra{color:#848484;font-style: italic;color:#848484;margin-bottom: 30px;}
 .scheda .content-body{float:left;width:100%;padding: 0 0 20px;line-height: 1.5em;text-align: justify;overflow: hidden;}
 .scheda .content-title-container{font-size: 16px; color:#197bbd;}
 .content-description{width: 100%;color:#606060; padding-bottom:2rem;}
 .content-description img{width: 100%;display: block;}
 .fancy-timestamp{font-style: italic;}
.fancy-infocontent span, .fancy-actions a{margin-right: 10px;display: inline-block;}
.fancy-infocontent span a{color:#303030;}
.no_content_message{clear: both;}

.fc-extend-body-label > span{display: inline-block;margin-left: 10px}
.fc-extend-body-label span:first-child{margin-left: 0;}
.fc-extend-body-label span a{color:#202020;font-size: 13px;}
.fc-extend-section {margin-bottom: 30px;}
.fc-extend-section-label{border-bottom: 2px solid #c5d4d9;padding-bottom:3px; }
p.fc-extend-section-label{margin-bottom: 0;}
.fc-extend-section-label a:hover{text-decoration: none;}
.visible{display: block;}
.hidden{display: none;}
.visible + .content-main{margin-top: 47px;}

/** componenti da nascondere **/

.commentToolbar .user-toolbar,.ribbon-messages {display: none!important;}

/** content list standard_view **/
.standard_view .scheda{padding-bottom: 20px;}

/** content list compact_expanded *

.compact_expanded .fc-extend-body-label{display: block;vertical-align: top;text-align: left;position: absolute;z-index: 10;width: 100%;color: #303030; bottom:3rem; padding-left: 102px;margin-left: 0;}
.compact_expanded .fc-extend-body-label + div.closed{border-top: 0;}
.compact_expanded .fc-extend-body-label + div{border-top: 2px solid #c5d4d9;margin-top: 10px;padding-top: 20px;}
.compact_expanded .fc-extend-body-label > span{margin-top:0;}
*/
.show-on-compact{padding-left: 102px;padding-bottom:3.5rem;}
/*.compact_expanded .timestamp_extra{margin-bottom: 0; display:block;}*/



/** content list compact_closed_with_desc *
.compact_closed_with_desc .fc-extend-body-label{display: block;vertical-align: top;text-align: left;padding-bottom: 3px;position: relative;z-index: 10;width: 100%;color: #303030;margin-left:0;padding-left: 102px;}
.compact_closed_with_desc .fc-extend-body-label + div.closed{border-top: 0;}
.compact_closed_with_desc .fc-extend-body-label + div{border-top: 2px solid #c5d4d9;margin-top: 20px;padding-top: 20px;}
.compact_closed_with_desc .fc-extend-body-label > span{margin-top:0;}
.compact_closed_with_desc .fc-extend-body-label{margin-left: 0;}
.compact_closed_with_desc .show-on-compact{padding-left: 102px;margin-bottom: 20px;}
.compact_closed_with_desc .author_name{float: left;margin-left: 25px;margin-right: 5px;}
.compact_closed_with_desc .timestamp_extra{margin-bottom: 0;}
/*
.compact_expanded .content-toolbar,
.compact_closed_with_desc .content-toolbar{position: relative;right: 0;}
*/
/** iconfont **/


/** avatar **/
 .scheda .avatar.medium img, .scheda .fancy-avatar img{width: 80px;height: 80px;}
.author-and-messages{width: 80px;}
/*.scheda .avatar.medium a,  */.scheda .fancy-avatar a{margin-bottom: 5px;}
.ribbon-messages{display: inline-block;position: absolute;top:105px;left:30px;}

/** toggle **/
 .toggle-right-label-hide,  .toggle-right-label-show{color: #303030;font-size: 12px;display: inline-block;padding-right:20px;position: relative;}
 .fc-expand{display: block;text-align: right;border-bottom: 2px solid #c5d4d9;padding-bottom: 3px;position: relative;z-index: 10;clear: both;}
 .share-info-toggle{display: inline-block;vertical-align:top;text-align: left;position: relative;z-index: 10;clear: both; width: 100%;color: #303030;}
 .fc-extend-section-label{margin-bottom: 20px;}
 .fc-extend-section-label + .fc-expand{position: relative;top:-18px;}
 .fc-expand a:hover, .fc-expand a:active{text-decoration: none;}
 .fc-expand + *{margin-top: 20px;}
 .fc-expand + .toggle,.fc-extend-sharegroups{margin-top: -5px;margin-bottom: 5px; display: block;}
 .fc-expand:hover{text-decoration: none;}
 .toggle-comments{text-align: right;border-bottom: 2px solid #c5d4d9;padding-bottom: 3px;margin-bottom:10px;position: relative;z-index: 10;display: inline-block;text-align: left;vertical-align: top;width: 100%;}
 .toggle-comments a { text-decoration: none; color: #666;}
 .toggle-comments .comm_number { font-weight: bold; color: #303030;}
 .toggle-comments:before, .toggle-comments:after{content: "";display: table;}
 .toggle-comments:after{clear: both;}

 .toggle-comments .comments-info-link{float: left;}
 .toggle-comments .toggle-right-label-show, .toggle-comments .toggle-right-label-hide, .toggle-right-label-show, .toggle-right-label-hide{float:right;z-index: 10;}
 .toggle-right-label-show:before,  .toggle-right-label-hide:before{right: 0;left: auto;font-size: 12px;line-height: 18px;}
 .toggle-right-label-show:before{content: '\e946';}
 .toggle-right-label-hide:before{content: '\e94a';}
/*** tags **/
 .fc-extend-section-label{font-size: 14px;font-weight: bold;}
 .fc-extend-tags .fc-extend-section-label{margin-bottom: 20px;}
 .content-tags .tag_token {padding: 9px 20px;margin-right:10px;display: inline-block;border: 2px solid #c5d4d9;margin-bottom:10px;height: auto;background-color: transparent;}
 .fc-extend-tags .tag_token_add { padding: 9px 20px; display: inline-block; border: 2px solid #c5d4d9; height: auto; background-color: #197bbd; margin: 0; text-transform: uppercase;}
 .fc-extend-tags .jtt-autocomplete input{ background: rgba(255,255,255,.1); padding: 0px 8px; outline: none; border: none; height: 38px; width: 100%; margin-top: -2px; color: white;}
 .fc-extend-tags .jtt-autocomplete { position: absolute; top: 0; left: 0; right: 0; width: 100%; display: block; height: 38px;margin: 0; }
 .fc-extend-tags .fc-extend-addtag { background: #3D84CE;margin: 0 2px 0 0; float: left; padding: 10px 20px; height: 38px;}
 .fc-extend-tags .jtt-autocomplete .jtt-auto-float { z-index: 99}
 .content-tags .tag_token a{color:#197bbd;}
 .content-tags .tag_token a:hover{text-decoration: none;}
 .content-tags .tag_token:hover{background-color: #197bbd}
 .content-tags .tag_token:hover a{color: #ffffff;}
 .tags-label{display: none;}
 .fc-extend-tags{margin: 50px 0;}
 .fc-extend-tags:before, .fc-extend-tags:after{content: "";display: table;}
 .fc-extend-tags:after{clear: both;}



/** Attachments **/
.fl-file-info.fl-file-info-size{margin-left: 0;text-align: center;}
.fl-file-item{clear:both;}
.fc-extend-section-label .folder-sharepoint-link, .fl-file-tool-download{float:right;text-align: right;font-size: 12px;color:#303030;}
.fl-file-tools{width: 60%;font-size: 12px;}
.fl-file-tools a,.fl-file-item a, .attach-url.fl-file-tool-owa.open-owa-no-links{color:#707070;}
.fl-file-tools a{margin-left: 15px;}
.fl-file-tools a:first-child{margin-left: 0;}
.fl-file-item,.fl-file-item:hover, .fl-file-item.open{border-top:0;border-left:0;border-right:0;border-bottom:1px solid #c5d4d9;;}
.fl-file-item:first-child,.fl-file-item:first-child:hover, .fl-file-item:first-child.open{border-top: 0;border-left:0;border-right:0;border-bottom:0;}
.fl-file-tools{clear: right;text-align: right;padding: 0;}
.scheda .fc-extend-attachment .contentFilesHtml .fl-file-item .fl-file-link{vertical-align: top;}
.fl-file-item{padding: 10px 0;}

/** icone share info **/
.fc-extend-section [class^="fc-extend-reshare-"] { margin-bottom: 10px; color: #848484;
}
.fc-extend-section [class^="fc-extend-reshare-"] a { text-decoration: none; font-weight: bold; color: #303030;
}
.scheda .fc-extend-section .fc-extend-reshare-portal::before {content: '\e966'; display: inline-block; vertical-align: middle; margin-right: 9px; font-size: 18px; color: #303030;}

.scheda .fc-extend-section .fc-extend-reshare-sphere::before{ content: '\e91b'; display: inline-block; vertical-align: middle; margin-right: 9px; font-size: 18px; color: #303030;
}
.scheda .fc-extend-section  .fc-extend-reshare-event::before { content: '\e900';display: inline-block; vertical-align: middle; margin-right: 9px;font-size: 18px; color: #303030;
}

.scheda .fc-extend-section .fc-extend-reshare-user::before { content: '\e91c'; display: inline-block; vertical-align: middle; margin-right: 9px; font-size: 18px; color: #303030;
}


/** Project cover override **/
.prCover .flexslider .slides > li{width: 100%!important; max-width: 115px;}
.cover_library .flexslider .slides img {max-height: 100%;width: auto;max-width: 100%;}
.cover_library .scheda.coverLibrary:hover .content-toolbar a:before{color:#fff;}

/* STYLE WIDGET */


/* MEDIAQUERY WIDGET */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
	.prCover .cover_library .scheda.coverLibrary{width: 48%;}
}
@media only screen and (min-width : 320px) and (max-width : 1024px) {
	.fl-file-tools, .fc-extend-section-label .folder-sharepoint-link, .fl-file-tool-download,.tool_modify, .tool_rate, .tool-reshare-content, .qtip-trigger.tool_highlight_del{display: none;}
}
@media only screen and (min-width : 600px) and (max-width : 767px) {
	.prCover .cover_library .scheda.coverLibrary h2.fancy-title a{font-size: 15px;}
	.scheda{margin-top: 20px;}
}
@media only screen and (max-width : 768px) {
	.prCover .cover_library .scheda.coverLibrary{width: 100%;margin:0 0 20px;}
	 .scheda{padding: 10px; margin-top: 0;}
	
	  .timestamp_extra,  .author_name, .fancy-infocontent, .fancy-actions,  .fc-extend-body-label, .show-on-compact {margin-left: 76px;}

	 .scheda .avatar.medium img,  .scheda .fancy-avatar img{width: 54px;height: 54px;}
	 .fc-extend-body-label, .show-on-compact{padding-left:0;}
	 .fc-extend-body-label{bottom:0;}
	 .show-on-compact{clear:both;}
	.toggle-right-label-hide,  .toggle-right-label-show {font-size: 0}
	.compact_wrapper{ padding-bottom:4rem;}
	.author-and-messages .user-toolbar{display:none;}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
	.content-toolbar{float:none; position:static;clear:both;}
	.content-toolbar:after{content:'';display:table;clear:both; padding-bottom:1rem;}
	  .fc-extend-body-label{margin-left:0;}
	.contentImageFilesHtml{display: none;}
	.fc-extend-body-label span a{font-size:11px;}
}
