a.contactBtn,  a.contactBtn:visited{
	background-color: #197BBD;
    padding: 10px 15px;
	color: #fff;
    font-size: 0;
    display: block;
	margin-bottom: 4rem
}
.contactBtn:hover {
	color: #fff;
	background: #156ca6;
}
.contactBtn:visited {
	color: #fff;
}
.contactBtn--incon{
	display: inline-block;
    font-size: 40px;
    vertical-align: middle;
}
.contactBtn--incon span {
	display: block;
}
.contactBtn--incon.right{
	font-size: 15px;
}
.contactBtn--text {
	display: inline-block;
	vertical-align: middle;
	width: 66%;
	margin: 0 15px;

}
.contactBtn--text h2{
	font-size: 14px;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
}
.contactBtn--text p {
	font-size: 11px;
	display: inline-block;
	margin-bottom: 0;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.contactBtn {
	margin-bottom: 1.5rem;
	}
}
