/* WIDGET STRUCTURE */

.focus_on_widget
{
    padding: 30px 0;
    position: relative;
}

.focus_on_widget a
{
    color: inherit;
}

.focus_on_widget .first_box .title
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.focus_on_widget .first_box .subtitle
{
    font-size: 14px;
	color: #303030;
}

.focus_on_widget .first_box,
.focus_on_widget .white_box
{
    padding-top: 20px;
}

.focus_on_widget .white_box
{
    overflow: hidden;
}

.focus_on_widget .white_box .title
{
    font-weight: bold;
    font-size: 18px;
}

.focus_on_widget .white_box .description
{
    font-size: 12px;
	color: #303030;
}

.focus_on_widget .white_box .description,
.focus_on_widget .first_box .subtitle
{
    margin: 6px 0 10px 0;
}


/* STYLE WIDGET & Override from other css files */
.focus_on_widget .white_box
{
    background-color: #ffffff;
    border: 1px solid #c5d4d9;
}

.focus_on_widget .flat_blue_button a
{
    padding: 5px 0;
}

/* to have the same height for all the two sections */
.focus_on_widget .white_box .description
{
    min-height: 4.3em;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .focus_on_widget
    {
        border-bottom: none;
    }

    .focus_on_widget .first_box .title,
    .focus_on_widget .first_box .subtitle
    {
        text-align: center;
    }

    .focus_on_widget .first_box, .focus_on_widget .white_box
    {
        padding: 17px 0;
    }

    .focus_on_widget .white_box
    {
        margin: 6px 0;
        min-height: 43px;
    }

    .focus_on_widget .fix_mobile
    {
        padding: 0; /* fix bootstrap problem with padding on xs-1 */
        height: 25px;
        padding-top: 0.3em;
    }

    .focus_on_widget .fix_mobile span
    {
        padding-top: 1px;
        color: #197BBD;
    }

}
