.methodologies_widget
{
    padding: 30px 0;
}

.methodologies_widget a
{
    color: inherit;
}

.methodologies_widget .text
{
    text-align:  center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 30px;
	color: #6e6e6e;
    font-weight: normal;
}

.methodologies_widget .icon_container
{
    margin:20px 0;
}

.methodologies_widget .icon_container .single_icon .icon_title
{
    font-size: 12px;
}

.methodologies_widget .section
{
    padding: 0 15px;
    margin: 6px 0;
}

.methodologies_widget .section_container .first_part_container
{
    overflow: hidden;
    border: 1px solid #c5d4d9;
    border-bottom: none;
    padding: 20px 0;
}

.methodologies_widget .section .title
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.methodologies_widget .section .subtitle
{
    padding: 14px 0;
    font-size: 12px;
	color: #303030;
	font-weight: normal;
	height: 84px;
	overflow: hidden;
}

.methodologies_widget .section .second_part_container
{
    padding: 0; /* fix bootstrap problem with padding on xs-1 */
    height: 61px;
}

.methodologies_widget .section .second_part_container span
{
    text-align: center;
}


/* STYLE WIDGET */

.methodologies_widget .section .second_part_container
{
    background-color: #197BBD;
}

/* MEDIAQUERY WIDGET */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 0px) and (max-width : 767px) {

    .methodologies_widget .section_container .first_part_container
    {
        padding: 6px 0;
        border: 1px solid #c5d4d9;
        border-right: none;
        min-height: auto;
        height: 60px;
    }

    .methodologies_widget .section .second_part_container
    {
        height: 60px;
    }

    .methodologies_widget .section .second_part_container span
    {
        color: #ffffff;
        font-size: 20px;
        padding-top: 2rem;
        display: block;
    }

    .methodologies_widget .section .title
    {
        padding-top: 1rem;
    }

    .methodologies_widget .section_container .first_part_container img
    {
        max-height: 45px;
        padding-top: 0.5rem;
    }
}


@media only screen and (min-width : 768px) and (max-width : 1000px) {
    .focus_on_widget .white_box .description {
        min-height: 90px !important;
    }

    .methodologies_widget .section_container .first_part_container {
        border: 1px solid #c5d4d9;
        height: 80px;
    }

    .methodologies_widget .section_container .second_part_container {
        color: #ffffff;
        height: 80px !important;
        text-align: center;
    }

    .methodologies_widget .section_container .second_part_container span {
        display: inline-block;
        padding-top: 33px;
    }
}
