/* Webfont: ProximaNova-RegularIt */@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-RegularIt.eot'); /* IE9 Compat Modes */
    src: url('ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ProximaNova-RegularIt.woff') format('woff'), /* Modern Browsers */
         url('ProximaNova-RegularIt.ttf') format('truetype'); /* Safari, Android, iOS */
         url('ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'), /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

