/* 

Titolo:	Reply Knowledge Center - CSS LOGIN - Media Screen

*/

* { margin: 0; padding: 0;}
a img { border: none; }
body {
	font: 11px Arial, Helvetica, sans-serif;
	line-height: normal;
	color: #000;
	background: #7c0304 url("../img/login/bk_body.jpg") center top no-repeat;
	text-align: center; /*X IE*/
}

input {
	font: 12px Arial, Helvetica, sans-serif;
}
select, option, textarea {
	font: 11px Arial, Helvetica, sans-serif;
	line-height: 1;
}

option {
	padding-right: 10px;
	line-height: 1;
}



/* OpenID input box */

input.openId {
	width: 195px;	/* subtracted logo width */
	padding: 1px 1px 1px 18px;	
	background-image: url('../img/login/openid_small_logo_white.gif');
	background-repeat: no-repeat;
	border: 1px solid #AAA;
}

#wraplog {
	width: 388px;
	margin: 125px auto 0;
	text-align: left;
	position: relative;
}

#wraplog h1 {
	width: 214px; height: 63px;
	background: url(../img/login/logo.png) 0 0 no-repeat;
	margin-left: 5px;
	display: none;
}

#wraplog h1 span {
	display: none;
}

#wraplog h2 {
	width: 387px;
	background: url(../img/login/round_top.gif) 0 0 no-repeat;
	padding: 10px 0 0 0;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #3f3f3f;
	display: none;
}

#wraplog h2 span {
	margin: 0 7px;
	padding: 0 7px 4px;
	display: block;
	border-bottom: 1px solid #DCDCDC
}

#wraplog div#mainwrap {
	width: 388px;
	background: #fff url(../img/login/bk_box.jpg) 0 0 no-repeat;
	padding: 50px 0 4px;
	text-align: right;
	
}

#wraplog div#mainwrap p#contact {
	text-align: left; font-size: 11px;
	padding: 4px 0 4px 10px;
	background: url(../img/login/bk_contact.jpg) 0 0 repeat-x;
	margin: 0 4px;
}

#wraplog div#mainwrap p#contact a {
	text-decoration: none; color: #fff;
	font-weight: normal;
}

#wraplog div#mainwrap p#contact a:hover {
	text-decoration: underline;
}

#wraplog div#mainwrap input {
	margin-right: 15px;
	
}
#wraplog div#mainwrap #formwrap {
	width: 356px; margin: 0 0px 5px;
	background: none;
	padding: 15px 15px 0;
	text-align: left;
}

#wraplog div#mainwrap #formwrap a {
	color: #444;
}



div#mainwrap ul {
	list-style: none;
	margin: 0; padding: 3px;
	background: #333;
	text-align: center;
	position: absolute;
	top: 34px; left: 178px;
	width: 190px;
	/*display: none;*/
}

div#mainwrap ul li span.errorMessage {
	color: #fff; border: none;
}


div#mainwrap #formwrap div.wwgrp {
	float:left; width: auto;
	padding: 2px 0;
}

div#mainwrap #formwrap label {
	float: left; width: 90px;
	font-weight: bold; clear: both;
	padding: 2px 0; 

}

div#mainwrap #formwrap label.agrem {
	width: auto; float: none;
	clear: left;display: block;
}

div#mainwrap #formwrap p input {
	margin-bottom: 5px; width: 180px;
	vertical-align: middle;
	margin-right: 0;
}

div#mainwrap #formwrap textarea {
	/*display: block;*/ /*margin-top: 46px;*/
	width: 300px; height: 80px;
}





div#mainwrap #formwrap p#remembme {
	padding: 0 0 0 90px; clear: both;
	margin: 0;
	font-size: 11px; color: #d60019;
	line-height: normal;
	background: none;
}

div#mainwrap #formwrap p#remembme label {
	float: none; width: auto
}

div#mainwrap #formwrap p#remembme input {
	margin: 0 3px 1px 0; width: auto;
	vertical-align: middle;
}

div#mainwrap #formwrap p#regol {

	padding: 8px 0 0 0;

	font-size: 11px; color: #0090FF;

	line-height: normal;

	clear: both;

}

div#mainwrap #formwrap p#regol label {

	float: none; width: auto

}

div#mainwrap #formwrap p#regol input {

	margin: 0 3px 1px 0; width: auto;

	vertical-align: middle;

}

div#mainwrap #formwrap p#regol a {

	text-decoration: none;
	/*float: right;*/ 
	color: #0090ff;
	/*background: url(../img/layout/login/ico_pdf.gif) left center no-repeat;*/
	/*font-weight: normal; padding: 5px 0 5px 20px;*/
	/*margin-left: 135px;*/

}
div#pwb {
	position: absolute;
	top: 200px; left: 276px;
}
div#pwb p a{
	display: block;
	width: 110px;
	height: 50px;
}
div#pwb p a span {
	display: none;
}


div#mainwrap #formwrap input.bsub {
	border-top: 1px solid #f5f5f5;
	border-right: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	border-left: 1px solid #f5f5f5;
	background: #d80019;
	text-align:center;
	color: #fff;
	padding: 1px 4px;
	font-size: 11px;
	text-transform: uppercase;
}

/*div#mainwrap #formwrap input.bsub {
	border-top: 1px solid #f5f5f5;
	border-right: 1px solid #a5a5a5;
	border-bottom: 1px solid #a5a5a5;
	border-left: 1px solid #f5f5f5;
	background: #1362b1;
	text-align:center;
	color: #fff;
	padding: 1px 4px;
	font-size: 11px;
	text-transform: uppercase;
}*/








































 /*CLEAR FIX*/

.cleared:after {

	display: block; 

	visibility: hidden;

	content: "."; 

	height: 0; 

	clear: both;

}

.cleared {

	clear : both; /* per Gecko */

	height: 1%; /* per IE */

}