@import url("../../../css/main.css");
@import url("../../../css/layout.css");
@import url("../../../css/home.css");
@import url("../../../css/ie.css");
@import url("../../../css/ie7.css");

/*TAMTAMY MAIN SCREEN*/
body {
	font: 11px Arial, Helvetica, sans-serif;
	text-align: center;
	color: #000;
	background: #840000 url(../img/bk_page.jpg) center top repeat-y;
}
input, select, option { font: 11px Arial, Helvetica, sans-serif; }

/*MAIN WRAPPER*/
#mainwrap {
	text-align: left;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	background-color: #fff;
}

/*HEADER*/
#header {
	background: url(../img/header/bk_header.jpg?v=1) 0 0 no-repeat;
}
#header h1 {
	background: url(../img/header/xmas_logo.jpg) 0 0 no-repeat;
	width: 261px;
	height: 69px;
	top: 13px;
	left: 40px;
}
#header h1 a {
	text-decoration: none;
}
#header p#welcome {
	color: #fff; font-weight: bold;
}
#header p#welcome a {
	color: #fff;
}
#header p#welcome a:hover {
	color: #fff;
}
#header ul {
top: 94px;
}
#header ul li {
	font-size: 12px;
}
#header ul li a {
	font-weight: bold;
	text-transform: uppercase;
	color: #a6070b;
	text-decoration: none;
	background: url(../img/header/menu_line.gif) left center no-repeat;
}
#header ul li#first a {
	background: none;
}
#header ul li a:hover, #header ul li a.on, #header ul li#first a:hover, #header ul li#first a.on {
	color: #fff;
	text-decoration: none;
	background: url(../img/header/bg_menu_hover.gif) 0 0  repeat-x;
}
/*WHATS NEW*/
#header #whatsNew{ display:none;}
#header #welcome{ display:none;}
#header div.closed{
   background:url(../img/header/bg-div-closed.jpg) 0 0 no-repeat;
}
#header div.closed a{ 
   font-size:11px;
   line-height:1;
   text-transform:uppercase;
   font-weight:bold;
   color:#fff;
   text-decoration:none;
}
#header div.open {
   background: url(../img/header/bg-div-open.jpg) 0 0 no-repeat ;
}
#header div.open a { 
   font-size:11px;
   line-height:1;
   text-transform:uppercase;
   font-weight:bold;
   color:#fff;
   text-decoration:none;
}
#header div.open p { 
   text-align:left;
   display: block;
   line-height: 13px;
   font-size: 11px;
   color: #000;
}
#header div.open p a { 
   font-size:11px;
   line-height: normal;
   text-transform: none;
   font-weight: normal;
   color: #000;
   text-decoration:none;
}
#header div.open p a:hover{ 
   text-decoration: underline;
}
#header div.open p span{ 
   text-align:left;
   color:#fff;
}

/*SEARCH*/
#header #search label {
	font-size: 13px;
	font-weight: bold;
	color: #af2629;
}
/*FOOTER*/
#footer {
	background: url(../img/footer/bk_footer.jpg) 0 0 repeat-x;
	height: 134px;
	}
#footer p#agreem {
	background:url(../img/footer/logo.jpg?v=1) 0 0 no-repeat;
	color: #666;
}
#footer p a {
	color: #666;
	text-decoration: none;
}
#footer p a:hover {
	color: #666;
	text-decoration: underline;
}
#footer p#global {
	color: #1e3c94;
}
#footer p#global a {
	color: #1e3c94;
}

#footer p#global a#forum {
	background: url(../img/footer/forum.jpg) left center no-repeat;
}

#footer p#global a#feedback {
	background: url(../img/footer/leave_feedback.jpg) left center no-repeat;
}
#footer p#global a#rss {
	background: url(../img/footer/rss.gif) left center no-repeat;
	text-transform: uppercase;
}

#footer p#logo_pow{
	right:30px;
	bottom:10px;
}
#footer p#logo_pow a{ background:url(../img/footer/logo_pow.gif) 0 0 no-repeat; width:122px; height:53px; display:block;}
/*TAMTAMY HOME PAGE*/

/*HOME HIGHLIGHT-ACTION-MYPROFILE*/
#home-highactmyp {
	background: #fff url(../img/home/bk_highactmyp.jpg) 0 0 no-repeat;
}

/*HIGHLIGHT*/

#home-highactmyp #highlight h2 {
	font-size: 20px;
	color: #e2001a;
}
#home-highactmyp #highlight ul.pager li a {
	font-size: 12px;
	font-weight: bold;
	color: #626262;
	text-decoration: none;
}
#home-highactmyp #highlight ul.pager li a:hover, #home-highactmyp #highlight ul.pager li a.on {
	font-weight: bold;
	color: #2c2c2c;
	text-decoration: none;
}

#home-highactmyp #highlight img {
	border: 2px solid #d0d0d0;
}

#home-highactmyp #highlight h3  {
	font-size: 12px;
	font-weight: bold;
}
#home-highactmyp #highlight h3 a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-highactmyp #highlight p  {
	line-height: 1.3;
	color: #626262;
}
#home-highactmyp #highlight p a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-highactmyp #highlight p a:hover  {
	color: #2c2c2c;
	text-decoration: underline;
}
#home-highactmyp #highlight p img  {
	border: none;
	vertical-align: top;
}


/*ACTION + MY PROFILE*/
#home-highactmyp #actmyp h2 {
	font-size: 20px;
	color: #e2001a;
}
/*CONTRIBUTE*/
#home-highactmyp #actmyp ul#contribute li { width:20%;}
#home-highactmyp #actmyp ul#contribute li a {
	width:100%;
	color:#626262;
	text-decoration: none;
}
#home-highactmyp #actmyp ul#contribute li a span {
	/*background: url(../img/action_ico/dot.gif) 5px 5px no-repeat;*/
}
#home-highactmyp #actmyp ul#contribute li#contents a {
	background:url(../img/action_ico/contribute.gif) 10px 0 no-repeat;
}
#home-highactmyp #actmyp ul#contribute li#blog{ display:none;}
#home-highactmyp #actmyp ul#contribute li#blog a {
	background:url(../img/action_ico/blog.gif) 10px 0 no-repeat;
}
#home-highactmyp #actmyp ul#contribute li#php a {
	background:url(../img/action_ico/php.gif) 10px 0 no-repeat;
}

#home-highactmyp #actmyp ul#contribute li#group a {
	background:url(../img/action_ico/group.gif) 20px 4px no-repeat;
}



/*EXPLORE*/
#home-highactmyp #actmyp ul#explore li { width:20%; padding:0;}
#home-highactmyp #actmyp ul#explore li a {
	width:100%;
	color:#626262;
	text-decoration: none;
}
#home-highactmyp #actmyp ul#explore li a span {
	/*background: url(../img/action_ico/dot.gif) 5px 5px no-repeat;*/
}
#home-highactmyp #actmyp ul#explore li#c11 a {
	background:url(../img/action_ico/c11.gif) 10px 0 no-repeat;
}
#home-highactmyp #actmyp ul#explore li#extt{ display:none;}
#home-highactmyp #actmyp ul#explore li#extt a {
	background:url(../img/action_ico/explore_com.gif) 10px 0 no-repeat;
}
#home-highactmyp #actmyp ul#explore li#exblog a {
	background:url(../img/action_ico/explore_blog.gif) 10px 0 no-repeat;
}
#home-highactmyp #actmyp ul#explore li#hist a {
	background:url(../img/action_ico/history.gif) 10px 0 no-repeat;
}
#home-highactmyp #actmyp ul#explore li#checkhig a {
	background:url(../img/action_ico/highlight.gif) 10px 0 no-repeat;
}



/*MY PROFILE*/
#home-highactmyp #actmyp div#myprofile {
	background: url(../img/home/bk_myprofile_top.jpg) 0 0 no-repeat;
}
#home-highactmyp #actmyp div#myprofile p#link_notifications a{
	background:url(../img/home/ico_notification.gif) 0 0 no-repeat;
	color:#fa6f00;
	font-size: 10px;
}

#home-highactmyp #actmyp div#myprofile div#closebox {
	background:url(../img/home/bk_myprofile_bottom.jpg) left bottom no-repeat;
}


#home-highactmyp #actmyp div#myprofile h2,  #wrapcontent #sidebar div#myprofile h2 {
	font-size: 14px;
	color: #e2001a;
	font-weight:bold
}
#home-highactmyp #actmyp div#myprofile h3,  #wrapcontent #sidebar div#myprofile h3 {
	font-size: 11px;
	color: #2c2c2c;
	font-weight:normal
}
#home-highactmyp #actmyp div#myprofile h3 a,  #wrapcontent #sidebar div#myprofile h3 a {
	color: #820202;
	text-decoration: none;
	font-weight:bold;
}

#home-highactmyp #actmyp div#myprofile h2 span a, #wrapcontent #sidebar div#myprofile h2 span a{
	/*font-size: 20px;*/
	color: #2c2c2c;
	font-weight:bold
}

#home-highactmyp #actmyp div#myprofile h2 span.newuser a, #wrapcontent #sidebar div#myprofile h2 span.newuser a{
	font-size: 14px;
	color: #2c2c2c;
	font-weight:bold;
	text-decoration: underline;
}

#home-highactmyp #actmyp div#myprofile p#join, #wrapcontent #sidebar div#myprofile p#join {
	color: #333;
}
#home-highactmyp #actmyp div#myprofile p#join a, #wrapcontent #sidebar div#myprofile p#join a {
	border: 1px solid #2c2c2c;
	background: #2c2c2c;
	color: #fff; font-weight: bold; text-transform: uppercase;
}




#home-highactmyp #actmyp div#myprofile div#login p, #wrapcontent #sidebar div#myprofile div#login p {
	line-height: 1;
}
#home-highactmyp #actmyp div#myprofile div#login p label, #wrapcontent #sidebar div#myprofile div#login p label {
	color: #555; font-weight: bold;
}
#home-highactmyp #actmyp div#myprofile div#login p input, #wrapcontent #sidebar div#myprofile div#login p input {
	font: 11px Arial, Helvetica, sans-serif;
	background: #fff; border: 1px solid #999;
}
#home-highactmyp #actmyp div#myprofile div#login p.check label, #wrapcontent #sidebar div#myprofile div#login p.check label {
	font-weight: normal;
	margin-left: 3px;
}
#home-highactmyp #actmyp div#myprofile div#login p.check input, #wrapcontent #sidebar div#myprofile div#login p.check input {
	border: none; background: none;
}
#home-highactmyp #actmyp div#myprofile div#login p.btn input, #wrapcontent #sidebar div#myprofile div#login p.btn input {
	border: 1px solid #2c2c2c;
	background: #2c2c2c;
	color: #fff; font-weight: bold; text-transform: uppercase;
}



#home-highactmyp #actmyp div#myprofile p#signout {
	text-align: right;
}

#home-highactmyp #actmyp div#myprofile p#signout a {
	color: #3a3a3a;
	text-decoration: underline;
	font-size: 10px;
}
#home-highactmyp #actmyp div#myprofile h2 a {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #767676;
}
#home-highactmyp #actmyp div#myprofile p img {
	border: 1px solid#dadada;
}
#home-highactmyp #actmyp div#myprofile p a {
	text-decoration: none;
	color: #820202;
	font-size: 11px;
}

#home-highactmyp #actmyp div#myprofile div#myb p a, #wrapcontent #sidebar div#myprofile div#myb p a {
	color: #767676;
}

/* IMPOSTAZIONI GENERICHE */
a{ color:#2c2c2c; text-decoration:none;}
h3 a{ color:2c2c2c; text-decoration:none;}
h3 {color:2c2c2c;}
p{ color:#666;}

/*HOME CONTENT*/
#home-wrapcontent div div h2 span {
	display: block;
	padding: 2px 0 0 34px;
}

#home-wrapcontent div div.wrapwidg div.check p label {
	color: #626262;
	font-size: 12px;
}
#home-wrapcontent div div.wrapwidg div.check p input {
	vertical-align: middle;
}

#home-wrapcontent div div h2 {
	font-size:15px;
	font-weight: bold;
	/*line-height: 0;*/ line-height: normal;
	color: #fff;
	background: url(../img/home/bk_titles.gif) 0 0 no-repeat;
	width: 207px;
}
#home-wrapcontent div div h2#last_groups {
	background: url(../img/home/bk_titles_last_group.gif) 0 0 no-repeat;
}
#home-wrapcontent div div.wrapwidg div {
	border-top: 1px solid #cd0d18;
}
#home-wrapcontent div div.wrapwidg div.check {
	border-top:none;
}

/*BOX LAST GROUPS IN HOME*/
#home-wrapcontent div div.wrapwidg div#group h3 a, #home-wrapcontent div div.wrapwidg div#group h3 a:hover{
	text-decoration:none;
	font-size:12px;
	color:#2c2c2c;
}
#home-wrapcontent div div.wrapwidg div#group p  {
	color: #666;
	line-height: 1.2;
}
#home-wrapcontent div div.wrapwidg div#group a{
	text-decoration:none;
	color:#2c2c2c;
}
#home-wrapcontent div div.wrapwidg div#group a:hover{
	text-decoration:underline;
}
#home-wrapcontent div div.wrapwidg div#group span{
	color:#666;
}


/*BOX photo_gall xmas*/

#home-wrapcontent div div.wrapwidg ul.photo_gall{list-style:none; float:left; padding-top:5px;}
#home-wrapcontent div div.wrapwidg ul.photo_gall li{float:left; margin-left:10px;}

#home-wrapcontent div div.wrapwidg ul.photo_gall li.roma a{ background:url(../img/home/photo_roma.gif) 0 0 no-repeat; width:100px; height:122px; display:block; float:left;}
#home-wrapcontent div div.wrapwidg ul.photo_gall li.torino a{ background:url(../img/home/photo_torino.gif) 0 0 no-repeat; width:100px; height:122px; display:block; float:left;}
#home-wrapcontent div div.wrapwidg ul.photo_gall li.milano a{ background:url(../img/home/photo_milano.gif) 0 0 no-repeat; width:100px; height:122px; display:block; float:left; }

#home-wrapcontent div div.wrapwidg ul.photo_gall li.roma p{ background:url(../img/home/photo_roma.gif) 0 100% no-repeat; width:100px; height:122px; display:block; float:left;}
#home-wrapcontent div div.wrapwidg ul.photo_gall li.torino p{ background:url(../img/home/photo_torino.gif) 0 100% no-repeat; width:100px; height:122px; display:block; float:left;}
#home-wrapcontent div div.wrapwidg ul.photo_gall li.milano p{ background:url(../img/home/photo_milano.gif) 0 100% no-repeat; width:100px; height:122px; display:block; float:left; }
#home-wrapcontent div div.wrapwidg ul.photo_gall li span{ display:none;}

#home-wrapcontent div div.wrapwidg p#search_photo{ padding:15px 0 5px; font-size:12px; color:#2c2c2c; clear:left;}
#home-wrapcontent div div.wrapwidg p#search_photo input{ margin-left:5px;}
#home-wrapcontent div div.wrapwidg p#search_photo_int{ padding:5px 0 5px; font-size:12px; color:#2c2c2c; clear:left;}
#home-wrapcontent div div.wrapwidg input.pul_trova_photo{ font-size:12px; color:#e2001a; background:none; border:0; }

/*_photo_wall*/
#_photo_wall a img{ border-right:5px solid #fff;}
 .interne a{ display:block;}
 .interne a img{float:left; width:156px; height:114px; border:0;  margin:0 5px 8px 0;}
/*BOX WIDG BLOG XMAS*/
#home-wrapcontent div div.wrapwidg .widg_blog h3 a{ color: #2c2c2c; text-decoration:none; }
#home-wrapcontent div div.wrapwidg .widg_blog p{ color:#666; }
/*BOX NEWS*/
#home-wrapcontent div div.wrapwidg div#news p span {
	font-size: 10px;
	color: #7a7a7a;
}
#home-wrapcontent div div.wrapwidg div#news p  {
	font-size: 12px;
	color: #2c2c2c;
}
#home-wrapcontent div div.wrapwidg div#news p a  {
	color: #2c2c2c;
	text-decoration: none;
}



/*BOX TAG CLOUD*/
#home-wrapcontent div div.wrapwidg div#tagc p  {
	text-align: center;
	font-size: 24px; /*temp*/
	color: #2c2c2c;
}
#home-wrapcontent div div.wrapwidg div#tagc p a  {
	color: #626262;
	text-decoration: none;
}

/*BOX LAST ALL*/
#home-wrapcontent div div.wrapwidg div#lastall h3  {
	font-size: 12px;
	font-weight: bold;
}
#home-wrapcontent div div.wrapwidg div#lastall h3 a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div#lastall p  {
	color: #666;
	line-height: 1.2;
}
#home-wrapcontent div div.wrapwidg div#lastall p img  {
	vertical-align: top;
}
#home-wrapcontent div div.wrapwidg div#lastall p  span {
	font-size: 11px;
}
#home-wrapcontent div div.wrapwidg div#lastall p a  {
	color: #2c2c2c;
	text-decoration: none;
}

#home-wrapcontent div div.wrapwidg div.lastall h3  {
	font-size: 12px;
	font-weight: bold;
}
#home-wrapcontent div div.wrapwidg div.lastall h3 a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div.lastall p  {
	color: #666;
	line-height: 1.2;
}
#home-wrapcontent div div.wrapwidg div.lastall p img  {
	vertical-align: top;
}
#home-wrapcontent div div.wrapwidg div.lastall p  span {
	font-size: 11px;
}
#home-wrapcontent div div.wrapwidg div.lastall p a  {
	color: #2c2c2c;
	text-decoration: none;
}



/*BOX LAST POST*/
#home-wrapcontent div div.wrapwidg div#lastpost h3  {
	font-size: 12px;
	font-weight: bold;
}
#home-wrapcontent div div.wrapwidg div#lastpost h3 a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div#lastpost p  {
	color: #666;
	line-height: 1.2;
}
#home-wrapcontent div div.wrapwidg div#lastpost p img  {
	vertical-align: top;
	/*margin-top: -2px;*/
}
#home-wrapcontent div div.wrapwidg div#lastpost p  span {
	font-size: 10px;
}
#home-wrapcontent div div.wrapwidg div#lastpost p a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div#lastpost p a:hover  {
	text-decoration:underline;
}
#home-wrapcontent div div.wrapwidg div#lastpost p.infopost {
	color: #666; font-size: 11px;
	line-height: 1.4;
}


#home-wrapcontent div div.wrapwidg div.lastpost h3  {
	font-size: 12px;
	font-weight: bold;
}
#home-wrapcontent div div.wrapwidg div.lastpost h3 a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div.lastpost p  {
	color: #666;
	line-height: 1.2;
}
#home-wrapcontent div div.wrapwidg div.lastpost p img  {
	vertical-align: top;
	/*margin-top: -2px;*/
}
#home-wrapcontent div div.wrapwidg div.lastpost p  span {
	font-size: 10px;
}
#home-wrapcontent div div.wrapwidg div.lastpost p a  {
	color: #2c2c2c;
	text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div.lastpost p a:hover  {
	text-decoration:underline;
}
#home-wrapcontent div div.wrapwidg div.lastpost p.infopost {
	color: #666; font-size: 11px;
	line-height: 1.4;
}


/*ONLINE USERS*/
#home-wrapcontent div div.wrapwidg div#checkouser {
	border: 0
}
#home-wrapcontent div div.wrapwidg div#checkouser p label {
	color: #626262;
	font-size: 12px;
}
#home-wrapcontent div div.wrapwidg div#checkouser p input {
	vertical-align: middle;
}

#home-wrapcontent div div.wrapwidg div#userview {
	border: 0
}
/*#home-wrapcontent div div.wrapwidg div#userview p {
	color: #626262;
	font-size: 12px;
}
#home-wrapcontent div div.wrapwidg div#userview a  {
	text-decoration: none;
	background: url(../img/home/viewall.gif) 0 0 no-repeat;
}*/
#home-wrapcontent div div.wrapwidg div#userview a  {
	text-decoration: none; font-weight: bold; text-transform: uppercase;
	color: #2c2c2c; font-size:11px;
}

#home-wrapcontent div div.wrapwidg div#usavatar p  {
	background: #eaeaea;
	border: 1px solid #adadad; 
}
#home-wrapcontent div div.wrapwidg div#usavatar p a {
	text-decoration: none;
}

/*VIEW ALL*/
#home-wrapcontent div div.wrapwidg div.vwall {
	border: 0
}
#home-wrapcontent div div.wrapwidg div.vwall a  {
	text-decoration: none; font-weight: bold; text-transform: uppercase;
	color: #2c2c2c; font-size:11px;
}

#home-wrapcontent div div.wrapwidg p.viewall a {
	text-decoration: none; font-weight: bold; text-transform: uppercase;
	color: #2c2c2c; font-size:11px;
}
#home-wrapcontent div div.wrapwidg p.viewallrgt a  {
	text-decoration: none; font-weight: bold; text-transform: uppercase;
	color: #2c2c2c; font-size:11px;
}




/*PAGER*/


#home-wrapcontent div div.wrapwidg ul.pager li a {
	text-align: center;
	color: #626262;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
#home-wrapcontent div div.wrapwidg ul.pager li a:hover, #home-wrapcontent div div.wrapwidg ul.pager li a.on {
	color: #fff;
	text-decoration: none;
	background: url(../img/pager_num.gif) 0 0 no-repeat;
}

#home-wrapcontent div div.wrapwidg ul.pager li.next a, #home-wrapcontent div div.wrapwidg ul.pager li.prev a {
	text-align: center;
	color: #626262;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	background: url(../img/pager_np.gif) 0 0 no-repeat;
}




/*TAMTAMY LAYOUT PAGE SCREEN*/

#wrapcontent {
	background: url(../img/content/bk_wrapcontent.png) 0 0 no-repeat;	
}
#closelay {
	background: url(../img/content/bk_closelay.png) 0 0 no-repeat;
}
/*TITLE*/
#wrapcontent div#main div#wraptitle h2  {
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	color: #fff;
	background: url(../img/home/bk_titles.gif) 0 0 no-repeat;
	border-bottom: 1px solid #cd0d18;
}
#wrapcontent div#main div#wraptitle h2 span{
	display:block;
	padding:2px 0 0 32px;
}
#wrapcontent div#main div#wraptitle h2.big {
	background:transparent url(../img/content/bk_titles_big.gif) no-repeat;
}
#wrapcontent div#main div#wraptitle p.madatory_fields{ color:#2c2c2c; }

/*TAG CLOUD*/
#wrapcontent div#main div#tagcloud {
	border-top: 1px solid #cd0d18;
}
#wrapcontent div#main div#tagForm a.pull_tag_yourself{ background:url(../img/content/pull/tag_youself.jpg) 0 0 no-repeat; width:142px; height:21px; float:right; }
#wrapcontent div#main div#tagForm a.pull_tag_thisuser{ background:url(../img/content/pull/tag_thisuser.jpg) 0 0 no-repeat; width:142px; height:21px;}
#wrapcontent div#main div#tagForm a.pull_tag_yourself span, #wrapcontent div#main div#tagForm a.pull_tag_thisuser span{ cursor:pointer; color:#666; padding:3px 0 0 47px; font-weight:bold; }
#wrapcontent div#main div#tagcloud h2  {
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	color: #fff;
	background: url(../img/home/bk_titles.gif) 0 0 no-repeat;
	border-bottom: 1px solid #e2001a;
}
#wrapcontent div#main div#tagcloud p  {
	text-align: center;
	line-height: 1,2;
	font-size: 25px; /*temp*/
	color: #2c2c2c;
	border-bottom: 1px solid #cd0d18;

}

#wrapcontent div#main div#tagcloud p.viewalltxt  {
	text-align: left;
	border-bottom: none;
	font-size: 11px;
	text-transform: uppercase;
}
#wrapcontent div#main div#tagcloud p.viewalltxt a {
	color: #2c2c2c; font-weight: bold;
	text-decoration: none;
}


#wrapcontent div#main div#tagcloud p a  {
	color: #626262;
	text-decoration: none;
}
#wrapcontent div#main div#tagcloud p.viewall a  {
	text-decoration: none;
	background: url(../img/home/viewall.gif) 0 0 no-repeat;
}

/*MEDIA CONTENT FILTER*/
#wrapcontent div#main div#wrapelements div#mediacontent {
	border-bottom: 1px solid #f5f5f5;
}
#wrapcontent div#main div#wrapelements div#mediacontent p label {
	color: #333;
}





/*MENU TAB INTERNO*/
div#main ul.menuSecondario {
	background:url(../img/content/bg-menu-interno.jpg) 0 0 no-repeat;
}
div#main ul.menuSecondario li{
	font-size:13px
}
div#main ul.menuSecondario li a {
	font-weight: bold;
	text-transform: uppercase;
	color: #909090;
	text-decoration: none;
	background:  url(../img/content/menu-line-grey.gif) left center no-repeat;
}
div#main ul.menuSecondario li.primo a {
	background: none;
}
div#main ul.menuSecondario li a:hover, div#main ul.menuSecondario li a.on, div#main ul.menuSecondario li.primo a:hover, div#main ul.menuSecondario li.primo a.on {
	color: #fff;
	text-decoration: none;
	background: #cd0d18;
}

/*ALL-DOCUMENT-LINK-POST*/
#wrapcontent div#main h3 {
	font-size: 12px;
}
#wrapcontent div#main h3 a {
	color:#2c2c2c;
	text-decoration:none;
}
#wrapcontent div#main h3 a:hover{
	text-decoration:underline;
}
#wrapcontent div#main p {
	line-height:1.5;
	color:#666666;
}
#wrapcontent div#main p a {
    color:#2c2c2c;
	text-decoration:none
}
#wrapcontent div#main p a:hover{
    text-decoration:underline
}

#wrapcontent #main div.thumb a img {
	border: 1px solid #adadad;
}





/*MEDIA*/
#wrapcontent #main div.video {
	/*background:url(../img/content/bg-video.gif) 0 15px no-repeat;*/
}
#wrapcontent #main div.audio {
	/*background:url(../img/content/bg-audio.gif) 0 15px no-repeat;*/
}
#wrapcontent #main div.image {
	/*background: url(../img/content/bg-image.gif) 0 15px no-repeat;*/
}
#wrapcontent #main div.video img, #wrapcontent #main div.audio img, #wrapcontent #main div.image img {
	border: 1px solid #adadad;
}


/*BLOG*/
#wrapcontent div#main h3#result {
    color:#2c2c2c;
	font-size:12px;
	font-weight:bold;
}
#wrapcontent div#main table#blogResult {
	background:url(../img/content/bg-table-blog.gif) 0 0 repeat-x;
}
#wrapcontent div#main table#blogResult th {	
	text-transform:uppercase;
	font-size:12px;
	font-weight:bold;
	color:#2c2c2c;
	border-right:1px solid #d7d7d7
}
#wrapcontent div#main table#blogResult th a{
	text-transform:uppercase;
	font-size:12px;
	text-decoration:none;
	font-weight:bold;
	color:#2c2c2c; 
}

#wrapcontent div#main table#blogResult th.order1 a{
    background: url(../img/content/freccia-aperta.gif) right 0 no-repeat
}
#wrapcontent div#main table#blogResult th.order2 a{
    background: url(../img/content/freccia-chiusa.gif) right 0 no-repeat
}

#wrapcontent div#main table#blogResult td.noborder, #wrapcontent div#main table#blogResult th.noborder {
	border-right:none
}
#wrapcontent div#main table#blogResult td {
	border-right:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
	color:#666;
}
#wrapcontent div#main table#blogResult th.nobright, #wrapcontent div#main table#blogResult td.nobright {
	border-right:none;
}
#wrapcontent div#main table#blogResult td a {
    font-size:12px;
	font-weight:bold;
	text-decoration:none;
	color:#2c2c2c
}
#wrapcontent div#main table#blogResult td a:hover {
    text-decoration:underline;
}
/*PAGER TABLE*/

div.allBlogBottomDiv {
	background: url(../img/content/bk_wrapager.jpg) 0 0 no-repeat;
}



.allBlogBottom a {
    color:#626262;
	font-size:10px;
    text-decoration:none;
	line-height:22px;
}
.allBlogBottom a:hover {
    color:#FFFFFF;
    text-decoration:none;
	background:  url(../img/pager_num_edit.gif);

}
.allBlogBottom a.on {
    color:#FFFFFF;
    text-decoration:none;
	background:  url(../img/pager_num_edit.gif);
}
.allBlogBottomTab{
    text-align:center;
	font-size:10px;
}
.allBlogBottom td.prevTd a, .allBlogBottom td.nextTd a {
    color:#626262;
	font-size:10px;
    text-decoration:none;
	background: url(../img/pager_np.gif);
	line-height:22px;
}
/*USER*/
#wrapcontent div#main div#wraptitle p#onlineTammers {
    position:absolute; top:0; left:140px;
	font-weight:bold;
	color:#2c2c2c;
	font-size:12px
}
#wrapcontent div#main div#wraptitle p#checkfavouser label {
	color: #626262;
	font-size: 12px;
}
#wrapcontent div#main div#userwrapper div img {
	background: #fff;
	border: 4px solid #2c2c2c;
}
#wrapcontent div#main div#userwrapper div h3 img {
   background: none;border: none;	
}
#wrapcontent div#main div#userwrapper div p {
	 line-height: 1.2;
}


/*PAGER*/
#wrapcontent div#main div.wrappager, #wrapcontent div#main div#wrapPager{
	background: url(../img/content/bk_wrapager.jpg) 0 0 no-repeat;
}
#home-wrapcontent div.wrapwidg div div.wrappager {
	background: url(../img/content/bk_wrapager_full.jpg) 0 0 no-repeat;
	clear:left;
	height:30px;
	margin:25px 0 0;
	padding:5px 15px 0 0;
	text-align:center;
	border:0;
}
#wrapcontent div#main  ul.pager li a {
    text-align: center;
	color: #626262;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
#wrapcontent div#main ul.pager li a:hover, #wrapcontent div#main  ul.pager li a.on {
	color: #fff;
	text-decoration: none;
	background: url(../img/pager_num_edit.gif) 0 0 no-repeat;
}
#wrapcontent div#main ul.pager li.next a, #wrapcontent div#main  ul.pager li.prev a {
	text-align: center;
	color: #626262;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	background: url(../img/pager_np.gif) 0 0 no-repeat;
}

/*SIDEBAR*/

/*MY PROFILE*/
#wrapcontent #sidebar div#myprofile {
	background: url(../img/content/bk_myprofile_top_int.jpg) 0 0 no-repeat;
}
#wrapcontent #sidebar div#myprofile div#closebox {
	background:url(../img/content/bk_myprofile_bottom_int.jpg) left bottom no-repeat;
}
#wrapcontent #sidebar div#myprofile p#link_notifications a{
	background:url(../img/home/ico_notification.gif) 0 0 no-repeat;
	color:#fa6f00;
	font-size: 10px;
}
#wrapcontent #sidebar div#myprofile p#signout a {
	color: #2c2c2c;
	text-decoration: underline;
	font-size: 10px;	
}
#wrapcontent #sidebar div#myprofile h2 {
	font-size: 14px;
	color: #e2001a;
}
#wrapcontent #sidebar div#myprofile h2 a {
	font-size: 12px; font-weight: normal;
	text-decoration: none;
	color: #626262;
}
#wrapcontent #sidebar div#myprofile p img {
	border: 1px solid #dadada;
}
#wrapcontent #sidebar div#myprofile p a {
	text-decoration: none;
	color: #820202;
	font-size: 11px;
}
#wrapcontent #sidebar  h2 {
	font-size: 15px;
	color: #e2001a;
}
/*ALERT*/
#wrapcontent #sidebar div.alert {
	background: #2982D5;
	border: 1px solid #555;
}
#wrapcontent #sidebar div.alert p {
	color: #fff;
}
#wrapcontent #sidebar div.alert p a {
	color: #fff;
	text-decoration: underline;
}
#wrapcontent #sidebar div.alert p a:hover {
	color: #fff;
	text-decoration: none;
}



/*CONTRIBUTE*/
#wrapcontent #sidebar ul#contribute li a {
	color:#626262;
	text-decoration: none;
}
#wrapcontent #sidebar ul#contribute li a span {
	/*background: url(../img/action_ico/dot.gif) 5px 5px no-repeat;*/
}
#wrapcontent #sidebar ul#contribute li#php a span {
	/*background: url(../img/action_ico/dot.gif) 5px 5px no-repeat;*/
}
#wrapcontent #sidebar ul#contribute li#contents a {
	background:url(../img/action_ico/contribute.gif) 10px 0 no-repeat;
}
/*#wrapcontent #sidebar ul#contribute li#blog a {
	background:url(../img/action_ico/blog.gif) 10px 0 no-repeat;
}*/
#wrapcontent #sidebar ul#contribute li#blog{ display:none;}

#wrapcontent #sidebar ul#contribute li#php a {
	background:url(../img/action_ico/php.gif) 10px 0 no-repeat;
}
#wrapcontent #sidebar ul#contribute li#group a {
	background:url(../img/action_ico/group.gif) 20px 5px no-repeat;
}
/*EXPLORE*/
#wrapcontent #sidebar ul#explore li a {
	color:#626262;
	text-decoration: none;
}
#wrapcontent #sidebar ul#explore li a span {
	/*background: url(../img/action_ico/dot.gif) 5px 5px no-repeat;*/
}
#wrapcontent #sidebar ul#explore li#c11 a {
	background:url(../img/action_ico/c11.gif) 10px 0 no-repeat;
}
/*#wrapcontent #sidebar ul#explore li#extt a {
	background:url(../img/action_ico/explore_com.gif) 10px 0 no-repeat;
}*/
#wrapcontent #sidebar ul#explore li#extt{ display:none;}
#wrapcontent #sidebar ul#explore li#exblog a {
	background:url(../img/action_ico/explore_blog.gif) 10px 0 no-repeat;
}
#wrapcontent #sidebar ul#explore li#hist a {
	background:url(../img/action_ico/history.gif) 10px 0 no-repeat;
}
#wrapcontent #sidebar ul#explore li#checkhig a {
	background:url(../img/action_ico/highlight.gif) 10px 0 no-repeat;
}

/*ONLINE USERS*/
#wrapcontent #sidebar div#userlist h2 {
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	color: #fff;
	background: url(../img/content/bg-onlineuser.gif) 13px 0 no-repeat;
}
#wrapcontent #sidebar div#userlist div#checkouser {
	border: 0
}
#wrapcontent #sidebar div#userlist div#checkouser p label {
	color: #626262;
	font-size: 12px;
}
#wrapcontent #sidebar div#userlist div {
	border-top: 1px solid #cd0d18;
}
#wrapcontent #sidebar div#userlist div#usavatar p  {
	background: #eaeaea;
	border: 1px solid #adadad; 
}
/* FORMATTAZIONE ANTEPRIME GRUPPI PAGINA GRUPPI */

#wrapcontent div#main div#wrapelements div#group h3 a, #wrapcontent div#main div#wrapelements div#group h3 a:hover{
	color:#2c2c2c;
	text-decoration:none;
}
#wrapcontent div#main div#wrapelements div#group p  {
	color: #666;
	line-height: 1.2;
}
#wrapcontent div#main div#wrapelements div#group a{
	text-decoration:none;
	color:#2c2c2c;
}
#wrapcontent div#main div#wrapelements div#group a:hover{
	text-decoration:underline;
}
#wrapcontent div#main div#wrapelements div#group span{
	color:#666;
}
#wrapcontent div#main div#wrapelements div#group a.content_preview{
background:url(../img/content/ico_content_prew.gif) 2px 2px no-repeat;
}

#wrapcontent div#main div#wrapelements div#group .panel{
	border-top:1px solid #2c2c2c;
	border-bottom:1px solid #e2001a;
}

/*DETTAGLIO GRUPPO*/
#wrapcontent div#main div#group h3 a, #wrapcontent div#main div#group h3 a:hover{
	color:#2c2c2c;
	text-decoration:none;
}
#wrapcontent div#main div#group p  {
	color: #666;
	line-height: 1.2;
	padding: 5px 0 0 0;
}
#wrapcontent div#main div#group a.pul_modifica_gr{ background: url(../img/content/modifica_gruppo.gif)  0 0 no-repeat; width:143px; height:21px; display:block; float:left; margin-right:10px; }
#wrapcontent div#main div#group a.pul_invite_members{ background:url(../img/content/invita_membri.gif)  0 0 no-repeat; width:154px; height:21px; display:block; float:left;}
#wrapcontent div#main div#group a.pul_modifica_gr span, #wrapcontent div#main div#group a.pul_invite_members span{ display:none;}
#wrapcontent div#main div#group a{
	text-decoration:none;
	color:#2c2c2c;
}
#wrapcontent div#main div#group a:hover {
	text-decoration:underline;
}
#wrapcontent div#main div#group #taglist a:hover {
	text-decoration:underline;
}
#wrapcontent div#main div#group span{
	color:#666;
}

#wrapcontent div#main div#group{
	border-bottom: 1px solid #e2001a;
}
/*members in dettaglio gruppi*/

#wrapcontent div#main div#members{
	border-bottom: 1px solid #e2001a;
}

#wrapcontent div#main div#members ul span{
	color:#03aafd;
	font-weight:bold;
}
#wrapcontent div#main p.viewall{
	color:#2c2c2c;
	font-weight:bold;
}
#wrapcontent div#main p.viewall a, #wrapcontent div#main p.viewall a:hover{
	text-decoration:none;
}

/*contents in DETTAGLIO GRUPPO*/
#wrapcontent div#main div#contents{
	border-bottom: 1px solid #e2001a;
}
#wrapcontent div#main div#contents h3 a, #wrapcontent div#main div#contents h3 a:hover{
	text-decoration:none;
}
#wrapcontent div#main div#contents a:hover {
	text-decoration:underline;
}
#wrapcontent div#main #type_filter{
	color:#666;
}

/*last post in DETTAGLIO GRUPPO*/
#wrapcontent div#main div#wraptitle a.vai_blog{
	color:#2c2c2c;
	font-weight:bold;
}
#wrapcontent div#main div#last_post{
	border-bottom: 1px solid #e2001a;
}
#wrapcontent div#main div#last_post h3 a, #wrapcontent div#main div#last_post h3 a:hover{
	text-decoration:none;
}
#wrapcontent div#main div#last_post a:hover {
	text-decoration:underline;
}


/*CONTENT DETAILS*/

#wrapcontent div#main h3#smallTitle {
    color:#2c2c2c;
	font-size:16px;
	font-weight:bold;
}
#wrapcontent div#main  div#contentThumb img{
	border: 2px solid #adadad;
}

#wrapcontent div#main  div.uploadedBy p.title{
    font-size:12px;
	color:#626262;
	font-weight:bold
}
#wrapcontent div#main div.uploadedBy  img {
	background: #fff;
	border: 4px solid #cd0d18;
}
#wrapcontent div#main div.uploadedBy h3 a {
    color:#2c2c2c;
	text-decoration:none
}
#wrapcontent div#main div.uploadedBy h3 a:hover {
    text-decoration:underline;
}
#wrapcontent div#main p.cleared img {
    vertical-align:middle
}
#wrapcontent div#main div#otherInfo p {
	font-size:12px
}
#wrapcontent div#main div#otherInfo p span{
    font-weight:bold;
	color:#2c2c2c;
}
#wrapcontent div#main div#otherInfo p a{
    text-decoration:none;
	color:#767676;
}
#wrapcontent div#main div#otherInfo p a:hover{
    text-decoration:underline
}
#wrapcontent div#main div#wrapComment  h3{
	border-bottom:1px solid #e2001a;
	border-top:1px solid #e2001a;
	background: url(../img/content/fumetto.gif) 15px center no-repeat #f0f0f0;
	line-height:30px;
}
#wrapcontent div#main div#wrapComment  h3.addComment{
	background:  url(../img/content/fumetto-scrivi.gif) 15px center no-repeat #f0f0f0;
}
#wrapcontent div#main div#wrapComment  ul li{
	border-bottom:1px solid #e2001a;
}
#wrapcontent div#main div#wrapComment  ul li p{ 
    font-size:12px;
}
#wrapcontent div#main div#wrapComment  ul li p.flagComment a img, #wrapcontent div#main div#wrapComment  ul li p.editComment a img,#wrapcontent div#main div#wrapComment  ul li p.removeComment a img{
   vertical-align:middle
}
#wrapcontent div#main div#wrapComment  ul li p.flagComment a, #wrapcontent div#main div#wrapComment  ul li p.editComment a, #wrapcontent div#main div#wrapComment  ul li p.removeComment a{ 
	font-size:11px;
	color:#666666;
	text-decoration:none;
}
#wrapcontent div#main div#wrapComment  ul li p.flagComment a:hover,#wrapcontent div#main div#wrapComment  ul li p.editComment a:hover, #wrapcontent div#main div#wrapComment  ul li p.removeComment a:hover{ 
	text-decoration:underline;
}
#wrapcontent div#main div#wrapComment iframe{ 
   border-left:1px solid #2c2c2c;
   border-right:1px solid #2c2c2c;
   border-bottom:1px solid #e2001a;
   border-top:0px;
}
#wrapcontent div#main div#wrap_addcomments form input{
	float: right;
}


/*GESTIONE ADD GROUPS*/
#wrapcontent div#main #add_group div#elenco_gruppi p label{
	color:#2c2c2c;
}
#wrapcontent div#main #add_group div#elenco_gruppi p.active{
	background-color:#e5e6e6;
}
/*SENDMAIL*/
#wrapcontent div#main div#sendMail label{
                color:#666;
}
/*
#wrapcontent div#main div#sendMail div.col_sx input#go_recipients{
	background:url(../img/content/pull_recipients_group.gif) 0 0 no-repeat;
}
#wrapcontent div#main div#sendMail div.col_sx input#send{
	background:url(../img/content/send.gif) 0 0 no-repeat;
}*/

/*
#wrapcontent div#main div#sendMail div.col_dx div.wraptag{
	background:#FFFFFF none repeat scroll 0% 50%;
    border-left:2px solid #848484;
    border-top:2px solid #848484;
}
#wrapcontent div#main div#sendMail div.col_dx div.wraptag a{
	background:url(../img/content/ico_search_add_user.gif) 0 50% no-repeat;
	color:#666;
	text-decoration:none;
}*/
/*FLAG INAPPROPRIATE*/
#wrapcontent div#main div#flag_inappropriate label{
	color:#666;
}
#wrapcontent div#main div#flag_inappropriate form input{
background:url(../img/content/submit.gif) 0 0 no-repeat;
}
/*ADDCONTENTS*/
#wrapcontent #wrapcontentupdate h2.big {
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	color: #fff;
    background:transparent url(../img/content/bk_titles_big.gif) no-repeat;
	border-bottom: 1px solid #e2001a;
}
#wrapcontent #wrapcontentupdate h2 span{ padding:2px 0 0 34px;}
#wrapcontent #wrapcontentupdate h3 {
    border-bottom:1px solid #e2001a;
    color:#2c2c2c;
    font-size:15px;
    text-transform:uppercase;
}
#wrapcontent #wrapcontentupdate div.addContent {
    background:url(../img/content/bg-table-blog.gif) 0 39px repeat-x;
}

#wrapcontent #wrapcontentupdate #field {
	font-size:12px;
	color:#666666;
}
#wrapcontent #wrapcontentupdate div#field label {
    font-style:normal;
    font-weight:normal;
    line-height:normal;
}
#wrapcontent #wrapcontentupdate div#field iframe {
    border:1px solid #2c2c2c;
}
#wrapcontent #wrapcontentupdate #field span#wwctrl_upload_content_discussionPermission label, #wrapcontent #wrapcontentupdate #field span#wwctrl_upload_content_permission label, #wrapcontent #wrapcontentupdate #field span#wwctrl_upload_content_rateEnabled label {
    font-weight:normal;
}
#wrapcontent #wrapcontentupdate .addContent #colDx p, #wrapcontent #wrapcontentupdate .addContent #colSx p{
    font-size:12px;
	color:#666666;
}
/*----------stili comuni tra AddContents e AddGroup--------*/
#wrapcontent #wrapcontentupdate .addContent div.wraptag, #wrapcontent #wrapcontentupdate .addGroup div.wraptag {
    background:#FFFFFF none repeat scroll 0% 50%;
    border-left:2px solid #848484;
    border-top:2px solid #848484;
}
#wrapcontent #wrapcontentupdate .addContent div.wraptag p, #wrapcontent #wrapcontentupdate .addGroup div.wraptag p {
    font-weight:normal;
    line-height:2;
}
#wrapcontent #wrapcontentupdate .addContent #upload, #wrapcontent #wrapcontentupdate .addGroup #upload {
    border-top:1px solid #E2001A;
}

#wrapcontent #wrapcontentupdate .addContent #upload a.upl, #wrapcontent #wrapcontentupdate .addContent #upload a.dtl, #wrapcontent #wrapcontentupdate .addContent #upload a.mdf ,#wrapcontent #wrapcontentupdate .addContent #upload a.del, #wrapcontent #wrapcontentupdate .addGroup #upload a.upl, #wrapcontent #wrapcontentupdate .addContent #upload a.mdf ,#wrapcontent #wrapcontentupdate .addContent #upload a.del, #wrapcontent #wrapcontentupdate .addGroup #upload a.del, #wrapcontent #wrapcontentupdate .addGroup #upload a.inv_user, #wrapcontent #wrapcontentupdate .addGroup #upload a.mdf, #wrapcontent #wrapcontentupdate .addGroup #upload a.edi, #wrapcontent #wrapcontentupdate .addGroup #upload a.det {

    background:url(../img/content/button_upmodel.gif) 0 0 no-repeat;

    border:0;

      color: #818181; text-decoration: none;

      font-size: 11px; font-weight: bold; line-height: normal;

}

#wrapcontent #wrapcontentupdate .addGroup #upload a.inv_user {

    background:url(../img/content/button_upmodel_inv.gif) 0 0 no-repeat;

}

/*-----------ADDGROUP---------*/

#wrapcontent #wrapcontentupdate div.addGroup {
    background:url(../img/content/bg-table-blog.gif) 0 39px repeat-x;
}
#wrapcontent #wrapcontentupdate div.addGroup div.img_avatar {
	border:4px solid #2c2c2c;
}
#wrapcontent #wrapcontentupdate .addGroup #colDx p, #wrapcontent #wrapcontentupdate .addGroup #colSx p{
    font-size:12px;
	color:#666;
}
#wrapcontent #wrapcontentupdate p.help_role{ font-size:11px;}


#wrapcontent #wrapcontentupdate div.box_help_role{
	background:#fff url(../img/content/bg_tagyouself.jpg) 0 100% repeat-x;
	border:1px solid #e5e4e4;
}
#wrapcontent #wrapcontentupdate div.box_help_role h4{ font-size:14px}
#wrapcontent #wrapcontentupdate div.box_help_role a.close_help_role{
	color:#666;
	text-decoration:underline;
}
#wrapcontent #wrapcontentupdate div.box_help_role p {text-align:left;}
#wrapcontent #wrapcontentupdate div.box_help_role p.text_desc{
	border-top:1px solid #2c2c2c;
	height:1%;
	margin-top:10px;
}
#wrapcontent #wrapcontentupdate .addGroup #colSx ul#elenco_friends li a, #wrapcontent #wrapcontentupdate .addGroup #colDx ul#elenco_friends li a{
	color:#2c2c2c;
	text-decoration:none;
}
#wrapcontent #wrapcontentupdate .addGroup #colSx ul#elenco_friends li a:hover, #wrapcontent #wrapcontentupdate .addGroup #colDx ul#elenco_friends li a:hover{
	text-decoration:underline;
}
/*NOTIFICATIONS*/
#wrapcontent #main #Notifications h3{
                color:#929292;
                font-size:18px;
                font-weight:bold;
                border-bottom: 1px solid #e2001a;
                background: url(../img/content/ico_groups_notifications.gif) 0 50% no-repeat;
}
#wrapcontent #main #Notifications h3#content_alert{
	background: url(../img/content/ico_alert_notifications.gif) 0 50% no-repeat;
}
#wrapcontent #main #Notifications h3#groups{
	background: url(../img/content/ico_groups_notifications.gif) 0 100% no-repeat;
}
#wrapcontent #main #Notifications h4{
	color:#2c2c2c;
	border-bottom:1px solid #e2001a;
	font-size:14px;
	font-weight:bold;
}
#wrapcontent #main #Notifications h4 span{
	color:#666;
	font-weight:normal;
	font-size:11px;
}
#wrapcontent #main #Notifications h4 a{
	color:#03aafd;
	text-decoration:none;
	font-size:11px;
	font-weight:bold;
}
#wrapcontent #main #Notifications h4 a:hover,  #wrapcontent #main #Notifications p a:hover{
	text-decoration:underline;
	color:#03aafd;
}

#wrapcontent #main #Notifications p a{
                color:#03aafd;
                text-decoration:none;
                font-size:11px;
                font-weight:normal;
}
#wrapcontent #main #Notifications p span{
                /*color:#03aafd;*/
                font-weight:normal;
                font-size:11px;
}

#wrapcontent #main #Notifications div.elenco_alert p.data_ora{
	font-size:10px;
}
#wrapcontent #main #Notifications div.elenco_alert{
	border-bottom:1px solid #e2001a;
}
/*USER-PROFILE*/
#wrapcontent #main #wraptitle a.rss{
    font-size:11px;
    font-weight:bold;
    color:#6e6d6d;
    text-decoration:none;
    background:url(../img/content/rss.gif) 0 center no-repeat;
    line-height:16px;
}
#wrapcontent #main #wraptitle a.rss:hover{
    text-decoration:underline
}
/*da copiare*/
/*TAB LIST*/
#wrapcontent #main ul.tab_list{border-bottom:1px solid #cd0d18;}
#wrapcontent #main ul.tab_list li h3 a{ background: url(../img/content/tab_sx_off.gif) 0 0 no-repeat;}
#wrapcontent #main ul.tab_list li h3 a span{ background:url(../img/content/tab_dx_off.gif) right top no-repeat; font-size:12px; font-weight:bold; color:#929292;}
#wrapcontent #main ul.tab_list li h3 a:hover, #wrapcontent #main ul.tab_list li.active h3 a{ text-decoration:none; background: url(../img/content/tab_sx_on.gif) 0 0 no-repeat;}
#wrapcontent #main ul.tab_list li h3 a:hover span, #wrapcontent #main ul.tab_list li.active h3 a span{ color:#fff; background:url(../img/content/tab_dx_on.gif) right top no-repeat;}
#wrapcontent #main ul.tab_list li h3.tab { background: url(../img/content/tab_sx_on.gif) left top no-repeat;}
#wrapcontent #main ul.tab_list li h3.tab span{ background:url(../img/content/tab_dx_on.gif) right top no-repeat; font-size:12px; font-weight:bold; color:#fff;}
/*FINE TAB LIST*/
#wrapcontent div#main div#tagForm  #addTagForm{
	background: url(../img/content/bg_tagyouself.jpg) 0 0 repeat-x;
	border:1px solid #e5e4e4;
}
#wrapcontent div#main div#tagForm  #addTagForm a.close_box_tag{
	color:#666;
	text-decoration:underline;
}
#wrapcontent div#main div#tagForm  #addTagForm a.aggiungi{
	font-weight:bold;
	font-size:12px;
	color:#2c2c2c;
}

#wrapcontent div#main div#tagForm  #addTagForm p{
	color:#666;
	padding-bottom:5px;
}
#wrapcontent div#main #waitingTags a.reject{ background:url(../img/content/pull_reject.jpg) 0 2px no-repeat; }
#wrapcontent div#main #waitingTags a.approve{ background:url(../img/content/pull_approve.jpg) 0 2px no-repeat; }

/*da copiare*/
#wrapcontent #main #Profile p{
    font-size:12px;
}
#wrapcontent #main #Profile p img { 
    vertical-align:middle;
}
#wrapcontent #main #Profile img { 
    border:4px solid #cd0d18;
}
#wrapcontent #main #Profile #userDetail p{ 
    color:#626262;
    font-weight:bold;
}
#wrapcontent #main #Profile #userDetail p span{ 
    color:#999999;
    font-weight:normal;
}
#wrapcontent #main #Profile p#edpf a {
	height: 23px;
	background:url(../img/content/pull/bg_generico_pull.gif) 0 0 no-repeat;
	text-decoration: none;
}
#wrapcontent #main #Profile p#edpf a span{ background:url(../img/content/pull/bg_generico_pull_dx.gif) right top no-repeat;
color:#666; font-weight:bold;}



#wrapcontent #main #Profile #elencoBlog{ 
    border-bottom:1px solid #e2001a;
}
#wrapcontent #main #Profile #elencoBlog h3{ 
    font-size:12px;
	color:#999999;
}
#wrapcontent #main #Profile #elencoBlog p{  
	border-top:1px solid #2c2c2c;
}

#wrapcontent #main #Profile #elencoGruppi h3{ 
    font-size:12px;
	color:#999999;
	border-bottom:1px solid #e2001a;
}
#wrapcontent #main #Profile #elencoGruppi p.help_role{ font-size:11px;}


#wrapcontent div#main #Profile #elencoGruppi  div.box_help_role{
	background: url(../img/content/bg_tagyouself.jpg) 100% 100% repeat-x;
	border:1px solid #e5e4e4;
}
#wrapcontent div#main #Profile #elencoGruppi  div.box_help_role a.close_help_role{
	color:#666;
	text-decoration:underline;
}
#wrapcontent div#main #Profile #elencoGruppi  div.box_help_role p {text-align:left;}

#wrapcontent div#main #Profile #elencoGruppi  div.box_help_role p.text_desc{
	border-top:1px solid #2c2c2c;
}
#wrapcontent #main #Profile #elencoGruppi div#last{
	border-bottom:1px solid #e2001a;
}



#wrapcontent #main #Profile div#interest p{  
    color:#626262;
	border-top:1px solid #2c2c2c;
}
#wrapcontent #main #Profile div#interest h3{ 
    font-size:12px;
	color:#999999;
}

#wrapcontent div#main div#history h2  {
	font-size: 15px;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	background: url(../img/home/bk_titles.gif) 0 0 no-repeat;
	border-bottom: 1px solid #e2001a;
}
#wrapcontent div#main div#history h2 span{ padding:2px 0 0 32px;}
#wrapcontent div#main div#history p.newcontent{
    background:url(../img/content/newcontent.gif) 3px center no-repeat;
}
#wrapcontent div#main div#history p.newcomment{
    background:url(../img/content/newcomment.gif) 3px center no-repeat;
}
#wrapcontent div#main div#history p.newtag_yourself{
    background:url(../img/content/ico_hist_tag_youself.gif) 3px center no-repeat;
}
#wrapcontent div#main div#history p.newtag_thisuser{
    background:url(../img/content/ico_hist_tag_thisuser.gif) 3px center no-repeat;
}
#wrapcontent div#main div#history p.newtag_best_answer{
    background:url(../img/content/ico_hist_best_answer.gif) 3px center no-repeat;
}


#wrapcontent div#main div#history p{
	line-height: 1.5;
}
#wrapcontent div#main div#history img{
    vertical-align:middle;
}
#wrapcontent div#main div.contenuti ul.primaLista{
	border-bottom: 1px solid #820202;
}
#wrapcontent div#main div.contenuti ul.primaLista li a{
	line-height:24px;
	font-size:14px;
	color:#7d7d7d;
	background:url(../img/content/tab-contenuti-off.gif) 0 0 no-repeat;
	font-weight:bold;
	text-decoration:none;
}
#wrapcontent div#main div.contenuti ul.primaLista li a:hover, #wrapcontent div#main div.contenuti ul.primaLista li a.on{
	color:#FFFFFF;
	background:url(../img/content/tab-contenuti-on.gif) 0 0 no-repeat;
}
#wrapcontent div#main div.contenuti ul#secondaLista{
	background:#cd0d18;
	border-top:1px solid white;
}
#wrapcontent div#main div.contenuti ul#secondaLista li a{
	line-height:30px;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	background:url(../img/content/bg-listasecondaria.gif) right center no-repeat;
}
#wrapcontent div#main div.contenuti ul#secondaLista li a.ultimo{
	background:none;
}
#wrapcontent div#main div.contenuti ul#secondaLista li a:hover, #wrapcontent div#main div.contenuti ul#secondaLista li a.on{
    text-decoration:underline;
}
#wrapcontent div#main div.contenuti div.favourite-user div{
	border-bottom:1px solid #c7c7c7;
}
#wrapcontent div#main div.contenuti div.favourite-user div img {
	background: #fff;
	border: 4px solid #2c2c2c;
}
#wrapcontent div#main div.contenuti div.favourite-user div h3 img {
    background: none;
	border: none;
}
#wrapcontent div#main div.contenuti div.favourite-user div p {
	line-height: 1.2;
}
#wrapcontent div#main div.contenuti div.public-comments div p.comment, #wrapcontent div#main div.contenuti div.public-post-comments p.comment{
	background: url(../img/content/newcomment.gif) 0 2px no-repeat #FFFFFF;
}
#wrapcontent div#main div.contenuti div.public-comments div p.comment span,  #wrapcontent div#main div.contenuti div.public-post-comments p.comment span{
	color:#2C2C2C;
	font-weight:bold;
}
/*EDIT-PROFILE*/
#wrapcontent div#dati {
    font-size:11px;
    text-align:left;
	background:url(../img/content/bg-table-blog.gif) 0 0 repeat-x;
}
#wrapcontent div#dati div {
    text-align:left;
}
#wrapcontent div#dati div p {
   color:#505050;
   font-size:12px;
   line-height:2.5;
}
#wrapcontent div#dati div p span, #wrapcontent div#dati div label {
   font-weight:normal;
}
#wrapcontent  div#dati div input {
   vertical-align:middle;
}

#wrapcontent div.dati div.campi span.madatory{ color:#2c2c2c;}

#wrapcontent div#dati div p span#sesso, #wrapcontent div#dati div p span#birth, #wrapcontent div#dati div p span#editForm_user_birthday {
   font-weight:normal;
}
#wrapcontent div#dati p textarea {
   font-size:12px;
}
#wrapcontent div#dati p {
   color:#505050;
   font-size:12px;
   line-height:1.4;
}
#wrapcontent  div#dati p span {
   font-weight:normal;
   font-size:12px;
}
#wrapcontent div#main #photo{
   border:1px solid #e2001a;
}
#wrapcontent div#main  #photo img{
   border:1px solid #dadada;
}
#wrapcontent div#main #photo input{
   background:url(../img/content/submit.gif) 0 0 no-repeat;
   border:0;
}
#wrapcontent  ul.gallery li a{
	line-height:24px;
	font-size:12px;
	color:#7d7d7d;
	background:url(../img/content/tab-contenuti-off-big.gif) 0 0 no-repeat;
	font-weight:bold;
	text-decoration:none;
}
#wrapcontent  ul.gallery li a:hover, #wrapcontent  ul.gallery li a.on{
	color:#FFFFFF;
	background:url(../img/content/tab-contenuti-on-big.gif) 0 0 no-repeat;
}
#wrapcontent div#main #mirrorBg{
    background:url(../img/content/bg-table-blog-mirror.gif) 0 bottom repeat-x;
	border-bottom:1px solid #2c2c2c
}
#wrapcontent div#main .pull_finali input#cancel{
	background:url(../img/content/button_upmodel.gif) 0 0 no-repeat;
	border:0;
	color:#666;
	font-weight:bold;
}
#wrapcontent div#main .pull_finali input#submit{
	background:url(../img/content/button_upmodel.gif) 0 0 no-repeat;
	border:0;
	color:#666;
	font-weight:bold;
}
/*CHART*/
#wrapcontent div#main div#chart h2{
   background:transparent url(../img/home/bk_titles.gif) no-repeat 0 0 ;
   border-bottom:1px solid #e2001a;
   color:#FFFFFF;
   font-size:15px;
   font-weight:bold;
   line-height: 1;
}


#wrapcontent div#main div#chart p{
   border-bottom:1px solid #CCCCCC;
}
#wrapcontent div#main div#chart p span{
   font-weight:bold
}
/*CHART HOMEPAGE*/
#home-wrapcontent div div.wrapwidg div.chart h3 {
   font-size:12px;
   font-weight:bold;
   color: #626262;
}


#home-wrapcontent div div.wrapwidg div.chart a{
    text-decoration:none;
	color:#2c2c2c
}
#home-wrapcontent div div.wrapwidg div.chart a:hover{
    text-decoration:underline;
}
#home-wrapcontent div div.wrapwidg div.chart p{
    border-bottom:1px solid #CCCCCC;
    
}
#home-wrapcontent div div.wrapwidg div.chart p span{
    font-weight:bold;
}
#home-wrapcontent div div.wrapwidg div.chart img{
    vertical-align:middle;
}
#home-wrapcontent div div.wrapwidg div.chart .upDown {
    vertical-align:middle;
}
/*Generico Filtri*/
#wrapcontent div#main ul.filtri{background:url(../img/content/beg-azzurro.gif) 0 0 repeat-x; border-top:1px solid white;}
#wrapcontent div#main ul.filtri li a{ 
	line-height:30px;
	font-size:12px;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
	text-transform:uppercase;
	background:url(../img/content/bg-listasecondaria.gif) right center no-repeat;
}
#wrapcontent div#main ul.filtri li a:hover, #wrapcontent div#main ul.filtri li a.on { text-decoration:underline; }
#wrapcontent div#main ul.filtri li a.ultimo{ background:none;} 


/*Generico box action*/
#wrapcontent div#main div.box_action{ background:url(../img/content/bg_menu_flag.gif) 0 0 repeat-x;}
#wrapcontent div#main div.box_action div.Sx{ background: url(../img/content/sx_menu_flag.gif) 0 0 no-repeat;}
#wrapcontent div#main div.box_action div.Dx{background: url(../img/content/dx_menu_flag.gif) 0 0 no-repeat;}

/*Q&A*/
#wrapcontent div#main .QeA_Search{ border:1px solid #e4e4e4; background: url(../img/content/bg_search_qa.jpg) 0 0 repeat-x;}
#wrapcontent div#main .QeA_Search label{ font-weight:bold; }
#wrapcontent div#main .QeA_Search input.pull_search_QeA{ border:0; cursor:pointer; background:url(../img/content/pull_search_qa.gif) 0 1pt no-repeat; width:17px; height:19px;}



#wrapcontent div#main ul.lista_domande li div.domanda_chiusa{ background:#ffefef url(../img/content/QeA/top_boxQeA_close.gif) 0 0 no-repeat;}
#wrapcontent div#main ul.lista_domande li div.chiusura_box_c{background:#ffefef url(../img/content/QeA/bottom_boxQeA_close.gif) left bottom no-repeat;}

#wrapcontent div#main ul.lista_domande li div.domanda_in_chiusura{ background:#fffec6 url(../img/content/QeA/top_boxQeA_in_chiusura.gif) 0 0 no-repeat;}
#wrapcontent div#main ul.lista_domande li div.chiusura_box_in_c{background:#fffec6 url(../img/content/QeA/bottom_boxQeA_in_chiusura.gif) left bottom no-repeat;}

#wrapcontent div#main ul.lista_domande li div.domanda_aperta{ background:#edf7cd url(../img/content/QeA/top_boxQeA_open.gif) 0 0 no-repeat;}
#wrapcontent div#main ul.lista_domande li div.chiusura_box_a{background:#edf7cd url(../img/content/QeA/bottom_boxQeA_open.gif) left bottom no-repeat;}

#wrapcontent div#main ul.lista_domande li div.box_domanda span.st_in_chiusura{ background:url(../img/content/QeA/ico_in_chiusura.gif) 0 0 no-repeat; color:#fd9011; font-weight:bold;}
#wrapcontent div#main ul.lista_domande li div.box_domanda span.st_chiusa{ background:url(../img/content/QeA/ico_chiusa.gif) 0 0 no-repeat; color:#e55b2c; font-weight:bold;}
#wrapcontent div#main ul.lista_domande li div.box_domanda span.st_aperta{ background:url(../img/content/QeA/ico_aperta.gif) 0 0 no-repeat; color:#79a900; font-weight:bold;}
#wrapcontent div#main ul.lista_domande li div.box_domanda h4 a{ font-weight:bold; color:#2c2c2c; font-size:14px;}
#wrapcontent div#main ul.lista_domande li div.box_domanda p.note{ font-weight:bold; }
#wrapcontent div#main ul.lista_domande li div.box_domanda p.note span{ font-weight:normal;}

#wrapcontent div#main ul.lista_domande li p.leggi_risposte{ border-bottom:1px solid #cd0d18;
	border-top:1px solid #cd0d18;
	background: url(../img/content/fumetto.gif) 15px center no-repeat #f0f0f0;}

#wrapcontent div#main ul.lista_domande li div.box_domanda p.inserita_da{ font-weight:bold;}

#wrapcontent div#main span.best_answer{
background:url(../img/content/ico_best_answere.gif) 0 0
 no-repeat; color:#666; font-weight:bold;}

/*HOME CONTENT FILTER + POST FILTER*/
#home-wrapcontent div div.wrapwidg div#homeContentFilter ul li, #home-wrapcontent div div.wrapwidg div#postFilter ul li {
	border-left: 1px solid #d0d0d0;
}
#home-wrapcontent div div.wrapwidg div#homeContentFilter ul li#first, #home-wrapcontent div div.wrapwidg div#postFilter ul li#first {
	border-left: none;
}
#home-wrapcontent div div.wrapwidg div#homeContentFilter ul li a, #home-wrapcontent div div.wrapwidg div#postFilter ul li a {
	color: #333; text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div#homeContentFilter ul li a:hover, #home-wrapcontent div div.wrapwidg div#postFilter ul li a:hover {
	color: #2c2c2c; text-decoration: none;
}
#home-wrapcontent div div.wrapwidg div#homeContentFilter ul li a span.filterOn, #home-wrapcontent div div.wrapwidg div#postFilter ul li a span.filterOn {
	color: #2c2c2c; font-weight: bold;
	}

/*BOX BIRTHDAYS*/
#home-wrapcontent div div.wrapwidg div#brthdays ul li.alternate {
	background: #f6fbfe;
}
#home-wrapcontent div div.wrapwidg div#brthdays ul li a {
	text-decoration: none; color: #333; font-weight: bold;
}
#home-wrapcontent div div.wrapwidg div#brthdays ul li span  {
	color: #000; 
}







/*DETAIL STAR RATING*/
.star-rating, .star-rated,
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus, 
.star-rating .current-rating, .star-rated .current-rating{
	background: url(../img/mini_rating.gif) left -1000px repeat-x;
}
.star-rating, .star-rated{
	background-position: left top;
}
.star-rating a, 
.star-rating .current-rating, .star-rated a, .star-rated .current-rating {
	text-indent:-1000em;
	line-height:13px;
	border: none;
}
.star-rating a:hover,
.star-rating a:active,
.star-rating a:focus{
	background-position: left bottom;
}
.star-rating .current-rating, .star-rated .current-rating{
	background-position: left center;
}
/* for an inline rater */
.inline-rating {
	vertical-align: middle;
}
/*PROPRIETA' PULSANTI CON BACKGROUND*/
/*questi pulsanti sono genericiutilizzabili in qualsiasi punto del TT*/
a.button_enabled, a.button_disabled{ 
	text-decoration: none;  
	background: url(../img/content/pull/bg_generico_pull_sx.jpg) left top no-repeat;
	font-size:12px;
}

#wrapcontent div#main p a.button_enabled:hover, #wrapcontent div#main p a.button_disabled:hover,  a.button_enabled:hover, a.button_disabled:hover{
text-decoration:none; 
}
a.button_enabled span, a.button_disabled span{ 
background: url(../img/content/pull/bg_generico_pull.jpg) right top no-repeat;
color:#666; 
font-weight:bold;
}
a.button_disabled span{ 
color:#ccc; 
}
/*PROPRIETA' PULSANTI CON ICONA*/
#wrapcontent #main a.button_ico span{
	color:#666;
	font-weight:bold;
	background:url(../img/content/pull/bg_generico_pull.jpg) right top no-repeat;
	font-size:11px;
	line-height:1.8;
}
#wrapcontent #main a.button_ico:hover, #wrapcontent #main p a:hover.button_ico{ text-decoration:none; }
/*questi pulsanti hanno la variabile dell'icona che viene definita con la classe attribuita alla p lo span invece ha un bg generico*/
#wrapcontent #main p.ritira_domanda a.button_ico{ background:url(../img/content/pull/pull_ico_ritira_domanda.jpg) 0 0 no-repeat; }
#wrapcontent #main div#wrapComment ul li p.vote_best_answer, #wrapcontent #main #Profile p.assign_role, #wrapcontent #main #Profile p.subscribe, #wrapcontent #main #Profile p.unsubscribe, #wrapcontent #main #Profile p.propose_as  { font-size:11px;}
#wrapcontent #main p.vote_best_answer a.button_ico{ background:url(../img/content/pull/best_answer.jpg) 0 0 no-repeat; }
#wrapcontent #main p.assign_role a.button_ico { background:url(../img/content/pull/pull_ico_choserole.jpg) 0 0 no-repeat;}
#wrapcontent #main p.unsubscribe a.button_ico { background:url(../img/content/pull/pull_ico_unsubscribe.jpg) 0 0 no-repeat;}
#wrapcontent #main p.subscribe a.button_ico { background:url(../img/content/pull/pull_ico_subscribe.jpg) 0 0 no-repeat;}
#wrapcontent #main p.propose_as a.button_ico { background:url(../img/content/pull/pull_ico_propose_as.jpg) 0 0 no-repeat;}
#wrapcontent #main p.tag_yourself a.button_ico { background:url(../img/content/pull/tag_yourself.jpg) 0 0 no-repeat;}
#wrapcontent #main p.tag_thisuser a.button_ico { background:url(../img/content/pull/tag_thisuser.jpg) 0 0 no-repeat;}
/*notification setting*/
table.notification-config-table caption{ text-align:left; padding:20px 0; font-size:13px;}
table.notification-config-table td{ padding:3px; width:60px;}
table.notification-config-table td.cellWithCheckbox{ width:40px;}
table.notification-config-table td.filterCell{ width:300px;}
table.notification-config-table td.filterCell div{ padding:5px 0;}
#wrapcontent div#main  table.notification-config-table td.filterCell div a img{ vertical-align:middle;}
table.notification-config-table td #addFilter{ margin-right:10px;}
table.notification-config-table td #addFilter span{ margin-right:5px;}
table.notification-config-table td #addFilter select{ vertical-align:middle;}
table.notification-config-table td.addConfigRow a{ background:url(../img/content/ico_search_add_user.gif) 0 50% no-repeat; padding-left:16px; display:block; margin-top:5px; float:left; width:120px;}
