/* --------------------------------------------
----------------------------------------------- AUTOCOMPLETER */
.ac_results{padding:0;background:#fff;overflow:hidden;width:auto;text-align:left;box-shadow: 1px 1px 2px #ccc;/*border: 1px solid #CCC;<-- Revert to Old */}
.ac_results iframe{display:none;}

#infoTip{background:#ababab; padding:5px 9px; margin:5px 0 0 5px; display:inline-block; clear:none; border-radius:40px; color:#fff; cursor:pointer;}

.qtip.qtip-light.qtip-active{margin:0 0 40px; z-index:500 !important;}
.qtip-content article{padding:20px;}
.qtip-content article > ul li{line-height:1.1em; margin:0 0 10px; list-style:inside disc;}
.qtip-content article > ul li h4{display:inline-block;margin: 0 5px 0 0;}

.ac_results ul{width:100%;list-style-position:outside;list-style:none;padding:0;margin:0;}

.ac_results li{padding:2px 6px 2px 2px; cursor:pointer; height:38px; line-height:1.3em; z-index:2; white-space:nowrap;}
.ac_results .item-avatar{float:left; width:32px; height:32px; padding:2px;}
.ac_results .item-name{display:block}
.ac_results .item-info{margin-top:5px; display:block; white-space:nowrap; text-overflow:ellipsis; padding-left:36px;}

.ac_loading{background:url(../../img/indicator.gif) right center no-repeat;}
.ac_over{background-color:#999; color:#fff;}