/* --------------------------------------------
----------------------------------------------- SEARCH*/
#header #search{position:absolute; right:0; height:25px; width:200px; bottom:0; margin:0; padding:0; overflow:hidden; background:#fff url(../../img/search.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;}
#header #search input{vertical-align:middle; margin:0; width:150px; padding:1px;}
#header #search label{color:#fff; display:none;}
#header #search select{vertical-align:middle; margin-top:-4px; display:none;}
a.searchButton{cursor:pointer; text-indent:-9999px; height:25px;width:25px; position:absolute; bottom:0; right:0; background:none;}
#header #search .ac_input{border:none; background:none; height:25px; width:170px; line-height:25px; color:#bbb; font-size:13px; font-weight:normal; font-style:italic; margin:0 25px 0 0; padding:0 0 0 5px;}