/* Webfont: ProximaNova-Light */@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-Light.eot'); /* IE9 Compat Modes */
    src: url('ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
         url('ProximaNova-Light.ttf') format('truetype'); /* Safari, Android, iOS */
         url('ProximaNova-Light.svg#ProximaNova-Light') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

