/* Webfont: ProximaNova-Bold */@font-face {
    font-family: 'ProximaNova2';
    src: url('ProximaNova-Bold.eot'); /* IE9 Compat Modes */
    src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ProximaNova-Bold.woff') format('woff'), /* Modern Browsers */
         url('ProximaNova-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
         url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'), /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

