body.mkt_campaign{font-family: 'Montserrat','tamtamy-icon', sans-serif;text-align: left;}
.mkt_campaign .tab-content{background-color: #f7f7f7;}
.navbar-default .navbar-brand.projects {padding:2.6rem 1.5rem; overflow:hidden; height:auto;}
.navbar-default .navbar-brand.projects > span{display:block;}
.mkt_campaign .navbar-default .navbar-brand{max-width:100%; line-height:1rem;}
.mkt_campaign .navbar-toggle[data-target='#portal_menu']{display:none;}
.mkt_campaign .homeColumn0 .wrapwidg {margin: 0}
.mkt_campaign .homeColumn0 .wrapwidg.page_tabber{margin:0 -15px;}
.mkt_campaign .navbar-header{padding:0 15px;}
.mkt_campaign .navbar-default .navbar-brand {padding: 2.9rem 0;}
.mkt_campaign .mainTitle h1 {display: table-cell; vertical-align: middle;}
.mkt_campaign.homepage .mainTitle h1 {display: block;}
.mkt_campaign .mainTitle h1 span{text-shadow:none; font-size:36px;}
.mkt_campaign .banner .widget_padding .mainTitle {padding: 45px 0;height: 150px;}


.mkt_campaign .banner .widget_padding {position: relative;}

.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center;}
.row-eq-height-top {align-self: flex-start;}
.row-eq-height-bottom {align-self: flex-end;}
.spacer_60px{margin-top: 60px;}

.content_addcomment{border:1px solid #000;overflow:auto;padding: 6px;}
.content_addcomment .textarea{width:95%;padding:0 10px;border:none;font-family:inherit;display:block;line-height:27px;right:0}
.content_addcomment .textarea.selected,
.content_addcomment .textarea:hover{}
.content_addcomment .textarea.selected{height:80px;border-bottom:1px solid #000;}
.content_addcomment .add-comment{clear:both;padding:3px}
.content_addcomment .buttons_wrapper{ margin-bottom:0px; padding:5px; border: none;}

.redactor-toolbar li{border: none !important;}

/* header */
.mkt_campaign .header h2.title {padding:10px 15px; margin:0; text-align:center; font-size:21px; font-weight:100; letter-spacing:1px; display:block;}
.mkt_campaign .header .wrapper {max-width:1170px; padding:0 7.5px; margin:0 auto;}

.mkt_campaign .heder__arrow.tti-freccia_sinistra_02 {left:8px; position:absolute; top:50%; transform:translateY(-50%); color:#fff;text-decoration: none; cursor: pointer;font-size: 30px;z-index: 9}

.mkt_campaign  .btn_crm {right:0; position:absolute; top:50%; border:2px solid #fff; transform:translateY(-50%); padding:5px 25px;border-radius: 3px;color: #fff;text-transform: uppercase;text-decoration: none; cursor: pointer;}
.mkt_campaign  .btn_crm:hover{text-decoration:none; background:#fff; color:#00b04e; }
.mkt_campaign .btn_crm:before {content:'\e902'; margin-right:10px; font-size:22px; display:inline-block; vertical-align:middle;}

/* Feeback Sphere Link */
#feedbackButton {position:fixed; bottom:20px; left:20px;}
#feedbackButton 	a{border-radius:4px; padding:15px; text-align:center; background:#48b274; color:#fff; display:block; text-decoration:none;}
#feedbackButton span{display:block; font-size:.9em;}
#feedbackButton .title{margin:0 0 5px;}
#feedbackButton .callAction{text-transform:uppercase;}
#feedbackButton .callAction::after{content:'\e944'; display:inline-block; font-family:'tamtamy-icon'; vertical-align:middle; margin:0 0 0 5px;}

/* Project Library*/
.wrapwidg.title-not-first-child .content-description{font-size:16px;}

.prCover .wrapwidg.title-not-first-child .content-description{font-size: 20px;font-weight: bold;}
.prCover .wrapwidg.title-not-first-child .content-description span{color: #143f96;}

.wrapwidg.projectLibrary_link {margin:-60px -15px 30px;}
.wrapwidg.projectLibrary_link .container .content {background-color: #fff; border: 1px solid #cec9cb;padding: 15px 20px;display: table;width: 100%;}
.wrapwidg.projectLibrary_link .container .content > div{display:table-cell;vertical-align: middle;margin: 0}
.wrapwidg.projectLibrary_link .container .content .text{padding: 0 10% 0 0;}
.wrapwidg.projectLibrary_link .container > div .contact-container{width:365px;}
.wrapwidg.projectLibrary_link .container > div .contact-container a{margin:0;padding:15px 40px;}
.wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text{width:auto;margin: 0;}
.wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text h2{font-size:16px;}

/* Header Elements */
.homepage .banner.parallax .mainTitle h1 b {font-size:60px;}
.homepage .banner.parallax .mainTitle::before{background-image: url('../svg/replyCircle.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size:265px 265px;background-position: right 17px;z-index: 3;display: none;}
.homepage .banner.parallax .widget_padding > div .mainTitle{position:static;}
.homepage .banner .widget_padding > div .mainTitle.mkt_campaign::before{transform: translateX(22%);background-image: url('../images/mktCampaign_Cover.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1340px 240px;background-position: 37% 51%;background-repeat:no-repeat;height: 215px;}

#MKT_Campaign_Contents .header h2.title {text-align:center; background-color:#007d89; margin:0; padding:20px; color:#fff; font-size:1.4em; line-height:0.8em;}
#MKT_Campaign_Contents .header h2.title + .wrapper{margin:55px auto 0;}

/* Header canvas */
.page_title::before{position: absolute;top: 0;bottom: 0;left: 0;width: 100%;background-image: url('../images/bokehInterne.jpg?v=@TAMTAMY_PREVENT_CACHE@');background-repeat: no-repeat;background-position: bottom;background-size:cover;-webkit-mask-image: none;z-index: -3;}

/*page_tabber circle*/
.mkt_campaign .page_tabber .nav-pills > li > a::before{background-color:#fff; background-image:url(../images/sprite_mkc.svg?v=@TAMTAMY_PREVENT_CACHE@); background-repeat:no-repeat;background-size: 700px 280px;}
.mkt_campaign .page_tabber .nav-pills > li:hover > a::before,
.mkt_campaign .page_tabber .nav-pills > li.active > a::before{background-color:#00b04e; background-image:url(../images/sprite_mkc.svg?v=@TAMTAMY_PREVENT_CACHE@); background-repeat:no-repeat;background-size: 700px 280px; background-position:0 -140px; transition:none;}

.mkt_campaign .page_tabber .nav-pills > li.emailMkt > a::before {background-position:0 0;}
.mkt_campaign .page_tabber .nav-pills > li.emailMkt:hover > a::before,
.mkt_campaign .page_tabber .nav-pills > li.emailMkt.active>a::before{ background-position:0 -140px;}
.mkt_campaign .page_tabber .nav-pills > li.events>a::before {background-position:-140px 0;}
.mkt_campaign .page_tabber .nav-pills > li.events:hover>a::before,
.mkt_campaign .page_tabber .nav-pills > li.events.active>a::before{background-position:-140px -140px;}
.mkt_campaign .page_tabber .nav-pills > li.pressPR>a::before {background-position:-280px 0;}
.mkt_campaign .page_tabber .nav-pills > li.pressPR:hover>a::before,
.mkt_campaign .page_tabber .nav-pills > li.pressPR.active>a::before{background-position:-280px -140px;;}
.mkt_campaign .page_tabber .nav-pills > li.socialMedia>a::before {background-position:-420px 0;}
.mkt_campaign .page_tabber .nav-pills > li.socialMedia:hover>a::before,
.mkt_campaign .page_tabber .nav-pills > li.socialMedia.active>a::before{background-position:-420px -140px;}
.mkt_campaign .page_tabber .nav-pills > li.website>a::before {background-position:-560px 0;}
.mkt_campaign .page_tabber .nav-pills > li.website:hover>a::before,
.mkt_campaign .page_tabber .nav-pills > li.website.active>a::before{background-position:-560px -140px;}

.mkt_campaign .container .customer__circle {background:#fff url(../images/sprite_mkc.svg?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0; background-size:1270px 530px;}
.mkt_campaign #tab1 .container .customer__circle {background-position:-11px -11px; background-size: 1114px 446px;}
.mkt_campaign #tab2 .container .customer__circle {background-position:-213px -8px; background-size: 1040px 416px;}
.mkt_campaign #tab3 .container .customer__circle {background-position:-475px -18px; background-size: 1147px 460px;}
.mkt_campaign #tab4 .container .customer__circle {background-position:-593px -2px; background-size: 990px 400px;}
.mkt_campaign #tab5 .container .customer__circle {background-position:-1044px -34px;}

/*page_tabber triangle*/
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li > a::before{content:'';color:#0a7e8a; background-image:none; font-size:4.7em; line-height:2.27em;}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li:hover > a::before{color: #35AA3E;}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.active > a::before{color: #27a950;}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.start > a::before {content:'\e9a8';}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.start:hover > a::before,
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.start.active > a::before{}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.brief > a::before{content:'\e9a6';}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.brief:hover > a::before,
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.brief.active > a::before{}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.templateEm > a::before {content:'\e9a9';}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.templateEm:hover > a::before,
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.templateEm.active > a::before{}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.distribution > a::before {content:'\e9a7';}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.distribution:hover > a::before,
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.distribution.active > a::before{}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.marketingDas > a::before {content:'\e9a5';}
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.marketingDas:hover > a::before,
.mkt_campaign .page_tabber .nav-pills.howToUseCrm > li.marketingDas.active > a::before{}

/* HOW TO CRM buttons */
.blue_button{min-width:100%;}
.blue_button.green{background-color:#00b04e;}
.blue_button.green:hover{background-color:#009342;}

/* modulo 4  */
.modulo_4 h2:before{background: url(../images/tool.svg?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center #fff;}

/* Media Queries */
@media only screen and (max-width : 767px) {
	.banner .mainTitle {min-height:10px; height:auto !important;}
	.mkt_campaign .banner .widget_padding .mainTitle{padding: 45px 0 45px 20px;}
	.homepage .banner .mainTitle{padding:20px 0 5px !important;}
	.blue_button a{padding:10px 0;}

	.mainTitle h1 {font-size: 0.76em;}
	.mainTitle h1 span.reply_title{min-height:30px;}
	.mainTitle h1 span.reply_title::before{width:90px; height:20px; background-size:cover;}
	.homepage .mainTitle h1 b{font-size: 1em;}
	.mainTitle h1 b{font-size: 0.7em;}
	.mainTitle h3 {font-size: 0.95em;}
	.mkt_campaign .mainTitle h1 span{font-size: 2.2em;}
	.mkt_campaign .header h2.title{font-size:1em;}
	.mkt_campaign .big.button .grayer p{font-size:1.2em;}

	.mkt_campaign .tab-content{background-color: #fff;}
	.wrapwidg.projectLibrary_link .container .content > div{display:block; text-align:center; margin:0 auto; margin-bottom:15px;}
	.wrapwidg.projectLibrary_link .container > div .contact-container{width:auto;}
	.wrapwidg.projectLibrary_link .container .content .text{padding:0;}
	.mkt_campaign .btn_crm{text-indent:-9999px;right:20px;padding: 11px 0;width: 15%;}
	.mkt_campaign .btn_crm:before{position:absolute;text-indent:0;display: inline-block;left: 50%;top: 50%;margin: 0;transform: translate(-50%, -50%);}
	#MKT_Campaign_Contents .header h2.title {line-height:initial;}
	#MKT_Campaign_Contents .header h2.title + .wrapper {margin:113px auto 0;}

	/*page_tabber circle*/
	.mkt_campaign .page_tabber .nav-pills > li > a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li:hover > a::before{background-size:450px 180px;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.active:hover > a::before,
	.mkt_campaign .page_tabber .nav-pills > li.active > a::before{background-size:450px 180px; background-position:0 -140px;}

	.mkt_campaign .page_tabber .nav-pills > li.emailMkt > a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.emailMkt:hover > a::before {background-position:-7px -7px;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.emailMkt.active:hover > a::before,
	.mkt_campaign .page_tabber .nav-pills > li.emailMkt.active > a::before{ background-position:-8px -98px;}
	.mkt_campaign .page_tabber .nav-pills > li.events > a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.events:hover > a::before {background-position:-97px -7px;}
	.mkt_campaign .page_tabber .nav-pills > li.events.active:hover > a::before,
	.mkt_campaign .page_tabber .nav-pills > li.events.active > a::before{background-position:-97px -98px;}
	.mkt_campaign .page_tabber .nav-pills > li.pressPR > a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.pressPR:hover > a::before{background-position:-187px -7px;}
	.mkt_campaign .page_tabber .nav-pills > li.pressPR.active:hover > a::before,
	.mkt_campaign .page_tabber .nav-pills > li.pressPR.active > a::before{background-position:-187px -98px;}
	.mkt_campaign .page_tabber .nav-pills > li.socialMedia > a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.socialMedia:hover > a::before {background-position:-277px -7px;}
	.mkt_campaign .page_tabber .nav-pills > li.socialMedia.active:hover > a::before,
	.mkt_campaign .page_tabber .nav-pills > li.socialMedia.active>a::before{background-position:-277px -98px;}
	.mkt_campaign .page_tabber .nav-pills > li.website>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.website:hover>a::before {background-position:-368px -5px;}
	.mkt_campaign .page_tabber .nav-pills > li.website.active:hover >a::before,
	.mkt_campaign .page_tabber .nav-pills > li.website.active>a::before{background-position:-368px -96px;}
	.mkt_campaign #tab1 .container .customer__circle {background-size:900px 360px; background-position:-15px -15px;}
	.mkt_campaign #tab2 .container .customer__circle {background-size:900px 360px; background-position:-197px -15px;}
	.mkt_campaign #tab3 .container .customer__circle {background-size:900px 360px; background-position:-375px -15px;}
	.mkt_campaign #tab4 .container .customer__circle {background-size:900px 360px;background-position: -556px -13px;}
	.mkt_campaign #tab5 .container .customer__circle {background-size:900px 360px;background-position: -737px -10px;}

	/*page_tabber vertical on mobile*/
	.mkt_campaign .page_tabber.vertical_mobile.howToUseCustomer .nav-pills.howToUseCrm > li > a{min-height:55px;}
	.mkt_campaign .page_tabber.vertical_mobile.howToUseCustomer .nav-pills.howToUseCrm > li > a::before{font-size:3.25em;line-height:1.45em; background-image:none;}
	.mkt_campaign .page_tabber.vertical_mobile.howToUseCustomer .nav-pills > li > a::before{border-radius:0;margin: 5px auto 0;width: 55px;height:55px;}
}

@media only screen and (max-device-width : 992px){
	.homepage .wrapwidg.banner{height:auto;}
	#tt-mainwrap {padding-bottom:0;}
	.homepage .wrapwidg.banner.parallax {overflow:hidden; position:relative;}
	.homepage .banner.parallax .mainTitle .decoration.bokeh {background-size: cover; background-position-y: bottom !important;}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.mkt_campaign  .btn_crm {left: 50%; top: 72%;transform: translate(-50%,-50%);padding:5px 20px;width: 228px;}
	.mkt_campaign .banner .widget_padding .mainTitle { padding: 30px 0 33px;}
	.mkt_campaign .mainTitle h1 {padding: 0; display: block;line-height: normal;}
	
	.mobile .mkt_campaign .page_tabber .nav-pills > li.emailMkt:hover > a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.emailMkt > a::before {background-position:0 0;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.emailMkt.active:hover > a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.emailMkt.active>a::before{ background-position:0 -140px;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.events:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.events>a::before {background-position:-140px 0;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.events.active:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.events.active>a::before{background-position:-140px -140px;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.pressPR:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.pressPR>a::before {background-position:-280px 0;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.pressPR.active:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.pressPR.active>a::before{background-position:-280px -140px;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.socialMedia:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.socialMedia>a::before {background-position:-420px 0;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.socialMedia.active:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.socialMedia.active>a::before{background-position:-420px -140px;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.website:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.website>a::before {background-position:-560px 0;}
	.mobile .mkt_campaign .page_tabber .nav-pills > li.website.active:hover>a::before,
	.mobile .mkt_campaign .page_tabber .nav-pills > li.website.active>a::before{background-position:-560px -140px;}
	
}
@media only screen and (min-width: 320px) and (max-width: 1200px){
	.mainTitle h1 {padding: 0;}
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {
	.mainTitle h3{ padding-right: 234px;}
	.homepage .wrapwidg.banner{height:auto;}
	.homepage .banner .widget_padding > div .mainTitle.mkt_campaign::before {background-position:44% 59%; height:auto;}
}
