.carousel, .community__carousel {
	padding: 15px 0 30px 0;
	background: #f7f7f7;
}

.community__carousel {
	margin-bottom: 40px;
	margin-left: -15px;
	margin-right: -15px;
}

.carousel .widget_title::before{
	content: '\e91b';
	font-family: "tamtamy-icon";
	display: inline-block;
	vertical-align: middle;
    font-size: 25px;
}

.content_carousel {
	cursor: pointer;
}
.content_carousel .widget_title {
	margin: 0
}

.content_carousel .slick-arrow {
	height: 25px;
	width: 25px;
}
.content_carousel .slick-arrow.slick-prev {
	left: -35px
}
.content_carousel .slick-arrow.slick-next{
	right: -55px;
}

.content_carousel::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	right: -3px;
    height: 100%;
    width: 20%;
	pointer-events: none;
	background: rgba(255,255,255,0.25);
	background: -moz-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%));
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.1)), color-stop(50%, rgba(245,245,245,0.3)), color-stop(100%, rgba(247,247,247,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=1 );
}
.content_carousel .a_content {
	padding: 20px 0;
	margin: 25px 15px;
	display:flex;
	outline: none;
	text-decoration: none;
}
.content_carousel .a_content .title {
	margin: 10px 0 5px
}
.content_carousel .a_content .author {
	font-size: 12px;
	font-weight: bold;
}
.content_carousel .a_content .author_detail {
	font-size: 11px;
	font-style: italic;
	letter-spacing: 2px
}
.content_carousel .a_content .description {
	height: 60px;
	margin-bottom: 10px;
	overflow: hidden;
}

.content_carousel .counts_list {
	text-decoration: none;
	font-weight: bold;
	margin-bottom: 0
}

.content_carousel .counts_item {
	display: inline-block;
	margin-right: 12px;
	font-size: 14px;
}
.content_carousel .counts_item:last-child {
	margin-right: 0
}

.content_carousel .a_content .blue_button {
	text-align: center;
}

.content_carousel .slick-arrow {
	color: #197bbd;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	font-size: 22px
}
.content_carousel .tti-freccia_sinistra_01 {
	left: -4%
}
.content_carousel .tti-freccia_destra_01 {
	right: -5%
}

.carousel .spinner {
	position: relative !important;
	z-index: 2000000000 !important;;
	left: 50% !important;;
	padding: 37px 0 !important;;
	top: 30px !important;;
	display: inline-block !important;;
	margin: 0 !important;;
}

/* STYLE WIDGET */

.content_carousel .a_content .title {
	color: #197BBD;
}

.content_carousel .a_content {
	border: 2px solid #c5d4d9;
	background: white;
}

.content_carousel .a_content .description,
.content_carousel .a_content .description:hover,
.content_carousel .a_content .description:visited
 {
	color: #6e6e6e;
}

.content_carousel .a_content .counts_list,
.content_carousel .a_content .counts_list:hover,
.content_carousel .a_content .counts_list:visited  {
	color: #202020;
}
.content_carousel .a_content .author_detail,
.content_carousel .a_content .author_detail:hover,
.content_carousel .a_content .author_detail:visited  {
	color: #848484;
}
.content_carousel .a_content .author, .content_carousel .a_content .author:hover, .content_carousel .a_content .author:visited  {
	color: #303030;
}

.content_carousel .slick-arrow:hover {
	color: #32c2cb;
}
.content_carousel .slick-arrow.slick-disabled {
	opacity: 0.25;
}
.content_carousel .slick-arrow.slick-disabled:hover  {
	color: #197bbd;
	cursor: default;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {

	.content_carousel .a_content {
		padding: 10px 0;
		margin: 25px 10px;
		display:flex;
	}

	.content_carousel .a_content .title {
		height: 40px;
		overflow: hidden;
	}


	.content_carousel .counts_item {
		font-size: 9px;
		margin-right: 8px;
	}
	.content_carousel .a_content .author_detail {
		display: block;
	}
}

/* ipad (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 768px) {
	.content_carousel .counts_item {
		font-size: 12px
	}
	.content_carousel .a_content .title {
		height: 40px;
		overflow: hidden;
	}


}
