/*------------------------------------ Content
--------------------------------------*/
.content-deco{border:none; padding:10px; width:82%;}
#dettaglio{padding:0; margin:0; float:none; width:auto;}
.content_header{width:auto; position:inherit; float:none;}
.content_header div.inline-rating{margin:0;}

.content_view_description{float:none;}
.content_actions{width:auto;margin:0;float:none;}

.tag-label, .group-label{line-height:23px;}
img.content_avatar, .user_to_comment img{background:none;border:none;padding:3px;margin:10px 5px 0 5px;height:58px;width:58px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);}

.content_other_info .content_group_single{text-decoration:inherit;}
.content_other_info .content_visibility_info, .tagging{border-top:1px dashed #ddd;padding:5px 0 0;margin:0;}

.interno .comments{display:inline-block;float:right;margin:-5px 3px 100px 80px;width:84%;}
.interno .comments > div{padding:0 10px;}
.interno .tag-input.fake-field{margin:10px 0;background:#fff url(/cdn/derrida/img/icon-tag.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;padding-left:24px;cursor:text;}
.interno .tag-input.fake-field input{border:none;}

.rate-tooltip{padding:5px;}
.rate-tooltip h3{border-bottom:1px dotted #ddd; margin:0 0 5px;}
.rate-tooltip .inline-rating{float:none; margin-top:0;}


.direct-message .dojoTabPaneWrapper{clear:none !important;}
.direct-message .skin{width:400px; margin:0 10px 0 10px;}

/* --------------------------------------------
----------------------------------------------- CONTENT TOOLBAR */
#content_view_toolbar ul{position:relative;float:left;}
#content_view_toolbar div.hint, .content-toolbar div.hint{display:none;}

/* graphic buttons */
.icons #flag_new{margin:0;padding:0;float:right;z-index:1000;}
.icons #flag_new a{position:relative;float:left;height:25px;width:25px;text-indent:-9999px;margin:0 2px 2px 0;}
.icons #flag_new a.tool_modify{background:url(/cdn/derrida/img/ico-content-modify.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_revision{background:url(/cdn/derrida/img/ico-content-versioning.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_delete{background:url(/cdn/derrida/img/ico-content-delete.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_favourite_add{background:url(/cdn/derrida/img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0}
.icons #flag_new a.tool_favourite_del{background:url(/cdn/derrida/img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -25px}
.icons #flag_new a.tool_add_group{background:url(/cdn/derrida/img/ico-content-groups.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_send_mail{background:url(/cdn/derrida/img/ico-content-mail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_thumbnail_set{background:url(/cdn/derrida/img/ico-content-thumbnail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_thumbnail_automatic{background:url(/cdn/derrida/img/ico-content-thumbnail-auto.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_remove_highlight{background:url(/cdn/derrida/img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -25px}
.icons #flag_new a.tool_add_highlight{background:url(/cdn/derrida/img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0}
.icons #flag_new a.tool_flag_inappropriate{background:url(/cdn/derrida/img/ico-content-inappropriate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_moderation{background:url(/cdn/derrida/img/ico-content-moderate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_feature_add{background:url(/cdn/derrida/img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0}
.icons #flag_new a.tool_feature_del{background:url(/cdn/derrida/img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -25px}
.icons #flag_new a.tool_stats{background:url(/cdn/derrida/img/ico-content-stats.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a.tool_question_closed{background:url(/cdn/derrida/img/ico-content-question-closed.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat}
.icons #flag_new a:hover{background-position:0 -25px;}

.content-toolbar{padding:0;position:absolute;display:block;float:right;right:20px;z-index: 10;}
.content-toolbar a{margin:0 5px 0 0;position:relative;float:left;height:36px;width:32px;text-indent:-9999px;background-image:url(/cdn/derrida/img/icons-set-menu-ribbon.png?v=@TAMTAMY_PREVENT_CACHE@);background-repeat:no-repeat}
.content-toolbar a.tool_follow{background-position:0 -40px}
.content-toolbar a.tool_unfollowed{background-position:0 0}
.content-toolbar a.tool_modify{background-position:-128px 0}
.content-toolbar a.tool_delete{background-position:-160px 0}
.content-toolbar a.tool_rate{background-position:-288px 0}
.content-toolbar a.tool_rate.rated{background-position:-288px -40px}
.content-toolbar a.tool_rate.disable{cursor:default}
.content-toolbar a.tool_favourite_add{background-position:-320px 0}
.content-toolbar a.tool_favourite_del{background-position:-320px -40px}
.content-toolbar a.tool_flag_inappropriate{background-position:-448px 0}

.content-toolbar a.tool_flag_inappropriate:hover{background-position:-448px -40px}
.content-toolbar a.tool_unfollow_add{background-position:0 0}
.content-toolbar a.tool_unfollow_del{background-position:0 -40px}


.async .content-toolbar a.tool_modify{background-position: -128px -80px;}
.async .content-toolbar a.tool_delete{background-position:-160px  -80px;}
.async-hidden-reshare-content{display:none;}
.group_highlight .tool_highlight_add,
.group_highlight .tool_highlight_del{position: absolute;text-indent:-999px;display: block;width:49px;top:-10px;right: 0;overflow:hidden;}

.tool_highlight_add{background-position:-224px 0;}
.tool_highlight_del{background-position:-224px -40px;}

.user.tool_highlight_del{cursor: default;}

.group_highlight .tool_highlight_add:after,
.group_highlight .tool_highlight_del:after {content:''; display:block; height:34px; width:29px; background:transparent url(/cdn/derrida/img/icon-featured_gray.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -10px -6px;}
.group_highlight .tool_highlight_del:after {background-image:url(/cdn/derrida/img/icon-featured.png?v=@TAMTAMY_PREVENT_CACHE@);}


.tool-reshare-content{background-position:-384px 0}
.tool-reshare-content-touser{background-position:-352px 0}
.tool_thumbnail_set{background-position:-256px 0}

.content-toolbar a.tool_modify:hover{background-position:-128px -40px}
.content-toolbar a.tool_delete:hover{background-position:-160px -40px}

.async .content-toolbar a.tool_modify:hover{background-position:-128px -120px}
.async .content-toolbar a.tool_delete:hover{background-position:-160px -120px}

.tool_thumbnail_set:hover,
.tool_thumbnail_set.qtip-open{background-position:-256px -40px}
.tool-reshare-content:hover,
.tool-reshare-content.qtip-open{background-position:-384px -40px}
.tool-reshare-content-touser:hover,
.tool-reshare-content-touser.qtip-open{background-position:-352px -40px}


.reshare-tooltip{padding:5px;}
.reshare-tooltip .step-two{}
.step-two-loading{background:url(/cdn/derrida/img/loading.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center bottom;text-indent:-20000em;line-height:30px;}
.step-two-success{color:#008000;text-transform:uppercase;text-align:center;font-size:1.3em;}
.step-one-error{color:#f00;font-style:italic;clear:both;padding:10px 0 0;}
.step-two-error{color:#f00;text-align:center;font-size:1.3em;}
.reshare-tooltip-button{margin:10px 10px 0 0;float:right;line-height:22px;}
.qtip-overflow-normal .qtip-contentWrapper,
.qtip-overflow-normal .qtip-wrapper{overflow:visible !important;}

/*sharing user message*/
.reshare-message-textarea {height:18px; min-height:18px; max-height:100px; max-width:260px; min-width:260px; width:260px!important; resize:none;}

/* user toolbar */
.user-toolbar a{text-indent:-9999px;display:block;width:16px;height:16px;background:url(/cdn/derrida/img/icons-set.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;margin:0 5px;}
.user-toolbar .tool_favourite_add{background-position:-16px 0;}
.user-toolbar .tool_favourite_del{background-position:-16px -16px;}
.user-toolbar .send_direct_message{background-position:0 0;}

.user-toolbar{text-align:center;overflow:auto;}
.user-toolbar li{display:inline-block;width:28px;float:left;}

.author-and-messages {float:left;}
.scheda.coverCompact .author-and-messages{padding:100px 0 0 30px; margin:0 10px 0 0;}
.author-and-messages .user-toolbar{}
.author-and-messages .user-toolbar li{border-right:1px solid #d1d1d1; border-bottom:1px solid #d1d1d1;}

.user_tooltip .user-toolbar{margin-top:0}
.user_tooltip .user-toolbar li{width:24px}

.details-general-user-avatar .user-toolbar{clear:left;float:left;}
.details-general-user-avatar .user-toolbar li{width:24px;}
.details-general-user-avatar{float:left;}

.user-toolbar .hangoutsToolbarCallToAction{background:none;position:relative;}
.user-toolbar .hangoutsToolbarCallToAction::before{content:'\f03d'; text-indent:0; position:absolute; color:#50a94f; font:normal 1em 'FontAwesome'; display:block; text-align:center; top:2px; left:3px;}

#wrapComment .utenza_commento{position:relative;}
#wrapComment .commento{padding:0 0 6px;}
.commentToolbar .user-toolbar .hangoutsToolbarCallToAction{content:'\f03D'; text-indent:0; color:#50a94f; font:normal 0.9em 'FontAwesome'; display:block; text-align:center; width:100%; margin:0 auto; height:12px;}
.commentToolbar .user-toolbar .hangoutsToolbarCallToAction::before{width:100%; left:0; top:1px;}
.commentToolbar .user-toolbar {position:absolute; left:0; top:32px; border-top:none; width:30px; overflow:hidden; padding:0!important; display:table!important;}
.commentToolbar .user-toolbar li {width:50% !important; overflow:hidden!important; display:table-cell;}
.commentToolbar .user-toolbar li.favorite-user {width:40%!important;}
.commentToolbar .user-toolbar a{display:block; width:14.5px; height:10px; margin:0 auto; background:none;}
.commentToolbar .user-toolbar .tool_favourite_add{background-position:-16px 0;}
.commentToolbar .user-toolbar .tool_favourite_del{background-position:-16px -16px;}
.commentToolbar .user-toolbar a.tool_favourite_add::after{content:''; text-indent:0; background: url(/cdn/derrida/img/icons-set.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -13px 0px;width: 10px;height: 12px;position: absolute;left:2px;background-size:36px;top:0;}
.commentToolbar .user-toolbar a.tool_favourite_del::after{content:''; text-indent:0; background: url(/cdn/derrida/img/icons-set.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -13px -12px;width: 10px;height: 12px;position: absolute;left:2px;background-size:36px;top:0;}
.commentToolbar .user-toolbar .send_direct_message{display:block; text-align:center; width: 100%; margin: 0 auto; height: 12px;}
.commentToolbar .user-toolbar a.send_direct_message::after{content:''; text-indent:0; background: url(/cdn/derrida/img/icons-set.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0px 0px;width: 12px;height: 12px;position: absolute;left:1.5px;background-size:36px;top:.5px;}

/* text buttons */
.text #flag_new{background:#f0f0f0;margin:0;padding:5px;width:260px;position:relative;float:right;z-index:1000;}
.text #flag_new a{width:100px;overflow:hidden;font-size:10px;text-align:left;position:relative;float:left;height:18px;line-height:18px;padding:1px 5px 1px 25px;background:#fff url(../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;color:#aaa;}
.text #flag_new a:hover{text-decoration:none;color:#777;background:#fff url(/cdn/derrida/img/grad_01_rev.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x top;}
.text #flag_new a.tool_modify{background:url(/cdn/derrida/img/ico-content-modify.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_revision{background:url(/cdn/derrida/img/ico-content-versioning.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_delete{background:url(/cdn/derrida/img/ico-content-delete.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_favourite_add{background:url(/cdn/derrida/img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_favourite_del{background:url(/cdn/derrida/img/ico-content-favourite.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -27px;color:#fff;border-color:#fff;}
.text #flag_new a.tool_add_group{background:url(/cdn/derrida/img/ico-content-groups.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_send_mail{background:url(/cdn/derrida/img/ico-content-mail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_thumbnail_set{background:url(/cdn/derrida/img/ico-content-thumbnail.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_thumbnail_automatic{background:url(/cdn/derrida/img/ico-content-thumbnail-auto.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_remove_highlight{background:url(/cdn/derrida/img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -27px;color:#fff;border-color:#fff;}
.text #flag_new a.tool_add_highlight{background:url(/cdn/derrida/img/ico-content-highlight.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_flag_inappropriate{background:url(/cdn/derrida/img/ico-content-inappropriate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_moderation{background:url(/cdn/derrida/img/ico-content-moderate.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_feature_add{background:url(/cdn/derrida/img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;
.text #flag_new a.tool_feature_del{background:url(/cdn/derrida/img/ico-content-featured.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -27px;}
.text #flag_new a.tool_stats{background:url(/cdn/derrida/img/ico-content-stats.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a.tool_question_closed{background:url(/cdn/derrida/img/ico-content-question-closed.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 -2px;}
.text #flag_new a:hover{background-position:0 -27px;color:#fff;border-color:#fff;}

.toolbarPanel{overflow:auto;padding:4px;}
.toolbarPanel_padding{padding:0 10px;}

.tagging{display:block;clear:both;margin:10px 0 10px 0}
.content_item_tags{display:block;}
.relatedContents .content_item_tags{display:static;clear:none;margin:5px 0;}
.cool_textarea{width:100%;}

/*------------------------------------*\
	Content List
\*------------------------------------*/
.content_group_single,
.content_user_single{padding:0 8px 0;border:none;color:#fff;float:left;margin:0 5px 5px 0;max-width:387px;white-space:nowrap;display:inline-block;}

.scheda .content .author .user{float:left;padding-right:5px;}
.scheda .expander{text-align:center;background:url(/cdn/derrida/img/bk-shadow-description.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top transparent;padding:8px 0 2px 0;margin-top:-7px}

.scheda .content  .longDescription img{max-width:483px;}
.scheda .stream-link{margin:5px 0 0;overflow: hidden;text-overflow: ellipsis;max-width: 500px;}
.scheda .content-main .content-body .expanderButton{white-space:nowrap;}

.scheda .jqueryExpandable img{max-width: 100%;max-height:100%;margin: 0 10px 10px 0;}
.gecko .scheda .jqueryExpandable img{width:100%;}/* Fix for Firefox - Contents with Images inside Tables */
.contents_wrapper .scheda .jqueryExpandable img{height: auto; max-height: auto; margin: 0 auto 20px; clear: both; display: block;float:none; }
.contents_wrapper .scheda .jqueryExpandable .details img{max-height:100%;float:none;margin: 0 auto 20px; clear: both; display: block;}

.scheda .content-label{float:left;padding:0 10px 0 0}
.content-details-link.with-many-files{float: right; font-weight:normal;}
.content-details-link.with-no-files{float: right; font-weight:bold;}
.content_other_info.contentFiles .content-details-link.with-many-files a {font-weight:bold;}

.scheda .content-tags,
.scheda .content_groups{line-height:1.6em;padding-left:0;padding-right:10px;}
.scheda .tag-input{float:left;min-width:160px}
.scheda .tag-input input{ height:16px; width:125px; border:medium none; margin:1px 0;}

.content-footer .content_groups{float:right; clear:none}
.content-footer.has-tags .content_groups.only-share-info{float:left; clear:both;}


.tags-label{float:left;height:18px;line-height:18px;margin:6px 2px 0 0}

.tags-editable {margin-bottom: 5px;}

.scheda .content_user_single,
.scheda .content_group_single{background:none;color:#666;margin:0;padding:0 5px 0 0;}
.scheda .content_group_single_container,
.scheda .content_user_single_container{float:left}
.scheda.mark_message .inline-rating{padding:0}

.site-info{overflow:auto;padding:10px 0 8px; line-height:1.2em;position:relative;min-height: 30px;}
.site-info.fake-field{ padding:5px;}
.projectCover .upload-box .fake-field.site-info{padding: 0 0 0 169px !important; border: none; background: transparent;}
.projectCover .upload-box .fake-field.site-info .site-info{padding:10px !important;background:#fff;border:1px solid #d1d1d1;}
.content-main .site-info{border-bottom:none;border-top:1px dotted  #DDD;clear:both}
.content_attachment .content-label{line-height: 25px}

/* --------------------------------------------
----------------------------------------------- CONTENT TYPOLOGY MARKERS */
.featured{position:absolute;top:4px;left:4px;height:51px;width:70px;background:url(/cdn/derrida/img/featured-ribbon.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;z-index:50;text-indent:-9999px;}
.highlight .featured{top:0;left:0;}
.conversation-item .featured{top:0;left:-10px;height:36px;width:70px;background:url(/cdn/derrida/img/featured-ribbon.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 4px -6px;display:none;}
.conversation-item.active .featured{display:block;}
.conversation-item:hover .featured{filter:alpha(opacity=30);-moz-opacity:0.3;-khtml-opacity:0.3;opacity:0.3;}
.conversation-item.active:hover .featured{filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1;}
.active .featured{height:51px;}
#dettaglio .featured{top:-15px;left:0;}
#dettaglio:hover .featured{opacity:0.3;}

.content_attachment{clear:both;overflow:hidden;}
.content_attachment_compact img{display:none;height:16px;float:left;padding:0 5px 0 0;}
.content_attachment img.media-attach{height:48px;}
.content_attachment .content_other_info{border:none;margin:0;padding:0;overflow:auto;float:left;clear:none;}
.content_attachment .file_list_item{margin:0 5px 5px 0;float:left;display:inline-block;border: 1px solid #d1d1d1;}
.content_attachment_compact .file_list_item{height:inherit;width:inherit;margin:0 5px 5px 0;float:left;display:inline-block;border:none;border:1px solid #DDD;padding:2px;}
.content_attachment .file-name{line-height:18px;font-size:10px;display:inline;padding:0 30px 0 8px;}
.content_attachment .contentFilesHtml{}
.content_attachment h4{float:left;padding:5px 0 0 5px;}
.content_attachment .download{float:right;margin-top:-10px;}
.content_attachment .button.white{float:left;margin:5px;}
.content_attachment .contentFilesHtmlRevision{border:1px dashed #d1d1d1; overflow:auto; clear:both; min-width:542px; background:#f8f8f8; padding:5px; margin:0 0 5px 0;}
.content_attachment .interface-close{cursor:pointer; display:none; position:absolute; top:8px; right:5px; height:16px; width:16px; background:url(/cdn/derrida/img/ico-thumbs-close.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat; text-indent:-9999px;}
.content_attachment .revisionAdd{margin-top:20px; overflow:hidden; background:#fff;}
.content_attachment .revisionAdd input{float:left; margin:5px;}
.content_attachment .revisionBlock .info{border-top:1px dotted #ddd; clear:right; padding:5px 0 0;}
.content_attachment .revisionList{background:#f8f8f8; padding:5px;}
.content_attachment .revisionList .numbers{float:right; padding:0 0 5px;}
.content_attachment .contentGenericFilesHtml.content_attachment_compact {clear:both;}
.content_attachment .contentFilesHtmlRevision .office_status_container.error {background:none repeat scroll 0 0 #ff4d00; border:1px dotted #808080; padding:10px; margin:5px; font-weight:bold; color:#fff; clear:both;}

.rev.generic_button{float:left;}
.title.generic_button.rev.dev {clear:both;}
.revisionBlock{width:100%;}
.comments{margin-top:10px;}
.comments .content-arrow{text-indent:-2000em; background:url(/cdn/derrida/img/comment-arrow.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0; position:absolute; top:-10px; left:20px; height:10px; width:20px;}
.comments .content_details{float:none; width:100%;}
.comments a.replies{float:inherit;display:inline;padding:0;color:#4b93bc;background:inherit;}
.content_commentnumbers{border-bottom:1px dotted #fff;height:16px;text-align:center;}
.toggle-comments{padding:0 0 10px 0;border-bottom:1px dotted #d1d1d1;clear:both;overflow:auto;}
.toggle-comments a{padding:0 16px 0 0;}
.toggle-comments a:hover{color:#09f;}
.toggle-right-label-show,
.toggle-right-label-hide{float:right; padding-right:12px;}
.toggle-right-label-show{background:url(/cdn/derrida/img/icon-arrows-up-down.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right 1px;}
.toggle-right-label-hide{background:url(/cdn/derrida/img/icon-arrows-up-down.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right -8px;}

.content_addcomment{border:1px solid #d1d1d1; background:#f7f7f7; margin-top:10px; overflow:auto;}
.content_addcomment .textarea{background:#fff; width:95%; padding:0 10px; border:none; color:#999; font-family:inherit; display:block; line-height:27px; right:0;}
.content_addcomment .textarea.selected,
.content_addcomment .textarea:hover{color:inherit; background:#fff;}
.content_addcomment .textarea.selected{height:80px; border-bottom:1px solid #d1d1d1;}
.content_addcomment .add-comment{clear:both;background:#ccc; color:#fff; padding:3px;}
.content_addcomment .buttons_wrapper{ margin-bottom:0px; padding:5px;}

#addCommentForm .textarea{background:#fefefe; padding:4px; border:1px solid #ddd; color:#ccc; width:96%; height:15px; clear:left; margin:5px; font-family:inherit; font-size:11px; border-radius:0 0 4px 4px; display:block;}
#addCommentForm .textarea.selected,
#addCommentForm .textarea:hover{background:#fff url(/tamtamy/skins/aqua/img/input_bg.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x scroll center top; color:#666;}
#addCommentForm .textarea.selected{height:80px;}
#addCommentForm .add-comment{clear:both; background:#ccc; color:#fff; padding:3px;}
#addCommentForm .add-comment-button{z-index:10000000; height:15px; line-height:15px; padding:5px 15px; display:block;}


.singleCommentLatest{padding:10px 0; margin:0; border-bottom:1px dotted #d1d1d1; overflow:auto; color:#666;}
.singleCommentLatest:hover{background:#f5f5f5;}
.singleCommentLatestHeader{float:left; margin:5px 5px 5px 0;}
.singleCommentLatestHeader img{height:32px; width:32px; margin:0 15px 0 0;}
.singleCommentLatestDescription{margin:5px 5px 5px 0; width:98%;}
.singleCommentLatest .time{color:#808080; font-size:11px;}