/* WIDGET STRUCTURE */

.monthfilters-disabled{color:#adadad;}


.classic_menu {margin-bottom: 4rem;}
.classic_menu .spotlight {border-radius: 0; width: 100%; padding:0; margin:0; background: #FFF;}


.classic_menu .spotlight li, .classic_menu..mobile .spotlight{cursor: pointer;padding: 1.5rem 2.5rem; margin:1rem 0 0 0; border: .1rem solid #c5d4d9; list-style: none;position:relative;font-size: 1.3rem; color:#707070;}
.classic_menu .spotlight li:first-child, .classic_menu..mobile .spotlight{margin-top:0;}

.classic_menu .spotlight li.selected, .classic_menu .spotlight li:hover, .classic_menu..mobile .spotlight {background: transparent;color: #303030;}
.classic_menu .spotlight li.selected{font-weight: 900;font-size: 1.4rem}
.classic_menu .spotlight li:before, .classic_menu.mobile .widget_padding:before {content: '';width: 0;height: 100%;display: block;background-color: #3dc5ca;position: absolute;left: 0;top: 0;}
.classic_menu .spotlight li.selected:before, .classic_menu .spotlight li:hover:before, .classic_menu.mobile .widget_padding:before {width:10px; transition: 200ms ease width;}


.classic_menu .spotlight li, .classic_menu.mobile .spotlight{border:0;}
.classic_menu .spotlight li, .classic_menu..mobile .widget_padding{border: .1rem solid #c5d4d9}

/* STYLE WIDGET */


/* MEDIAQUERY WIDGET */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.classic_menu{ position:relative;margin-bottom: 1.5rem}
}
