.last_campaigns{padding:30px 0; font-size:0;}
.last_campaigns .widget_title {font-size:22px; margin:0; text-align:center; margin-bottom:30px;}
.last_campaigns .lastCampaigns_boxe {width:33.3%; display:inline-block; border-right:1px solid #000; padding:0 55px 55px 55px; vertical-align:top; height:580px; margin-bottom:0;}
.last_campaigns .lastCampaigns_boxe:last-child{border-right:none;}
.last_campaigns .lastCampaigns_boxe a{text-decoration:none;}
.last_campaigns .lastCampaigns__img{display:block; width:100%; height:auto;}
.last_campaigns .lastCampaigns__title{text-transform:uppercase; text-align:left; font-size:18px; line-height:20px; margin:20px 0; min-height:40px; text-decoration:none;font-weight: bold;}
.last_campaigns .lastCampaigns__par {text-align:left; font-size: 15px;display: block;}
.last_campaigns .lastCampaigns__link{text-align:left; position:relative; display:inline-block; font-size:14px; -webkit-appearance:none; border:none; background:transparent;}
.last_campaigns .lastCampaigns__link:hover:before {content:''; position:absolute; width:100%; height:2px; bottom:0;}
.last_campaigns .container{padding:0;}


@media only screen and (min-width : 768px) and (max-width : 991px) {
	.last_campaigns .lastCampaigns_boxe{padding:0 25px 25px;}
	.last_campaigns .lastCampaigns__title{min-height:61px;}
}

@media only screen and (min-width : 0) and (max-width : 767px) {
	.last_campaigns {border-right:none;}
	.last_campaigns .widget_title{margin-bottom:30px; font-size:1.82rem;}
	.last_campaigns .lastCampaigns_boxe {width:100%; padding:0; height:auto; margin-bottom:30px; border:none;}
	.last_campaigns .lastCampaigns__par {display:none;}
	.last_campaigns .lastCampaigns__link {display:none;}
	.last_campaigns .container {padding:0 15px;}
	.last_campaigns .lastCampaigns__title {margin-top:15px; margin-bottom:0; min-height:auto; font-size:1.55rem; font-weight:bold;}
	.last_campaigns .lastCampaigns_boxe:last-child {margin-bottom:0;}
}
