.module_3 {
	padding: 15px 0 35px 0;
	position: relative;
}

.module_3 .description {
	font-size: 14px;
    text-align: center;
    margin: 10px 0 25px 0;
    color: #6e6e6e;
}


/* Commento per git */
