.project_library_widget
{
    padding-bottom: 30px;
}

.project_library_widget .description
{
    font-size: 14px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 45px;
	font-size: #303030;
}

.project_library_widget .fix_mobile span
{
    color: #ffffff;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .project_library_widget .fix_mobile
    {
        padding: 0; /* fix bootstrap problem with padding on xs-1 */
        margin-top: 1.7rem;
    }

    .project_library_widget .fix_mobile span
    {
        color: #ffffff;
    }

    .project_library_widget .blue_button .mobile_title
    {
        font-weight: bold;
        text-transform: uppercase;
        color: #FFFFFF;
        font-size: 18px;
        margin-bottom: 10px;
    }

}

@media only screen and (min-width : 480px) and (max-width : 768px) {

}
