@media (min-width: 768px){
	.nestedPage.lefTitle .widget_title:first-child{
		width: 750px;
	}
	.nestedPage.lefTitle .title-not-first-child .widget_title:first-child{
		width: 100%;
	}
}

@media (min-width: 992px){
	.nestedPage.lefTitle .widget_title:first-child{
		width: 970px;
		margin-bottom: 20px;
	}
}

@media (min-width: 1200px){
	.nestedPage.lefTitle .widget_title:first-child{
		width: 1170px;
		margin-bottom: 30px;
	}
}
