/*
Name: Eggplant Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
h2 {color:#65924c;}
a, a h1, a h2, a h3, a h4, a h5 {color:#860d6f;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#777;}
body{background:#363d31 url(../graphic/bg.jpg) left bottom no-repeat fixed;}
#header h1{background:url(../graphic/logo-tamtamy.gif) no-repeat;}
#header ul li a{color:#a37d98;text-shadow:0 1px 0 #000;background:#4a0a32 url(../graphic/title-bg.png) repeat-x;border-color:#4a0a32;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{text-shadow:0 1px 0 #fff;color:#4a0a32;background:#fff url(../graphic/title-bg.png) bottom repeat-x;border-color:#fff;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3{background:#34662b url(../graphic/hl.png) repeat-x top;color:#2f4d1e;text-shadow:0 1px 0 #7a9647;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:url("../graphic/title-bg.png") repeat-x scroll 0 0 #1f1f1f;border-color:#4a0a32;color:#a37d98;}
.vwall a, #userview a {color:#bdd099;}
ul.pager li a:hover,ul.pager li a.on{background:#a37d98;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer p#logo_pow a{background:url(../graphic/logo_pow.gif) no-repeat;}
