body{font-family: 'Montserrat','tamtamy-icon', sans-serif;text-align: left;}

.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center;}
.row-eq-height-top {align-self: flex-start;}
.row-eq-height-bottom {align-self: flex-end;}
.spacer_60px{margin-top: 60px;}

.mainTitle{ text-align:center; padding:40px 0 20px;min-height:14rem;}
.mainTitle *{font:bold normal 1.34em/1.1em 'MontSerrat', Arial, Helvetica, sans-serif;}
.mainTitle h1{font-size:2.6em; text-transform:capitalize; margin:0; font-weight: normal;}
.mainTitle h3{font-size:1.2em; font-weight: normal;margin-top: 10px}

.content_addcomment{border:1px solid #000;overflow:auto;padding: 6px;}
.content_addcomment .textarea{width:95%;padding:0 10px;border:none;font-family:inherit;display:block;line-height:27px;right:0}
.content_addcomment .textarea.selected,
.content_addcomment .textarea:hover{}
.content_addcomment .textarea.selected{height:80px;border-bottom:1px solid #000;}
.content_addcomment .add-comment{clear:both;padding:3px}
.content_addcomment .buttons_wrapper{ margin-bottom:0px; padding:5px; border: none;}

.redactor-toolbar li
{
    border: none !important;
}