/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.qtip{
		left: 0!important;
    	width: 100%!important;
    	position:fixed!important;
    	top:100px!important;
	}
	.qtip-tip{
		display:none!important;
	}
}