/*Board new template 2013*/
.scheda.boardMessageListElement .content-main {padding-bottom:5px; padding-top:8px;}
.scheda.boardMessageListElement {overflow:auto;}
.scheda.boardMessageListElement .content-body {border-top:1px dotted #cfcfcf; line-height:1.3em; margin:10px 0; padding:5px 10px 0 0; text-align:justify;}

.boardMessages p.boardMessageListElement img {float:left;margin:0 10px 0 -70px;width:48px;height:48px;border:1px solid #ddd;padding:3px;background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x bottom;}
#w_board textarea {width:95.7%;padding:5px 2%;margin:0;height:50px;background:#fff url(../../img/grad_01_rev.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x center top; border:1px solid #ccc; font-weight:normal;color:#777;}
#w_board .widget_title{border:1px solid #d1d1d1; border-bottom:0;}
#newMessageForm {padding-top:10px; margin-top:5px;}
input#newMessageFormSubmit {width:60px; height:22px; border:0; cursor:pointer;}

.boardMessages p {font-size:12px; padding:0 20px 0 70px;}
.boardMessages ul.messages {clear:both; list-style:none; position:relative; width:100%; border-top:1px solid #eee; margin:0 0 5px 0;}
.boardMessages ul.messages li {overflow:auto; width:100%; clear:left; position:relative; padding:10px 0; margin:0; border-bottom:1px solid #eee;}
.messages strong {font-weight:bold;}
.messages em {font-size:11px; color:#aaa;}
.messages {word-wrap:break-word;}
ul.user-moderator li{margin:2px; padding:2px; text-align:center; font-size:7px; width:auto; color:#fff; background-color:#4493E9;text-transform:uppercase;}
.scheda.user-moderator{border-color:#ffa8a8;}