/* -------------------------------------------------------------
---------------------------------------------------------------- Enterprise Area  */
.enterprise-header{margin-top: -1px;clear: both;border: 1px solid #d1d1d1;overflow: hidden;background: url(/tamtamy/skins/phelsuma/images/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@);}

.en-left-column{float:left;}
.en-right-column{width:735px;float: right;background:url(/tamtamy/skins/phelsuma/images/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@) repeat-x left top; padding:1px;}
.en-slider,
.en-slider .en-slider-page{height:327px;}

.en-slider-menu li{border-top:1px dotted #d1d1d1; padding:10px 10px 20px; width:227px; background:#fff; cursor:pointer;}
.en-slider-menu li:first-child{border:0;}
.en-slider-menu li:hover{background:#4697f0; color:#fff;}
.en-slider-menu li:hover, .en-slider-menu li.selected{background: url(/tamtamy/skins/phelsuma/images/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@); color:#fff; text-shadow: 1px 1px 1px #1a191a;}
.en-slider-menu li h3, li.selected h3,li.selected:hover h3{color:#4697f0;}
.en-slider-menu li:hover span {color:#fff!important;}
ul.en-slider-menu li.selected:hover span{color:#666!important;}
.en-slider-menu li span {color: #666;}
.en-slider-menu li.selected,
.en-slider-menu li.selected:hover{background-color:#f3f3f3!important; cursor:default;}

.en-tab-menu li{background: #e5e3e4;cursor:pointer;padding:10px;float: left;font-weight: bold;}
.en-tab-menu li:hover,li.selected{background:url(/tamtamy/skins/phelsuma/images/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@); color:#fff;}

.en-slider-page{position: relative;line-height:1.2em;}
.en-page-resizable-panel{position:absolute; overflow:hidden;bottom:35px;left:35px;right:35px; background:#fff; padding:20px; box-shadow:0px 0px 1px 0px #000;}
.en-page-opener{float:right;}
.en-page-resizable-other{position:absolute; padding:10px 0 10px 0; border-top:1px dotted #d1d1d1; margin:20px 24px 10px 0;}

.en-page-opener{background: url(/tamtamy/skins/phelsuma/images/icon-triangle-up-down-black.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -24px 0; display: block; height: 24px; width: 24px; text-indent: -20000em;}
.en-page-opener.open{background-position:0 0;}
.en-page-opener:hover{background-position:-24px -24px;}
.en-page-opener.open:hover{background-position:0 -24px;}

.en-two-column .en-left{float:left; width:60%;}
.en-two-column .en-right{float:right; width:30%;}

.headerColumn0 ul.en-tab-menu li {background-color:#e5e3E4; color:#4c4c4c;}
.headerColumn0 ul.en-tab-menu li.selected {background:#4697f0;}