/* --------------------------------------------
----------------------------------------------- ERRORPAGE */
.error_page{width:100%; height:500px; float:left; position:relative; background:#fafafa url(../../img/oohps.gif?v=@TAMTAMY_PREVENT_CACHE@) top center no-repeat;}
.error_page_message{height:325px; width:276px; position:relative; margin:0 auto; background:url(../../img/buco.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -40px center; color:#1878c0; font-size:14px; padding:50px 10px 10px 284px;}
.error_page_message h1{text-indent:-20000em; background:url(../../img/sorry.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat; height:50px; padding:0 0 20px 0;}