/* EVENT */
.coll-event h3{}
.coll-event .generic_button{margin:10px 0 0; float:left; text-transform:uppercase;}
.coll-event .btn-already-joined,
.coll-event .btn-join-pending{cursor:default; text-shadow:none;}
.coll-event .btn-already-joined{background:#3e9615;}
.coll-event .btn-join-pending{background:#ffaf00;}
.coll-event .btn-already-joined:hover,
.coll-event .btn-join-pending:hover{text-decoration:none;}

.tab_list.collection-event{ padding:0;margin-bottom:-1px;}
.tab_list.collection-event li a{border-bottom:0;}
.tab_list.collection-event li.current a{}

.collection-event-header{margin-top:-1px; clear:both; border:1px solid #d1d1d1; padding:10px; overflow:hidden;}
.ev-left-column{width:24%;margin-right:1%;float:left;}
.ev-right-column{width:75%;float: right;}

.ev-tutors li{overflow:hidden; padding:5px 5px 5px 0; border-top:1px dotted #d1d1d1;}
.ev-tutors li:first-child{border:0;}
.ev-tutor{font-weight:700; font-size:1.1em;}
.ev-tutors img{width:62px; float:left; padding:0 15px 0 0;}
.ev-description{color:#999; font-size:0.9em; padding:2px 0 0;}
.ev-live{background-color:#ccc; height:350px;}