/* --------------------------------------------
----------------------------------------------- HISTORY */
#history{position:relative; float:left; width:100%;}
#history h2 span{display:block; padding:3px 0 0 15px;}
#history li img.author{margin:0 5px 0 0; float:left; background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x center bottom; border:1px solid #ddd; padding:3px;}
#history li{width:100%; position:relative; list-style:none; border-bottom:1px solid #eee; padding:2px 0 2px 0; overflow:hidden; clear:both;}
#historywidg li{clear:left; position:relative; border-top:1px dotted #eee; float:left; line-height:1.2em; width:100%; padding:4px 0;}
#historywidg li:first-child{border-top:none;}

#historywidg li.myCompany,
#historywidg li.list_notice_compact {width: 100%;padding: 10px;margin: 0; box-sizing: border-box;}

#historywidg ul{display:inline-block; clear:both; list-style:none; position:relative; width:100%}
#historywidg li img{position:absolute; margin:0 5px 0 0; background:#fff url(../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x center bottom; border:1px solid #ddd; padding:0; left:0;}
#historywidg em{font-size:11px; font-style:italic; color:#aaa;}
#history .noticeWidgetDate,
#historywidg .noticeWidgetDate{font-size:10px; color:#aaa; float:right;}

#history blockquote{margin:2px 0 5px; overflow:auto;}
#historywidg blockquote{margin:0; overflow:hidden; display:block; width:100%; box-sizing: border-box;}
#historywidg blockquote .text{text-overflow:ellipsis; width:100%; display:block; overflow:hidden; height: 1.2em;white-space: nowrap;}


#history blockquote blockquote{margin:2px 0 5px 0;}
#historywidg blockquote blockquote{margin:2px 0 5px 0;}

#historywidg .content_preview_fancy img.user_avatar.mention {display:none;}
#historywidg .content_preview,
#history .content_preview{margin:0 0 0 25px;}
#historywidg .preview img,
#history .preview img{width:70px;float:left;margin-right:10px;}
#historywidg a.title,
#history a.title{font-weight:bold;}
#historywidg div.timestamp,
#history div.timestamp{margin:2px 0 5px;}

.conversations #historywidg ul{display:block; margin:10px auto; width:98%;}
.conversations .widget_padding {border:none;}
#no-results{text-align:center; padding:20px; margin:4px; background:#eee; display:block; clear:both;}

.jtt-nr-maker .jtt-word{text-align:center;}

#contentTypeSelection{clear:none; float:right; padding-right:20px; padding-top:4px; text-align:right; width:30%;}
#uploadForm_smart_content_url{color:#666; display:inline; font-family:inherit; padding:4px;}

#contentTitleInput{padding:0;}

.more_tab{padding:3px 150px;}
a.replies{background:none repeat scroll 0 0 #aaa; color:#fff; display:inline; float:none; height:16px; line-height:0; position:relative; margin:0 4px 0 0; padding:2px 5px;}

.content_details{width:98%;}
.unread_count{background:none repeat scroll 0 0 #dc291e; border-radius:8px; color:#fff; padding:2px 5px; box-shadow:1px 1px 2px #ccc;}