/********************************/
/* INNOVATION AWARD *************/
.ideaWrapper .content_type,
.ideaWrapper .tabs.resource-types,
.ideaWrapper .alternative.idea {display:none;}
.upload-box ul.tabs li.idea {display:none;}
.content_meta.content_other_info {clear:both;margin-top: 10px;padding: 10px 0 20px;}
.ideaWrapper .content_meta .team {background: none repeat scroll 0 0 #f0f0f0;border-bottom: 1px solid #ddd; overflow: hidden; padding: 10px; width: auto;}
.ideaWrapper .meta_row {font-weight:bold;padding:5px 0;}
#imgIAContestPageLink {background:url(../../../aqua_rsn/graphic/InnovationAwards/innovation_title.gif?v=@TAMTAMY_PREVENT_CACHE@) no-repeat -12px center;height:110px;width:100%;display:block;margin-top:16px;}

/*Innovation Award workaround for IE */
#innovation_slider .icons .icon_01,
#innovation_slider .icons .icon_02,
#innovation_slider .icons .icon_03,
#innovation_slider .icons .icon_04,
#innovation_slider .icons .icon_05,
#innovation_slider .icons .icon_06{zoom:1; *display:inline; _height:94px;}

#innovation_slider .icons .icon_01_2013,
#innovation_slider .icons .icon_02_2013,
#innovation_slider .icons .icon_03_2013,
#innovation_slider .icons .icon_04_2013{zoom:1; *display:inline; _height:94px;}


#innovation_slider .icons .icon_01_2013,
#innovation_slider .icons .icon_02_2013,
#innovation_slider .icons .icon_03_2013,
#innovation_slider .icons .icon_04_2013 {display:inline-block; height:94px; width:100px; background: url('/tamtamy/skins/phelsuma/graphic/InnovationAwards/2013/ia_2013_ico01.jpg?v=@TAMTAMY_PREVENT_CACHE@') top center no-repeat;}
#innovation_slider .icons .icon_02_2013 {background-image:url('/tamtamy/skins/phelsuma/graphic/InnovationAwards/2013/ia_2013_ico02.jpg?v=@TAMTAMY_PREVENT_CACHE@') top center no-repeat;}
#innovation_slider .icons .icon_03_2013 {background-image:url('/tamtamy/skins/phelsuma/graphic/InnovationAwards/2013/ia_2013_ico03.jpg?v=@TAMTAMY_PREVENT_CACHE@') top center no-repeat;}
#innovation_slider .icons .icon_04_2013 {background-image:url('/tamtamy/skins/phelsuma/graphic/InnovationAwards/2013/ia_2013_ico04.jpg?v=@TAMTAMY_PREVENT_CACHE@') top center no-repeat;}

.idea .hideContent{display:none;}

div.ia_timeline .ia_date a {color:#fff;}
div.ia_timeline .ia_date.t_02 {line-height: 12px;word-wrap:normal; white-space:normal;}
.ia_timeline .ia_circles .ia_circle.opened2 {font-size:200%;}
#idea_status_timeline_link .ia_timeline .ia_date.t_01:hover {text-decoration:underline;}

.team_member{background:#fff; font-size:11px; float:left; padding:4px; margin:3px; width:180px; margin-right:2px; display:inline-block; border:1px solid #ddd;}
.team_avatar img {width:32px; float:left; margin:0 5px 0 0;}
.team_member_remove{float:right;}
.member_nickname{margin:5px 0 0;}
.team_member_selection.fake-field input{width:88%;}

.projectCover .upload-box #elenco_members{position:relative;margin: 0 0 0 -3px;width: 100%;}
.projectCover .upload-box #elenco_team{position:relative;margin: 0 0 0 -3px;width: 100%;}
.projectCover .upload-box .team_member{width:175px;}
.projectCover .upload-box .team_member .member_name_surname{text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block;line-height: 1.2em;}


/*FIX INNOVATION AWARD BACK LINK*/
#wrapcontent #details-back-link,
.ideaWrapper #details-back-link { width:auto;}


/*INNOVATION AWARD CHART CSS */
span.chart_pos {font-size: 200%; clear: none; vertical-align: top; height:24px; line-height:32px; padding-top:2px;}
a.idea_title {font-size: 140%; font-weight:700; width:26em; overflow:hidden; display:inline-block; line-height:28px; height: 28px; }
a.user {line-height:12px;}
p.idea_details span.rightmost {display:none; float:right;}
.chart p.idea_details {display:block; height:auto; overflow:auto; line-height:12px; padding:0 0 10px; margin:0 0 2px;}
#innovation_ranking h2 {margin-bottom:0px;}

.chart p span {display: block; width: auto; clear:none; float:left;} 
.chart p span.chart_pos {width:34px;}
.chart p span.chart_pos.pass {font-weight:bold; color:#03acff;}
.chart p span.endorsementsCount {float:right;width:auto;font-size:105%;}
.chart p span.endorsementsCount .number {width:auto;font-size:165%;margin-right:2px;}
.chart p span.endorsementsCount img {width:14px;height:14px;}
.chart p span.idea_users {margin: 0 0 0 8px; display: inline-block; width: auto/*203px*/; text-align: left;}
.chart p span.content_list_thumbnail {height:64px;}
.chart p span.content_list_thumbnail a img.author {width: 64px; height:auto; margin:0 4px;}

#custom_idea_list h3.content_list_content_title a.link_content_idea {width:auto;}
/* Innovation Aword */
.ia-idea-scheda{margin-right:5px}
.scheda.mark_idea.ia-idea-voting-enabled.hideAuthor .content-body {border-top: medium none;}

.ia-endorse-ribbon{position: absolute;right:0;top:120px;z-index:1; min-width: 205px;display: none;padding-bottom: 5px;background:url(../../img/bk-angle-user-right.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right bottom;}
.ia-endorse-ribbon > div{background:#4593e8;padding:5px 10px;color:white;overflow: hidden;}
.ia-text{float:left;margin: 18px 0px;line-height: 1.2em;font-weight: 700;}
.ia-endorse-icon{float:right;background:url(../../img/icons-set-ia-endorse.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat;width:64px;height:64px;text-indent: -20000em;margin: 0 0 0 15px; }
.ia-endorse-icon:hover{background-position:0 -64px;}
.ia-endorse-icon.endorsed{background-position:-64px 0;}
.ia-endorse-icon.endorsed:hover{background-position:-64px -64px;}
.ia-endorse-icon.loading{background-position:-128px 0;}
.ia-endorse-ribbon.static{display:block;}

/*widget Your Community Endorsements*/
.ia-endorse-icon.static{float: none;margin: 0 4px;cursor:default;}
.ia-endorse-icon.static:hover{background-position:0 0;}
.ia-endorse-icon.loading.static:hover{background-position:-128px 0;}
.ia-endorse-icon.endorsed.static{background-position:-64px 0;display: block;}

.ia-endorse-icon.endorsed-static{background-position:-64px 0;float:right;margin: 0 0 0 15px;}/*utente ha votato e votazione disattiva*/

.ia-ghost{ float: right;height: 90px;min-width: 180px;   text-indent: -200000em;}

#userwrapper div.user_badge { background: url('../../img/grad_01.gif?v=@TAMTAMY_PREVENT_CACHE@') repeat-x scroll center bottom #fff; border: 1px solid #ddd; float: left; font-size: 12px; height: 80px; margin: 10px 2% 0 0; min-height: auto; padding: 10px; width: 20%;}
#userwrapper div.sub_list { float: left; margin: 10px 0 0 10px; width: 70%;}
#userwrapper div.content_tab { padding: 0;}
#userwrapper div h3 { font-size: 11px; padding: 0 0 0 55px;}
#userwrapper div p {	clear: none; padding: 5px 0 0 62px;}
#userwrapper div.tagcloud { background: url('../../img/bg-clouds-grey.gif?v=@TAMTAMY_PREVENT_CACHE@') repeat-x scroll center bottom #e2e2e2; border-radius:7px; height:auto; margin:0; overflow: hidden; padding: 6px; text-align: center;}
#userwrapper div.tag_list { font-size: 25px; line-height: 30px; margin: 10px 0 5px; overflow: hidden; padding: 4px 2% 6px; text-align: center;}
#userwrapper span.role{ display: none;}
#tagCloud div.tagcloud { border-radius:7px;}

.tagCloudOver{ display:block; margin-bottom:20px; background:#fff;border:1px solid #d1d1d1;}
.tagCloudOver div.tagcloud { background:none; font-size:30px;}
.tagCloudOver .tag_list{padding-bottom:5px;}

.projectCover.details .ia-endorse-ribbon{z-index:2; right:-4px; top:270px;}