/* --------------------------------------------
----------------------------------------------- MEETING ROOMS */
.meetingRooms #cancel.leaveMyBooking,
.meetingRooms #cancel.deleteMyBooking{cursor:pointer; text-decoration:none;}
.meetingRooms #cancel.finishBooking,
.meetingRooms #cancel.leaveMyBooking.disable{cursor:default; color:#777; text-decoration:none;}
.meetingRooms #cancel.doneBooking{color:#b0b0b0; cursor:default;}
.meetingRooms #cancel.deleting img{height:100%;}
.meetingRooms #cancel:before {font-family:'FontAwesome'; margin:0 5px 0 0;}
.meetingRooms #cancel.deleteMyBooking:before{content:'\f014';}
.meetingRooms #cancel.leaveMyBooking:before {content:'\f08b';}
.meetingRooms #cancel.leaveMyBooking.disable:before {content:'\f05e';}
.meetingRooms #cancel.doneBooking:before {content:'\f046';}
.meetingRooms #cancel.deleting:before{content:'';}

.meetingRooms .selections .widgetListPager a.prev {position:absolute;  left:-20px;}
.meetingRooms .selections .widgetListPager a.next {position:static;}