/* NOTIFICATIONS SETTINGS */
.notif-container { margin: 0 auto 40px;}

.notification #secondRow{display:table;width:100%;}
.notification .msn{}
.notification .tamtamy{width: 130px;}
.notification .phone{width: 130px;box-sizing: border-box;}
.notification .slider.checkbox-mail{width: 80px;}
.notification .frequency{}

.notification .header div{display: table-cell;border-bottom: 1px solid #d4d4d4;padding: 15px 0;text-align: center;}
.notification .header .phone{background-color: #ebebeb;}
.notification .header .web{width: 130px;background-color: #f2f2f2;}
.notification .header .checkbox-mail{background-color: #f2f2f2;width: 196px;}
.notification .header div::before{content:'';display:inline-block;font:normal 1.5em/0 'FontAwesome';}
.notification .header .phone::before{content:'\f10B';font-size: 2em;position: relative;bottom: -4px;}
.notification .header .web::before{content:'\f109';}
.notification .header .checkbox-mail::before{content:'\f003';}
.notification #secondRow > div.when{text-align:left;font-size: 1.4em;}
.notification .header div.frequency{display:none;}

.notification h2{border-bottom:1px solid #418ee0;margin:20px auto 5px;font-size: 1em;cursor:pointer;}
.notification h2::after{content: '\f107';display:inline-block;margin: 0 0 0 20px;color:#418ee0;font: normal 1.4em/0.7em 'FontAwesome';position: absolute;left: 120px;}
.notification h2.visible::after{transform:rotate(180deg);}

.notification .slider{position:relative;text-align: center;box-sizing: border-box;background-color: #f2f2f2;}
.notification .slider.disabled::before{content:'\f023';color:#6d6e71;position:absolute;left: 85px;font: normal 1.5em 'FontAwesome';top: 14px;}
.notification .slider.checkbox-mail.disabled::before{left: 60px;}
.notification .slider.phone{background-color: #ebebeb;}
.notification .slider .slide{display: block;width: 30px;height: 28px;position: relative;margin: 0 auto;}
.notification .slider input{display:none;font-size: 2em;}
.notification .slider input:checked{}
.notification .slider .slide::before,
.notification .slider .slide::after{content:'';display:block;position:absolute;top:3px;}
.notification .slider .slide::before{height: 20px;width: 20px;background-color: #fff;border: 1px solid #4c4c4c;left: 0;}
.notification .slider .slide::after{height: 25px;width: 25px;top: -2px;}


.notification .slider .slide span {display: none;font: normal 10px Arial,Helvetica,sans-serif;color: #000;position: absolute;top: 7px;right: -25px;}
.notification .slider .slide span.off{font-weight: bolder;color:#000;}
.notification .slider .slide span.on {display: none;}

.notification section {display: table; width: 100%;}
.notification section > div{display:table-row;}
.notification section > div > *{display:table-cell;vertical-align:top;padding: 9px 0 9px 15px;border-bottom: 1px solid #fff;background-color: #fff;box-sizing: border-box;}
.notification section > div:nth-child(even) > *{background: #efefef;}
.notification section > div > .right{width: 116px;text-align: right;padding: 9px 5px;box-sizing: border-box;background-color: #f2f2f2;}
.notification section > div:nth-child(even) > .slider,
.notification section > div:nth-child(even) > .right{background: #e6e6e6;}
.notification section > div:nth-child(even) > .phone{background: #dfdfdf;}

.notification .tabContainer {display: table; width: 100%;}
.notification .tabContainer > div {display: table-cell;min-width: 80px;}
.notification #onContentSection > div:first-child .tabContainer > div.name {width: 83px;}
.notification .slider input + .slide::after{/* -webkit-transition: .2s ease-in-out; */-moz-transition: .2s ease-in-out;-o-transition: .2s ease-in-out;/* transition: .2s ease-in-out; */}
.notification .slider input + .slide::after {content: '';font: normal 1.5em/20px 'FontAwesome';height: 20px;width: 20px;top:4px;left: 1px;}
.notification .slider input:checked + .slide::before{background-color: #fff;border-color: #4c4c4c;}
.notification .slider input:disabled + .slide::before  {opacity: 0.2;}
.notification .slider input:disabled + .slide::after  {opacity: 0.3;}
.notification .slider input:disabled + .slide span {opacity: 0.4;}
.notification .slider input:checked + .slide::after {content: '\f00c';}
.notification .slider input:checked + .slide span.on{/* display: block; */}
.notification .slider input:checked + .slide span.off{display: none;}