/* Reply Factor 15*/
#factor_slide_1{background:#ffff00; position:relative;}
#factor_slide_2{background:#ffa500; position:relative;}
.left_arrow_img,.right_arrow_img{width:40px;height:50px;position:absolute;top:50%;margin-top:-25px;/* half the height of the arrows */background:grey;}
.left_arrow,.right_arrow{width:40px;height:87px;position:absolute;top:50%;margin-top:-43px;/* half the height of the arrows */background:#1760ab;}
.left_arrow{left:0;/* the width of the arrows to keep them outside */}
.right_arrow{right:0;/* the width of the arrows to keep them outside */}
#factor_slide_1{background: url(../../img/replyFactor/xmas_bg_2.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top !important; position:relative; height:540px; padding: 310px 0 0; box-sizing:border-box; color:#fff;}
#factor_slide_2{background: url(../../img/replyFactor/xmas_bg_1.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top !important; position:relative; height:540px; padding: 180px 0 0; box-sizing:border-box; color:#fff;}
#innovation_slider.xmas_15 .widget_padding > div {width: 738px;}
#innovation_slider.xmas_15 .ia_slider {width: 738px;}
#innovation_slider.xmas_15 .widget_padding {padding: 0;}
#innovation_slider.xmas_15 {text-rendering:optimizeLegibility; text-rendering:geometricPrecision; font-smooth:always; font-smoothing:antialiased; -moz-font-smoothing:antialiased; -webkit-font-smoothing:antialiased;}
#innovation_slider.xmas_15 .widget_padding, #idea_status_timeline.xmas_15 .widget_padding {border:none;background: none; margin: 0;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 13px;}
#idea_status_timeline.xmas_15 .widget_padding {padding: 0;}
#idea_status_timeline.xmas_15 {margin-bottom: 15px;}
#innovation_slider.xmas_15 {height: auto;}
#innovation_slider.xmas_15 .ia_slider {height: 560px;}
#innovation_slider.xmas_15 {background: url(../../img/replyFactor/xmas_15_bg.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top;margin-left:16px; height: 620px;}
#idea_status_timeline.xmas_15 {background: url(../../img/replyFactor/xmas_15_bg.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center bottom;height: 220px;}
#idea_status_timeline.xmas_15 .ia_timeline .ia_diamonds {margin: 0;}
#idea_status_timeline.xmas_15 .ia_time {display: none;}
.xmas_15 h1, .xmas_15 h2 {color: #fff;text-shadow: 0 0 10px #fff;text-transform: uppercase;}
#innovation_slider.xmas_15 p {padding: 0 120px; font-size:14px;}
#innovation_slider.xmas_15 p a {color:white;text-decoration:underline;}
#factor_slide_2 p {line-height: 16px;}
.xmas_15 .left_arrow, .xmas_15 .right_arrow {top:auto;bottom: 0;margin-top:0;background: none;}
.xmas_15 .left_arrow_img, .xmas_15 .right_arrow_img {position: relative;top: auto;margin: 0;height:84px;width: 40px;background: url(../../img/replyFactor/xmas_arrows.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left top;}
.xmas_15 .left_arrow_img {background-position: right top;}
.ia_diamonds .ia_diamond .info {display: none !important;}
.xmas_15 .ia_timeline .ia_diamonds {background: url(../../img/replyFactor/xmas_timeline_disattiva.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left top;height: 155px;}
.rf_dates {display: none;}
.super_little_diamonds_title {display: none;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond {height: 155px;width: 10px;margin: 0;float: left;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.active {background: url(../../img/replyFactor/xmas_timeline_attiva.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left bottom;margin: 0px;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.closed {margin: 0;background:none;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.little {}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.d_01 {width: 190px;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.d_02 {width: 155px;background-position: -190px bottom;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.d_03 {margin-top:30px;height: 125px;width: 64px;background-position: -345px bottom ;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.d_04 {margin-top:30px;height: 125px;width: 51px;background-position: -409px bottom ;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.d_05 {margin-top:30px;height: 125px;width: 51px;background-position: -460px bottom ;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.d_06 {margin-top:30px;height: 125px;width: 51px;background-position: -511px bottom ;}
.xmas_15 .ia_timeline .ia_diamonds .ia_diamond.d_07 {width: 175px;background-position: -562px bottom;}
.factor_intro {font-size: 16px;padding: 10px 0;display: block;}
.upload-box .section .meta_row input, .upload-box .section .meta_row select {margin-top:8px;}
.upload-box .section .meta_row input.ac_input {margin-top:0;}
.meta_row.youtube{text-align:center;}
.ideaWrapper .meta_row{padding: 10px 0;}
.ideaWrapper .meta_row .field{font-weight:normal;}
.xmas_15 a.guide_link {bottom: 25px;font-size:12px;}
.meta_row .band_member.replyer {background:#19A95D;}
.upload-box .section .meta_row input#uploadForm_meta_\'idea_cover_link\'_.input-box { box-sizing: border-box; border: 1px solid #ddd;padding: 10px 5px;}
.meta_row .band_member {padding: 5px 10px; background:#418ee0; font-size:12px; color:#fff;}