/* PAGINA TEAM */
h3.slider02{color:#87b3d3; font-size:16px; font-style:italic; font-weight:bold; text-transform:uppercase; position:absolute; left:0;}
#text-slider_team{float:right;width:450px;margin-top:40px; margin-right:100px; color:#666; font-size:13px; font-family:"lucida grande", tahoma, "trebuchet ms", sans-serif; text-align:justify;}
#button_starprofile{background-color:#2f9932;margin-left:15px; margin-top:20px; width:100px; padding:5px; text-align:center; color:#fff; text-decoration:none; border:1px solid #2f9932; font-family:"lucida grande", tahoma, "trebuchet ms", sans-serif;font-size:14px;left:20px;}
#button_starprofile.skills{background-color:#039cfe;position:relative;left:130px;top:-50px; background-repeat:repeat-x; border:1px solid #628ead;}

a.button_starprofile{color:#fff;}
#text-profile{height:auto; color:#888; font-size:12px; width:300px; margin-top:10px; text-align:justify; margin-left:150px;}
#scheda_star{width:49%; float:left; margin-top:20px; border-bottom:1px solid #e7e7e7; border-right:1px solid #e7e7e7; margin-left:5px;}

#board_0 textarea,
#board_1 textarea,
#board_2 textarea,
#board_3 textarea{width:98%; height:60px; padding:10px 1%; font-size:12px; font-family:Arial; border:1px solid #ddd; background:url(../../../aqua/graphic/grad_01_rev.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x top;}

.remove_from_group{display:none;}
#welcome_message{font-size:14px; font-style:italic; padding:0 24px;}

.featured{display:none;}
.profile-stats{display:none;}

.guide_lines{padding:15px; background:#fafafa; border:1px dashed #ccc;}
.guide_lines ol{padding:20px 0 0 25px; margin:0 0 10px;}
.guide_lines ol li{font-weight:bold;}

.button_partecipate{font-size:16px; font-weight:bold; height:45px; line-height:45px; margin:20px 0 0; border:1px solid #39b54a; display:inline-block; background:url(../../img/crm_area_link.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x; clear:both; padding:0 10px; color:#fff; border-radius:5px; -moz-border-radius:5px; display:block; width:260px; text-align:center;}

.workgroups_list{list-style:disc; padding:0 0 0 20px;}
.workgroups_list li{list-style:disc; border-bottom:1px dashed #ddd;}

#statusBar{display:none;}

/*TEAM HEADER FIX NC 2012*/
#button_starprofile.skills.guerrieri{top:180px;}
#team_NC_2012 #text-profile{height:225px;}
#text-slider_team{margin-top:30px;}

/* NETCAMP TEAM PAGE BUTTONS FIX */
#text-profile #button_starprofile{position:absolute;bottom:10px;top:auto;}
#text-profile #button_starprofile.skills{left:150px;}

.fumetto{display:none;}

#foto-polaroid img{max-height:113px;}
#text-profile{position:relative;height:240px!important;}

/*NETCAMP SESSIONS STYLE*/
.group_item{position:relative;overflow:auto;clear:both;padding:5px;border-top:1px solid #ddd;}
.group_item .group_pic{float:left;margin:0 10px 0 0;}
.group_item .group_name{font-weight:bold;margin-bottom:4px;}
.group_item .group_description{margin-bottom:3px;}

/* group button */
.group_item .buttons_wrapper{clear:none;float:right;display:block;overflow:visible;padding:0;}
.group_item .buttons_wrapper .generic_button{position:static!important;clear:none;float:right;display:block;margin:5px 5px 0 0;}
.group_item .buttons_wrapper.with_avatar a.generic_button{}
.group_item .group_updates{display:inline-block;background:#4e8d2e; font-weight:bold; color:#fff; padding:2px 5px; margin:5px 1px 0 0; border-radius:3px;}
.group_item .group_updates a{color:#fff;}
.group_item .group_updates.zero_updates{background:#f0f0f0;color:#666;}
.group_item .group_members{display:inline-block;padding:2px 5px; background:#f0f0f0; font-weight:bold; margin:5px 1px 0 0; border-radius:3px,}
.group_item .group_info.with_avatar .group_updates,
.group_item .group_info.with_avatar .group_members{top:43px;}
#hint_0 h4,
#hint_1 h4,
#hint_2 h4,
#hint_3 h4{font-size:14px; color:#3797cf;}
#hint_0 ul,
#hint_1 ul,
#hint_2 ul,
#hint_3 ul{padding:5px 0 5px 28px; list-style-image:url(/tamtamy/skins/phelsuma/graphic/arrow-right.png?v=@TAMTAMY_PREVENT_CACHE@);line-height:22px;}

/*NETCAMP PLENARY+SESSIONS VIDEO*/
.video_switcher_container{clear:both;float:right;margin:5px;}
.video_switcher_container a.on{font-weight:bold;color:#000;}
.ispring_video{clear:both;}
.dsc_video{clear:both;display:none;margin:30px;}
#dsc_iframe{border:medium none;}
#polaroid.moderator{float:none;margin:0 auto;}