/*PAGE user chart*/
.user-in-chart {border-bottom: 1px dotted #d1d1d1; padding:10px; clear:both; display:table-row; width:100%; height:40px;}
.user-in-chart.no-border{border-bottom:0 none;}
.user-in-chart .upDown{float:right; margin-top:10px; margin-right:5px;}
.user-chart-title h2 span {font-size: 32px;}
.user-chart-title {padding-bottom:20px;}
.chart-page{display:table; width: 100%; border-collapse:collapse;}
.user-chart-cell{float:left; display: table-cell; line-height:27px; padding-top:5px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.user-in-chart .avatarImage{vertical-align:middle;}
.user-in-chart .user-chart-cell.rank-position {padding-left:10px;}
.user-in-chart .user-chart-cell.user-fullname {margin-left:-10px;}
.user-chart-cell.rank-position {width:6%;}
.user-chart-cell.user-nickname {width:15%;}
.user-chart-cell.user-city {width:10%;}
.user-chart-cell.user-country {width:8%; text-align:center;}
.user-chart-cell.user-title {width:12%;}
.user-chart-cell.user-company {width:22%; margin-left:10px;}
.user-chart-cell.user-fullname{width:27%; position: relative;}
.chart-header{display: table-row; border-bottom: 1px solid #d1d1d1;}
.chart-header div{font-weight:bold;}
.user-chart-cell.user-country img {padding-top:1px;}
.user-chart-cell.user-role .role{position:relative; line-height:11px;}
.footer-chart {border: 1px solid #d1d1d1; background:none repeat scroll 0 0 #f7f7f7;}
.footer-chart .viewMoreChart {height:33px; line-height:33px; text-align:center;}