/*------------------------------------*\
	Private User Profile
\*------------------------------------*/
#Profile{float:none; width:auto;}
.tdc1{margin:10px; width:auto;}
.tdc1 .user-profile-menu{float:right;}
.tdc1 ul.user-profile-menu li{float:left; padding:0 10px; white-space:nowrap;}

.tdc1 .avatarSmall div{height:128px; overflow:hidden;}
.tdc1 .avatarSmall div,
.tdc1 .avatarSmall img{width:128px;}
.tdc1 .avatarSmall{box-shadow:0 1px 3px rgba(0, 0, 0, 0.4); background:none; border:none; border-radius:1px; float:left; margin:0 10px 0 0; position:relative; background:#fff; padding:5px;}
#t1_profile img{background:none; border:none; float:none; padding:0; border-radius:0;}
.tdc1 h2{clear:none;}
.tdc1 .user-conten-tab{padding:0;}
#Profile .tdc1 #userDetail{float:left; margin-left:-15px; width:390px; padding:10px 10px 10px 15px; border-radius:1px;}
.tdc1 a.social,
.tdc1 a.edit{min-width:75px; text-align:center;}
.tdc1 .user-info{float:left;}
.tdc1 #elencoBlog{margin:0; clear:both;}
.tdc1 .start-new-blog{clear:both; padding:10px 0 0;}
.tdc1 .blogs-info{padding:10px; background:#f8f8f8; position:relative; clear:both; border-top:1px dashed #ddd; border-bottom:1px dashed #ddd; margin:0 2px;}
.tdc1 .blogs-info .upper-arrow{background:url(../../img/background-upper-arrow.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 0 0; left:10px; position:absolute; text-indent:-2000000em;top:-10px;}
.tdc1 .blogs-info .blogs-admin,
.tdc1 .blogs-info .blogs-addpost{float:right; padding:0 5px;}
.tdc1 .blogs-info .blogs-startnew{padding:5px 0;}
#elencoBlog h3{background:#f4f4f4 url(../../img/arrow-blu-down.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 114px 8px; cursor:pointer; border:1px solid #ddd; width:122px;margin:-2px 0 10px 2px;padding:5px;border-radius:2px;}

#elencoBlog h3.open{background:#f4f4f4 url(../../img/arrow-blu-up.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat scroll 114px 8px;}
#elencoBlog h3:hover{background-color:#4697f0; color:#fff; background-image:url(../../img/arrow-down-white.png?v=@TAMTAMY_PREVENT_CACHE@);}
#elencoBlog h3.open:hover{background-color:#4697f0; color:#fff; background-image:url(../../img/arrow-up-white.png?v=@TAMTAMY_PREVENT_CACHE@);}
.profile-stats{border-radius:1px; padding:0; font-weight:700; float:left; clear:none; margin-left:-5px;}
.profile-stats div{margin:5px; background:none; width:auto;}
.user-contents{clear:both;}
.user-contents > h3{display:none;}


.profile_page .buttons_wrapper{border-top:medium none;overflow:auto;padding-right:4px;padding-top:15px;}
.profile_page ul.tab_list a{width:91px;margin-left:0;}
.profile_page #submit{height:27px;padding-right:4px;width:65px;}

.profile_page ul.tab_list li a:hover,
.profile_page ul.tab_list li a.on,
.profile_page ul.tab_list li a.on,
.profile_page ul.tab_list li.active a{background:none;border:none;color:#4697f0;height:20px;text-decoration:underline;-moz-border-bottom-colors:none;-moz-border-image:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;}

.profile_page ul.tab_list li a,
.profile_page ul.tab_list li span{background:none;color:#4697f0;border-left:none;border-radius:none;border-right:none;border-top:none;padding-top:5px;padding:0;}

.profile_page ul.tab_list li.current a{color:#666;text-decoration:none;}
.profile_page ul.tab_list li.primo a{border-radius:0 0 0 0;border-right:1px solid #666;padding-left:20px;}