/****************************************************/
/* XCHANGE 12 + VARIOUS *****************************/

/* CUSTOM-XCHANGE12 */
/* da scommentare lunedì 18 *//*
html{ background: #F4F4F4 url(/pub/thumb/tamtamy/xchange_body_bg_tile.png) repeat-y center;}
 body{ background: url(/pub/thumb/tamtamy/xchange_body_bg.png) no-repeat center top;} 
 #header{ background: url(/pub/thumb/tamtamy/xchange_header_TT.jpg) no-repeat top left!important;}
*//*  end da scommentare lunedì 18 */
 
.xchange12-bkg { background: url(/pub/thumb/tamtamy/xchange12_header.png) no-repeat top left!important;}

 /* da commentare lunedì 18
.xchange12-header-bkg { background: url(/pub/thumb/tamtamy/xchange_header_TT.jpg) no-repeat top left!important;}
.xchange12-body-bkg{ background: url(/pub/thumb/tamtamy/xchange_body_bg.png) no-repeat center top;}
end da commentare lunedì 18 */

/* gestione animazioni top foto-contest*/

#xchange-container .widget_padding,
#xchange-container.wrapwidg,
#xchange-menu .widget_padding,
#xchange-menu.wrapwidg{margin:0!important;padding:0!important;}
.xchange-header{color:#666;width: 940px;margin:0 auto;position:relative;height:370px;overfow:hidden;border-bottom: 5px solid #11722d;}
.xchange-header h3,
#Agenda-header h3{margin-bottom:5px; color:#11722d; font-weight:normal; text-transform:uppercase;}
.xchange-header div{position:absolute;}
.cat-title {margin-bottom:3px;display:block;color: #11722d;}
.box-foto{z-index:10;top:370px;left:-10px;}
.box-logo{display:none;z-index:5;top:170px;left:100px;width:50px;height:50px;overflow:hidden;}
.box-categories{ top:370px;left:335px;border-right:1px dashed #ccc;width:17%;padding:0 2%;}
.box-categories p{width:100%;overflow:hidden;margin: 0 7px 10px 0;}
.box-categories img{ float:left;margin: 0 5px 0 0;}
.box-categories span.box-testo{ display:block;float:left;margin: 0;width:70%;}
.box-steps{ top: 370px;left:530px;border-right:1px dashed #ccc;width:17%;padding:0 2%;}
.box-steps ol{ margin:0;padding:0 0 0 15px;font-size:1.2em;color: #11722d;}
.box-steps ol li p{font-size:.8em!important;color:#666;}
.box-rules{ top: 370px;left:725px;width:17%;padding:0 2%;}


/* Forzatura widget titles per xchange12*/
#hidden-widget{display:none;}
div[id*=SEL-xchange12] h2.widget_title,
div[id*=SEL-xchange12] .addContent h3,
div[id*=SEL-xchange12] #attachments h3{height: 27px!important; background:url(/pub/thumb/tamtamy/widget_bg.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left bottom!important; border-bottom: 1px dashed #ccc!important; text-transform: none; font-size: 13px; color:#11722d!important; padding-left: 43px!important;}

div[id^=SEL-xchange12] a,
div[id^="SEL-xchange12"] h2{ color:#11722d!important;}
div[id^=SEL-xchange12] .campo{width:100%;height:80px;}
#SEL-xchange12-Livestreaming .iFrame-Wrapper{background: url(/pub/thumb/tamtamy/xchange12_livestream_bg.jpg) no-repeat center top;height:408px;padding-top:35px;}
#SEL-xchange12-Livestreaming .iFrame-Wrapper-multi{background:url(/pub/thumb/tamtamy/xchange12_livestream_multi_bg.jpg) no-repeat center top;height:470px;padding-top:55px;}
#SEL-xchange12-followup-header,
#SEL-xchange12-Presentations .vwall{display:none;}
div[id^=SEL-xchange12] .generic_button{background:#1d7220;color:#fff!important;}
div[id^=SEL-xchange12] .generic_button_danger{color:#fff!important;}
div[id*=SEL-xchange12] .topic_container .topic_filter {color: #11722d; font-weight: normal;}
div[id*=SEL-xchange12] .topic_container .topic_filter:hover {color:#fff; background: #11722d; font-weight: normal;}
div[id*=SEL-xchange12] div.topic_container ul li a.active,
div[id*=SEL-xchange12] div.topic_container ul li a:hover{background: #11722d;color:#fff!important; float:left; font-weight: bold;}
div[id*=SEL-xchange12] div.topic_container {border-bottom: 2px solid #11722d;}

#SEL-xchange12-photos .gallery{background:#fff;border: none;padding: 0px!important;width:100%!important;}
#SEL-xchange12-photos .panel{font-size: 1.4em!important;}
#SEL-xchange12-photos .panel img{margin:0!important;width:100%!important;height:auto!important;left: 0!important;}
#SEL-xchange12-photos .panel a{color:white!important;}
#SEL-xchange12-photos .panel-overlay{}
#SEL-xchange12-photos .panel .panel-overlay,
#SEL-xchange12-photos .panel .overlay-background {height: 50px;padding: 5px 1em;}
div[id*=SEL-xchange12] .comment_count { background:#11722d;}
div[id*=SEL-xchange12] h3.content_list_content_title a.link_content_idea {width:100%;}


#Agenda-header{ float:left;width:65%;padding:0 1% 20px 1%;min-height:200px;overflow:hidden;clear:none!important;margin-top:30px;}
#Agenda-header a{color:#11722d;}
#Agenda-header-register{ position:relative;float:left;width:29%;padding:0 1%;height:200px;clear:none!important;margin-top:30px;}
#Agenda-header div.box{float:left;width:43%;border-left:1px dashed #ccc;padding: 0 2%;height:150px;}
#xChangePages-navbar { border-bottom: 5px solid #11722d;margin-top:10px;}
#xChangePages-navbar a{ padding: 10px;color:#11722d;text-decoration:none;border-right:2px solid white;background:#efefef;}
#xChangePages-navbar a.current,#xChangePages-navbar a:hover { background:#11722d; color:white;}
#xChangePages-navbar a.disabled:hover { background:#efefef!important; color:#11722d!important;}
.xchange-register-btn{ display:block;width:163px;height:163px;background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top;margin:0 auto;}
.xchange-register-btn:hover{ background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -163px;}
.agenda-table {background: url(/pub/thumb/tamtamy/agenda_top_bg.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -13px;}
#xchange12-Agenda table{ width:100%;}
#xchange12-Agenda table h3{ text-transform:uppercase;font-weight:normal;color:#11722d;font-size:1em;}
#xchange12-Agenda tr.header td{ vertical-align:top;font-size:1.1em;text-align:left;height:55px;background:url(/pub/thumb/tamtamy/agenda_cluster.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left center;font-weight: bold;color:#11722d;}
#xchange12-Agenda tr.header td.left{background:url(/pub/thumb/tamtamy/agenda_cluster_left.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left center;}

#xchange12-Agenda tr.corpo td{ padding:5px 7px;text-align:left;vertical-align:top;height:200px;border-right: 1px dashed #ccc;-webkit-transition-duration: 0.7s;}

#xchange12-Agenda tr.corpo td.right{ border:none;}
#xchange12-Agenda tr.corpo td.short{ width:5%;}
#xchange12-Agenda tr.corpo td.large{ width:15%;}
#xchange12-Agenda .it tr.corpo td.large{ width:25%;}
#xchange12-Agenda tr.corpo td p{ text-align: left;} 
#xchange12-Agenda tr.corpo td:hover{ background:#efefef;}
#xchange12-Agenda .scheda-dati{ width:100%;overflow:hidden;}

#xchange12-Agenda .it .scheda-dati{ width:66px;float:left;margin:0 2px 2px 0;position:relative;overflow:visible;cursor:pointer;}
#xchange12-Agenda .p-left { background:#11722d;text-align:left!important;}
#xchange12-Agenda .p-right { background:#5d9d67;text-align:right!important;}

#xchange12-Agenda .it .scheda-dati-nome {font-weight:normal;text-align:left!important;padding: 5%;display:none;position:absolute;top:0;width:100%!important;height:100%;}
#xchange12-Agenda .it .p-right .scheda-dati-nome {font-weight:normal;text-align:right!important;padding: 3% 2%;display:none;}

#xchange12-Agenda .p-left .scheda-dati-nome {font-weight:normal;text-align:left!important;padding: 3% 2%;float:right;}
#xchange12-Agenda .p-right .scheda-dati-nome {font-weight:normal;text-align:right!important;padding: 3% 2%;width:64%;float:left;}
#xchange12-Agenda .desc-info{ display:block;margin-top:3px;color:#aad3b1;font-size:.8em;line-height:1.2em;font-weight:normal;width:100%;}
#xchange12-Agenda .scheda-dati-container { margin-top:10px;width:100%;overflow:hidden;}

#xchange12-Agenda .it .p-left img { float:left;background:#11722d;}
#xchange12-Agenda .it .p-right img { float:right;background:#5d9d67;}

#xchange12-Agenda .p-left img { float:left;background:#11722d;width:30%;height:auto;}
#xchange12-Agenda .p-right img { float:right;background:#5d9d67;width:30%;height:auto;}

#xchange12-Agenda .scheda-dati-nome {color:#fff; font-size:11px;}
.xchange-header .carica-foto{text-transform:uppercase; text-decoration:none; font-size:1.1em; line-height:1em; margin-top:20px;/*position:absolute;padding-top:40px;bottom: 40px;right:105px;*/padding: 35px 0 0 0;display:block;width:100px;height:auto;background: url(/pub/thumb/tamtamy/c2a_photocam_active.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat top left!important;}
.xchange-header .carica-foto:hover{background:url(/pub/thumb/tamtamy/c2a_photocam_hover.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat top left!important;}
.xchange-header .carica-foto span{font-size:1.8em; font-weight:normal; text-transform:uppercase;}
.xchange-header a{color:#11722d;}
.xchange-header a:hover{color:#999;}
.tooltipLaunch{position:relative;overflow:hidden; display:block; background:url(/pub/thumb/tamtamy/more.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat left top; margin-top:10px; padding-top:20px;}
.tooltipText{display:none;width:200px;height:300px;}

#Agenda-header-register .registration_title{ display:none;text-transform:uppercase;position:absolute;top:20px;left:120px;color:#11722d;z-index:100;}
#Agenda-header-register .eventWidgetPlugin .sub_titles_sessions { margin: 0 0px; width: 300px;border-width:0px;}
#Agenda-header-register .eventWidgetPlugin .sub_titles_sessions .full_row { width: 300px;border:none;line-height:13px;height:30px;}
#Agenda-header-register .eventWidgetPlugin #netcamp_registration_outer_container {display: block;float: left;margin: 0 60px;}
#Agenda-header-register .eventWidgetPlugin .sub_titles_sessions .full_row {width:270px; height:30px; line-height:12px; border:none;}

.netcamps_status{background:none; position:absolute; width: 100px; left:105px; top:50px; z-index:100; color:#fff; font-size:1em; font-weight:normal; text-align:left;}
.netcamps_button {position: relative; margin: 0 auto; display:block; text-align: center; color:#fff; font-weight: normal;font-size: 12px;background:none;}
.netcamps_button a{display:block; width:163px; height:163px; line-height:163px;}

#Agenda-header-register .netcamps_button a:hover{background:url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -163px!important; color:#11722d;}
#Agenda-header-register .content_wait{position:absolute!important; top:0!important; left:0!important;}
.xchange_table .full_row {color:#11722d!important;}

#netcamps_button_0 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top;}
#netcamps_button_1 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -327px;}
#netcamps_button_2 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -327px;}
#netcamps_button_3 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -163px;color: #11722d;}
#netcamps_button_3 a:hover{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top!important;color:#fff!important;}
#netcamps_button_4 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -163px;color: #11722d;}
#netcamps_button_4 a:hover{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top!important;color:#fff!important;}
#netcamps_button_5 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -327px;}
#netcamps_button_6 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -327px;}
#netcamps_button_100 a{background: url(/pub/thumb/tamtamy/pulsante_register.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top;}

.netcamps_button_container{overflow:hidden}

#contents_wrapper{position:relative;margin-top:20px;}
.callTo {background:#0b95ed!important;color:white!important;}
.callTo a{color:white;display:block!important;width:100%;height:150px;}

#Gallery_Photo_all .wrappager{position:absolute; bottom:0; left:0;}
#Gallery_Photo_all{padding:0 10px; width:940px; margin:0 auto; min-height:400px; background:#fff; display:block; position:relative; z-indx:10;}
#Gallery_Photo_all div[id^=lastContents] {width: 100!important;}
#Gallery_Photo_all #homeContentFilter{ width:95%;float:none;}
#Gallery_Photo_all #homeContentFilter.ie-hack{padding-top:10px;}
#Fullscreen{position:absolute; right:5px; top:0px; width:28px; height:28px; background: #11722d url(/pub/thumb/tamtamy/fullscreen.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center 6px; cursor:pointer;}
#Fullscreen:hover,
#Fullscreen.opened:hover{background:#ccc url(/pub/thumb/tamtamy/fullscreen.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center 6px;}
#Fullscreen.opened{background:#11722d url(/pub/thumb/tamtamy/fullscreen.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -16px;}
.fixed-pos-ie-hack,
#Gallery_Photo_all .vwall{display:none;}
#Gallery_Photo_all.fullscreenView{position:fixed; height:100%; width:100%; z-index:10000; top:0; right:0; overflow:scroll;}
#Gallery_Photo_all.fullscreenView .masonry{width:100%;}
#Gallery_Photo_all .masonry{width:940px;}
#Gallery_Photo_all .foto-wrap {margin:5px; background:#fff; float:left; position:relative; overflow:hidden;}
#Gallery_Photo_all .foto-dati {position:absolute; bottom:5%; width:95%; background:#11722d; height:auto; padding:5px; color:#fff; opacity:0; z-index:2;}

.segnaposto{background:url(/pub/thumb/tamtamy/foto_segnaposto.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center; position:absolute; height:100%; width:100%; z-index:1;}

/* stili basi per info*/
#Gallery_Photo_all .foto-dati a{text-decoration:none;color:#fff;}
#Gallery_Photo_all .foto-dati p { margin:0;}
#Gallery_Photo_all .foto-dati {left:100%;}
#Gallery_Photo_all .autore-titolo{font-size:1em; width:69%; overflow:hidden;float:left;}
#Gallery_Photo_all .autore-titolo img {width:30px!important; height:30px!important; border:1px solid #fff; float:left; margin-right:5px;}
#Gallery_Photo_all .strumenti{width:30%; font-size:1em; padding:0; float:right;}
#Gallery_Photo_all .strumenti .col{float:right; padding:0 5px; width:35px; padding:0; height:30px; text-align:center; border-left:1px solid #599d6c;margin:0;}
#Gallery_Photo_all .strumenti .col:hover{opacity:0.5; filter:alpha(opacity=50); -webkit-transition-duration:0.7s;}

#Gallery_Photo_all .foto-dati .modalbox a{display:block;width:100%;height:100%;text-align:center;}
#Gallery_Photo_all .foto-dati .modalbox a,
#Gallery_Photo_all .foto-dati .modalbox a:hover{background:none;}
#masonry{background:none}

/* stili col1 per info*/
#Gallery_Photo_all .col1.strumenti .col{padding:0 3px;width:33px;padding:0;height:30px;text-align:center;border-left:1px solid #55b5f2;}
#Gallery_Photo_all .col1 .autore-titolo{width:48%;}
#Gallery_Photo_all .col1 .autore-titolo img {width:30px!important; height:30px!important; border:1px solid #fff; float:left;margin-right:5px;}
#Gallery_Photo_all .col1 .strumenti{width:52%; margin:0; float:right!important;}


#Gallery_Photo_all .commenti-link {background:url(/pub/thumb/tamtamy/ico_comments.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center 2px; display:block; padding:20px 0 0; text-align:center;}
#Gallery_Photo_all .commenti-link:hover {background:url(/pub/thumb/tamtamy/ico_comments.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center 2px;}
#Gallery_Photo_all .like{padding:0px; text-align:center;}
#Gallery_Photo_all .outer_rate_button,
#Gallery_Photo_all .rates_count {text-align:center;}
#Gallery_Photo_all .rates_count {padding:0;}
#Gallery_Photo_all .outer_rate_button a.link_rate{margin:0 auto;display:block;width:20px;height:20px;background: url(/pub/thumb/tamtamy/ico_like.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center top;padding:0;}
#Gallery_Photo_all .already_rated{margin:0 auto;display:block;width:20px;height:20px;background:url(/pub/thumb/tamtamy/ico_like.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center -24px;padding:0;}


#Gallery_Photo_all  h1,
#Gallery_Photo_all h2,
#Gallery_Photo_all #contents_wrapper h3 {font-weight:bold;}
#Gallery_Photo_all .col1 {width:220px;}
#Gallery_Photo_all .col2 {width:450px;}
#Gallery_Photo_all .col3 {width:680px;}

#Gallery_Photo_all .col1 img.foto-item,
#Gallery_Photo_all .col2 img.foto-item,
#Gallery_Photo_all .col3 img.foto-item {max-width:none; display:block; width:100%; height:auto;}

#freccie{position:fixed; z-index:0; width:970px; top:50%; display:none; margin-left:-5px;}
#freccie.freccie-fullscreenView{position:fixed; z-index:0; width:100%; top:50%; left:0; display:block!important; z-index:1000;}
#nextCloned{ float:right;}
#nextCloned a{display:block; width:25px; height:35px; background:url(/pub/thumb/tamtamy/ico_next.png) no-repeat center center; text-indent:-300px; overflow:hidden;}
#prevCloned{float:left;}
#prevCloned a{display:block; width:25px; height:35px; background:url(/pub/thumb/tamtamy/ico_prev.png) no-repeat center center; text-indent:-300px; overflow:hidden;}

.topic_container .topic_filter{color:#03acff; text-decoration:none; font-weight:normal;}
.topic_container .topic_filter:hover{color:#fff; background:#03acff; font-weight:normal;}
.topic_container .active{color:#fff; font-weight:normal!important;}


/*EVENT REGISTRATION WIDGETS*/
.azure-fg {color:#3bb9ff;}
.green-fg {color:#39a666;}
.fucsia-fg{color:#f400a1;}
.orange-fg{color:#ea7623;}
.other-fg {color:#666;}