/*
Name: Newspaper Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */

h1 {font-family:Georgia;margin:0 0 10px 0;font-style:italic;font-weight:normal;color:#555;}
h2 {font-family:Georgia;margin:0 0 10px 0;font-style:italic;font-weight:normal;color:#555;}
#home-highactmyp h2 {color:#ccc;}
a, a h1, a h2, a h3, a h4, a h5 {color:#000;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#777;}
body{background:#fff url(../graphic/bg.jpg) repeat;}
#header {padding:0 1px;}
#header h1{background:url(../graphic/logo-tamtamy.gif) no-repeat;}
#header ul li a{color:#bbb;text-shadow:none;background:#fff;border-color:#ddd;text-transform:lowercase;font-family:Georgia;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{text-shadow:none;color:#fff;background:#777;border-color:#777;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3{font-family: Georgia;font-style:normal;font-weight:normal;background:none;color:#555;text-shadow:none;font-size:20px;letter-spacing:0px;border-bottom:1px solid #777;text-transform:lowercase;padding:0;}
#home-wrapcontent h2.widget_title {height:30px;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:#777;border-color:#777;color:#fff;}
ul.tab_list li a, ul.tab_list li h3.tab span  {background:#fff;text-transform:lowercase;}
.vwall a, #userview a {color:#ccc;}
#userview {color:#ccc;}
.vwall a:hover, #userview a:hover {color:#000;}
ul.pager li a,ul.pager li a{background:#ccc;padding:3px;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul.pager li a:hover,ul.pager li a.on{background:#000;padding:3px;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer p#logo_pow a{background:url(../graphic/logo_pow.gif) no-repeat;}
#home-highactmyp {border:1px solid #ccc;border-top:1px solid #777;}
#home-wrapcontent, #wrapcontent {border-left:1px solid #ccc;border-bottom:1px solid #ccc;border-right:1px solid #ccc;-moz-border-radius:0px;-webkit-border-radius:0px;}
.wrapwidg {border:none;background:none;margin:0 0 20px 0;}
.wrapwidg {-moz-border-radius:0px;-moz-box-shadow:none;-webkit-border-radius:0px;-webkit-box-shadow:none;}
.content_list_description {font-family:Georgia;}
.boardMessages ul.messages li {font-family:Georgia;}
#header ul li a {-moz-border-radius:0px;-webkit-border-radius:0px;}
#header #search .ac_input {-moz-border-radius:0px;-webkit-border-radius:0px;background: #fff;border-top:1px solid #ddd;border-left:1px solid #ddd;}
a.searchButton  {background:url("../graphic/search_button.gif") no-repeat scroll 0 0 #777;border-top:1px solid #777;border-right:1px solid #777;}
#homeContentFilter ul li a, #postFilter ul li a {-moz-border-radius:0px;-webkit-border-radius:0px;background:#fff;color:#bbb;}
.tagcloud  {-moz-border-radius:0px;}
.scheda {-moz-border-radius:0px;-webkit-border-radius:0px;border:none;border-top:1px solid #ddd;}

