/*
Name: Live Reply Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
a, a h1, a h2, a h3, a h4, a h5 {color:#000;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#777;}
body{background:#fff;}
#home-highactmyp {display:none;}
#mainwrap {width:968px;min-width:968px;max-width:968px;}
#header {background: url(../graphic/bk_header.jpg) no-repeat;height:170px;margin: 0px 5px;width: auto;}
#header {-webkit-box-shadow:0 3px 3px #ccc;-moz-box-shadow:0 0 3px #ddd;}
#header #search {background: url(../graphic/search.gif) no-repeat;padding: 10px 0px 0px 5px;width: 247px;height:32px;}
#header h1{background:none;}
#header ul {height:33px;left: 335px;bottom: 5px;}
#header ul li a{color:#494c51;text-shadow:0 1px 0 #9fa2aa;background:#1f1f1f url(../graphic/title-bg.png) repeat-x;border-color:#545454;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{text-shadow:0 1px 0 #fff;color:#000;background:#fff url(../graphic/title-bg.png) bottom repeat-x;border-color:#fff;}

#header ul li a#pull_home {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat 0px 0px;width:90px;height:33px;border:none;text-indent:-9999px;}
#header ul li a#pull_contents {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat -90px 0px;width:120px;height:33px;border:none;text-indent:-9999px;}
#header ul li a#pull_about_us {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat -211px 0px;width:114px;height:33px;border:none;text-indent:-9999px;}
#header ul li a#pull_home:hover {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat 0px -33px;width:90px;height:33px;border:none;text-indent:-9999px;}
#header ul li a#pull_contents:hover {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat -90px -33px;width:120px;height:33px;border:none;text-indent:-9999px;}
#header ul li a#pull_about_us:hover {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat -211px 0px;width:114px;height:33px;border:none;text-indent:-9999px;}
#header ul li a#pull_home.on, #header ul li#first a#pull_home.on {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat 0px -33px;width:90px;height:33px;border:none;text-indent:-9999px;}
#header ul li a#pull_about_us.on, #header ul li#first a#pull_about_us.on {padding:0px;margin:0 1px 0 0;background:#1f1f1f url(../graphic/menu_custom.jpg) no-repeat -211px 0px;width:114px;height:33px;border:none;text-indent:-9999px;}

#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3, #home-wrapcontent h2.widget_title, #sidebar h2.widget_title, .addContent h3, #attachments h3{background:#bfc1cd url(../graphic/hl.png) repeat-x top;color:#757881;text-shadow:0 1px 0 #fff;}
#home-highactmyp h2 {color:#BFC1CE;}
#home-wrapcontent {background:none;}
.wrapcontent_padding {padding:0px;}
.wrapwidg {background: #f3f3f3 url(../graphic/widget_bg.gif) repeat-x top center;border-color:#ddd;}
.wrapwidg {-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ddd;}
#w_profile {background: #bfbfbf url(../graphic/widget_login.jpg) no-repeat top right;}
#w_banner {background:none;border:none;}
.scheda {background:none;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3, #myprofile h2 {text-shadow:none;color: #EF8F00;font-size: 15px;font-weight: 400;text-transform: capitalize;background:none;margin: 0px 0px 10px;}
#w_profile h2, #myprofile h2 {color:#000;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:url("../graphic/title-bg.png") repeat-x scroll 0 0 #1f1f1f;border-color:#545454;color:#494c51;}
.vwall a, #userview a {display:none;}
#userview {display:none;}
ul.pager li a:hover,ul.pager li a.on{background:#757881;}
ul.pager li a{background:#bfc1ce;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer {background:url(../graphic/footer.jpg) no-repeat;height:69px;padding:0px;margin:0 0 10px 0;}
#footer {-webkit-box-shadow:0 3px 3px #ccc;-moz-box-shadow:0 0 3px #ddd;}
footer p#logo_pow a{display:none;}
#footer p#global {position:absolute;top:15px;left:155px;line-height:25px;}
#footer p#global a#rss, #Profile a.rss {margin: 0px 10px 0px 0px;}

#hide_widget {display:none;}
