/*
Name: Security Day Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
a, a h1, a h2, a h3, a h4, a h5 {color:#FD6428;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#FD6428;}
body{background: #9ea09f url(bk_page.jpg)repeat-x top;}
#home-highactmyp {display:none;}
#home-wrapcontent, #wrapcontent {border:none;}
#mainwrap {width:968px;min-width:968px;max-width:968px;}
#header {background: url(../graphic/bk_header.jpg) no-repeat;height:200px;}
.wrapcontent_padding {padding:0px;}
#header #search {right:30px;bottom: 26px;background: url(../graphic/search.gif);height:20px;width:182px;}
#header h1{background:url(../graphic/tt_logo.jpg) no-repeat;width:173px;height:68px;left:24px;top:20px;}
#header ul {height:15px;left: 5px;bottom: 26px;}
#header ul li a{color:#fff;text-shadow:none;background:none;border:none;border-right:1px solid #fff;height:15px;line-height:15px;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{color:#FD6428;text-shadow:none;background:none;border:none;border-right:1px solid #fff;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3 {background:#bfc1cd url(../graphic/hl.png) repeat-x top;color:#757881;text-shadow:0 1px 0 #fff;}
#home-highactmyp h2 {color:#BFC1CE;}
#home-wrapcontent {background:none;}
.wrapcontent_padding {padding:0px;}
.wrapwidg {background: #fff;border:none;}
.scheda {background:none;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3, #myprofile h2, #home-wrapcontent h2.widget_title, #sidebar h2.widget_title, .addContent h3, #attachments h3 {text-shadow:none;color: #fff;font-size: 13px;font-weight: 400;text-align:right;text-transform: uppercase;background: url(../graphic/tit_soc.gif) no-repeat left;margin: 0px 0px 10px;}
#w_profile h2 {height: 25px;line-height: 25px;padding: 0px 8px;}
#w_profile h2 {-moz-border-radius: 3px;-webkit-border-radius: 3px;}
#w_profile h2, #myprofile h2, #myprofile h2 a {color:#fff;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:url("../graphic/title-bg.png") repeat-x scroll 0 0 #1f1f1f;border-color:#545454;color:#494c51;}
.vwall a, #userview a {display:none;}
#userview {display:none;}
ul.pager li a:hover,ul.pager li a.on{background:#757881;}
ul.pager li a{background:#bfc1ce;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer {color:#fff;background:url(../graphic/footer.gif) no-repeat;height:73px;padding:0px;margin:0 0 10px 0;}
#footer p#logo_pow a{display:none;}
#footer p#global {position:absolute;top:20px;left:325px;}

#w_agenda h2.widget_title, w_tag_cloud h2.widget_title {background: url(../graphic/tit_tag_cloud.gif) no-repeat left;}
#w_our_services h2.widget_title {background: url(../graphic/tit_servizi.gif) no-repeat left;}
#w_profile h2 {background: url(../graphic/tit_login.gif) no-repeat left;}
#w_board h2.widget_title {background: url(../graphic/tit_board.gif) no-repeat left;}
