body {background-color: #f7f7f7;}
body.homepage{background-color:#fff;}

/* ---------------------------------------------------------------------
---------------------------------------------------------- slick-theme.css */
.slick-loading .slick-list{background-color:#fff;}

/* ---------------------------------------------------------------------
---------------------------------------------------------- comments.css */
#wrapComment iframe{ border-left-color: #4b93bc; border-right-color: #4b93bc; border-bottom-color: #4b93bc; }
#wrap_addcomments ul li a{border-color: #ddd;color:#555;}
#wrapComment h3.addComment{background-color:#f0f0f0; }
.commentSignature em{color:#aaa;}
.commentItem{border-bottom-color: #eee;}
.commentItem img{background-color: #fff;}
span.commentDate{color:#666;}
.comment-input-zone{border-left-color: #d1d1d1; border-bottom-color:#d1d1d1; border-right-color: #d1d1d1;}
.comment-input-zone .redactor-box{border-top-color: #eee;}
.comment-input-zone .redactor-editor{border-top-color:#eee;}

.sphereContent .footer .buttons_wrapper {background:none;}
.leave-comment{background:#fff; color:#bababa;}
.commentSignature a{color:#303030;}
.generic_button {background-color:#1A8EEA;text-shadow: 0 1px #2d629a;}
.generic_button_danger {background-color: #CD3B3B;text-shadow: 0 1px #9a2d2d;}
.content_addcomment a:hover{color:#fff;}
.generic_button, .generic_button_danger {color:#FFF;}


/* --------------------------------------------
----------------------------------------------- filelist_fancy.css */

.fl-file-item,
.fl-version-info {color:#666; border-color:#fff;}
.fl-file-item.altered-file-list {color:#666; border-color: #d1d1d1;}
.fl-file-item.open {border:1px dashed #d1d1d1;}
.fl-file-item.file_async_in_progress{background-color:#fefefe;background-size: contain;}
.fl-file-item.open:hover,
.fl-file-item.highlight-word.open:hover{background:none;}
.attach-url.fl-file-tool-owa.open-owa-no-links {color:#808080;}
.fl-version-info:hover{background:#f7f7f7}
.fl-version-info.version-head:hover{background:none;}

.fl-rev-number {background: #D1D1D1;color: #FFF;}
.fl-slide{border-top-color:#D1D1D1;}

.fl-version-action {border-top-color:#d1d1d1;}
.fl-revision-form{background: #FFF;}
.fl-version-info.version-head .fl-rev-tools{color: rgba(0,0,0,0);}


.open-owa-no-links{color: #ccc;}
.file-async-in-progress .fl-file-tools a.fl-file-tool-owa,
.async .folder-sharepoint-link {color: #ccc;}

.fl-file-item.file-async-in-progress{background:transparent;}
.fl-file-item.file-async-in-progress::before{background-color: #fefefe ;}

.fl-file-item.file-async-in-progress .fl-file-tools a.versioning {color: #ccc;}


/* --------------------------------------------
----------------------------------------------- chooser.css */

.jtt-chooser{background:#fff;border-color:#ccc;}
.attachment_selected,
.fulltext_selected,
.user_selected,
.tag_selected,
.jtt-sphere,
.sphere-selected,
.jtt-chooser .jtt-tag,
span.sphere,
.tag_token{background:#326ead;}
.sphere-selected,
.jtt-sphere{background: #418ee0;}
.jtt-auto-float .jtt-sphere,
.jtt-body .jtt-sphere,
.jtt-body .jtt-tag{background:none;}
.sphereContent .tag_token.active {background-color:#255180;}
.tag_token a,
.tag_token a:hover,
.tag_link_token{color:#FFF;}
.jtt-selected-item .jtt-user{background:#4b93bc;color:#fff;}
.jtt-selected-item .jtt-item-all{background :#6ab354;color:#fff;}
.qtip-wrapper span .jtt-add-message{color:#999;}
.sphereContent span .jtt-add-message{color:#999;}
.jtt-chooser-float{background:#fff;}
.jtt-error{color:#f00;}

.jtt-chooser-float,
.jtt-auto-float{border-color:#ccc; box-shadow:1px 1px 2px #ccc;}
.redactor-editor .mention-in-text {color:#608edd;}



/*------------------------------------ doublecolumn_autocomplete.css
--------------------------------------*/

.jtt-chooser-float .jtt-tag:hover,
.jtt-chooser-float .jtt-sphere:hover,
.jtt-item-all:hover,
.jtt-item:hover{background-color:#4697f0;color:#fff;}

.jtt-circle.selected,
.jtt-sphere.selected,
.jtt-tag.selected,
.jtt-item-all.selected,
.jtt-item.selected{background-color:#4697f0;color:#fff;}

.jtt-fulltext-t,
.jtt-circle-t,
.jtt-sphere-t,
.jtt-user-t,
.jtt-tag-t{color:#999;border-bottom-color: #ccc;}
.jtt-fulltext-t{color: #5f5f5f;}

.jtt-chooser .jtt-chooser-float .jtt-footer{border-top-color: #ccc;}
.fc-extend-addtag .jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag:hover{background:#4c4c4c;}



/*------------------------------------ autocomplete.css
--------------------------------------*/

.jtt-autocomplete .jtt-auto-float{background:#fff;}
.upload-box .categorization .jtt-autocomplete .jtt-auto-float > span {border-color:#d6d6d6; background-color:#fff;}
.jtt-autocomplete .jtt-auto-float .jtt-fulltext.selected{background:#ebebeb; color:#000;}
.jtt-autocomplete .jtt-auto-float .jtt-fulltext-context:hover{background:#4697f0;color:#fff;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag.selected{background:#4697f0;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-tag{background:none;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-event:before {color:#888;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-portal:before {color: #888;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-event {background-image:none;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-portal {background-image:none;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-technical {background-image:none;}
.jtt-autocomplete .jtt-auto-float .jtt-item.jtt-sphere.jtt-technical:before {color: #888;}
.jtt-checkbox .jtt-checker{border-color:#ccc; background:#fff;}
.jtt-checkbox .jtt-checker:hover{box-shadow:1px 1px 1px #ddd inset;}
.jtt-checkbox .jtt-checker:active{border-color:#4b93bc;}

/*------------------------------------ content.css
--------------------------------------*/

img.content_avatar, .user_to_comment img{background:none;box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);}
.content_other_info .content_visibility_info, .tagging{border-top-color:#ddd;}
.interno .tag-input.fake-field{background-color:#fff; }


.content-toolbar a, .user-toolbar a{background:transparent;}

.content-toolbar a:hover:not(.disable):before, .user-toolbar a:hover:not(.disable):before{color:#003e9c;}

.content-toolbar a:before, .user-toolbar a:before, .voteComment a:before, a.editcom:before, a.deletecom:before,  .vote_negative:before{color:#6C6C6C;}

.content-toolbar a.tool_favourite_del:before, .user-toolbar a.tool_favourite_del:before {
	color: #003e9c;
}
.content-toolbar a.tool_highlight_del:before{ color: #003e9c;}

.content-toolbar a.tool_rate.rated:before { color: #003e9c}

.user-toolbar a.hangoutsToolbarCallToAction:before {
	color: #00b04e;
}
.user-toolbar a.hangoutsToolbarCallToAction:hover:before {
	color: #05843d;
}

#wrapComment .edit .action_comm a.editcom:before {
	color: #032c6b;
}

#wrapComment .edit .action_comm a.editcom:hover {
	color: #032c6b;
}

.content-toolbar a.tool_rate.rated{color:#fff200;}


.qtip-wrapper .qtip-content > div{color:#606060;}
.qtip-wrapper h3{color:#303030;}

.qtip-wrapper textarea{ background-color: #fff;border-color:#ccc;}




.user_tooltip h4{color:#000;}
.user_tooltip h4 .nickname{color:#808080;}
.user_tooltip .more{color:#808080;}
.user_tooltip .company{color:#000;}
.user_tooltip .user-toolbar a, .user_tooltip .user-toolbar a{background:transparent;}


.step-two-success{color:#008000;}
.step-one-error{color:#f00;}
.step-two-error{color:#f00;}

.commentToolbar .user-toolbar .hangoutsToolbarCallToAction{color:#50a94f; }

.text #flag_new{background:#f0f0f0;}
.text #flag_new a{background-color:#fff ;color:#aaa;}
.text #flag_new a:hover{color:#777;background-color:#fff ;}
.text #flag_new a.tool_favourite_del,
.text #flag_new a.tool_remove_highlight,
.text #flag_new a:hover{color:#fff;border-color:#fff;}

 /*.toggle-right-label-hide,  .toggle-right-label-show{color: #303030;}*/
 .fc-expand{border-bottom-color: 2px solid #cec9cb;}
 .share-info-toggle,  .share-info-toggle:focus{color: #303030;}
 .toggle-comments{}
 .toggle-comments a { color:#666; border-bottom-color:#cec9cb;}
 .toggle-comments .comm_number { color:#303030; }
 .toggle-comments .toggle-right-label-show,
 .toggle-comments .toggle-right-label-hide { color:#303030; }


 .content-tags .tag_token {border: 1px solid #cec9cb;background-color: transparent;}
 .fc-extend-tags .tag_token_add {background-color: #003e9c;}
 .fc-extend-tags .jtt-autocomplete input{ background: rgba(255,255,255,.1); color:#fff;}
 .fc-extend-tags .fc-extend-addtag { background: #003e9c;}
 .content-tags .tag_token a{color:#003e9c;}
 .content-tags .tag_token:hover{background-color: #003e9c; border: 1px solid #003e9c;}
 .content-tags .tag_token:hover a{color: #fff;}


.fc-extend-section-label .folder-sharepoint-link, .fl-file-tool-download{color:#303030;}
.fl-file-tools a,.fl-file-item a, .attach-url.fl-file-tool-owa.open-owa-no-links{color:#707070;}
.fl-file-item,.fl-file-item:hover, .fl-file-item.open{border-bottom-color:#cec9cb;}

.fc-extend-section [class^="fc-extend-reshare-"] {  color: #848484;}
.fc-extend-section [class^="fc-extend-reshare-"] a,
.scheda .fc-extend-section .fc-extend-reshare-portal::before,
.scheda .fc-extend-section .fc-extend-reshare-sphere::before,
.scheda .fc-extend-section  .fc-extend-reshare-event::before,
.scheda .fc-extend-section .fc-extend-reshare-user::before,
.scheda .fc-extend-section [class^="fc-extend-sharegroups"] a,
.scheda .fc-extend-section .fc-extend-shareusers a,
.scheda .fc-extend-section .fc-extend-sharegroups.portal:before,
.scheda .fc-extend-section .fc-extend-sharegroups:before,
.scheda .fc-extend-section .fc-extend-sharegroups.event:before,
.scheda .fc-extend-section .fc-extend-shareusers.share:before {color: #303030;}
.scheda .fc-extend-section .fc-extend-reshare-sphere::before,
.scheda .fc-extend-section .fc-extend-sharegroups:before,
.scheda .fc-extend-section .fc-extend-reshare-portal::before,
.scheda .fc-extend-section .fc-extend-sharegroups.portal:before,
.scheda .fc-extend-section .fc-extend-reshare-sphere::before,
.scheda .fc-extend-section .fc-extend-sharegroups:before,
.scheda .fc-extend-section .fc-extend-reshare-event::before,
.scheda .fc-extend-section .fc-extend-sharegroups.event:before,
.scheda .fc-extend-section .fc-extend-reshare-user::before,
.scheda .fc-extend-section .fc-extend-shareusers.share:before{color:#646262;}
/*.scheda .content a:hover,
.scheda .content .content-footer .toggle-right-label-hide:hover {color: #003e9c;}*/
.scheda .fc-extend-body-label .toggle-right-label-show,
.scheda .fc-extend-body-label .toggle-right-label-hide {color: #303030;}
.scheda .fc-extend-body-label .toggle-right-label-show:hover,
.scheda .fc-extend-body-label .toggle-right-label-hide:hover {color: #003e9c;}
.scheda .fc-extend-body-label .toggle-right-label-show:focus,
.scheda .fc-extend-body-label .toggle-right-label-hide:focus {color: #303030;}
.scheda .compact_wrapper .user:hover,
.scheda .content .content-body a h2:hover,
.scheda .content .content_other_info .contentFiles a:hover,
.scheda .content .content-footer .share-info-toggle:hover,
.fc-extend-section-label .folder-sharepoint-link:hover,
.scheda .fc-extend-section [class^="fc-extend-reshare-"] a:hover,
.fc-extend-section [class^="fc-extend-sharegroups"] a:hover,
.scheda .fc-extend-section .fc-extend-shareusers a:hover,
.scheda .content .fc-extend-section .toggle-comments a:hover,
.toggle-comments a:hover,
.toggle-comments a:hover .toggle-right-label-hide,
.toggle-comments a:hover .toggle-right-label-show,
a.share-info-toggle:hover,
.toggle-comments a:hover .comm_number  { color: #003e9c;}
.scheda .content-title-container { color: #003e9c;}
.redactor-toolbar li a:hover { background-color: #1f78d8; color: #fff;}
.scheda .content .content-footer .share-info-toggle:visited,
.fc-extend-section-label .folder-sharepoint-link:visited {color: #303030;text-decoration: none;}
.scheda .content .content-body a h2, .scheda .content .content-body a h2:hover {color: #303030}
.content-description a{ color: #003e9c}
.content-description a:hover { color: #032c6b;}
/*.cover_library .flexslider .slides img {max-height: 100%;width: auto;max-width: 100%;}*/
.cover_library .scheda.coverLibrary:hover .content-toolbar a:before{color:#fff;}

.site-info a { color: #003e9c}
.site-info a:hover{ color: #032c6b;}
/*------------------------------ linkContent----------------------------------*/
.scheda .content .linkContent .content-body a h2, .linkContent .content-body .a h2:hover{color: #303030;}

/*------------------------------------ elements.css
--------------------------------------*/
.thumb-interface{border-left-color:#d1d1d1; border-bottom-color:#d1d1d1; background:#fff;}
.thumb-interface-compact{border-left-color:#ddd;}
.revisioned-file,
.interface-open{background:#fff;}
.interface-open.active,
.versionChooserOpen{background-color:#fff;}
#personalSphereList ul li a{color:#666;background:#fff;}
#personalSphereList ul li a:hover{background:#09f; color:#fff;}
#personalSphereList li.selectedSphere  a{background:#666; color:#fff;}
#breadcrumbs{border-bottom-color:#e2e2e2;}
#breadcrumbs a{border-right-color:#ccc;}
#requestSubscription_requestMessage{border-color:#d1d1d1; color:#666;}
.request-already-sent{background:#fff;border-color:#d1d1d1;}
.payroll_notification_updates_new {background-color:#df2500; color:#fff;}
ul.pager li a:hover, ul.pager li a.on{background:#09f;}
.element.style{color:#4697f0;}
a:hover,
a h2:hover,
a h3:hover{color:#003e9c;}
#rss-widget h3 a{color:#4b93bc;}
#beadcrumbs{border-bottom-color:#e2e2e2;}
#beadcrumbs a{border-right-color:#ccc;}
#inner_header #configureRules{background:transparent;}
#widget_viewall a,
#profileTools a{color:#4697f0;}
#sphereControls a{color:#4697f0;}
#breadcrumbs{border-bottom-color:#ccc;}
.vwall a,
#userview a{color:#4697f0;}
.vwall a:hover,
#userview a:hover{color:#4697f0;}
.search-results .user_list_item img{background-color:transparent;}
.content_list_content_title{color:#4697f0;}
.content_commentnumbers{border-bottom-color:#ddd;}
.newcomments{background:none;color:#fff;}
.scheda .content_extra a.replies{background:none;color:#4697f0;}
.unread_comments_count_container{background-color:transparent;}
.content_user_single{background-color:#19a95d;}
.sphereContent a.generic_button.button_enabled.saver,
.sphereContent .edit-form-header a.generic_button.button_enabled,
.sphereContent #upload-alternative .submit a.generic_button.button_enabled{background:#3f8ad9 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmOGFkOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNzc5YmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background:-moz-linear-gradient(top,  #3f8ad9 0%, #3779be 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f8ad9), color-stop(100%,#3779be)); background: -webkit-linear-gradient(top,  #3f8ad9 0%,#3779be 100%);background: -o-linear-gradient(top,  #3f8ad9 0%,#3779be 100%); background: -ms-linear-gradient(top,  #3f8ad9 0%,#3779be 100%); background:linear-gradient(to bottom,  #3f8ad9 0%,#3779be 100%); filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f8ad9', endColorstr='#3779be',GradientType=0 );}
.sphereDescription{color:#333;}
.infopost{color:#666;}
.infopost a{color:#4697f0}
.profile-stats .p03 .profile-stats-favs,
.profile-stats .p03{background:none;}
.jtt-chooser .jtt-selected-item .jtt-user,
.people_list .jtt-user{background:#19a95d;}
#wrapcontent #main div.wraptitle a.button_ico {background-color:#4a9bf2;border-color:#3d85cf;color:#fff;}
#wrapcontent #main div.wraptitle h1 {color: #4c4c4c;}
.widget-sphereconversations #historywidg blockquote{background-color:transparent; color:inherit;}
#conversations_container{box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);}
#all_spheres_container{box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);}
ul#group-key-tags li{border-bottom-color:#d1d1d1;}
.group-creation-date,
.group-tags,
.group-administrators,
.group-administrators,
.group-jobsuborders{border-bottom-color:#d1d1d1;color:#666;}
#user-infoBasic {border-top-color:#d1d1d1; border-bottom-color:#d1d1d1;color:#343434;}
.singlePendingTag{border-bottom-color:#d1d1d1;}
.user-info.basic-link{border-top-color:#d1d1d1;}
.basic-link.current{background-color:#f2f2f2;}
#widget-with-border .widget_padding{border-color:#d1d1d1; background:#fff;}
.no_content_message{color: #999;border-color:#cec9cb;}
.search-tag-result{border-color:#dadada;}
.search-tag-result:hover{background: #eee;}
.tag_token .highlight-word {color:#fff;}
.fl-file-item.highlight-word {background:rgba(255, 193, 66, .40);}
span.highlight-word::before {background:rgb(255, 204, 0);}
.fl-file-item .altered-file-alert {background:#f7f7f7;}
.fl-file-item .altered-file-alert:before {color:#ffa500;}
.altered-file .preview > div::before {color:#fff; background:#ffa500;}
.altered-file .name div {color: rgb(197, 146, 62);}


/*------------------------------------ homePageProjectCover.css
--------------------------------------*/
body.prCover,
.prCover #mainwrap {background: #ececec;}
.prCover .flex-direction-nav .flex-next:before {color: #003e9c;}
.prCover .flex-direction-nav .flex-prev:before {color: #003e9c;}
.prCover .flex-direction-nav .flex-next:hover:before {color: #032c6b;}
.prCover .flex-direction-nav .flex-prev:hover::before {color: #032c6b;}
.prCover .flex-direction-nav .flex-prev::before, .prCover .flex-direction-nav .flex-next:before {background: none;}
.prCover .flex-direction-nav .flex-next:before
.prCover .flex-direction-nav a.flex-disabled {color: #003e9c;}
.prCover .flexslider {border-color:#cec9cb !important;}
.prCover {background: #f7f7f7; }
.prCover .pcHeader__title {color: #000;}
.prCover .pcHeader__services {background: #fff;}
.prCover .pcDropDown__btn {color:#5e5e5e; background:#fff; border-left-color:#e5e5e5;}
.prCover .pcDropDown__content {background: #fff;}
.prCover .pcDropDown__content li {border-top-color:#d1d1d1;}
.prCover .pcDropDown__content li .pcDropDown__title {color: #000;}
.prCover .pcDropDown__content li .pcDropDown__subtitle {color: #4296f6;}
#createProjectCoverButton{background: #4296f6;}
.prCover .generic_button.cover {background: #4296f6;color: #fff;}
.prCover .widget_title.pcDropDown__btn.pcDropDown__btn--cover.j-pcddBtn{color: #4296f6;}
.open .pcDropDown__content {border-color:#e5e5e5;}
.prCover .pcFilters__field input:checked + .pcFilters__label:after {background-color:#fff;}
.prCover .pcFilters__label {color: #fff;}
.prCover .pcFilters__label::after {background-color:#fff;}
.prCover .pcFilters__subtitle {color: #000;}
.prCover .pcFilters {background-color: #f6f6f6;}
.prCover .pcFilters:before, .prCover .filters-tool::before{background-color:#000;}
.prCover .pcFilters__title {background-color: transparent;color: #418ee0;}
.prCover .pcFilters__title--alt {color: #606060;}
.prCover .pcFilters__filter input {color: #898989;}
.prCover .pcFilters__filter input::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: rgb(173, 173, 173);}
.prCover .pcFilters__filter input::-moz-placeholder { /* Firefox 19+ */color: rgb(173, 173, 173);}
.prCover .pcFilters__filter input:-ms-input-placeholder { /* IE 10+ */color: rgb(173, 173, 173);}
.prCover .pcFilters__filter input:-moz-placeholder { /* Firefox 18- */color: rgb(173, 173, 173);}
.prCover .placeholder {color: rgb(173, 173, 173);}
.choice__more{color: #418ee0;}
.prCover .ms-drop.closeApply::after {color:#418ee0;}
.prCover .ms-drop li {color: #5e5f5f;background-color: #fff;}
.prCover .ms-drop li:hover{background-color: #418ee0;color:#fff;}
.prCover .ms-drop li.ms-select-all:hover,
.prCover .ms-drop li.ms-deselect-all:hover{background-color:#fff;color:#fff;}
.prCover .ms-drop li span {color: #4c4c4c;border-top-color:#e6e6e6;}
.prCover .ms-drop li:nth-child(2) span{border-top:none;}
.prCover .ms-drop li span::after {color: #606060;}
.prCover .ms-drop li.selected{background: #fafafa;}
.prCover .ms-drop li:hover > label > span,
.prCover .ms-drop li:hover > label > span::after {color: #fff;}
.prCover .ms-drop li.selected > label > span,
.prCover .ms-drop li.selected > label > span::after {color: #adadad;}
.prCover .ms-drop li.selected.ms-select-all{background: #fff;border-right-color:#dadada;}
.prCover .ms-select-all {border-color:#dadada;}
.prCover .ms-deselect-all {background-color:transparent !important;}
.prCover .ms-select-all label,
.prCover .ms-deselect-all label {color: #418ee0;}
.prCover .multipleSelect {border-color:#dadada;}
.prCover .ms-choice span{color:#606060;}
.prCover .ms-drop li.ms-select-all:hover,
.prCover .ms-drop li.ms-deselect-all:hover{background-color: #fff;color:#fff;}
.prCover .filtersApllied{border-color:#dadada;background: #fff;}
.prCover .filtersApllied::after{background:#dadada;}
.prCover .ms-search {border-color:#e6e6e6;background-color: #fff;}
.selectedFilters.open{border-color:#dadada;}
.prCover .ms-choice{background-color: #fff;}
.prCover .ms-choice.opened{background-color:#fff;border-bottom-color:#aeaeae;}
.prCover .ms-choice::after {background: #e6e6e6;}
.prCover .pcFilters__recap {border-top-color:#eeeeee;border-bottom-color:#eeeeee;}
.prCover .appliedFilerts__filter {background-color:#418ee0; color: #fff;}
.prCover .pcFilters__clearAll {color: #418ee0;}
.prCover .filterOrderBy__selected {color: #353535;}
.prCover .filterOrderBy__intro {color: #353535;}
.prCover .drop-down-box > div::after {background: #e6e6e6;}
.prCover .drop-down-box li {border-top-color:#d1d1d1;}
.prCover .cover_library .scheda.coverLibrary .coverimage:after {background: #000;}
.prCover .cover_library .scheda.coverLibrary .content-toolbar a {color: #656565;}
.prCover .cover_library .scheda.coverLibrary .content-toolbar a:hover {color: #333333;}
.prCover .cover_library .scheda.coverLibrary:hover .content-toolbar a:before{color:#303030;}
.prCover .cover_library .scheda.coverLibrary .front {border-color:#cec9cb;}
.prCover .cover_library .scheda.coverLibrary h2.fancy-title a {color: #333;}
.prCover .cover_library .scheda__upperInfo h4 {color: #606060;}
.prCover .cover_library .scheda__upperInfo #usage .Public {color: #32b902;}
.prCover .cover_library .scheda__upperInfo #usage .Limited {color: #eaa206;}
.prCover .cover_library .scheda__info {background-color: #fff; }
.prCover .cover_library .scheda__infoAux {border-color:#cec9cb;}
.prCover .cover_library .scheda__infoBrand {border-color:#d1d1d1;}
.prCover .cover_library .schedaInfo__cliente {color: #003e9c;}
.prCover .cover_library .schedaInfo__views .i-view {color: #676f73;}
.prCover .cover_library .schedaInfo__number {color: #676f73;}
.prCover .pcModal .chosen-container-single .chosen-default,
.prCover .pcModal .chosen-container-single .chosen-single {background: #fff;border-color:#e6e6e6;color: #606060;}
.prCover .pcModal .chosen-container-single .chosen-default::after,
.prCover .pcModal .chosen-container-single .chosen-single::after {color: #606060;}
.prCover .pcModal .chosen-container-single .chosen-default::before,
.prCover .pcModal .chosen-container-single .chosen-single::before {background: #e6e6e6;}
.prCover .pcModal .chosen-container-single .chosen-single {color: #333;}
.prCover .pcModal .chosen-drop {background: #fff; border-color:#e6e6e6;}
.prCover .pcModal .chosen-container .chosen-drop .chosen-results > li {border-bottom-color:#e6e6e6;}
.prCover .pcModal .chosen-container .chosen-drop .chosen-results > li.highlighted {background: #f8f8f8;color: #333;}
.prCover .pcModal__title {color: #000;}
.prCover .pcModal__btn {color: #000;}
.prCover .pcModal__btn::after {background-color: #dadada;}

@media only screen and (min-width : 0px) and (max-width : 767px) {
	.prCover .cover_library .scheda.coverLibrary .coverimage:after {background: none;}
}



/*------------------------------------ coverlibrary.css
--------------------------------------*/
.scheda.coverLibrary .front,
.scheda.coverMagazine .front,
.scheda.coverMagazine .back{border-color:#d1d1d1;}
.scheda.coverMagazine .front,
.scheda.coverLibrary .front{background-color:#fff;}
.scheda.coverMagazine .back{background:#c4c4c4;}
.scheda.coverMagazine .front::before{background: -moz-linear-gradient(top,  rgba(255,255,255,.65) 0%, rgba(255,255,255,.8) 100%);background: -webkit-linear-gradient(top,  rgba(255,255,255,.65) 0%,rgba(255,255,255,.8) 100%);background: linear-gradient(to bottom,  rgba(255,255,255,.65) 0%,rgba(255,255,255,.8) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#a8ffffff',GradientType=0 );}
.scheda.coverMagazine.hackathon .front::before {background: -moz-linear-gradient(top,  rgba(97, 189, 79, .85) 0%, rgba(97, 189, 79, .95) 100%);background: -webkit-linear-gradient(top, rgba(97, 189, 79, .85) 0%, rgba(97, 189, 79, .95) 100%);background: linear-gradient(to bottom,  rgba(97, 189, 79,.85) 0%,rgba(97, 189, 79,.95) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a861bd4f', endColorstr='#a961bd4f',GradientType=0 );}
.scheda.coverMagazine .flip{background-color:transparent;}
.scheda.coverMagazine.flipped .flip{background-color:transparent;}
.scheda.coverMagazine .flip::before{color: #fff;text-shadow: 1px 1px 1px #000;}
.scheda.coverMagazine.flipped .flip::before{color:#469bf0;}
.scheda.coverMagazine.flipped .flip:hover::before{color:#9dd8f1;}
.scheda.coverMagazine .flip:hover::before{color:#9dd8f1;}
.scheda.coverMagazine .front h2.fancy-title{color: #fff;}
.scheda.coverMagazine .front h2.fancy-title a{color:#fff; text-shadow: 1px 1px 3px #000;}
.scheda.coverMagazine .front h2.fancy-title > .companyLogo .number{background:#418ee0;}
.scheda.coverMagazine .callToAction,
.scheda.coverCompact .callToAction{border-color:#418ef0;}
.scheda.coverCompact:hover{ border-color:#d1d1d1;}
.scheda.coverCompact .coverimage {border-color:#ccc;}
.scheda.coverCompact .coverMetaData{background:#e7e7e7;}
.scheda.coverCompact.hackathon .coverMetaData {background-color:#262626;}
.scheda.coverCompact .tagsContainer .label{color:#838383;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken{background:#326ead;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken.disabled{background:#d1d1d1;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken a{color:#fff;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken.disabled a{color:#838383;}



/* ---------------------------------------------------------------------
---------------------------------------------------------- flexslider.css */
.flexslider{background:#fff;}
.flex-caption{-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);background:rgba(0,0,0,.3);color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,.3);}
.flexslider .contents_wrapper div{background:#f0f0f0;}

/* --------------------------------------------
----------------------------------------------- alerts_errors.css */

#inap .alert_message{border-color:#eed3d7; color:#b94a48; background-color:#f2dede;}
#inap .buttons_wrapper{background:#f1f1f1;}
#inap h1{color:#a73838;}
.inap{background-color:#f4dcdc;}
#wrapComment ul li.inap .commentSignature a{color:#a73838;}
#wrapComment ul li.inap .commentValue{color:#d17272;}
#wrapComment ul li.inap .timestamp{color:#d73838;}
#wrapComment ul li.inap .buttons_wrapper{border-color:#d17272; background:#f0f0f0;}
.errorField span{color:#d93131;}
.errorMessage{background:none repeat scroll 0 0 #f00; box-shadow:0 1px 3px rgba(0, 0, 0, 0.4); color:#fff;}
.ideaWrapper .errorMessage + label + input.input-box {border-color:#f00 !important;}
div.message-area{background:#fcf8e3; color:#c09853; box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);}
div.alert_padding{padding:10px; border-color:#ecbb68;}
/*div.alert a{color:#ae8414;}*/
#message-area{background:#fcf8e3;color:#c09853;box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);}
#message-area .errorbox {padding:10px;border-color:#ecbb68;}
#message-area .errorbox a{color:#ae8414;}
.jtt-error,
.field.error{border-color:#f00;}

/* --------------------------------------------
----------------------------------------------- buttons.css */
.buttons_wrapper{border-color:#ededed;}
.generic_button{background:#003e9c; color:#fff;}
.fl-file-item a.generic_button{color:#fff;}
.generic_button_danger,
.fl-file-item a.generic_button_danger{color:#fff;}
.generic_button_danger{background:#dc0000;}
.sphereContent .generic_button_danger{color:#fff; background-color: #808080;background: -moz-linear-gradient(top,  #808080 0%, #333333 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#808080), color-stop(100%,#333333));background: -webkit-linear-gradient(top,  #808080 0%,#333333 100%);background: -o-linear-gradient(top,  #808080 0%,#333333 100%);background: -ms-linear-gradient(top,  #808080 0%,#333333 100%);background: linear-gradient(to bottom,  #808080 0%,#333333 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#808080', endColorstr='#333333',GradientType=0);}
.generic_button_left{border-color:#ddd; color:#777;}
.generic_button_inline{border-color:#ddd; color:#777;}
.generic_button.disabled{background:#eee; border-color:#eee; color:#ccc;}
.generic_button_danger:hover{color:#fff;}
.generic_button:hover {background:#032c6b; color:#fff;}
.generic_button_danger:hover{background: #a40000;}
.notifications .generic_button a{color: #fff;}
a.content-delete {color: #4697f0;background: transparent;}
a.content-delete:hover{background:rgba(0,0,0,.05);}
a.content-delete span{text-shadow:0 1px 0 rgba(0,0,0,.2);}

a.button_join{border-color:#a9cb7d; color:#488b00;}
a.button_join:hover{border-color:#a9cb7d; color:#488b00;}
.massiveReshare-footerContainer.buttons_wrapper a.generic_button.greener.disabled{color:#ccc;}
a.button_disabled span{color:#ccc;}
#link_notifications a{color:#fa6f00;}
.button_ico{border-color:#ddd;color:#777;}
.action_comm a:hover{color:#fff;}
a.deletecom:hover:before{color:#e54646;}
a.editcom:hover:before{color: #003e9c;}
.action_comm a.add_negative_vote:hover:before{color:#e54646;}

.action_comm a.add_positive_vote:hover:before{color:#00b04e;}
.action_comm a.delete_vote.delete_positive_vote:hover:before, .action_comm a.delete_vote.delete_positive_vote:before{color:#00b04e;}
.action_comm .delete_negative_vote:before{color:#e54646;}
.action_comm .vote_positive:before { color: #00b04e;}


.action_comm p.flagComment a{color:#03acff;}
.action_comm p.editComment:hover:before{color:#e54646;}
.action_comm span.vote_negative:before{color: #e54646;;}
.action_comm a.delete_negative_vote:before { color: #e54646}

a.moderate-add{background-color:#aaa;}

a.contactBtn,  a.contactBtn:visited{background-color: #003e9c;color: #fff;}
a.contactBtn:hover {color: #fff; background: #032c6b;}
.contactBtn:visited {color: #fff;}
.contactBtn--text h2:hover { text-decoration: none; color: white; }

.blue_button {  background-color:#003e9c;}
.blue_button a {  color: #fff;  }
.blue_button a:hover,
.flat_blue_button a:hover {  color: #fff;  }
.blue_button span {  color: #fff;  }
.blue_button:hover{  background: #032c6b; }

.flat_blue_button {  background-color: #003e9c;  }
.flat_blue_button a {  color: #fff;  }
.flat_blue_button span {  color: #fff !important;  }

@media only screen and (min-width : 0px) and (max-width : 767px) {
	.blue_button .mobile_title {  color: #fff;  }
	}



/* --------------------------------------------
----------------------------------------------- ratingstars.css */
/*NO COLOURS FOUND*/

/* --------------------------------------------
----------------------------------------------- hangout.css */

.hangout_add_remove_link {background-color: rgba(255, 255, 255, 1);}
.addedToHangouts .hangout_add_remove_link {background-color:#65b045;}
.list_hangout_container div {background:#f5f5f5;}
.hang_footer {background: #f7f7f7;}
.user_autocompleter_field {border-color:#dedede;backogrund:#fff;}
.google_hangouts_button_comments {border-bottom-color: #ccc;}




/* --------------------------------------------
----------------------------------------------- modals.css */

.jtt-modal-container{ background:rgba(0,0,0,0.9);}
.jtt-modal-closer{background-color:rgba(255,255,255,0.3)!important;}
.jtt-modal-closer:hover{background-color:#fff!important;}
.jtt-jsloading-cursor{background:#4697f0; }


/* --------------------------------------------
----------------------------------------------- animationloader.css */

.projectCover .jtt-plug-loading:before{ color:#333; }
.jtt-loading-opacity{background:#fff;}


/* --------------------------------------------
----------------------------------------------- iconsfont.css */
/*NO COLOURS FOUND*/


/* --------------------------------------------
----------------------------------------------- style.css */
/*NO COLOURS FOUND*/



/* --------------------------------------------
----------------------------------------------- layout.css */

.portal .lightgray{background-color:#f6f7f8;}
.portal .poolgreen{background-color:#32c5cc;}

#message-area{background:#fdfdfd; color:#404040;}

/* Overwrite Derrida Settings: */
/* Removing white bg from all the widgets */
.widget_padding{background-color: transparent;}


/* --------------------------------------------
----------------------------------------------- navbar.css */
#tt-navbar {background:#fff; border-color:transparent; transition:border .5s ease;}
#tt-navbar.scrolled {border-color:#0aaed3;}
.mainMenu .navbar-left .navbar-nav > li:not(.open) > a:after{background:#000;}
.navbar-default .navbar-toggle:focus{background:transparent;}
#Profile_Menu .dropdown-toggle, #Search_Menu .dropdown-toggle, #Work_Menu .dropdown-toggle {border-color: #fff;}


.mainMenu .navbar-toggle.menu.work::before{ color:#000;}
.mainMenu .navbar-default .navbar-brand {color: #000;}
.mainMenu .navbar-default .navbar-nav > li > a{color:#000; }
.mainMenu .navbar-default .navbar-nav > li > a:hover{color:#003e9c}
.mainMenu .navbar-default .navbar-nav > li > a.selected{color:#000;}
#header_dropdown {background:#fff;}
.mainMenu  .navbar-nav > .active > a,
.mainMenu  .navbar-nav > .active > a:focus,
.mainMenu  .navbar-nav > .active > a:hover{background:transparent;}

.mainMenu .navbar-left .navbar-nav>.open>a,
.mainMenu .navbar-left .navbar-nav>.open>a:focus,
.mainMenu .navbar-left .navbar-nav>.open>a:hover{background:#003e9c; color:#FFF; border:none;}
.mainMenu .navbar-left  .dropdown-menu{background:#003e9c; color:#FFF;}
.mainMenu .navbar-left .dropdown-menu{background:#003e9c;}
.mainMenu .navbar-left  .dropdown-menu>li>a,
.mainMenu .navbar-left  .dropdown-menu>li>a:hover,
.mainMenu .navbar-left  .dropdown-menu>li>a:visited,
.mainMenu .navbar-left  .dropdown-menu>li>a:focus,
.mainMenu .navbar-left .open .dropdown-menu>li>a,
.mainMenu .navbar-left .open .dropdown-menu>li>a:hover,
.mainMenu .navbar-left .open .dropdown-menu>li>a:visited,
.mainMenu .navbar-left .open .dropdown-menu>li>a:focus{color:#FFF;}
.mainMenu .navbar-left .navbar-nav .dropdown-menu li{border-color:#295dac;}
.mainMenu .navbar-left .navbar-nav .open .dropdown-menu li{border-color:#295dac;}
.mainMenu .navbar-left .navbar-nav .dropdown-menu > li > a:focus,
.mainMenu .navbar-left .navbar-nav .dropdown-menu > li > a:hover {background:#032c6b;}
.mainMenu .navbar-left .navbar-nav .dropdown-submenu:hover,
.mainMenu .navbar-left .navbar-nav .dropdown-submenu .dropdown-menu li  {background:#032c6b;}
.mainMenu .navbar-left .navbar-nav .dropdown-submenu .dropdown-menu{background:#032c6b;}
.mainMenu .navbar-left .navbar-nav .dropdown-submenu .dropdown-menu > li > a:hover {background:#032c6b !important;}

.mainMenu .navbar-right .navbar-nav>.open>a,
.mainMenu .navbar-right .navbar-nav>.open>a:focus,
.mainMenu .navbar-right .navbar-nav>.open>a:hover,
.mainMenu .navbar-right .dropdown-menu{background:#e7e7e7;}
.mainMenu .navbar-right .open .dropdown-menu{background:#e7e7e7;}

.mainMenu .navbar-right .navbar-nav .dropdown-menu li{border-color:#FFF;}
.mainMenu .navbar-right .navbar-nav .dropdown-menu > li > a:focus,
.mainMenu .navbar-right .navbar-nav .dropdown-menu > li > a:hover,
.mainMenu .navbar-right .navbar-nav .dropdown-submenu:hover,
.mainMenu .navbar-right .navbar-nav .dropdown-submenu .dropdown-menu li,
.mainMenu .navbar-right .navbar-nav .dropdown-submenu .dropdown-menu{background:#d9d9d9;}
.mainMenu .navbar-right .open .dropdown-menu:before,
.mainMenu .navbar-right .open .dropdown-menu:after{background:#e7e7e7;}
.mainMenu .navbar-right .navbar-nav .dropdown-submenu .dropdown-menu > li > a:hover {background:#d9d9d9 !important;}
.mainMenu .navbar-right .navbar-nav .dropdown-submenu .dropdown-menu{background:#d9d9d9;}

.mainMenu  .navbar-nav .caret{border-color: #000; }
.mainMenu  .navbar-left .navbar-nav .open .caret, .mainMenu  .navbar-left .navbar-nav .dropdown-submenu .caret{border-color:#fff;}
.mainMenu .navbar-nav .dropdown-submenu .dropdown-menu > li a:hover{background: rgba(0,0,0,0.2);}
.mainMenu .avatar img{border-color:#9f9f9f;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background:transparent;}
.navbar-right .navbar-nav .dropdown .dropdown-menu > li > a { color: #303030 !important}
.navbar-right .navbar-nav .open .dropdown-menu>li>span {color: #303030 !important}

/* ### media query without bootstrap customized ### @media (max-width: 767px){*/
@media (max-width:1024px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {color: #fff;}
	.mainMenu .navbar-default .navbar-nav > li > a:hover{color:#303030;}
	.mainMenu .navbar-right .navbar-nav .dropdown-menu > li > a:hover{color:#777;}
}

@media (max-width: 1200px) {
    .nav > li{border-bottom-color:#E9E9E9;}
    .menuOverlay{background:rgba(255,255,255,.5);}
}

/*@media (max-width: 768px) {
	.navbar-right .navbar-nav .open .dropdown-menu>li>span{color: #777;}
}*/

/* --------------------------------------------
----------------------------------------------- tabber.css */
/*.page_title,
.page_title:after,
.page_title:before { background: rgb(25,123,189);
	background: -moz-linear-gradient(top,  rgba(25,123,189,1) 0%,  rgba(61,197,202,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(25,123,189,1) 0%, rgba(61,197,202,1) 100%);
	background: linear-gradient(to bottom,  rgba(25,123,189,1) 0%, rgba(61,197,202,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e9c',  endColorstr='#003e9c',GradientType=0 );}*/
.page_title h1{color:#fff;}
.page_title{border-bottom-color:#f7f7f7;}
.page_tabber{color: #fff;}
.page_tabber .nav-pills *,
.page_tabber .nav-pills *:hover,
.page_tabber .nav-pills *:focus{background-color:transparent;}
.page_tabber .nav-pills>li>a:after{background-color:#fff;}
.page_tabber .nav-pills>li>a:before,
.page_tabber .nav-pills>li>a:focus:before,
.page_tabber .nav-pills>li>a:hover:before{border-top-color: rgba(61,197,202,1);}
.page_tabber .nav-pills>li.active>a,
.page_tabber .nav-pills>li.active>a:focus,
.page_tabber .nav-pills>li.active>a:hover{background-color:transparent;}
.page_tabber .nav-pills:after {background-color: #f7f7f7;}
.page_tabber .nav-pills>li>a:hover{color:rgba(255,255,255,.75);}
.page_tabber {color: #fff;}
.page_tabber .widget_padding{background-color:#003e9c;}
.page_tabber.page_tabber_fixed .widget_padding{background-color:#003e9c;}


/* --------------------------------------------
----------------------------------------------- widgets_base.css */
.redTitle .widget_title{ color: #e54646; }
.blackTitle .widget_title{	color: #303030;}


/* --------------------------------------------
----------------------------------------------- carousels.css */
.carousel,
.community__carousel {background: #f7f7f7;}
.content_carousel::after {	background: rgba(255,255,255,0.25);	background: -moz-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%));	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0.1)), color-stop(50%, rgba(245,245,245,0.3)), color-stop(100%, rgba(247,247,247,1))); background: -webkit-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%); background: -o-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%); background: -ms-linear-gradient(left, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%); background: linear-gradient(to right, rgba(255,255,255,0.1) 0%, rgba(245,245,245,0.3) 50%, rgba(247,247,247,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=1 );}
#best_practices_carousel .slick-dots li button:before{color: #fff;}
.carousel .slick-dots li button:before{color:#337ab7;}
.content_carousel .a_content .title {color:#003e9c;}
.content_carousel .a_content {border:2px solid #cec9cb; background:#fff;}
.content_carousel .a_content .description,
.content_carousel .a_content .description:hover,
.content_carousel .a_content .description:visited {color: #6e6e6e;}

.content_carousel .a_content .counts_list,
.content_carousel .a_content .counts_list:hover,
.content_carousel .a_content .counts_list:visited  {color: #202020;}
.content_carousel .a_content .author_detail,
.content_carousel .a_content .author_detail:hover,
.content_carousel .a_content .author_detail:visited  {color: #848484;}
.content_carousel .a_content .author,
.content_carousel .a_content .author:hover,
.content_carousel .a_content .author:visited {color: #303030;}
.show-on-compact .snippet-title { color: #303030;}
.show-on-compact .snippet-title:hover { color: #003e9c;}

.content_carousel .slick-arrow:hover {color: #32c2cb;}
.content_carousel .slick-arrow.slick-disabled {	opacity: 0.25;}
.content_carousel .slick-arrow.slick-disabled:hover  {color: #003e9c; cursor: default;}


.carousel  { background: #f7f7f7;}
.content_carousel .slick-arrow {color: #003e9c;}
.content_carousel .a_content .title {color: #003e9c;}
.content_carousel .a_content {border-color: #cec9cb; background: #fff;}
.content_carousel .a_content .description,
.content_carousel .a_content .description:hover,
.content_carousel .a_content .description:visited{color: #6e6e6e;}
.content_carousel .a_content .counts_list,
.content_carousel .a_content .counts_list:hover,
.content_carousel .a_content .counts_list:visited  {color: #202020;}
.content_carousel .a_content .author_detail,
.content_carousel .a_content .author_detail:hover,
.content_carousel .a_content .author_detail:visited {color: #848484;}
.content_carousel .a_content .author,
.content_carousel .a_content .author:hover,
.content_carousel .a_content .author:visited  {color: #303030;}
/*.content_carousel .slick-arrow:hover {color: #32c2cb;}*/
.content_carousel .slick-arrow.slick-disabled:hover  {color: #003e9c;}
.carousel02_widget .widget_title,
.carousel02_widget .description{color: #fff;}
#best_practices_carousel .a_best_practice{background-color: #fff;}

#best_practices_carousel::after{
	 background: -moz-linear-gradient(left, rgba(125,185,232,0) 0%, rgba(62,196,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(125,185,232,0) 0%,rgba(62,196,203,1) 100%); /* 		 Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(125,185,232,0) 0%,rgba(62,196,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#3ec4cb',GradientType=1 ); /* IE6-9 */
}



#best_practices_carousel span{color: #303030;}
#best_practices_carousel a{color: #fff;}
#best_practices_carousel .slick-arrow {color:#fff;}
#best_practices_carousel .slick-dots li button:before{color:#fff;}
.carousel .slick-dots li button:before{color: #337ab7;}

/* --------------------------------------------
----------------------------------------------- methodologies.css */
.methodologies_widget .text{color: #303030;}
.methodologies_widget .section_container .first_part_container{border-color: #cec9cb;}
.methodologies_widget .section .subtitle{color: #303030;}
.methodologies_widget .section .title:hover{color: #032c6b;}
.methodologies_widget .section .second_part_container{background-color: #003e9c;}
.methodologies_widget .section .title {color: #003e9c}

@media only screen and (min-width : 0px) and (max-width : 767px) {
	.methodologies_widget .section_container .first_part_container{border-color: #cec9cb;}
	.methodologies_widget .section .second_part_container span{color: #fff;}
}

@media only screen and (min-width : 768px) and (max-width : 1000px) {
	.methodologies_widget .section_container .first_part_container {border-color:#cec9cb;}
	.methodologies_widget .section_container .second_part_container {color: #fff;}
}

/* --------------------------------------------
----------------------------------------------- focuson.css */


.focus_on_widget .white_box .description{color:#303030;}
.focus_on_widget .white_box{background-color:#fff; border:1px solid #cec9cb;}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	 .focus_on_widget .fix_mobile span{color: #003e9c;}
}

/* --------------------------------------------
----------------------------------------------- project_library.css */
.project_library_widget .fix_mobile span{color: #fff;}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	 .project_library_widget .fix_mobile span,
	 .project_library_widget .blue_button .mobile_title{color: #fff;}
}


/* --------------------------------------------
----------------------------------------------- module3.css */
.module_3 .description{color:#484848;}


/* --------------------------------------------
----------------------------------------------- classic_menu.css */
.monthfilters-disabled{color:#adadad;}
.classic_menu .spotlight li{color:#707070; border-color:#cec9cb; background-color:#fff;}
.classic_menu .spotlight li.selected,
.classic_menu .spotlight li:hover/*,
.classic_menu.mobile .spotlight*/ {background:#fff; color:#303030;}
.classic_menu .spotlight li:before,
.classic_menu.mobile .widget_padding:before {background-color: #003e9c;}
.classic_menu select {background-color:#fff; border-color:#cec9cb;}


/* --------------------------------------------
----------------------------------------------- banner.css */
.banner-informativo-accordion .details {border-color:#cec9cb;}
.banner-informativo-accordion .title_banner {color: #e54646;}
.banner-informativo-accordion .description_banner {color: #606060;}
.banner-informativo-accordion .description_banner strong {color:#000;}
.banner-informativo-accordion .list_banner {color: #606060;}
.item_banner::before {border-color:#000;}
.item_banner strong{color:#000;}

/* --------------------------------------------
----------------------------------------------- people_widget.css */
.plugin_peopleWidget .widget_padding > span {border-color: #ccc;}
.plugin_peopleWidget .widgetListFooter .widgetListPager a.prev::before,
.plugin_peopleWidget .widgetListFooter .widgetListPager a.next::before{color: #003e9c;}

/* --------------------------------------------
----------------------------------------------- projectportal.css */
.homepage .wrapwidg.banner {background:#24c075; background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0YzA3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNmIwZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top, #24c075 0%, #06b0ef 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#24c075), color-stop(100%,#06b0ef)); background: -webkit-linear-gradient(top, #24c075 0%,#06b0ef 100%); background: -o-linear-gradient(top, #24c075 0%,#06b0ef 100%); background: -ms-linear-gradient(top, #24c075 0%,#06b0ef 100%); background: linear-gradient(to bottom, #24c075 0%,#06b0ef 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c075', endColorstr='#06b0ef',GradientType=0 ); /* IE6-8 */}
.mainTitle *{color: #fff;}
.grey_background{background-color: #f7f7f7;}
.green_background {background-color: #1fb87c;}
.alertBox_background {border-color: #1fb87c; background: #eaeaea; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); background: -moz-linear-gradient(top, #eaeaea 0%, #ffffff 70%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(70%,#ffffff)); background: -webkit-linear-gradient(top, #eaeaea 0%,#ffffff 70%); background: -o-linear-gradient(top, #eaeaea 0%,#ffffff 70%); background: -ms-linear-gradient(top, #eaeaea 0%,#ffffff 70%); background: linear-gradient(to bottom, #eaeaea 0%,#ffffff 70%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 );}
.light_blue_background{background-color: #3ec4cb;}
.content_addcomment{border-color:#d1d1d1;background-color:#fff;}
.content_addcomment .textarea{background-color:#fff;color:#999;}
.content_addcomment .textarea.selected,
.content_addcomment .textarea:hover{color:inherit;background:#fff;}
.content_addcomment .textarea.selected{border-bottom-color:#d1d1d1;}
.content_addcomment .add-comment{background-color:#ccc;color:#fff;}
.redactor-toolbar li a:hover {background: #003e9c !important}

/* --------------------------------------------
----------------------------------------------- yellow_banner.css */
.yellow_alert{background-color: #f2b101;border-top-color:#e8991f;}
.yellow_alert .bottom_part .alert_text{ color: #fff;}

/* --------------------------------------------
----------------------------------------------- events.css */
.events .event{ background: #f7f7f7}
.events .fc-unthemed td.fc-today {background-color: #fff;}
.events .event_header { background-color: white;color: #303030; border: 1px solid #cec9cb;}
.events .event_body {border-color: #cec9cb; background: #fff;}
.events .event_body .description {color: #929292;}
.events .fc-button {background: transparent;border-color:transparent;color: #303030;}
.events .fc-button:hover {color: #032c6b;}
.events .fc-event-container { background: #f7f7f7}
.fc-month-grid .fc-content-skeleton td:not(.fc-event-container)::after,
.contents_wrapper .emptyList.no_content_message {background-color: #fff; border-color:#cec9cb; color:#999;}
.events .fc-mod-month-header .month-name { color: #e54646}
.events .place i, .events .date i { color: #003e9c}
.events .event_body .title { color: #303030;}
.events .event_body .title:hover {color: #003e9c; text-decoration: none}
.events .fc-unthemed .fc-list-empty { background: white; color: #353ecd; border-color: #cec9cb;}

/* --------------------------------------------
----------------------------------------------- contacts.css */
.contacts .widget_padding {background-color: transparent;}
.contacts .widget_padding .widgetListFooter{background-color: #fff;}
.plugin_peopleWidget h2.widget_title,
/*temporary fix*/.column_generico div[class$="plugin_ "] h2.widget_title {color: #303030;}
.contacts #peopleWidgetContainer{ background-color: #fff;}

.plugin_peopleWidget .widget_padding > span,
.column_generico div[class$="plugin_ "] .widget_padding > span {border-color: #cec9cb;  background-color: #fff;}
.contacts #peopleWidgetContainer .data .email a { color: #003e9c;}
