body{font-family: 'Montserrat','tamtamy-icon', sans-serif;text-align: left;}
#tt-mainwrap {padding-bottom:7.5rem;}
.navbar-default .navbar-brand.projects {padding:2.6rem 1.5rem; overflow:hidden; height:auto;}
.navbar-default .navbar-brand.projects > span{display:block;}

.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center;}
.row-eq-height-top {align-self: flex-start;}
.row-eq-height-bottom {align-self: flex-end;}
.spacer_60px{margin-top: 60px;}

.projects .wrapwidg.banner.parallax {overflow:hidden; height:260px;}

.content_addcomment{border:1px solid #000;overflow:auto;padding: 6px;}
.content_addcomment .textarea{width:95%;padding:0 10px;border:none;font-family:inherit;display:block;line-height:27px;right:0}
.content_addcomment .textarea.selected,
.content_addcomment .textarea:hover{}
.content_addcomment .textarea.selected{height:80px;border-bottom:1px solid #000;}
.content_addcomment .add-comment{clear:both;padding:3px}
.content_addcomment .buttons_wrapper{ margin-bottom:0px; padding:5px; border: none;}

.redactor-toolbar li{border: none !important;}

/* Feeback Sphere Link */
#feedbackButton {position:fixed; bottom:20px; left:20px;}
#feedbackButton 	a{border-radius:4px; padding:15px; text-align:center; background:#48b274; color:#fff; display:block; text-decoration:none;}
#feedbackButton span{display:block; font-size:.9em;}
#feedbackButton .title{margin:0 0 5px;}
#feedbackButton .callAction{text-transform:uppercase;}
#feedbackButton .callAction::after{content:'\e944'; display:inline-block; font-family:'tamtamy-icon'; vertical-align:middle; margin:0 0 0 5px;}

/* Project Library*/
.wrapwidg.title-not-first-child .content-description{font-size:16px;}

.prCover .wrapwidg.title-not-first-child .content-description{font-size: 20px;font-weight: bold;}
.prCover .wrapwidg.title-not-first-child .content-description span{color: #143f96;}

.wrapwidg.projectLibrary_link {margin:-60px -15px 30px;}
.wrapwidg.projectLibrary_link .container .content {background-color: #fff; border: 1px solid #cec9cb;padding: 15px 20px;display: table;width: 100%;}
.wrapwidg.projectLibrary_link .container .content > div{display:table-cell;vertical-align: middle;margin: 0}
.wrapwidg.projectLibrary_link .container .content .text{padding: 0 10% 0 0;}
.wrapwidg.projectLibrary_link .container > div .contact-container{width:365px;}
.wrapwidg.projectLibrary_link .container > div .contact-container a{margin:0;padding:15px 40px;}
.wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text{width:auto;margin: 0;}
.wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text h2{font-size:16px;}

/* Header Elements */
.homepage .banner.parallax {position:relative; overflow:hidden;}
.homepage .banner.parallax .mainTitle h1 b {font-size:60px;}
.homepage .banner.parallax .mainTitle::before{background-image: url('../svg/replyCircle.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size:265px 265px;background-position: right 17px;z-index: 3;display: none;}
.homepage .banner.parallax .widget_padding > div .mainTitle{position:static;}
.homepage .banner.parallax .mainTitle .decoration{background-repeat:no-repeat;background-size: 100% 100%;display: block;position: absolute;top: 0;bottom: 0;left: 0;width: 100%;}
.homepage .banner.parallax .mainTitle .decoration.logo.part01{background-image:url(../svg/replyCircle.svg?v=@TAMTAMY_PREVENT_CACHE@);background-size: 265px 290px;width: 270px;z-index:3;left: 50%;margin-left: 230px;top: 5px;bottom: unset;height: 280px;}
.homepage .banner.parallax .mainTitle .decoration.logo.part02{background-image:url('../svg/bgCircles.svg?v=@TAMTAMY_PREVENT_CACHE@');z-index:1;opacity:.2;background-position-x: 340px !important;top: -90px;background-size: 75% 75%;}
.homepage .banner.parallax .mainTitle .decoration.bokeh{background-image:url('../images/bokeh.jpg?v=@TAMTAMY_PREVENT_CACHE@');z-index:0;opacity:.9;background-size:120% 120%;/* background-blend-mode: multiply; */}

/* Header canvas */
.page_title::before{position: absolute;top: 0;bottom: 0;left: 0;width: 100%;background-image: url('../images/bokehInterne.jpg?v=@TAMTAMY_PREVENT_CACHE@');background-repeat: no-repeat;background-position: bottom;background-size:cover;-webkit-mask-image: none;z-index: -3;}

/* Confidentiality Banner */
.header.confidentiality {background-color: #f1f2f3;padding: 13px 0;}
.header.confidentiality .container .box{display:table; width:100%;}
.header.confidentiality .container .box .column{display:table-cell; color:#2f3031; vertical-align:middle;}
.header.confidentiality .container .box .column h2{font-size:16px; line-height:1.1em; text-transform:uppercase; margin:0 0 2px;}
.header.confidentiality .container .box .column p{font-size:13px; margin:0; line-height:1.1em;}
.header.confidentiality .container .box .column a{color:#003e9c; font-size:16px; text-decoration:none; display:inline-block; padding:0; border-bottom:1px solid transparent;}
.header.confidentiality .container .box .column a:hover{border-bottom: 1px solid #003e9c;}
.header.confidentiality .container .box .column.icon{width:80%;padding: 0 0 0 60px;position:relative;}
.header.confidentiality .container .box .column.icon::before{content:'\e9aa';display: inline-block;position:absolute;border: 2px solid #2f3031;border-radius: 50px;width: 38px;height: 38px;padding: 6px 0;text-align: center;left:0;top:50%;transform:translateY(-50%);font: normal 1.45em 'tamtamy-icon';}

/* Media Queries */
@media only screen and (max-device-width : 992px) {
	#tt-mainwrap {padding-bottom:0;}
	.homepage .wrapwidg.banner.parallax {overflow:hidden; position:relative;}
	.homepage .banner.parallax .mainTitle .decoration.bokeh {background-size: cover; background-position-y: bottom !important;}
}
@media only screen and (max-width: 480px){
	.homepage .banner.parallax .mainTitle h1 b{font-size: 1.55em;}
	.homepage .banner.parallax .mainTitle h3{font-size:1.2em;}
}
@media only screen and (min-width : 0) and (max-width : 767px) {
	.wrapwidg.projectLibrary_link .container .content > div{display:block;text-align: center; margin: 0 auto; margin-bottom: 15px;}
	.wrapwidg.projectLibrary_link .container > div .contact-container{width:auto;}
	.wrapwidg.projectLibrary_link .container .content .text{padding: 0;}
	
	.header.confidentiality{padding:20px 0;}
	.header.confidentiality .container .box .column{width: 10%;text-align:left;margin:0;padding: 0;}
	.header.confidentiality .container .box .column.icon{margin: 0;width: 90%;padding: 0 0 0 50px;}
	.header.confidentiality .container .box .column.icon::before{margin: 0;}
	.header.confidentiality .container .box .column .link{margin: 4px 0 0 8px;width: 26px;height: 33px;overflow: hidden;position: relative;text-indent: -9999px;}
	.header.confidentiality .container .box .column .link::before{content:'\e944';font: normal 2em 'tamtamy-icon';text-indent:0;position:absolute;left:0;}
}
