/* ==========================================================================
   Reply Berries Typography
   ========================================================================== */
/* FonAwesome*/
@font-face {
    font-family: 'FontAwesome';
    src:url('font-awesome/fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
    src:url('font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'),
        url('font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Modern Browsers */
        url('font-awesome/fonts/fontawesome-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
        url('font-awesome/fonts/fontawesome-webfont.svg#fontawesomeregular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}


/* Webfont: Intro*/
@font-face {
    font-family: 'IntroLight';
    src: url('fonts/Intro-Light.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-Light.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-Light.svg#Intro-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Intro';
    src: url('fonts/Intro-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-Regular.svg#Intro-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Intro';
    src: url('fonts/Intro-Italic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-Italic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-Italic.svg#Intro-Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'IntroSemi';
    src: url('fonts/Intro-Regular2.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-Regular2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-Regular2.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-Regular2.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-Regular2.svg#Intro-Regular2') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'IntroBook';
    src: url('fonts/Intro-Regular3.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-Regular3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-Regular3.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-Regular3.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-Regular3.svg#Intro-Regular3') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'IntroBlack';
    src: url('fonts/Intro-Black.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-Black.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-Black.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-Black.svg#Intro-Black') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'IntroBlack';
    src: url('fonts/Intro-Black2.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-Black2.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-Black2.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-Black2.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-Black2.svg#Intro-Black2') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'IntroBlack';
    src: url('fonts/Intro-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Intro-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Intro-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('fonts/Intro-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Intro-BlackItalic.svg#Intro-BlackItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Cabin-Regular */
@font-face {
    font-family: 'Cabin';
    src: url('fonts/Cabin-Regular.eot'); /* IE9 Compat Modes */
    src: url('fonts/Cabin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Cabin-Regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/Cabin-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Cabin-Regular.svg#Cabin-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Cabin';
    src: url('fonts/Cabin-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Cabin-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Cabin-SemiBold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Cabin-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Cabin-SemiBold.svg#Cabin-SemiBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'CabinSemi';
    src: url('fonts/Cabin-Bold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Cabin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Cabin-Bold.woff') format('woff'), /* Modern Browsers */
         url('fonts/Cabin-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/Cabin-Bold.svg#Cabin-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}