/* FOnts Settings */
/* Webfont: Montserrat-Regular */
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.eot'); /* IE9 Compat Modes */
    src: url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
         url('Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Montserrat-Regular.svg#Montserrat-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Montserrat-Bold */@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Bold.eot'); /* IE9 Compat Modes */
    src: url('Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
         url('Montserrat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Montserrat-Bold.svg#Montserrat-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/* Webfont: ProximaNova-RegularIt */
@font-face {
    font-family: 'ProximaNovaRg';
    src: url('ProximaNova-RegularIt.eot'); /* IE9 Compat Modes */
    src: url('ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('ProximaNova-RegularIt.woff') format('woff'), /* Modern Browsers */
         url('ProximaNova-RegularIt.ttf') format('truetype'), /* Safari, Android, iOS */
         url('ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'icomoon-skydive';
  src:  url('icomoon.eot?b8rfpw');
  src:  url('icomoon.eot?b8rfpw#iefix') format('embedded-opentype'),
		url('icomoon.ttf?b8rfpw') format('truetype'),
		url('icomoon.woff?b8rfpw') format('woff'),
		url('icomoon.svg?b8rfpw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}