/*
Name: Grey Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
a, a h1, a h2, a h3, a h4, a h5 {color:#000;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#777;}
body{background:#545454 url(../graphic/satin.png);}
#header h1{background:url(../graphic/logo-tamtamy_black.gif) no-repeat;}
#header ul li a{color:#494c51;text-shadow:0 1px 0 #9fa2aa;background:#1f1f1f url(../graphic/title-bg.png) repeat-x;border-color:#545454;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{text-shadow:0 1px 0 #fff;color:#000;background:#fff url(../graphic/title-bg.png) bottom repeat-x;border-color:#fff;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3{background:#bfc1cd url(../graphic/hl.png) repeat-x top;color:#757881;text-shadow:0 1px 0 #fff;}
#home-highactmyp h2 {color:#BFC1CE;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:url("../graphic/title-bg.png") repeat-x scroll 0 0 #1f1f1f;border-color:#545454;color:#494c51;}
.vwall a, #userview a {color:#757881;}
#userview {color:#757881;}
ul.pager li a:hover,ul.pager li a.on{background:#757881;}
ul.pager li a{background:#bfc1ce;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer p#logo_pow a{background:url(../graphic/logo_pow.gif) no-repeat;}
