/*------------------------------------
-------------------------------------- Content Flow - Stream View */
.mark_project_cover{position:relative; background: #fff;}
.mark_project_cover .scheda_padding{position: relative;}

.mark_project_cover .content-body .coverimage.list,.mark_hackathon_project_cover .content-body .coverimage.list,
.fancy_compact .fancy-content .coverimage.list{height: 290px !important;position:relative;background-size: cover;background-position: center center;background-repeat: no-repeat;margin:0 0 15px;}
.mark_project_cover .content-body .coverimage.list::before,
.fancy_compact .fancy-content .coverimage.list::before {content:'';display:block;width:100%;height:100%;position:absolute;background:#000;opacity:.2;}
.mark_project_cover .content-body .coverimage.list::after,
.fancy_compact .fancy-content .coverimage.list::after {content:none;display:block;width:179px;height:108px;position:absolute;bottom:25px;left:25px;background:url('../../img/logo_projectCover.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat;}
.mark_project_cover .content-body .coverimage.list > a,
#coverImageInCompactViewExpanded > a {position: absolute;bottom: 10px; left: 20px;border: 1px solid #fff; border-width: 1px 0; padding: 3px 0; max-width: 40%;}
.mark_project_cover .content-body .coverimage.list > a h2,
#coverImageInCompactViewExpanded > a h2{font-size:2em ;color: #fff; text-shadow: 0 1px 2px #000;font-family: 'ProximaNova'; text-transform: uppercase; border: 1px solid #fff; border-width: 1px 0; padding: 5px 0; margin: 0; text-align: center;}
.mark_project_cover .content-body .coverimage.list > a:hover,
#coverImageInCompactViewExpanded > a:hover,
.mark_project_cover .content-body .coverimage.list > a:hover h2,
#coverImageInCompactViewExpanded > a:hover h2{text-decoration:none;}

.mark_project_cover .content-body .projectCover.usage{}
.mark_project_cover .content-body .projectCover.usage h2.titolo,
.fancy_compact  .fancy-content .projectCover.usage h2.titolo,
.fancy_compact  .fancy-infocontent span.projectCover.usage{color:#fda425;font-weight: normal;}
.mark_project_cover .content-body .projectCover.usage.NonDisclosure h2.titolo,
.fancy_compact  .fancy-content .projectCover.usage.NonDisclosure h2.titolo,
.fancy_compact  .fancy-infocontent span.projectCover.usage.NonDisclosure{color:#e5001c;}
.mark_project_cover .content-body .projectCover.usage.Public h2.titolo,
.fancy_compact  .fancy-content .projectCover.usage.Public h2.titolo,
.fancy_compact  .fancy-infocontent span.projectCover.usage.Public{color:#00b805;}
.mark_project_cover .content-body .projectCover.usage h2.titolo:before,
.fancy_compact  .fancy-content .projectCover.usage h2.titolo:before,
.fancy_compact  .fancy-infocontent span.projectCover.usage::after{content:'\f071 ';font-family:'FontAwesome';margin:0 10px 0 0;}
.fancy_compact  .fancy-infocontent span.projectCover.usage::after{margin:0 20px 0 0;}
.mark_project_cover .content-body .projectCover.usage.NonDisclosure h2.titolo:before,
.fancy_compact  .fancy-content .projectCover.usage.NonDisclosure h2.titolo:before,
.fancy_compact  .fancy-infocontent span.projectCover.usage.NonDisclosure::after{content:'\f057 ';}
.mark_project_cover .content-body .projectCover.usage.Public h2.titolo:before,
.fancy_compact  .fancy-content .projectCover.usage.Public h2.titolo:before,
.fancy_compact  .fancy-infocontent span.projectCover.usage.Public::after{content:'\f14a ';}

.mark_hackathon_project_cover .content-body .projectCover.extendedViewCallToAction,
.mark_project_cover .content-body .projectCover.extendedViewCallToAction,
.fancy_compact  .fancy-content .projectCover.extendedViewCallToAction {text-align:center;margin: 20px 0 0;}
.mark_hackathon_project_cover .content-body .projectCover.extendedViewCallToAction a,
.mark_project_cover .content-body .projectCover.extendedViewCallToAction a,
.fancy_compact  .fancy-content .projectCover.extendedViewCallToAction a {padding: 12px;display: inline-block; border: 1px solid #4493e9;border-radius: 4px;font-weight: bold;text-decoration: underline;}

	/****** Content Flow - Compact View ******/

	/****** Highlighted Content - Sphere View ******/
#sphere-group-contents-essentials .group_highlight.mark_project_cover{}

	/****** Detail Page ******/
.content.projectCover.details #mainwrap.mainFixedWidth {width: 100%;max-width: 1440px;display:block;}

	/****** Font Styles ******/
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement span,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main p,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement a,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement li,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h1,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h2,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h3,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h4,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h5,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement .text,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement .titolo{color:#2a2a2a;font-family:'ProximaNova','Helvetica Neue',Arial,Helvetica,sans-serif !important;font-weight: normal;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main b,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement strong,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h4 span,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h4 a{color:#2a2a2a;font-family:'ProximaNovaBold','Helvetica Neue',Arial,Helvetica,sans-serif !important;font-weight: normal !important;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main em,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main i{font-family:'ProximaNovaIt','Helvetica Neue',Arial,Helvetica,sans-serif !important;font-weight: normal !important;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main b em,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main strong em,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main h4 span em,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main h4 a em,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main b i,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main strong i,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main h4 span i,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main h4 a i{font-family:'ProximaNovaBoldIt','Helvetica Neue',Arial,Helvetica,sans-serif !important;font-weight: normal !important;}
.content.projectCover.details .generic_button,
.content.projectCover.details .generic_button_danger,
.content.projectCover.details .generic_button span,
.content.projectCover.details .generic_button_danger span{font-size:15px; color:#fff !important;}
.content.projectCover.details .checkImagePptModal.modal .generic_button,
.content.projectCover.details .checkImagePptModal.modal .generic_button_danger,
.content.projectCover.details .checkImagePptModal.modal .generic_button span,
.content.projectCover.details .checkImagePptModal.modal .generic_button_danger span{margin: 0 5px 0 0;}
.content.projectCover.details .checkImagePptModal.modal .generic_button_danger{margin-left: 0 !important;}
.content.projectCover.details .checkImagePptModal.modal .generic_button,
.content.projectCover.details .checkImagePptModal.modal .generic_button_danger {font-weight: bold !important;line-height: 2em !important; background-size: cover !important; height: auto; font-size: small;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ul{list-style:circle outside;padding: 0 0 0 17px;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ol{padding: 0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ol ol{padding: 0 0 0 17px;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ul li{list-style:circle outside;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ul#comments{padding:0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ul#comments > li{list-style:none;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ul li span,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main ol li span{display:inline;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main br,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main p{display:block;}
.content.projectCover.details #wrapComment .utenza_commento,
.content.projectCover.details #wrapComment .commento{font-size:14px;}
.content.projectCover.details .fc-extend-section {padding:30px 60px;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .text{font-size: 1.3em; line-height: 1.2em;width: 100%;display: block;float: initial;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .categoria{font-size: 1.3em; line-height: 1.2em;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .text.redactor-editor { min-height: 60px; box-sizing: border-box; display: block !important; font-size: 15px !important;}
.content.projectCover.details .content-main .coverinfo p{font-size: 1.35em;line-height: 1.1em;}
 .content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#challenges,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#challenges *,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#goalsAndTargets,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#goalsAndTargets *,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#solutions,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#solutions *,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#clientDescription,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#clientDescription *,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#coverDescription,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement div#coverDescription * {font-size: 18px !important; line-height:1.2em;}
.content.projectCover.details .content-main .coverinfo div#coverDescription,
.content.projectCover.details .content-main .coverinfo div#coverIdeaMotivation{font-size: 15px!important;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo a  {width: auto; padding:0 0 3px; text-decoration: none; color: rgb(51, 51, 51); border-bottom: 1px solid #cfcfcf; margin: 0 10px 5px 0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo p a{margin:0;}  
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo h1 { float: left; width: auto;line-height: 1em; font-size: 2.85em;text-transform: uppercase; color: rgb(51, 51, 51);}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo h2 { float: left; font-size:1.85em;line-height: 1.38em; text-transform: uppercase; color: rgb(51, 51, 51);}
.content.projectCover.details .tag_token a{color:#FFF !important;font-family:"Lucida Grande",tahoma,verdana,arial,sans-serif !important;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo h3 { float: left; width: 100%; color: rgb(61, 61, 61);}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo h4 { float: left; width: 100%;clear: both;color: rgb(51, 51, 51);}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectStatus .aspectvalue h4 a {font-family:'ProximaNova' !important;padding: 0 0 10px;margin: 0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo h5 { float: left; width: 100%; padding-left: 15px; font-size: 0.9em; line-height: 1.1; color: rgb(51, 51, 51);}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo h5 a{padding:0;text-decoration: none;}
.content.projectCover.details .fc-extend-section .fc-extend-section-label,
.content.projectCover.details .fc-extend-section .toggle-comments a{text-transform: uppercase;color: rgb(51, 51, 51);font:normal 1.85em/1.38em 'ProximaNova','Helvetica Neue',Arial,Helvetica,sans-serif;}
.content.projectCover.details .fc-extend-section .toggle-comments .toggle-right-label-hide,
.content.projectCover.details .fc-extend-section .toggle-comments .toggle-right-label-show{font-size:0.5em;line-height: 1em;}

.content.projectCover.details .text a {text-decoration: underline;}
.content.projectCover.details .text strong {}
.content.projectCover.details .valore a {text-decoration: underline;}
.content.projectCover.details .valore strong {}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo a.logo{display: block;width: auto;padding: 0;border-bottom: none;margin: 0 60px 5px 0;float: left;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .aspectvalue h3{font-size: 1.35em;padding: 0 0 5px;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectTags .aspectvalue h3{padding:0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .aspectvalue h4{font-size:1.5em;text-transform:lowercase;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectStatus .aspectvalue h4{font-size: 3em; text-transform: capitalize;padding: 0 0 6px;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectStatus #hackathonDate.aspectvalue h4{display: inline-block;line-height: 0.6em;width: auto;clear: none;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectStatus #duration.aspectvalue h4{display: inline-block;text-transform:lowercase;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectStatus .aspectvalue h4.durationStartYear,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectStatus .aspectvalue h4.durationEndYear{width: auto;clear: none;float: none;display: inline-block;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .aspectvalue h4 strong,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .aspectvalue.big h3.titolo{font-family:'ProximaNovaBlack', Arial, Helvetica, sans-serif !important;font-weight:normal !important;font-size:2.4em;line-height:1em;-moz-osx-font-smoothing: grayscale;text-shadow: 0 0 0 transparent;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #projectStatus .aspectvalue h4 strong{font-size:1em;line-height: 0.4em; padding: 0 10px 0 0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .aspectvalue.big h3.titolo{font-size: 3.3em; margin:0;line-height: 0.9em; padding: 0;}
.content.projectCover.details .big h4,
.content.projectCover.details .highsection h4 {font-size: 1.2em;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo h3#clientLogo {max-width:200px; min-height: 120px;margin:0 0 20px; float: none;background-size: contain;background-position: left center;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo a.logo span {display: inline-block;margin:0;width:115px;height:45px;background-repeat: no-repeat;background-size: contain;background-position: center center;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo a.logo span.text {border-bottom:1px solid #d1d1d1;height:30px;width: auto;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #usage{padding:0 0 5px;width: auto;clear:both;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #usage h2.titolo{color:#fda425;font-weight: normal;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #usage.NonDisclosure h2.titolo{color:#e5001c;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #usage.Public h2.titolo{color:#00b805;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #usage h2.titolo:before{content:'\f071 ';font-family:'FontAwesome';margin: 0 10px 0 0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #usage.NonDisclosure h2.titolo:before{content:'\f057 ';}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #usage.Public h2.titolo:before{content:'\f14a ';}


.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .column_padding,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main{padding:0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody{width:100%;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .scheda.extended{margin:0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody{background-color:#fff; font: normal 1.25em/1.2em 'ProximaNova','Helvetica Neue',Arial,Helvetica,sans-serif;  color: rgb(61, 61, 61);}

.content.projectCover.details .coverinfo { float: left; width:100%; background-color:#fff; overflow:hidden;}
.content.projectCover.details .content-main .coverinfo div,
.content.projectCover.details .content-main .coverinfo p,
.content.projectCover.details .content-main .coverinfo a,
.content.projectCover.details .content-main .coverinfo span{box-sizing:border-box;display: inline-block;}
.content.projectCover.details .content-main .coverinfo script{display:none;}
.content.projectCover.details .content-main .coverinfo section {width:100%; overflow: hidden;}

.content.projectCover.details .content-main .coverinfo #topics.aspectvalue h4 span{display:inline-block;margin:0 10px 10px 0;}
.content.projectCover.details .content-main .coverinfo #topics.aspectvalue h4 a{line-height:1.15em;display:inline;padding:0 !important;}

.content.projectCover.details .covermodule {display:block;overflow:hidden;}
.content.projectCover.details .covermodule .coverelement{display: block; padding:30px 60px; float:left;}
.content.projectCover.details .covermodule .coverimage { float: left;background-repeat:no-repeat;background-position:center center;background-size:cover;}
.content.projectCover.details .covermodule .coverelement .sitesTable{display: table; float: none;margin: 40px 0 0;}
.content.projectCover.details .covermodule .coverelement .sitesTable > p{display: table-row; float: none;}
.content.projectCover.details .covermodule .coverelement .sitesTable > p > span {display: table-cell; float: none;}
.content.projectCover.details .covermodule .coverelement .sitesTable > p > span.title{text-align:right;font-size: 0.9em;padding:0 8px 0 0;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement a,
.content.projectCover.details .covermodule .coverelement .sitesTable > p > span a{font-family: 'ProximaNovaBold','Helvetica Neue',Arial,Helvetica,sans-serif !important;font-size: 0.9em;line-height: 0.9em;}

.content.projectCover.details .content-main .coverinfo section.covermodule.table,
.content.projectCover.details #projectHighlights {display: table;width:100%;}
.content.projectCover.details #projectHighlights{position: relative;padding-top: 90px;}
.content.projectCover.details .content-main .coverinfo section.covermodule.table .coverelement,
.content.projectCover.details .content-main .coverinfo section.covermodule.table .coverimage,
.content.projectCover.details #projectHighlights > div{display: table-cell;float:none;vertical-align: top;}
.content.projectCover.details #projectHighlights > div{width:auto;}

.content.projectCover.details .content-main .coverinfo section.covermodule.table #secondaryImageOrVideo.coverimage::after {content: '';display: block;min-height: 480px;}

.content.projectCover.details .covermodule .dark {background-color: #f0f0f0;}
.content.projectCover.details .covermodule .darker {background-color: rgb(231, 231, 231);}
.content.projectCover.details .covermodule .coverelement .hightitle {padding-bottom: 23px;}

.content.projectCover.details .dark .coverelement {}
.content.projectCover.details .content-main .coverinfo section{border-bottom:1px solid  rgb(231, 231, 231);}
.content.projectCover.details #projectInfo_section04{min-height: 200px;}
.content.projectCover.details .content-main .coverinfo #coverImage{min-height:320px;}
.content.projectCover.details .covermodule #basicInfo.coverelement{padding-bottom:0;}
.content.projectCover.details .covermodule #basicInfo.coverelement h1{margin-bottom:0;padding:0 20px 0 0;}
.content.projectCover.details .covermodule #creatorsInfo.coverelement,
.content.projectCover.details .covermodule #customerAndIndustryInfo.coverelement{padding-top:35px;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content .content-toolbar{top:10px;right:10px;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content .author-and-messages,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content .content-main .author_name,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content .content-main .timestamp_extra,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content .content-main .content-body{display:none;}

.content.projectCover.details .aspectvalue { float: left; width: 100%;}
.content.projectCover.details .col-6 .aspectvalue,
.content.projectCover.details .col-8 .aspectvalue { padding-bottom: 18px;}
.content.projectCover.details #projectHighlightsTitle{position: absolute;top: 20px;}

.content.projectCover.details .last {clear: both;}
.content.projectCover.details .last .coverelement {}

.content.projectCover.details section#projectInfo_section05 { border: none;}
.content.projectCover.details #imageGallery{margin:0;}
.content.projectCover.details #imageGallery ul{padding: 0 !important;}
.content.projectCover.details #imageGallery .flex-viewport{width:100%;}
.content.projectCover.details #imageGallery .slides{min-height:100%;}
.content.projectCover.details #imageGallery .slides .galleryImage{width:100%;border-bottom: 1px solid rgb(231, 231, 231);background-size:cover;background-position:center center;background-repeat:no-repeat;}
.content.projectCover.details #imageGallery .flex-direction-nav{position: absolute;top:0;width: 100%;height:100%;}
.content.projectCover.details #imageGallery .flex-control-paging{display:none;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-prev,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-next{position: absolute;display: block;width:100%;height:100%;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-next{right: 0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-prev a.flex-prev,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-next a.flex-next{width:33.33333%;height:100%;top:0;margin:0;border: none !important;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-prev a.flex-prev{left:0;top: 0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-next a.flex-next{right:0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-prev a.flex-prev::before,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-next a.flex-next::before{content:'\f104';font-family:'FontAwesome';font-size:11em;line-height:1em;font-weight:normal;color:#FFF;display: block; text-indent: 0;position: absolute;top:30%;width:100%;text-align: center;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-next a.flex-next::before{content:'\f105';}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-prev a.flex-prev span,
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo #imageGallery .flex-direction-nav .flex-nav-next a.flex-next span{display:none;}

.content.projectCover.details .contacts h2{margin: 0 0 20px;}
.content.projectCover.details .contacts .member {float: left; width: 48%; min-width: 230px; padding-bottom: 10px;position:relative; overflow: hidden;}
.content.projectCover.details .contacts .memberinfo {width:80%;padding:0 0 0 90px;min-height:90px;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .contacts .memberinfo h5{font-size: 1.2em;padding-left:0;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .contacts .memberinfo .company{font-size: 1em;padding-left:0;line-height: 1.4em;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .contacts .memberinfo .email {cursor: alias;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .contacts .memberinfo .role {text-transform:uppercase;}
.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .contacts .membername {margin-bottom:0;font-family:'ProximaNovaBold' !important;border:none;}
.content.projectCover.details .contacts .memberavatar { width:63px; height: 63px;background-color: rgb(222, 222, 222);position:absolute;overflow:hidden;top:0;left:0;}
.content.projectCover.details .contacts .memberavatar img{width:100%;}
.content.projectCover.details .contacts .memberavatar::before,
.content.projectCover.details .contacts .memberavatar::after{content:'';position:absolute;display:block;width:60px;height:60px;top:0;left:0;border-radius:100%;z-index:2;} 
.content.projectCover.details .contacts .memberavatar::before{border: 30px solid #fff;top:-24px;left:-24px;width:50px;height:50px;}
.content.projectCover.details .contacts .memberavatar::after{border:1px solid #cacaca;}

.content.projectCover.details .hackathon.header {position: absolute;display: block;padding: 30px 110px 30px 90px;background: transparent url('../../img/HPC_titleBG.svg?v=@TAMTAMY_PREVENT_CACHE@') no-repeat right top;background-size:cover;max-width: 50%;}
.content.projectCover.details .hackathon.header  > .text,
.content.projectCover.details .hackathon.header  > .year{color: #fff;font: bold 2.2em/1.1em Helvetica, Arial !important;}
.content.projectCover.details #coverTools{width: 50px; position: fixed; top: 105px; display: block; z-index:1;box-shadow: 0 0 25px -10px #000; background-color: #fff;}
.content.projectCover.details #coverTools.hackathon{top: 132px; width: auto; max-width: 100px; position: absolute;}
.content.projectCover.details #coverTools.hackathon.fixed{position: fixed;top:42px;}
.content.projectCover.details #coverTools .to_library{}
.content.projectCover.details #coverTools > .to_slides > * {display:block;padding:0;min-height: 78px; box-sizing: border-box;}
.content.projectCover.details #coverTools > div a {color: #418ee0; background: #fff; display: block; text-align: center; font-size: 0.7em; line-height: 1em;  padding: 10px 4px;}
.content.projectCover.details #coverTools.hackathon .to_library > a{color: #fff;background: #396e2b;padding: 15px 0 15px 30px;}
.content.projectCover.details #coverTools > .to_slides {position:relative;}
.content.projectCover.details #coverTools > .to_slides > * {display:block;padding:0;min-height: 78px; box-sizing: border-box;}
.content.projectCover.details #coverTools > div a::before{content:''; display:block; background:url('../../img/icons_TT_LeftMenu.png') no-repeat; width:32px; height:32px; margin:0 auto 5px;}
.content.projectCover.details #coverTools .to_library > a::before{content:''; display:block; background:url('../../img/icons_TT_LeftMenu.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat; width:32px; height:32px; margin:0 auto 5px; background-position:-30px -162px;}
.content.projectCover.details #coverTools.hackathon .to_library > a::before{background:none;position:absolute;width:0;height:0;border: 25px solid #396e2b;border-bottom: 25px solid transparent;border-right: 25px solid transparent;right: -50px;top: 0;}
.content.projectCover.details #coverTools > div.to_library a::before{background-position:-30px -162px;}
.content.projectCover.details #coverTools > div.to_slides a::before{background-position:-32px -445px;}
.content.projectCover.details .no-title {padding-top: 105px; padding-bottom: 20px;}
.content.projectCover.details .text {float: left;clear: both; width: 100%;}

.content.projectCover.details .col-8 {width: 66.66666%; padding: 54px 0 20px;}
.content.projectCover.details .col-6 {width: 50%;}
.content.projectCover.details #projectInfo_section04 .col-6 {width: auto;}
.content.projectCover.details #projectInfo_section04 .col-6 + .col-6 {width: 50%;}

.content.projectCover.details .col-4 {width:33.33333%;}
.content.projectCover.details .col-12{width: 100%;}

.content.projectCover.details .aspectvalue { padding-bottom: 18px;}
.content.projectCover.details .aspectvalue.big {padding-bottom:35px;max-width: 290px;padding: 0 20px 20px 0;min-width: 240px;}
.content.projectCover.details .highsection {clear: both; padding-bottom: 15px; overflow: hidden;}
.content.projectCover.details .col-6 h3 { padding-bottom: 15px;}
.content.projectCover.details .col-6 h4 {}

.content.projectCover.details .aspectvalue h3,
.content.projectCover.details .highsection h3 {}

.content.projectCover.details .col-6 h2,
.content.projectCover.details .col-8 h2,
.content.projectCover.details .hightitle h2 {width: 100%;}

.content.projectCover.details .col-8 h3,
.content.projectCover.details .hightitle h3 { padding-bottom: 15px;}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverinfo .contacts h2{}

.content.projectCover.details #mainwrap.mainFixedWidth #wrapcontent .centralBody .content-main .coverelement h2.ideaMotivation.titolo {margin: 30px 0 0;}
.content.projectCover.details .covermodule #ideaLinkToContentVideoDiv.coverelement {padding: 0 0 0 0; margin: 10px 0 0;position: relative;}
.content.projectCover.details .covermodule #ideaLinkToContentVideoDiv.coverelement h4::before {content:'\f16A';display:inline-block;margin:0 10px 0 0;font:normal 1em 'FontAwesome';}
.content.projectCover.details .covermodule #ideaLinkToContentVideoDiv.coverelement h4 span a{border:none;}