/* Project Library - Tabbed Content List*/
.prCover{background-color:transparent;}
.wrapwidg.title-not-first-child .content-description{font-size:16px;}

.prCover .wrapwidg.title-not-first-child .content-description{font-size: 20px;font-weight: bold;}
.prCover .wrapwidg.title-not-first-child .content-description span{color: #143f96;}

.wrapwidg.projectLibrary_link {margin:-60px -15px 30px;}
.wrapwidg.projectLibrary_link > .container{padding:0; width:100%;}
.wrapwidg.projectLibrary_link .container .content {background-color: #fff; border: 1px solid #cec9cb;padding: 15px 20px;display: table;width: 100%;}
.wrapwidg.projectLibrary_link .container .content > div{display:table-cell;vertical-align: middle;margin: 0}
.wrapwidg.projectLibrary_link .container .content .text{padding: 0 10% 0 0;}
.wrapwidg.projectLibrary_link .container > div .contact-container{width:365px;}
.wrapwidg.projectLibrary_link .container > div .contact-container a{margin:0;padding:15px 40px;}
.wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text{width:auto;margin: 0;}
.wrapwidg.projectLibrary_link .container > div .contact-container a .contactBtn--text h2{font-size:16px;}


@media only screen and (max-width:640px){
    .wrapwidg.projectLibrary_link .container .content > div{display:block; width:100%;}
    .wrapwidg.projectLibrary_link .container .content .text{padding:0; margin:0 0 10px;}
}