/* --------------------------------------------
----------------------------------------------- COVER LIBRARY ELEMENTS */
.scheda.coverLibrary .front,
.scheda.coverMagazine .front,
.scheda.coverMagazine .back{width:100%;height:266px;position:relative;overflow:hidden;border:1px solid #d1d1d1;
	-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-o-backface-visibility: hidden;backface-visibility: hidden;
	-webkit-transition: 0.6s;-moz-transition: 0.6s;-o-transition: 0.6s;-ms-transition: 0.6s;transition: 0.6s;
	-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-o-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;
	position: absolute;top: 0;}
.scheda.coverMagazine .front,
.scheda.coverLibrary .front{background-color:#fff;z-index: 2;}
.scheda.coverMagazine .back{box-sizing: border-box;padding: 0 10px 0 0;overflow-y: auto;background:#c4c4c4;-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);-o-transform: rotateY(-180deg);-ms-transform: rotateY(-180deg);transform: rotateY(-180deg);}
.scheda.coverMagazine.flipped .front{-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-o-transform: rotateY(180deg);transform: rotateY(180deg);}
.scheda.coverMagazine.flipped .back	{-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);-ms-transform: rotateY(0deg);transform: rotateY(0deg);}
.scheda.coverMagazine .front::before{content:'';display:block;position:absolute;top: 70%;right: 0;bottom: 0;left: 0;background: -moz-linear-gradient(top,  rgba(255,255,255,.65) 0%, rgba(255,255,255,.8) 100%);background: -webkit-linear-gradient(top,  rgba(255,255,255,.65) 0%,rgba(255,255,255,.8) 100%);background: linear-gradient(to bottom,  rgba(255,255,255,.65) 0%,rgba(255,255,255,.8) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#a8ffffff',GradientType=0 );/* background:transparent url('../../img/logo_projectCover.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 0; */}
.scheda.coverMagazine.hackathon .front::before {background: -moz-linear-gradient(top,  rgba(97, 189, 79, .85) 0%, rgba(97, 189, 79, .95) 100%);background: -webkit-linear-gradient(top, rgba(97, 189, 79, .85) 0%, rgba(97, 189, 79, .95) 100%);background: linear-gradient(to bottom,  rgba(97, 189, 79,.85) 0%,rgba(97, 189, 79,.95) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a861bd4f', endColorstr='#a961bd4f',GradientType=0 );}
.scheda.coverMagazine .flip{z-index: 3;display:block;cursor: pointer;position:absolute;width:20px;height:20px;padding: 5px;overflow:visible;background:transparent;top: 4px;left: 4px;}
.scheda.coverMagazine.flipped .flip{background:transparent;box-sizing: border-box; border-radius: 0;width: 30px;height: 30px;top: 0; left: 0;bottom: 0; right: 0;}
.scheda.coverMagazine .flip::before{content:'\f01e'; font: normal 1.6em 'FontAwesome';color: #fff;text-shadow: 1px 1px 1px #000;}
.scheda.coverMagazine.flipped .flip::before{color:#469BF0;}
.scheda.coverMagazine.flipped .flip:hover::before{color:#9DD8F1;}
.scheda.coverMagazine .flip::after {content:'';display: block;width:100%; height: 100%;position: absolute; top: -5px;left: -5px;}
.scheda.coverMagazine.flipped .flip::after{height: auto; width: auto; top: 0; bottom: 0; left: 0; right: 0;}
.scheda.coverMagazine .flip:hover::before{color:#9DD8F1;}

.scheda.coverLibrary .coverimage.coverLibrary,
.scheda.coverMagazine .coverimage.coverMagazine{display:block;width: 100%;height: 100%;background-size: cover;background-position: center center; background-repeat: no-repeat;border-bottom: 1px solid #c5d4d9;}
.scheda.coverLibrary .content-toolbar,
.scheda.coverMagazine .content-toolbar{right:10px; z-index:3;}

.scheda.coverLibrary .content-toolbar a:before,
.scheda.coverMagazine .content-toolbar a:before{text-shadow:.2rem 0 0 #fff, -.2rem 0 0 #fff, 0 .2rem 0 #fff, 0 -.2rem 0 #fff, .1rem .1rem #fff, -.1rem -.1rem 0 #fff, .1rem -.1rem 0 #fff, -.1rem .1rem 0 #fff;}


.scheda.coverMagazine .module{margin:0 0 10px 10px;}
.scheda.coverMagazine h2.fancy-title{display:block;margin: 5px 0 0;font-size:1.5em; overflow:hidden;height: 40px;box-sizing:content-box;}
.scheda.coverMagazine .front h2.fancy-title{text-align: center;height:auto; position:absolute; padding: 9px 0;margin:0;overflow:hidden;text-overflow:ellipsis;line-height:16px;-webkit-line-clamp:2;-webkit-box-orient:vertical;color: #fff;z-index: 2;bottom:0;left:7px;width: 210px;display: table;}
.scheda.coverMagazine h2.fancy-title a{font-size: 1.1em;}
.scheda.coverMagazine .front h2.fancy-title a{color:#fff; font-family:'ProximaNova'; text-transform:uppercase;text-shadow: 1px 1px 3px #000;}
.scheda.coverMagazine .front h2.fancy-title > span{display: table-cell;padding: 25px 0;}
.scheda.coverMagazine .front h2.fancy-title > .companyLogo.img{background-repeat: no-repeat;padding: 22px 0 40px;background-position:5px center;background-size: 80px auto; min-width: 92px;}
.scheda.coverMagazine .front h2.fancy-title > .companyLogo .companyName{opacity:0;line-height:0em;display: block; overflow: hidden;}
.scheda.coverMagazine .front h2.fancy-title > .companyLogo.more{padding:0;margin:0;}
.scheda.coverMagazine .front h2.fancy-title > .companyLogo .number{display: inline-block;margin: 0 0 -6px;background: #418ee0; padding: 5px 0; border-radius: 100%; width: 25px; height: 25px; vertical-align: middle; box-sizing: border-box; text-align: center;font-size: 0.6em;}
.scheda.coverMagazine.hackathon .front h4#hackathonName.internal {font-size: 1.2em;}

.scheda.coverMagazine .back .fancy-author_name.subtitle{position: relative;float: none;margin-top: 40px; padding-right: 10px; z-index: 4;}
.scheda.coverMagazine .back .tags-undeletetable .tag_token{position: relative;z-index: 4;}
.scheda.coverMagazine .module .fc-extend-section-label{font-size:1.5em;}
.scheda.coverLibrary h4#usage,
.scheda.coverMagazine h4#usage,
.scheda.coverCompact span.usage{font-weight: normal;}
.scheda.coverLibrary h4#usage,
.scheda.coverMagazine h4#usage{padding:10px 0 0;}
.scheda.coverLibrary h4#usage .usage::after,
.scheda.coverMagazine h4#usage .usage::after,
.scheda.coverCompact span.usage::after{content:'';font-family:'FontAwesome';}
.scheda.coverLibrary h4#usage .Public,
.scheda.coverMagazine h4#usage .Public,
.scheda.coverCompact span.usage.Public{color: #00b805;}
.scheda.coverLibrary h4#usage .Limited,
.scheda.coverMagazine h4#usage .Limited,
.scheda.coverCompact span.usage.Limited{color:#fda425;}
.scheda.coverLibrary h4#usage .NonDisclosure,
.scheda.coverMagazine h4#usage .NonDisclosure,
.scheda.coverCompact span.usage.NonDisclosure{color:#e5001c;}
.scheda.coverLibrary h4#usage .Public::after,
.scheda.coverMagazine h4#usage .Public::after,
.scheda.coverCompact span.usage.Public::after{content:'\f14a';}
.scheda.coverLibrary h4#usage .Limited::after,
.scheda.coverMagazine h4#usage .Limited::after,
.scheda.coverCompact span.usage.Limited::after{content:'\f071';}
.scheda.coverMagazine h4#usage .NonDisclosure::after,
.scheda.coverCompact span.usage.NonDisclosure::after{content:'\f057';}

.scheda.coverMagazine .fancy-infocontent{float: none;margin: 10px 0;}
.scheda.coverMagazine .callToAction,
.scheda.coverCompact .callToAction{display:block;font-weight:bold;white-space:nowrap;border:3px solid #418ef0;border-radius:5px;text-align:center;}
.scheda.coverCompact .callToAction {max-width:200px;position:absolute;top:30px;right:10px;}
.scheda.coverMagazine .callToAction a,
.scheda.coverCompact .callToAction a{padding: 10px 20px; box-sizing: border-box;display: block;text-align: center;}

.scheda.coverCompact{box-sizing:border-box; border-width:3px;}
.scheda.coverCompact:hover{ border-color:#d1d1d1; cursor:default;}
.scheda.coverCompact .coverimage {display: block;height: 90px;width: 70px;position: absolute;top: 8px;left: -6px;background-size: cover;background-repeat: no-repeat;background-position: center center;border: 1px solid #ccc;box-sizing: border-box;}

.scheda.coverCompact .coverMetaData{background:#e7e7e7; padding:10px 0 7px 55px; margin:35px 0 0;}
.scheda.coverCompact.hackathon .coverMetaData {background-color:#262626;}

.scheda.coverCompact .tagsContainer{display:block; overflow:hidden;}
.scheda.coverCompact .tagsContainer .tags{width:50%;display:table;float:left;margin:0;}
.scheda.coverCompact .tagsContainer .label{color:#838383;width:105px;display: table-cell;vertical-align:top;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken{background:#326ead;display: inline-block;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken.disabled{background:#d1d1d1;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken a{color:#fff; padding:3px 7px 5px 7px; text-transform:lowercase; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:220px; display:block; float:left; font-weight:normal; text-decoration:none; font-size:0.9em; line-height:1em;}
.scheda.coverCompact .tagsContainer .projectCover_tagToken.disabled a{max-width:315px; cursor:default; color:#838383; text-decoration:none;}
