/* ------------------------------------------
--------------------------------------------- PROJECT COVER ELEMENTS */
.mark_project_cover .page-break{display:none;}
#projectCoverCaller{position:relative; overflow:hidden; text-align:left;}
#projectCoverCaller > div{display:table;}
#projectCoverCaller > div > label,
#projectCoverCaller > div > div{display:table-cell; vertical-align:middle;}
#projectCoverCaller > div > label.title{color:#4c4c4c; font-weight:bold; width:100px;}
#projectCoverCaller .label > span,
#projectCoverCaller .label > a{line-height:30px; padding:5px 20px; border:1px solid #b1b1b1; color: #4c4c4c;font-weight: bold; margin: 0 5px 0 0;text-transform: capitalize;}
#projectCoverCaller .label.active > span,
#projectCoverCaller .label.active > a{color: #fff;border:none;background: #b1b1b1;}
#projectCoverCaller .label > span .icon.content:before,
#projectCoverCaller .label > a .icon.cover:before {content:'\f0f6';display: inline-block;font:normal lighter 1em 'FontAwesome';margin:0 5px 0 0;}
#projectCoverCaller .label > a .icon.cover:before {content:'\f1ea';}
#projectCoverCaller a.generic_button{line-height:30px;height:30px;background-size:100% 100%;padding: 0 10px 0 30px;position:relative;}
#projectCoverCaller a.generic_button:before{content:'';display: block; width: 20px; height: 28px;left: 7px;background: url('../../img/icon_projectCover.png?v=@TAMTAMY_PREVENT_CACHE@') 0px 3px no-repeat; position:absolute;}

	/****** Create/Edit View ******/
.projectCover .upload-box {margin:0 0 80px;}
.projectCover .hideContent{display:none;}
.projectCover #loaderHeaders,
.redeemBerries #loaderHeaders,
.idea #loaderHeaders{top:150px; text-align:center; font-size:6em; margin:0px auto; position:absolute; z-index:2; width:auto; left:46%;}
.leftSidebar #loaderHeaders{top:150px; text-align:center; font-size:6em; margin:0px auto; position:absolute; z-index:2; width:auto; left:46%;}

.projectCover .redactor-editor{max-width:587px;}
.projectCover .upload-box section{margin:0 0 30px;}
.projectCover .upload-box section.extra{border:1px solid #ccc; padding:0 10px; position:relative;}
.projectCover .upload-box #upload-attachments section{margin:0;}
.projectCover .upload-box section > .title{position:relative;color:#4493e9;}
.projectCover .upload-box section.extra > .title{margin:-20px 0 0 -11px; background-color:#f2f2f2; display:block; width:190px;}
.projectCover .upload-box section > .title .number {display:inline-block; border:3px solid #4493e9; color:#4493e9; background-color:#fff; padding:4px; border-radius:100%; width:13px; text-align:center;}
.projectCover .upload-box section > .title .toggle {display:block; position:absolute; text-align:right; width:100%; top:-1px;}
.projectCover .upload-box section > .title .toggle .fc-expand{display:block; text-align:right; padding:5px 0 20px;}
.projectCover .upload-box section > .title .toggle .fc-expand::after{content:'\f078'; font-family:'FontAwesome'; padding:0 0 0 10px;}
.projectCover .upload-box section > .title .toggle .fc-expand.expanded::after{content:'\f077';}
.projectCover .upload-box section .subtitle {padding:0 0 0 31px; color:#7f7f7f; margin:-10px 0 14px;}
.projectCover .upload-box section #section-7 .subtitle {padding:0;}
.projectCover .upload-box .content-body-richtext{margin:0 0 12px; position:relative;}
.projectCover .upload-box #editContentH2,
.projectCover .upload-box #addNewContentH2{position:fixed; top:42px; width:100%; left:0; padding:13px 0; background:url(../../img/bk-sphere-essentials.png?v=@TAMTAMY_PREVENT_CACHE@) 0 0; background-size:contain; z-index:1; color:#fff;}
.projectCover .upload-box #editContentH2 span,
.projectCover .upload-box #addNewContentH2 span{position:relative; left:50%; margin:0 0 0 -495px;}
.projectCover .upload-box .help,
.projectCover .upload-box .help{color:#418ee0; cursor:pointer; display:inline-block;}
.projectCover .upload-box .help a,
.projectCover .upload-box .help a{display:none;}
.projectCover .upload-box .howto{color:#fbbc05;}
.projectCover .upload-box .howto:hover{color:#fbbc05; text-decoration:underline;}
.projectCover .upload-box .englishMatter{display:inline-block; border:1px solid #fbbc05; margin: 0 0 0 302px !important; padding:5px 10px; position: absolute !important; text-align:right; font-size:0.63em; vertical-align:middle; top:6px;}
.projectCover .upload-box .help::before,
.projectCover .upload-box .englishMatter::before{content:'\f059'; font:normal 1em 'FontAwesome';}
.projectCover .upload-box section .help::before{font-size:1.7em;}
.projectCover .upload-box .englishMatter::before{content:'\f071'; font-size:1.7em; color:#fbbc05; position: relative; bottom: -2px;}

.projectCover .upload-box #upload.buttons_wrapper{overflow:visible; position:fixed !important; z-index:2; left:50%; margin:0; min-width:140px; bottom:0; width:100%; left:0; background-color:#d6d6d6; height:60px;}
.projectCover .upload-box #upload.buttons_wrapper > a,
.projectCover .upload-box #upload.buttons_wrapper > span{position:absolute; left:50%; padding:12px 30px; min-width:90px; background-size:cover; text-align:center;}
.projectCover .upload-box #upload.buttons_wrapper > span.attentionMessage{margin:10px 0 0 -475px; font-size:1.4em; font-weight:bold; color:#4493e9;}
.projectCover .upload-box #upload.buttons_wrapper > span.attentionMessage b{color:#be3737; font-size:2em; line-height:.25em; position:relative; bottom:-10px;}
.projectCover .upload-box #upload.buttons_wrapper > a.generic_button.greener.upl,
.projectCover .upload-box #upload.buttons_wrapper > a.generic_button.content-save{margin-left:315px;}
.projectCover .upload-box #upload.buttons_wrapper > a.generic_button.content-delete{margin-left:150px;}

.projectCover .upload-box .section.categorization{overflow:visible;}
.projectCover .upload-box .section.categorization .fake-field{padding:0;}
.projectCover .upload-box .section.categorization .fake-field > .label{box-sizing: border-box;padding:0;border: none;margin:0;}
.projectCover .upload-box .section.categorization .fake-field > .label > span {padding:0 10px 2px;font-weight: bold;color:#9f9f9f;border-right:1px solid #d6d6d6; display:inline-block;}
.projectCover .upload-box .section.categorization .fake-field > .label .label{float: none; display: inline-block;}

.projectCover .upload-box .jtt-loading-opacity,
.projectCover .upload-box .jtt-plug-loading{position:fixed;}

.projectCover .upload-box .fake-field.site-info .jtt-loading-opacity {position: static;min-height: 40px; border: 1px solid #d1d1d1;}
.projectCover .upload-box .fake-field.site-info .jtt-plug-loading{position: absolute; left: 60%; margin-left: -20px; width: 40px; height: 40px;}
.projectCover .upload-box .content-body-richtext .jtt-loading-opacity,
.projectCover .upload-box .content-body-richtext .jtt-plug-loading{position:absolute;}
.projectCover .upload-box .content-body-richtext .jtt-plug-loading:before,
.projectCover .upload-box .fake-field.site-info  .jtt-plug-loading:before {content:'';animation:none;background:url('../../img/wait.gif?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 0; height:40px; width:40px; top: 20%;}
.projectCover .upload-box .fake-field,
.projectCover .upload-box .form-field{display:table;width:100%;box-sizing:border-box;margin:0 0 10px;padding:0;}
.projectCover .upload-box #titleMultipleUpload.fake-field{background:none;border:none;padding:0;}
.projectCover .upload-box .fake-field > label,
.projectCover .upload-box .form-field > label{display:table-cell;font-size: 0.97em;vertical-align:top;width: 160px;font-weight: bold;color:#4c4c4c;text-transform: uppercase;}
.projectCover .upload-box .form-field > label{padding: 10px 10px 0 0;text-align: right;}
.projectCover .upload-box .fake-field > label .size,
.projectCover .upload-box .form-field > label .size{font-weight:normal;}
.projectCover .upload-box #titleMultipleUpload.fake-field > input{height: auto;border: 1px solid #d6d6d6; width: 100%;padding:10px;box-sizing: border-box;}
.projectCover .upload-box #titleMultipleUpload.fake-field.creation  > input{color: #888;}
.projectCover .upload-box #titleMultipleUpload.fake-field.creation {margin: 0 0 45px;}
.projectCover .upload-box #titleMultipleUpload.fake-field > label{vertical-align: middle;width:170px;text-align: right; padding: 0 10px 0 0; box-sizing: border-box;}
.projectCover .upload-box .mandatory{color:#be3737;font-size:2em;line-height:.25em;display: inline-block;bottom: -8px; position: relative;}
span#suggestedTitle {position: absolute;display: block;left: 170px;background-color: #d6d6d6;color: #7f7f7f;padding: 0 10px;}
.projectCover .upload-box .form-field > .column{display:table-cell;vertical-align: top;}
.projectCover .upload-box .form-field > label span.label {display: block;font-size: 12px;text-transform: none;line-height: 1.2em;padding: 5px 0 0;color: #7f7f7f;}
.projectCover .upload-box .form-field > label .secondary{font-weight: normal;text-transform: none; font-size: 0.8em;width: 160px;}
.projectCover .upload-box .form-field.highlightsDiv > label .secondary{position:absolute;}
.projectCover .upload-box .fake-field.error > label,
.projectCover .upload-box .form-field.error > label{}
.projectCover .upload-box #titleMultipleUpload.fake-field.error{border: 1px solid red;padding:5px;}

.projectCover .upload-box .form-field input{border: 1px solid #aaa;background: #FFF;padding: 10px;min-width: 250px;}
.projectCover .upload-box .form-field input.ideaLinkToContentVideo{width:100%;box-sizing: border-box;}
.projectCover .upload-box .redactorTextfield{min-height: 20px;border:1px solid black;}

.projectCover .upload-box .chosen-container, .uploadDiv .chosen-container,.uploadDiv .chosen-container input {min-width:272px;}
.projectCover .upload-box .chosen-container .chosen-single{border: 1px solid #aaa; border-radius:0; background-color: #fff;background-image: none;padding: 6px 10px 6px;}
.projectCover .upload-box .chosen-container .chosen-drop{border: 1px solid #aaa; border-radius:0; background-color: #fff;}
.projectCover .upload-box .chosen-container .chosen-choices li.search-field input[type=text]{padding:10px;margin: 0;}
.projectCover .upload-box .chosen-container .chosen-single div b{background-position:0 8px;}
.projectCover .upload-box .chosen-container .chosen-single abbr{top: 11px;}
.projectCover .upload-box .chosen-container.chosen-container-multi .search-field .default{font-weight:normal;color:#9f9f9f;}
.projectCover .upload-box .chosen-container .chosen-results li{position:relative;overflow: hidden;text-overflow: ellipsis; white-space: nowrap;padding: 5px 20px 5px 5px;}
.projectCover .upload-box .chosen-container .chosen-results li.no-results {text-overflow: initial;white-space: normal;}
.projectCover .upload-box .technologiesDiv .chosen-container .chosen-results li{padding-right:50px;}
.projectCover .upload-box .topicsDiv .chosen-container .chosen-results li{padding-right:50px;}
.projectCover .upload-box .chosen-container .options-hint {position:absolute; right:18px;}

.projectCover .upload-box .chosen-container-multi .chosen-choices li.search-choice{box-sizing: border-box; max-width: 96.5%;}
.projectCover .upload-box .chosen-container-multi .chosen-choices li.search-choice > span{text-overflow: ellipsis;display: inline-block;overflow: hidden; max-width: 100%; line-height: 1.2em;}

.projectCover .upload-box .usageDiv .column{min-width: 320px;}
.projectCover .upload-box .usageMessageDiv{display: block;position: relative; border: 1px solid #b1b1b1; margin:0;padding: 6px 10px;}
.projectCover .upload-box .usageMessageDiv.teamContacts{display: block !important;}
#createProjectCover .createProjectCoverModal .error-msg{display: block;position: relative;padding: 10px; border: 1px solid #b1b1b1; margin: 10px 0 0;z-index: -1;}
.projectCover .upload-box #usageMessageNDA.usageMessageDiv{padding: 11px 10px 13px; min-width: 257px;}
.projectCover .upload-box .usageMessageDiv::before,
#createProjectCover .createProjectCoverModal .error-msg::before{content:"\f071";display: inline-block;font: normal normal normal 14px/1 FontAwesome;color: #fda425;margin: 0 6px 20px 0; float: left;}
.projectCover .upload-box .usageMessageDiv::before{margin: 5px 6px 20px 0;}
.projectCover .upload-box #usageMessageNDA.usageMessageDiv::before{margin: 0px 6px 20px 0;}

.projectCover .upload-box .hasAttachments{position: relative;}
.projectCover .upload-box .multi_uploader{margin:0;}
.projectCover .upload-box .multi_uploader .row{margin:0;}
.projectCover .upload-box .multi_uploader .row .dragAndDrop{width: 100%;margin:0;box-sizing:border-box;padding:10px 20px;height:auto;}
.upload-box .multi_uploader .row .ui-button-icon-primary{display:none;}
.projectCover .upload-box .multi_uploader .span3{float:none;width:100%;}
.projectCover .upload-box .multi_uploader .table td.preview{padding:5px;}
.projectCover .upload-box .multi_uploader .table td.preview > div{min-width:55px;}
.projectCover .upload-box .multi_uploader .table td.file_details_space {cursor: move;}
.projectCover .upload-box .multi_uploader .table td.file_details_space::before{content:'\f07d';font:normal 1em 'FontAwesome';padding:0 10px 0 0;}
.projectCover .upload-box .multi_uploader .btn{text-shadow:none; position: relative; overflow: hidden;}
.projectCover .upload-box .multi_uploader .btn.fileinput-button > input{position:absolute;opacity:0;top:0;left:0;}
.projectCover .upload-box #section-publication.section.publication.fake-field{padding:0 5px;margin:0 0 30px;}
.projectCover .upload-box #section-publication.section.publication.fake-field .jtt-add-message{font-weight:bold;color:#9f9f9f !important;}

.gecko.win .btn.fileinput-button > span {line-height: 28px;}

.projectCover .upload-box .multi_uploader.draggable.dragAndDropOver{outline: 3px dashed #DDD;box-sizing: border-box;position: relative;z-index:0;background: rgba(255,255,255,0.2);padding: 0 0 134px;}
.projectCover .upload-box .multi_uploader.draggable.dragAndDropOver::before{content:"Drop Files Here";position: absolute;display:block;width:100%;text-align:center;left:0;top: 42%;color:#d1d1d1;z-index:-1;font:bold 3em sans-serif;}
.projectCover .upload-box .multi_uploader.draggable.dragAndDropOver .table{margin:0;position: relative;z-index:-2;opacity:.5;}
.projectCover .upload-box .multi_uploader.draggable.dragAndDropOver .btn.fileinput-button{opacity: 0.2;}

.projectCover .upload-box .error-area {border: 1px solid #f00;position: relative;padding: 5px;}
.projectCover .upload-box .error-area .error-msg{background: #f00;color: #fff; padding: 3px 10px;display: inline-block; position: absolute;top:0;right: 0;font: italic 1.3em/1em Georgia,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Times,serif;}

.projectCover .upload-box .form-field .readonlyInput,
.upload-box input.readonlyInput,
#activationQrCodeDetail input.readonlyInput{color: #888;cursor: not-allowed;}

.projectCover.upload .centralBody .column_padding,
.projectCover.update .centralBody .column_padding,
.projectCover.hackathonProjectCoverSave .centralBody .column_padding{padding:0 160px 0 0;}

.projectCover .upload-box a.content-delete {line-height: 2.6em;padding: 7px 30px !important; margin:6px 0 0;}
.projectCover .upload-box a.content-delete:hover {background-color:rgba(0,0,0,.05);}
.projectCover .upload-box a.content-delete::before {content: '\f014';font: 2em/1.25em 'FontAwesome';margin:0 10px 0 0;display: inline-block;vertical-align: top;color: inherit;}
.projectCover .upload-box a.content-back{margin-left: 158px;}
.projectCover .modal.ui-dialog-content {background:#fff;z-index:0;}

.projectCover #previewArea{position: fixed;top: 100px;border:2px solid #418ee0;left: 50%;z-index:2;width: 144px;height:420px;overflow:hidden;background: #d1d1d1 url('../../img/projectCover_preview.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 22px; margin: 0 0 0 348px;}
.projectCover.hackathon #previewArea{height:429px;background: #d1d1d1 url('../../img/projectCoverHackathon_preview.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 22px;}
.projectCover #previewArea::before{content:'cover preview';background: #418ee0;text-transform: capitalize;color: #fff;font-weight: bold;display:block;padding: 5px 5px;box-sizing: border-box;z-index:2;position: absolute;width: 100%;}
.projectCover #previewArea::after{content:'';display:block;}

.projectCover #previewArea #sectionPreview{position:absolute;top:25px;width:100%;height:420px;box-sizing:border-box;border:2px solid #418ee0;border-width: 2px 0;z-index: 0;transition: height .6s ease-in-out, top .6s ease-in-out;}
.projectCover.hackathon #previewArea #sectionPreview{height:408px;}
.projectCover #previewArea #sectionPreview::before,
.projectCover #previewArea #sectionPreview::after{content:'';opacity:.65;width:100%;height:500px;background:#000;display: block;position: absolute;}
.projectCover #previewArea #sectionPreview::before{top:-502px;}
.projectCover #previewArea #sectionPreview::after{bottom:-502px;}
.projectCover #previewArea.section-1 #sectionPreview{top:25px;height:73px;}
.projectCover #previewArea.section-2 #sectionPreview{top:93px;height:61px;}
.projectCover #previewArea.section-3 #sectionPreview{top:152px;height:179px;}
.projectCover #previewArea.section-4 #sectionPreview{top:239px;height:50px;}
.projectCover #previewArea.section-5 #sectionPreview{top:326px;height:50px;}
.projectCover #previewArea.section-6 #sectionPreview{top:373px;height:45px;}

.projectCover.hackathon #previewArea.section-1 #sectionPreview{top:25px;height:83px;}
.projectCover.hackathon #previewArea.section-2 #sectionPreview{top:105px;height:51px;}
.projectCover.hackathon #previewArea.section-3 #sectionPreview{top:154px;height:163px;}
.projectCover.hackathon #previewArea.section-4 #sectionPreview{top:240px;height:50px;}
.projectCover.hackathon #previewArea.section-5 #sectionPreview{top:288px;height:72px;}
.projectCover.hackathon #previewArea.section-6 #sectionPreview{top:355px;height:72px;}

.projectCover #previewArea.section-7 #sectionPreview{}

.projectCalendar button.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {display: none;}
.projectCalendar table.ui-datepicker-calendar {display: none;}
input#meta__project_cover_durationstartdate__.hideText,
input#meta__project_cover_durationenddate__.hideText {text-indent:-9999px;}

.goalsAndTargetsPptDiv.form-field,
.challengesPptDiv.form-field,
.solutionsPptDiv.form-field,
.descriptionPptDiv.form-field {top:-5px; position: relative;}
.projectCover .upload-box .form-field > .column.secondary textarea {width:100% !important;display: block; padding: 5px; box-sizing: border-box; border: 1px solid #ddd;min-height: 100px;}
.projectCover .upload-box .form-field.descriptionPptDiv > .column.secondary textarea {min-height:125px;}
.projectCover .upload-box .form-field.challengesPptDiv > .column.secondary textarea {min-height:80px;}
.projectCover .upload-box .form-field.goalsAndTargetsPptDiv > .column.secondary textarea,
.projectCover .upload-box .form-field.solutionsPptDiv > .column.secondary textarea {min-height:90px;}

.mark_hackathon_project_cover .coverimage.list {height:290px; background-size:cover; background-position: center center; position: relative;}
.mark_hackathon_project_cover .coverimage.list h2,
.coverimage h2.hackathon-name {position:absolute; display:block; bottom:0; background:transparent url('../../img/HPC_titleBG.svg?v=@TAMTAMY_PREVENT_CACHE@') no-repeat right top; background-size: cover; color: #fff; padding: 40px 80px 40px 40px; max-width: 65%;font: normal 2.6em/1.1em Arial;text-align: left; box-sizing: border-box;}
.projectCover.details .linkToHPCpageDisabled{cursor:default;}

#asposeSlidesLoaderContainer {display:block; position:absolute; width:100%; top:0; text-align:center; background-color:rgba(256,256,256,.85);}
#asposeSlidesLoaderContainer > img{padding:24px 0 0;}