/*------------------------------------------------- PROJECT COVERS
--------------------------------------------------- Filters */
.project-cover-filters > ul > li {display:table; width:100%; margin: 0 0 5px; padding:0 5px; box-sizing:border-box;}
.project-cover-filters > ul > li > * {display:table-cell; padding:0;width:100% !important;box-sizing: border-box;}
.project-cover-filters > ul > li > *:first-child{width:100px !important;}
.project-cover-filters ul li > em {display:inline; padding:0;}

.project-cover-filters .chosen-container-multi .chosen-choices li.search-choice{box-sizing: border-box;max-width: 95%;white-space: nowrap;}
.project-cover-filters .chosen-container-multi .chosen-choices li.search-choice .search-choice-close{width:12px !important;background-position:-42px -40px;top: 6px;}

.project-cover-filters .chosen-container .chosen-results li{position:relative;overflow: hidden; white-space: nowrap;padding: 5px 60px 5px 5px;}
.project-cover-filters .chosen-container .chosen-results li:before { content: attr(data-hint); position:absolute; right:18px;}
.project-cover-filters .chosen-container .options-hint {position:absolute; right:18px;}

.project-cover-filters .title {padding:0 5px; color:#4697f0; font-weight:bold;}
.project-cover-filters .field {padding:0 5px; display:inline-block; min-width:105px; vertical-align:middle; font-weight:bold;}
.project-cover-filters .options {display:inline-block;}
.project-cover-filters .button-wrapper {text-align:right;}
.project-cover-filters .no-filters-alert {text-align:center;}

.createProjectCoverModal{}
.createProjectCoverModal .chosen-container{width:100% !important;}
.createProjectCoverModal .chosen-container .chosen-single{z-index:1;}
.createProjectCoverModal .chosen-container.chosen-with-drop .chosen-single{border-bottom:none;}
.createProjectCoverModal .chosen-container .chosen-drop{width:auto; min-width:100%; z-index:0; border-top: 1px solid #aaa;}
.createProjectCoverModal .chosen-container .chosen-drop .chosen-results > li{white-space:nowrap; padding:5px 16px 5px 6px;}

.withLeftSidebar .leftSidebar .project-cover-filters > ul > li > * {display:block;padding: 0 0 2px;}
.withLeftSidebar .leftSidebar .project-cover-filters > ul > li > *:first-child{width:100% !important;}
.withLeftSidebar .leftSidebar .project-cover-filters .chosen-container-multi .chosen-choices li.search-choice > span {max-width:185px;line-height: 1.2em;text-overflow: ellipsis;overflow: hidden;display: inline-block;}
.withLeftSidebar .leftSidebar .project-cover-filters .chosen-container-single .chosen-single > span {max-width:180px;margin-right:2px;}
.withLeftSidebar .leftSidebar .project-cover-filters .chosen-container-single .chosen-single > abbr{right:17px;background-position:-42px -39px;}
.withLeftSidebar .leftSidebar .project-cover-filters .chosen-container.chosen-with-drop .chosen-drop{margin:-3px 0 0 !important;border-top: 1px solid #aaa !important;white-space: nowrap !important; width: auto !important;min-width:100%;z-index:1;}
.withLeftSidebar .chosen-container .chosen-choices li.search-field input[type=text],
.meta_row .chosen-container .chosen-choices li.search-field input[type=text]{width:100% !important;}
.withLeftSidebar .leftSidebar .project-cover-filters .chosen-container-active.chosen-with-drop .chosen-single{z-index: 2; border-bottom: none;color:#666;}
.withLeftSidebar .leftSidebar .project-cover-filters .chosen-container-active.chosen-with-drop .chosen-single > abbr{background-position:-42px 1px;}
.withLeftSidebar .leftSidebar .project-cover-filters .field {margin:0;}
.withLeftSidebar .leftSidebar .project-cover-filters .chosen-container-single .chosen-single-with-deselect span { margin-right: 0px; }
.chosen-container-single .chosen-single.chosen-single-with-deselect,
.project-cover-filters .chosen-container-multi .chosen-choices li.search-choice {background-image: linear-gradient(#3875d7 20%,#2a62bc 90%);color: #fff;}
.chosen-container-single .chosen-single.chosen-single-with-deselect.chosen-default {color: #999;background-image:linear-gradient(to bottom,#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%);}
.chosen-container-single .chosen-single.chosen-single-with-deselect.chosen-default div b{background-position:0 1px;}
.chosen-container-single .chosen-single.chosen-single-with-deselect div b{background-position:0 -37px;}

.project-cover-filters .apply-button {display:inline-block; text-align:right;}
.project-cover-filters .apply-button.reset {margin-right:-6px;}
.project-cover-filters .apply-button a{display:inline-block; font-weight:bold; color:#fff; padding:5px; margin:5px; background:#418EE0 url("../../img/bk-button-blu.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat scroll center center / 100% 96%; }
.project-cover-filters .apply-button.reset a{background:#9a2d2d url("../../img/bk-button-red.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat scroll center center / 100% 96%; }