#createProjectCoverHackathonButton .generic_button.cover {}
#createProjectCoverHackathonButton .generic_button.cover .icon.cover {padding: 0 0 0 30px; position: relative; display: block; line-height: 1.1em;}
#createProjectCoverHackathonButton .generic_button.cover .icon.cover::before {position: absolute; left: 0; top: 50%; margin:-10px 0 0; content:'\f212';text-shadow: rgba(0,0,0,.01) 0 0 1px; -webkit-font-smoothing: antialiased;}

.hackathonContentList.container li a::before {content: '\f212';font: normal 1em 'FontAwesome';padding: 0 5px 0 0;-webkit-font-smoothing: antialiased;text-shadow: rgba(0,0,0,.01) 0 0 1px;}
.hackathonContentList.container li {padding: 5px 0 0;}
.hackathonContentList.container .hackathonContentListTitle {font-weight: bold; color: #ccc; margin: 15px 0 0;}