/* @import url("http://fast.../fonts.net/t/1.css?apiType=css&projectid=95e1b0f0-3a36-41a5-ba39-609ef7848d0b");
 */

@font-face {font-family: 'icomoon';
  src: url("../../font/projectCover/icomoon.eot?jangr4&v=@TAMTAMY_PREVENT_CACHE@");
  src: url("../../font/projectCover/icomoon.eot?jangr4#iefix&v=@TAMTAMY_PREVENT_CACHE@") format("embedded-opentype"), url("../../font/projectCover/icomoon.ttf?jangr4&v=@TAMTAMY_PREVENT_CACHE@") format("truetype"), url("../../font/projectCover/icomoon.woff?jangr4&v=@TAMTAMY_PREVENT_CACHE@") format("woff"), url("../../font/projectCover/icomoon.svg?jangr4#icomoon&v=@TAMTAMY_PREVENT_CACHE@") format("svg");font-weight: normal;font-style: normal;}

/*@font-face {
  font-family: "Proxima N W01 Reg";
  src: url("../../font/projectCover/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@");
  src: url("../../font/projectCover/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@") format("eot"), url("../../font/projectCover/64017d81-9430-4cba-8219-8f5cc28b923e.woff2?v=@TAMTAMY_PREVENT_CACHE@") format("woff2"), url("../../font/projectCover/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff?v=@TAMTAMY_PREVENT_CACHE@") format("woff"), url("../../font/projectCover/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf?v=@TAMTAMY_PREVENT_CACHE@") format("truetype"), url("../../font/projectCover/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235?v=@TAMTAMY_PREVENT_CACHE@") format("svg"); }

@font-face {
  font-family: "Proxima N W01 Smbd";
  src: url("../../font/projectCover/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@");
  src: url("../../font/projectCover/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@") format("eot"), url("../../font/projectCover/ae47a7f5-89da-4879-b934-29722c3dd451.woff2?&v=@TAMTAMY_PREVENT_CACHE@") format("woff2"), url("../../font/projectCover/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff?v=@TAMTAMY_PREVENT_CACHE@") format("woff"), url("../../font/projectCover/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf?v=@TAMTAMY_PREVENT_CACHE@") format("truetype"), url("../../font/projectCover/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c?v=@TAMTAMY_PREVENT_CACHE@") format("svg"); }

@font-face {
  font-family: "Proxima N W01 Black";
  src: url("../../font/projectCover/9b05cd3b-19d8-496a-816b-8de46cf24af1.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@");
  src: url("../../font/projectCover/9b05cd3b-19d8-496a-816b-8de46cf24af1.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@") format("eot"), url("../../font/projectCover/a086d1e1-d71a-4248-bc5b-6a91bbda0756.woff2?v=@TAMTAMY_PREVENT_CACHE@") format("woff2"), url("../../font/projectCover/43106d4c-07a9-48c0-bdeb-d82f359c85f5.woff?v=@TAMTAMY_PREVENT_CACHE@") format("woff"), url("../../font/projectCover/7783372a-b74a-4eb3-902f-ab18b106eb46.ttf?v=@TAMTAMY_PREVENT_CACHE@") format("truetype"), url("../../font/projectCover/22e79766-6290-47c1-b1af-93665675dd48.svg#22e79766-6290-47c1-b1af-93665675dd48?v=@TAMTAMY_PREVENT_CACHE@") format("svg"); }

@font-face {
  font-family: "Proxima N W01 Reg It";
  src: url("../../font/projectCover/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@");
  src: url("../../font/projectCover/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@") format("eot"), url("../../font/projectCover/129d49d6-5492-4ed1-96f7-0528c6d53abc.woff2?v=@TAMTAMY_PREVENT_CACHE@") format("woff2"), url("../../font/projectCover/9c69c878-2255-4027-8632-ed3635cddf45.woff?v=@TAMTAMY_PREVENT_CACHE@") format("woff"), url("../../font/projectCover/b7eb3871-e910-4522-9982-effb425a2714.ttf?v=@TAMTAMY_PREVENT_CACHE@") format("truetype"), url("../../font/projectCover/a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf.svg#a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf?v=@TAMTAMY_PREVENT_CACHE@") format("svg"); }

@font-face {
  font-family: "Proxima N W01 At Bold";
  src: url("../../font/projectCover/cb0a2948-31e1-4f3e-8df8-f8fed5125537.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@");
  src: url("../../font/projectCover/cb0a2948-31e1-4f3e-8df8-f8fed5125537.eot?#iefix&v=@TAMTAMY_PREVENT_CACHE@") format("eot"), url("../../font/projectCover/8666e3e0-713e-463a-8bb9-2d3c6b8050b1.woff2?v=@TAMTAMY_PREVENT_CACHE@") format("woff2"), url("../../font/projectCover/b28633d8-c94c-4a40-8eb1-1e0b32ea0e06.woff?v=@TAMTAMY_PREVENT_CACHE@") format("woff"), url("../../font/projectCover/0ec7744d-038f-46bd-a3a8-f3e0020ab4b8.ttf?v=@TAMTAMY_PREVENT_CACHE@") format("truetype"), url("../../font/projectCover/3f6b8eb6-2678-4b83-ab47-6cbfa9dcc9db.svg#3f6b8eb6-2678-4b83-ab47-6cbfa9dcc9db?v=@TAMTAMY_PREVENT_CACHE@") format("svg"); }*/
.prCover .content-description {
	text-align: center;
}
.prCover #mainwrap:after,
.prCover #main:after {content:"";display: block;visibility: hidden;font-size: 0;clear: both;height: 0;}
.prCover h3{font-weight: normal;}
body.prCover, .prCover #mainwrap {background: #ececec;}
.prCover #header_dropdown{backface-visibility: hidden;}
.prCover #sharing_bar_container.mainFixedWidth,
.prCover #inner_header.mainFixedWidth{width: 991px;}
.prCover .pcHeader:after {content: "";display: block;visibility: hidden;font-size: 0;clear: both;height: 0;}

[class^="i-"],
[class*=" i-"] {font-family: 'icomoon' !important;speak: none;font-style: normal;font-weight:normal;font-variant:normal; text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

.i-view:before {content: "\e900"; }
.i-arrow:before {content: "\e901"; }
.prCover .i-plus:before {content: "\ea0a";font-size: 0.6em;}
.prCover .i-minus:before {content: "\ea0b"; font-size: 0.6em;}

.ProgectLibrary__box .content-toolbar a.tool_favourite_add:before {
    content: none;
}
.ProgectLibrary__box  .content-toolbar a.tool_favourite_del:before {
    content: none;
}

.prCover #headercanvas {display: none; }
.prCover #sharingbar {padding-top: 40px;z-index: 22;position: relative;}
.prCover .mainFixedWidth {width: 100%;margin: 0 auto;max-width: 1280px;min-width: 991px;text-align: center;}
.prCover .centralBody {width: 100%;margin: 0 auto;min-width: 991px;max-width: 1280px;float: none;}
.prCover #wrapcontent {padding: 0;margin-top: -6px;}
.prCover .companyName {display: none; }
.prCover .flex-control-nav.flex-control-paging {display: none; }

.prCover .flex-direction-nav .flex-next {right: 0;opacity: 1 !important;z-index: 1 !important;font-family:'icomoon';}
.prCover .flex-direction-nav .flex-next:hover {right: 0;}
.prCover .flex-direction-nav .flex-next:before {content: "\e944"; font:normal 16px 'tamtamy-icon';color: #bebebe;text-indent: 0em; padding: 0px 6px 0;text-align: center;border-radius: 100px;}
.prCover .flex-direction-nav .flex-next:hover:before {color: #676f73;}

.prCover .flex-direction-nav .flex-prev {left: 0;opacity: 1 !important;z-index: 1 !important; }
.prCover .flex-direction-nav .flex-prev:hover {left: 0;}
.prCover .flex-direction-nav .flex-prev:hover:before {color: #676f73;}
.prCover .flex-direction-nav .flex-prev:before {content: "\e948"; font:normal 16px 'tamtamy-icon';
color: #bebebe;text-indent: 0em;  padding: 0px 6px 0;text-align: center;border-radius: 100px;}

.prCover .flex-direction-nav a {font-size: 0;bottom: 0;top: auto;line-height: 73px;width: initial;height: 58px;padding: 0 5px; }
.prCover .flex-direction-nav a.flex-disabled {color: grey;pointer-events: none;opacity: 0 !important;}
.prCover .more .flex-direction-nav a.flex-disabled {opacity: 0.3 !important;}
.prCover .flexslider {margin: 0;border: 1px solid #d1d1d1 !important;border-top:none;border-radius: 0; }
.prCover .more .flex-viewport {margin: 0 26px 0;}
.prCover .flexslider:hover .flex-direction-nav .flex-next {right: 0;}
.prCover .flexslider:hover .flex-direction-nav .flex-prev {left: 0;}

.prCover {background: #fff; }
.prCover .pcHeader {height: 56px;font-size: 0;position: relative; }
.prCover .pcHeader__title {float: left;height: 60px;font:normal 24px/60px "MontSerrat", sans-serif;margin-bottom: 0;padding-left: 30px;color: #000;}
.prCover .pcHeader__services {position: absolute;right: 0;background: #fff;}

.prCover .pcHeader__services .widget_padding{border: none;}
.prCover .pcDropDown {display: inline-block;vertical-align: top;font-size: 16px;position: relative;}
.prCover .pcDropDown__arrow {display: inline-block;font-size: 9px;padding-left: 5px;transition: transform 0.2s ease-in-out;transform: rotateX(0deg);}
.prCover .open .pcDropDown__arrow{transform: rotateX(180deg); }
.prCover:not(.nestedPage) .widget_padding {padding: 0;margin: 0;}
.prCover .pcDropDown__btn {color: #5e5e5e;background: #fff;text-align: center;line-height: 60px;border-left: 1px solid #e5e5e5; padding: 0 25px;height: 56px;display: inline-block;font:normal 16px/60px "MontSerrat", sans-serif;z-index: 11;position: relative;min-width: 220px; }
.prCover .pcDropDown__btn.generic_button.stats {padding: 0 25px;text-shadow: none;}
.prCover .pcDropDown__btn:hover {text-decoration: none; }
.prCover #mainwrap a.generic_button, .prCover #mainwrap .generic_button {font-weight: normal;text-shadow: none;background: none;}
.prCover .pcDropDown__content {background: #fff;font:normal 14px "MontSerrat", sans-serif; box-sizing: border-box;position: absolute; left: 0;margin-top: -150%; width: 100%;transition: .4s ease-in-out;z-index: 1;}
.prCover .pcDropDown__content li {padding: 15px; border-top: 1px solid #d1d1d1;text-align: center; }
.prCover .pcDropDown__content li:first-child {border-top: none;}
.prCover .pcDropDown__content li .pcDropDown__title {font:normal 15px "MontSerrat", sans-serif;text-align: center;color: #000; }
.prCover .pcDropDown__content li a {color: #5e5e5e;line-height: 20px;text-align: center; }
.prCover .pcDropDown__content li a.coverTemplateOffline {font-family: "MontSerrat", sans-serif;text-align: center;}
..prCover .pcDropDown__content li a.coverTemplateOffline p{margin-bottom: 16px;}
.prCover .pcDropDown__content li .pcDropDown__subtitle {font:normal 15px "MontSerrat", sans-serif;color: #4296f6;display: inline-block;vertical-align: middle;margin-bottom: 0;}
/* regola con icona del pdf */
.prCover .pcDropDown__content li .pcDropDown__icon {display: block;margin: 20px auto 10px;}
#createProjectCoverButton{background: #4296f6;}
.prCover .generic_button.cover {padding: 0;background: #4296f6;color: #fff;font:normal 16px "MontSerrat", sans-serif;}
.prCover .widget_title.pcDropDown__btn.pcDropDown__btn--cover.j-pcddBtn{color: #4296f6;}
h3.pcDropDown__title + p{margin-bottom: 10px;}
.open .pcDropDown__content {margin-top: 0;border: 1px solid #e5e5e5;}

.prCover .pcFilters__selects {width: 100%; display: inline-block;vertical-align: top;box-sizing: border-box;}
.prCover .pcFilters__checkboxes {width: 50%;display: inline-block;vertical-align: top;box-sizing: border-box;padding-left: 10px;}
.prCover .pcFilters__field input {display: none;}
.prCover .pcFilters__field input:checked + .pcFilters__label:after {background: url("../../img/projectCover/check.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 50% 50% #fff;background-size: 9px;}

.prCover .pcFilters__field + .pcFilters__field {margin-top: 10px; }

.prCover .pcFilters__label {display: inline-block;position: relative;font:normal 13px "MontSerrat", sans-serif;text-transform: uppercase;color: #fff; margin-right: 20px;margin-top: 8px;padding-right: 26px;}
.prCover .pcFilters__label:after {content: ''; display: inline-block; position: absolute;width: 18px;height: 18px;right: 0;top: -3px;background-size: 15px;background: #fff;}
.prCover .pcFilters__hint {font:normal 12px/16px "MontSerrat", sans-serif;display: inline-block;}

.prCover .pcFilters__subtitle {font:normal 14px "MontSerrat", sans-serif;padding: 0;margin-bottom: 0;color: #000;}

.prCover .pcFilters {font-size: 0;background-color: #f6f6f6;padding:5px 10px 10px;position: relative;}
.prCover .pcFilters:after {content: "";display: table;clear: both;}
.prCover .pcFilters:before, .prCover .filters-tool:before {content: '';position: absolute;top: 0;bottom: 0;right: 0;left: 0;background-color: #000;opacity: 0;z-index: -1;}

.prCover .pcFilters__title {background-color: transparent;border-bottom: none;color: #418ee0;font: normal 20px/1em "MontSerrat", sans-serif;padding: 0;}
.prCover .pcFilters__title--alt {padding-bottom: 0px;padding-top: 0px;color: #606060;font-size: 14px;float: left;}
.prCover .pcFilters__title--alt .j-numSelected{font: normal 1em/1.3em "MontSerrat", sans-serif;}
.prCover .pcFilters__filter {width: 100%;float: left;font-family: "MontSerrat", sans-serif;padding: 5px 0 0;box-sizing: border-box;}
.prCover .pcFilters__filter.active{margin:0 0 30px;}
.prCover .pcFilters__filter input {color: #898989;font: italic normal 14px "MontSerrat",sans-serif;}
.prCover .pcFilters__filter input::-webkit-input-placeholder { /* Chrome/Opera/Safari */font-style: italic; color: rgb(173, 173, 173);}
.prCover .pcFilters__filter input::-moz-placeholder { /* Firefox 19+ */font-style: italic;color: rgb(173, 173, 173);}
.prCover .pcFilters__filter input:-ms-input-placeholder { /* IE 10+ */font-style: italic;color: rgb(173, 173, 173);}
.prCover .pcFilters__filter input:-moz-placeholder { /* Firefox 18- */font-style: italic;color: rgb(173, 173, 173);}
.prCover .placeholder {font:normal 14px "MontSerrat", sans-serif;color: rgb(173, 173, 173);}

.choice__more{font-size: 14px;color: #418ee0;text-decoration: underline;font-style: italic;display: none;margin-bottom: 0;padding-top: 2px;font-weight: 400;}

.prCover .ms-drop {display: none;z-index: 99;position: relative;border-top: none;width: 100%;}
.prCover .ms-choice.opened + .ms-drop .ms-search{top: -29px; position: absolute; padding: 4px 10px 3px; width: 87.5%;  border: none;}
.prCover .ms-drop.closeApply::after {content: 'Close to apply';display: block;  position: absolute; z-index: 999; top:-52px; right: 10px;font: italic 14px/14px "MontSerrat"; color:#418ee0; border-bottom: .5px solid; text-align: right;cursor: pointer;}
.prCover .ms-drop ul {overflow-y: scroll; }
.prCover .ms-drop ul.ms-drop--selectAll {padding-bottom: 0;}
.prCover .ms-drop ul input {opacity: 0; visibility: hidden;position: absolute;}
.prCover .ms-drop li {font-size: 14px;color: #5e5f5f;background-color: #fff; box-sizing: border-box; }
.prCover .ms-drop li:hover{background-color: #418ee0;color:#fff;}
.prCover .ms-drop li.ms-select-all:hover,
.prCover .ms-drop li.ms-deselect-all:hover{background-color: white;color:white}
.prCover .ms-drop li span {display: inline-block;position: relative;box-sizing: border-box;padding:5px 35px 5px 10px;color: #4c4c4c;vertical-align: middle;border-top: 1px solid #e6e6e6;width: 100%;font:normal 13px/1.1em "MontSerrat", sans-serif;}
.prCover .ms-drop li:nth-child(2) span{border-top:none;}
.prCover .ms-drop li span:after {content: attr(data-hint); display: inline-block;font: normal 1em/30px "MontSerrat", sans-serif; color: #606060; position: absolute; right: 15px;top: 47%; margin-top: -15px;}
.prCover .ms-drop li.selected{background: #fafafa;}
.prCover .ms-drop li:hover > label > span,
.prCover .ms-drop li:hover > label > span::after {color: #fff;cursor:pointer;}
.prCover .ms-drop li.selected > label > span,
.prCover .ms-drop li.selected > label > span::after {color: #adadad;/* cursor: crosshair; */}
.prCover .ms-drop li.selected span:before {}
.prCover .ms-no-results {padding: 15px;}
.prCover .ms-drop li.selected.ms-select-all{background: #fff;border-right: 1px solid #dadada;}
.prCover .ms-select-all {position: absolute;bottom: -30px;right: -1px;left: -1px;z-index: 99;padding-right: 15px;border: 1px solid #dadada;border-top: none;font: italic normal 1em/28px "MontSerrat", sans-serif;text-decoration: none;box-sizing:content-box;}
.prCover .ms-deselect-all {position: absolute; top: 0px;z-index: 99;border: none;font: italic normal 1em/28px "MontSerrat", sans-serif;text-decoration: none;box-sizing:content-box;background-color:transparent!important;}
.prCover .ms-select-all label,
.prCover .ms-deselect-all label {color: #418ee0;font-size: 14px;padding-left: 10px;}
.prCover .ms-select-all label em,
.prCover .ms-deselect-all label em{display:inline-block;border-bottom:.5px solid;text-decoration: none;font: italic normal 1em/14px "MontSerrat", sans-serif;margin: 4px 0 0;}
.prCover .ms-deselect-all .auxAll {text-decoration:none;position:absolute;top:-56px;white-space:nowrap;}
.prCover .multipleSelect {position: relative;max-width: 100%;border: 1px solid #dadada;border-top: none;box-sizing: border-box;}
.prCover .multipleSelect.active{margin:0 0 30px;}
.prCover .ms-choice{width: 100%;}
.prCover .ms-choice span{font:normal 13px "MontSerrat", sans-serif;color: #606060;}
.prCover .ms-drop li.selected {pointer-events: none;}
.prCover .ms-drop li.ms-select-all:hover,
.prCover .ms-drop li.ms-deselect-all:hover{background-color: #fff;color:#fff;text-decoration: none;}
.prCover .filtersApllied{border: 1px solid #dadada;border-bottom: none;width: 100%;position: relative;background: #fff;box-sizing: border-box;}
.prCover .filtersApllied:after{content:'';display: block;position: absolute;bottom: 0;left:0;right: 0;background:#dadada;height: 1px;}
.prCover .filtersApllied.active{padding: 0 10px 5px;}
.prCover .ms-search {border: 1px solid #e6e6e6;border-width: 1px 0;background-color: #fff;z-index: 99;padding: 9px 10px;width: 100%;box-sizing: border-box;}
.prCover .allSelected.ms-parent .auxAll {display:inline;}
.prCover .filtersApllied.active.opened {padding: 0 10px 27px;}
.selectedFilters.open{border: 1px solid #dadada;border-top: none;}
.prCover .ms-choice{border: none;padding: 5px 10px;padding-right: 12%;background-color: #fff;min-height: 29px;width: 100%;text-align: left;position: relative;background: #fff url("../../img/projectCover/arrow_down.svg?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 96% 50%;background-size: 10px;}
.prCover .ms-choice.opened{background: #fff url("../../img/projectCover/arrow_up.svg?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 96% 50%;background-size: 10px;border-bottom: 1px solid #aeaeae;}
.prCover .ms-choice:after {content: '';display: block;position: absolute;background: #e6e6e6;right: 12%;top: 0;bottom: 0;width: 1px;}
/* .prCover .ms-choice.opened .placeholder{opacity: 1;position: absolute;top: -20px;right: 10px;font-size: 11.5px;}
 */
.prCover .pcFilters__recap {display: none;border-top: 1px solid #eeeeee;border-bottom: 1px solid #eeeeee;padding: 0;overflow: auto;zoom: 1;margin: 6px 0;}
.prCover .appliedFilerts__filter {font:normal 13px/1.1em "MontSerrat", sans-serif;border-radius: 5px;display: inline-block;margin: 5px 5px 0 0;padding: 2px 5px;/* min-width: 60px; */background: url("../../img/projectCover/close.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 94% 50% #418ee0;padding-right: 30px;color: #fff;cursor: pointer;position: relative;z-index: 22;}
.prCover .pcFilters__clearAll {display: inline-block;font:normal 13px "MontSerrat", sans-serif; text-transform: uppercase;cursor: pointer; color: #418ee0; margin-bottom: 0; position: relative;z-index: 22;float: right;}
.prCover .pcFilters__clearAll:hover {text-decoration: underline;}
.prCover .ms-deselect-all .auxAll:hover,
.prCover .ms-select-all .selectall:hover {cursor: pointer;}
.prCover .multiview-dropdown {display: none;}
.prCover .drop-down-box.order-by {width: 32%;float: left;}
.prCover .skin.with-orderby.with-multiview {width: 66% !important; margin: 0 2% 0 0;}

.prCover .filterOrderBy__selected {padding-left: 5px;font:normal 16px/1em "MontSerrat", sans-serif;color: #353535;}
.prCover .filterOrderBy__intro {text-transform: uppercase;font:normal 14px/16px "MontSerrat", sans-serif;color: #353535; font-weight: bold;}

.prCover .drop-down-box > div {padding: 11px;font-weight: normal;position: relative;background-size: 15px;}
.prCover .drop-down-box > div:after {content: '';display: block;position: absolute; background: #e6e6e6;right: 40px;top: 0;bottom: 0;width: 1px;}

.prCover .closed .icon-triangle {background: none;border-left: 0;border-right: 0;}
.prCover .filter-open-button {display: inline-block;height: 10px;width: auto;border-left: 0;border-right: 0;padding-top: 5px;text-indent: 0em;font-size: 10px;text-align: center;transform: rotateX(-180deg);transform-origin: 50% 48%;transition: .3s ease-in-out; }

.prCover .closed .filter-open-button {transform: rotateX(0deg);}

.prCover #homeContentFilter .j-filterOrderBtn a{font-size: 8px;position:absolute;right:0;top:0;width: 40px;height: 38px;box-sizing: border-box;margin: 0;padding: 0;text-indent: -99px;overflow: hidden;background: none;}
.prCover #homeContentFilter .j-filterOrderBtn.closed a{height: 34px;}
.prCover #homeContentFilter a::before{position:absolute;text-indent:0;left: 33%;top: 43%;font-style: normal;}

.prCover .drop-down-box li {border-top: 1px solid #D1D1D1;font:normal 16px "MontSerrat", sans-serif;}
.prCover .drop-down-box li:first-child {border-top: 0;}
.prCover .drop-down-box .filter {padding: 10px;}
.prCover .drop-down-box a.filterOff,
.prCover .numbers a,
.prCover #homeContentFilter a,
.prCover #postFilter a,
.prCover .navi-filters.over-zone .text-message,
.prCover #contextualSearch input{font: italic normal 14px "MontSerrat", sans-serif;}

.prCover .over-zone .fake-field {padding: 5px 30px 5px 10px;line-height: 28px;font-family: "MontSerrat", sans-serif;}
.prCover .navi-filters.over-zone.opened .open-close-filters a,
.prCover .navi-filters .open-close-filters a {text-indent: 0em;background: none;font-size: 20px;color: #535a62;line-height: 35px;height: 38px;width: 40px;text-align: center;}
.prCover .filters-tool .over-zone.opened .open-close-filters span {background: none;}
.prCover .navi-filters .open-close-filters a:hover {text-decoration: none;}

.prCover .cover_library {padding: 0 0 15px;}
.prCover .cover_library .contents_wrapper {padding: 0 0 25px 0;margin: 0; overflow: hidden;}

.prCover .cover_library .scheda.coverLibrary {margin: 0 2% 2% 0;padding: 0;}
.prCover .cover_library .scheda.coverLibrary:nth-of-type(3n){margin-right: 0;}
.prCover .cover_library .scheda.coverLibrary .coverimage {position: absolute;}
.prCover .cover_library .scheda.coverLibrary .coverimage:after {content: '';display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: black;transition: .3s ease-in;opacity: 0;}
.prCover .cover_library .scheda.coverLibrary .content-toolbar {top: 45px;  padding: 0; position: absolute; display: block; float: right;
}

.prCover .cover_library .scheda.coverLibrary .content-toolbar a {background: none;font-size: 0;height: 50px; width: 50px;text-indent: 0px;opacity: 0; transition: .3s ease-in;color: #656565;}
.prCover .cover_library .scheda.coverLibrary .content-toolbar a:hover {text-decoration: none;color: #333333;}
.prCover .cover_library .scheda.coverLibrary .content-toolbar a .i-favorite { display: block;
	background-image:url(‘../../../../img/projectCover/favorite.svg?v=@TAMTAMY_PREVENT_CACHE@’);
	background-repeat: no-repeat;
	height: 30px; width: 30px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}
.prCover .cover_library .scheda.coverLibrary .content-toolbar a .i-unfavorite {
	background-image:url(‘../../../../img/projectCover/favorite_red_op.svg?v=@TAMTAMY_PREVENT_CACHE@’);
	background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    display: block;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	-webkit-transform: translateY(-50%) translateX(-50%);
}


.prCover .cover_library .scheda.coverLibrary .content-toolbar a .i-modify {display: block;30px;width: 30px; }
.prCover .cover_library .scheda.coverLibrary:hover .content-toolbar a {opacity: 1; }
.prCover .cover_library .scheda.coverLibrary:hover .content-toolbar a:before{color:#303030;}
.prCover .cover_library .scheda.coverLibrary:hover .coverimage::after {z-index: 1;opacity: .3;}
.prCover .cover_library .scheda.coverLibrary .front {position: relative; border: 1px solid #d1d1d1;box-sizing: border-box;padding-bottom: 56.25%;height: 0; border-bottom: 0;}
.prCover .cover_library .scheda.coverLibrary {width: 32%;}
.prCover .cover_library .scheda.coverLibrary .front:before {display: none; }
.prCover .cover_library .scheda.coverLibrary h2.fancy-title {font:normal 18px "MontSerrat" sans-serif;height: 48px;margin-top: 0; overflow: hidden;padding:0;margin-bottom: 4px; }
.prCover .cover_library .scheda.coverLibrary h2.fancy-title a {color: #333;font:normal 16px/18px "MontSerrat", sans-serif;display: inline-block;height: 60px;}
.prCover .cover_library .scheda.coverLibrary h2.fancy-title a:hover {text-decoration: none; }
.prCover .cover_library .scheda__upperInfo{padding-bottom: 5px;}
.prCover .cover_library .scheda__upperInfo h4 {display: inline-block;margin-bottom: -13px;font:normal 14px "MontSerrat", sans-serif;color: #606060;margin-top: 0}
.prCover .cover_library .scheda__upperInfo .internal {float: right; text-align: right;}
.prCover .cover_library .scheda__upperInfo #usage {padding: 0;}
.prCover .cover_library .scheda__upperInfo #usage .NonDisclosure,
.prCover .cover_library .scheda__upperInfo #usage .Public,
.prCover .cover_library .scheda__upperInfo #usage .Limited{font:bold 14px "MontSerrat", sans-serif;}
.prCover .cover_library .scheda__upperInfo #usage .Public {color: #32b902;}
.prCover .cover_library .scheda__upperInfo #usage .Public:after {content: '';}
.prCover .cover_library .scheda__upperInfo #usage .Limited {color: #eaa206;}
.prCover .cover_library .scheda__upperInfo #usage .Limited:after {content: ''; }
.prCover .cover_library .scheda__info {background: #fff; }
.prCover .cover_library .scheda__infoAux {position: relative; padding: 15px;border: 1px solid #d1d1d1; border-top: none;border-bottom: 0px; }
.prCover .cover_library .scheda__infoBrand {padding: 15px;border: 1px solid #d1d1d1;border-top: none;}
.prCover .cover_library .schedaInfo__cliente {font:normal 13px/15px "MontSerrat", sans-serif;min-height: 15px; margin: 0; font-weight: bold;}
.prCover .cover_library .schedaInfo__views {position: absolute;bottom: 15px;right: 15px;}
.prCover .cover_library .schedaInfo__views .i-view {font-size: 13px;color: #676f73;padding-right: 5px;}
.prCover .cover_library .schedaInfo__number {color: #676f73;font:normal 16px "MontSerrat", sans-serif;}
.prCover .pcModal {text-align: center;padding: 25px;z-index: 1041;padding-right: 25px!important;}
.prCover .pcModal .modal-header {border-bottom: none; }
.prCover .pcModal .firstSelectLoading span {font-family: "MontSerrat", sans-serif; }
.prCover .pcModal .chosen-container-single .chosen-default,
.prCover .pcModal .chosen-container-single .chosen-single {background: #fff;border-radius: 0; box-shadow: none;font-size: 16px;padding: 13px; border: 1px solid #e6e6e6;color: #606060;margin-top: 10px;}
.prCover .chosen-container-single .chosen-single div b {display: none;}
.prCover .pcModal .chosen-container-single .chosen-default:after,
.prCover .pcModal .chosen-container-single .chosen-single:after {content: "\e901"; position: absolute;display: inline-block;font:normal normal 10px/1 'icomoon' !important;speak: none;font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;right: 15px; top: 20px; color: #606060;transform-origin: 50% 60%;transform: rotateX(0deg); transition: .3s ease-in-out;}
.prCover .pcModal .chosen-container-single .chosen-default:before,
.prCover .pcModal .chosen-container-single .chosen-single:before {content:'';display: block;position: absolute;background: #e6e6e6;right: 50px;top: 0; bottom: 0; width: 1px;}
.prCover .pcModal .chosen-container-single .chosen-single {color: #333;}
.prCover .pcModal .chosen-container-single .chosen-single > span {margin-right: 42px;}
.prCover .pcModal .chosen-with-drop .chosen-default:after,
.prCover .pcModal .chosen-with-drop .chosen-single:after {transform: rotateX(-180deg); }
.prCover .createProjectCoverModal .chosen-container .chosen-drop {z-index: 1010;}
.prCover .pcModal .modal-footer {border-top: none;background:#fff; padding: 0;padding-top: 20px;}
.prCover .pcModal .modal-body {padding: 0; }
.prCover .pcModal .generic_button,
.prCover .pcModal .generic_button_danger {padding: 0; margin: 5px 0; background:none; }
.prCover .pcModal .btn-success:hover .pcModal__btnIcon { transform: translateX(5px); }
.prCover .pcModal .modal-body {max-height: none;overflow-y: initial;}
.prCover .pcModal .chosen-drop {background: #fff; text-align: left; z-index: 5; border: 1px solid #e6e6e6; }
.prCover .pcModal .chosen-container {font-family: "MontSerrat", sans-serif; }
.prCover .pcModal .chosen-container * {font-family: "MontSerrat", sans-serif; }
.prCover .pcModal .chosen-container .chosen-drop .chosen-results {margin: 0; padding: 0; font-size: 16px; }
.prCover .pcModal .chosen-container .chosen-drop .chosen-results > li {border-bottom: 1px solid #e6e6e6; padding: 15px; }
.prCover .pcModal .chosen-container .chosen-drop .chosen-results > li.highlighted {background: #f8f8f8;color: #333;}
.prCover .pcModal__title {font:normal 18px "MontSerrat", sans-serif;font-weight: bold;text-transform: uppercase;color: #000;}
.prCover .pcModal__subtitle {font:normal 16px "MontSerrat", sans-serif; font-weight: bold;}
.prCover .pcModal__btn {color: #000; background: none;text-shadow: none;text-transform: uppercase;font:bold 14px "MontSerrat", sans-serif;position: relative;padding: 0;}
.prCover .pcModal__btn:after {content:'';display: block;position: absolute;bottom: -2px;left: -1px;right: -1px;height: 1px; background-color: #dadada;}
.prCover .pcModal__btn:hover:after {height: 2px;}
.prCover .btn-danger {float: left;}
.prCover .pcModal__btnIcon {display: inline-block;width: 13px;padding-left: 5px;transform: translateX(0px);transition: .3s ease-out;}
.prCover .flexslider .slides > li {height:28px; line-height: 28px; margin-right:0; padding-right:0;}
.prCover .no_content_message p,
.prCover .no_content_message li {font: normal 14px "MontSerrat", sans-serif;}
.prCover #mainwrap .attachment_selected,
.prCover #mainwrap .fulltext_selected,
.prCover #mainwrap .fulltext_selected span,
.prCover #mainwrap .user_selected,
.prCover #mainwrap .user_selected span,
.prCover #mainwrap .tag_selected,
.prCover #mainwrap .jtt-selected-item .jtt-sphere,
.prCover #mainwrap .jtt-selected-item .jtt-tag,
.prCover #mainwrap .filters-tool .sphere.current,
.prCover #mainwrap .sphere-selected,
.prCover #mainwrap .tag_token,
.prCover #mainwrap .filters-tool .jtt-sphere{border-radius:5px;padding: 2px 15px 4px 3px;font: normal 13px/13px "MontSerrat", sans-serif;margin: 2px 3px 0 0;}
.prCover #mainwrap .tag_selected{line-height: 1.4em;padding: 2px 25px 4px 3px;}
.prCover .jtt-chooser .jtt-item-remover,
.prCover .jtt-item-remover,
.prCover .tag_selected_remover,
.prCover a.tag_remover{top:50%;margin-top: -9px;right: 2px;}
.prCover span#coverCodeContainer-error-msg {font-weight: bold;display: inline-block;padding-top: 10px;}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 580px) {
	.prCover .cover_library .scheda.coverLibrary {
    	width: 100%;
	}
	.prCover .cover_library .scheda.coverLibrary {
		margin: 0;
	    padding: 0 0% 7% 0;
	}
	.cover_library .scheda.coverLibrary:nth-of-type(3n+1){
		clear: none;
	}
	.prCover .cover_library .scheda.coverLibrary .coverimage:after {opacity: 0;
	}
	.prCover .cover_library .scheda.coverLibrary .content-toolbar a {opacity: 1
	}

}
@media only screen and (min-width : 580px) and (max-width : 768px) {
	.prCover .cover_library .scheda.coverLibrary {
    	width: 50%;
	}
	.prCover .cover_library .scheda.coverLibrary {
	    margin: 0;
        padding: 0 1% 6% 1%;
	}
	.cover_library .scheda.coverLibrary:nth-of-type(3n+1){
		clear: none;
	}
	.prCover .cover_library .scheda.coverLibrary .coverimage:after {opacity: 0;
	}
	.prCover .cover_library .scheda.coverLibrary .content-toolbar a {opacity: 1
	}
}
