.projectCover .upload-box section .modal.fade{opacity:0;top:-350%;}
.projectCover .upload-box section .modal.fade.in{opacity:1;top:10%;}
.projectCover .upload-box section .modal-header h2{margin:0;}
.projectCover .upload-box section .modal .modal-body.helper,
.projectCover .upload-box section .modal .modal-body.helper #english{margin:0;}
.projectCover .upload-box section .modal-body ul {list-style:inside circle;padding-left: 10px;}
.projectCover .upload-box section .modal-body ul ul {padding:0 0 10px 13px;list-style-type: square;color:#8a8a8a;}

.projectCover .upload-box .usageModal .modal-body.helper {max-height: 100%;}

#createProjectCover .modal-body{overflow:visible;}
#createProjectCover .modal-body .container{margin:10px 0 0;z-index: 1;position: relative;}
#createProjectCover .modal-body .helper{position:relative;padding:0 0 0 50px;z-index: 0;display: block;}
#createProjectCover .modal-body .helper::before{content:'';display:block;position:absolute;width: 45px;height: 45px;left: 0;background:transparent url(../../img/pdf-flat.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 0 0;background-size:cover;}
#createProjectCover .modal-body h3{color:#4493e9;margin:0 0 10px;}
#createProjectCover .modal-body .helper h3{color:#4c4c4c;font-size:1.2em;text-decoration:none;}
#createProjectCover .modal-body .helper p{color:#4c4c4c;}
#createProjectCover .modal-body .helper:hover{text-decoration:none;}
#createProjectCover .modal-body .helper:hover p{text-decoration:underline;}
#createProjectCover .modal-body .coverExclusionTypeDiv{border:1px solid #b1b1b1; padding:10px; color:#4c4c4c; margin:10px 0 0;}
#createProjectCover .modal-body .coverExclusionTypeDiv i{color:#fda425;margin:0 6px 20px 0; float:left;}
#createProjectCover .modal-body .firstSelectLoading span{display:inline-block; vertical-align:middle;}