/*
Name: Green Leaf Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Dark Skin Customizing */
a, a h1, a h2, a h3, a h4, a h5 {color:#326221;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#8aa47f;}
body{background:#8aa47f url(../graphic/bg-leaf2.jpg) left top repeat-x;}
#header h1{background:url(../graphic/logo-tamtamy.gif) no-repeat;}
#header ul li a{color:#326221;text-shadow:0 1px 0 #8aa47f;background:#1f1f1f url(../graphic/title-bg.png) repeat-x;border-top:1px solid #547349;border-right:1px solid #547349;border-left:1px solid #547349;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{text-shadow:0 1px 0 #fff;color:#326221;background:#fff url(../graphic/title-bg.png) bottom repeat-x;border-top:1px solid #fff;border-right:1px solid #fff;border-left:1px solid #fff;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3{background:#427930 url(../graphic/hl.png) repeat-x top;color:#326221;text-shadow:0 1px 0 #8aa47f;}
#home-wrapcontent, #wrapcontent {background:#fff;}
.vwall a, #userview a {color:#a4cb96;}
ul.pager li a:hover,ul.pager li a.on{background:#326221;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:url("../graphic/title-bg.png") repeat-x scroll 0 0 #326221;border-left:1px solid #326221;border-right:1px solid #326221;border-top:1px solid #326221;color:#fff;}
