/*
Name: Brick Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
a, a h1, a h2, a h3, a h4, a h5, .tag_list a {color:#576878;}
.tag_list a:hover {background:#576878;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#777;}
h1, h2, h3, h4, h5 {color:#988967;}
#home-highactmyp h2 {font-size:12px;text-transform:uppercase;}
body{background:#576878;color:#615844;}
#mainwrap {width:1016px;}
#header {height:120px;background:url(../graphic/header.gif) no-repeat bottom;}
#header h1{background:url(../graphic/logo.gif) no-repeat;width:182px;height:60px;top:0px;left:0px;}
#header ul {padding:0 0 0 30px;height:40px;bottom:1px;}
#header ul li {background: url(../graphic/menu-bg-3d.gif) no-repeat right;padding:0 15px 0 0;margin:0 0 0 -10px;}
#header ul li a{-moz-border-radius:0px;-webkit-border-radius:0px;height:25px;line-height:25px;color:#988967;text-shadow:0 1px 0 #efeae0;background: url(../graphic/menu-bg.gif) no-repeat bottom left;border:none;padding:15px 8px 0 8px;margin:0px;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{color:#988967;text-shadow:0 1px 0 #efeae0;background: url(../graphic/menu-bg.gif) no-repeat bottom left;border:none;}
#header ul li:hover,#header ul li#first:hover {margin:-4px 0 0 -10px;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3{background:#37455e url(../graphic/hl.png) repeat-x top;color:#9eacc3;text-shadow:0 1px 0 #000;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:url("../graphic/title-bg.png") repeat-x scroll 0 0 #1f1f1f;border-color:#1f1f1f;color:#9eacc3;}
.vwall a, #userview a {color:#cfc1a2;}
.vwall a:hover, #userview a:hover {color:#576878;}
ul.pager li a:hover,ul.pager li a.on{background:#cfc1a2;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer {padding:40px 0 0 0;background: url(../graphic/footer.gif) no-repeat top right;}
#footer p#global, #footer p#logo_pow {top:40px;}
#footer p#logo_pow a{background:url(../graphic/logo_pow.gif) no-repeat;}
.wrapcontent_padding {padding: 0px 35px 0px 5px;}
#home-wrapcontent, #wrapcontent, .exploded #home-highactmyp {background:url(../graphic/bg.gif) repeat-y;border:none;}
#home-wrapcontent, #wrapcontent {-moz-border-radius:0px;-webkit-border-radius:0px;}
.exploded #home-highactmyp {background:url(../graphic/actybg.gif) no-repeat bottom;padding:20px 0 50px;border:none;}
#header #search {padding:0 30px 0 0;right:0;bottom:auto;top:0px;background:url(../graphic/search.gif) no-repeat;}
#header #search {-moz-border-radius:0px;-webkit-border-radius:0px;}
#header #search .ac_input {-moz-border-radius-topleft:0px;background:none;color:#615844;}
a.searchButton {background:none;right:30px;}
.exploded #home-highactmyp #myprofile img {right:10px;padding:5px 5px 0 0;background:url(../graphic/avatar-bg-1.gif) no-repeat;border:none;-moz-border-radius:0;-webkit-border-radius:0;}
.exploded #home-highactmyp .wrapwidg {margin:0px 1% 10px 0;}
.exploded #home-highactmyp .highlight {margin:0px 1% 10px 2%;}
.wrapwidg {background:#EFEAE0;border:none;}
.wrapwidg {-moz-border-radius:0px;-webkit-border-radius:0px;-moz-box-shadow:none;-webkit-box-shadow:none;}
ul.pager li a {background:#fff;color:#cfc1a2;}
a.img_highlight  {background:#cfc1a2;}
ul.pager li a:hover, ul.pager li a.on {background:#988967;}
ul.intentions li, ul.intentions li:hover {background: url(../graphic/intention.gif) no-repeat;-moz-border-radius:0px;-webkit-border-radius:0px;}
ul.intentions li, ul.intentions li a {height:45px;line-height:45px;}
ul.intentions li#contents a,ul.intentions li#blog a,ul.intentions li#group a,ul.intentions li#c11 a,ul.intentions li#extt a {background-position:3px 7px;}
ul.intentions li#checkhig a,ul.intentions li#hist a,ul.intentions li#conversations a,ul.intentions li#exblog a,ul.intentions li#php a {background-position:3px 7px;}
#home-wrapcontent h2.widget_title {margin:-5px 0 5px -2%;width:100%;padding: 0 2%;background:none;color:#615844;}
#home-wrapcontent h2.widget_title {text-shadow:none;-moz-border-radius:0px;-webkit-border-radius:0px;}
.scheda {background:none;border:none;}
.scheda.mark_message .content, .scheda.mark_link .content {background:none;}
.scheda.mark_file .content, .scheda.mark_question .content {background:none;}
.tagcloud {background:none;}
.content_list_thumbnail {background:#cfc1a2;}
#homeContentFilter ul li a, #postFilter ul li a {background:#988967;color:#fff;-moz-border-radius:0px;-webkit-border-radius:0px;}
.filterOn {color:#fff;}
#homeContentFilter ul li a:hover, #postFilter ul li a:hover, .filterOn:hover {background:#576878;}
ul.intentions li a:hover {text-decoration:underline;}
#main.rightColumnPos {padding:0 60px 0 0;}
#main.leftColumnPos {padding:0 0 0 60px;}
#myprofile {background:none;border:none;}
ul.tab_list {border-color:#cfc1a2;}
ul.tab_list li a, ul.tab_list li h3.tab span  {border-color:#988967;background:#988967;color:#fff;}

