/* Sky Dive Rules*/
body.skydive {background: #eee;}

.skydive .hideContent{display:none;}

.skydive .header.skydive .wrapper {height: 215px;position: relative;overflow:visible;}
.skydive .header .wrapper {max-width: 991px;margin: 0 auto;}
.skydive .widget_padding {font:normal 1em/1em 'Montserrat', sans-serif;background: transparent;}
.skydive .jumbotron .widget_padding{border:none;margin: 0;}
.skydive .widget_padding .link{display:block;margin:0 0 15px;font: normal 14px/1.1em 'Montserrat', sans-serif;color: #f55b1f;text-decoration:underline;text-transform:uppercase;}

.skydive .homeColumn0 .widget_padding{padding: 13px;background: #fff;}
.skydive .homeColumn0 .creation .widget_padding {background: transparent;border: none;padding: 0;margin: 0;}

.skydive > .mainFixedWidth {width: 100%;position: relative;}
.skydive > .mainFixedWidth #wrapcontent{padding:0;}
.skydive > .mainFixedWidth .centralBody{margin:0 auto;float: none;}
.skydive > .mainFixedWidth .centralBody #main{position:static;padding: 550px 0 0;}
.skydive > .mainFixedWidth .centralBody .headercolumn_generico{background: #01b3e2;position: absolute;float: none;left: 0;top: 0;}
.skydive .error_page{margin:-535px 0 0;}

/* header Area */
.skydive #message-area {left: 50%;margin-left: -500px;}
.skydive .header h2.title {background: #f55b1f;color: #fff;padding: 7px 0;margin: 0;text-align: center;font: normal 2em 'Montserrat',sans-serif;text-transform: uppercase;}
.skydive .header.skydive .wrapper::before{content: '';display:block;position:absolute;width: 700px;height: 215px;bottom:0;right:-70px;background: transparent url('img/Illustration.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 110px -8px;background-size: 93%;}
.skydive .header.skydive .wrapper .logo{display:inline-block;width: 330px;height: 126px;background:transparent url('img/skydive_logo.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 0;margin: 30px 0 0;}
.skydive .header.skydive .wrapper .logo span{display:none;}
.skydive .header.skydive .wrapper h2{color:#fff;font: normal 22px/1.2em 'Montserrat',sans-serif;padding:0;overflow: hidden;display: block;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.skydive .header.skydive .wrapper .complementary{display:block;position:absolute;bottom:40px;right:0;max-width: 250px;padding: 0 2px 0 0;text-align:right;color: #07404e;font: italic normal 25px/1.1em 'Montserrat',sans-serif;}

.skydive .jumbotron .widget_padding #howItWorks{background:#fff;}
.skydive .jumbotron .grayer{background:#e6e5e5;text-align:center;padding: 14px 0;}
.skydive .jumbotron .grayer a.button{display:inline-block;background:#fff;color: #f55b1f;border-radius:4px;padding:15px 60px;margin:0;font:bold 1.3em/1.1em 'Montserrat',sans-serif;text-transform: uppercase;text-decoration:underline;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}


/* Horizontal Accordion */
.skydive .header .wrapper .accordion{display:block;height:200px;width: 100%;max-width: 1080px;overflow: hidden;margin: 0 auto;}
.skydive .header .wrapper .accordion ul {width: 100%;display: table;table-layout: fixed;margin: 0;padding: 0;}
.skydive .header .wrapper .accordion ul li {display:table-cell;vertical-align: top;position: relative;width: 25%;height: 100%;border-right: 1px solid #eee;background-repeat: no-repeat;background-position: center center;transition: all 500ms ease;}
.skydive .header .wrapper .accordion {border-left: 1px solid #eee;}
.skydive .header .wrapper .accordion section{display: block;text-align:center;vertical-align:top;height:200px;box-sizing:border-box;background: #fff;}
.skydive .header .wrapper .accordion section:first-child{}

.skydive .header .wrapper .accordion section > a{overflow:hidden;display:block;text-align:center;text-decoration: none;height: 100%;position: relative;width: 226px;background: #fff;cursor: default;padding: 10px;}
.skydive .header .wrapper .accordion section > p{display:table;position:absolute;top: 0;left:260px;width:730px;height:200px;}
.webkit .skydive .header .wrapper .accordion section > p{height: 200px;}

.skydive .header .wrapper .accordion section > p span{display:table-cell;width: 188px;color: #4b4b4b;text-align:left;position:relative;padding:20px 15px 10px 45px;font: normal 15px/1.3em 'Montserrat',sans-serif;border-left: 1px solid #eee; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.skydive .header .wrapper .accordion section > p span::before{content:'';display:block;position:absolute;left: 20px;width: 12px;height: 12px;border-radius:50px;border: 4px solid #01b3e2;}
.skydive .header .wrapper .accordion section > a .order{position:relative; display:block; margin:0;}
.skydive .header .wrapper .accordion section > a .order{padding: 0 0 20px;}
.skydive .header .wrapper .accordion section > a .order + p{font: normal 12px/1.4em 'Montserrat',sans-serif;max-width: 85%;color:#4b4b4b;margin: 0 auto 10px;}
.skydive .header .wrapper .accordion section > a .order + p b{font-size:15px;}
.skydive .header .wrapper .accordion section.active > a .order + p b{font-size:15px;}
.skydive .header .wrapper .accordion section.completed > a .order + p b{color:#bfbfbf;}
.skydive .header .wrapper .accordion section .number{display:inline-block;text-align:center;color:#fff;background: #07404e;border:6px solid #fff;border-radius:100%;padding:0;width:35px;height:35px;font: normal 22px/35px 'Montserrat',sans-serif;}
.skydive .header .wrapper .accordion section.active .number{border-color: #01b3e2;}
.skydive .header .wrapper .accordion section.completed .number{background-color:#c2d0d3;}
.skydive .header .wrapper .accordion section .message{display:none;font:italic normal 13px/1.1em 'Montserrat',sans-serif;color: #01b3e2;}
.skydive .header .wrapper .accordion section.active .message{display:block;text-align:center;position: absolute;width: 100%;bottom: 5px;}
.skydive .header .wrapper .accordion section > a button{display:block;width:70%;margin: 0 0 0 -35%;padding:10px 20px;border:none;border-radius:4px;color:#fff;background: #f55b1f;font:normal 13px/1.1em 'Montserrat',sans-serif;text-transform:uppercase;position: absolute;bottom: 35px;left: 50%;cursor: pointer;transition:all 0.5s ease;}
.skydive .header .wrapper .accordion section > a button::before{content:'More';}
.skydive .header .wrapper .accordion .selected section > a button{background-color: #01b3e2;}
.skydive .header .wrapper .accordion .selected section > a button::before{content:'Close';}
.skydive .header .wrapper .accordion section > a .actors{display:block;position:absolute;width:100%;bottom: 75px;color:#747474;font: normal 12px/1.4em 'Montserrat',sans-serif;text-transform:uppercase;left: 50%;margin-left: -50%;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.skydive .header .wrapper .accordion section > a .actors::before{content:'\e903';vertical-align: bottom;font: normal 20px 'icomoon-skydive';color:#9d9d9d;padding: 0 10px 0 0;}
.skydive .header .wrapper .accordion section.completed > a .actors,
.skydive .header .wrapper .accordion section.completed > a .actors::before{color:#e6e6e6;}
.skydive .header .accordion ul li div a {display: block;height: 250px;width: 100%;position: relative;z-index: 3;vertical-align: bottom;padding: 15px 20px;box-sizing: border-box;color: #fff;transition: all 200ms ease;}
.skydive .header .accordion ul li div a * {opacity: 0;margin: 0;width: 100%;text-overflow: ellipsis;position: relative; z-index: 5;white-space: nowrap;overflow: hidden;-webkit-transform: translateX(-20px);transform: translateX(-20px);-webkit-transition: all 400ms ease;transition: all 400ms ease;}
.skydive .header .accordion ul li div a h2 {text-overflow: clip;font-size: 24px;text-transform: uppercase;margin-bottom: 2px;top: 160px;}
.skydive .header .accordion ul li div a p {top: 160px;}
/*-- Interactions --*/
.skydive .header .accordion ul.selected li { width: 0%; }
.skydive .header .accordion ul.selected li.selected { width: 100%; }
.skydive .header .accordion ul.selected li.selected a {  }
.skydive .header .accordion ul.selected li.selected a * {opacity: 1;-webkit-transform: translateX(0);transform: translateX(0);}

/* Left Widgets */
.skydive #loaderHeaders {width: 100%;text-align: center;margin: 0 0 20px;}
.skydive #loaderHeaders::before {animation: fa-spin 2s infinite linear;font-size: 3em;}
/* SkyDive -- Create Button Style */
.skydive .w-container > .job-posting-creation{padding:0;border: 0; background: none;}
.skydive .w-container > .job-posting-creation h2{display:none;}
.skydive .w-container > .job-posting-creation .generic_button.skydive{box-sizing:border-box; width: 100%; padding: 20px;}

/* content Area */
.skydive .homeColumn0 .deadline .widget_padding > div {font: normal 18px/1em 'Montserrat', sans-serif;color: #737373;}
.skydive .homeColumn0 .widget_padding .widget_title{font: normal 16px/1em 'Montserrat', serif !important;text-transform:uppercase;color: #000;background: none;border: none;padding: 0;margin: 0 0 13px;}

.skydive .w-container > div {display: block;padding: 13px;border: 1px solid #d6d6d6;overflow: hidden;margin: 0 0 10px;background: #fff;}

.skydive .w-container > .job-posting-creation h2{font: normal 16px/1em 'Montserrat', serif !important;text-transform:uppercase;color: #000;}
.skydive .w-container > .job-posting-creation h4,
.skydive .w-container > .job-posting-creation h4 span{font: normal 14px/1em 'Montserrat', serif !important;}
.skydive .w-container > .job-posting-creation h4 b{color: #747474;}
.skydive .w-container > .job-posting-creation h4 span{padding:0 0 0 15px;}
.skydive .w-container > .job-posting-creation .error-msg{float:left;margin-top:15px;text-align:center;}

.skydive .w-container > div.idea-publishing-status{font: normal 16px/1em 'Montserrat', sans-serif;text-transform:uppercase;color: #000;}
.skydive .w-container > div.idea-publishing-status .published-idea-count{font: bold 16px/1em 'Montserrat', sans-serif;color:#4ca8bf;text-align: right;min-width: 40%;display: inline-block;}
.skydive .tag_list{padding:10px 0 20px;}
.skydive .scheda{margin:0 0 10px;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.skydive .scheda .scheda_padding{padding:12px;overflow:hidden;}
.skydive .scheda .scheda_padding .ia-content-title{position:relative;display:block;margin-bottom: 20px;}

.skydive .scheda .scheda_padding .link_content_idea{color: #f55b1f;width: 70%;display: block;text-transform:uppercase;font: normal 20px/1.1em 'Montserrat', sans-serif;}
.skydive .scheda .scheda_padding .ia-edit-url{display:block;position:absolute;overflow:hidden;right:0;top:0;width:30px;height:30px;text-indent:-9999px;}
.skydive .scheda .scheda_padding .ia-edit-url a::after{content:'\e902';font: normal 30px 'icomoon-skydive';display:block;position:absolute;right:0;top:0;color: #333;text-indent:0px;cursor: pointer;}

.skydive .scheda .scheda_padding .ia-creation-info{display:block;width: 140px;position:absolute;top: 80px;left: 15px;}
.skydive .scheda .scheda_padding .ia-creation-info *{color:#848484;font: italic normal 12px/1.3em 'Montserrat', sans-serif;}
.skydive .scheda .scheda_padding .ia-creation-info > div > span:first-child{display:block;}
.skydive .scheda .scheda_padding .ia-creation-info > div > .ia-author{overflow:hidden;display:block;text-overflow:ellipsis;}

.skydive .scheda .scheda_padding .ia-company-logo {border:1px solid #eee;display: table;overflow:hidden;position: absolute;top:15px;left:15px;width:130px;height:60px;box-sizing: border-box;padding: 10px;}
.skydive .scheda .scheda_padding .ia-company-logo .column{display:table-cell;vertical-align:middle;text-align:center;}
.skydive .scheda .scheda_padding .ia-company-logo .column .ia-company-logo {border:none;height:auto;max-width:100%;box-sizing: border-box;left: 0;top: 0;padding: 0;position: relative;}
.skydive .scheda .scheda_padding .ia-info{padding: 0 0 0 167px;margin:0 0 10px;}

.skydive .scheda .scheda_padding .meta{display:inline-block;width: 48%;margin: 0 0 10px;box-sizing: border-box;}
.skydive .scheda .scheda_padding .meta *{font:normal 14px/1.3em 'Montserrat', sans-serif;}
.skydive .scheda .scheda_padding .meta .label{display: block;width: auto;margin: 0 10px 0 0;color:#747474;float: left;}
.skydive .scheda .scheda_padding .meta .allMetas{color:#202020;white-space: nowrap;overflow: hidden;display: inline-block;width: 65%;text-overflow: ellipsis;line-height: 1em;}
.skydive .scheda .scheda_padding .meta.skills {width: 100%;}
.skydive .scheda .scheda_padding .meta.skills .label {width: 120px;}
.skydive .scheda .scheda_padding .meta.skills .allMetas {width: 390px;}
.skydive .scheda .scheda_padding .view-details{}
.skydive .scheda .scheda_padding .view-details a,
.skydive .generic_button.skydive{font: normal 13px/1.1em 'Montserrat', sans-serif;color:#fff;background: #f55b1f;float:right;padding:12px;border-radius:3px;text-transform:uppercase;text-shadow: none;text-align: center;font-weight: normal;height: auto;line-height:1em;}

.skydive .scheda .scheda_padding .endorses-count{display:block;position:absolute;bottom:13px;color: #848484;}
.job.offer .scheda .scheda_padding .endorses-count{display: block;position:relative;color: #848484;top: -20px;margin: 0 0 10px;}
.skydive .scheda .scheda_padding .endorses-count::before,
.job.offer .scheda .scheda_padding .endorses-count::before{content:'\e901';font: normal 2.3em 'icomoon-skydive';vertical-align: middle;}
.skydive .scheda .scheda_padding .endorses-count .number,
.job.offer .scheda .scheda_padding .endorses-count .number,
.skydive .scheda .scheda_padding .endorses-count .label,
.job.offer .scheda .scheda_padding .endorses-count .label{font: normal 1em 'Montserrat', sans-serif;}
.job.offer .scheda .scheda_padding .endorses-count .label,
.job.offer .scheda .scheda_padding .endorses-count .number{font-style:italic;}

.skydive .generic_button.skydive{float:left;padding:8px;min-width:120px;height: auto;line-height: 1em;}
.skydive .generic_button.skydive.disabled{background:#747474;border:none;cursor:not-allowed;}
.skydive .homeColumn0 .generic_button.skydive{margin:0;}

.skydive .contents_wrapper .no_content_message{padding: 10px 0;font: normal 12px/1em 'Montserrat', sans-serif;text-align:center;margin:0;background:#fff;color: #4b4b4b;border-color:#cecacb;}
.skydive .contents_wrapper .no_content_message.emptyList{font-size:22px;padding:55px 0;}
.skydive .filters-tool {margin:0 0 15px;}
.skydive .filters-tool .skin{width:100%;}
.skydive .filters-tool .fake-field{padding: 5px 40px 5px 20px;}
.skydive .filters-tool .fake-field .open-close-filters > a{height: 40px;width: 40px;cursor: pointer;background: none !important;}

.skydive .filters-tool .fake-field .open-close-filters > a::before{content:'\e145';font: normal 20px 'icomoon-skydive';color: #4b4b4b;display: block;text-indent: 0;position: absolute;width: 100%;text-align: center;line-height: 40px;height: 100%;}
.skydive .filters-tool .fake-field.actived .open-close-filters > a::before{color: #4ca8bf;}
.skydive .filters-tool .opened .fake-field .open-close-filters > a::before{content: '\e15b';color: #4ca8bf;}
.skydive .filters-tool .opened .ac_input{}

.skydive .filters-tool .text-message,
.skydive .filters-tool .opened .ac_input {font: normal 14px/1em 'ProximaNovaRg', sans-serif !important;}
.skydive .filters-tool .skin.with-orderby{width: 68.2%;margin: 0 20px 0 0;}
.skydive .filters-tool .drop-down-box.order-by{width:29%;margin: 0;}

.skydive .filters-tool .drop-down-box > .order-by{padding: 0 0 0 15px;}
.skydive .filters-tool .drop-down-box > .order-by > span{font: bold 14px/40px 'Montserrat';text-transform: uppercase;}
.skydive .filters-tool .icon-triangle{background:none;position: relative;height: 40px;width: 40px;overflow: hidden;}
.skydive .filters-tool .icon-triangle::before{content: '\e5ce';font: normal 2.5em/40px 'icomoon-skydive';text-indent: 0;display: block;text-align: center;}
.skydive .filters-tool .closed .icon-triangle::before{content: '\e5cf';}

.skydive [class^="icon-"],
.skydive [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family:'icomoon-skydive' !important;speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none;line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}

/* List Application Widget */
.skydive .homeColumn0 .listApplications .widget_padding{padding:0;}
.skydive .homeColumn0 .listApplications .widget_padding .widget_title{padding:13px;background:#f6f4f4;border-bottom:1px solid #cec9cb;margin: 0;}
.skydive .homeColumn0 .listApplications .widget_padding .widget_title:after{content:'Up to 3, in order of preference';display:block;font-size:11px;color:#4b4b4b;text-transform:none;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container{}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > *{padding:13px;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .instructions{border:none;color:#4b4b4b;font:italic normal 11px/1.1em 'Montserrat';padding: 10px 13px;margin: 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications {padding:0;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list ol{}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li{position:relative;border-top:1px solid #efefef;padding: 10px 12px 10px 45px;font: normal 1.2em/1.1em 'Montserrat', sans-serif;color: #4b4b4b;min-height: 64px;box-sizing: border-box;list-style:none;background:rgba(255,255,255,.8);;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications.enabled .list li:not(.empty):not(.single):hover{cursor:move;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li::before{content:attr(data-priority);display:block;position:absolute;left:30px;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li::after{content:'\e900';display:block;position:absolute;top:50%;color: #d8d8d8;margin-top: -8px;left: 10px;font: normal 1.35em 'icomoon-skydive';}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li div{font: normal 0.9em/1.1em 'Montserrat', sans-serif;text-transform: uppercase;padding:0;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li .title{color: #f55b1f; display: inline-block; padding:0 20px 0 0;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li .title a{color:#f55b1f;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li .company{}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li .country{text-transform: none;color:#888;font-style: italic;font-size: 0.8em;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li > button{display: block;height:20px;width:20px;text-align:center;vertical-align:middle;position: absolute;color:#fff;border:none;background:#888;top:50%;right:10px;cursor:pointer;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li > button.delete{ margin-top:0;border-radius:50%;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li > button.edit{margin-top:-25px;background: transparent;color:#888;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li > button span{display:none;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li > button::before{content:'\e5cd';display:inline-block;font:normal 1em 'icomoon-skydive';-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li > button.edit::before{content:'\f06e';font: normal 19.5px 'FontAwesome';}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.sortable-placeholder{display:block; height:64px;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.sortable-placeholder::before{content:'';}

.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.empty{}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.empty::after{content:'';}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.empty div{background: #e5e5e5; min-width: 70%;height: 4px;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.empty .title{}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.empty .company{min-width: 80px;display: inline-block;margin: 0 5px 0 0;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.empty .country{min-width: 120px; display: inline-block; margin: 0 5px 0 0;}
.skydive .homeColumn0 .listApplications .widget_padding .w-container > .applications .list li.empty button{display:none;}

/* Job Postings Details */
.ideatextOverDescription {font-weight: bold;display: block;margin: 0 0 5px;text-transform:capitalize;}
.job.offer .content-tags .fc-extend-addtag {padding: 6px 20px;}
.job.offer{padding: 15px;margin: 15px 0 10px;}
.ideaWrapper.job.offer {padding: 0; margin: -10px 0 0;}
.job.offer .content-main{padding:0;position: relative;}
.job.offer .content-body{padding: 10px 20px 0 0;border-top: none;margin: 0;overflow: visible;}
.job.offer .content-body .content-description{float: left;left;padding: 0 0 0 22px;clear:both;}
.job.offer .content-body .content-description::before{content:'Job Description:';font: normal 16px/1.1em 'Montserrat', sans-serif;text-transform:uppercase;padding: 0 0 10px;display: inline-block;}

.job.offer .timestamp_extra,
.job.offer .author_name .user,
.job.offer .fancy-author_name a,
.job.offer .fancy-timestamp {color: #848484;font: italic normal 12px/1.3em 'Montserrat', sans-serif;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.job.offer .author_name{position:absolute;top: 32px;left: 155px;}
.job.offer .timestamp_extra{position:absolute;top:45px;left: 155px;}
.job.offer .fancy-timestamp{margin:0;}
.job.offer .fancy-author_name.subtitle{margin:0;padding: 0 4px 0 0;}

.job.offer h2{font: normal 20px/1.1em 'Montserrat', sans-serif;color:#f55b1f;text-transform:uppercase;margin: 0 0 30px;}
.job.offer a.content-title-container {display: block;width:77.5%;}
.job.offer .content_meta.content_other_info > div{background: #f2f2f2;padding: 15px 20px;position: relative;}
.job.offer .content_meta.content_other_info > div:nth-child(even){background:#fafafa;}
.job.offer .content_meta.content_other_info > div .label {font:normal 16px/1.1em 'Montserrat', sans-serif;text-transform:uppercase;color:#202020;}
.job.offer .content_meta.content_other_info > div .field,
.job.offer .content_meta.content_other_info > div .restrictedField,
.job.offer .content-description *{font: normal 13px/1.4em 'Montserrat', sans-serif;color:#575757;padding: 0;}
.job.offer .content-description b{font-weight:bold;}
.job.offer .content-description em,
.job.offer .content-description i{font-style:italic;}
.job.offer .content_meta.content_other_info > div .field > *,
.job.offer .content_meta.content_other_info > div .field > * > *,
.job.offer .content_meta.content_other_info > div .field > * > * > *{font:normal 13px/1.4em 'Montserrat', sans-serif !important;}
.job.offer .content_meta.content_other_info > div .restrictedField{color:#f55b1f;position: absolute;top: 15px;right: 20px;}
.job.offer .content_meta.content_other_info > div .restrictedField::before{content: '\f070';font: normal 1.3em/1em 'FontAwesome';vertical-align: text-bottom;}

.job.offer #details-back-link{background:#01b3e2;padding:15px;}
.job.offer #details-back-link a{font:bold 18px/1.4em 'Montserrat', sans-serif;color:#fff;text-transform:uppercase;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.job.offer #details-back-link a:hover{opacity:.8;text-decoration:none !important;}
.job.offer #details-back-link a span{display:inline-block;overflow:hidden;text-indent: -9999px;background: transparent url('img/skydive_logo.png?v=@TAMTAMY_PREVENT_CACHE@') no-repeat 0 0;background-size: contain;width: 100px;height: 40px;vertical-align: middle;margin: 0 0 0 10px;}
.job.offer .idea_company.logo{display: table;border:1px solid #eee;background:#fff;padding:10px;margin:0 20px 0 0;width:130px;height:60px; box-sizing: border-box;}
.job.offer .idea_company.logo a{display: table-cell; vertical-align: middle;text-align: center;}
.job.offer .idea_company.logo a img{max-width: 100%;}
.job.offer .ribbon-messages{margin:5px 0 0 -15px;}
.job.offer .ribbon-messages .ribbon-message{margin: 0 0 0 -5px;padding: 0 0 5px;}
.job.offer .fc-extend-tags{padding: 15px 20px;}
.job.offer .fc-extend-section .comments,
.job.offer .fc-extend-section .comments + div{padding:0 20px 0 0;}
.job.offer .fc-extend-tags .fc-extend-section-label{border:none;font:normal 16px/1.1em 'Montserrat', sans-serif;text-transform:uppercase;color:#202020;margin: 0 0 20px;}
.job.offer .tag_token a,
.job.offer .tag_token a:hover,
.job.offer .tag_link_token{top:50%;margin-top:-9px;font:normal 13px/1.1em 'Montserrat', sans-serif;text-transform:capitalize;-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
.job.offer .content-tags .tag_token{/* background:#01b3e2; */padding:6px 30px 6px 20px;margin: 0 10px 5px 0;position:relative;}
.job.offer .tags-undeletetable .tag_token{padding:6px 20px;}
.job.offer .tag_token_add{padding:6px 20px;}
.job.offer .tag_token_add > a,
.job.offer .tag_token_add > a:hover{margin-top: 0;}
.job.offer a.tag_remover{top: 50%; margin-top: -9px;right: 10px;}
.job.offer .fc-extend-section {padding: 15px;}
.job.offer .endorsed .endorse-info{position:relative;z-index:1;text-align: right;}
.skydive .scheda .scheda_padding .ia-endorse-ribbon.static{top: 10px;background:none;}
.job.offer .endorsed .endorse-info .status{margin:0 0 10px;}
.skydive .scheda .scheda_padding .ia-endorse-ribbon > div,
.job.offer .endorsed .endorse-info .status{background:transparent;color:#01b3e2;text-align:right;padding:0 15px 0 0;font:italic normal 12px/1.1em 'Montserrat', sans-serif;}
.skydive .scheda .scheda_padding .ia-endorse-ribbon > div .endorse-cardinality,
.job.offer .endorsed .endorse-info .status .priority {display: inline-block; border-radius: 100%; border: 3px solid #02b3e2; width: 20px;height: 10px;text-align: center;vertical-align:baseline;padding:4px 0 6px 0;font: bold normal 12px/1.1em 'Montserrat', sans-serif;}
.job.offer .endorsed .endorse-info .buttons{display: inline-block;}
.job.offer .endorsed .endorse-info .buttons button{display: block;position: static;color: #737373;width: 100%;text-align: right;border: none;border-left: 2px solid #cecece;background: transparent;font: normal 12px/1.1em 'Montserrat', sans-serif;padding:10px 5px 10px 10px;cursor: pointer;}
.job.offer .endorsed .endorse-info .buttons button.delete::after,
.job.offer .endorsed .endorse-info .buttons button.edit::after{content:'\e5c9';font:normal 2em/10px 'icomoon-skydive';vertical-align: middle;padding: 0 0 0 10px;}
.job.offer .endorsed .endorse-info .buttons button.edit::after{content:'\f06e';font-family:'FontAwesome';-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

.skydive .header .wrapper .accordion section.completed > a button.more,
.skydive .header .wrapper .accordion section > a .complete {display: none;}
.skydive .header .wrapper .accordion section.completed > a .complete{display: block; position: absolute;bottom: 40px; text-align: center;color: #12b8e2;left: 0; right: 0;font:normal 17px/1.1em 'Montserrat', sans-serif;text-transform:uppercase;}
.skydive .header .wrapper .accordion section.completed > a .complete::before{content:'\e86c';font: normal 1.6em/10px 'icomoon-skydive';display:inline-block;vertical-align: top;padding: 0 10px 0 0;}

/* Fancy View Content Element */
.job.offer.fancy-scheda {overflow: hidden;}
.job.offer.fancy-scheda.expanded{overflow:visible;}
.job.offer.fancy-scheda .fancy-content {padding:5px 10px 10px 150px;}
.job.offer.fancy-scheda .fancy-author_name{}
.job.offer.fancy-scheda .fancy-title div{height: auto;}
.job.offer.fancy-scheda .fancy-title a{font: normal 20px/1.1em 'Montserrat', sans-serif;color:#f55b1f;text-transform:uppercase;margin:0;white-space: normal;}
.job.offer.fancy-scheda.expanded .ribbon-messages{margin:5px 0 0 -165px;}
.job.offer.fancy-scheda.expanded .fc-extend-content{margin:0 0 0 -150px;}
.job.offer.fancy-scheda.expanded .fc-extend-content .content-body .content-description{padding: 0;clear:both;}
.job.offer.fancy-scheda.expanded .fc-extend-content .content-body {padding:20px 0 0;}
.job.offer.fancy-scheda.expanded .fc-extend-content .content-body .content-title-container{position: absolute;top:40px;left: 170px;}
.job.offer.fancy-scheda.expanded .fc-extend-content .content-body .content-title-container h2 {margin:-15px 158px 0 -5px;}
.job.offer.fancy-scheda.expanded .fc-extend-content .content-body .content-title-container h2::after{content:'\f064';font-family:'FontAwesome';}
.job.offer.fancy-scheda.expanded .fc-extend-content .fc-extend-tags{padding: 15px 0;}

/* Filters on Home */
.skydive .idea{margin:0 0 15px;}

.skydive .idea .content-meta-filters__selects {display: inline-block;vertical-align: top;box-sizing: border-box;width: 100%; padding: 10px 20px;}
.skydive .idea .content-meta-filters__checkboxes {width: 50%;display: inline-block;vertical-align: top;box-sizing: border-box;padding-left: 10px;}
.skydive .idea .content-meta-filters__field input {display: none; }
.skydive .idea .content-meta-filters__field input:checked + .content-meta-filters__label:after {background: url("../../img/projectCover/check.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 50% 50% #fff; background-size: 9px;}
.skydive .idea .content-meta-filters__field + .content-meta-filters__field {margin-top: 10px; }
.skydive .idea .content-meta-filters__label {font-size: 13px;font-family: "Proxima N W01 Smbd", sans-serif;text-transform: uppercase; color: #fff;margin-right: 20px; margin-top: 8px;padding-right: 26px;display: inline-block;position: relative; }
.skydive .idea .content-meta-filters__label:after {content: '';display: inline-block; width: 18px;height: 18px; position: absolute;right: 0; top: -3px; background-size: 15px; background: #fff; }
.skydive .idea .content-meta-filters__hint {font-size: 12px;font-family: "Proxima N W01 Reg", sans-serif;display: inline-block; line-height: 16px;}
.skydive .idea .content-meta-filters__subtitle {font-size: 16px;font-family: "Proxima N W01 Smbd", sans-serif; padding: 4px 0;margin-bottom: 0;border-bottom: 1px solid #c4dddb; color: #000;}
.skydive .idea .content-meta-filters {font-size: 0;background-color: #12b8e2;padding:0;position: relative;}
.skydive .idea .content-meta-filters:after {content: ""; display:table; clear:both;}
.skydive .idea .content-meta-filters:before,
.skydive .idea .filters-tool:before {position: absolute;top: 0;bottom: 0;right: 0;left: 0;content: '';background-color:#000;opacity: 0;z-index: -1;}
.skydive .idea .content-meta-filters.openFilter:before,
.skydive .idea .content-meta-filters.filtering:before,
.skydive .idea .filters-tool.filtering:before {opacity: .5;z-index: 11;}
.skydive .idea .content-meta-filters.filtering:before {background: url("../../img/wait.gif") no-repeat 50% 50% #000; }
.skydive .idea .content-meta-filters__title {border-bottom: none;font:normal 16px/1.1em "Proxima N W01 Smbd", sans-serif;background-color: #0faad1; color: #fff;margin: 0;padding:10px 20px;}
.skydive .idea .content-meta-filters__title--alt {padding: 0;background:transparent;border: none;font-size: 13px;}

.skydive .idea .content-meta-filters__filter {position:relative;width:32.8%;float: left;font-family: "Proxima N W01 Reg", sans-serif;padding:0 0 5px 10px;box-sizing: border-box;}
.skydive .idea .content-meta-filters__filter.active::before {content: 'Close to apply';display: block;position: absolute;z-index: 11;top: -20px;right: 0;padding: 4px;background: rgba(0,0,0,0.4);font-size: 14px;color: #fff;text-align: right;}
.skydive .idea .content-meta-filters__filter input {color: #606060; width: 100%;font-size: 12px;line-height: 20px;}
.skydive .idea .content-meta-filters__recap {padding: 10px 30px 20px;overflow: hidden;display: none;}
.skydive .idea #aplliedFilters{max-width:90%;}
.skydive .idea .appliedFilerts__filter {position: relative;display: inline-block;font:normal 12px/15px "Proxima N W01 Smbd", sans-serif;color: #06414f;padding: 5px 30px 5px 10px;margin: 5px 5px 0 0;border-radius: 3px;min-width: 60px;background: #fff;cursor: pointer;z-index:11;box-sizing: border-box;}
.skydive .idea .appliedFilerts__filter::after{content:'\e5cd';display: inline-block;font: normal 1.4em/10px 'icomoon-skydive';position: absolute;top: 50%;right: 3px;margin: -5px 0 0;}
.skydive .idea .content-meta-filters__clearAll {display: inline-block; float: right;font-size: 13px;color: #fff;font-family: "Proxima N W01 Smbd", sans-serif;text-transform: uppercase;cursor: pointer;position: relative;z-index:11;margin: 0;}
.skydive .idea .content-meta-filters__clearAll:hover {text-decoration: underline;}
.skydive .idea .filtering .appliedFilerts__filter,
.skydive .idea .filtering .content-meta-filters__clearAll {z-index: 1;} 


.skydive .idea .ms-choice {position: relative;border: none;width: 100%;padding: 7px  16% 7px 10px;height: 40px;text-align: left; background:#fff;background-size: 14px 14px;}
.skydive .idea .ms-choice::before{content:'\e5cf';display: block; position: absolute;font: normal 2.2em/10px 'icomoon-skydive';right: 5px;top: 17px;}
.skydive .idea .ms-choice::after {content:'';display: block;position: absolute; background: #e6e6e6;right: 16%;top: 0;bottom: 0; width: 1px;}

.skydive .idea .ms-search{padding: 6px 10px;}
.skydive .idea .placeholder{text-transform:uppercase;color:#606060;font: normal 14px/1.6em "Proxima N W01 Smbd", sans-serif;position: relative;top: 0;transition:all .25s cubic-bezier(0, 0.98, 0.68, 0.99);}

.skydive .idea .ms-drop {display: none;position: absolute;z-index: 99;background: white;width: 100%;}
.skydive .idea .ms-drop ul {overflow-y:auto;box-shadow: 0 3px 5px 0 #cecece;}
.skydive .idea .ms-drop ul.ms-drop--selectAll {}
.skydive .idea .ms-drop li {font-size: 14px;color: #2e2e2e; background-color: #fff; box-sizing: border-box; }
.skydive .idea .ms-drop li span {padding: 15px 30px 15px 50px;display: inline-block;position: relative;box-sizing: border-box;vertical-align: middle; border-top: 1px solid #e6e6e6;width: 100%; font-size: 14px;font-family: "Proxima N W01 Smbd", sans-serif;min-height: 50px;}
.skydive .idea .ms-drop li span:before {content: '';display: inline-block;width: 25px;vertical-align: middle;height: 25px; border: 1px solid #dadada;position: absolute;left: 10px;top: 10px; }
.skydive .idea .ms-drop li span:after {content: attr(data-hint);display: inline-block;font-family: "Proxima N W01 Reg", sans-serif;color: #606060;position: absolute; right: 15px;top: 0;bottom: 0;line-height: 45px; }
.skydive .idea .ms-drop ul input {opacity: 0; visibility: hidden; position: absolute;}
.skydive .idea .ms-drop li.selected {color: #e6e6e6; }
.skydive .idea .ms-drop li.selected span:before {background: url("../../img/projectCover/check.png?v=@TAMTAMY_PREVENT_CACHE@") no-repeat 50% 50%;}

.skydive .idea .ms-no-results {padding: 15px;}
.skydive .idea .multipleSelect {position: relative;max-width: 100%; }
.skydive .idea .ms-drop li.multiple-operation {border-top: 1px solid #e6e6e6;box-shadow: 0 3px 5px 0 #cecece;background: #eee;}
.skydive .idea .ms-select-all,
.skydive .idea .ms-deselect-all {position: absolute;text-align: right;cursor: pointer;bottom:-35px;line-height: 35px;right: 0;z-index: 99;left: 0;padding-right: 15px;}
.skydive .idea .ms-select-all label,
.skydive .idea .ms-deselect-all label {color: #606060; font-size: 14px;}
.skydive .idea .ms-select-all label em,
.skydive .idea .ms-deselect-all label em {font: normal 14px/1.6em "Proxima N W01 Smbd", sans-serif; }

.skydive .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {background-color: #000;}


.skydive .idea .content-meta-filters__filter.active .multipleSelect {z-index: 12;}
.skydive .idea .content-meta-filters__filter.active .multipleSelect .placeholder {position: relative;top: -10px;font-size: 10px;color: #ccc;}
.skydive .idea .content-meta-filters__filter.active .multipleSelect ::-webkit-input-placeholder { /* Chrome/Opera/Safari */color: #ccc;font-style:italic;}
.skydive .idea .content-meta-filters__filter.active .multipleSelect ::-moz-placeholder { /* Firefox 19+ */color: #ccc;font-style:italic;}
.skydive .idea .content-meta-filters__filter.active .multipleSelect :-ms-input-placeholder { /* IE 10+ */color: #ccc;font-style:italic;}
.skydive .idea .content-meta-filters__filter.active .multipleSelect :-moz-placeholder { /* Firefox 18- */color: #ccc;font-style:italic;}
.skydive .idea .content-meta-filters__filter.active .ms-search{position: absolute;top:-30px;margin: 0 25px 0 0;}
.skydive .idea .content-meta-filters__filter.active .ms-choice::before{content:'\e5ce';}

#skydive-endorse-area{position: absolute;display: block; top: 104px;right: 20px;text-align:right;}
#skydive-endorse-area .modal{text-align:left;}
#skydive-endorse-area .job-apply{cursor: pointer;font: normal 13px/1.1em 'Montserrat', sans-serif;color: #fff;background: #f55b1f;padding: 12px 40px;border:none;border-radius: 3px;text-transform: uppercase;position: relative;z-index:1;}
#skydive-endorse-area .job-apply:disabled{background:#eee;cursor:not-allowed;}
#skydive-endorse-area.endorsed .job-apply{display:none;}
#skydive-endorse-area #skydive-endorse-status{}
#skydive-endorse-area.endorsed #skydive-endorse-status{}
#skydive-endorse-area .max-applications-reached{position: relative;z-index: 1;margin: 10px 0 0;}
#skydive-endorse-area .max-applications-reached h2{color: #ccc;font-size: 1em;margin: 0;}
#skydive-endorse-area .max-applications-reached h3{color: #ccc;font: normal 11px/1.1em 'Montserrat', sans-serif;}

.idea .modal-backdrop{}
.skydive-modal.modal {width:720px; margin: 0 0 0 -360px;color:#000;font: normal 12px/1.4em 'Montserrat',sans-serif;}
.skydive-modal.modal.fade{top:-300%;}
.skydive-modal.modal.fade.in{top:5%;}
.skydive-modal .error-area {padding:5px 20px; background-color: #d33d3d; color:#fff;font: normal 14px/1.1em 'Montserrat',sans-serif;}
.skydive .w-container.loading::before {content:''; display: block; position: absolute; top: 0; bottom: 0; width: 100%; background:rgba(0,0,0,.2) url(/tamtamy/images/prettyPhoto/dark_rounded/loader.gif) no-repeat center center; z-index: 9;}
.skydive-modal.modal .modal-header h2{display:inline-block;vertical-align: super;margin: 0 0 0 15px;}
.skydive-modal.modal .modal-header h3,
.skydive-modal.modal .modal-header h3 span{display: block;margin: 0 0 20px;font: normal 14px/1.4em 'Montserrat',sans-serif;}
.skydive-modal.modal .modal-header .bulkTitle {display: table;width: 100%;} 
.skydive-modal.modal .modal-header .company_logo{display: table-cell;vertical-align: middle;padding: 10px;border: 1px solid #eee;width: 110px;}
.skydive-modal.modal .modal-header .company_logo img{max-width:120px;}
.skydive-modal.modal .modal-header .job_title{display:table-cell;vertical-align: middle;}
.skydive-modal.modal .modal-header .job_title h2{font:normal 20px/1.2em 'Montserrat',sans-serif;color: #ff744a;text-transform:uppercase;}
.skydive-modal.modal .modal-body{max-height:250px;padding:15px 15px 0;}
.skydive-modal.modal .modal-body h2{font: normal 14px/1.2em 'Montserrat',sans-serif;color:#202020;margin:0 5px;padding: 0;text-transform: initial;}
.skydive-modal.modal .modal-body > *,
.skydive-modal.modal .modal-body > h2 {margin: 0 0 20px;}
.skydive-modal.modal .modal-body .redactor-box{margin:0;}
.skydive-modal.modal .modal-body .input {resize: none;border: 1px solid #ddd;margin: 0 5px;width: 100%;width: calc(100% - 15px);}
.skydive-modal.modal .modal-body .motivation .input {height: 100px;}
.skydive-modal.modal .modal-body .motivation .mandatory {font: italic normal 10px/1.2em 'Montserrat',sans-serif; color: #848484; padding-bottom: 10px; position: absolute; right: 25px; top: 20px;}
.skydive-modal.modal .modal-body .motivation .outline {border: 1px solid red;}
.skydive-modal.modal .modal-body .notes .input {height: 60px;}
.skydive-modal .modal-content.loading::before {content: ''; display: block; position: absolute; top: 0; bottom: 0; width: 100%; background:rgba(0,0,0,.2) url(/tamtamy/images/prettyPhoto/dark_rounded/loader.gif) no-repeat center center; z-index:9;}
.skydive-modal.modal .modal-footer{background:#fff;}
.skydive-modal.modal .modal-footer .btn-group{text-align: center;padding:0;}
.skydive-modal.modal .modal-footer .btn-group .btn{background: #f55b1f;border-radius: 4px;padding: 8px 20px;margin: 0 50px;min-width: 130px;text-shadow: none;font: normal 13px/1.2em 'Montserrat', sans-serif;height: auto;text-transform: uppercase;float: none;display: inline-block;}

.skydive-modal.modal .skill-center-warning {background: #f2f2f2;padding: 10px;}
.skydive-modal.modal .skill-center-warning h2 {margin: 0 0 8px;padding: 0;color: #4c4c4c;font-size: 1.4em;}
.skydive-modal.modal .skill-center-warning a,
.skydive-modal.modal .skill-center-warning p {font: normal 12px/1.1em 'Montserrat', sans-serif;color:#575757;}
.skydive-modal.modal .skill-center-warning a {border-bottom:1px solid;}

.skydive-modal.modal .modal-footer .btn-group .btn:disabled {background:#cecece;}
.skydive-modal.modal .on-creation-info {display: block;position:relative; bottom: 0;left: 0;right: 0;background: #fff;overflow: hidden;padding:5px 0; text-align: left;}
.skydive-modal.modal .modal-footer .on-creation-info {padding: 0;}
.skydive-modal.modal .on-creation-info .priority p {font: italic normal 12px/1.2em 'Montserrat',sans-serif;color: #848484;padding-bottom:10px;}
.skydive-modal.modal .on-creation-info .priority .additional,
.skydive-modal.modal .on-creation-info .priority .value {color: #01b1e2;font: italic normal 12px/1.2em 'Montserrat',sans-serif;}
.skydive-modal.modal .on-creation-info .priority .value {border: 2px solid #01b1e2;display:inline-block;text-align:center;width: 20px;height: 12px;border-radius:50px;vertical-align: baseline;padding: 4px 0 4px;font-style: normal;line-height: 1em;}
.job.offer #skydive-endorse-modal ul.redactor-toolbar {display: none;}
.idea .modal-backdrop, .idea .modal-backdrop.fade.in {overflow: auto;opacity: 1;background-color: rgba(0,0,0,.25);}

/* Media Queries */
@media screen and (max-width: 600px){
	body { margin: 0; }
	.accordion { height: auto; }
	.accordion ul li,
	.accordion ul li:hover,
	.accordion ul:hover li,
	.accordion ul:hover li:hover {position: relative;display: table;table-layout: fixed;width: 100%;-webkit-transition: none;transition: none;}
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
	.chosen-rtl .chosen-search input[type=text],
	.chosen-container-single .chosen-single abbr,
	.chosen-container-single .chosen-single div b,
	.chosen-container-single .chosen-search input[type=text],
	.chosen-container-multi .chosen-choices .search-choice .search-choice-close,
	.chosen-container .chosen-results-scroll-down span,
	.chosen-container .chosen-results-scroll-up span{background-size: 52px 60px !important;}
}