@charset "UTF-8";
/* @MEDIA PRINT FOR Project Covers */

body {background:#fff;color:#2a2a2a;font-family:'ProximaNova','Helvetica Neue',Arial,Helvetica,sans-serif !important;font-size:.5em;margin: 0;} 
.content.projectCover.details #mainwrap.mainFixedWidth{max-width:100%;}

/*Hidden Elements*/
#coverTools,
#usage,
#sharingbar,
#creatorsInfo,
.content-toolbar,
.content-footer,
.fc-extend-attachment,
.fc-extend-section,
#header_dropdown,
#status,
#checkImagePptModal,
#projectInfo_section05,
#projectInfo_section09,
#projectImage,
#message-area,
#headercanvas,
#secondaryImageOrVideo{display: none !important;}

/*Printer page-breaks*/
#coverInfo{position:relative;}
#projectInfo_section01,
#projectInfo_section02,
#projectInfo_section06,
#projectInfo_section07{position:relative !important;display: block !important;page-break-inside:avoid;break-after: page;page-break-after: always;-webkit-column-break-after: always;-webkit-region-break-after: always;}
.page-break{-webkit-region-break-inside: avoid;page-break-after:always;page-break-inside:avoid;position:relative;display: block;}

/*Layout Customizations*/
.content.projectCover.details .content-main .coverinfo #coverImage{min-height:300px;}
.content.projectCover.details .content-main .coverinfo p{font-size:.65em !important;}
.content.projectCover.details .col-6 .aspectvalue p,
#clientInfo p{font-size: 1.38em!important;}
#projectTags .aspectValue{padding:0!important;margin:0!important;}
.content.projectCover.details .content-main .coverinfo section.covermodule.table #secondaryImageOrVideo.coverimage::after{min-height:100%;}