@font-face {
  font-family: 'projectIcons';
  src:  url('fonts/icomoon.eot?v=@TAMTAMY_PREVENT_CACHE@');
  src:  url('fonts/icomoon.eot?v=@TAMTAMY_PREVENT_CACHE@#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v=@TAMTAMY_PREVENT_CACHE@') format('truetype'),
    url('fonts/icomoon.woff?v=@TAMTAMY_PREVENT_CACHE@') format('woff'),
    url('fonts/icomoon.svg?v=@TAMTAMY_PREVENT_CACHE@#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'projectIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arroba_ico:before {
  content: "\e900";
}
.icon-arrowCircleDown_ico:before {
  content: "\e901";
}
.icon-arrowCircleLeft_ico:before {
  content: "\e902";
}
.icon-arrowCircleRight_ico:before {
  content: "\e903";
}
.icon-arrowCircleUp_ico:before {
  content: "\e904";
}
.icon-arrowFullDown_ico:before {
  content: "\e905";
}
.icon-arrowFullLeft_ico:before {
  content: "\e906";
}
.icon-arrowFullRight_ico:before {
  content: "\e907";
}
.icon-arrowFullUp_ico:before {
  content: "\e908";
}
.icon-arrowLongDown_ico:before {
  content: "\e909";
}
.icon-arrowLongLeft_ico:before {
  content: "\e90a";
}
.icon-ArrowLongRight_ico:before {
  content: "\e90b";
}
.icon-arrowLongUp_ico:before {
  content: "\e90c";
}
.icon-arrowThinDown_ico:before {
  content: "\e90d";
}
.icon-arrowThinLeft_ico:before {
  content: "\e90e";
}
.icon-arrowThinRight_ico:before {
  content: "\e90f";
}
.icon-arrowThinUp_ico:before {
  content: "\e910";
}
.icon-attachments_ico:before {
  content: "\e911";
}
.icon-clock_ico:before {
  content: "\e912";
}
.icon-closed_ico:before {
  content: "\e913";
}
.icon-comment_ico:before {
  content: "\e914";
}
.icon-comments_ico:before {
  content: "\e915";
}
.icon-download_ico:before {
  content: "\e916";
}
.icon-edit_ico:before {
  content: "\e917";
}
.icon-examples_ico:before {
  content: "\e918";
}
.icon-externalLink2_ico:before {
  content: "\e919";
}
.icon-externalLinks_ico:before {
  content: "\e91a";
}
.icon-favourites_ico:before {
  content: "\e91b";
}
.icon-globe_ico:before {
  content: "\e91c";
}
.icon-hangout_ico:before {
  content: "\e91d";
}
.icon-info_ico:before {
  content: "\e91e";
}
.icon-mail_ico:before {
  content: "\e91f";
}
.icon-megafono_ico:before {
  content: "\e920";
}
.icon-news_ico:before {
  content: "\e921";
}
.icon-PC_ico:before {
  content: "\e922";
}
.icon-pma_ico:before {
  content: "\e923";
}
.icon-profilo_ico:before {
  content: "\e924";
}
.icon-recycle_ico:before {
  content: "\e925";
}
.icon-releases_ico:before {
  content: "\e926";
}
.icon-ReplyOmen_ico:before {
  content: "\e927";
}
.icon-Search_ico:before {
  content: "\e928";
}
.icon-star_ico:before {
  content: "\e929";
}
.icon-work_ico:before {
  content: "\e92a";
}
