@font-face {
  font-family: 'tamtamy-icon';
  src:  url('fonts/tamtamy-icon.eot?2ego1m');
  src:  url('fonts/tamtamy-icon.eot?2ego1m#iefix') format('embedded-opentype'),
    url('fonts/tamtamy-icon.ttf?2ego1m') format('truetype'),
    url('fonts/tamtamy-icon.woff?2ego1m') format('woff'),
    url('fonts/tamtamy-icon.svg?2ego1m#tamtamy-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="tti-"], [class*=" tti-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tamtamy-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tti-lock2:before {
  content: "\e9aa";
}
.tti-histogram-dash:before {
  content: "\e9a5";
}
.tti-target:before {
  content: "\e9a6";
}
.tti-start-flag:before {
  content: "\e9a8";
}
.tti-NoEvents:before {
  content: "\e9a0";
}
.tti-calendario:before {
  content: "\e90d";
}
.tti-AlwaysActive:before {
  content: "\e99f";
}
.tti-search_2:before {
  content: "\e99e";
}
.tti-clessidra:before {
  content: "\e998";
}
.tti-now-rolling:before {
  content: "\e999";
}
.tti-graffetta:before {
  content: "\e997";
}
.tti-print_BN:before {
  content: "\e98d";
}
.tti-print_colori:before {
  content: "\e992";
}
.tti-visibility:before {
  content: "\e92a";
}
.tti-view:before {
  content: "\e920";
}
.tti-view_OFF:before {
  content: "\e987";
}
.tti-view_ON:before {
  content: "\e988";
}
.tti-portale_tamtamy:before {
  content: "\e986";
}
.tti-portale:before {
  content: "\e966";
}
.tti-academy:before {
  content: "\e933";
}
.tti-academy_on:before {
  content: "\e985";
}
.tti-service-desk:before {
  content: "\e92b";
}
.tti-alliance_icon:before {
  content: "\e9d8";
}
.tti-SkyDive:before {
  content: "\e984";
}
.tti-MarketingCampaign_favicon:before {
  content: "\e9a1";
}
.tti-ProjectLibrary:before {
  content: "\e980";
}
.tti-CoP:before {
  content: "\e981";
}
.tti-ProjectPortal:before {
  content: "\e982";
}
.tti-projects:before {
  content: "\e98c";
}
.tti-geco:before {
  content: "\e967";
}
.tti-TamTamy:before {
  content: "\e983";
}
.tti-cocarde_ON:before {
  content: "\e97f";
}
.tti-cocarde:before {
  content: "\e922";
}
.tti-background:before {
  content: "\e96c";
}
.tti-calculator:before {
  content: "\e97a";
}
.tti-mobile-app:before {
  content: "\e97c";
}
.tti-ranking:before {
  content: "\e97d";
}
.tti-lock:before {
  content: "\e968";
}
.tti-unlock:before {
  content: "\e969";
}
.tti-ae:before {
  content: "\e96a";
}
.tti-ai:before {
  content: "\e96b";
}
.tti-css:before {
  content: "\e96d";
}
.tti-dw:before {
  content: "\e96e";
}
.tti-fl:before {
  content: "\e96f";
}
.tti-html:before {
  content: "\e970";
}
.tti-ics:before {
  content: "\e971";
}
.tti-id:before {
  content: "\e972";
}
.tti-js:before {
  content: "\e973";
}
.tti-mov:before {
  content: "\e974";
}
.tti-music:before {
  content: "\e975";
}
.tti-pdf:before {
  content: "\e93e";
}
.tti-pic:before {
  content: "\e976";
}
.tti-ppt:before {
  content: "\e977";
}
.tti-pr:before {
  content: "\e978";
}
.tti-ps:before {
  content: "\e979";
}
.tti-doc:before {
  content: "\e961";
}
.tti-jpg:before {
  content: "\e962";
}
.tti-png:before {
  content: "\e963";
}
.tti-psd:before {
  content: "\e964";
}
.tti-ZIP:before {
  content: "\e932";
}
.tti-zip:before {
  content: "\e965";
}
.tti-contact-us:before {
  content: "\e95e";
}
.tti-preview:before {
  content: "\e95f";
}
.tti-esci_sign:before {
  content: "\e94c";
}
.tti-new:before {
  content: "\e94e";
}
.tti-ON:before {
  content: "\e918";
}
.tti-OFF:before {
  content: "\e917";
}
.tti-1:before {
  content: "\e94f";
}
.tti-2:before {
  content: "\e950";
}
.tti-3:before {
  content: "\e951";
}
.tti-4:before {
  content: "\e952";
}
.tti-5:before {
  content: "\e953";
}
.tti-6:before {
  content: "\e954";
}
.tti-7:before {
  content: "\e955";
}
.tti-8:before {
  content: "\e956";
}
.tti-9:before {
  content: "\e957";
}
.tti-10:before {
  content: "\e958";
}
.tti-domanda:before {
  content: "\e97b";
}
.tti-profile:before {
  content: "\e908";
}
.tti-avatar_f:before {
  content: "\e959";
}
.tti-avatar_m:before {
  content: "\e95a";
}
.tti-user-online:before {
  content: "\e95b";
}
.tti-add-member:before {
  content: "\e941";
}
.tti-group:before {
  content: "\e98a";
}
.tti-meeting:before {
  content: "\e906";
}
.tti-video:before {
  content: "\e95c";
}
.tti-video-hangout:before {
  content: "\e91f";
}
.tti-quadrato:before {
  content: "\e99d";
}
.tti-quadrato-check:before {
  content: "\e99c";
}
.tti-pallina:before {
  content: "\e99b";
}
.tti-pallina-selected:before {
  content: "\e99a";
}
.tti-hamburger:before {
  content: "\e98b";
}
.tti-version:before {
  content: "\e90a";
}
.tti-work:before {
  content: "\e90b";
}
.tti-view-more:before {
  content: "\e960";
}
.tti-filters_mobile:before {
  content: "\e9d9";
}
.tti-piu:before {
  content: "\e9a3";
}
.tti-meno:before {
  content: "\e9a2";
}
.tti-piu_meno:before {
  content: "\e9a4";
}
.tti-chiudi:before {
  content: "\e97e";
}
.tti-freccia_destra_01:before {
  content: "\e943";
}
.tti-freccia_destra_02:before {
  content: "\e944";
}
.tti-freccia_giu_01:before {
  content: "\e945";
}
.tti-freccia_giu_02:before {
  content: "\e946";
}
.tti-freccia_sinistra_01:before {
  content: "\e947";
}
.tti-freccia_sinistra_02:before {
  content: "\e948";
}
.tti-freccia_su_01:before {
  content: "\e949";
}
.tti-freccia_su_02:before {
  content: "\e94a";
}
.tti-esci:before {
  content: "\e942";
}
.tti-info:before {
  content: "\e94b";
}
.tti-add-version:before {
  content: "\e90c";
}
.tti-search:before {
  content: "\e94d";
}
.tti-attachment:before {
  content: "\e921";
}
.tti-CoP-companies:before {
  content: "\e924";
}
.tti-CoP-leader:before {
  content: "\e925";
}
.tti-CoP-members:before {
  content: "\e926";
}
.tti-mondo:before {
  content: "\e927";
}
.tti-objectives:before {
  content: "\e928";
}
.tti-tag:before {
  content: "\e929";
}
.tti-courses:before {
  content: "\e936";
}
.tti-additional-contents:before {
  content: "\e934";
}
.tti-certificazione:before {
  content: "\e935";
}
.tti-external-presence:before {
  content: "\e937";
}
.tti-external-presence2:before {
  content: "\e989";
}
.tti-project-contents:before {
  content: "\e93f";
}
.tti-homework:before {
  content: "\e938";
}
.tti-contents:before {
  content: "\e923";
}
.tti-monitor-email:before {
  content: "\e9a9";
}
.tti-messaggio:before {
  content: "\e93a";
}
.tti-paper-plane:before {
  content: "\e9a7";
}
.tti-new-releases:before {
  content: "\e93b";
}
.tti-news:before {
  content: "\e93c";
}
.tti-knowledge:before {
  content: "\e939";
}
.tti-offer:before {
  content: "\e93d";
}
.tti-view-in-folder:before {
  content: "\e940";
}
.tti-bigliettino:before {
  content: "\e900";
}
.tti-sfera:before {
  content: "\e91b";
}
.tti-download-all:before {
  content: "\e901";
}
.tti-download:before {
  content: "\e902";
}
.tti-FAQ-and-contact:before {
  content: "\e903";
}
.tti-foundamentals:before {
  content: "\e904";
}
.tti-mail:before {
  content: "\e905";
}
.tti-play:before {
  content: "\e907";
}
.tti-telephone:before {
  content: "\e909";
}
.tti-matita:before {
  content: "\e916";
}
.tti-place:before {
  content: "\e919";
}
.tti-report:before {
  content: "\e91a";
}
.tti-share:before {
  content: "\e91c";
}
.tti-cestino:before {
  content: "\e90e";
}
.tti-stella_on:before {
  content: "\e91d";
}
.tti-stella:before {
  content: "\e91e";
}
.tti-comment_on:before {
  content: "\e90f";
}
.tti-comment:before {
  content: "\e910";
}
.tti-cuore_on:before {
  content: "\e911";
}
.tti-cuore:before {
  content: "\e912";
}
.tti-dislike-ON:before {
  content: "\e95d";
}
.tti-dislike:before {
  content: "\e913";
}
.tti-like_on:before {
  content: "\e914";
}
.tti-like:before {
  content: "\e915";
}
