.modal .clearfix{zoom:1;}
.modal .clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.modal .clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.hide{display:none;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80);display:block;}
.modal{position:fixed;top:10%;left:50%;z-index:1050;width:400px;margin-left:-200px;background-color:#ffffff;-webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}
.modal.checkImagePptModal{width:530px;margin-left:-265px;}
.modal.fade{-webkit-transition:opacity .3s linear, top .3s ease-out;-moz-transition:opacity .3s linear, top .3s ease-out;-o-transition:opacity .3s linear, top .3s ease-out;transition:opacity .3s linear, top .3s ease-out;top:-100%;}
.modal.fade.in{top:30%;}
.modal-header{padding:9px 20px;border-bottom:1px solid #eee;}
.modal-header .close{margin-top:2px; float: right;}
.modal-header h3{margin:0;line-height:30px; display:inline; font-size: 20px;}
.modal-body{position:relative;overflow-y:auto;max-height:400px;padding:15px;}
.createProjectCoverHackathonModal .modal-body.helper {overflow-y: initial;}
.createProjectCoverHackathonModal .modal-body .hackathonContentList.container ul {display: block; overflow: auto; max-height: 230px;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;zoom:1;}
.modal-footer:before,
.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn + .btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn + .btn{margin-left:-1px;}
.modal-footer .btn-block + .btn-block{margin-left:0;}
.modal.checkImagePptModal h2{font-size: 22px; margin-bottom: -6px;}

