/*---------------------------------------------
----------------------------------------------- BLOG LIST */
.blog-info-date{color:#666;}
.blog-scherda-body{padding:10px;}
.blog-scherda-body p{padding-bottom:5px;}
#mediafilter{padding:10px 0;}