/* --------------------------------------------
----------------------------------------------- BLOG */
.blog_users_wrapper{background:#f0f0f0;line-height:20px;margin:5px 0px 0px;overflow:auto;padding:4px;}
.blog_users_wrapper a{float:right;display:inline;}
.blog_users_wrapper img{float:right;vertical-align:middle;}