/*home canvas*/
.hc-background-canvas{position: relative}

.hc-bk-left,.hc-bk-right{position: absolute;text-indent:-20000em;top:0;bottom:0;}
.hc-bk-left{ width:100%;z-index:4; left:0; right:50%;background:url(./images/bk-homvecanvas-highlights.png);  }
.hc-bk-right{ width:50%; right:0; left:50%;background: #FED900 url(./images/bk-homvecanvas-events-top.png) repeat-x left top;display: none}

.hc-main,.hc-hl,.hc-ev,
.hc-ev-cut{height:125px;}
.hc-ev{overflow: hidden;}
.hc-main{width: 991px;margin: 0 auto;position: relative;color: #444;text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.15);}
/* home canvas highlights */
.hc-hl{width:620px; background: url(./images/bk-homvecanvas-highlights.png);position:relative;}

.hc-hl-content{text-align:left;height: 80px;padding: 5px 20px 0 20px; }
.hc-hl-avatar{width:46px;height:46px;border:2px solid white;margin: 30px 0 0 0;float: left;box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.25);}
.hc-hl-message{color:white;background:url(./images/icon-comic-left.png) no-repeat left top;float: left;text-shadow: 1px 0 1px rgba(0, 0, 0, 0.45);height: 75px;margin: 6px 0 0 10px;padding: 0 0 0 30px;max-width: 440px;overflow: hidden;line-height: 1.2em;}
.hc-hl-message,.hc-hl-description{}
.hc-hl-title{font-size: 28px;margin:0 0 10px 0;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;line-height: 1.2em;max-width: 440px;width: 440px;}
a:hover .hc-hl-description{text-decoration: none;}
.hc-hl-description{clear: left;margin: 0 0 3px 0;max-height: 16px;overflow: hidden;height: 16px;text-overflow: ellipsis;white-space: nowrap;}

.hc-hl-statistics{font-size: 0.9em;font-variant: small-caps;font-weight:700;}
.hc-hl-statistics span{float:left; display: block;line-height:10px;padding-top: 1px;padding-bottom:1px; }
.hc-hl-statvalue {background: #FFF;color: #1764B1;padding: 0 4px;margin: 0 5px 0 10px;text-shadow: none;font-size: 0.9em}
.hc-hl-statvalue:first-child{margin-left:0}

/* home canvas events */
.hc-ev-slider.jtt-slider{width:auto;height: 200px; }
.hc-ev-slider.jtt-slider .jtt-page{width: auto;height:200px;float:none}
.hc-ev{width:600px;height:125px;background:#fed900 url(./images/bk-homvecanvas-events-top.png) repeat-x left top;position: absolute;right: -190px;top:0}
.hc-ev-cut{position: absolute;top:0;left:0;z-index:1;background: url(./images/bk-homvecanvas-diagonalcut.png) no-repeat 0 0; width:43px;text-indent: -20000em;}
.hc-ev-slider .jtt-page{height:200px;}
.hc-ev-slider{height:200px;margin:-38px 0 0 0; }

.hc-ev-slider.jtt-slider .jtt-page {
			height: 200px;
			float: none;
			position:relative;
		}

.hc-ev-image {float:left;margin: 0 0 0 5px;}
.hc-ev-dates{float: left;height: 125px;margin:55px 0 0 -5px;}

.hc-ev-navi{display:none;position: absolute;z-index:3;background: url(./images/icons-timeline-next-prev.png) no-repeat 0 0;width:30px;height:15px;text-indent: -20000em;display: block}
.hc-ev-navi.disable{display: none}

.hc-ev-navi.next{top:0; right: 148px;}
.hc-ev-navi:hover{background-position: 0 -15px;}
.hc-ev-navi:active{background-position: 0 -30px;}

.hc-ev-navi.prev{bottom:0; right: 148px;}
.hc-ev-navi.prev{background-position:-30px 0 }
.hc-ev-navi.prev:hover{background-position: -30px -15px;}
.hc-ev-navi.prev:active{background-position: -30px -30px;}

.hc-ev-timeline{position: absolute;top:0;bottom:0;right:190px; width: 2px;text-indent:-20000em;background:#feef96}
.hc-ev-date{background: url(./images/bk-timeline-circle.png) no-repeat left center;padding:0 0 10px 20px; height: 30px;text-align:left;text-shadow: 1px 0px 1px rgba(51, 100, 34, 0.15);}
.hc-ev-date.start{background: url(./images/bk-timeline-circle-continue-head.png) no-repeat 0 10px}
.hc-ev-date.end{background: url(./images/bk-timeline-circle-continue-end.png) no-repeat 0 -30px}
.hc-ev-date-number{font-size: 30px;float:left;padding: 0 5px 0 0;}
.hc-ev-date-weekday{font-weight:700;line-height: 16px;}
.hc-ev-date-month{}

ul.hc-hl-navi{position: absolute; bottom:8px; left:108px}
ul.hc-hl-navi li{float: left}
ul.hc-hl-navi a{background: url(./images/icon-highlights-navi.png) no-repeat 0 0; width:16px;height:16px;text-indent:-20000em;display:block}
ul.hc-hl-navi a:hover{background-position: 0 -32px}
ul.hc-hl-navi li.selected a{background-position: 0 -16px;}
ul.hc-hl-navi li.selected{background: none;}

.hc-ev-stamp {position: absolute;top: 130px;left: 188PX;text-transform: uppercase;font-weight: 700;color: #444;font-size: 0.8em;text-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);}

.camvasFake, .mainContainer, #slidesContainer, .slide{height:125px;}
.canvasFake{overflow:hidden; background-color:#CFF;}
.mainContainer{width:991px; background-color:#999; margin:0 auto;}
#slidesContainer{width:580px; position:relative;}
.canv-slide{width:620px; top: 150px; position:absolute}

