body{font-family: 'Montserrat','tamtamy-icon', sans-serif;text-align: left;}

/*Layout Structure Settings*/
.container,
.container-fluid {padding-right:7.5px;padding-left:7.5px;}
.row {margin-right: -7.5px;margin-left: -7.5px;}
.col-lg-1,.col-lg-10, .col-lg-11, .col-lg-12,
.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5,
.col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12,
.col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5,
.col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5,
.col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-left:7.5px; padding-right:7.5px;}
#header_dropdown {padding:0;}

/* ALTERNATE FIX FOR COLUMNS ALIGNMENT ON CoPS Home
.homepage.cops .homeColumn0,
.homepage.cops .homeColumn1[class*='pull-'] {padding-right:0;}
.homepage.cops .homeColumn0[class*='pull-'] {padding-right:15px;}*/



/*Menu Elements*/
.navbar-default .navbar-brand.cops {padding:2rem .75rem;}
.navbar-right {margin-right: -.75rem;}
.mainMenu .dropdown-menu > li > a,
.mainMenu .dropdown-menu > div > a{line-height:1.4rem;}
.navbar-default .navbar-nav > li.cops > a{text-transform:none;}
.cops .mainMenu .navbar-left .navbar-nav > li:first-child.active > a:after {}
.navbar-left .navbar-nav .cops .dropdown-menu li  {width: 100%; word-wrap: break-word;}
.cops .mainMenu .navbar-left .dropdown-menu {min-width:170px;}

.cops_heading,
.cops_subtitle{display: inline;}

.cops_right_box_title,
.cops_right_box_description,
.cops_heading,
.cops_subtitle{font-family: 'Montserrat', sans-serif;}

.navbar-default .navbar-brand.cops{font-size:1.6rem; max-width:250px;}

.row-eq-height {display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-items: center; justify-content: center;}
.row-eq-height-top {align-self: flex-start;}
.row-eq-height-bottom {align-self: flex-end;}
.spacer_60px{margin-top: 60px;}

.cops .publicLink {margin:30px 0;}

/*Page Title*/
.homepage .mainTitle::before{background-image: url('../img/CoPs_Cover_img.svg?v=@TAMTAMY_PREVENT_CACHE@');}

.cops .page_title::before{content:'';display:block;position:absolute;top:0;bottom:0;left: 0;width: 100%;background-position: center center;background-size: 50%;background-repeat: no-repeat;mask-image: none;-webkit-mask-image: none;}
.cops .page_title.blockchain::before{background-image:url('../img/bg_blockchain.svg?v=@TAMTAMY_PREVENT_CACHE@');background-position: 56% -75px;background-size:1667px 286px;}
.cops .page_title.cybersecurity::before{background-image:url('../img/bg_cybersecurity.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1320px 290px;background-position: 50% -90px;}
.cops .page_title.DataDrivenCustomerEngagement::before{background-image:url('../img/bg_ddce.svg?v=@TAMTAMY_PREVENT_CACHE@');background-position: 51% -56px;background-size: 1155px 255px;}
.cops .page_title.DataRobotics::before{background-image:url('../img/bg_datarobotics.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1060px 290px;background-position: 50% -72px;}
.cops .page_title.DataBroker::before{background-image:url('../img/bg_databroker.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1048px 290px;background-position: 37.5% -85px;}
.cops .page_title.FoodBeverages::before{background-image:url('../img/bg_foodbeverages.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1115px 262px;background-position: 46.5% -64px;}
.cops .page_title.CloudBrokerage::before{background-image:url('../img/bg_CloudBrokerage.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1245px 252px;background-position: 46.5% -74px;}
.cops .page_title.Luxury::before{background-image:url('../img/bg_FashionLuxury.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1115px 262px;background-position: 46.5% -64px;}
.cops .page_title.Industrie::before{background-image:url('../img/bg_Industries4.svg?v=@TAMTAMY_PREVENT_CACHE@');background-size: 1115px 262px;background-position: 46.5% -64px;}

.copsPortal_Filter.classic_menu .widget_padding{padding-right: 0 !important;}
.nestedPage.lefTitle .widget_padding.container .widget_title:first-child {margin-bottom: 10px;padding-left:0; letter-spacing:normal;}

/*.homepage .wrapwidg.banner{margin-bottom:0; height: 215px}*/
/*.homepage .wrapwidg.banner{border-bottom: 5px solid #000;}*/

/*.banner .widget_padding > div {display:table; width:100%;}
.banner .widget_padding > div .mainTitle {vertical-align:middle;display:table-cell;padding:30px 0;position: relative;height: 150px;}
.homepage .banner .widget_padding > div .mainTitle {padding: 40px 0;text-align:left;}*/
div[data-menu-page="joinCop"] + .mainTitle .container {padding:23px 0;}
.homepage .banner .widget_padding > div .mainTitle .container{}
.homepage .banner .widget_padding > div .mainTitle .container h1,
.homepage .banner .widget_padding > div .mainTitle .container h3{margin-left: 0;margin-right: 40%;}
.filtro.cops .title {margin: 0; text-align: right;font-size: 2rem; line-height: 2em;}

.filterbox {border: 1px solid #ccc;background: #fff;margin: 0 0 20px;position: relative;}
.filterbox select {border:none; background: transparent; width:100%; height:40px; display:block; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-left: 8px;}
.filterbox::after{content: "\e946";font-family:tamtamy-icon;padding:11px 8px;position:absolute;right: 0;top:0;z-index:1;text-align:center;pointer-events:none;box-sizing:border-box;}
.filterbox .chosen-container{border: none;background:transparent; width 100%; height:36px; display:block; -webkit-appearance: none; -moz-appearance:none; appearance:none; padding-left:8px;}
.copsPortal_askToJoin .filterbox .chosen-container{height:40px}

.filterbox .chosen-container a.chosen-single{border: none; background: none; box-shadow: none;padding: 8px 0 0 8px;height: 40px;}
.filterbox .chosen-container-single .chosen-single div{display: none;}
.filterbox .chosen-container-single .chosen-drop{border-radius:0; border: 1px solid #ccc; box-shadow: none; margin: 0 -1px; box-sizing: content-box;}
.filterbox .chosen-container .chosen-results{margin:0; padding: 0;}
.filterbox .chosen-container .chosen-results li{padding: 13px;border-bottom: 1px solid #ccc;}
.filterbox .chosen-container .chosen-results li:last-child{border-bottom: none;}
.filterbox .chosen-container .chosen-results li.result-selected{text-decoration: underline;}
.filterbox.copsAvailability .chosen-container{width: 100% !important;}
/*.filterbox.copsAvailability::after{top: 25px;}*/
.filterbox.copsAvailability .chosen-container a.chosen-single{padding: 9px 0 0 8px;}

/* da sistemare questo perché ha tutto lo sfondo bianco */
.wrapwidg.nestedPage.nestedDepth2 > .widget_padding{border: none;}
.widget_padding{border: none;}
.content_addcomment{border:1px solid #000;margin-top:10px;overflow:auto;padding: 6px;}
.content_addcomment .textarea{width:95%;padding:0 10px;border:none;font-family:inherit;display:block;line-height:27px;right:0}
.content_addcomment .textarea:hover{},
.content_addcomment .textarea.selected{height:80px;border-bottom:1px solid #000;}
.content_addcomment .add-comment{clear:both;padding:3px}
.content_addcomment .buttons_wrapper{ margin-bottom:0px; padding:5px; border: none;}

.redactor-toolbar li{border: none !important;}
.fix_title_cops .widget_title {width: auto;	margin-bottom: 10px;letter-spacing: normal;	font-size: 1.4rem;	text-transform:uppercase;	color:#303030 !important;}

@media only screen and (max-width : 1199px) {
	.homepage .banner .widget_padding > div .mainTitle{overflow:hidden;}
	.homepage .banner .widget_padding > div .mainTitle .container{width: 970px;}
	.homepage .banner .widget_padding > div .mainTitle .container h1,
	.homepage .banner .widget_padding > div .mainTitle .container h3{width:100%;}

}
@media only screen and (max-width : 991px) {
	#tt-centralbody {margin:7rem auto 1.5rem;}
	.homepage .wrapwidg.banner{height:auto;}
	.homepage .banner .widget_padding > div .mainTitle {padding: 40px 15px;}
	.homepage .banner .widget_padding > div .mainTitle .container{width:auto;}
	.homepage .banner .widget_padding > div .mainTitle::before{display:none;}
	.homepage.cops .homeColumn0{padding-right:7.5px;}
	.homepage .homeColumn0 .wrapwidg {padding:0; margin:0 0 15px;}
}
@media only screen and (max-width : 685px){
	.homepage .banner .mainTitle h1 span{font-size: 2.72em;}
	.homepage .banner .widget_padding > div .mainTitle .container h3{font-size:1.1em;}
}
@media only screen and (max-width : 480px) {
	.homepage.cops .homeColumn0{padding-right:15px;}
	.filtro.cops .widget_padding > div > div{width: 100%;}
	.filtro.cops .widget_padding > div > div.title{width: 25%; float: left;}
	.filtro.cops .widget_padding > div > div.title h2 {text-align: left; font-size:14px; line-height:14px; margin-top:13px;}
	.filtro.cops .widget_padding > div > div.filter {width: 75%;float: left;}
	.homepage .banner .widget_padding > div .mainTitle{padding: 30px 10px 20px 10px;height: auto;}
	.homepage .banner .widget_padding > div .mainTitle .container{min-height:auto;}
	.mainTitle h1 span.reply_title::before{width: 90px;height: 22px;background-size: 90px 22px;left:50%;transform:translateX(-50%);top: -10px;}
	.homepage .banner .widget_padding > div .mainTitle .container h1,
	.homepage .banner .widget_padding > div .mainTitle .container h3{padding:0;margin: 0;text-align:center;}
	.homepage .banner .widget_padding > div .mainTitle .container h1{font-size: 7px;margin: 0 0 10px; */}
	.homepage .banner .widget_padding > div .mainTitle .container h3{font-size: 13px;}
	.homepage .banner .mainTitle h1 span{font-size: 1.55em;display: inline-block;min-height: 0;}
	.centralbody > .row{margin-bottom: 25px;}
	.homepage .centralbody > .row{margin-bottom:0;}
	.homepage .banner .widget_padding > div .mainTitle .container{min-height:auto;}
	.mainTitle h1 span.reply_title::before{width:60px; height:25px; background-size:60px 25px; left:50%; transform:translateX(-50%);}
	.homepage .banner .widget_padding > div .mainTitle .container h1,
	.homepage .banner .widget_padding > div .mainTitle .container h3{padding:0;margin: 0;text-align:center;}
	.homepage .banner .widget_padding > div .mainTitle .container h1{font-size: 10px;margin: 0 0 15px;}
	.mainTitle h1 span.reply_title{}
}
