/* ------------------------------------------------------------------------------------------------------------------------------------ CSS3 DESIGN */


#addCommentForm{-moz-border-radius:5px;-webkit-border-radius:5px;}
#brthdays ul li img{-moz-border-radius:3px;-webkit-border-radius:3px;}
#brthdays ul li span{-moz-border-radius:3px;-webkit-border-radius:3px;}
#flag_new {-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;}
#flag_new a{-moz-border-radius:2px;-webkit-border-radius:2px;}
#header #search{-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;}
#header div#whatsNew{-moz-border-radius:5px;-webkit-border-radius:5px;}
#header ul li a{-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;}
#header ul li a{text-shadow:0 1px 0 #76B1D3;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on,#header ul li a.active{text-shadow:0 1px 0 #fff;}
#header li li a {-moz-border-radius:0px;-webkit-border-radius:0px;text-shadow: 0 1px 0 #fff;}
#home-wrapcontent h2.widget_title, #sidebar h2.widget_title, .addContent h3, #attachments h3{text-shadow:0 1px 0 #76B1D3;}
#history li img{-moz-border-radius:3px;-webkit-border-radius:3px;}
#historywidg li img{-moz-border-radius:3px;-webkit-border-radius:3px;}
#home-highactmyp #myprofile{-moz-border-radius:0;-webkit-border-radius:0;}
#home-highactmyp .wrapwidg{-moz-border-radius:0;-moz-box-shadow:none;-webkit-border-radius:0;-webkit-box-shadow:none;}
#home-wrapcontent h2.widget_title,#sidebar h2.widget_title,.addContent h3,#attachments h3{-moz-border-radius:3px;-webkit-border-radius:3px;}
#home-wrapcontent,#wrapcontent{-moz-border-radius:0 0 15px 15px;-webkit-border-radius:0 0 15px 15px;}
#homeContentFilter ul li a,#postFilter ul li a{-moz-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;}
#inap .alert_message{-moz-border-radius:4px 4px 0 0;-webkit-border-radius:4px 4px 0 0;}
#join a,#login p.btn input{-moz-border-radius:5px;-webkit-border-radius:5px;}
#members{-moz-border-radius:10px;-webkit-border-radius:10px;}
#members ul.members_list li{-moz-border-radius:5px;-webkit-border-radius:5px;}
#myprofile{-moz-border-radius:5px;-webkit-border-radius:5px;}
#myprofile img{-moz-border-radius:5px;-webkit-border-radius:5px;}
#photo{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#profileCompletion .percentBar {-webkit-border-radius:3px;-moz-border-radius:3px;}
#profileCompletion .percentMessage {text-shadow: #5180A5 1px 1px 1px;}
#profileCompletion .intro_profile_hint {text-shadow: #5180A5 1px 1px 1px;}
#rss-widget li{-moz-border-radius:5px;-webkit-border-radius:5px;}
#sidebar div.alert{-moz-border-radius:5px;-webkit-border-radius:5px;}
#skill_wraptag{-moz-border-radius:5px;-webkit-border-radius:5px;}
#socialRelationshipsList li a{-moz-border-radius:5px;-webkit-border-radius:5px;}
#t1_profile img{-moz-border-radius:5px;-webkit-border-radius:5px;}
#tagForm #addTagForm{-moz-border-radius:10px;-webkit-border-radius:10px;}
#upload.cleared a,#submit,#cancel,p.submit a,.sub_board{-moz-border-radius:5px;-webkit-border-radius:5px;}
#userwrapper div{-moz-border-radius:3px;-webkit-border-radius:3px;}
#w_board textarea{-moz-border-radius:5px;-webkit-border-radius:5px;}
#wrapComment .utenza_commento img{-moz-border-radius:3px;-webkit-border-radius:3px;}
#wrapComment ul li.inap {-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
.activities-slider .handle {-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;}
.activities-slider .handle.selected {-moz-border-radius:3px 0 0 0;-webkit-border-radius:3px 0 0 0;}
.activities-slider img {-moz-border-radius:5px;-webkit-border-radius:5px;}
.addContent div.wraptag,.addGroup div.wraptag{-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.addGroup #colDx ul#elenco_friends li a.user_group_info {-moz-border-radius:3px;-webkit-border-radius:3px;}
.addGroup #colDx ul#elenco_friends li a.user_group_remove {-moz-border-radius:3px;-webkit-border-radius:3px;}
.avatar_question{-moz-border-radius:5px;-webkit-border-radius:5px;}
.blog_users_wrapper {-moz-border-radius:3px;-webkit-border-radius:3px;}
.boardMessages p.boardMessageListElement img{-moz-border-radius:3px;-webkit-border-radius:3px;}
.button_ico{-moz-border-radius:5px;-webkit-border-radius:5px;}
.buttons_wrapper .green {text-shadow: #fff 0px 1px 0px;}
.chat_go_offline {-moz-border-radius:3px;-webkit-border-radius:3px;}
.chat_unreaded_messages {-moz-border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;}
.commentItem img{-moz-border-radius:3px;-webkit-border-radius:3px;}
.content{-moz-border-radius:0 3px 0 0;-webkit-border-radius:0 3px 0 0;}
.content_avatar {-moz-border-radius:2px;-webkit-border-radius:2px;}
.content_list_thumbnail{-moz-border-radius:4px;-webkit-border-radius:4px;padding:5px;width:70px;}
.content_list_thumbnail a img.author-little{-moz-border-radius:3px;-webkit-border-radius:3px;}
.content-deco {-moz-border-radius:5px 5px 0 5px;-webkit-border-radius:5px 5px 0 5px;}
.conversation-item{-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;}
.conversation-item .heading .count, .conversation-item .heading .count_total{-moz-border-radius:5px;-webkit-border-radius:5px;}
.conversation-item .heading .date{-moz-border-radius:2px;-webkit-border-radius:2px;}
.conversation-item.active span.link-to-content a{-moz-border-radius:2px;-webkit-border-radius:2px;}
.conversation-item .reply-to-item{-moz-border-radius:5px;-webkit-border-radius:5px;}
.conversation-item .utenza_commento img{-moz-border-radius:4px;-webkit-border-radius:4px 4px 4px 4px;}
.conversation-item.active{-moz-border-radius:5px;-webkit-border-radius:5px;}
.conversation-item.featured-item.active{-moz-border-radius:5px;-webkit-border-radius:5px;}
.conversation-item.flame-item.active{-moz-border-radius:5px;-webkit-border-radius:5px;}
.conversation-item:last-of-type{-moz-border-radius:5px;-webkit-border-radius:5px;}
.filtri a{-moz-border-radius:2px;-webkit-border-radius:2px;}
.conversationFilter a{-moz-border-radius:2px;-webkit-border-radius:2px;}
.generic_button{-moz-border-radius:5px;-webkit-border-radius:5px;}
.generic_button_right{-moz-border-radius:5px;-webkit-border-radius:5px;}
.generic_button_inline {-moz-border-radius:5px;-webkit-border-radius:5px;}
.generic_button_left {-moz-border-radius:5px;-webkit-border-radius:5px;}
.highlight_switcher a {-moz-border-radius:0 0 2px 2px;-webkit-border-radius:0 0 2px 2px;}
.imploded #home-highactmyp ul.intentions li{-moz-border-radius:0px;-webkit-border-radius:0px;}
.imploded #home-highactmyp .wrapwidg:hover {-moz-box-shadow:0 1px 2px #ccc;-webkit-box-shadow:0 1px 2px #ccc;}
.menu-compact-wrapper img {-moz-border-radius:5px;-webkit-border-radius:5px;}
.more_button{-moz-border-radius:5px;-webkit-border-radius:5px;}
.no_content_message {-moz-border-radius:3px;-webkit-border-radius:3px;}
.profile-stats div{-moz-border-radius:3px;-webkit-border-radius:3px;}
.question .content_list_thumbnail{-moz-border-radius:4px;-webkit-border-radius:4px;}
.reply_badge{-moz-border-radius:4px;-webkit-border-radius:4px;}
.socialRelationship{-moz-border-radius:10px;-webkit-border-radius:10px;}
.tag_token{-moz-border-radius:3px;-webkit-border-radius:3px;}
.tag_token_add{-moz-border-radius:3px;-webkit-border-radius:3px;}
.tagcloud{-moz-border-radius:5px;-webkit-border-radius:5px;}
.toolbarPanel{-moz-border-radius:5px 0px 5px 5px;-webkit-border-radius:5px 0px 5px 5px;}
.upload-box .section {-moz-border-radius:0px 5px 5px 5px;-webkit-border-radius:0px 5px 5px 5px;}
.upload-box ul.tabs li {-moz-border-radius:3px 3px 0px 0px;-webkit-border-radius:3px 3px 0px 0px;}
.user_avatar {-moz-border-radius:3px;-webkit-border-radius:3px;}
.user_to_comment img{-moz-border-radius:3px;-webkit-border-radius:3px;}
.user_tooltip span.role, span.role{-moz-border-radius:3px;-webkit-border-radius:3px;}
.viewall a,.viewallrgt a{-moz-border-radius:5px;-webkit-border-radius:5px;}
.wrapwidg{-moz-border-radius:4px;-webkit-border-radius:4px;}
a.moderate-approve {-moz-border-radius:3px;-webkit-border-radius:3px;}
a.moderate-reject {-moz-border-radius:3px;-webkit-border-radius:3px;}
a.moderate-delete {-moz-border-radius:3px;-webkit-border-radius:3px;}
a.moderate-add {-moz-border-radius:3px;-webkit-border-radius:3px;}
a.replies{-moz-border-radius:3px;-webkit-border-radius:3px;}
a.signout{-moz-border-radius:3px;-webkit-border-radius:3px;}
blockquote {-moz-border-radius:3px;-webkit-border-radius:3px;}
div.usage_info {-moz-border-radius:5px;-webkit-border-radius:5px;}
h2 span.members_counter {-moz-border-radius:10px;-webkit-border-radius:10px;}
input#QA_Search{-moz-border-radius:2px;-webkit-border-radius:2px;}
p#edpf a{-moz-border-radius:5px;-webkit-border-radius:5px;}
ul.intentions li{-moz-border-radius:5px;-webkit-border-radius:5px;}
ul.pager li a{-moz-border-radius:3px;-webkit-border-radius:3px;}