/* ------------------------------------------------------------------------------------------------------------------------------------ BASE CSS RESET */


html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {vertical-align: baseline;font-family: inherit;font-weight: inherit;font-style: inherit;font-size: 100%;outline: 0;padding: 0;margin: 0;border: 0;}
:focus {outline: 0;}
body {line-height: 1;color: black;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {font-weight: normal; text-align: left;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
option {padding-right:10px;}
body, html {height:100%;}

a img { border: none; }
body{font:11px "lucida grande",tahoma,verdana,arial,sans-serif;color:#777;background:#9cc5db url(../graphic/bg-azure.jpg) top center repeat-x;;text-align:center;}
input{font:12px Arial, Helvetica, sans-serif;}
select,option,textarea{font-family:Georgia,Arial,Helvetica,Verdana,sans-serif;font-size:18px;font-style:italic;color:#555;}
select {border:1px solid #ccc;background:#fff;padding:5px;}
option{padding-right:10px;line-height:1;}
#wraplog{width:400px;margin:80px auto 0;text-align:left;}
#wraplog h1{width:100%;height:60px;background:url(../graphic/logo-tamtamy.gif) center top no-repeat;text-indent:-9999px;}
#wraplog h1 span{display:none;}
#wraplog h2{font:bold italic 18px Arial, Helvetica, sans-serif;color:#3f3f3f;margin:0 0 10px 0;border-bottom:1px dashed #ddd;padding:0 0 2px 0;}
#wraplog #mainwrap{width:360px;background:#fff url(../graphic/grad_01.gif) bottom center repeat-x;padding:20px;text-align:left;}
#wraplog #mainwrap{-moz-border-radius:10px;-webkit-border-radius:10px;}
#contact{text-align:left;font-size:11px;padding:6px 0 0 15px;}
#contact a{text-decoration:none;color:#3f3f3f;font-weight:normal;}
#contact a:hover{text-decoration:underline;}
#tamtamyLoginBox input, #openId{width:348px;border:1px solid #ccc;background:#fff url(../graphic/grad_01_rev.gif) 0px 1px repeat-x;padding:5px; color:#555;}
#tamtamyLoginBox input, #openId{font-family:Georgia,Arial,Helvetica,Verdana,sans-serif;font-size:18px;font-style:italic;}
#mainwrap #formwrap{width:100%;}
#mainwrap ul{list-style:none;background:#db8b8b;text-align:left;font:bold italic 16px Arial, Helvetica, sans-serif;color:#a83333;padding:10px;margin:0;}
#mainwrap ul li span.errorMessage{color:#fff;border:none;}
#tamtamyLoginBox label{float:left;width:100%;font-weight:normal;clear:left;padding:6px 0;}
#formwrap label.agrem{}
#formwrap textarea{width:300px;height:80px;}
#formwrap p#remembme{padding:8px 0 0 0;clear:both;font-size:11px;line-height:normal;}
#formwrap p#remembme input{margin:0 3px 1px 0;vertical-align:middle; border:none;background:none;}
#formwrap p#regol{padding:8px 0 0;font-size:11px;color:#0090FF;line-height:normal;clear:both;}
#formwrap p#regol input{margin:0 3px 1px 0;vertical-align:middle;}
#formwrap p#regol a{text-decoration:none;color:#0090ff;}
#formwrap input.bsub{width:80px;border:1px solid #ccc;background:#fff url(../graphic/grad_01.gif) bottom center repeat-x;text-align:center;color:#555; font-weight:bold;padding:4px 6px;font-size:12px;text-transform:uppercase;-moz-border-radius:15px;-webkit-border-radius:15px;}
#formwrap input.bsub{font-family: Arial,Helvetica,Verdana,sans-serif;font-size:14px;cursor:pointer;}
div#pwb{display:none;}
.cleared:after{display:block;visibility:hidden;content:".";height:0;clear:both;}
.cleared{clear:both;height:1%;}
div#mainwrap #formwrap span.openIdLogo{background:url(../graphic/openid-inputicon.gif) 0 0 no-repeat;display:block;width:16px;height:16px;float:left;}
a#signIn_ {color:#45b62b;}
a#signIn_:hover {color:#74d25e;}