/*status bar */
#statusBar{position:absolute;top:0px;right:0px;height:0px;width:100%;margin:0;padding:0;text-align:center;color:#666;z-index:9999;}
#statusBar #statusBarInterfaceContainer{position:relative;z-index:3000px;display:block;height:30px;margin:-26px auto 0;width:80%;min-width:990px;max-width:1280px;background:#d1d1d1 url(../graphic-statusbar/statusbar-bg.gif) bottom repeat-x;}
#statusBar #statusBarInterfaceContainer {-moz-border-radius:0 0 4px 4px;-webkit-border-radius:0 0 4px 4px;}
#statusBar #statusBarInterfaceContainer {-moz-box-shadow:0px 0px 5px #555;-webkit-box-shadow:0px 0px 5px #555;}
#statusBar .bar-hider {text-indent:-9999px;cursor:pointer;position:absolute;bottom:-10px;right:10px;height:10px;width:40px;margin:0;background:url(../graphic-statusbar/bar-hider.png) right no-repeat;}
#statusBar .bar-hider.active {background:url(../graphic-statusbar/bar-hider.png) left no-repeat;}

/*section */
.statusBarBase{height:30px;width:30px;float:left;position:relative;margin:0 2px;z-index:3000;}
.statusBarBase .presence{height:30px;}
.statusBarBase .presence .presenceNum{height:30px;}
.statusBarBase .listContainer{position:absolute;top:31px;width:260px;text-align:left;cursor:default;z-index:2000;}
.statusBarBase ul{padding:0 15px 10px;}
.statusBarBase ul li{line-height:1.4;padding:8px;list-style-type:none;padding-left:33px;position:relative;width:185px;overflow:hidden;}
.statusBarBase ul li span{position:absolute;top:0;left:0;height:30px;width:30px;display:block;}
.statusBarBase div.balloon_link{padding:5px 15px;}
.statusBarBase ul li.new{height:0;}
.statusBarBase .open{text-align:right;height:20px;padding:8px 5px 0 0;}
.statusBarBase .open .title{display:inline;float:left;margin-left:6px;}
#statusBar .listContainer .open a.closeButton{background:url(../graphic-statusbar/delete-icon.png) 0 0 no-repeat;text-decoration:none;height:13px;width:13px;display:block;float:right;}
#statusBar .listContainer .open a.closeButton span{display:none;}

/*paginator */
#statusBar .balloon_pager{text-align:right;padding:5px;}
#statusBar .balloon_pager a{margin:0 3px;}

/*opacity  */
.opaque{filter:alpha(opacity=50);-moz-opacity:0.50;opacity:0.50;}
#statusBar h3{font-size:12px;color:#fff;}
#statusBar a{text-decoration:underline;}
#statusBar a:hover{text-decoration:none;}
.notify{float:right;padding-left:3px;position:relative;z-index:3000;}
.info{float:left;padding-right:3px;position:relative;z-index:3000;}

/*balloon */
#statusBar .listContainer .list{background-color:#fff;border:solid 1px #aaa;overflow:hidden;}
#statusBar .listContainer div.balloon_link{text-align:right;font-size:12px;}
#statusBar .listContainer div.balloon_link a{text-decoration:none;}
#statusBar .listContainer ul{background-color:none;}
#statusBar .listContainer ul li{border-bottom:1px solid #aaa;}
#statusBar .listContainer ul li.newlyAdded{background-color:#009cef;}
#statusBar .listContainer ul li.newlyAdded a,#statusBar .listContainer ul li.newlyAdded{color:#fff;}
#statusBar .listContainer .open{background:#aaa;z-index:1000;}

/*gestione icone My Favourite Blogs Status Bar */
#statusBar #myFavouriteBlogs .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -360px no-repeat;}
#statusBar #myFavouriteBlogs .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -360px no-repeat;}
.statusBarBase ul li span.myFavouriteBlogs{background:url(../graphic-statusbar/set_ico.gif) no-repeat;}
.statusBarBase ul li.newlyAdded span.myFavouriteBlogs{background:url(../graphic-statusbar/status_bar/set_ico.png) -33px -396px no-repeat;}

/*Notify Status Bar */
#statusBar #contentAlert .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -120px no-repeat;}
#statusBar #commentAlert .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -120px no-repeat;}
#statusBar #notificationAll .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -120px no-repeat;}
#statusBar #contentAlert .presence_on{background:url(../graphic-statusbar/set_ico.gif) -33px -132px no-repeat;}
#statusBar #commentAlert .presence_on{background:url(../graphic-statusbar/set_ico.gif) -33px -132px no-repeat;}
#statusBar #notificationAll .presence_on{background:url(../graphic-statusbar/set_ico.gif) -33px -132px no-repeat;}
.statusBarBase ul li span.contentalert{background:url(../graphic-statusbar/set_ico.gif) -66px -132px no-repeat;}
.statusBarBase ul li.newlyAdded span.contentalert{background:url(../graphic-statusbar/set_ico.gif) -33px -132px no-repeat;}
.statusBarBase ul li span.commentalert{background:url(../graphic-statusbar/set_ico.gif) -66px -132px no-repeat;}
.statusBarBase ul li.newlyAdded span.commentalert{background:url(../graphic-statusbar/set_ico.gif) -33px -132px no-repeat;}
.statusBarBase ul li span.notificationAll{background:url(../graphic-statusbar/set_ico.gif) -66px -132px no-repeat;}
.statusBarBase ul li.newlyAdded span.notificationAll{background:url(../graphic-statusbar/set_ico.gif) -33px -132px no-repeat;}

/*Chat Status Bar */
#statusBar #chatStatusBar .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -240px no-repeat;}
#statusBar #chatStatusBar .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -240px no-repeat;}
.statusBarBase ul li span.chatStatusBar{background:url(../graphic-statusbar/set_ico.gif) 0 -240px no-repeat;}
.statusBarBase ul li.newlyAdded span.chatStatusBar{background:url(../graphic-statusbar/set_ico.gif) -33px -264px no-repeat;}

/*My Blogs Status Bar */
#statusBar #myBlogs .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -150px no-repeat;}
#statusBar #myBlogs .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -150px no-repeat;}
.statusBarBase ul li span.myBlogs{background:url(../graphic-statusbar/set_ico.gif) -66px -165px no-repeat;}
.statusBarBase ul li.newlyAdded span.myBlogs{background:url(../graphic-statusbar/set_ico.gif) -33px -165px no-repeat;}

/*My Contents Status Bar */
#statusBar #myContents .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -180px no-repeat;}
#statusBar #myContents .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -180px no-repeat;}
.statusBarBase ul li span.myContents{background:url(../graphic-statusbar/set_ico.gif) 0 -180px no-repeat;}
.statusBarBase ul li.newlyAdded span.myContents{background:url(../graphic-statusbar/set_ico.gif) -33px -198px no-repeat;}

/*My Favourite Contents Status Bar */
#statusBar #myFavouriteContents .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -390px no-repeat;}
#statusBar #myFavouriteContents .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -390px no-repeat;}
.statusBarBase ul li span.myFavouriteContents{background:url(../graphic-statusbar/set_ico.gif) 0 -390px no-repeat;}
.statusBarBase ul li.newlyAdded span.myFavouriteContents{background:url(../graphic-statusbar/set_ico.gif) -33px -429px no-repeat;}

/*My Favourite Users Status Bar */
#statusBar #myFavouriteUsers .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -270px no-repeat;}
#statusBar #myFavouriteUsers .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -270px no-repeat;}
.statusBarBase ul li span.myFavouriteUsers{background:url(../graphic-statusbar/set_ico.gif) 0 -270px no-repeat;}
.statusBarBase ul li.newlyAdded span.myFavouriteUsers{background:url(../graphic-statusbar/set_ico.gif) -33px -297px no-repeat;}

/*My Profile Users Status Bar */
#statusBar #myProfile .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 0 no-repeat;}
#statusBar #myProfile .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 0 no-repeat;}
.statusBarBase ul li span.myProfile{background:url(../graphic-statusbar/set_ico.gif) 0 0 no-repeat;}
.statusBarBase ul li.newlyAdded span.myProfile{background:url(../graphic-statusbar/set_ico.gif) -33px 0 no-repeat;}

/*My Mashup Status Bar */
#statusBar #myPersonalHomePage .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -60px no-repeat;}
#statusBar #myPersonalHomePage .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -60px no-repeat;}
/*Admin panel Status Bar */#statusBar #administrationPanel .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -60px no-repeat;}
#statusBar #administrationPanel .presence_on{background:url(../graphic-statusbar/set_ico.gif) -33px -33px no-repeat;}

/*superAdministrationPanel Status Bar */
#statusBar #superAdministrationPanel .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -33px no-repeat;}
#statusBar #superAdministrationPanel .presence_on{background:url(../graphic-statusbar/set_ico.gif) -33px -33px no-repeat;}

/*Add Content Status Bar */
#statusBar #uploadContent .presence_off{background:url(../graphic-statusbar/set_ico.gif) 0 -330px no-repeat;}
#statusBar #uploadContent .presence_on{background:url(../graphic-statusbar/set_ico.gif) 0 -330px no-repeat;}
.statusBarBase ul li span.uploadContent{background:url(../graphic-statusbar/set_ico.gif) 0 -330px no-repeat;}
.statusBarBase ul li.newlyAdded span.uploadContent{background:url(../graphic-statusbar/set_ico.gif) -33px -363px no-repeat;}

/*paginatore */
#statusBar .listContainer div.balloon_pager a.current_page{text-decoration:none;color:#666;cursor:default;}
.status_bar_ico {height:30px;width:30px;float:left;}
.status_bar_ico_myBlogs{background:url(../graphic-statusbar/set_ico.gif) 0 -150px no-repeat;}
.status_bar_ico_myFavouriteBlogs{background:url(../graphic-statusbar/set_ico.gif) 0 -390px no-repeat;}
.status_bar_ico_contentAlert{background:url(../graphic-statusbar/set_ico.gif) 0 -330px no-repeat;}
.status_bar_ico_commentAlert{background:url(../graphic-statusbar/set_ico.gif) 0 -420px no-repeat;}
.status_bar_ico_notificationAll{background:url(../graphic-statusbar/set_ico.gif) 0 -120px no-repeat;}
.status_bar_ico_chatStatusBar{background:url(../graphic-statusbar/set_ico.gif) 0 -240px no-repeat;}
.status_bar_ico_myContents{background:url(../graphic-statusbar/set_ico.gif) 0 -180px no-repeat;}
.status_bar_ico_myFavouriteContents{background:url(../graphic-statusbar/set_ico.gif) 0 -390px no-repeat;}
.status_bar_ico_myFavouriteUsers{background:url(../graphic-statusbar/set_ico.gif) 0 -270px no-repeat;}
.status_bar_ico_myProfile{background:url(../graphic-statusbar/set_ico.gif) 0 0 no-repeat;}
.status_bar_ico_myPersonalHomePage{background:url(../graphic-statusbar/set_ico.gif) 0 -60px no-repeat;}
.status_bar_ico_administrationPanel{background:url(../graphic-statusbar/set_ico.gif) 0 -30px no-repeat;}
.status_bar_ico_uploadContent{background:url(../graphic-statusbar/set_ico.gif) 0 -360px no-repeat;}