/*
Name: File temporaneo di appoggio non cancellarlo, lo cancello io quando ho finito. thx ;)
*/

/*
 ______                     ______                                 
/\__  _\                   /\__  _\                                
\/_/\ \/    __      ___ ___\/_/\ \/    __      ___ ___   __  __    
   \ \ \  /'__`\  /' __` __`\ \ \ \  /'__`\  /' __` __`\/\ \/\ \   
    \ \ \/\ \L\.\_/\ \/\ \/\ \ \ \ \/\ \L\.\_/\ \/\ \/\ \ \ \_\ \  
     \ \_\ \__/.\_\ \_\ \_\ \_\ \ \_\ \__/.\_\ \_\ \_\ \_\/`____ \ 
      \/_/\/__/\/_/\/_/\/_/\/_/  \/_/\/__/\/_/\/_/\/_/\/_/`/___/> \
                                                             /\___/
                                                             \/__/ V1.10 CSS
*/

/* CSS3 DESIGN ENHANCER 
@import url("extra.css");*/



/* ------------------------------------------------------------------------------------------------------------------------------------ BASE CSS RESET */


html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {vertical-align: baseline;font-family: inherit;font-weight: inherit;font-style: inherit;font-size: 100%;outline: 0;padding: 0;margin: 0;border: 0;}
:focus {outline: 0;}
body {line-height: 1;color: #000;}
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {font-weight: normal; text-align: left;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
option {padding-right:10px;}
html{}
body{height:100%;width:100%;}
a img {border:none;}
table{border-collapse:collapse;border-spacing:0;}

/* ------------------------------------------------------------------------------------------------------------------------------------ MENU DROPDOWN */

#header li.expandable a {cursor:default;}
#header li.expandable li a {cursor:pointer;}
#header li div {display:none;background:#fff;position:absolute;top:25px;left:-1px;z-index: 99;border-left: 1px dotted #ccc;border-right: 1px dotted #ccc;border-bottom: 4px solid #555;}
#header ul ul{top:auto;left:auto;height:auto;width:160px;position:static;padding:4px;background:#fff;}
#header li:hover div {display:block;}
#header li li {float:none;display:block;}
#header li li a {display:block;float:none;text-align:left;border:none;background: #fff url(../graphic/grad60double.gif) top repeat-x;color:#777;text-transform:capitalize;}
#header li li a:hover {border:none;background: #fff url(../grad60double.gif) bottom repeat-x;}
#header li li a.on {border:none;background: #fff url(../graphic/grad60double.gif) bottom repeat-x;}
#header li.expandable hr {background:none;border:none;border-top: 1px dashed #CCC;padding:0px;margin:4px 0;width:170px;}
#home-wrapcontent #myprofile .widget_title a {color:#fff;}
#wrapcontent #myprofile .widget_title a {color:#fff;}
.expandable a span.status {overflow:hidden;display:inline-block;height:8px;width:9px;background: url(../graphic/navbar_sub_clip.gif) no-repeat top;margin: 0px 0px 0px 4px;}
.expandable a.on span.status, .expandable a.active span.status {display:inline-block;height:8px;width:9px;background: url(../graphic/navbar_sub_clip.gif) no-repeat bottom;margin: 0px 0px 0px 4px;}


/* ------------------------------------------------------------------------------------------------------------------------------------ WAITING*/

span.wait {display:block;margin:0 auto;height:32px;background: url(../graphic/wait.gif) no-repeat center center;text-indent:-9999px;}
div.wait {display:block;margin:0 auto;height:32px;background: url(../graphic/wait.gif) no-repeat center center;text-indent:-9999px;}
#wrap_addcomments.wait {height:auto;text-indent:0px;background: url(../graphic/wait.gif) no-repeat bottom left;}
#wrap_addcomments.wait .buttons_wrapper a.generic_button {cursor:default;background:#eee;}
#wrap_addcomments.wait .buttons_wrapper .green {cursor:default;background:#eee;}
#wrap_addcomments.wait .buttons_wrapper .red {cursor:default;background:#eee;}
.reply-box.wait{height:auto;width:auto;text-indent:0px;background: url(../graphic/wait.gif) bottom left no-repeat;}
.reply-box.wait .reply-to-item {cursor:default;background: url(../graphic/pattern_45_01.gif);}
.reply-box.wait .buttons_wrapper a.generic_button {cursor:default;background:#eee;}
.reply-box.wait .buttons_wrapper .green {cursor:default;background:#eee;}
.reply-box.wait .buttons_wrapper .red {cursor:default;background:#eee;}
.conversation-item.wait {text-indent:0px;background-position: 1px 1px;background-color:#fff;height:auto;margin:-6px 0 0 0;}
.conversation-item.wait .heading .count_total {display:none;}
.conversation-item.wait .heading .count {display:none;}
.conversation-item.featured-item.wait {background:#fff url(../graphic/wait.gif) no-repeat 1px 1px;}

/* ------------------------------------------------------------------------------------------------------------------------------------ HOME ACTIVITY EXPLOSED*/


#home-highactmyp {float:left;clear:both;position:relative;width:100%;background:#fff url(../graphic/grad_01.gif) bottom repeat-x;margin:0;padding:0 0 10px0;}
#home-highactmyp .wrapwidg {width:18%;border:none;background:none;float:left;clear:none;display:inline;margin:0 1% 0 0;padding:15px 0 0 0;}
#home-highactmyp .h02 {width:14%;}
#home-highactmyp .h03 {width:14%;}
#home-highactmyp .h04 {width:16%;}
#home-highactmyp .h05 {width:19%;}
#home-highactmyp h2{margin-bottom:0px;}
#home-highactmyp h2 {clear:both;line-height:20px;height: 18px;overflow:hidden;}
#home-highactmyp .scheda {border:none;}
#home-highactmyp .scheda .scheda_padding {padding:0px;}
#home-highactmyp .pages {display:none;}
ul.intentions {clear:both;width:100%;}
ul.intentions li {height:35px;margin:0 0 1px;background: #eee url(../graphic/grad60double.gif) repeat-x top left;}
ul.intentions li:hover {background:#eee url(../graphic/grad60double.gif) repeat-x left -60px;}
ul.intentions li a {font-size:11px;line-height:35px;color:#626262;height:35px;text-decoration:none;padding:0 10px 0 43px;display:block;}
ul.intentions li#contents a{background:url(../graphic/icon-set-1/share_upload.gif) 2px 2px no-repeat;}
ul.intentions li#blog a{background:url(../graphic/icon-set-1/create_blog.gif) 2px 2px no-repeat;}
ul.intentions li#group a{background:url(../graphic/icon-set-1/create_group.gif) 2px 2px no-repeat;}
ul.intentions li#c11 a{background:url(../graphic/icon-set-1/community_wiki.gif) 2px 2px no-repeat;}
ul.intentions li#extt a{background:url(../graphic/icon-set-1/contents.gif) 2px 2px no-repeat;}
ul.intentions li#exblog a{background:url(../graphic/icon-set-1/blogs.gif) 2px 2px no-repeat;}
ul.intentions li#php a{background:url(../graphic/icon-set-1/pages.gif) 2px 2px no-repeat;}
ul.intentions li#checkhig a{background:url(../graphic/icon-set-1/highlights.gif) 2px 2px no-repeat;}
ul.intentions li#hist a{background:url(../graphic/icon-set-1/live_updates.gif) 2px 2px no-repeat;}
ul.intentions li#conversations a{background:url(../graphic/icon-set-1/conversations.gif) 2px 2px no-repeat;}
ul.intentions li#groups a{background:url(../graphic/icon-set-1/groups.gif) 2px 2px no-repeat;}


/* ------------------------------------------------------------------------------------------------------------------------------------ ACTIVITIES SLIDER MENU */


#home-highactmyp .slider_off {float:right;width: 68%;}
#home-highactmyp .slider_off .activities-slider {width:100%;padding:5px 0px 0px;}
#home-highactmyp .slider_off .activities-slider .slider .sparrow.active {width:94%;}
#home-highactmyp .slider_off .activities-slider .slider .sparrow_padding {width:auto;}
#home-highactmyp .slider_off .activities-slider .section {width:23%;}
#home-highactmyp .slider_off .activities-slider .handle {width:3%;cursor:default;}
#home-highactmyp .slider_off #myprofile {width:30%;float:left;margin-top:-23px;}
#home-highactmyp .slider_off .activities-slider .group .section h3 {margin: 7px 0px 3px;}
#sidebar .menu-compact {margin:20px 0 0 0;}
.imploded #home-highactmyp .activities-slider {display:none;}
.activities-slider {float:left;width:67%;padding:5px 5px 0px;display:inline;clear:none;}
.activities-slider .contentWrapper h3{}
.activities-slider .container{}
.activities-slider .slider {width:100%;height:230px;overflow:hidden;}
.activities-slider .slider .sparrow{display:inline;float:left;position:relative;margin:0;padding:9px 0 0;overflow:hidden;width:0px;border-top:1px solid #ddd;}
.activities-slider .slider .sparrow_padding {padding:0px;width:700px;display:block;}
.activities-slider .slider .sparrow.active {width:76%;padding-right:2px;background:none;}
.activities-slider .container ul{list-style-type:none;margin:0;padding:0;}
.activities-slider .container li{display:inline;margin:0;padding:0;}
.activities-slider .handle{background:#ededed url(../graphic/grad_01_rev.gif) repeat-x bottom;float:left;margin:0 2px 0;width:7%;height:230px;text-align:center;color:#505050;cursor:pointer;border-top:1px solid #ddd;border-right:1px solid #ddd;border-left:1px solid #ddd;font-size:20px;color:#aaa;font-weight: normal;}
.activities-slider .contentContainer{padding-left:0;float:left;width:0;height:150px;overflow:hidden;border-top:1px solid #ddd;}
.activities-slider .handle img{margin:2px 0 0;filter:alpha(opacity=80);-moz-opacity:.80;opacity:.80;}
.activities-slider .handle:hover {background:#fff url(../graphic/grad_01_rev.gif) repeat-x top;border-color:#ccc;}
.activities-slider .handle:hover div{margin:-2px 0 0;}
.activities-slider .handle.selected:hover div{margin:0;cursor:default;}
.activities-slider .handle.selected{border-right:none;background:none;margin: 0px;border-color:#ddd;cursor:auto;}
.activities-slider .contentWrapper{text-align:justify;}
.activities-slider .contentInnerWrapper{padding:10px;}
.activities-slider .handle img {margin-top: 10px;}
.activities-slider .contentInnerWrapper .section{float:left;width:20%;}

.activities-slider .four .section {float:left;width:18.5%;}
.activities-slider .section {float:left;width:25%;}
.activities-slider .group .section h3 {margin: 16px 0 3px 0; font-weight: normal;}
.section ul {margin:0px;padding:0px 0 5px 0;clear:both;width:100%;}
.section ul li {list-style:none;margin-bottom:4px;}
.section ul li a {padding: 2px 2px 3px 22px; text-decoration:none;color:#777;display:block; background-repeat: no-repeat; background-position: 2px 2px;}
.section ul li a:hover {color:#555;background-color:#D8DFEA;}
.section ul li img {vertical-align:middle;margin:0 5px 0 0;border:none;}

.handle .participate {display:block;height:40px;background: url(../graphic/icon-set-menu/participate.png) no-repeat center center;}
.handle .community {display:block;height:40px;background: url(../graphic/icon-set-menu/community.png) no-repeat center center;}
.handle .identity {display:block;height:40px;background: url(../graphic/icon-set-menu/identity.png) no-repeat center center;}
.section .your-conversations a{background: url(../graphic/icon-set-menu/your-conversations.png) no-repeat;}
.section .content-explore a{background: url(../graphic/icon-set-menu/explore-content.png) no-repeat;}
.section .start-conversation a{background: url(../graphic/icon-set-menu/start-conversation.png) no-repeat;}
.section .help a{background: url(../graphic/icon-set-menu/help.png) no-repeat;}
.section .ask-help a{background: url(../graphic/icon-set-menu/ask-help.png) no-repeat;}
.section .view-your-groups a{background: url(../graphic/icon-set-menu/view-your-groups.png) no-repeat;}
.section .start-new-group a{background: url(../graphic/icon-set-menu/start-new-group.png) no-repeat;}
.section .updates a{background: url(../graphic/icon-set-menu/updates.png) no-repeat;}
.section .highlights a{background: url(../graphic/icon-set-menu/highlights.png) no-repeat;}
.section .your-pages a{background: url(../graphic/icon-set-menu/pages.png) no-repeat;}
.section .suggestions a{background: url(../graphic/icon-set-menu/suggestions.png) no-repeat;}
.section .change-profile a{background: url(../graphic/icon-set-menu/change-profile.png) no-repeat;}
.section .shortcut-bar a{background: url(../graphic/icon-set-menu/shortcut-bar.png) no-repeat;}
.section .manage-notifications a{background: url(../graphic/icon-set-menu/manage-notifications.png) no-repeat;}
.section .find-people a{background: url(../graphic/icon-set-menu/find-people.png) no-repeat;}
.section .community-blogs a{background: url(../graphic/icon-set-menu/community-blogs.png) no-repeat;}
.section .start-blog a{background: url(../graphic/icon-set-menu/start-blog.png) no-repeat;}
.section .wiki a{background: url(../graphic/icon-set-menu/wiki.png) no-repeat;}
.section .skills a{background: url(../graphic/icon-set-menu/skills.png) no-repeat;}
.section .add-skills a{background: url(../graphic/icon-set-menu/add-skills.png) no-repeat;}
.section .admin-panel a{background: url(../graphic/icon-set-menu/admin-panel.png) no-repeat;}

.sparrow img{background: #fff url(../graphic/grad_01.gif) bottom repeat-x;margin:0 0 0 60px;border:1px solid #ddd;padding:5px;}
.sparrow a.signout, .sparrow a.signout:hover{background:#D93131;color:#fff;padding:0px 10px 2px;display:inline-block;width:50px;text-align:center;margin:0 0 0 60px;}
.menu-compact h2 {display:none;}

.join_wrapper {width:50%;float:left;}
#home-highactmyp .slider_off .activities-slider .join_wrapper .section {width:50%;}
.activity-slider #myprofile .buttons_wrapper {padding:0px;}

/* ------------------------------------------------------------------------------------------------------------------------------------ ACTIVITIES SIDE MENU */


.leftColumnPos .menu-compact-wrapper {border-right:1px solid #ddd;margin:0 0 20px 10px;position:relative;padding: 0px 10px;}
.rightColumnPos .menu-compact-wrapper {border-left:1px solid #ddd;margin:0 0 20px 10px;position:relative;padding: 0px 10px;}
.menu-compact-wrapper img{position:absolute;top:38px;right:10px;background: #fff url(../graphic/grad_01.gif) bottom repeat-x;margin:0 0 0 60px;border:1px solid #ddd;padding:5px;}
.menu-compact-wrapper a.signout, .menu-compact-wrapper a.signout:hover{position:absolute;top:110px;right:10px;background:#D93131;color:#fff;padding:0px 10px 2px;display:inline-block;width:50px;text-align:center;margin:0 0 0 60px;}
	

/* ------------------------------------------------------------------------------------------------------------------------------------ HIGHLIGHT */


.highlight_switcher {position:relative;float:left;width:100%;margin:0 0 5px 0;border-top:1px solid #eee;}
.highlight_switcher a {background: #ccc;color: #777;display: block;float: right;font-size: 10px;height: 10px;line-height: 10px;margin: 0px 0px 0px 1px;padding: 1px 5px 2px;text-decoration: none;}
.highlight_switcher a.on {color: #555;font-weight: bold;}
.highlight_switcher a:hover {background: #555;color: #fff;}
#home-highactmyp .highlight {width:29%;margin:0 1% 10px 2%;}
#highlight{float:left;width:100%;height:155px;position:relative;padding:0 0 20px;}
#highlight h2{padding-bottom:5px;}
#highlight ul.pager{position:absolute;right:0;bottom:0;list-style:none;}
#highlight .scheda p{line-height:1.3;color:#626262;padding:0 15px 5px 0;line-height:12px;}
.highlight .scheda{padding:0 0 5px;background:#fff; border:none;}
.highlight .inline-rating {top:auto;bottom:0px;right:5px;}
.highlight ul.pager{position:absolute;right:0;bottom:0;}
a.img_highlight {float:left;text-align:center;margin:0 10px 0 0;overflow:hidden;width:152px;}
a.img_highlight img {max-width: 152px;}
#home-highactmyp .highlight .inline-rating {right:0px;}
.contentHghlight {position:relative;float:left;width:100%;}
.wrapwidg.highlight .scheda {border:none;}
.highlight .wrappager, #wrapPager {padding:0px;}


/* ------------------------------------------------------------------------------------------------------------------------------------ MY PROFILE */


a.signout, a.signout:hover{background:#D93131;color:#fff;padding:0px 10px 2px;display:inline;text-align:left;}
#actmyp #myprofile{position:absolute;right:-2px;top:26px;width:180px;padding:10px;margin:0px;}
#actmyp #myprofile h3 {width:115px;}
#home-highactmyp #myprofile {width:100%;border:none;background:none;padding:0 0 10px 0;}
#home-highactmyp #myprofile img{right:0px;top:25px;}
#myprofile{position:relative;}
#myprofile img{background: #fff url(../graphic/grad_01.gif) bottom repeat-x;position:absolute;top:10px;right:10px;margin:0 0 0 5px;border:1px solid #ddd;padding:5px;}
#myprofile ul{margin:0;padding:5px 0 0 18px;}
#myprofile ul li{list-style-image:url(../graphic/dot.png);padding:0 0 2px 0;}
#myprofile p#link_notifications{position:absolute;left:10px;top:3px;height:14px;line-height:14px;vertical-align:middle;}
#myprofile p#link_notifications a{height:14px;line-height:14px;padding:0 0 4px 17px;}
#myprofile p#join{padding-top:10px;clear:both;margin:5px 15px 5px 10px;}
#myprofile p#join a{float:right;margin-top:5px;width:50px;text-align:center;padding:2px 1px 1px;}
#myprofile #closebox{display:none;}
#myprofile v#myb p a{display:block;padding-top:3px;}
#w_profile #myprofile img{top:34px;right:0;}
#w_profile #myprofile{border:none;position:relative;float:left;width:100%;background:none;padding:0 0 10px;margin:0;}
#w_profile #myprofile h2.widget_title a {color:#fff;}
#w_profile #myprofile #closebox{display:none;}
#login input#nome,#login input#pass,#login input#openid_register_authentication_openId,#login select {color:#777;width:99%;padding:2px 0;font-size:18px;font-family:Georgia;font-style:italic;border:1px solid #ccc;background:url(../graphic/grad_01_rev.gif) repeat-x 1px 0px;overflow:hidden;}
#login select option {background:#fff;width:100%;padding:0;}
#login p label{color:#555;font-weight:700;margin-bottom:2px;}
#login p.check label{font-weight:400;margin-left:3px;}
#login p.check input{border:none;background:none;}
.openId ul{list-style:none;padding:35px 0 0 100px;}
.openId ul li{padding-bottom:5px;clear:both;height:15px;}
.openId ul li a.remove{margin:2px 0 0 10px;color:red;}
.wrap_signin_using label, #openidLogin label{display:block;margin-bottom:3px;font-weight:700;}
#rem {margin:4px 0 0 0;}
.wrap-openId {position:relative;}
#login .wrap-openId input#openid_register_authentication_openId {padding-left:12%;width:87%;}
.openIdLogo {background:url("../graphic/openid-inputicon.gif") no-repeat scroll 0 5px transparent;position:absolute;left:5px;position: absolute;top: 1px;width:20px;height:20px;z-index:9999;}
.openids {padding: 0px 0px 0px 130px;font-weiight:bold;}




/* ------------------------------------------------------------------------------------------------------------------------------------ PROFILE STATS */

.profile-stats {position:relative;clear:both;padding:6px 0 0 0;}
.profile-stats div {position:relative;float:left;display:inline-block;width:120px;background:#fff url(../graphic/pattern_45_01.gif) repeat-x bottom;margin:0 10px 10px 0;text-align:center;}
.profile-stats div var {display:block;padding:10px 0;font-size:15px;font-style:normal;}



/* ------------------------------------------------------------------------------------------------------------------------------------ ACTION */


.action p.assign_role,.action p.unsubscribe,.action p.subscribe,.action p.propose_as,p.pull_rispondi{width:auto;line-height:1.5;height:auto;float:right;padding:5px 0 0;}
.box_action img{border:0;margin:2px 6px 0 0;}
.box_action a.flag_inappropriate img{position:absolute;right:23px;margin-right:0;}
#sendMail p{padding:10px 0px;}
#sendMail p input{margin:5px 0 0 0px;}
#sendMail p a.search{cursor:pointer;margin:0 70px 0 15px;}
#sendMail p textarea{width:380px;height:80px;margin:0 0 0 15px;}
#sendMail input.send{width:71px;height:19px;margin:20px 0;}
#sendMail #colSx{float:left;display:inline;margin-left:0;width:300px;margin-top:5px;}
#sendMail #colDx{margin-left:0;margin-top:5px;float:left;}
#sendMail #colDx p,#sendMail #colSx p{padding-top:2px;padding-bottom:2px;}
#sendMail #colDx a,#sendMail #colSx a{margin-right:0;color:#03ACFF;}
#flag_new .sx{background:url(../../../img/layout/content/sx_menu_flag.gif) 0 0 no-repeat;position:absolute;left:0;height:29px;width:13px;}
#flag_new .dx{background:url(../../../img/layout/content/dx_menu_flag.gif) 0 0 no-repeat;position:absolute;right:0;height:29px;width:13px;}
#flag_new a img{border:0;margin:0 5px 0 0;}
#flag_new a.flag_inappropriate img{border:0;float:right;margin:2px 0;}
#flag_inappropriate form{width:310px;}
#flag_inappropriate form label{display:block;font-size:12px;clear:left;margin-top:20px;}
#flag_inappropriate form textarea{display:block;padding:5px;}
#flag_inappropriate form input{float:right;margin-top:10px;width:70px;height:24px;border:0;cursor:pointer;}
.box_help_role{position:absolute;top:22px;right:0;width:340px;text-align:right;z-index:100;padding:8px 15px 0;border:1px solid #e5e4e4;}


/* ------------------------------------------------------------------------------------------------------------------------------------ RELATIONSHIP */


.socialRelationship{position:relative;float:left;clear:both;width:96%;padding:10px 2%;margin:10px 0 10px;background:#f1f1f1;}
.socialRelationshipToUser{position:relative;float:left;width:50px;height:50px;overflow:hidden;}
.user-interface{z-index:10;position:absolute;bottom:0;left:0;width:50px;height:16px;background:#f1f1f1;border-top:1px solid #fff;}
a.relationship_remove{position:absolute;top:0;right:0;height:16px;width:16px;background:url(../graphic/remove.gif) no-repeat;text-indent:-9999px;}
#socialRelationshipsList ul{margin:10px 0;}
#socialRelationshipsList li a{float:left;display:inline;background:#f1f1f1 url(../graphic/grad_01.gif) repeat-x bottom;color:#666;font-weight:bold;font-size:12px;border:1px solid #ccc;height:23px;line-height:23px;padding:0 10px;margin:0 5px 5px 0;cursor:pointer;}
#socialRelationshipsList li {float:left;display:inline;}




/* ------------------------------------------------------------------------------------------------------------------------------------ SIDEBAR */


#sidebar #myprofile img {top:30px;}
#sidebar #userlist h2 span{display:block;padding:2px 0 0 23px;}
#sidebar #userlist h2 span.userOnlineCount{color:#000;display:inline;left:159px;position:relative;top:-18px;font-weight:400;}
#sidebar #userlist div#checkouser{float:right;width:90px;margin:-16px 0 0;padding:0;}
#sidebar #userlist div{float:left;width:220px;display:inline;margin:5px 5px 0 13px;padding:8px 0;}
#sidebar #userlist div#usavatar p{float:left;width:26px;height:26px;margin:0 4px 8px;padding:0;}
#sidebar #userlist #usavatar p a{width:26px;height:26px;display:block;text-decoration:none;margin:0;padding:0;}
#sidebar ul.intentions {clear:both;width:100%;margin:10px 0 20px 0;}
#contextualContentSuggestions .content_list_thumbnail .author-little {bottom:0px;left:0px;}
#contextualUserSuggestions .content_list_thumbnail .author-little {bottom:0px;left:0px;}
.addFavoriteButton {position: absolute;right: 100px;top: 5px;}
.removeFavoriteButton {position: absolute;right: 100px;top: 5px;}


/* ------------------------------------------------------------------------------------------------------------------------------------ YOUR CONVERSATIONS CLASSES */


.conversation-item.flame-item .heading span.role{background-color:#D93131;text-transform:uppercase;padding:2px 2px;font-size:0.7em;color:#FFFFFF;display:inline-block;font-weight: normal;}
span.role.featured{background-color:#D93131;}

.conversation-item.flame-item.active {border-color:#D93131;}
.conversation-item:last-of-type.flame-item.active {border-bottom:2px solid #70b473;}
.conversation-item.flame-item .heading .first_line a {color:#D93131;font-weight: bold;}
.conversation-item.flame-item .heading .count {background: #D93131 url(../graphic/count-flame.gif) center right no-repeat;font-weight:700;padding:0 8px 0 4px;}
.conversation-item.flame-item .heading .date {background: #D93131;}


.conversation-item.featured-item {background: url(../graphic/grad_01_green.gif) repeat-x center bottom #fff; border-color: #ddd;}
.conversation-item.featured-item.active {border-color:#70b473;}
.conversation-item:last-of-type.featured-item.active {border-bottom:2px solid #70b473;}
.conversation-item.featured-item .heading .first_line a {color:#187a18;font-weight: bold;}
.conversation-item.featured-item .heading .date {background: #70b473;}
.conversation-item.featured-item .heading .count_total {background-color: #187A18}
.conversation-item.active span.link-to-content a{clear:both;text-decoration:none;display:block;width:100px;line-height:14px;font-size:10px;position:relative;background:#72b0e9 url(../graphic/arrow-article.gif) no-repeat right center;color:#fff;padding:0 4px 2px;margin:10px 0 0;}
.conversation-item.featured-item.active span.link-to-content a{background:#187a18 url(../graphic/arrow-article.gif) no-repeat right center;}





/* ------------------------------------------------------------------------------------------------------------------------------------ CONTENT STATISTICS */


ul.stats_box {margin:0 2%;clear:both;dispaly:block;width:96%;}
ul.stats_box li {width:50%;height:120px;disaply:block;float:left;text-align:center;}
ul.stats_box.downloadable li {width:33%;height:120px;disaply:block;float:left;text-align:center;}
.stats_canvas {margin:0 auto;background: #fff url(../graphic/stats_bg.gif);height:60px;width:300px;}
.downloadable .stats_canvas {margin:0 auto;background: #fff url(../graphic/stats_bg.gif);height:60px;width:200px;}
.stats_title {width:300px;padding:0 0 5px 0;margin:-2px auto 0;background:#ddd;color:#555;height:auto;line-height:30px;font-size:12px;font-weight:bold;}
.downloadable .stats_title {width:200px;padding:0 0 5px 0;margin:-2px auto 0;background:#ddd;color:#555;height:auto;line-height:30px;font-size:12px;font-weight:bold;}
.stats_title span {margin: -4px 0px 0px;display:block;font-size:22px;}
.stats_view .stats_title {color:#409300;background:#A6F16C;}
.stats_download .stats_title {color:#A60000;background:#FF7373;}
.stats_comments .stats_title {color:#c58b02;background:#FFC740;}

/* IE6 statistics hider */
#flag_new a.tool_stats {display:none;}
html>body #flag_new a.tool_stats {display:block;}
/* IE6 statistics hider */


/* ------------------------------------------------------------------------------------------------------------------------------------ CONVERSATION NAMES */


li.commenter_1 .commentSignature a {color:inherit;}
li.commenter_2 .commentSignature a {color:#64992c;}
li.commenter_3 .commentSignature a {color:#5229a3;}
li.commenter_4 .commentSignature a {color:#ab8b00;}
li.commenter_5 .commentSignature a {color:#b36d00;}
li.commenter_6 .commentSignature a {color:#0000cc;}
li.commenter_7 .commentSignature a {color:#cc0000;}
li.commenter_8 .commentSignature a {color:#006633;}
li.commenter_9 .commentSignature a {color:#206cff;}
li.commenter_10 .commentSignature a {color:#ec8f17;}
li.commenter_11 .commentSignature a {color:#b243a1;}




/* ------------------------------------------------------------------------------------------------------------------------------------ USERS */


#userwrapper div img.user_avatar{float:left;margin:0 10px 0 0;background: #fff url(../graphic/grad_01.gif) bottom repeat-x;border:1px solid #ddd;padding:5px;}
#userwrapper .user_badge{font-size:10px;float:left;width:20%;height:80px;padding:10px;margin:10px 2% 0 0;border:1px solid #ddd;background: #fff url(../graphic/grad_01.gif) bottom repeat-x;}
#userwrapper .skills_badge {}
#userwrapper .sub_list {float:left;width:70%;margin:10px 0 0 10px;}
#userwrapper .content_tab {padding:0;}
.clear_list {width:100%;clear:both;float:left;margin:0 0 10px 0;}
#userwrapper div h3 {font-size:11px;padding:0 0 0 55px;}
#userwrapper div p {padding:0 0 0 55px;}
#members{width:96%;padding:10px 2%;background:#f1f1f1;float:left;position:relative;maring:0 0 10px 0;}
#members ul.members_list{vertical-align:middle;clear:both;margin-bottom:10px;height:37px;}
#members ul span{padding-top:10px;width:65px;text-align:left;float:left;color:#03aafd;font-weight:700;display:none;}
#members ul.members_list li{margin-right:5px;display:inline;float:left;height:25px;padding:5px;background:#ddd;}
#members ul.members_list li img{vertical-align:middle;}
h2 span.members_counter {background:#479837; color:#fff;padding: 0 5px;}









/* ------------------------------------------------------------------------------------------------------------------------------------ BIRTHDAYS */


#brthdays ul li {width:100%;position:relative;float:left;clear:left;padding:4px 0;border-bottom:1px solid #eee;}
#brthdays ul li a{font-weight:bold;}
#brthdays ul li img{vertical-align:middle;background:#fff url(../graphic/grad_01.gif) repeat-x center bottom;border:1px solid #ddd;padding:3px;}
#brthdays ul li span {position:absolute;right:5px;top:7px;color:#fff;background:#aaa;padding:2px 5px;font-weight:bold;font-size:11px;font-style:normal;text-transform:capitalize;}
.wrapwidg #brthdays ul{list-style:none;margin:0;padding:0;}






/* ------------------------------------------------------------------------------------------------------------------------------------ PROFILE UNCOMPLETE */


div.alert.profile_alert {background: #B1D3E8;border-bottom: 1px solid #5180A5;color: #5180A5;padding:10px 0;}
div.alert .plugin_profileCompletion a {color:#5180A5;}
div.alert .widget_padding {padding:0px;}
#home-highactmyp .plugin_profileCompletion {width:100%;margin:0px;padding:0px;}
.plugin_profileCompletion .percentBar {border: 1px solid #5180A5;height: 40px;margin: 5px 0;background:#8EB8D2;float:right;width: 65%;}
.plugin_profileCompletion .percentImage {height: 40px;text-align:center;color:#fff;line-height:40px;background: url(../graphic/percent_image.gif) no-repeat;}
.plugin_profileCompletion .percentMessage {margin:-40px 0 0 0;color:#fff;text-align:center;text-shadow: #5180A5 1px 1px 1px;}
.plugin_profileCompletion .percentMessage span{font-size:32px;letter-spacing:-2px;}
.plugin_profileCompletion h3 {font-size:22px;color:#5180A5;}
.plugin_profileCompletion .intro_profile_hint {color:#fff;font-size:18px;text-shadow: #5180A5 1px 1px 1px;}
.plugin_profileCompletion .complete ul {padding:0 0 0 20px;}
.plugin_profileCompletion .complete ul li{list-style-image:url(../graphic/dot.png);padding:0 0 2px 0;}
#sidebar div.alert.profile_alert {margin:0 0 10px 0;padding: 0px 0px 5px;border:none;}
#sidebar .plugin_profileCompletion .percentBar {float:none;width:auto;}
#sidebar .plugin_profileCompletion a {font-weight:400;color:#5180A5;}
#sidebar .intro_profile_hint {font-size:13px;}
#sidebar div.alert .widget_padding {padding:0px 5px;}
#sidebar .plugin_profileCompletion .complete ul {padding:0 0 0 15px;}


/* ------------------------------------------------------------------------------------------------------------------------------------ NOTIFICATION */


#Notifications{float:left;text-align:left;width:100%;}
#Notifications h3{margin-bottom:10px;clear:left;padding:5px 0 10px 30px;}
#Notifications h4{padding-bottom:5px;width:100%;margin:10px 0;}
#Notifications h4 span{padding-bottom:5px;width:100%;margin-top:10px;}
#Notifications p{vertical-align:middle;display:block;margin-bottom:10px;float:left;width:99%;padding:0 0 5px 1%;}
#Notifications p img.ico{margin-right:12px;float:left;}
#Notifications p img.avat_group{margin-top:3px;}
#Notifications p.with_action a.pul_action_accept{position:relative;right:0px;top:10px;}
#Notifications p.with_action a.pul_action_decline{position:relative;right:0;top:10px;}
#Notifications p.with_action a.close_notif{position:absolute;right:0;top:0;}
#Notifications div.elenco_alert{margin-top:20px;padding-bottom:15px;position:relative;}
#Notifications div.elenco_alert p.data_ora{height:auto;line-height:1.2px;width:415px;margin:0 0 7px;padding:0;}
#Notifications div.elenco_alert p.cont_alert{height:auto;line-height:1.2;width:415px;margin:0;padding:0;}
#Notifications div.elenco_alert a.pul_delete_alert{position:absolute;right:125px;top:-5px;}
#Notifications div.elenco_alert a.pul_delete_content{position:absolute;right:0;top:26px;}
#Notifications p img.apply,#Notifications p img.subscribed,#Notifications p img.accepted,#Notifications p img.hide_content{float:none;margin-left:12px;}
#Notifications p.with_notification a.pul_action_decline,#Notifications div.elenco_alert a.pul_hide_content{position:absolute;right:0;top:-5px;}
#Notifications h3{color:#929292;font-size:18px;font-weight:700;border-bottom:1px solid #4B93BC;}
#Notifications h4{color:#2c2c2c;border-bottom:1px solid #4B93BC;font-size:14px;font-weight:700;}
#Notifications h4 span{color:#666;font-weight:400;font-size:11px;}
#Notifications h4 a{color:#03aafd;text-decoration:none;font-size:11px;font-weight:700;}
#Notifications h4 a:hover,#Notifications p a:hover{text-decoration:underline;color:#03aafd;}
#Notifications p a{color:#03aafd;text-decoration:none;font-size:11px;font-weight:400;}
#Notifications p span{font-weight:400;font-size:11px;}





/* ------------------------------------------------------------------------------------------------------------------------------------ QUESTIONS & ANSWERS */


.content-deco {float:right;position:relative;width:90%;padding:15px 0 10px 0;border:1px solid #ddd;}
.content-deco-tip {position:absolute;top:5px;left:-13px;height:26px;width:13px;background: #fff url(../graphic/content-tip.gif) no-repeat;}
img.content_avatar{float:left;padding:3px;background: #fff url(../graphic/grad_01.gif) bottom repeat-x;border:1px solid #ddd;}
#dettaglio {position:relative;padding:0px 2%;margin:0;clear:both;float:left;width:96%;}
.content_actions {clear: both;float: right;width: 90%;position:relative;}
#dettaglio.question_open {background: url(../graphic/question_open.gif) no-repeat right 10px;}
#dettaglio.question_closing {background: url(../graphic/question_closing.gif) no-repeat right 10px;}
#dettaglio.question_closed {background: url(../graphic/question_closed.gif) no-repeat right 10px;}
.conv_question_closed {background: url(../graphic/question_closed.gif) no-repeat 87% 1px #FFFFFF;}
.question .content p {padding:0 30px 0 46px;}
.avatar_question{position:relaive;float:left;padding:5px;background:#ddd;}
#dettaglio img.avatar_question{float:left;margin:0 10px 0 0;}
.question.open .content {background: url(../graphic/question_open.gif) no-repeat right center;}
.question.closed .content {background: url(../graphic/question_closed.gif) no-repeat right center;}
.question.closing .content {background: url(../graphic/question_closing.gif) no-repeat right center;}
.qa_search {position:relative;float:left;width:100%;padding:10px 0px;}
input#qa_search {float:left;position:relative;width:88%;overflow:hidden;margin:0;padding:4px 4px;height:25px;line-height:25px;border:1px solid #ddd;background:#fff url(../graphic/grad_01_rev.gif) repeat-x;}
input#qa_search {font-family:Georgia;font-size:18px;font-style:italic;color:#777;}
.qa_search .search_button {height:35px;}
p.note span {display:inline;}






/* ------------------------------------------------------------------------------------------------------------------------------------ RSS WIDGET */


#rss-widget {position:relative;float:left;width:100%;}
#rss-widget h3 a{margin:10px 0 0 0;width:100%;overflow:hidden;color:#9f5e24;word-wrap:break-word;}
#rss-widget li {margin:0 0 5px 0;position:relative;float:left;width:96%;padding:4px 2%;background:#feefe1 url(../graphic/rss-bg.gif) no-repeat left bottom;}
#rss-widget p {position:relative;float:left;width:100%;}
#rss-widget p.infopost {color:#de985b;font-size:10px;text-align:right;margin:10px 0 0;}


/* ------------------------------------------------------------------------------------------------------------------------------------ VIEWERS */


.viewall{text-align:right;text-transform:uppercase;margin-bottom:20px;float:left;width:100%;margin:0;padding:0;}
.viewallrgt{float:left;width:100%;margin:0;padding:0;}
.viewall a,.viewallrgt a{display:block;float:right;height:25px;line-height:25px;padding:0 5px;margin:0 0 0 5px;background:url(../graphic/grad_01.gif) bottom repeat-x;border:1px solid #ddd;color:#333;font-weight:bold;}
.viewall a:hover,.viewallrgt a:hover{background:url(../graphic/grad_01_rev.gif) bottom repeat-x;border:1px solid #bbb;}
#userview,.vwall{border:0;margin:-25px 0 0;padding:0 5px 0 0;text-align:right;float:right;}
.vwall a,#userview a{text-decoration:none;text-transform:uppercase;color:#a3d0ea;font-size:10px;}
.vwall a:hover,#userview a:hover{color:#fff;}
#userview {color:#f1f1f1;}


/* ------------------------------------------------------------------------------------------------------------------------------------ CHECKBOXES */


#checkfavouser input,#checkouser p input{vertical-align:middle;margin:0 5px 1px 0;}
.wrapwidg .check{display:none;position:absolute;top:29px;z-index:10;height:16px;line-height:16px;padding:0;left:2%;}





/* ------------------------------------------------------------------------------------------------------------------------------------ WIDGET EXPORTER */


.widgetExport {position:absolute;bottom:2px;right:2px;height:11px;width:11px}
.widgetExport a {height:11px;width:11px;display:block;background:url(../graphic/export_me.gif) no-repeat;text-indent:-9999px;}
#TB_htmlContent {padding:10px;}






/* ------------------------------------------------------------------------------------------------------------------------------------ CHART */


#chart p{height:23px;line-height:23px;}
#chart p span{width:25px;float:left;padding:0;}
#chart p a span{float:none;}
#chart img{margin:0 0 0 5px;}
#chart p img.medaglia{vertical-align:middle;margin-bottom:5px;}
.chart p{padding:10px 0;}
.chart p span{float:left;height:13px;padding:0 5px 0 2px;}
.chart p a span{margin-left:0;float:none;padding:0;}
.chart span{display:block;padding:10px 0 0 15px;}
.chart img{margin:0 0 0 5px;}
#chart span,#chart h2 span{display:block;padding:10px 0 0 15px;}





/* ------------------------------------------------------------------------------------------------------------------------------------ RELATED / SUGGESTED */


.relatedContents .scheda .content {padding:0 0 5px 0; width:94%;}
.relatedContents .scheda.blacklisted .content {display:none;}
.removeBlacklistButton {}

.relatedUsers .scheda .content {padding:0 0 5px 0;}
.relatedUsers .user_suggested p{padding:0 0 0 75px;}
.relatedUsers .user_suggested img {float:left;margin:0 0 0 -75px;background: #fff url(../graphic/grad_01.gif) repeat-x bottom;border:1px solid #ddd;padding: 3px;}
.longDescription, .controlPanel {display: none;}
.controlPanel a:hover {text-decoration:none;}
.controlPanel div {display: inline-block;}
.controlPanel a.del_button {background:url("../graphic/delete-icon-x.gif") no-repeat scroll 0 0 transparent;height:13px;position:absolute;right:0;text-indent:-9999px;top:5px;width:13px;}
.controlPanel a.fav_button {background:url("../graphic/delete-icon.gif") no-repeat scroll 0 0 transparent;height:13px;position:absolute;right:0;text-indent:-9999px;top:25px;width:13px;}


/* ------------------------------------------------------------------------------------------------------------------------------------ CHAT */


.chat_dock {position:absolute;top:0px;right:0px;width:100%;text-align:center; height: 25px;z-index:99;}
.chat_dock_buddy {position:relative;float:right;width:220px;background:#ddd;margin:0 10px;cursor:pointer;overflow:hidden;border-bottom: 1px solid #aaa;border-right: 1px solid #aaa;}
.chat_dock_slider {height: 30px;position: absolute;right: 250px;width: 75%;overflow:visible;}
.chat_personal_status {background:#fff url(../../../img/grad_01.gif) bottom repeat-x;position:relative;clear:both;height:25px;line-height:25px;width:220px;font-weight:bold;}
.chat_personal_status.wait{height:auto;width:auto;text-indent:0px;background: url(../graphic/wait.gif) bottom left no-repeat;}
#chat_alert {height:25px;width:25px;background: url(../graphic/notifica_red.png) center center no-repeat; position: absolute;top: 0px;left: 25px;}
.chat_buddy_list {position:relative;clear:both;width:210px;margin:0 5px;background:#ddd;height:auto;overflow:visible;cursor:default}
.chat_buddy_list p {border-bottom:1px solid #ccc;padding:5px 0;}
.chat_buddy_list p a {cursor:pointer;font-weight:bold;}
.chat_buddy_list p a:hover {text-decoration:none;}
.chat_buddy_list p img {vertical-align:middle;margin:0 10px 0 0;border: 1px solid #ccc;}
.chat_container {position:relative;float:right;height:26px;width:auto;border-left:1px solid #ccc;}
.chat_box {position:relative;float:right;width:200px;background:#fff url(../../../img/grad_01.gif) bottom repeat-x;cursor:pointer;overflow:hidden;border-bottom: 1px solid #aaa;border-right: 1px solid #aaa;margin:0 1px 0 0;}
.chat_box.wait {background:none;margin:0px 10px;height:auto;text-indent:0px;}
.chat_tab {position:relative;float:right;height:25px;line-height:25px;width:200px;background:#fff url(../../../img/grad_01.gif) bottom repeat-x;font-weight:bold;}
.chat_tab.offline {background:#ededed;}
.available .chat_status {background:url(../../../img/chat/status-available.gif) center center no-repeat;position:absolute;top:0px;right:20px;width:16px;height:25px;}
.away .chat_status {background:url(../../../img/chat/status-away.gif) center center no-repeat;position:absolute;top:4px;right:25px;width:16px;height:16px;}
.offline .chat_status {background:url(../../../img/chat/status-offline.gif) center center no-repeat;position:absolute;top:0px;right:25px;width:16px;height:20px;}
.offline .chat_title {color:#ccc;}
.chat_content {text-align:left;padding:4px;overflow-y:auto;overflow-x:hidden;height: 160px;position:relative;}
.chat_send_message {min-height:20px;text-align:left;padding:4px;background:#f0f0f0;}
.chat_send_message textarea {height:auto;overflow:auto;word-break: break-word;max-height:36px;line-height:12px;border:none;background:none;font-family:Arial;font-size:11px;width:190px;}
.chat_slider_left {position:relative;float:right;line-height:25px;width:20px;background:#ddd;border-left:1px solid #fff;border-bottom:1px solid #ccc;border-right:1px solid #ccc;cursor:pointer;overflow:hidden;overflow:hidden;font-weight:bold;}
.chat_slider_right {position:relative;float:right;line-height:25px;width:20px;background:#ddd;border-left:1px solid #ccc;border-bottom:1px solid #ccc;cursor:pointer;overflow:hidden;overflow:hidden;font-weight:bold;}
.chat_header {position:relative;width:200px;height:50px;clear:both;text-align:left;}
.chat_header img {float:left;}
.chat_conversation {position:relative;float:right;width:200px;background:#ddd;height:auto;overflow:visible;cursor:default;}
.chat_unreaded_messages {background-color: #D93131;position:relative;float:left;margin-left:6px; padding: 0 4px; top: 5px; color: #fff; line-height:15px;}
.chat_title {position:relative;float:left;padding:0 0 0 10px;}
.chat_close {background:url(../../../img/delete-icon.gif) center center no-repeat;position:absolute;top:0px;right:5px;width:16px;height:25px;text-indent:-9999px;}
.chat_status.online {background:url(../../../img/chat/personal-online.gif) 10px center no-repeat; width: 220px; display: inline-block;height: 25px;}
.chat_status.offline {background:url(../../../img/chat/personal-offline.gif) 10px center no-repeat; width: 220px; display: inline-block;height: 25px;}
.chat_status.error {background:url(../../../img/chat/personal-offline.gif) 10px center no-repeat; width: 220px; display: inline-block;height: 25px;}
.chat_buddy {width:auto;float:none;text-align:left;}
.chat_session {position:relative;float:left;width:100%;margin:0 0 5px 0;}
.chat_avatar {float:left;}
.chat_avatar img{border: 1px solid #ccc;}
.chat_time {font-size: 9px;position: absolute;right: 0px;top: 0px;color:#aaa;}
.chat_session {padding: 10px 0px 4px;border-bottom: 1px solid #CCC;margin: 0px 0px 4px;padding: 0px 0px 4px;}
.chat_session .message {margin:0 0 0 40px;word-wrap: break-word;}
.chat_session .chat_message {margin:0 0 0 40px;word-wrap: break-word;}
.chat_conversation {border-bottom:1px solid #fff;border-left:1px solid #fff;border-right:1px solid #fff;width:198px;z-index:999;}
.writing .chat_status {height: 25px;position: absolute;right: 22px;text-indent: -9999px;top: 0px;width: 16px;background: url(../graphic/chat_type.png) no-repeat right center;}
.chat_go_offline {float:right;display:block;margin:5px 5px;padding: 0px 5px 1px;font-size: 10px;background:#D93131;color:#fff;text-align:center;cursor:pointer;}
.chat_go_offline a {color:#fff;}
.chat_go_offline a:hover {color:#fff;text-decoration: underline;}
.chat_dock_buddy.wait {background:none;margin:0px 10px;height:auto;text-indent:0px;}
.chat_box.wait {margin:0px;}
.chat_dock div.wait .chat_status {background: url(../graphic/chat/chat_load_02.gif) no-repeat center center;margin: 0px;text-indent: 0px;position: absolute;}
.chat_dock div.chat_buddy_list.wait {background:url("../graphic/chat/chat_load_02.gif") no-repeat scroll center center #ddd; height: 20px; margin: 0 0;}


/* ------------------------------------------------------------------------------------------------------------------------------------ CALENDAR */

.content_calendar_widget .dateNavigation{position:relative;text-shadow:0 1px 0 #fff;border-radius:7px 7px 0 0;-moz-border-radius:7px 7px 0 0;font-size: 18px;color: #6099C4;text-align: center;height:30px;line-height:30px;background: #fff url(../graphic/grad_01_rev.gif) repeat-x top left;}
.content_calendar_widget .button_prev{text-indent:-9999px;background:url(../graphic/calendar_arrow_left.png) no-repeat right center;position:absolute;top:0px;left:5px;width:20px;height:30px;}
.content_calendar_widget .button_next{text-indent:-9999px;background:url(../graphic/calendar_arrow_right.png) no-repeat left center;position:absolute;top:0px;right:5px;width:20px;height:30px;}
.content_calendar_widget .timeslot_header{text-align:center;font-weight:bold;color:#444;}
.content_calendar_widget .cal_cell{height:30px;line-height:30px;padding:2px;background: url(../graphic/grad_01_rev.gif) repeat-x top left;border-right: 1px solid #ddd;border-bottom: 1px solid #ddd;border-top: 1px solid #fff;border-left: 1px solid #fff;}
.content_calendar_widget .calendar_table td.populated .cal_cell {background: url(../graphic/calendar_cell_active.gif) no-repeat top left;}
.content_calendar_widget .calendar_table td.populated .cal_cell .cell_info {color:#fff;text-shadow:0 -1px 0 #fff;font-weight:bold;}
.content_calendar_widget .calendar_table thead {background:#fff;}
.content_calendar_widget .calendar_table td {border:1px solid #000;}
.content_calendar_widget .calendar_table td{border:collapse;border:none;text-align:center;}
.content_calendar_widget .calendar_table{margin:0px;width:100%;}
.content_calendar_widget .cell_info{ text-align:center;color:#4b5c6f;text-shadow:0 1px 0 #ecebed;font-family:arial;font-size:14px;font-weight:bold;}
.content_calendar_widget .cal_cell.inactive .cell_info {color:#9aa2ac;}
.content_calendar_widget .event{border-bottom:1px dashed #ddd;color:#6099C4; font-size:12px; font-weight:bold;padding:10px 0 10px 30px;background: url(../graphic/calendar_ico.png) no-repeat 6px center;}
.content_calendar_widget .event a{color:#4b5c6f; font-size:12px; font-weight:normal;text-decoration:none;}
.content_calendar_widget .column_header {text-shadow:0 1px 0 #fff;font-size:10px;height:20px;line-height:20px;text-transform:lowercase;text-align:center;color: #545454;}

/* ------------------------------------------------------------------------------------------------------------------------------------ INPUT TEXTAREA */


.cool_textarea {background: #fff url(../graphic/input_bg.gif) repeat-x top; border:1px solid #ccc; color:#777; font-size:11px; overflow:hidden; padding:2px 0; width: 100%;}




/* modifica profilo 23-01 */
#socialRelationshipsList{posistion:relative; float:right;}
