/* Webfont: LinoType Univers */
/* Regular */
@font-face {
	font-family: 'Univers';
	src:url('../font/LTUnivers-BasicRegular.eot'); /* IE9 Compat Modes */
	src:url('../font/LTUnivers-BasicRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/LTUnivers-BasicRegular.woff') format('woff'), /* Modern Browsers */
		url('../font/LTUnivers-BasicRegular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/LTUnivers-BasicRegular.svg#LTUnivers-BasicRegular') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}

/* Regular Italic */
@font-face {
	font-family: 'Univers';
	src:url('../font/LTUnivers-BasicRegularItalic.eot'); /* IE9 Compat Modes */
	src:url('../font/LTUnivers-BasicRegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/LTUnivers-BasicRegularItalic.woff') format('woff'), /* Modern Browsers */
		url('../font/LTUnivers-BasicRegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/LTUnivers-BasicRegularItalic.svg#LTUnivers-BasicRegularItalic') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}

/* Bold */
@font-face {
	font-family: 'Univers';
	src:url('../font/LTUnivers-BasicBold.eot'); /* IE9 Compat Modes */
	src:url('../font/LTUnivers-BasicBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/LTUnivers-BasicBold.woff') format('woff'), /* Modern Browsers */
		url('../font/LTUnivers-BasicBold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/LTUnivers-BasicBold.svg#LTUnivers-BasicBold') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	}

/* Bold Italic */
@font-face {
	font-family: 'Univers';
	src:url('../font/LTUnivers-BasicBoldItalic.eot'); /* IE9 Compat Modes */
	src:url('../font/LTUnivers-BasicBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/LTUnivers-BasicBoldItalic.woff') format('woff'), /* Modern Browsers */
		url('../font/LTUnivers-BasicBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/LTUnivers-BasicBoldItalic.svg#LTUnivers-BasicBoldItalic') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	}
/*2132*/

/* @font-face{
    font-family:'univers_lt_roman';
	src:url('../font/univers-lt-55-roman.eot');
	src:url('../font/univers-lt-55-roman.eot?#iefix') format('embedded-opentype'),
		 url('../font/univers-lt-55-roman.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'univers_lt_bold';
	src:url('../font/univers-65-bold.eot');
	src:url('../font/univers-65-bold.eot?#iefix') format('embedded-opentype'),
			 url('../font/univers-65-bold.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
} */

