.url-list li{padding:12px 10px; border-top:1px dotted #d1d1d1; font-weight:700}
.url-list li:first-child{border-top:0}

h1{margin-bottom: 5px;}

.headercolumn_generico .widget_padding{background: none; border:0;}
.headercolumn_generico p{ line-height:1.2em}

/* Widgets */
#SN-Highlight .widget_padding, 
#sl-digital-media .widget_padding{border:1px solid #d1d1d1; margin:0 0 15px 0;}

/* Highlight */
#SN-Highlight .scheda.group_highlight{background:transparent;}
	

/* Widget people */
.widgetListPager a.next{background-position:-16px -48px}
.widgetListPager a.prev{background-position:0 -48px}

.sl-link-blog{border-top:1px dotted #d1d1d1;border-bottom:1px dotted #d1d1d1; padding: 10px 2px; background:url(../graphic-spotlight/sl-balloon.png) no-repeat right center;}