/* ----------------------- PORTAL BASIC FORMS ---------------------*/
.hideContent{display:none !important;}
.portal #loaderHeaders{position:absolute; top:50%; left:50%; transform:translateX(-50%); font-size:4em; z-index:1;}
.portal .upload-box{background-color:#fff; padding:35px 70px 70px; margin:100px 110px 150px; border:1px solid #cecece;}
.portal .upload-box form{position:relative;}
.portal .upload-box .section .meta_row .form-field{padding:0;}

.portal .upload-box #addNewContentH2,
.portal .upload-box #editContentH2 {display:block; position:absolute;	height:70px; top:50px; left:0; right:0; color:#fff; padding:20px 0;}
.portal .upload-box #addNewContentH2 > span,
.portal .upload-box #editContentH2 > span{display:block; position:absolute; left:50%; transform:translateX(-50%); width:1140px;}
.portal .upload-box #addNewContentH2 .howto,
.portal .upload-box #editContentH2 .howto{display:block; float:right; color:#fff; font-size:18px; text-transform:uppercase;}
.portal .upload-box #addNewContentH2 .howto::before,
.portal .upload-box #editContentH2 .howto::before{content:'\e97b'; display:inline-block; font:normal 1.8em 'tamtamy-icon'; vertical-align:middle; margin:-4px 10px 0 0;}
.portal .upload-box .headerDescription,
.portal .upload-box .meta_row label{display:block; font:bold 1em 'Montserrat'; text-transform:uppercase;}
.portal .upload-box .headerDescriptionSecondary,
.portal .upload-box .meta_row .metaDescription{display:block; color:#606060; font-weight:normal; text-transform:none; line-height:1.2em;}
.portal .upload-box .meta_row .metaDescription{padding:5px 0 0;}
.portal .upload-box .required{position:absolute; top:0; right:0; color:#f00; font:normal 30px 'Montserrat';}
.portal .upload-box .restrictedField{position:absolute; right:20px; top:-2px; color:#000;}
.portal .upload-box .restrictedField::before{content:'\e987'; display:inline-block; font:normal 1.4em/1.1em 'tamtamy-icon'; vertical-align:bottom; padding:0 5px 0 0;}
.portal .section .hasAttachments{position:relative;}

.portal .upload-box .multi_uploader{position:relative; margin:0 0 30px;}
.portal .multi_uploader .span3{display:block;position:relative;width:100%;height:85px;/* overflow:hidden; */}
.portal .upload-box .multi_uploader .btn.fileinput-button{position:absolute; padding:20px; right:15px; left:20px; top:0; border:1px dashed #ccc; background:transparent; color:#4c4c4c; border-radius:0; overflow:visible;}
.portal .upload-box .multi_uploader.dragAndDropOver .btn.fileinput-button{background:#cecece; border:1px dashed #16a389;}
.portal .upload-box .multi_uploader .icon-plus{background-image:none;width: auto;height: auto;}
.portal .upload-box .multi_uploader .icon-plus::before{content:'Drag Files Here'; font:normal 2em 'Montserrat';}
.portal .upload-box .multi_uploader.dragAndDropOver .icon-plus::before{content:'Drop it Now!'; font:normal 2em 'Montserrat';}
.portal .upload-box .multi_uploader .btn.fileinput-button > span{display:block; position:absolute; right:0; bottom:-50px; background-color:#16a389; color:#fff; padding:10px 20px; border-radius:4px; text-transform:uppercase;  -webkit-transition:background-color 250ms linear; -ms-transition:background-color 250ms linear; transition:background-color 250ms linear;}
.portal .upload-box .multi_uploader .btn.fileinput-button:hover > span{background-color:#12846f;}
.portal .upload-box .multi_uploader .btn.fileinput-button > input{height:145px;}
.portal .upload-box .multi_uploader .btn.fileinput-button:hover > span{background:#12846f;}
.portal .upload-box .multi_uploader #metaFiles_alliance_private_logo{position:absolute; top:0; margin:0;}
.portal .upload-box .multi_uploader .table th,
.portal .upload-box .multi_uploader .table td{vertical-align:middle;}
.portal .upload-box .multi_uploader .table td:last-child{text-align:right;}
.portal .upload-box .multi_uploader .table td.image_delete input{vertical-align:middle; display:inline-block; margin:15px 0;}

/* Fake Fields */
.portal .upload-box .fake-field{background-color:#fff; border:1px solid #d6d6d6;}

/* Portal Form Buttons */
.portal .upload-box .buttons_wrapper{position:absolute; bottom:-150px; left:50%; transform:translateX(-50%); margin:0; width:calc(100% + 140px); max-width:1140px; border:none;}
.portal .upload-box .content_addcomment .buttons_wrapper{bottom:0; width:100%; left:0; transform:none;}
.portal .upload-box .buttons_wrapper a.generic_button,
.portal .upload-box .buttons_wrapper a.content-delete{padding:15px 20px; line-height:1.1em; border-radius:4px; text-align:center;}
.portal .upload-box .multi_uploader .generic_button{background:#16a389; border-radius:4px; padding:5px 20px; max-height:100%; height:auto; text-shadow:none;}
.portal .upload-box .multi_uploader .generic_button:hover{background:#12846f;}
.portal .upload-box .buttons_wrapper a.generic_button.saveAction,
.portal .upload-box .buttons_wrapper a.generic_button.content-back{min-width:180px; height:auto; text-shadow:none; margin:5px 0;}
.portal .upload-box .buttons_wrapper a.generic_button.content-back{background:transparent; border:2px solid #16a389; color:#16a389; float:left;}
.portal .upload-box .buttons_wrapper a.generic_button.saveAction{background:#16a389; color: #fff;}
.portal .upload-box .buttons_wrapper a.content-delete{color:#999;}
.portal .upload-box .buttons_wrapper a.generic_button.greener{background:#16a389; color:#fff;}
.portal .upload-box .buttons_wrapper a.generic_button.greener:hover{background:#12846f;}
.portal .upload-box .multi_uploader button.cancel.generic_button_danger,
.portal .upload-box .multi_uploader button.delete.generic_button_danger{background:#da4e49; border-radius:4px; padding:5px 20px; height:auto; font-size:1em;}
.portal .upload-box .multi_uploader button.cancel.generic_button_danger::before,
.portal .upload-box .multi_uploader button.delete.generic_button_danger::before{content:'\e90e'; display:inline-block; font:normal 1.2em 'tamtamy-icon'; vertical-align:text-top; margin:0 5px 0 0;}
.portal .upload-box .jtt-loading-opacity {background:#fff;}

/* Chosen Elements */
.portal .upload-box .chosen-container{display:block; position:relative; width:100% !important; height:40px; background:#fff; border:1px solid #cec9cb; margin:0;}
.portal .upload-box .chosen-container div b{background-image:none !important;}
.portal .upload-box .chosen-container::after{content:'\e946'; position:absolute; right:0; top:0; padding:11px 8px; font-family:'tamtamy-icon'; text-align:center; pointer-events:none; box-sizing:border-box; z-index:1;}
.portal .upload-box .chosen-container a.chosen-single{display:block; position:relative; overflow:hidden;border:none; background:none; box-shadow:none; padding:8px 0 0 15px; height:40px;}
.portal .upload-box .chosen-container .chosen-search input[type=text]{line-height:30px; height:40px; background-image:none !important;}
.portal .upload-box .chosen-container .chosen-search::after{content:'\e99e'; position:absolute; right:0; top:0; padding:6px 8px; font:normal 2em/30px 'tamtamy-icon';}
.portal .upload-box .userGenerated .chosen-container .chosen-search::after{content:none;}

/* Redactor Areas */
.portal .upload-box .redactor-box{margin:0;}
.portal .upload-box .redactor-editor{border:1px solid #cec9cb; font-size:13px;}
.portal .upload-box .redactor-toolbar{box-shadow:none;}

/* Contacts */
.portal .team_member{display:inline-block; position:relative; overflow:hidden; border-radius:4px; padding:10px 30px 0 70px; margin:5px 10px 0 0; border:1px solid #16a389; min-height:60px;}
.portal .team_member a{color:#16a389;}
.portal .team_member .member_nickname{font-size:.8em;}
.portal .team_member .team_avatar{position:absolute; left:0; top:0;}
.portal .team_member .team_member_remove{position:absolute; right:2px; top:2px; color:#fff; background:#16a389; border-radius:50px; width:14px; height:14px; text-align:center; font-size:.58em; padding:2px;}

/* Calendars UI (Loaded from jQuery-UI css) */

/* Cropper Modal */
body.portal.modal-open{overflow:hidden;}
.modal-backdrop,
.modal-backdrop.fade.in{z-index:999999; position:fixed;}
.portal .fileUpload-cropper.modal{z-index:9999999; top:0 !important; width:100%; margin-left:0; transform:translateX(-50%); background:transparent;}
.portal .modal-open #cropperModal{position:fixed; top:0; left:0; height:100%; width:100%; overflow-y:visible; overflow-x:hidden; margin:0; background:transparent;}
.portal #cropperModal .modal-dialog{width:991px; margin:5% auto; background:#fff; border-radius:10px; overflow:hidden;}
.portal #cropperModal .modal-body{padding:0;max-height:100%;}
.portal #cropperModal .modal-body .cropper-container{padding:20px; box-sizing:border-box; width:100% !important;}
.portal #cropperModal .modal-body .cropper-container .cropper-canvas img{}

.portal #cropperModal .btn-group {width:100%; padding:14px 15px 15px; margin-bottom:0; text-align:right; background-color:#f5f5f5; border-top:1px solid #ddd; -webkit-border-radius:0 0 6px 6px; -moz-border-radius:0 0 6px 6px; border-radius:0; -webkit-box-shadow:inset 0 1px 0 #fff; -moz-box-shadow:inset 0 1px 0 #fff; box-shadow:inset 0 1px 0 #fff; zoom:1;}
.portal #cropperModal .btn-group .btn{cursor:pointer;display:inline-block;height: auto;min-width: 120px;line-height:22px;padding: 10px 15px;margin: 0;color:#fff;font-weight:bold;border-radius: 4px;float: unset;}
.portal #cropperModal .btn-group .btn.btn-success{border: 1px solid #19a95c;text-shadow: 0 1px #059405;}
.portal #cropperModal .btn-group .btn.btn-danger{border: 1px solid #ed2432;text-shadow:0 1px #9a2d2d;}

/* Suggestions List */
.ac_results{background:#fff;}
.ac_results li{border:1px solid #dfdfdf; border-width:0 1px 1px 1px; list-style:none;}
.ac_results li:first-child{border-width:1px; list-style:none;}
.ac_results li.ac_over{background:#16a389; color:#fff;}
.ac_results li .item-avatar{margin:0 10px 0 0; vertical-align:top; width:58px; height:58px; border-right:1px solid #dfdfdf;}
.ac_results li .item-name{display:inline-block; padding:14px 0 0; line-height:1.1em;}
.ac_results li .item-name .item-info{display:block; color:#16a389;}
.ac_results li.ac_over .item-name .item-info{color:#fff;}

/* Tags */
.portal .upload-box .fake-field.tags{background-color:transparent; border:none;}
.portal .upload-box .fake-field.tags .label{display:block; font:bold 1em 'Montserrat'; text-transform:uppercase; color:#333; text-align:left; padding:0 0 6px;}
.portal .upload-box .fake-field.tags .label .jtt-autocomplete{width:100%; max-width:100%; display:block; padding:0;}
.portal .upload-box .fake-field.tags .label .jtt-autocomplete .ac_input{width:100%; height:40px ;line-height:40px; padding:0 0 0 20px; border:1px solid #cecece;}
.portal .upload-box .fake-field.tags .label .jtt-autocomplete .jtt-auto-float{margin:0; box-sizing:border-box;}
.portal .upload-box .fake-field.tags .notes{text-transform:none; font-weight:normal; white-space:normal; margin:0 0 10px;}
.portal .upload-box .fake-field.tags .tag_list{display:block; overflow:hidden; margin:10px 0 20px;}
.portal .upload-box .tag_token .tag_remover{position:absolute; right:0; top:0; width:20px; height:20px; text-indent:-9999px;}
.portal .upload-box .tag_token .tag_remover::after{content:'\e97e'; text-indent:0; display:block; position:absolute; top:2px; right: -2px; width:20px; height:20px; color:#fff; font-size:1.4em;}
.portal .upload-box .section.publication.fake-field{border:none;}
.portal .upload-box .jtt-autocomplete {width: 100%;}
.portal .upload-box .jtt-autocomplete .jtt-auto-float {margin:0; box-sizing:border-box;}
.portal .upload-box .jtt-autocomplete .ac_input{line-height:40px;}
.portal .upload-box .jtt-autocomplete .ac_input:focus{outline:none; padding:0 20px;}
.portal .upload-box .jtt-chooser .jtt-add-message{line-height:40px;padding: 0 20px 0 0;}
.portal .upload-box .notes {display:none;}

.portal .jtt-chooser .jtt-selected-item{padding:10px 0 10px 10px;}
.portal .jtt-chooser .jtt-selected-item span{margin: 0 5px 5px 0; font-size:11px;}
.portal .jtt-chooser .jtt-selected-item span:first-child{}
.portal .jtt-chooser .jtt-selected-item span .jtt-item-remover{background:none;}
.portal .jtt-chooser .jtt-selected-item span .jtt-item-remover::before{content:'\e97e'; display:block; position:absolute; font-family:'tamtamy-icon'; top:1px; color:#fff; font-size:1.3em; text-indent:0;}
.portal .tag-hint-panels > div,
.portal .tag-hint-panels .keytag-container{display:block; width:100%; overflow:hidden; margin:0 0 5px;}
.portal .reshare-tooltip .jtt-chooser{overflow:hidden;}
.portal .reshare-tooltip .jtt-chooser .jtt-selected-item{margin:-14px 0 -15px -10px; padding:13px 0 8px 10px;}

/* Multi Uploader */
.portal .upload-box .dragAndDrop{margin:20px 0; padding:40px; width:100%; height:auto; border:1px dashed #cec9cb;}
.portal .upload-box .fileupload-multi-main .dragAndDrop{margin:5px 0;}
.portal .upload-box .dragAndDrop.dragAndDropOver{background:#cecece; border-color:#16a389;}
.portal .upload-box .container-fileupload .fileupload-multi-main{position:relative;padding: 0;}
.portal .upload-box .container-fileupload .fileupload-multi-main .row,
.portal .upload-box .container-fileupload .fileupload-multi-main .table{margin:0;}
.portal .upload-box .multi_uploader .span7{margin:0 -5px 0 0;}
.portal .upload-box .attachments_title{padding:0 0 5px; text-transform:uppercase; font-size:14px; color:#333;}
.portal .upload-box .fileupload-multi-main .name{width:50%;}
.portal .upload-box .fileupload-multi-main .preview img{width:60px;}
.portal .upload-box .fileupload-multi-main .image_delete{white-space: nowrap;}
.portal .upload-box .multi_uploader #dragAndDropDeleteAll input{margin:15px;}

.portal .upload-box .file-container.attachment{display:block; overflow:hidden; width:100%;}
.portal .upload-box .file-container.attachment .selected-attachment{display:block; width:100%; clear:both; border-top:1px solid #e1e1e1;}
.portal .upload-box .file-container.attachment .selected-attachment:first-child{border:none;}
.portal .upload-box .file-container.attachment .selected-attachment > * {display:inline-block; padding:10px;}
.portal .upload-box .file-container.attachment .selected-attachment > .attach-delete{display:block; padding:5px 20px; height:auto; margin:20px 10px; float:right; background:#da4e49; color:#fff; border-radius:4px; font-size:1em; text-transform:uppercase;}
.portal .upload-box .file-container.attachment .selected-attachment > .attach-delete::before{content:'\e90e'; display:inline-block; font:normal 1.2em 'tamtamy-icon'; vertical-align:text-top; margin:0 5px 0 0;}

/* Error Messages */
.portal .upload-box .error-msg{color:#fff; background:#f00; padding:0 20px; position: absolute; right:0; top:-20px;}
.portal .upload-box .error-area{display:block; position:relative; border:1px dashed #f00; margin:10px 0;}

/*? %%%Dev Options%%% ?*/
.portal .upload-box .content_type{font:bold 1.4em 'Montserrat'; border-bottom:1px solid #cecece; margin:0;}
.portal .upload-box .content_type::after{content:"* developers only"; display:block; float:right; color:#0ef; font-size:.5em;}
.portal .upload-box .tabs.resource-types{display:none; width:100%; margin:-5px -10px 10px;}
.portal .upload-box .tabs.resource-types li{display:inline-block; padding:10px 20px; background:#cecece; margin:5px 10px;}
.portal .upload-box .tabs.resource-types li.active{background:#4c4c4c;}
.portal .upload-box .tabs.resource-types li.active a{color:#fff;}

/** Media Queries **/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi){
	.portal .upload-box .chosen-container .chosen-search input[type=text],
	.portal .upload-box .chosen-container .chosen-single abbr,
	.portal .upload-box .chosen-container .chosen-single div b,
	.chosen-container-single .chosen-search input[type=text],
	.portal .upload-box .chosen-container .chosen-choices .search-choice .search-choice-close,
	.portal .upload-box .chosen-container .chosen-results-scroll-down span,
	.portal .upload-box .chosen-container .chosen-results-scroll-up span{background-image:none !important;}
}

@media only screen and (max-width:1200px){
	.portal .upload-box #addNewContentH2 > span{position:relative; left:auto; transform:none; width:100%; padding:0 15px;}
	.portal .upload-box .multi_uploader button.cancel.generic_button_danger,
	.portal .upload-box .multi_uploader button.delete.generic_button_danger{padding: 5px 10px;}
	.portal .upload-box .multi_uploader button.cancel.generic_button_danger span,
	.portal .upload-box .multi_uploader button.delete.generic_button_danger span{display:none;}
	.portal .upload-box .multi_uploader button.cancel.generic_button_danger::before,
	.portal .upload-box .multi_uploader button.delete.generic_button_danger::before{margin:0;}
}

@media only screen and (max-width:991px){
	.portal .upload-box{margin:0 0 110px;}
}

@media only screen and (max-width:640px){
	.portal .upload-box{margin: 100px 0 0;padding: 25px 15px 20px;}
	.portal .upload-box #addNewContentH2,
	.portal .upload-box #editContentH2{font-size:22px;}
	.portal .upload-box #addNewContentH2 .howto,
	.portal .upload-box #editContentH2 .howto{width:30px; white-space:nowrap; overflow:hidden; height:30px;}
	.portal .upload-box #addNewContentH2 .howto::before,
	.portal .upload-box #editContentH2 .howto::before{font-size:1.6em; margin:0;}
	.portal .upload-box .section .meta_row select{background:#fff; border:1px solid #cec9cb; border-radius:0; height:40px;}
	.portal .upload-box .fake-field.tags .label{white-space:normal;}
	.portal .upload-box .buttons_wrapper{margin:0 0 30px; bottom:-230px; width:100%;}
	.portal .upload-box .buttons_wrapper a.generic_button,
	.portal .upload-box .buttons_wrapper a.generic_button.saveAction,
	.portal .upload-box .buttons_wrapper a.generic_button.content-back{float:none;display: block;margin: 5px auto !important;}
	.portal #cropperModal .modal-dialog{width:100%;}
	.portal .upload-box .multi_uploader .table th:first-child,
	.portal .upload-box .multi_uploader .table td:first-child{display:none;}
	.multi_uploader .btn-danger.delete > span{display:none;}
	.portal .multi_uploader .span3{height:auto; min-height:10px;}
	.portal .upload-box .multi_uploader .btn.fileinput-button{border:none; padding:0;}
	.portal .upload-box .multi_uploader .btn.fileinput-button .icon-plus{display:none;}
	.portal .upload-box .multi_uploader .btn.fileinput-button > span{width:100%; bottom:-40px;}
	.portal .upload-box .multi_uploader .btn.fileinput-button > input{height:50px;}
	.portal .upload-box .fileupload-multi-main .dragAndDrop{display:none;}
	.portal .upload-box .multi_uploader .span7{width:100%;}
	.portal .upload-box .multi_uploader .span7 .generic_button{text-align:center; width:100%;}
}
@media only screen and (max-width:480px){
	.portal .upload-box .restrictedField{font-size:.9em; position:relative; right:auto; top:auto; color:#cecece;}
}