/* --------------------------------------------
----------------------------------------------- SMART UPLOADER */
.smart_uploader_widget{position:relative;}
.smart-upload-opener{cursor:pointer;background:#fff; border:1px solid #d6d6d6; line-height:30px; padding:0 0 0 5px; margin:0 0 7px; font-size:13px; color:#4c4c4c; overflow:hidden;}
.smart-upload-float{display:none; position:absolute; top:30px; padding:30px; width:681px; z-index:10; background-color:#f2f2f2; border:1px solid #d4d3d4; box-shadow:0 3px 8px rgba(0, 0, 0, 0.25);}

.su-message{float:left;}

.smart_upload.fake-field.share{overflow:auto;margin:7px 0;}
.smart_upload .cloaked-field.title{width:95%;float:left;}

.label-body{padding:0 10px 0 0;float:left;}

.smart_upload .field{background:none;border:none;overflow:hidden;margin:0;width:98%;font-size:1em;}

.su-icons-menu,
.su-icons-menu li{display:inline-block;float:right;}
.su-icons-menu li{text-indent:0;}
.su-icons-menu a{border-left:1px solid #d4d3d4;background-image:url(../../img/icons-set-30x30.png?v=@TAMTAMY_PREVENT_CACHE@); background-repeat:no-repeat; text-indent:-20000em; display:block; height:30px; width:30px;}
.su-icons-menu li.su-opener a,
.su-icons-menu a.icon-plus{background-position:-30px -30px;}
.su-icons-menu li.su-opener.su-open a,
.su-icons-menu a.icon-less{background-position:0 -30px;}
.su-icons-menu a.icon-edit{background-position:-90px 0;}
.su-icons-menu a.icon-new{background-position:-60px 0;}
.su-icons-menu a.icon-plus:hover{background-position:-30px -30px;}
.su-icons-menu a.icon-edit:hover{background-position:-90px -30px;}
.su-icons-menu a.icon-new:hover{background-position:-60px -30px;}

.smart_upload.description{clear:both;}
.smart_upload textarea.description{overflow:auto; width:475px;}
.smart-upload.labels{padding:5px; border:1px solid #ccc; background:#f9f9f9; margin:-11px 0; border-top:1px solid #E2E2E2; overflow:auto; height:14px;}
.smart-upload.labels .arrow{background:url(../../img/su-arrow-up.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right; text-indent:-2000em; position:absolute; top:-8px; height:10px; width:20px;}
.smart_upload .field.preview{padding:0; margin:0; width:94%;}
.smart_upload .label{vertical-align:top; float:left;}
.fake-field .jtt-chooser{border:none;}
.smart_upload .url-info{background:#fff; border:1px solid #d6d6d6; margin:0; padding:5px; min-height:24px;}
.smart_upload .url-info{position:relative;}

.smart_uploader_widget .description-redactor{overflow:auto; width:100%; float:left;}
.smart_uploader_widget .label-description{float:left; display:none;}
.smart_uploader_widget .redactor-box{border:0;}
.fake-field.su-description{padding:0;}

.smart_upload.cloaked-field.description{padding:0; width:auto;}

/* -----------------------------------------
-------------------------------------------- CKEditor */
.smart_upload .cke_skin_geko .cke_wrapper,
.smart_upload .cke_skin_geko .cke_focus{box-shadow:none;padding:0;}

.smart_upload .cloaked-field .cke_skin_geko .cke_top{opacity:0; border-color:#fff;}
.smart_upload .cloaked-field.focus .cke_skin_geko .cke_top,
.smart_upload .cloaked-field:hover .cke_skin_geko .cke_top{opacity:1; border-color:#ddd;}

.
/* -----------------------------------------
-------------------------------------------- Smart Uploader */
site-info .site-thumb{margin-right:10px;overflow:hidden;max-height:56px;max-width:96px;float:left;position:relative;}
.site-info .site-thumb img{max-height: 56px;max-width: 96px;}
.smart_upload .site-info .site-thumb img{height:96px;width:96px;max-height: 96px;}

.site-info .site-title{font-weight:bold;}
.site-info .site-subtitle{font-size:0.9em;font-variant:small-caps;}
.site-info .site-description{color:#808080;margin-bottom: 5px;}
.site-info .prev-thumb,
.site-info .next-thumb{cursor:pointer; height:14px; width:14px; text-indent:-9999px; border:1px solid #ddd; float:left; margin:5px 5px 0 0;}
.site-info .prev-thumb{background:url(../../img/arrow-left.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 1px;}
.site-info .next-thumb{background:url(../../img/arrow-right.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat 1px;}
.site-info .prev-thumb.disable,
.site-info .next-thumb.disable{border-color:#eee; opacity:.5; cursor:default;}
.site-info .thumb-nav{clear: both; float:left;}
.site-info .disable-thumb{margin:2px; overflow:hidden; width:100px; float:left;}
.site-info .disable-thumb div{float:left;padding:2px 2px 2px 0;}
.site-info .jtt-slider{float:left;}
.site-info .jtt-slider,
.site-info .jtt-slider .jtt-page{width:100px; max-width:100px;}
.site-info.yt-video .icon-play{top: 15px;position: absolute;background: url(../../img/icon_play.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center;width: 28px;height: 28px;cursor: pointer;left: 25px;}
.site-info.yt-video .icon-play:hover{}
.site-info .youtube-video{width:450px;}

.smart_upload .jtt-loading-opacity{background:none;}
.smart_upload.options{position:relative;}
.smart_upload.options .labels{height:22px;}
.smart_upload.options .upload-option.label{font-size:11px;float:right;margin:0;border:none;}
.smart_upload .su-icons-menu a{font-weight:bold;}
.smart_upload a.advanced_upload{float:right;margin:3px 0 0;}
.smart_upload .claim{font-weight:bold;text-transform:uppercase;}
.smart_upload a.selector{padding:0 12px 0 0;background:url(../../img/smart_upload_arrows.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right 5px;}
.smart_upload a.selector.on{background:url(../../img/smart_upload_arrows.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right -30px;}

.smart_upload.upload-option.editable span{}
.smart_upload.upload-option.editable input{padding:2px;}
.smart_upload.options .arrow{background:url(../../img/su-arrow-up.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat right; text-indent:-2000em; position:absolute; top:-8px; right:32px; height:10px; width:20px;}
.smart_upload.options #contentLink{display:none;}
.smart_upload.options .upload-option{padding:4px; display:inline-block; cursor:pointer;}
.smart_upload.options .upload-option img{width:30px; box-shadow:1px 1px 1px #ccc;}
.smart_upload.options .upload-option.selected{background:#fafafa;}
.smart_upload.options input.generic_button{display:inline-block; margin:14px 0 0 0; padding:0 30px;}
.smart_uploader .field.description{height:100px; font-family:Arial; overflow:visible; color:#666; margin:0 0 5px 0;padding:5px}
.smart_upload .cloaked-field.error{border-color:#f00;}
.smart_upload .fake-field.error{border-color:#f00;}
.smart_upload.tagger .tag_list{margin:0;}

.smart_upload .tag-list{}
.smart_upload .tagger #ac_me_smart{width:40%;}
.smart_upload .tagger input{ background:#fff url(../../../aqua/graphic/input_bg.gif?v=@TAMTAMY_PREVENT_CACHE@) repeat-x scroll center top;border:1px solid #ccc;}
.smart_upload #tagPreviewZone_smart{text-align:left;float:none;padding:0;font-size:inherit;}
.smart_upload.submit{margin:10px 0 0;overflow:auto;}
.inline .smart_upload.submit{text-align:right;display:inline;margin:0;float: right;}
.inline .smart_upload.submit > *{float: none;display: inline-block;}
.inline .smart_upload.submit > .generic_button {background:#4597ef;}
.smart_upload.submit .advancedUploader {float: left; padding: 4px;}
.smart_upload .generic_button,
.smart_upload .generic_button_danger {margin:0 0 0 15px;}
.cleaner,
.over-zone .cleaner,
.smart_upload.cleaner{clear:both;text-indent:-20000em;font-size:1px;height:0;}

.thumb-container,
.file-container .file-added .file_input:first-child{margin-top:10px;}
.file-container .file-added .file_input{border-top:1px dotted #ddd;padding:5px 0;}

.icon-attachent{background:#fff url(../../img/icon-attachment.png?v=@TAMTAMY_PREVENT_CACHE@) no-repeat center center;text-indent:-20000em;border-left:1px solid #d4d3d4;height:30px;width:30px;display:block;float:right;}
.tag-input.fake-field{margin-top:0;}
.smart_upload .tag_token{margin-bottom:5px;}
