/*
Name: Security Day Custom Skin
Description: TamTamy 2010 New Skin - CSS 2&3
Author: Giovanni Corti
Version: Aqua Patch Skin v1.0a
*/

/* Aqua Skin Base Importer */
@import url("../../aqua/css/skin.css");

/* Let's Customizing */
a, a h1, a h2, a h3, a h4, a h5 {color:#2B9936;}
a:hover, a h1:hover, a h2:hover, a h3:hover, a h4:hover, a h5:hover {color:#2B9936;}
body{background: #676769;}
#home-highactmyp {display:none;}
#home-wrapcontent, #wrapcontent {border:none;}
#mainwrap {width:968px;min-width:968px;max-width:968px;}
#header {background: url(../graphic/bk_header.jpg) no-repeat;height:238px;}
.wrapcontent_padding {padding:0px;}
#header #search {display:none;}
#header h1{background:url(../graphic/tt_logo.jpg) no-repeat;width:290px;height:76px;left:auto;right:-18px;top:95px;}
#header ul {height:15px;left: 5px;bottom: 18px;}
#header ul li a{color:##4F4F4F;text-shadow:none;background:none;border:none;height:15px;line-height:15px;}
#header ul li a:hover,#header ul li a.on,#header ul li#first a:hover,#header ul li#first a.on{color:#2B9936;text-shadow:none;background:none;border:none;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3 {background:#bfc1cd;color:#757881;text-shadow:0 1px 0 #fff;height: 45px;
line-height: 45px;}
#home-highactmyp h2 {color:#BFC1CE;}
#home-wrapcontent {background:none;}
.wrapcontent_padding {padding:0px;}
.wrapwidg {background: #fff url(../graphic/tit_green_deco.jpg) no-repeat top left;border:none;}
.wrapwidg {-moz-box-shadow:0 2px 2px #333;-webkit-box-shadow:0 2px 2px #333;}
#w_board, #w_profile {background: #fff url(../graphic/tit_green_dark.jpg) no-repeat top left;}
#w_twitter_col3 {background: #fff url(../graphic/tit_twitter_col3.jpg) no-repeat top left;}
#post_ita, w_tagCloud, #w_onlineUser {background: #fff url(../graphic/tit_grigio_deco.jpg) no-repeat top left;}
#w_profile #myprofile img {top:53px;}
#home-wrapcontent #w_board h2.widget_title, #home-wrapcontent #w_profile h2.widget_title {color: #2B9936;}
.scheda {background:none;}
#home-wrapcontent h2.widget_title, .addContent h3, #attachments h3, #myprofile h2, #home-wrapcontent h2.widget_title, #sidebar h2.widget_title, .addContent h3, #attachments h3 {text-shadow:none;color: #fff;font-size: 18px;font-weight: 400;text-align:right;text-transform: uppercase;margin: 0px 0px 10px;height: 45px;
line-height: 45px;}
#w_profile h2 {height: 25px;line-height: 25px;padding: 0px 8px;}
#w_profile h2 {-moz-border-radius: 3px;-webkit-border-radius: 3px;}
#w_profile h2, #myprofile h2, #myprofile h2 a {color:#fff;}
ul.tab_list li a:hover, ul.tab_list li a.on, ul.tab_list li.primo a:hover, ul.tab_list li.primo a.on, ul.tab_list li a.on, ul.tab_list li.active a {background:repeat-x scroll 0 0 #1f1f1f;border-color:#545454;color:#494c51;}
.vwall a, #userview a {display:none;}
#userview {display:none;}
ul.pager li a:hover,ul.pager li a.on{background:#757881;}
ul.pager li a{background:#bfc1ce;}
#myprofile ul li {list-style-image:url("../graphic/dot.png");}
#footer {color:#fff;background:url(../graphic/bk_footer.jpg) no-repeat;height:97px;padding:0px;margin:0 0 10px 0;}
#footer p#logo_pow a{background:url(../graphic/logo_pow.jpg) no-repeat;}
#footer p#logo_pow {left:auto;right:-5px;top: 41px;}
#footer p#global {position:absolute;top:44px;left:325px;}

#home-wrapcontent div div#foto p.tit_flickr {background: url(../graphic/logo_flickr.jpg) no-repeat 12px 0px;clear: both;height: 20px;margin-bottom: 5px;width: 78px;}
