.copsPortal_askToJoin{font-family: 'Montserrat', sans-serif; padding: 25px 15px; border:1px solid #000; margin:0; position:relative;}
.copsPortal_askToJoin h3{font-size: 18px;font-weight: bold;text-align: center;margin: 0 0 20px;}
.copsPortal_askToJoin .description_text p{text-align: center; font-size: 16px; margin-bottom: 15px;}
.copsPortal_askToJoin .description_text p a{font-weight: bold; text-decoration: underline;display: block;}
.copsPortal_askToJoin .copsAvailability{border: 1px solid #000; margin:0 0 25px; position: relative;}
.copsPortal_askToJoin select#available_cops{width:100%; border:none; border-radius:0px; box-shadow:none; height:40px; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-left: 8px;}
/*.copsPortal_askToJoin .copsAvailability:after {content:"\e946";font-family: tamtamy-icon; padding: 12px 8px; position: absolute; right: 0; top: 0; z-index: 1; text-align: center; height: 100%; pointer-events: none; box-sizing: border-box;}*/
.copsPortal_askToJoin .btn-arrow{text-transform: uppercase; border-radius: 0; font-weight: bold;}
.copsPortal_askToJoin h3.already_cops{margin-bottom: 0;}
.askToJoin .contact-container a.contactBtn { margin-bottom: 0;}

@media only screen and (max-width:991px){
    .copsPortal_askToJoin{padding: 15px 0;}
    .copsPortal_askToJoin .hidden-xs{display:none;}
    .copsPortal_askToJoin .copsAvailability{width:80%;margin:0 auto;position: relative;}
    .copsPortal_askToJoin .btn_content{width:55%; margin:0 auto;}
    .copsPortal_askToJoin .btn_content .blue_button{width:100%;}
    .copsPortal_askToJoin .btn_content .blue_button a{padding: 12px;}
    .copsPortal_askToJoin .btn_content .blue_button a.arrow_btn::after{content:'';}
	.copsPortal_askToJoin .description_text p br{display:none;}
	.copsPortal_askToJoin .description_text p{margin-bottom:20px;font-size: 14px;}
	.copsPortal_askToJoin .description_text p br{display:none;}
	.copsPortal_askToJoin .description_text p a{font-size:16px;display: inline-block;padding: 0 5px;}
}
@media only screen and (max-width:480px){
	.copsPortal_askToJoin .description_text p br{display:block;}
	.copsPortal_askToJoin .description_text p a{display:block;}
	.copsPortal_askToJoin .btn_content .blue_button {border-radius:3px;}
	.copsPortal_askToJoin .btn_content .blue_button a{font-size:1.3rem;padding:7px;}
}
