.companies .widget_padding {background-color: transparent;border: none;}
.companies .widget_padding .widgetListFooter{background-color: #fff;border: none;}
.companies h2.widget_title {color: #303030;text-align: left;text-transform: uppercase;padding: 0 20px;font-size: 1.4rem;}
.companies .widget_padding .templateInfo {border:1px solid #cec9cb;background-color: #fff;padding: 20px; /*display:flex;align-items:center;flex-wrap:wrap;justify-content:space-around;*/
}
.companies .companiesGroup .company{display:table; width:100%; margin-top:10px;}
.companies .companiesGroup .company:first-child {margin-top: 0}
.companies .companiesGroup .company .picture{display:table-cell; height:50px; vertical-align:middle; padding:10px 20px; border:1px solid #cec9cb; text-align:center;}
.companies .companiesGroup .company .picture img{max-width:100%; max-height:100%; display:inline-block; position:relative;}
.companies .companiesGroup .company .data{display:table-cell; width:60%; vertical-align:middle; padding:0 0 0 10px;}

@media only screen and (min-width : 580px) and (max-width : 991px) {
	#Companies {
		width: 49%;
		display: inline-block;
		position: relative;
	}
	.companies .widget_padding .templateInfo{
		height: 335px;
	}
}
