.copsPortal_contacts .widget_padding {border: none;}
.copsPortal_contacts .widget_padding .widgetListFooter{border: none;}
.plugin_peopleWidget h2.widget_title,
/*temporary fix*/.column_generico div[class$="plugin_ "] h2.widget_title {text-align: left;text-transform: uppercase;padding: 0 20px;font-size: 1.4rem;}
.plugin_peopleWidget .widget_padding > span,
/*temporary fix*/ .column_generico div[class$="plugin_ "] .widget_padding > span {border: 2px solid #000; padding: 20px; overflow: hidden;}
#peopleWidgetContainer .picture {justify-content: left !important;}
.copsPortal_contacts #peopleWidgetContainer .picture img.user_avatar{width: auto !important; height: 50px;}
.copsPortal_contacts #peopleWidgetContainer > div{margin-bottom: 0 !important;}
.copsPortal_contacts #peopleWidgetContainer .data{ text-align: left;}
