.copStats{font-family:'Montserrat', sans-serif;}

.copStats{margin-bottom:10px; overflow:hidden;}
.copStats div[data-tt-widget='groupStatsWidget'] {min-height: 100px;z-index: 0; border:1px solid #000; padding: 20px; margin-bottom: 25px}
.copStats .widget_padding > .content{margin-bottom:15px;}

.copStats .widget_title {font-size: 1.4rem;text-transform: uppercase;}
.copStats .stat_row{display: block;padding: 0 0 0 0;position:relative;margin: 0 0 6px;}
.copStats .stat_row::before{content:''; display:block; width:35px; height:35px; position:absolute;top;top: 50%; transform: translateY(-50%);-webkit-transform: translateY(-50%);left: 0;font: normal 3rem 'tamtamy-icon';text-align:center;}
/*.copStats .stat_row:before {font-size: 33px}
.copStats .stat_row.whats_on::before{content:'\e923';}
.copStats .stat_row.members::before{content:'\e926';}
.copStats .stat_row.companies::before{content:'\e924';}
.copStats .stat_row.contents::before{content:'\e91b';}
.copStats .stat_row.internal_events::before{content:'\e90d';}
.copStats .stat_row.public_events::before{content:'\e927';}*/

.copStats .stat_row > span {display:inline-block;}
.copStats .stat_row .value a:after { content: ''; display: block; height: 2px; background: white;}
.copStats .stat_row .value a {text-decoration: none}
.copStats .stat_row .value{font-size: 1.4rem;}
.copStats .stat_row .graph{display: table;width: 100%;}
.copStats .stat_row .graph > span{display: table-cell;}
.copStats .stat_row .graph .line{position:relative;}
.copStats .stat_row .graph .line::before{content: ''; display: block; border-radius: 51px; height: 16px;}
.copStats .stat_row .graph .number{padding: 0 0 0 12px; font-size: 2.3rem;}

.copStats .stat_row:last-child{margin-bottom: 0;}
