.copsPortal_askToJoin{font-family:'Montserrat', sans-serif;}

.copsInfo{margin-bottom:10px; overflow:hidden;}
.copsInfo .widget_padding > .content{margin-bottom:15px;}
.copsInfo .title{font:normal 18px/1.2em 'Montserrat', sans-serif; margin-top:0;}
.copsInfo .title.uppercase{text-transform:uppercase;}
.copsInfo .description {border-top: 1px solid #e0e0e0;padding: 15px 0 15px 20px;margin: 0;}
.copsInfo .title + .description{border-top:none; padding-bottom:10px;}
.copsInfo .description .image {height:40px;position: relative;padding: 0;}
.copsInfo .description .image .icon{margin: 0;}
.copsInfo .description .image .icon img{visibility:hidden;}
.copsInfo .description .image .icon::before{content:'';display:block;position:absolute;width: 50px;font:normal 3.5em/1em 'tamtamy-icon';height: 50px;text-align: center;}
.copsInfo .description .image .icon.team::before{content:'\e926';}
.copsInfo .description .image .icon.lab::before{content:'\e939';font-size: 41px; margin-left: -3px;}
.copsInfo .description .image .icon.news::before{content: '\e937';font-size: 41px;}
.copsInfo .description .image .icon.offer::before{content:'\e93d';font-size: 41px; margin-left: -3px;}
.copsInfo .description .image .icon.access::before{content:'\e91b';font-size: 41px;}
.copsInfo .description .image .icon.meetings::before{content:'\e906';font-size: 41px;}
.copsInfo .description .image .icon.homeworks::before{content: '\e938';font-size:41px;}
.copsInfo .description .content{font:normal 13px/1.2em 'Montserrat', sans-serif;vertical-align: middle;padding: 5px 10px;}
.copsInfo .description .content b{font-weight:bold;}

@media only screen and (max-width:991px){
    .content .description{display:none;position:relative;}
    .content .title{position:relative;display:block;border-bottom:1px solid #c8d6db;padding: 0 20px 5px 0;}
    .content .title::after{content:'\e946';display:block;width:16px;height:16px;position:absolute;right:0;top: 50%;margin-top: -11px;font: normal 0.85rem 'tamtamy-icon';border: 2px solid #ee8539;border-radius:50px;padding: 2px 1px 2px 2px;color: #ee8539;}
    .content.open .title::after{content:'\e94a';}

    .copsInfo .description .image{position:absolute;top:50%;transform:translateY(-50%);}
    .copsInfo .description .content{width:100%;padding-left: 75px;min-height: 40px;vertical-align: middle;}
}
