.copsPortal_groupList .row-eq-height-top{align-self:flex-start; position:static;}
.copsPortal_groupList .row-eq-height-bottom {align-self:flex-end;}

.copsPortal_groupList .cops_right_box .widget_padding{border:2px solid #000; padding:20px;}
.copsPortal_groupList .widget_padding{border:0; background-color:transparent;}
.copsPortal_groupList .row-eq-height {position:relative; text-transform:uppercase; display:-webkit-box !important; display:-webkit-flex !important; display:-ms-flexbox  !important; display:flex !important; align-items:flex-start;justify-content: center;margin-bottom: 15px;padding: 25px 20px 25px 0;border: 1px solid #000;box-sizing: border-box;}
.copsPortal_groupList .row-eq-height .cops_right_box_logo_container{}
.copsPortal_groupList .row-eq-height .cops_right_box_logo_container .img-responsive{max-width: 75%;margin: 0 auto;}
.copsPortal_groupList .cops_right_box .widget_padding{border: 2px solid #000; padding: 20px;}
.copsPortal_groupList .cops_right_box_right_container .media{border-bottom: 1px solid #000; padding-bottom: 10px; margin-top: 10px;}
.copsPortal_groupList .cops_right_box_right_container .media:first-child{margin-top: 0;}
.copsPortal_groupList .cops_right_box_right_container .media:last-child{border-bottom: none; padding-bottom: 0;}
.copsPortal_groupList .cops_right_box_right_container .media .media-body{vertical-align:middle;text-align:left;}
.copsPortal_groupList .cops_right_box_title{font-weight:bold;text-transform:uppercase;font-size: 21px;line-height: 0.9em;padding-bottom:14px;display: block;}
.copsPortal_groupList .cops_right_box_title {text-decoration: none;}
.copsPortal_groupList .cops_right_box_title,
.copsPortal_groupList .cops_right_box_description,
.copsPortal_groupList .cops_heading,
.copsPortal_groupList .cops_subtitle{text-align:left;}
.copsPortal_groupList .cops_right_box_link > a{position:absolute;bottom: 18px;display:block;border-radius:4px; padding: 5px 30px;font-size: 1.3rem;}
.copsPortal_groupList .cops_right_box_link > a:hover {text-decoration:none;}
.copsPortal_groupList .cops_right_box_description{font-size: 14px;margin-bottom: 45px;text-transform:none;height: 68px;}
.copsPortal_groupList .cops_heading,
.copsPortal_groupList .cops_subtitle{font-size:14px; margin:0; line-height:1.1em;}
.copsPortal_groupList .cops_heading{font-style:italic; font-size:0.8em;}
.copsPortal_groupList .cops_subtitle{font-weight:bold; text-transform:capitalize;}
.copsPortal_groupList .cops_heading:first-child{display: block;}
.copsPortal_groupList .cops_right_box_right_container{display:block;position:relative;width:100%;top:0;bottom:0;}
.copsPortal_groupList .cops_right_box_right_container .media-left{position:relative;}
.copsPortal_groupList .cops_right_box_right_container .media-left > img{visibility:hidden;}
.copsPortal_groupList .cops_right_box_right_container .media-left::before{content:'\e943'; position:absolute; font:normal 2.5em/1em 'tamtamy-icon';}
.copsPortal_groupList .cops_right_box_right_container .media-left.leader::before{content:'\e925';}
.copsPortal_groupList .cops_right_box_right_container .media-left.members::before{content:'\e926';}
.copsPortal_groupList .cops_right_box_right_container .media-left.companies::before{content:'\e924';}

.copsPortal_groupList .type02{}
.copsPortal_groupList .type02 .cops_right_box_logo_container{padding:0;margin-left:7.5px;}
.copsPortal_groupList .type02 .row-eq-height-top{padding-bottom:30px;}
.copsPortal_groupList .type02 .cops_right_box_title{}
.copsPortal_groupList .type02 .cops_right_box_description{margin: 0 0 10px;}
.copsPortal_groupList .type02 .cops_sphere_info{}
.copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container{display:table;width:50%;}
.copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container .media{margin:0;display:table-cell;padding:0 10px;border-bottom:none;border-left:1px solid #000;}
.copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container .media:first-child{padding: 0 10px 0 0;border:none;}
.copsPortal_groupList .type02 .cops_right_box_right_container .media .media-body{white-space:nowrap;}
.copsPortal_groupList .type02 .cops_right_box_right_container .media .media-body > p{display:inline-block;padding: 0 2px;cursor: default;}
.copsPortal_groupList .type02 .cops_right_box_right_container .media .media-body > p:first-child{padding: 0 2px 0 0;}
.copsPortal_groupList .type02 .cops_right_box_link > a{right:20px}

@media only screen and (max-width:991px){
    .copsPortal_groupList .row-eq-height {padding: 20px 4% 20px 28%;display: inline-block !important;width: 100%;}
    .copsPortal_groupList .row-eq-height .cops_right_box_logo_container{position:absolute;display:block;max-height: 100%;width: 20%;left: 5%;top: 0;bottom: 0;padding: 0;overflow: hidden;margin-left: 0;}
    .copsPortal_groupList .cops_right_box_title{margin: 0 0 12px;padding:0 15px 0 0;line-height: 1.1em;}
    .copsPortal_groupList .row-eq-height .cops_right_box_logo_container .img-responsive{max-height: 100%;width: auto;max-width: 100%;position: absolute;top: 50%;transform: translateY(-50%); -webkit-transform: translateY(-50%);}
    .copsPortal_groupList .row-eq-height-top{margin: 0 0 5px;padding:0;}
    .copsPortal_groupList .type02 .cops_right_box_description{height:auto;}
    .copsPortal_groupList .row-eq-height .row-eq-height-top + div{margin:0; padding:0;}
    .copsPortal_groupList .cops_right_box_right_container{display: block;}
    .copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container{display: block;width: 100%;}
    .copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container .media{border: none;padding: 0 10px 0 0;display: inline-block;width: auto;}
    .copsPortal_groupList .cops_right_box_right_container .media{border:none;vertical-align:top;margin:0 0 0;padding:0;line-height: 0.9em;}
    .copsPortal_groupList .cops_right_box_right_container .media .media-left{width:100%;display:block;margin-bottom: 5px;}
    .copsPortal_groupList .cops_right_box_right_container .media .media-body{margin-right:5%;display: inline-block;width: auto;}
    .copsPortal_groupList .type02 .cops_right_box_link > a{padding: 3.5px 29.5px;}
    .copsPortal_groupList .cops_heading,
    .copsPortal_groupList .cops_heading:first-child,
    .copsPortal_groupList .cops_subtitle{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;display: inline-block;/* font-size:.9rem; */line-height: 1em;text-transform: capitalize;padding: 0 5px 0 0;}
    .copsPortal_groupList .cops_right_box_right_container .media-left::before{font-size: 2.5rem;}
    .copsPortal_groupList .cops_right_box_right_container .media-left > img{height: 20px;}
}
@media only screen and (max-width:480px){
    .copsPortal_groupList .row-eq-height {padding: 15px 4% 15px 37.7%;width: 100%;min-height: 112px;}
    .copsPortal_groupList .row-eq-height .cops_right_box_logo_container{top: 15px;left: 5.2%;bottom:auto;min-height: 80px;width: 28%;}
    .copsPortal_groupList .type02 .cops_sphere_info{position:absolute; bottom:0;}
    .copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container{display: block;width: 100%;}
    .copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container .media,
    .copsPortal_groupList .type02 .cops_sphere_info .cops_right_box_right_container .media:first-child{display:block;padding: .2em 0 0;}
    .copsPortal_groupList .cops_right_box_title{font-size: 1.4rem;}
    .copsPortal_groupList .type02 .cops_right_box_title{margin:0;}
    .copsPortal_groupList .row-eq-height .row-eq-height-top .cops_right_box_description{display:none;}
    .copsPortal_groupList .cops_right_box_link > a{top:0; bottom:0; left:0; right:0; z-index:2; opacity:0; padding:0;}
    .copsPortal_groupList .row-eq-height::after{content:'\e944';font:normal 1em 'tamtamy-icon';position:absolute;right:10px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);color: #3643c5;}
    .copsPortal_groupList .type02 .row-eq-height-top{padding-bottom: 50px;position: relative;margin: 0;min-height: 80px;}
    .copsPortal_groupList .type02 .cops_right_box_right_container .media .media-body > p{font-size:1rem;padding:0 5px;}

}
