.cops .jumbotron {padding:0; margin:0;}
.cops #howItWorks .title {padding: 10px 15px;margin:0;text-align:center;font-size: 21px;font-weight: 100;letter-spacing: 1px;display: block;}
.cops #howItWorks .wrapper {font-size:0; max-width:1170px; padding: 0 7.5px; margin:0 auto;}
.cops #howItWorks .wrapper ul {margin:0;}
.cops #howItWorks .wrapper li{display:inline-block; vertical-align:top; position:relative; width: 25%; height: 200px; border-right:1px solid #eeeeee; font-size:14px;}
.cops #howItWorks .wrapper li:first-child{border-left:1px solid #eeeeee;}
.cops #howItWorks .wrapper li section {display:block; text-align:center; vertical-align:top; box-sizing:border-box; width:100%; height:100%; padding:34px 0;}
.cops #howItWorks .wrapper li section .content {display:block;text-decoration: none;}
.cops #howItWorks .wrapper li section .content span.order {display:block;position: relative;padding: 96px 0 0;}
.cops #howItWorks .wrapper li section .content .icon {display: block;position:absolute;top:0;left:50%;transform:translateX(-50%);-webkit-transform:translate(-50%);font-size:43px;width: 81px;height: 81px;line-height:81px;text-align:center;}
.cops #howItWorks .wrapper li section .content .message {display: block;font-weight: bold; color: #303030;}

.cops .big.button .grayer {text-align:center;padding: 14px 0;background:#c5d4d9;}
.cops .big.button .grayer a {display:inline-block;padding: 12.5px 60px;border-radius: 4px;font-size: 15.6px;min-width: 330px;text-decoration: none}
.cops .big.button .grayer a:hover{ text-decoration: none}

@media only screen and (max-width : 1199px){
	.cops #howItWorks .wrapper ul{display:table;}
	.cops #howItWorks .wrapper li{display:table-cell;height:auto;}
	.cops #howItWorks .wrapper li section .content span.order {padding: 96px 35px 0;}
    .cops #howItWorks .wrapper li section .content span.order br{display:none;}
    .cops .big.button .grayer a{padding:6px 0; min-width:322px;}
}
@media only screen and (max-width : 685px) {
	.cops #howItWorks .wrapper ul{display:block;}
	.cops #howItWorks .wrapper li{display:block;height: auto;/* min-height: 100px; */text-align:left;width:100%;border-left:none;border-bottom:1px solid #c5d4d9;}
}
@media only screen and (max-width : 480px) {
    .cops #howItWorks .wrapper li:first-child{border-left:none;}
	.cops #howItWorks .wrapper li section{padding: 10px 0;}
	.cops #howItWorks .wrapper li:first-child section{padding:0;}
    .cops #howItWorks .wrapper li section .content .icon{left:15px;top:50%;transform:translate(0, -50%); -webkit-transform:translate(0, -50%);width: 64px;height: 64px;}
    .cops #howItWorks .wrapper li section .content span.order{padding: 30px 15px 30px 100px;}
    .cops #howItWorks .wrapper li section .content .message{text-align:left;}
    .cops .big.button .grayer a{min-width:100px;padding: 12.5px 45px;font-size: 1em;}
    .cops #howItWorks .title{font-size: 0.75em;}
}
