/* join a cop */
#join-a-cop-form .well {border:2px solid #000; font-family:'Montserrat', sans-serif; padding:15px; margin:15px 0; position:relative;}
#join-a-cop-form .mandatory {float: right; font-size: 13px;}
#join-a-cop-form textarea {resize:none; height:140px !important;}
.subscription-request-outcome {margin-top:20px;}
.subscription-request-outcome .well{border:2px solid #000; border-radius:0;}

/*
#join-a-cop-form .copsAvailability {border:1px solid #c5d4d9; margin:0 0 30px; position:relative;}
#join-a-cop-form .copsAvailabilitySelect {background: transparent;}
#join-a-cop-form .copsAvailabilitySelect {width: 100%; border: none; border-radius: 0px; box-shadow: none; height: 40px; -webkit-appearance: none; -moz-appearance: none; appearance: none; padding-left: 8px;}
#join-a-cop-form  .copsAvailability:after {content: "\e946"; font-family: tamtamy-icon; padding: 12px 8px; position: absolute; right: 0; top: 0; z-index: 1; text-align: center; height: 100%; pointer-events: none; box-sizing: border-box;}
*/


.form-group.has-error .form-control,
.form-group.has-error .filterbox{border:2px solid #000;}

.mainTitle .container a.tti-freccia_sinistra_02 {font-size:3rem;position:absolute;left: 50%;top:50%;transform: translate(-600px, -50%);-webkit-transform: translate(-600px, -50%);z-index:2;}
.mainTitle .container a.tti-freccia_sinistra_02:hover,
.mainTitle .container a.tti-freccia_sinistra_02:focus{text-decoration:none;}

#join-a-cop-form .footnote_mandatory {float: left;}
#join-a-cop-form .submit_button {float: right;margin-bottom: 30px;}
.how_to_join .filterbox {width: 80%;	margin: 0 auto;}
.joinForm .well {text-align: center; background: white;border: 1px solid #cec9cb; border-radius: 0;}
.joinForm .well p{margin-bottom:0;}
.joinForm .well .widget_title {text-transform: uppercase;}
.joinForm  .plugin_peopleWidget h2.widget_title {padding: 0}

.joinForm .well {text-align: center; background: white;border: 1px solid #cec9cb; border-radius: 0;}
.joinForm .well p{margin-bottom: 0}
.joinForm .widget_title {text-transform: uppercase;}
.joinForm  .plugin_peopleWidget h2.widget_title {padding: 0}
@media only screen and (max-width : 1200px) {
	.mainTitle .container a.tti-freccia_sinistra_02 {transform: translate(0, -50%);-webkit-transform: translate(0, -50%);left: 5px;}
}
@media only screen and (min-width : 320px) and (max-width : 768px) {
	.form-group.has-error:after{position: static;}
	#join-a-cop-form .filterbox {margin: 0;}
	#join-a-cop-form .footnote_mandatory {float:none;	text-align:center;}
	#join-a-cop-form .submit_button {float:none; text-align:center;}
}
