.copsPortal_Filter .widget_padding{border:none; padding-right: 10px !important;}

.copsPortal_Filter ul.spotlight {}
.copsPortal_Filter .dateYearResult ul.spotlight li{text-align:left;	border:none;margin: 10px 0; position:relative; list-style: none; padding: 10px;}
.copsPortal_Filter .dateYearResult ul.spotlight li:first-child{	margin: 0;}
.copsPortal_Filter .dateYearResult ul.spotlight li:before {content: ""; border-left: 3px solid #000; position: absolute; left: 0; top: 0; height: 33px;}

.copsPortal_Filter ul.spotlight li.monthfilters-link {color:#606060;border:1px solid #c5d4d9;padding:15px 20px;font-size:1.5rem;transition: 200ms ease all;}
.copsPortal_Filter ul.spotlight li.monthfilters-link::before{height:100%;border-left:0px solid #c5d4d9;border-left-color: transparent;transition: 200ms ease all;}
.copsPortal_Filter ul.spotlight li.monthfilters-link:hover{font-weight:bold;}
.copsPortal_Filter ul.spotlight li.monthfilters-link:hover::before{border-left:10px solid #00809b;}
.copsPortal_Filter ul.spotlight li.monthfilters-link.selected{font-weight:bold;color:#303030;font-size:1.8rem;}
.copsPortal_Filter ul.spotlight li.monthfilters-link.selected::before{border-left:10px solid #00809b;}