.nestedPage.lefTitle > .widget_title {
	text-align: center;
	font-size: 18px;
	padding: 20px 0;
	margin-bottom: 0 !important;
	/* important è dato per i diversi widget base quando ne avremo uno unico tolgo important */

}
