/* Webfont: Proxima Nova */
/* light */
@font-face {
    font-family: 'ProximaNova';
    src: url('../font/ProximaNova/ProximaNova-Light.eot'); /* IE9 Compat Modes */
    src: url('../font/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../font/ProximaNova/ProximaNova-Light.woff') format('woff'), /* Modern Browsers */
         url('../font/ProximaNova/ProximaNova-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../font/ProximaNova/ProximaNova-Light.svg#ProximaNova-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Regular
@font-face {
	font-family: 'ProximaNova';
	src:url('../font/ProximaNova/ProximaNova-Regular.eot');
	src:url('../font/ProximaNova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/ProximaNova/ProximaNova-Regular.woff') format('woff'), 
		url('../font/ProximaNova/ProximaNova-Regular.ttf') format('truetype'),
		url('../font/ProximaNova/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}
*/

/* Regular Italic */
@font-face {
	font-family: 'ProximaNovaIt';
	src:url('../font/ProximaNova/ProximaNova-RegularIt.eot'); /* IE9 Compat Modes */
	src:url('../font/ProximaNova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/ProximaNova/ProximaNova-RegularIt.woff') format('woff'), /* Modern Browsers */
		url('../font/ProximaNova/ProximaNova-RegularIt.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/ProximaNova/ProximaNova-RegularIt.svg#ProximaNova-RegularIt') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}

/* Bold */
@font-face {
	font-family: 'ProximaNovaBold';
	src:url('../font/ProximaNova/ProximaNova-Bold.eot'); /* IE9 Compat Modes */
	src:url('../font/ProximaNova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/ProximaNova/ProximaNova-Bold.woff') format('woff'), /* Modern Browsers */
		url('../font/ProximaNova/ProximaNova-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/ProximaNova/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}

/* Bold Italic */
@font-face {
	font-family: 'ProximaNovaBoldIt';
	src:url('../font/ProximaNova/ProximaNova-BoldIt.eot'); /* IE9 Compat Modes */
	src:url('../font/ProximaNova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/ProximaNova/ProximaNova-BoldIt.woff') format('woff'), /* Modern Browsers */
		url('../font/ProximaNova/ProximaNova-BoldIt.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/ProximaNova/ProximaNova-BoldIt.svg#ProximaNova-BoldIt') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}

/* Black */
@font-face {
	font-family: 'ProximaNovaBlack';
	src:url('../font/ProximaNova/ProximaNova-Black.eot'); /* IE9 Compat Modes */
	src:url('../font/ProximaNova/ProximaNova-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/ProximaNova/ProximaNova-Black.woff') format('woff'), /* Modern Browsers */
		url('../font/ProximaNova/ProximaNova-Black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/ProximaNova/ProximaNova-Black.svg#ProximaNova-Black') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}