/* Webfont: LinoType Univers */
/* Regular */
@font-face {
	font-family:'Univers';
	src:url('../font/Univers/LTUnivers-BasicRegular.eot'); /* IE9 Compat Modes */
	src:url('../font/Univers/LTUnivers-BasicRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/Univers/LTUnivers-BasicRegular.woff') format('woff'), /* Modern Browsers */
		url('../font/Univers/LTUnivers-BasicRegular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/Univers/LTUnivers-BasicRegular.svg#LTUnivers-BasicRegular') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}

/* Regular Italic */
@font-face {
	font-family: 'Univers';
	src:url('../font/Univers/LTUnivers-BasicRegularItalic.eot'); /* IE9 Compat Modes */
	src:url('../font/Univers/LTUnivers-BasicRegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/Univers/LTUnivers-BasicRegularItalic.woff') format('woff'), /* Modern Browsers */
		url('../font/Univers/LTUnivers-BasicRegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/Univers/LTUnivers-BasicRegularItalic.svg#LTUnivers-BasicRegularItalic') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	}

/* Bold */
@font-face {
	font-family: 'Univers';
	src:url('../font/Univers/LTUnivers-BasicBold.eot'); /* IE9 Compat Modes */
	src:url('../font/Univers/LTUnivers-BasicBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/Univers/LTUnivers-BasicBold.woff') format('woff'), /* Modern Browsers */
		url('../font/Univers/LTUnivers-BasicBold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/Univers/LTUnivers-BasicBold.svg#LTUnivers-BasicBold') format('svg'); /* Legacy iOS */
	font-style: normal;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	}

/* Bold Italic */
@font-face {
	font-family: 'Univers';
	src:url('../font/Univers/LTUnivers-BasicBoldItalic.eot'); /* IE9 Compat Modes */
	src:url('../font/Univers/LTUnivers-BasicBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../font/Univers/LTUnivers-BasicBoldItalic.woff') format('woff'), /* Modern Browsers */
		url('../font/Univers/LTUnivers-BasicBoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../font/Univers/LTUnivers-BasicBoldItalic.svg#LTUnivers-BasicBoldItalic') format('svg'); /* Legacy iOS */
	font-style: italic;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	}

